﻿@using Enterbuy.Services.Common.Services.Interfaces
@using Enterbuy.Core.Enumerations
@inject IMenuZoneServices menuZoneServices;
@inject IBlogServices articleServices;
@using Enterbuy.Services.Blog.Services
@using Utils;
@{
    var list_zone_parents = await menuZoneServices.GetListZoneByParentId((int)TypeZone.AllButProduct, "vi-VN");
}
<div class="list-menu-right">
    <div class="heading">
        Danh mục
    </div>
    <ul class="list">
        @foreach (var item in list_zone_parents.OrderBy(x => x.SortOrder))
        {
            var link_target = BaseBA.UrlCategoryNews(item.Url);
            <li><a href="@link_target" title="@item.Name">@item.Name</a></li>
        }
    </ul>
</div>
<div class="list-menu-right">
    <div class="heading  ">
        Khuyến mại
    </div>
    @await Component.InvokeAsync("Top5Blog", new { type = Enterbuy.Core.Enumerations.TypeZone.Promotion, articleType = Enterbuy.Core.Enumerations.TypeArticle.All })
</div>

<div class="list-menu-right">
    <div class="heading  ">
        Mới cập nhật
    </div>
    @await Component.InvokeAsync("Top5Blog", new { type = Enterbuy.Core.Enumerations.TypeZone.Article, articleType = Enterbuy.Core.Enumerations.TypeArticle.Product })

</div>
