﻿@using MI.Entity.Enums;
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Zone.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using System.Text.RegularExpressions
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.BannerAds.ViewModel
@using Newtonsoft.Json
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@inject IBannerAdsRepository bannerAdsRepository
@using LacWebsite.Services.Article.ViewModel;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    ZoneDetail zoneDetail = new ZoneDetail();
    List<ZoneByTreeViewMinify> zoneByTreeViewMinifies = new List<ZoneByTreeViewMinify>();
    List<ArticleMinify> lstArticleMinify = new List<ArticleMinify>();
    ArticleMinify articleMinify = new ArticleMinify();
    if (ViewBag.Detail != null)
    {
        zoneDetail = ViewBag.Detail;
    }
    if (ViewBag.ZoneChilds != null)
    {
        zoneByTreeViewMinifies = (List<ZoneByTreeViewMinify>)ViewBag.ZoneChilds;
    }
    if (ViewBag.Top_newest != null)
    {
        lstArticleMinify = (List<ArticleMinify>)ViewBag.Top_newest;
        if (lstArticleMinify.Count() > 0)
        {
            articleMinify = lstArticleMinify.OrderByDescending(n => n.Id).First();
        }

    }
    int PageIndex = (int)ViewBag.pageIndex;
    int PageSize = (int)ViewBag.pageSize;
    int TotalPage = (int)ViewBag.TotalPage;
    int Paging = 0;
    if ((TotalPage % PageSize) == 0)
    {
        Paging = TotalPage / PageSize;
    }
    else
    {
        Paging = (TotalPage / PageSize) + 1;
    }
    var lstXay = new List<DetailBanerAds>();
    var lstXay_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_CauHinhXay");
    if (lstXay_Cache != null)
    {
        lstXay = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstXay_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
}
@{
    var bg = UIHelper.StoreFilePath(zoneDetail.Banner, false);
    if (string.IsNullOrEmpty(zoneDetail.Banner))
    {
        bg = "../images/home/slide.png";
    }
}
@{
    ViewData["Title"] = "Tuyển dụng";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@{
    string pattern = @"\[.*?\]";
    string input = zoneDetail.Description;
    RegexOptions options = RegexOptions.Multiline;
    var mt = "";
    var ct = "";
    var count = 1;
    if (!string.IsNullOrEmpty(input))
    {
        var s = Regex.Matches(input, pattern, options);
        if (s != null)
        {
            foreach (Match m in s)
            {
                if (count == 1)
                {
                    mt = m.Groups[0].Value.Replace("[", "").Replace("]", "");

                }
                if (count == 2)
                {
                    ct = m.Groups[0].Value.Replace("[", "").Replace("]", "");

                }
                count++;
            }
        }

    }

}
<div id="zone-current" data-id="@zoneDetail.Id" style="display:none"></div>

<section class="home" id="home" style="background: url(@bg) no-repeat center">
    <div class="container max-width">
        <div class="home-content">
            <div class="text-1">@Html.Raw(mt)</div>
            <div class="text-2">
                @Html.Raw(ct)
            </div>
            <a href="javascript:void(0)">XEM NGAY</a>
        </div>
    </div>
    <div class="icon-arr">
        <a id="moveSectionDown" href="#"><i class="fal fa-angle-down"></i></a>
    </div>
</section>
<section class="main-cate">
    <div class="bg-bread">
        <div class="container">
            <nav aria-label="breadcrumb">
                @await Component.InvokeAsync("Breadcrumb", new { zone_id = zoneDetail.Id })
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-txt">@zoneDetail.Name</div>
                <div class="line-cont"><img src="~/images/home/th.png" alt=""></div>
                <div class="mota-duan" style="font-weight: 600;">
                    @Html.Raw(ct)
                </div>
                <div class="main-tv-container">
                    @Html.Raw(zoneDetail.Content)
                </div>
                <div class="box-info">
                    <div class="box-info-duan">
                        ĐĂNG KÍ NHẬN TƯ VẤN
                    </div>
                    <div class="form-row mb-4">
                        <div class=" col-6">
                            <label>Họ và Tên</label>
                            <input type="text" class="form-control mb-3 name" placeholder="Họ và tên" required="">
                        </div>
                        <div class="col-6">
                            <label>Số điện thoại:</label>
                            <input type="text" class="form-control mb-3 phone-number" placeholder="phone" required="">
                        </div>
                        <div class="col-6">
                            <label>Email:</label>
                            <input type="text" class="form-control mb-3" placeholder="m2" required="">
                        </div>

                        <div class="col-6">
                            <label>Dịch vụ cần tư vấn:</label>
                            <select class="form-control tinh-thanh" required="">
                                <option hidden="" value="">Bạn muốn xây gì?</option>
                                @foreach (var item in lstXay)
                                {
                                    <option value="@item.Title">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Diện tích:</label>
                            <input type="text" class="form-control mb-3 pre-dien-tich" placeholder="m2" required="">
                        </div>
                        <div class="col-6">
                            <label class="cpdk">Chi phí dự kiến (vnd):</label>
                            <input type="text" class="form-control mb-3 pre-cpdk" placeholder="đ" required="">
                        </div>
                        <div class="col-sm-12 col-12">
                            <label>Ghi chú</label>
                            <textarea rows="4" type="text" class="form-control mb-3 note" placeholder="Ghi chú" minlength="10"></textarea>
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-tuvan" data-toggle="modal" data-target="#staticBackdrop">
                            TƯ VẤN NGAY
                        </button>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("MenuRightBlog")

        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="~/js/controller/recruitmentController.js" asp-append-version="true"></script>

}