﻿@using MI.Entity.Enums;
@using JanhomeRemaster.Services.Zone.ViewModal
@using JanhomeRemaster.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using JanhomeRemaster.Services.Article.Repository
@using JanhomeRemaster.Services.Zone.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}

@{
    var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
    
}
@section styles {
    

}

<div class="list-menu-right">
    <div class="heading">
        <img asp-append-version="true" src="~/images/menu-icon.svg" class="img-fluid mr-2" />Danh mục
    </div>
    <ul class="list">
        @foreach (var item in list_zone_parents.OrderBy(r => r.SortOrder))
        {
            var link_target = string.Format("/{0}", item.Url);
            <li><a href="@link_target" title="@item.Name">@item.Name.ToUpper()</a></li>

        }
    </ul>
</div>
<div class="list-menu-right">
    <div class="heading mb-md-3">
        <img asp-append-version="true" src="~/images/gift.svg" class="img-fluid mr-2" />Khuyến mại
    </div>
    <div class="list lastest-news">
        @*//Lay danh muc khuyen mai*@
        @{ var total_promotions = 0;
            //articleRepository.GetArticlesInZoneId_Minify_FullFilter(0,(int)TypeZone.AllButProduct, (int)TypeArticle.Blog,2, culture_code, "", 1, 6, out total_newest);
            var list_promotions = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.Promotion, (int)TypeArticle.Blog, 2, culture_code, "", 1, 4, out total_promotions);
            var count_pro = 1;
        }
        @foreach (var item in list_promotions)
        {
            var link_tar = string.Format("/{0}.html", item.Url);
            if (count_pro == 1)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="image mb-3">
                                <a href="@link_tar" title="@item.Title">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid"
                                         alt="@item.Title">
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <h6 class="title">
                                <a href="@link_tar" title="@item.Title">@item.Title</a>
                            </h6>
                            <div class="des ">
                                @Html.Raw(UIHelper.TrimByWord(item.Description, 20, "..."))
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (count_pro > 1)
            {
                <div class="item">
                    <div class="row">
                        @* <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                            <div class="image">
                                <a href="@link_tar" title="@item.Title">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid"
                                         alt="@item.Title">
                                </a>
                            </div>
                        </div> *@
                        <div class="col-12">
                            <h6 class="title">
                                <a href="@link_tar" title="@item.Title">@item.Title</a>
                            </h6>
                            <div class="time ">
                                @item.CreatedDate.ToString("yyyy/MM/dd")
                            </div>
                        </div>
                    </div>
                </div>
            }
            count_pro++;
        }
    </div>
</div>
<div class="list-menu-right">
    <div class="heading mb-3">
        <img asp-append-version="true" src="~/images/flag-icon.svg" class="img-fluid mr-2" />Mới cập nhật
    </div>
    <div class="list lastest-news">
        @{ var total_newest = 0;
            var top_newest = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, culture_code, "", 1, 6, out total_newest);
            var count_news = 1;
        }
        @foreach (var item in top_newest)
        {
            var link_tar = string.Format("/{0}.html", item.Url);
            if (count_news == 1)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="image mb-3">
                                <a href="@link_tar" title="@item.Title">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid"
                                         alt="@item.Title">
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <h6 class="title">
                                <a href="@link_tar" title="@item.Title">@item.Title</a>
                            </h6>
                            <div class="des ">
                                @Html.Raw(UIHelper.TrimByWord(item.Description, 20, "..."))
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (count_news > 1)
            {
                <div class="item">
                    <div class="row">
                        @* <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                            <div class="image">
                                <a href="@link_tar" title="@item.Title">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid"
                                         alt="@item.Title">
                                </a>
                            </div>
                        </div> *@
                        <div class=" col-md-12 ">
                            <h6 class="title">
                                <a href="@link_tar" title="@item.Title">@item.Title</a>
                            </h6>
                            <div class="time ">
                                @item.CreatedDate.ToString("yyyy/MM/dd")
                            </div>
                        </div>
                    </div>
                </div>
            }
            count_news++;
        }
    </div>
</div>