﻿@using KAOCoffee.Services.Product.ViewModel;
@using KAOCoffee.Services.FlashSale.ViewModel;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using KAOCoffee.Utility
@inject ICookieUtility cookieUtility
@model List<ProductInFlashSale>;
@{
    var total = ViewBag.Total;
    var pageIndex = (int)ViewBag.PageIndex;
    var pageSize = (int)ViewBag.PageSize;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var product_list = Model;
}
@{
    ViewData["Title"] = "Default";
}
    @foreach (var item in product_list)
    {
        var link_tar = string.Format("/{0}.html", item.Url);
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                <div class="tag-1">

                </div>
                <div class="tag-flashsale">
                    <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                </div>
                <div class="image">
                    <a href="@link_tar"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title" /></a>
                    <div class="tag-2">
                        <img asp-append-version="true" src="" class="img-fluid " />
                    </div>
                </div>

                <div class="">
                    <h5 class="title">
                        <a href="@link_tar" title="@item.Title">
                            @item.Title
                        </a>
                    </h5>
                    <div class="price-new">
                        @UIHelper.FormatNumber(item.FlashSalePrice) <span class="color-828282 small"> /@item.Unit</span>
                    </div>
                    <div class="price-old">
                        @UIHelper.FormatNumber(item.SalePrice) 
                    </div>
                    <div class="size small mb-1">
                        @item.SpecName: @item.SpecValue mm
                    </div>
                </div>
                <div class="d-flex nowrap my-2" style="font-size: 12px;">
                    <div class="align-self-center ">
                        <div class="bar-flash-sale">
                            @{
                                var per = Decimal.Divide(item.FlashSaleQuantityRemain, item.FlashSaleQuantity);
                                per = Math.Round(per * 100, 0);
                            }
                            <div class="sold" style="width: @(per)%;">

                            </div>
                        </div>
                        @if (item.FlashSaleQuantityRemain < item.FlashSaleQuantity)
                        {
                            <div class="color-828282">
                                Đã bán @item.FlashSaleQuantityRemain/@item.FlashSaleQuantity
                            </div>
                        }
                    </div>
                    <div class="ml-auto align-self-center">
                        @if (item.FlashSaleQuantityRemain < item.FlashSaleQuantity)
                        {
                            <a href="@link_tar" class="btn btn-flash-sale">Mua ngay</a>
                        }
                        else
                        {
                            <button class="btn btn-flash-sale" href="javascript:void(0)">Hết hàng</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }




