﻿@using MI.Entity.Enums;
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Services.BannerAds.Repository
@using MI.Entity.Models
@using LacWebsite.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IBannerAdsRepository bannerAdsRepository;
@using Utils
@using System.Linq
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}
@{
    var zone_target = ViewBag.ZoneTarget as ZoneDetail;
    var Banner_Blog = new DetailBanerAds();
    var Banner_Blog_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Blog");
    if (Banner_Blog_Cache != null)
    {
        Banner_Blog = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Blog_Cache.MetaData);
    }
    var page_index = ViewBag.PageIndex;
    var page_size = ViewBag.PageSize;


}

@section styles {
    <style type="text/css">
        .banner-page {
            background: url(@UIHelper.StoreFilePath(Banner_Blog.Image)) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
    </style>

}
@{
    ViewData["Title"] = "BlogList2";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

@{
    
    var bg = UIHelper.StoreFilePath(zone_target.Banner, false);
    if (string.IsNullOrEmpty(zone_target.Banner))
    {
        bg = "/images/home/slide.png";
    }
}
<div id="zone-current" data-id="@zone_target.Id" style="display:none"></div>

<section class="home" id="home" style="background: url(@bg) no-repeat center">
    <div class="container max-width">
        <div class="home-content">
            <div class="text-1">@Html.Raw(zone_target.Description)</div>
            <div class="text-2">
                @Html.Raw(zone_target.Content)
            </div>
            <a href="javascript:void(0)">XEM NGAY</a>
        </div>
    </div>
    <div class="icon-arr">
        <a id="moveSectionDown" href="#"><i class="fal fa-angle-down"></i></a>
    </div>
</section>
<section class="main-cate">
    <div class="bg-bread">
        <div class="container">
            <nav aria-label="breadcrumb">
                @await Component.InvokeAsync("Breadcrumb", new { zone_id = zone_target.Id })
            </nav>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-navr border-bottom">@zone_target.Name</div>
                @{
                    var tintot = 0;
                    List<ArticleMinify> tin = articleRepository.GetArticlesInZoneId_Minify_FullFilter(zone_target.Id, (int)TypeZone.Article, (int)TypeArticle.Blog, 2, culture_code, "", page_index, page_size, out tintot);
                    var tin_first = tin.FirstOrDefault();
                }
                <div class="paging-container" data-total="@tintot" data-size="@page_size" data-currentpage="@page_index" data-id="@zone_target.Id" style="display:none"></div>
                @if (tin_first != null)
                {
                    <div class="pt-3">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="news-nbat">
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(tin_first.Url)">
                                        <img src="@UIHelper.StoreFilePath(tin_first.Avatar,false)" class="w-100" alt="@tin_first.Title">
                                    </a>
                                    
                                    <div class="tag">
                                        <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                        <div class="date-tag"><b>@tin_first.CreatedDate.Day</b> <br>@tin_first.CreatedDate.ToString("MMM")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <a href="@LinkRedirectUrl.LinkArticleRedirect(tin_first.Url)" class="txt-n3">@tin_first.Title</a>
                                <div class="txt-n2">@Html.Raw(tin_first.Description)</div>
                                <div class="d-flex">
                                    <div>
                                        <i class="far fa-user"></i> @tin_first.Author
                                    </div>
                                    <div style="padding-left: 35px;">
                                        <i class="far fa-eye"></i> @tin_first.ViewCount
                                    </div>
                                </div>
                                <div class="asee" style="text-align: start;">
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(tin_first.Url)">Xem thêm</a>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <div class="all-newslq">
                    <div class="row">
                        @foreach (var item in tin.Skip(1))
                        {
                            <div class="col-md-4 py-2">
                                <div class="news-nbat">
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" style="max-height:227px" alt="@item.Title">
                                    </a>
                                    <div class="tag">
                                        <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                        <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>@item.CreatedDate.Day</b> <br>@item.CreatedDate.ToString("MMM")</div>
                                    </div>
                                </div>
                                <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                    <div class="titl-mn-news py-2">@item.Title</div>
                                </a>
                                <div class="d-flex">
                                    <div class="icon-news">
                                        <i class="far fa-user"></i>@item.Author
                                    </div>
                                    <div class="icon-news" style="padding-left: 35px;">
                                        <i class="far fa-eye"></i> @item.ViewCount
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="pagin">
                        @*<ul class="number-page">
                                <li>
                                    <a href="#" class="icon-pre">
                                        <i class="fal fa-angle-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="" class="nb-txt nb-hover ">1</a>
                                </li>
                                <li>
                                    <a href="#" title="" class="nb-txt nb-hover">2</a>
                                </li>
                                <li>
                                    <a href="#" title="" class="nb-txt nb-hover">3</a>
                                </li>
                                <li>
                                    <a title="" class="nb-txt" style="border:none;">...</a>
                                </li>
                                <li>
                                    <a href="#" title="" class="nb-txt nb-hover">20</a>
                                </li>
                                <li>
                                    <a href="#" class="icon-pre">
                                        <i class="fal fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                @*<div class="tags">
                        <div class="row">
                            <div class="col-1">Tag:</div>
                            <div class="col-11">
                                <ul class="row keys-tags">
                                    <li class="col-2"><i class="fal fa-tag"></i> nhà hiện đại</li>
                                    <li class="col-2"><i class="fal fa-tag"></i> nhà dep</li>
                                    <li class="col-2"><i class="fal fa-tag"></i> tư vấn</li>
                                    <li class="col-2"><i class="fal fa-tag"></i> hiện đại</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 40px;">
                        <div class="title-navr border-bottom">TIN LIÊN QUAN</div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <div class="news-nbat">
                                    <img src="~/images/img-news-top.png" class="w-100" alt="">
                                    <div class="tag">
                                        <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                        <div class="date-tag"><b>23</b> <br>OCT</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="txt-n3">Chiêm ngưỡng ngôi nhà thiết kế tối giản nhất thế giới</div>
                                <div class="txt-n2">Với những lô đất vuông vắn thì chúng ta sẽ có nhiều lựa chọn phong cách để thiết kế. Nhưng với những công trình được yêu cầu thiết kế</div>
                                <div class="d-flex">
                                    <div>
                                        <i class="far fa-user"></i> Bro Đào
                                    </div>
                                    <div style="padding-left: 35px;">
                                        <i class="far fa-eye"></i> 1250
                                    </div>
                                </div>
                                <div class="asee" style="text-align: start;">
                                    <a href="# ">Xem thêm</a>
                                </div>

                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <div class="news-nbat">
                                    <img src="~/images/img-news-top.png" class="w-100" alt="">
                                    <div class="tag">
                                        <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                        <div class="date-tag"><b>23</b> <br>OCT</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="txt-n3">Chiêm ngưỡng ngôi nhà thiết kế tối giản nhất thế giới</div>
                                <div class="txt-n2">Với những lô đất vuông vắn thì chúng ta sẽ có nhiều lựa chọn phong cách để thiết kế. Nhưng với những công trình được yêu cầu thiết kế</div>
                                <div class="d-flex">
                                    <div>
                                        <i class="far fa-user"></i> Bro Đào
                                    </div>
                                    <div style="padding-left: 35px;">
                                        <i class="far fa-eye"></i> 1250
                                    </div>
                                </div>
                                <div class="asee" style="text-align: start;">
                                    <a href="# ">Xem thêm</a>
                                </div>

                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <div class="news-nbat">
                                    <img src="~/images/img-news-top.png" class="w-100" alt="">
                                    <div class="tag">
                                        <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                        <div class="date-tag"><b>23</b> <br>OCT</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="txt-n3">Chiêm ngưỡng ngôi nhà thiết kế tối giản nhất thế giới</div>
                                <div class="txt-n2">Với những lô đất vuông vắn thì chúng ta sẽ có nhiều lựa chọn phong cách để thiết kế. Nhưng với những công trình được yêu cầu thiết kế</div>
                                <div class="d-flex">
                                    <div>
                                        <i class="far fa-user"></i> Bro Đào
                                    </div>
                                    <div style="padding-left: 35px;">
                                        <i class="far fa-eye"></i> 1250
                                    </div>
                                </div>
                                <div class="asee" style="text-align: start;">
                                    <a href="# ">Xem thêm</a>
                                </div>

                            </div>
                        </div>
                    </div>*@
            </div>
            @await Component.InvokeAsync("MenuRightBlog")
        </div>
    </div>
</section>


@section scripts{


    <script type="text/javascript" src="~/js/controller/blogList2Controller.js" asp-append-version="true"></script>
}

