﻿@using Utils
@using Enterbuy.Data.SqlServer.ModelDto
@model List<Enterbuy.Data.SqlServer.ModelDto.ManufactureModel>
@{
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
    var zoneid = 0;
    if (zone_detail != null)
    {
        zoneid = zone_detail.Id;
    }
}
@inject Enterbuy.Data.SqlServer.Dao.Interfaces.IProductDao  productRepository
<style>
    .range-price.active {
        background: green;
        color: #ffffff !important;
        padding: 10px;
    }
</style>
<div class="container mb-2 client-cate">
    <div class="bg-fff border-r-4">
        @if (Model != null && Model.Count > 0)
        {
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-4 col-12 align-self-center">
                    <div class="px-3 py-2" style="font-size: 13px; line-height: 1.1;">Tìm kiếm theo thương hiệu</div>
                </div>
                @{ var col = Model.Count > 6 ? "col-lg-8 col-md-11" : "col-lg-9 col-md-12";}

                <div class="@col col-12">
                    <div class="swiper-container slide-brand ">
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @{int b = 0; }
                            @while (b <= 20)
                            {
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-3" style="padding-left:0;padding-right:0">
                                        <div title="@Model[i].Name" class="nhanhieu" data-id="@Model[i].Id">
                                            <img src="@UIHelper.StoreFilePath(Model[i].Avatar)" class="w-100" />
                                        </div>
                                    </div>
                                    b = b + 1;
                                }
                            }
                        </div>
                    </div>
                </div>
                @if (Model.Count > 6)
                {
                    <div class="col-lg-1 col-md-1 col-2 text-center d-xs-none">
                        <a href="javascript:;" onclick="expandClient()" class="btn btn-sm pt-2 "><i id="s-w-t" class="fas fa-chevron-down"></i></a>
                    </div>
                }
            </div>
        }
        <div class="full-client">
            @if (Model.Count > 6)
            {
                <div class="row no-gutters">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <div  title="@Model[i].Name" class="border nhanhieu" data-id="@Model[i].Id">
                                <img src="@UIHelper.StoreFilePath(Model[i].Avatar)" class="img-fluid p-1" />
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="filter-cate">
    <div class="container ">
        <div class="bg-fff border-r-4 px-3 py-2 mb-3">
            <div class="row">
                <div class="col-xl-2 col-md-12 col-sm-12 col-12">
                    <div class="form-group d-flex mb-2 mb-lg-0 small py-2">
                        <label for="formControlRange" class="mb-0 mr-3">Tìm kiếm theo</label>
                    </div>
                </div>
                <div class="col-xl-10 col-md-12 col-sm-12 col-12 align-self-center">
                    <div class="row">
                        @if (!String.IsNullOrEmpty(zone_detail.Fillter))
                        {
                            <div class="col-xl-2 col-md-2 col-4">
                                <div class="dropdown d-inline-block select-local">
                                    <select class="form-control mb-2 mb-lg-0 filter-select extra range-price" data-spec-id="0">
                                        <option value="">Khung giá</option>
                                        @{var split = Utility.SplitStringToList(zone_detail.Fillter);}
                                        @foreach (var item in split)
                                        {
                                            var strPrice = "";
                                            var splitPrice = Utility.SplitStringToListInt(item, new List<string>() { "-" });
                                            for (int i = 0; i < splitPrice.Count; i++)
                                            {
                                                if (i == 0)
                                                {
                                                    if (splitPrice[0] == 0)
                                                    {
                                                        strPrice = "Dưới ";
                                                    }
                                                    else
                                                    {
                                                        strPrice = "Từ " + splitPrice[0] / 1000000 + " -";
                                                    }
                                                }
                                                else
                                                {
                                                    if (splitPrice[i] / 1000000 > 200)
                                                    {
                                                        strPrice = "Lớn hơn " + splitPrice[0] / 1000000 + " triệu";
                                                    }
                                                    else
                                                    {
                                                        strPrice += splitPrice[i] / 1000000 + " triệu";
                                                    }
                                                }
                                            }
                                            <option value="@item">@strPrice</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        @{ var list_filter = productRepository.GetFilterProductByZoneId(zone_detail.Id, Utility.DefaultLang);}
                        @foreach (var item in list_filter)
                        {
                            <div class="col-xl-2 col-md-2 col-4">
                                <div class="dropdown d-inline-block select-local">
                                    <select class="form-control mb-2 mb-lg-0 filter-select  dynamic-filter extra" data-spec-id="@item.SpectificationId">
                                        <option value="">@item.Name</option>
                                        @foreach (var i in item.Values)
                                        {
                                            <option value="@i.Value">@i.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="col-xl-2 col-md-2 col-4">
                            <div class="dropdown d-inline-block select-local">
                                <select class="form-control mb-2 mb-lg-0 filter-select extra-sort">
                                    <option hidden value="">Sắp xếp</option>
                                    <option value="3">Nổi bật nhất</option>
                                    <option value="2">Giá tăng dần</option>
                                    <option value="1">Giá giảm dần</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>