﻿@using LacWebsite.Services.Product.Repository
@using LacWebsite.Services.Product.ViewModel
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.Zone.ViewModal
@using MI.Entity.Enums

@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository

@{
    var list_zone_type_region = ViewBag.Zones as List<ZoneByTreeViewMinify>;
    var region_parent = ViewBag.Parent as ZoneByTreeViewMinify;
    var banner = ViewBag.Banner;
    var style_div_with_banner = "";
    if (!string.IsNullOrEmpty(banner))
    {
        style_div_with_banner = "style=\"background: url(/" + banner + ") no-repeat top center;background-size: cover;\"";
    }
    var slide = ViewBag.Slide;
    var list_region_child = list_zone_type_region.Where(r => r.ParentId == region_parent.Id).OrderBy(r => r.SortOrder).ToList(); }

@if (list_region_child.Count() == 0)
{
    var link_view_more = string.Format("/danh-muc/{0}", region_parent.Url);
    if (!string.IsNullOrEmpty(style_div_with_banner))
    {
        <section class="my-4">
            <div class="container ">
                <div class="bg-fff pt-3 pb-2 px-2 border-r-4" @Html.Raw(style_div_with_banner)>
                    <div class="px-3">
                        <div class="row mb-3 no-gutters ">
                            <div class="col-12 d-flex flex-wrap">
                                <a href="" class="align-self-center h5 mr-3 text-uppercase mb-0" style="color: #fff;">
                                    <b>@region_parent.Name</b>
                                </a>

                                <a href="@link_view_more" class="btn btn-outline-light btn-sm px-lg-4 align-self-center">
                                    Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                                </a>

                            </div>


                        </div>
                    </div>
                    @*<div class="px-3">
                            <div class="row mb-3 no-gutters ">
                                <div class="col-8">
                                    <a href="" class="h5 font-weight-bold ">@region_parent.Name</a>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="" class="link-view-more">
                                        Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                                    </a>
                                </div>
                            </div>
                        </div>*@
                    <!-- Slider main container -->
                    <div class="slide-product slide-@slide">
                        <div class="swiper-container ">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">

                                @{ var total_1 = 0;
                                    var products_in_region_1 = productRepository.GetProductInRegionByZoneIdMinify(region_parent.Id, location_id, culture_code, 1, 10, out total_1).OrderBy(r => r.SortOrder).ToList(); }
                                <!-- Slides -->
                                @foreach (var item in products_in_region_1)
                                {

                                    //var link_taget = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                                    var link_taget = string.Format("/{0}.html", item.Url);
                                    <div class="swiper-slide">
                                        <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                            <div class="tag-1">

                                            </div>
                                            @if (item.FlashSaleId > 0)
                                            {
                                                <div class="tag-flashsale">
                                                    <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                                </div>
                                            }
                                            <div class="image">
                                                <a href="@link_taget"><picture><img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="img-fluid lazy" alt="@item.Title" /></picture></a>
                                                <div class="tag-2">
                                                    <picture>
                                                        <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                                    </picture>
                                                    
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="@link_taget" title="@item.Title">
                                                        @item.Title
                                                    </a>
                                                </h5>
                                                @{

                                                    decimal up_price = 0;
                                                    decimal down_price = 0;
                                                    if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                                    {
                                                        up_price = item.SalePrice;
                                                        down_price = item.Price;
                                                    }
                                                    if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                                    {
                                                        up_price = item.Price;
                                                        down_price = 0;
                                                    }
                                                }
                                                @if (item.FlashSaleId > 0)
                                                {
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumberJanhome(item.ProductPriceInFlashSale) đ / @item.Unit
                                                    </div>

                                                    <div class="price-old">
                                                        @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (down_price > 0)
                                                    {
                                                        <div class="price-new">
                                                            @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                        </div>

                                                        <div class="price-old">
                                                            @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                        </div>
                                                    }
                                                    if (down_price == 0)
                                                    {
                                                        if (item.Price > 0)
                                                        {
                                                            <div class="price-new">
                                                                @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                            </div>
                                                            <div class="price-old-none">
                                                                @Html.Raw("<pre>&nbsp;</pre>")
                                                            </div>
                                                        }
                                                        if (item.Price == 0 && item.SalePrice == 0)
                                                        {
                                                            <div class="price-new">
                                                                Liên hệ
                                                            </div>
                                                            <div class="price-old-none">
                                                                @Html.Raw("<pre>&nbsp;</pre>")
                                                            </div>
                                                        }
                                                    }
                                                }
                                                <div class="size small mb-1">
                                                    @item.SpecName: @item.SpecValue mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @item.CountRate đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- If we need navigation buttons -->

                        </div>
                        <div class="swiper-button-prev">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="swiper-button-next">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="my-4">
            <div class="container ">
                <div class="bg-fff pt-3 border-r-4">
                    <div class="px-3">
                        <div class="row mb-3 no-gutters ">
                            <div class="col-8">
                                <a href="@region_parent.BannerLink" class="h5 font-weight-bold ">@region_parent.Name</a>
                            </div>
                            <div class="col-4 text-right">
                                <a href="@link_view_more" class="link-view-more">
                                    Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Slider main container -->
                    <div class="slide-product slide-@slide">
                        <div class="swiper-container ">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">

                                @{ var total_1 = 0;
                                    var products_in_region_1 = productRepository.GetProductInRegionByZoneIdMinify(region_parent.Id, location_id, culture_code, 1, 10, out total_1).OrderBy(r => r.SortOrder).ToList(); }
                                <!-- Slides -->
                                @foreach (var item in products_in_region_1)
                                {
                                    //var link_taget = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                                    var link_taget = string.Format("/{0}.html", item.Url);
                                    <div class="swiper-slide">
                                        <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                            <div class="tag-1">

                                            </div>
                                            @if (item.FlashSaleId > 0)
                                            {
                                                <div class="tag-flashsale">
                                                    <picture>
                                                        <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                                    </picture>
                                                    
                                                </div>
                                            }
                                            <div class="image">
                                                <a href="@link_taget">
                                                    <picture>
                                                        <img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="img-fluid lazy" alt="@item.Title" />
                                                    </picture>
                                                </a>
                                                <div class="tag-2">
                                                    <picture>
                                                        <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                                    </picture>
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="@link_taget" title="@item.Title">
                                                        @item.Title
                                                    </a>
                                                </h5>
                                                @{

                                                    decimal up_price = 0;
                                                    decimal down_price = 0;
                                                    if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                                    {
                                                        up_price = item.SalePrice;
                                                        down_price = item.Price;
                                                    }
                                                    if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                                    {
                                                        up_price = item.Price;
                                                        down_price = 0;
                                                    }
                                                }
                                                @if (item.FlashSaleId > 0)
                                                {
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumberJanhome(item.ProductPriceInFlashSale) đ / @item.Unit
                                                    </div>

                                                    <div class="price-old">
                                                        @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (down_price > 0)
                                                    {
                                                        <div class="price-new">
                                                            @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                        </div>

                                                        <div class="price-old">
                                                            @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                        </div>
                                                    }
                                                    if (down_price == 0)
                                                    {
                                                        if (item.Price > 0)
                                                        {
                                                            <div class="price-new">
                                                                @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                            </div>
                                                            <div class="price-old-none">
                                                                @Html.Raw("<pre>&nbsp;</pre>")
                                                            </div>
                                                        }
                                                        if (item.Price == 0 && item.SalePrice == 0)
                                                        {
                                                            <div class="price-new">
                                                                Liên hệ
                                                            </div>
                                                            <div class="price-old-none">
                                                                @Html.Raw("<pre>&nbsp;</pre>")
                                                            </div>
                                                        }
                                                    }

                                                }
                                                <div class="size small mb-1">
                                                    @item.SpecName: @item.SpecValue mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @item.CountRate đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- If we need navigation buttons -->

                        </div>
                        <div class="swiper-button-prev">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="swiper-button-next">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

}
@if (list_region_child.Count() > 0)
{
    var link_parent = "javascript:void(0)";

    <section class="my-4 san-go-nb">
        <div class="container ">
            <div class="bg-fff pt-3 border-r-4" @(string.IsNullOrEmpty(banner) ? "" : style_div_with_banner)>
                <div class="container">
                    <div class="row mb-3 no-gutters ">
                        <div class="col-md-3 col-12 mb-2 mb-md-0">
                            <a href="@region_parent.BannerLink" class="h5 font-weight-bold ">@region_parent.Name</a>
                        </div>
                        <div class="col-md-9 col-12 d-lg-flex justify-content-lg-end align-self-center">

                            @{
                                var page_size = 8;
                                var page_index = 1;
                                var first_childs = list_region_child.FirstOrDefault();
                                var total_first_child_1 = 0;
                                var products_in_first_child = productRepository.GetProductInRegionByZoneIdMinify(first_childs.Id, location_id, culture_code, page_index, page_size, out total_first_child_1).OrderByDescending(r => r.IsHot).ToList();
                                link_parent = first_childs.UrlOld;
                            }

                            <div class="menu-op align-self-center mr-lg-3">
                                <!--menu mobile-->
                                <div class="d-flex flex-wrap d-lg-none">
                                    @{var c = 0;}
                                    @foreach (var item in list_region_child)
                                    {
                                        var link_region_child = "javascript:void(0)";
                                        <a href="@link_region_child" class="link-view-more font-weight-normal mr-3 tab-region @(c==0?"active":"")" data-region-id="@item.Id">@item.Name</a>
                                        c++;
                                    }
                                </div>
                                <!--menu mobile end-->
                                <!--menu pc-->
                                <div class="swiper-container d-none d-lg-block">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slides -->
                                        @foreach (var item in list_region_child)
                                        {
                                            var link_region_child = "javascript:void(0)";
                                            <div class="swiper-slide">
                                                <div>
                                                    <a href="@link_region_child" class="link-view-more font-weight-normal tab-region" data-region-id="@item.Id">@Html.Raw(UIHelper.CutLine(item.Name))</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!--menu pc end-->
                            </div>
                            @*@if (total_first_child_1 > page_size)
                                {*@
                            <div class=" align-self-center  ">
                                @*<a href="javascript:void(0)" class="link-view-more view-remain-product font-weight-normal " data-skip="@page_size" data-size="" data-id="">Xem thêm <span class="remain-product" data-page-size="@page_size"><b>@(total_first_child_1 - page_size)</b></span> sản phẩm</a>*@
                                @*<h6>@link_parent</h6>*@
                                <a href="@link_parent" class="link-view-more url-old-link">Xem tất cả</a>
                            </div>
                            @*}*@
                        </div>
                    </div>

                    @*Cat mang o day*@
                    @if (total_first_child_1 >= 2)
                    {
                        var cutted_1 = new List<ProductMinify>();
                        var cutted_2 = new List<ProductMinify>();
                        @if (products_in_first_child[0] != null)
                        {
                            cutted_1.Add(products_in_first_child[0]);
                        }
                        @if (products_in_first_child[1] != null)
                        {
                            cutted_2.Add(products_in_first_child[1]);
                        }
                        cutted_1.AddRange(products_in_first_child.Skip(2).Take(3));
                        cutted_2.AddRange(products_in_first_child.Skip(5).Take(3));
                        cutted_1.OrderByDescending(r => r.IsHot);
                        cutted_2.OrderByDescending(r => r.IsHot);

                        <div class="_binding_product">
                            <div class="set-total" data-total="@total_first_child_1" data-id="@first_childs.Id" style="display:none"></div>
                            <div class="row no-gutters mb-3 mb-md-0">
                                @if (cutted_1 != null)
                                {
                                    //var link_target = string.Format("{0}/{1}.p{2}.html", base_uri_culture, cutted_1[0].Url, cutted_1[0].ProductId);
                                    var link_taget = string.Format("/{0}.html", cutted_1[0].Url);
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                                        <div class="item-product item-product-large">
                                            <div class="image">
                                                <a href="@link_taget">
                                                    <picture>
                                                        <img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(cutted_1[0].BigThumb, false)?v=@WebHelper.Version()" class="img-fluid lazy" alt="@cutted_1[0].Title" />
                                                    </picture>
                                                    
                                                </a>
                                            </div>
                                            <div class="py-1">
                                                <h5 class="title">
                                                    <a href="@link_taget" title="@cutted_1[0].Title">
                                                        @cutted_1[0].Title
                                                    </a>
                                                </h5>
                                                @{

                                                    decimal up_price = 0;
                                                    decimal down_price = 0;
                                                    if (cutted_1[0].SalePrice > 0 && cutted_1[0].SalePrice < cutted_1[0].Price)
                                                    {
                                                        up_price = cutted_1[0].SalePrice;
                                                        down_price = cutted_1[0].Price;
                                                    }
                                                    if (cutted_1[0].SalePrice == 0 || cutted_1[0].SalePrice >= cutted_1[0].Price)
                                                    {
                                                        up_price = cutted_1[0].Price;
                                                        down_price = 0;
                                                    }
                                                }
                                                @if (cutted_1[0].FlashSaleId > 0)
                                                {
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumberJanhome(cutted_1[0].ProductPriceInFlashSale) đ / @cutted_1[0].Unit
                                                    </div>

                                                    <div class="price-old">
                                                        @(cutted_1[0].SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (down_price > 0)
                                                    {
                                                        <div class="price-new">
                                                            @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_1[0].Unit
                                                        </div>

                                                        <div class="price-old">
                                                            @(cutted_1[0].Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                        </div>
                                                    }
                                                    if (down_price == 0)
                                                    {
                                                        if (cutted_1[0].Price > 0)
                                                        {
                                                            <div class="price-new">
                                                                @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_1[0].Unit
                                                            </div>
                                                        }
                                                        if (cutted_1[0].Price == 0 && cutted_1[0].SalePrice == 0)
                                                        {
                                                            <div class="price-new">
                                                                Liên hệ
                                                            </div>
                                                        }
                                                    }
                                                    if (cutted_1[0].Price == 0 && cutted_1[0].SalePrice == 0)
                                                    {
                                                        <div class="price-new">
                                                            Liên hệ
                                                        </div>
                                                    }

                                                }

                                                <div class="size small mb-1">
                                                    @cutted_1[0].SpecName: @cutted_1[0].SpecValue mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        @System.Math.Round(cutted_1[0].Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @cutted_1[0].CountRate đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                                    <div class="row no-gutters h-100 ">
                                        @{var count_cutted_1 = 0; }
                                        @foreach (var item in cutted_1.Skip(1))
                                        {

                                            //var link_ta = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                                            var link_ta = string.Format("/{0}.html", item.Url);
                                            <div class="col-md-4 col-sm-4 col-6 @(count_cutted_1==2 ? "d-none d-sm-block":"")">
                                                <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                                    <div class="tag-1">

                                                    </div>
                                                    @if (item.FlashSaleId > 0)
                                                    {
                                                        <div class="tag-flashsale">
                                                            <picture>
                                                                <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                                            </picture>
                                                        </div>
                                                    }
                                                    <div class="image">
                                                        <a href="@link_ta"><img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="lazy img-fluid" alt="@item.Title" /></a>
                                                        <div class="tag-2">
                                                            <picture>
                                                                <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                                            </picture>

                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h5 class="title">
                                                            <a href="@link_ta" title="@item.Title">
                                                                @item.Title
                                                            </a>
                                                        </h5>
                                                        @{

                                                            decimal up_price = 0;
                                                            decimal down_price = 0;
                                                            if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                                            {
                                                                up_price = item.SalePrice;
                                                                down_price = item.Price;
                                                            }
                                                            if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                                            {
                                                                up_price = item.Price;
                                                                down_price = 0;
                                                            }
                                                        }
                                                        @if (item.FlashSaleId > 0)
                                                        {
                                                            <div class="price-new">
                                                                @UIHelper.FormatNumberJanhome(item.ProductPriceInFlashSale) đ / @item.Unit
                                                            </div>

                                                            <div class="price-old">
                                                                @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            if (down_price > 0)
                                                            {
                                                                <div class="price-new">
                                                                    @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                                </div>

                                                                <div class="price-old">
                                                                    @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                                </div>
                                                            }
                                                            if (down_price == 0)
                                                            {
                                                                if (item.Price > 0)
                                                                {
                                                                    <div class="price-new">
                                                                        @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                                    </div>
                                                                }
                                                                if (item.Price == 0 && item.SalePrice == 0)
                                                                {
                                                                    <div class="price-new">
                                                                        Liên hệ
                                                                    </div>
                                                                }
                                                            }
                                                        }

                                                        <div class="size small mb-1">
                                                            @item.SpecName: @item.SpecValue mm
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                @item.CountRate đánh giá
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            count_cutted_1++;
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                @if (cutted_2 != null)
                                {

                                    //var link_target = string.Format("/{0}/{1}.p{2}.html", base_uri_culture, cutted_2[0].Url, cutted_2[0].ProductId);
                                    var link_target = string.Format("/{0}.html", cutted_2[0].Url);
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                                        <div class="item-product item-product-large">
                                            <div class="image">
                                                <a href="@link_target">
                                                    <picture>
                                                        <img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(cutted_2[0].BigThumb,false)?v=@WebHelper.Version()" class="lazy img-fluid" alt="@cutted_2[0].Title" />
                                                    </picture>
                                                    
                                                </a>
                                            </div>
                                            <div class="py-1">
                                                <h5 class="title">
                                                    <a href="@link_target" title="@cutted_2[0].Title">
                                                        @cutted_2[0].Title
                                                    </a>
                                                </h5>
                                                @{

                                                    decimal up_price = 0;
                                                    decimal down_price = 0;
                                                    if (cutted_2[0].SalePrice > 0 && cutted_2[0].SalePrice < cutted_2[0].Price)
                                                    {
                                                        up_price = cutted_2[0].SalePrice;
                                                        down_price = cutted_2[0].Price;
                                                    }
                                                    if (cutted_2[0].SalePrice == 0 || cutted_2[0].SalePrice >= cutted_2[0].Price)
                                                    {
                                                        up_price = cutted_2[0].Price;
                                                        down_price = 0;
                                                    }
                                                }
                                                @if (cutted_2[0].FlashSaleId > 0)
                                                {
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumberJanhome(cutted_2[0].ProductPriceInFlashSale) đ / @cutted_2[0].Unit
                                                    </div>

                                                    <div class="price-old">
                                                        @(cutted_2[0].SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (down_price > 0)
                                                    {
                                                        <div class="price-new">
                                                            @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_2[0].Unit
                                                        </div>

                                                        <div class="price-old">
                                                            @(cutted_2[0].Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                        </div>
                                                    }
                                                    if (down_price == 0)
                                                    {
                                                        if (cutted_2[0].Price > 0)
                                                        {
                                                            <div class="price-new">
                                                                @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_2[0].Unit
                                                            </div>
                                                        }
                                                        if (cutted_2[0].Price == 0 && cutted_2[0].SalePrice == 0)
                                                        {
                                                            <div class="price-new">
                                                                Liên hệ
                                                            </div>
                                                        }
                                                    }
                                                }

                                                <div class="size small mb-1">
                                                    @cutted_2[0].SpecName: @cutted_2[0].SpecValue mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        @System.Math.Round(cutted_2[0].Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @cutted_2[0].CountRate đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                                    <div class="row no-gutters h-100 ">
                                        @{var count_cutted_2 = 0; }
                                        @foreach (var item in cutted_2.Skip(1))
                                        {
                                            //var link_ta = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                                            var link_ta = string.Format("/{0}.html", item.Url);
                                            <div class="col-md-4 col-sm-4 col-6 @(count_cutted_2==2 ? "d-none d-sm-block":"")">
                                                <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                                    <div class="tag-1">

                                                    </div>
                                                    @if (item.FlashSaleId > 0)
                                                    {
                                                        <div class="tag-flashsale">
                                                            <picture>
                                                                <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                                            </picture>
                                                            
                                                        </div>
                                                    }
                                                    <div class="image">
                                                        <a href="@link_ta"><img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="lazy img-fluid" alt="@item.Title" /></a>
                                                        <div class="tag-2">
                                                            <picture>
                                                                <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                                            </picture>
                                                            
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h5 class="title">
                                                            <a href="@link_ta" title="@item.Title">
                                                                @item.Title
                                                            </a>
                                                        </h5>
                                                        @{

                                                            decimal up_price = 0;
                                                            decimal down_price = 0;
                                                            if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                                            {
                                                                up_price = item.SalePrice;
                                                                down_price = item.Price;
                                                            }
                                                            if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                                            {
                                                                up_price = item.Price;
                                                                down_price = 0;
                                                            }
                                                        }
                                                        @if (item.FlashSaleId > 0)
                                                        {
                                                            <div class="price-new">
                                                                @UIHelper.FormatNumberJanhome(item.ProductPriceInFlashSale) đ / @item.Unit
                                                            </div>

                                                            <div class="price-old">
                                                                @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            if (down_price > 0)
                                                            {
                                                                <div class="price-new">
                                                                    @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                                </div>

                                                                <div class="price-old">
                                                                    @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                                </div>
                                                            }
                                                            if (down_price == 0)
                                                            {
                                                                if (item.Price > 0)
                                                                {
                                                                    <div class="price-new">
                                                                        @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                                    </div>
                                                                }
                                                                if (item.Price == 0 && item.SalePrice == 0)
                                                                {
                                                                    <div class="price-new">
                                                                        Liên hệ
                                                                    </div>
                                                                }
                                                            }

                                                        }

                                                        <div class="size small mb-1">
                                                            @item.SpecName: @item.SpecValue mm
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                @item.CountRate đánh giá
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            count_cutted_2++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    @*<a href="javascript:void(0)" class="link-view-more view-remain-product font-weight-normal " data-skip="@page_size" data-size="" data-id="">Xem thêm <span class="remain-product" data-page-size="@page_size"><b>@(total_first_child_1 - page_size)</b></span> sản phẩm</a>*@
                    <a href="javascript:void(0)" class="view-remain-product" data-skip="@page_size" data-size="" data-id="">
                        <div class="see-more"><i class="fas fa-angle-double-right"></i> Xem thêm <span class="remain-product"><b>0</b></span> sản phẩm </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
}