﻿@using MI.Entity.Enums;
@using System.Linq;
@using DiDongXanh_Web.Services.Zone.ViewModal
@using DiDongXanh_Web.Services.Zone.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using DiDongXanh_Web.Services.Article.Repository
@using DiDongXanh_Web.Services.BannerAds.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository
@inject IBannerAdsRepository bannerAdsRepository
@using MI.Entity.Models
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}
@{
    ViewData["Title"] = "CategoriesList";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var zoneId = ViewBag.CateId;
    var category_zone_list = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Categories, culture_code, 0);
    var list_resutl = category_zone_list.Where(r => r.ParentId == zoneId).OrderBy(r => r.SortOrder).ToList();

    var blog_zone_parent = category_zone_list.Where(r => r.Id == zoneId).FirstOrDefault();
    var Banner_Blog = new DetailBanerAds();
    var Banner_Blog_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Blog");
    if (Banner_Blog_Cache != null)
    {
        Banner_Blog = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Blog_Cache.MetaData);
    }
    var total_list = list_resutl.Count();
}

@section styles {
    @if (blog_zone_parent != null)
    {
        <style type="text/css">
        .banner-page {
            background: url(@UIHelper.StoreFilePath(@Banner_Blog.Image)) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
        </style>
    }
}
<!-- Breadcrumb -->
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="#">Thu cũ đổi mới</a></li>
      </ol>
    </div>
    <!-- End Breadcrumb -->

    <!-- Banner Full Width -->
    <div class="container">
      <div class="banner-full">
        <a href="#">
          <img src="~/design/images/banner/banner-7.png" alt="Banner" />
        </a>
      </div>
    </div>
    <!-- End Banner Full Width -->

    <!-- Định giá máy cũ Online -->
    <div class="container mt-30">
      <div class="section-head">
        <h4 class="section-head__title">Định giá máy cũ Online</h4>
        <div class="section-head__link">
          <div class="section-head__link-item">
            <a href="thu-cu-doi-moi.html">Cáp - sạc</a>
          </div>
          <div class="section-head__link-item">
            <a href="thu-cu-doi-moi.html">Dán màn hình</a>
          </div>
          <div class="section-head__link-item">
            <a href="thu-cu-doi-moi.html">Ốp điện thoại</a>
          </div>
          <div class="section-head__link-item">
            <a href="thu-cu-doi-moi.html">Sạc dự phòng</a>
          </div>
          <div class="section-head__link-item">
            <a href="thu-cu-doi-moi.html">Xem tất cả</a>
          </div>
        </div>
      </div>
      <div class="products-grid js-product-load-more">
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="~/design/doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-2.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-3.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-4.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-5.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-6.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-7.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-8.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-9.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-10.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-11.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-12.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-13.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-14.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-15.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="products-grid__item">
          <div class="product-item-grid">
            <div class="product-item-grid__image">
              <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
              </a>
            </div>
            <div class="product-item-grid__content">
              <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html"
                  >iPhone 11 64GB Quốc Tế (Likenew) 1</a
                >
              </h4>
              <div class="product-item-grid__price">
                <span class="product-item-grid__price-label">Giá thu cũ tham khảo:</span>
                <p class="product-item-grid__price-new">5.290.000₫</p>
              </div>
              <div class="product-item-grid__footer">
                <a href="doi-moi.html" class="product-item-grid__button">Đổi mới</a>
                <span class="product-item-grid__button btn-resell" data-toggle="modal" data-target="#modalBanLai">Bán lại</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Item -->
      </div>

      <!-- Load More -->
      <div class="text-center">
        <button id="buttonLoadMore" class="load-more-product">
          Xem thêm 123 sản phẩm
        </button>
      </div>
      <!-- End Load More -->
    </div>
    <!-- Hết Định giá máy cũ Online -->

    <!-- Modal Bán Lại -->
    <div class="modal fade modal-resell" id="modalBanLai" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">THÔNG TIN THU CŨ ĐỔI MỚI</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="resell-main">
              <div class="resell-main__product">
                <div class="resell-main__product-image">
                  <img src="~/design/images/products/pro-1.png" alt="Product Item">
                </div>
                <div class="resell-main__product-name">
                  <span>Tên sản phẩm: </span>
                  <strong>iPhone 11 64GB Quốc Tế (Likenew) 1</strong>
                </div>
                <div class="resell-main__product-price">
                  <span>Giá máy cũ thu lại: </span>
                  <strong>5.290.000₫</strong>
                </div>
              </div>
              <div class="resell-main__info">
                <form action="">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="name">Họ và tên: *</label>
                        <input type="text" class="form-control" id="name" placeholder="Nhập họ và tên">
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="phone">Số điện thoại: *</label>
                        <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại!">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="location">Địa điểm thu máy: *</label>
                    <select class="form-control" id="location">
                      <option>111 Trần Đăng Ninh, Cầu Giấy, Hà Nội</option>
                      <option>112 Trần Đăng Ninh, Cầu Giấy, Hà Nội</option>
                      <option>113 Trần Đăng Ninh, Cầu Giấy, Hà Nội</option>
                      <option>114 Trần Đăng Ninh, Cầu Giấy, Hà Nội</option>
                      <option>115 Trần Đăng Ninh, Cầu Giấy, Hà Nội</option>
                      <option>116 Trần Đăng Ninh, Cầu Giấy, Hà Nội</option>
                    </select>
                  </div>
                  <p class="resell-main__note"><i>* Quý Khách vui lòng đem máy tới cửa hàng để được định giá và bán lại - lên đời với giá tốt nhất.</i></p>
                  <div class="text-center mt-30">
                    <button type="button" class="btn btn-success">BÁN NGAY</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hết Modal Bán Lại -->

    <div class="container">
      <!-- Rating -->
      <div class="rating">
        <div class="rating__head">
          <h4 class="rating__head-title">Đánh giá sản phẩm</h4>
          <a href="#" class="rating__button">Đánh giá ngay</a>
        </div>
        <div class="rating__main">
          <div class="rating__average">
            <h2 class="rating__average-number">4,5</h2>
            <div class="rating__average-stars">
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star"></i>
            </div>
            <a href="#" class="rating__average-link">303  đánh giá</a>
          </div>
          <div class="rating__line">
            <div class="rating__line-item">
              <div class="rating__line-number">5</div>
              <div class="rating__line-bar">
                <div class="rating__line-barsub" style="width: 100%;"></div>
              </div>
              <div class="rating__line-percent">100%</div>
            </div>
            <div class="rating__line-item">
              <div class="rating__line-number">4</div>
              <div class="rating__line-bar">
                <div class="rating__line-barsub" style="width: 80%;"></div>
              </div>
              <div class="rating__line-percent">80%</div>
            </div>
            <div class="rating__line-item">
              <div class="rating__line-number">3</div>
              <div class="rating__line-bar">
                <div class="rating__line-barsub" style="width: 60%;"></div>
              </div>
              <div class="rating__line-percent">60%</div>
            </div>
            <div class="rating__line-item">
              <div class="rating__line-number">2</div>
              <div class="rating__line-bar">
                <div class="rating__line-barsub" style="width: 20%;"></div>
              </div>
              <div class="rating__line-percent">20%</div>
            </div>
            <div class="rating__line-item">
              <div class="rating__line-number">1</div>
              <div class="rating__line-bar">
                <div class="rating__line-barsub" style="width: 0%;"></div>
              </div>
              <div class="rating__line-percent">0%</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Rating -->
      <!-- Comments -->
      <div class="comments">
        <div class="comments__head">
          <h4 class="comments__head-title">165 bình luận</h4>
          <div class="comments__search">
            <input type="text" placeholder="Search">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div class="comments__form">
          <form action="">
            <textarea class="comments__form-content" rows="4" placeholder="Type your topic here"></textarea>
          </form>
          <div class="comments__form-footer">
            <div class="comments__form-input-file">
              <img src="~/design/images/icons/camera.svg" alt="Icon Camera" />
              <input type="file" accept="image/*" />
            </div>
            <input type="text" placeholder="Tên (bắt buộc)" required />
            <input type="email" placeholder="Email (bắt buộc)" required />
            <button type="submit">Gửi</button>
          </div>
        </div>
        <div class="comments__list">
          <!-- Item -->
          <div class="comments__item">
            <div class="comments__item-avatar">
              <img src="~/design/images/users/1.png" alt="Avatar" />
            </div>
            <div class="comments__item-info">
              <h5 class="comments__item-name"><a href="#">Tomothy Flores</a></h5>
              <div class="comments__item-content">
                <p>Phòng khách 7.2mx4.8mX3m thì dùng máy lạnh loại nào treo tường hay tủ đứng? cảm ơn anh.</p>
              </div>
              <div class="comments__action">
                <a href="#" class="comments__button-reply">Trả lời</a>
                <a href="#" class="comments__button-like active">
                  <i class="fa fa-thumbs-up"></i> Thích
                </a>
                <span class="comments__time">
                  <i class="fa fa-calendar-o"></i> 10/9/2019  10:46
                </span>
              </div>
              <div class="comments__reply">
                <div class="comments__item-avatar">
                  <img src="~/design/images/users/1.png" alt="Avatar" />
                </div>
                <div class="comments__item-info">
                  <h5 class="comments__item-name">
                    <a href="#">Tomothy Flores</a>
                    <span class="comments__type-user">Quản trị viên</span>
                  </h5>
                  <div class="comments__item-content">
                    <p>Chào anh!</p>
                    <p>Dạ nếu phòng anh có chiều dài 7.2m và chiều rộng là 4.8m thì anh nên sử dụng máy lạnh có công suất 2.5HP. Thông tin đến anh! </p>
                  </div>
                  <div class="comments__action">
                    <a href="#" class="comments__button-reply">Trả lời</a>
                    <a href="#" class="comments__button-like">
                      <i class="fa fa-thumbs-up"></i> Thích
                    </a>
                    <a href="#" class="comments__button-unlike">
                      <i class="fa fa-thumbs-down"></i> Không thích
                    </a>
                    <span class="comments__time">
                      <i class="fa fa-calendar-o"></i> 10/9/2019  10:46
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="comments__item">
            <div class="comments__item-avatar">
              <img src="~/design/images/users/1.png" alt="Avatar" />
            </div>
            <div class="comments__item-info">
              <h5 class="comments__item-name"><a href="#">Tomothy Flores</a></h5>
              <div class="comments__item-content">
                <p>Phòng khách 7.2mx4.8mX3m thì dùng máy lạnh loại nào treo tường hay tủ đứng? cảm ơn anh.</p>
              </div>
              <div class="comments__action">
                <a href="#" class="comments__button-reply">Trả lời</a>
                <a href="#" class="comments__button-like">
                  <i class="fa fa-thumbs-up"></i> Thích
                </a>
                <span class="comments__time">
                  <i class="fa fa-calendar-o"></i> 10/9/2019  10:46
                </span>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Button View More -->
          <div class="comments__view-more">
            <a href="#">
              Xem thêm <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- End Comments -->
    </div>



