﻿@model Enterbuy.Services.Common.Models.BannerTwoSlideModel
<div class="banner-fixed-left">
    @if (Model.BannerToLeft.Show)
    {
        <a href="@Model.BannerToLeft.Url">
            @*<img src="~/images/change/2.jpg" class="img-fluid w-100  wow flipInY slow"/>*@
            <img src="@Model.BannerToLeft.Image" class="img-fluid w-100  wow flipInY slow" onerror="this.onerror=null;this.src='/images/change/2.jpg'" />
        </a>
    }
</div>
<div class="banner-fixed-right">
    @if (Model.BannerToRight.Show)
    {
        <a href="@Model.BannerToRight.Url">
            @*<img src="~/images/change/1.png" class="img-fluid w-100 wow flipInY slow" />*@
            <img src="@Model.BannerToRight.Image" class="img-fluid w-100 wow flipInY slow" onerror="this.onerror=null;this.src='/images/change/2.jpg'" />
        </a>
    }
</div>