﻿@{
    var alias = ViewBag.Alias;
    var page_index = ViewBag.PageIndex;
    var page_size = ViewBag.PageSize;
    var total = ViewBag.Total;
}

@{ var total_page = 0;
    if (total % page_size == 0)
    {
        total_page = total / page_size;
    }

    else
    {
        total_page = total / page_size + 1;
    }

}
@{
    var link_prev = "";
    var link_next = "";
    if (page_index > 1)
    {
        link_prev = string.Format("/news/{0}/page/{1}", alias, page_index - 1);
    }
    if (page_index == 1)
    {
        link_prev = "javascript:void(0)";
    }
    if (page_index < total_page)
    {
        link_next = string.Format("/news/{0}/page/{1}", alias, page_index + 1);
    }
    if (page_index >= total_page)
    {
        link_next = "javascript:void(0)";
    }
}

@*<select class="select-page mr-2">
        @for (int i = 0; i < total_page; i++)
        {
            var links = string.Format("/news/{0}/page/{1}", alias, i + 1);
            var s = i + 1 == page_index ? "selected" : "";
            var op = string.Format("<option value=\"{0}\" {1} >{2}</option>", links, s, i + 1);
            @Html.Raw(op);
        }
    </select>*@
@*<span class="color-828282">/@total_page</span>*@

<div class="container">
    <ul class="number-page">

        @if (page_index > 1)
        {
            <li>
                <a href="@link_prev" class="icon-pre">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>
        }
        @for (int i = 0; i < total_page; i++)
        {
            var links = string.Format("/news/{0}/page/{1}", alias, i + 1);
            <li>
                <a href="@links" title="" class="nb-txt nb-hover">@(i + 1)</a>
            </li>
        }
        @if (page_index < total_page)
        {
            <li>
                <a href="@link_next" class="icon-pre">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
        }
    </ul>
</div>


