﻿@model List<Enterbuy.Data.SqlServer.ModelDto.ProductMinify>
@using Utils;
@inject ICookieLocationUtility cookieLocationUtility
@{
    var total = ViewBag.Total;
    var cookie_location = cookieLocationUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}

@{
    var list_product = Model;
    var product_with_big_thumb = list_product.FirstOrDefault();
    var product_child = list_product.Skip(1).Take(8).OrderBy(r => r.SalePrice);

}

<div class="row mb-3  ">
    <div class="col-8">
        <a href="" class="h5 font-weight-bold ">Gợi ý cho bạn</a>
    </div>
    @if (total > 4)
    {
        <div class="col-4 text-right">
            <a href="javascripts:void(0)" class="link-view-more font-weight-normal color-EE7D22">
                Xem thêm <i class="fas fa-chevron-right ml-1 small"
                            aria-hidden="true"></i>
            </a>
        </div>
    }
</div>
<div class="row no-gutters">
    @foreach (var item in Model)
    {
        var link_tar = BaseBA.UrlProduct("", item.Url);
        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                @*<div class="tag-1">

                    </div>*@
                <div class="image ">
                    <a href="@link_tar">
                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)"
                             class="img-fluid  w-100" alt="@item.Title" />
                    </a>
                    <div class="tag-2">
                        @*<img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />*@
                    </div>
                </div>

                <div class="mt-4">
                    <h5 class="title">
                        <a href="@link_tar" title="@item.Title">
                            @item.Title
                        </a>
                    </h5>


                    @if (item.SalePrice != item.Price)
                    {
                        <div class="d-price">
                            <div class="price-new">
                                @UIHelper.FormatNumber(item.SalePrice)
                            </div>
                            <div>
                                <span class="price-old">
                                    @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                </span>
                                @if (item.DiscountPercent > 0)
                                {
                                    <b class="sale-percent">( - @item.DiscountPercent %)</b>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-price">
                            <div class="price-new">
                                @UIHelper.FormatNumber(item.SalePrice)
                            </div>
                        </div>
                    }

                    <div class="review d-flex">
                        <div class="color-FFAB1B mr-2">
                            @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                        </div>
                        <div class="color-828282">
                            @item.CountRate đánh giá
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {
    <script type="text/javascript" src="~/js/controller/blogDetailController.js" asp-append-version="true"></script>

}

