﻿@using LacWebsite.Services.Product.ViewModel;
@using LacWebsite.Services.Product.Repository;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using LacWebsite.Utility
@inject ICookieUtility cookieUtility
@inject IProductRepository productRepository
@model List<ProductMinify>;
@{
    var total = ViewBag.Total;
    var id = ViewBag.Id;
    var index = ViewBag.Index;
    var size = ViewBag.PageSize;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}

@{
    var list_product = Model;
    var product_with_big_thumb = list_product.FirstOrDefault();
    var product_child = list_product.Skip(1).Take(8).OrderBy(r => r.SalePrice);

}
@if (Model != null)
{
    <div class="set-total" data-total="@total" data-id="@id" data-is-rendered="@Model.Count()" style="display:none"></div>
    <div class="paging-container" data-total="@total" data-size="@size" data-currentpage="@index" data-id="@id" data-is-rendered="@Model.Count()" data-location="@location_id" style="display:none"></div>
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="img-room-info my-2">
                <div>
                    <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                </div>
                <div class="line-ft-prod">
                    <img src="./images/home/line-ft.png" class="w-100" alt="">
                    <a href="@LinkRedirectUrl.LinkProductRedirect(item.Url)" class="name-info">@item.Title</a>
                </div>
                <div class="hover-search hiddren">
                    <div class="info-room-hover border">
                        <div>
                            <img src="./images/home/logo-trang.png" class="img-fluid" alt="">
                        </div>
                        <a href="@LinkRedirectUrl.LinkProductRedirect(item.Url)" class="txt-desg-1">@item.Title</a>
                        <div class="txt-desg-2">@Html.Raw(item.Description)</div>
                        <div class="see-more-hov">
                            <a href="@LinkRedirectUrl.LinkProductRedirect(item.Url)">Xem thêm <i class="fal fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

