﻿@using TemplateKAOCoffee.Services.Product.Repository
@using TemplateKAOCoffee.Services.Zone.Repository
@using MI.Entity.Enums
@using TemplateKAOCoffee.Services.BannerAds.Repository
@using TemplateKAOCoffee.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using TemplateKAOCoffee.Services.Article.Repository
@using Newtonsoft.Json
@using TemplateKAOCoffee.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using TemplateKAOCoffee.Services.Extra.ViewModel
@using TemplateKAOCoffee.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository
@inject IZoneRepository zoneRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;


    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
    var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId");
    var SEOGoogle = bannerAdsRepository.GetConfigByName(culture_code, "SeoPhoto");
    //var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId ");
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@{
    //ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@section styles{
    @Html.Raw(configSEOUtility.ConfigSocialMeta("default appID", domain_full, title, DesWeb, SEOGoogle))
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))
}

@*<cache expires-after="@TimeSpan.FromMinutes(5)" > response caching*@ 
@*<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by-cookie=".AspNetCore.Culture, _LocationId">*@
<!--Slide-->
<div class="block05" uk-slideshow="animation: push">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slideshow-items" uk-height-viewport="min-height: 300">
            @{
                var banner_trang_chu = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "KAO_TrangChu_SlideAnh");
                if (banner_trang_chu != null)
                {
                    var b = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DetailBanerAds>>(banner_trang_chu.MetaData);
                    if (b != null)
                    {
                        foreach (var item in b)
                        {
                            <li>

                                <img style="opacity: 1" src="~/design/images/photo.jpg" alt="@item.Title" uk-cover>
                                <div class="uk-height-1-1 uk-position-cover uk-background-02 uk-flex uk-flex-middle">
                                    <div class="uk-width-1-1 uk-section">
                                        <div class="uk-container uk-container-expand-right" uk-toggle="cls: block05__container-expand-right; mode: media; media: @@m">
                                            <div class="uk-flex-middle uk-grid-144-m" uk-grid>
                                                <div class="uk-width-1-2@@l uk-width-auto@@xl uk-flex-last@@l">
                                                    <img src="@UIHelper.StoreFilePath(item.Image, false)" alt="@item.Title">
                                                </div>
                                                <div class="uk-width-expand">
                                                    <div class="uk-text-center">
                                                        <h1 class="uk-h2 block05__title">@item.Title</h1>
                                                        <p class="block05__desc">@Html.Raw(item.Description)</p>
                                                        <a href="@item.Url" class="block05__btn uk-button uk-button-secondary uk-button-large uk-border-pill">ĐẶT HÀNG ONLINE</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                }
            }
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-position-medium uk-position-bottom"></ul>
    </div>

</div><!--/Slide-->
@{
    var bHome = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "KAO_TrangChu_AnhGioiThieu");
    if(bHome != null){
        var h = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DetailBanerAds>>(bHome.MetaData).OrderBy(r => r.Order).ToList();
        if(h != null){
            var count_h = h.Count();
            var lscuoi = new List<DetailBanerAds>();
            var lstren = new List<DetailBanerAds>();
            if(h.Count >= 4){
                var xxx = h.Skip(count_h-2).Take(2);
                lscuoi.AddRange(xxx);
                lstren.AddRange(h.Take(count_h-2));
            }else{
                lstren.AddRange(h);
            }
            var isImageLeft = true;
            foreach(var item in lstren){
                if(isImageLeft){
                    <div class="uk-child-width-1-2@@m uk-grid-collapse uk-grid-match" uk-height-viewport="offset-bottom: false" uk-grid>
                        <div>
                            <div uk-parallax="bgy: -150" class="block02__fixed uk-background-norepeat uk-background-cover uk-background-center-center" data-src="@UIHelper.StoreFilePath(item.Image, false)" uk-img>
                                <div class="uk-cover-container">
                                    <canvas width="640" height="640"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-background-01 uk-flex uk-flex-middle uk-background-norepeat uk-background-bottom-right" data-src="@*design/images/Group66-right.png*@" uk-img>
                                <div class="uk-width-1-1 uk-section">
                                    <div class="uk-container">
                                        <div class="uk-flex-center" uk-grid>
                                            <div class="uk-width-4-5@@l uk-width-1-2@@xl">
                                                <div class="uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom; target: > *; delay: 300; repeat: false">
                                                    <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">@item.Title</h2>
                                                    
                                                    <p class="uk-text-left block02__card__desc mb-40 mb-80-m">@Html.Raw(item.Description)</p>
                                                    <a href="@item.Url" class="uk-button uk-button-secondary uk-button-large uk-border-pill block02__card__btn block02__card__btn--02">XEM MENU</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else{
                    <div class="uk-child-width-1-2@@m uk-grid-collapse uk-grid-match" uk-height-viewport="offset-bottom: false" uk-grid>
                        <div>
                            <div uk-parallax="bgy: -150" class="block02__fixed uk-background-norepeat uk-background-cover uk-background-center-center" data-src="@UIHelper.StoreFilePath(item.Image, false)" uk-img>
                                <div class="uk-cover-container">
                                    <canvas width="640" height="640"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="uk-flex-first@@m">
                            <div class="uk-background-02 uk-flex uk-flex-middle uk-background-norepeat uk-background-bottom-left" data-src="@*design/images/Group-left.png*@" uk-img>
                                <div class="uk-width-1-1 uk-section">
                                    <div class="uk-container">
                                        <div class="uk-flex-center" uk-grid>
                                            <div class="uk-width-4-5@@l uk-width-1-2@@xl">
                                                <div class="uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom; target: > *; delay: 300; repeat: false">
                                                    <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">@item.Title</h2>
                                                    <p class="uk-text-left block02__card__desc mb-40 mb-80-m">@Html.Raw(item.Description)</p>
                                                    <a href="@item.Url" class="uk-button uk-button-secondary uk-button-large uk-border-pill block02__card__btn block02__card__btn--01">XEM MENU</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                isImageLeft = !isImageLeft;
            }
            @if(lscuoi.Count >=2){
                <div class="uk-grid-collapse uk-grid-match" uk-height-viewport="offset-bottom: false" uk-grid>
                    <div class="block02__fixed uk-width-expand uk-background-norepeat uk-background-cover" uk-parallax="bgy: -150" data-src="@UIHelper.StoreFilePath(lscuoi[0].Image)" uk-img>
                        <div class="uk-cover-container">
                            <canvas width="1920" height="1080"></canvas>
                        </div>
                    </div>
                    <div class="uk-width-1-3@@m">
                        <div class="uk-card block02__card uk-text-center uk-flex uk-flex-column">
                            <div class="uk-card-body uk-flex-1 uk-flex uk-flex-middle">
                                <div class="uk-width-1-1" uk-scrollspy="cls: uk-animation-slide-bottom; target: > *; delay: 300; repeat: false">
                                    <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">@lscuoi[0].Title</h2>
                                    <p class="uk-text-left block02__card__desc mb-40 mb-80-m">@Html.Raw(lscuoi[0].Description)</p>
                                    <a href="@lscuoi[0].Url" class="uk-button uk-button-secondary uk-button-large uk-border-pill block02__card__btn block02__card__btn--vang">XEM MENU</a>
                                </div>
                            </div>
                            <div class="block02__card__footer" data-src="design/images/Frame.png" uk-img>

                            </div>
                        </div>
                    </div>
                    <div class="block02__fixed uk-width-expand uk-background-norepeat uk-background-cover" uk-parallax="bgy: -150" data-src="@UIHelper.StoreFilePath(lscuoi[1].Image)" uk-img>
                        <div class="uk-cover-container">
                            <canvas width="1920" height="1080"></canvas>
                        </div>
                    </div>
                </div>
            }

        }
    }
}
<!--Coffee & More-->
<!--/Coffee & More-->
<!--Tea & Another-->
<!--/Tea & Another-->
<!--Snacks-->
<!--/Snacks-->
