﻿@using MI.Entity.Enums;
@using ThungRac.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using ThungRac.Services.Article.Repository
@using ThungRac.Services.Zone.Repository
@using ThungRac.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@model ZoneDetail;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;
}
@{
    @*ViewData["Title"] = "BlogList1";
        Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";*@
    var blog_zone_parent = new ZoneByTreeViewMinify();
    var parent = zoneRepository.GetBreadcrumbByZoneId(Model.Id, culture_code).Where(r => r.level == 0).FirstOrDefault();
    if (parent != null)
    {
        blog_zone_parent = parent;
    }
    var list_zone_chlids = new List<ZoneByTreeViewMinify>();
}

@section styles {
    @*<style type="text/css">
        .banner-page {
            background: url(/@blog_zone_parent.Banner) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
    </style>*@
}
@{
    var list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
}

<section class="container">
    <nav aria-label="breadcrumb">
        @await Component.InvokeAsync("Breadcrumb", new { zone_id = Model.Id })
    </nav>
</section>
<section class="bg-fff main-news">
    <div class="container">
        <ul class="nav nav-tabs tab-mobie" id="myTab" role="tablist">
            @foreach (var item in list_zone_parent)
            {
                var slt = false;
                var atv = false;
                var link = LinkRedirectUrlUtility.BlogLinkUrl(item.Url);
                if (item.Id == Model.Id || item.Id == blog_zone_parent.Id)
                {
                    slt = true;
                    atv = true;
                }
                <li class="nav-item @(atv == true ? "selected" : "")">
                    <a class="nav-link cust-navTab @(atv == true ? "selected active" : "") show" href="@link" aria-selected="@slt">@item.Name</a>
                </li>
            }
        </ul>
        <div class="pt-4">
            <div class="row">
                <div class="col-md-9">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="newskm" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    @await Component.InvokeAsync("RedirectBlogListLeft", new { minify = blog_zone_parent, target_url = Model.Url })
                                </div>
                                <div class="col-md-8">
                                    @await Component.InvokeAsync("RedirectBlogListCenter", new { zone = Model,  pageIndex = index, pageSize = size })
                                </div>
                                @*<div class="">
                                    @await Component.InvokeAsync("Comment", new { object_id = blog_zone_parent.Id, object_type = (int)CommentType.ArticleZone })
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="pagin">
                    </div>
                </div>
                <div class="col-md-3">
                    @await Component.InvokeAsync("MenuRightBlog")
                </div>
            </div>
        </div>
    </div>
</section>



