﻿@using DienMayThoiDai.Services.Product.Repository
@using DienMayThoiDai.Services.Zone.Repository
@using MI.Entity.Enums
@using DienMayThoiDai.Services.BannerAds.Repository
@using DienMayThoiDai.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using DienMayThoiDai.Services.Article.Repository
@using Newtonsoft.Json
@using DienMayThoiDai.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using DienMayThoiDai.Services.Extra.ViewModel
@using DienMayThoiDai.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var Slide_Trangchu_Tren = new List<DetailBanerAds>();
    var Stem_Trangchu = new List<DetailBanerAds>();
    var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Trai_1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Phai_1 = new DetailBanerAds();
    var Slide_Body = new List<DetailBanerAds>();
    var SlideFootter = new List<DetailBanerAds>();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Banner_Chantrang = new DetailBanerAds();
    var VungHienThi_TrangChu_Tren_Phai = new List<DetailBanerAds>();


    //VungHienThi_TrangChu_Tren_Phai
    var VungHienThi_TrangChu_Tren_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "VungHienThi_TrangChu_Tren_Phai");

    var Slide_Trangchu_Tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Trangchu_Tren");
    var Stem_Trangchu_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Trangchu");
    var Banner_Trangchu_Tren_Nho2_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho2");
    var Banner_Trangchu_Tren_Nho1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho1");
    var Banner_Trangchu_body_tren_Trai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Trai_1");
    var Banner_Trangchu_body_tren_Phai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Phai_1");
    var Slide_Body_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body");
    var Slide_Body_Chan_Trang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body_Footter");
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    var Banner_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Chantrang");


    if (VungHienThi_TrangChu_Tren_Phai_Cache != null)
    {
        VungHienThi_TrangChu_Tren_Phai = JsonConvert.DeserializeObject<List<DetailBanerAds>>(VungHienThi_TrangChu_Tren_Phai_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Trangchu_Tren_Cahche != null)
    {
        Slide_Trangchu_Tren = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Trangchu_Tren_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Stem_Trangchu_Cahche != null)
    {
        Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Trangchu_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Trangchu_Tren_Nho2_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho2_Cahche.MetaData);
    }
    if (Banner_Trangchu_Tren_Nho1_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Trai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Trai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Trai_1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Phai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Phai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Phai_1_Cahche.MetaData);
    }
    if (Slide_Body_Cahche != null)
    {
        Slide_Body = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Body_Chan_Trang != null)
    {
        SlideFootter = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Chan_Trang.MetaData).Where(r => r.Show == true).ToList();
    }
   
    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Chantrang_Cahche != null)
    {
        Banner_Chantrang = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Chantrang_Cahche.MetaData);
    }

    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
    var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId");
    var SEOGoogle = bannerAdsRepository.GetConfigByName(culture_code, "SeoPhoto");
    //var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId ");
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@{
    //ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@section styles{
    @Html.Raw(configSEOUtility.ConfigSocialMeta("default appID", domain_full, title, DesWeb, SEOGoogle))
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))
}

@*<cache expires-after="@TimeSpan.FromMinutes(5)">*@
<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by-cookie=".AspNetCore.Culture, _LocationId">
    <div class="bg-f6f8f8 pt-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">

                </div>
                <div class="col-lg-6 col-md-8  col-sm-12 col-12 pl-md-0 pr-lg-0 ">
                    <div class="slide-banner-home">
                        <div class="swiper-container gallery-top-home">
                            <!--Thêm slide-->
                            <div class="swiper-wrapper">
                                @if (Slide_Trangchu_Tren.Count() > 0)
                                {
                                    var c = 1;
                                    foreach (var item in Slide_Trangchu_Tren.OrderBy(n => n.Order).ToList())
                                    {
                                        <div class="swiper-slide">
                                            <div class="image image-fixed">
                                                <a href="@item.Url">
                                                    @if (c == 1)
                                                    {
                                                        <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="d-block w-100" alt="@domain">
                                                    }
                                                    @if (c > 1)
                                                    {
                                                        <img data-src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="d-block w-100 swiper-lazy" alt="@domain">
                                                    }
                                                    @*@if (c > 1)
                                                        {
                                                            <img src="" data-src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="d-block w-100" alt="@domain">
                                                        }*@
                                                </a>
                                            </div>
                                        </div>
                                        c++;
                                        //src = "~/images/gray.jpg?v=1"
                                    }
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-container gallery-thumbs-home  ">
                            <div class="swiper-wrapper">
                                @if (Slide_Trangchu_Tren.Count() > 0)
                                {
                                    foreach (var item in Slide_Trangchu_Tren.OrderBy(n => n.Order).ToList())
                                    {
                                        <div class="swiper-slide">
                                            <div class="box-text">
                                                <div class="text">
                                                    @item.Title
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8 col-sm-12 col-12 mt-md-3 mt-lg-0 ml-auto px-md-0 px-lg-3">
                    <ul class="list-group list-news-right mb-2 mt-3 mt-md-0">
                        <li class="list-group-item active">Trải nghiệm cùng Nhà Bếp Vui</li>
                        @{
                            var total_news_home = 0;
                            var news_show_home = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 1, culture_code, "", 1, 10, out total_news_home);
                            //var news_home_cut_1 = news_show_home.Skip(0).Take(3);
                            var news_home_cut_2 = news_show_home.Skip(0).Take(7);
                        }
                        @foreach (var item in VungHienThi_TrangChu_Tren_Phai)
                        {
                            //var link_target = string.Format("/{0}.html", item.Url);
                            <li class="list-group-item">
                                <a href="@item.Url" title="@item.Title">
                                    @item.Title
                                </a>
                            </li>
                        }
                    </ul>

                    <!--Thêm class d-none d-md-block-->
                    <a href="@Banner_Trangchu_Tren_Nho1.Url" title="" class="d-none d-md-block">
                        <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Tren_Nho1.Image, false)?v=@WebHelper.Version()" class="img-fluid mb-2 w-100" />
                    </a>
                    <a href="@Banner_Trangchu_Tren_Nho2.Url" title="" class="d-none d-md-block">
                        <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Tren_Nho2.Image, false)?v=@WebHelper.Version()" class="img-fluid mb-2 w-100" />
                    </a>
                    <!--Thêm class d-none d-md-block-->
                </div>
            </div>
        </div>
    </div>
    @{
        //Lay thong tin flash sale
        var time = DateTime.Now;
        var list_flash_sale = flashSaleRepository.GetFlashSaleByTime(time);
        var flash_sale_active = list_flash_sale.FirstOrDefault();
    }
    <div class="bg-f6f8f8">
        @if (flash_sale_active != null)
        {
            var f_link = string.Format("/{0}", "flash-sale");
            <section class="my-4 flash-sale" data-start-time="@flash_sale_active.StartTime" data-end-time="@flash_sale_active.EndTime.ToString("yyyy-MM-dd")">
                <div class="container ">
                    <div class="main-giatot-ee">
                        <div class="">
                            <div class="row mb-3 no-gutters">
                                <div class="col-12 d-flex flex-wrap">
                                    <a href="@f_link" class="align-self-center mr-2">
                                        <img src="~/images/change/Flashsale.svg?v=@WebHelper.Version()" class="img-fluid" />
                                    </a>
                                    <div class="timer d-flex align-self-center mr-2 ml-auto ml-md-0">
                                        <div id="hour">
                                            12
                                        </div>
                                        <div id="minute">
                                            12
                                        </div>
                                        <div id="second">
                                            12
                                        </div>
                                    </div>
                                    <a href="@f_link" class="btn btn-outline-light btn-sm px-lg-4 align-self-center">
                                        Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @{
                            var total_flashSale = 0;
                            var product_in_flashSale = flashSaleRepository.GetProductInFlashSale(flash_sale_active.Id, location_id, culture_code, 1, 10, out total_flashSale);
                        }
                        <!-- Slider main container -->
                        <div class="slide-product slide-1">
                            <div class="swiper-container ">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    @foreach (var item in product_in_flashSale)
                                    {
                                        var link_target = string.Format("/{0}.html", item.Url);
                                        <div class="swiper-slide">
                                            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                                <div class="tag-1">

                                                </div>

                                                <div class="tag-flashsale">
                                                    <img src="~/images/tag-flash-111x34.svg?v=1" class=" img-fluid" />
                                                </div>

                                                <div class="image">
                                                    <a href="@link_target"><img src="~/images/gray.jpg?v=1" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="img-fluid lazy" /></a>
                                                    <div class="tag-2">
                                                        <img src="" class="img-fluid " />
                                                    </div>
                                                </div>

                                                <div class="">
                                                    <h5 class="title">
                                                        <a href="@link_target" title="@item.Title">
                                                            @item.Title
                                                        </a>
                                                    </h5>
                                                    <div class="d-price">
                                                        <div class="price-new">
                                                            @UIHelper.FormatNumber(item.FlashSalePrice) đ/m2
                                                        </div>
                                                        <div class="price-old">
                                                            @UIHelper.FormatNumber(item.SalePrice)
                                                        </div>
                                                    </div>
                                                    <div class="infor-plus">
                                                        <div class="size small mb-1">
                                                            @item.SpecName: @item.SpecValue
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                @Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                @item.CountRate đánh giá
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- If we need navigation buttons -->
                            </div>
                            <div class="swiper-button-prev">
                                <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div class="swiper-button-next">
                                <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        <!-- test lai cho nay phat-->
        @{
            var list_zone_type_region = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Region, culture_code, 0, 1);
            var list_region_parents = list_zone_type_region.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).ToList();

            @*foreach(var item in list_region_parents)
                {
                    <h4>@item.Id - @item.Name </h4>
                }*@
        }
        <!--Khoi 5 sp 1 dong-->

        @if (list_region_parents.Count() >= 1)
        {
            var region_parent = list_region_parents[0];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "images/img-bepvui/background.png", type = HomeRegionEnum.FivePartOneLine })
        }
        <!--/Khoi 5 sp 1 dong-->
        <!--Khoi Banner-->
        <section class="slide-cate mb-3 mb-lg-4">
            <div class="container">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="row">
                        <!-- Slides -->
                        @if (Slide_Body.Count() > 0)
                        {
                            foreach (var item in Slide_Body.OrderBy(n => n.Order).ToList())
                            {
                                <div class="col-md-6 py-2">
                                    <div class="image">
                                        <img src="@UIHelper.StoreFilePath(item.Image,false)?v=@WebHelper.Version()" class="w-100" alt="" />
                                        <a href="@item.Url" class="text text-uppercase">
                                            <small>@item.Title</small>
                                            <h4 class="font-weight-bold">@item.Description</h4>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
        <!--/Khoi Banner-->
        <!--Khoi 20 sp-->

        @if (list_region_parents.Count() >= 2)
        {
            var region_parent = list_region_parents[1];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 2, banner = "", type = HomeRegionEnum.TwentyPart })
        }
        <!--/Khoi 20 sp-->
        <!--Khoi 5 sp 2 dong-->
        @if (list_region_parents.Count() >= 3)
        {
            var region_parent = list_region_parents[2];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 2, banner = "images/img-bepvui/giasock.png", type = HomeRegionEnum.FivePartTwoLine })
        }
        <!--/Khoi 5 sp 2 dong-->

        <section class="hangnb">
            <div class="container">
                <div class="bg-fff p-3">
                    <div class="tit-muc">Thương hiệu nổi bật</div>
                    <ul class="list-hangnb row">
                        @{
                            var list_manufactures = extraRepository.GetManufactures(culture_code);
                        }
                        @foreach (var item in list_manufactures.Skip(0).Take(12))
                        {
                            <li class="col-md-2 col-4 p-0">
                                <div class="hang-detail">
                                    <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100 filter-home" data-manu-id="@item.Id" alt="@item.Name">
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>

        <!--Banner-->
        <section class="mb-lg-4">
            <div class="container slide-banner-after-manu">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        @if (SlideFootter.Count() > 0)
                        {
                            if (SlideFootter.Count < 3)
                            {
                                var item = SlideFootter[0];
                                for (int i = 0; i < 3; i++)
                                {
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="@UIHelper.StoreFilePath(@item.Image,false)" class="img-fluid" alt="..." />
                                            <a href="@item.Url" class="text text-uppercase">
                                                <small>@item.Title</small>
                                                <h4 class="font-weight-bold">@item.Description</h4>
                                            </a>
                                        </div>
                                    </div>
                                }

                            }
                            if (SlideFootter.Count >= 3)
                            {
                                foreach (var item in SlideFootter.OrderBy(n => n.Order).ToList())
                                {
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="@UIHelper.StoreFilePath(@item.Image,false)" class="img-fluid" alt="" />
                                            <a href="@item.Url" class="text text-uppercase">
                                                <small>@item.Title</small>
                                                <h4 class="font-weight-bold">@item.Description</h4>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }

                        }
                    </div>
                </div>
            </div>
        </section>
        <!--/Banner-->
        @{
            var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1).OrderBy(r => r.SortOrder);
            var blog_parents = blog_zone.Where(r => r.ParentId == 0).FirstOrDefault();
            var blog_three = blog_zone.Skip(0).Take(3);
        }

        <!--Khoi video-->
        <div class="container">
            <div class="blog-video">
                <div class="heading pb-2 mb-3 d-flex">
                    <div class="h5 font-weight-600 mb-0 ">
                        Video
                    </div>
                    @{
                        var total_news_video = 0;
                        var list_news_video = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Video, 2, culture_code, "", 1, 10, out total_news_video);
                        var view_more_video = "javascript:void(0)";
                        if (list_news_video.FirstOrDefault() != null)
                        {
                            view_more_video = list_news_video.FirstOrDefault().ZoneUrl;
                        }
                    }
                    <div class="ml-auto">
                        <a href="@string.Format("/{0}", view_more_video)" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <div class="slide-video">
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @{
                                foreach (var item in list_news_video)
                                {
                                    var link_tar = string.Format("/{0}.html", item.Url);
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="video-img">
                                                <a href="@link_tar">
                                                    <img src="~/images/gray.jpg?v=1" class="img-fluid lazy w-100" data-src="@UIHelper.StoreFilePath(item.Avatar)" />
                                                    <div class="play-yt">
                                                        <img src="~/images/youtube.svg?v=1" class="">
                                                    </div>
                                                </a>
                                            </div>
                                            <h5 class="title">
                                                <a rel="nofollow" href="javascript:void(0)" title="@item.Title">@item.Title</a>
                                            </h5>
                                            <div class="time">
                                                @item.CreatedDate.ToString("dd/MM/yyyy hh:mm");
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Khoi tin tuc-->
        <section class="news">
            <div class="container p-mb-0">
                <div class="row no-gutters">
                    @foreach (var item in blog_three)
                    {
                        var link_tar_blog = "javascript:void(0)";
                        var t = 0;
                        var bai_viet_insize = articleRepository.GetArticlesInZoneId_Minify_FullFilter(item.Id, item.Type, (int)TypeArticle.Blog, 2, culture_code, "", 1, 2, out t);
                        var bv1 = bai_viet_insize.Skip(0).Take(1).FirstOrDefault();
                        var bv2 = bai_viet_insize.Skip(1).Take(1).FirstOrDefault();
                        <div class="col-md-4">
                            <div class="item-product">
                                <div class="d-flex apc">
                                    <div class="cate-news">
                                        @item.Name
                                    </div>
                                    <a href="@link_tar_blog" class="link-view-more">
                                        Xem thêm <i class="far fa-plus" style="color:#3AB54A;"></i>
                                    </a>
                                </div>
                                @if (bv1 != null)
                                {
                                    var l = string.Format("/{0}.html", bv1.Url);
                                    <a href="@l">
                                        <img src="@UIHelper.StoreFilePath(bv1.Avatar)" class="w-100" style="height: 200px;" alt="">
                                        <div class="tit-news">
                                            @bv1.Title
                                        </div>
                                    </a>
                                    <p class="trl-news">@Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(bv1.Description), 20, "..."))</p>
                                }
                                @if (bv2 != null)
                                {
                                    var l = string.Format("/{0}.html", bv2.Url);
                                    <div class="news-phu border-top">
                                        <a href="@l">
                                            <div class="tit-news">
                                                @bv2.Title
                                            </div>
                                        </a>
                                        <p class="trl-news">@Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(bv2.Description), 20, "..."))</p>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <!--Khoi tim kiem nhieu-->
    </div>
</cache>
    
    @*</cache>*@

    @section scripts{
        @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@
        @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>*@
        @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js?v=1" ></script>*@
        <script>
            $('.slide-sock').slick({
                autoplay: false,
                autoplaySpeed: 2500,
                arrows: false,
                slidesToShow: 1,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }]
            });

            $('.next-2').click(function () {
                $(".slide-sock").slick('slickNext');
            });
            $('.pre-2').click(function () {
                $(".slide-sock").slick('slickPrev');
            });
        </script>
        <script type="text/javascript" src="~/js/controller/homeController.js?v=@WebHelper.Version()"></script>
    }
