﻿@using LacWebsite.Services.Product.ViewModel
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.Product.Repository
@using LacWebsite.Services.Article.ViewModel
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.Extra.ViewModel
@using LacWebsite.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using MI.Entity.Enums
@using Newtonsoft.Json
@using MI.Entity.CustomClass
@using Microsoft.AspNetCore.Http.Extensions
@using MI.Entity.Models
@using MI.Dal.IDbContext
@using LacWebsite.Utility
@inject IHttpContextAccessor HttpContextAccessor
@using LacWebsite.Utility
@inject ICookieUtility cookieUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IProductRepository productRepository
@inject IConfigSEOUtility configSEOUtility
@inject IViewLocalizer Localizer
@inject IZoneRepository zoneRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    //HttpContext.Current.Request.Url.AbsoluteUri;
    var domain_full = Context.Request.GetDisplayUrl();
}
@{
    ViewData["Title"] = "ProductDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var detail = ViewBag.Infomation as ProductDetail;

    var setification_detail = ViewBag.Spectification as List<ProductSpectificationDetail>;
    var product_same_zone = ViewBag.SameZone as List<ProductMinify>;
    var same_total = ViewBag.SameTotal;
    var zone_id = ViewBag.Zone;
    var zone_url = ViewBag.ZoneUrl;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;

    var product_price_details = ViewBag.ListLocation as List<ProductPriceInLocationDetail>
    ;
    var default_price_detail = ViewBag.DefaultLocationPrice as ProductPriceInLocationDetail;
    var combo = ViewBag.Combo as List<ProductMinify>
        ;
    var promotions = ViewBag.Promotion as List<PromotionInProduct>
        ;
    var comments = ViewBag.Comments as List<CommentDetail>
        ;
    var meta_file = new FileProduct();
    if (detail.MetaFile != null)
    {
        meta_file = Newtonsoft.Json.JsonConvert.DeserializeObject<FileProduct>(detail.MetaFile);
    }
    var lstLink = new List<DetailBanerAds>();
    var lstLink_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Hau_Mai_1");
    if (lstLink != null)
    {
        lstLink = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstLink_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    var lstXay = new List<DetailBanerAds>();
    var lstXay_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_CauHinhXay");
    if (lstXay_Cache != null)
    {
        lstXay = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstXay_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
}
@*
    public string ConfigShemaOrg(string domain_full,string title, string avatar, DateTime createdDate, DateTime modifiedDate, string metaTitle, string web_name,string logo, string description)
    public string ConfigSocialMeta(string fbAppId = "default fbAddId", string url = "default url", string title = "default title", string description = "default description", string image = "default image")
    public string ConfigMeta(string title, string description, string keyword)

*@
@inject IViewLocalizer _localizer

@{
    var zones = zoneRepository.GetZoneDetail(detail.ZoneId, culture_code);
    var bg = "/images/home/slide.png";
    if (!string.IsNullOrEmpty(zones.Background))
    {
        bg = UIHelper.StoreFilePath(zones.Background, false);
    }
}

@if (detail != null)
{
    <style>
        .product-detail-container img {
            max-width: 100%;
        }
    </style>
    @*<div class="container my-3">
            @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
        </div>*@
    if (zones != null)
    {
        <section class="home" id="home" style="background: url(@bg) no-repeat center">
            <div class="container max-width">
                <div class="home-content">
                    <div class="text-1">@zones.Name</div>
                    <!-- <div class="text-3">And I'm a <span class="typing"></span></div> -->
                    <div class="text-2">
                        @Html.Raw(zones.Description)
                    </div>
                    <a href="@LinkRedirectUrl.LinkZoneRedirect(zones.Url)">XEM NGAY</a>
                </div>
            </div>
        </section>
    }
    <section class="main-cate">
        <div class="bg-bread">
            <div class="container">
                <nav aria-label="breadcrumb">
                    @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="titl-top-cate">@detail.Title</div>
            <div class="d-flex">
                <div class="icon-news">
                    <i class="fal fa-calendar-alt"></i> @detail.CreatedDate.ToString("dd/MM/yyyy")
                </div>
                <div class="icon-news">
                    <i class="far fa-user"></i> @detail.CreatedBy
                </div>
                <div class="icon-news">
                    <i class="far fa-eye"></i> @detail.ViewCount
                </div>
            </div>
            <div class="main-all-nhachinh">
                <div class="row">
                    <div class="col-md-8">
                        <div class="bos-slile">
                            <div class="img-prod-dtail">
                                @{
                                    var avt_arr = detail.AvatarArray.Split(",");
                                }
                                <div class="slide-room-detail" data-count-image="@avt_arr.Length">

                                    @foreach (var item in avt_arr)
                                    {
                                        <div class="img-room-detail">
                                            <img src="@UIHelper.StoreFilePath(item,false)" class="w-100 cus-img-bos" alt="@detail.Title">
                                        </div>
                                    }

                                </div>
                            </div>
                            <div id="count-avt-arr" data-total="@avt_arr.Length" style="display:none"></div>
                            <div class="" style="position: relative;">
                                <div class="img-thumb">
                                    @foreach (var item in avt_arr)
                                    {
                                        <div class="img-room-detail-1">
                                            <img src="@UIHelper.StoreFilePath(item)" class="cust-img-thumb" alt="@detail.Title">
                                        </div>
                                    }

                                </div>
                                <div class="arrow-thumb">
                                    <div class="pre-thumb">
                                        <img src="./images/product-detail/arrow.png" alt="">
                                    </div>
                                    <div class="next-thumb">
                                        <img src="./images/product-detail/arrow1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="mota-duan">
                                @Html.Raw(detail.Description)
                            </p>
                            <p class="txt-chitiet">Thông tin Chi Tiết</p>
                            <div class="product-detail-container product-detail" data-id="@detail.Id">
                                @Html.Raw(detail.Content)
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="box-info">
                            <div class="box-info-duan">
                                THÔNG TIN DỰ ÁN
                            </div>
                            <div class="form-row mb-4">

                                @{
                                    var spec_first_2 = setification_detail.Skip(0).Take(2);
                                    var spec_remain = setification_detail.Skip(2);
                                }

                                @foreach (var item in spec_first_2)
                                {
                                    <div class=" col-12">
                                        <label>@item.Name:</label>
                                        <div class="form-control mb-3 name">
                                            @item.Value
                                        </div>
                                    </div>
                                }
                                @foreach (var item in spec_remain)
                                {
                                    <div class="col-6">
                                        <label>@item.Name:</label>
                                        <div class="form-control mb-3 name">
                                            @item.Value
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="box-info mt-4">
                            <div class="box-info-duan">
                                DỰ TOÁN CHI PHÍ
                            </div>
                            <div class="form-row mb-4">
                                <div class="col-sm-12 col-12">
                                    <select class="form-control mb-3 pre-kieu-nha" required="">
                                        <option hidden="" value="">Bạn muốn xây gì?</option>
                                        @foreach (var item in lstXay)
                                        {
                                            <option value="@item.Title">@item.Title</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Diện tích:</label>
                                    <input type="text" class="form-control mb-3 pre-dien-tich" placeholder="m2" required="">
                                </div>
                                <div class="col-6">
                                    <label class="cpdk">Chi phí dự kiến (vnd):</label>
                                    <input type="text" class="form-control mb-3 pre-cpdk" placeholder="đ" required="">
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-tuvan" @*data-toggle="modal" data-target="#staticBackdrop"*@>
                                TƯ VẤN NGAY
                            </button>
                            <div class="txt-hotline">Hoặc gọi tư vấn 0925.895.079</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="comment">
                    <i class="fas fa-comment"></i> Ý KIẾN BÌNH LUẬN
                    @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })
                </div>
                <div class="txt-duanlq border-bottom">
                    CÁC DỰ ÁN LIÊN QUAN
                </div>
                <div class="all-newslq">
                    <div class="row">
                        @{
                            var lqtot = 0;
                            var lq = productRepository.GetProductInZoneByZoneIdMinify(detail.ZoneId, location_id, culture_code, 1, 4, out lqtot);
                        }
                        @foreach (var item in lq)
                        {
                            <div class="col-md-3">
                                <div class="news-nbat">
                                    <a href="@LinkRedirectUrl.LinkProductRedirect(item.Url)">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar,true)" class="w-100" alt="@item.Title">
                                    </a>
                                    <div class="tag">
                                        <img src="./images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                        <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>@item.CreatedDate.Day</b> <br>@item.CreatedDate.Month</div>
                                    </div>
                                </div>
                                <a href="@LinkRedirectUrl.LinkProductRedirect(item.Url)">
                                    <div class="titl-mn-news py-2">@item.Title</div>
                                </a>
                                <div class="d-flex">
                                    <div class="icon-news">
                                        <i class="far fa-user"></i> Bro Đào
                                    </div>
                                    <div class="icon-news" style="padding-left: 35px;">
                                        <i class="far fa-eye"></i> @item.ViewCount
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content form-tu-van">
                <div class="modal-header">
                    <h5 class="modal-title mdal-tuvan" id="staticBackdropLabel">ĐĂNG KÍ NHẬN TƯ VẤN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="form-row">
                        <div class="col-sm-6 col-12">
                            <label>Họ và tên:</label>
                            <input type="text" class="form-control mb-3 _lien_he_name" placeholder="Họ và tên" required>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="">Số điện thoại:</label>
                            <input type="text" class="form-control mb-3 _lien_he_phone" placeholder="Số điện thoại" required>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="">Email:</label>
                            <input type="text" class="form-control mb-3 _lien_he_email" placeholder="Email" required>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="">Dịch vụ cần tư vấn</label>
                            <select class="form-control mb-3 loai-xay">
                                <option hidden="" value="">Bạn muốn xây gì?</option>
                                @foreach (var item in lstXay)
                                {
                                    <option value="@item.Title">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="">Diện tích:</label>
                            <input type="text" class="form-control mb-3 p-dien-tich" placeholder="m2" required>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="">Chi phí dự kiến:</label>
                            <input type="text" class="form-control mb-3 p-du-kien" placeholder="đ" required>
                        </div>
                        <div class="col-sm-12 col-12">
                            <label for="">Ghi chú:</label>
                            <textarea rows="4" type="text" class="form-control _lien_he_nd" placeholder="Ghi chú" minlength="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer custuvan">
                    <button type="submit" class="btn mt-0 btn-submit-tuvan" data-project="@detail.Title" data-project-name="@detail.Id">
                        TƯ VẤN NGAY
                    </button>
                </div>
            </form>
        </div>
    </div>
}