﻿

@{
    //Common/CollaboratorsController

    ViewData["Title"] = "Cộng tác viên";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var seach = ViewBag.Seach;
}
@using Enterbuy.Data.SqlServer.ModelDto
@model List<OrderDetailViewModel>;
@section Styles
{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
    <style>
        .wrapper {
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            max-width: 640px;
        }

        .login {
            text-align: center;
            font-family: ROBOTO LIGHT;
            background: transparent url(/images/bg.png) repeat center top;
            min-height: calc(100vh - 55px);
            max-width: 100% !important;
        }

            .login > div {
                margin: 3% auto;
                max-width: 500px;
                border: 1px solid #ccc;
                padding: 25px 0;
                background-color: #fff;
            }

                .login > div > span {
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 1.5;
                }

                .login > div > * {
                    display: block;
                    margin-bottom: 25px;
                }

                .login > div.d1 > form > input {
                    background-image: url(/images/icon-phone-blue.png);
                    background-size: 14px 21px;
                }

                .login > div > form > input {
                    border: 1px solid #e0e0e0;
                    border-radius: 100px;
                    width: 300px;
                    height: 48px;
                    padding: 0 50px;
                    background-repeat: no-repeat;
                    background-position: 25px center;
                    margin-bottom: 15px;
                    font-size: 15px;
                }

                .login > div > form > * {
                    display: block;
                    margin: auto;
                    font-family: ROBOTO LIGHT;
                }

                .login > div > form > * {
                    display: block;
                    margin: auto;
                    font-family: ROBOTO LIGHT;
                }

            .login .btn {
                background-image: linear-gradient(-106deg,#51beed 2%,#288ad6 100%);
                box-shadow: 0 2px 6px 0 #9ed4ec;
                border-radius: 100px;
                width: 302px;
                height: 50px;
                border: none;
                text-transform: uppercase;
                color: #fff;
                font-size: 17px;
            }

            .login > div > img {
                max-width: 100%;
            }

        .cate {
            min-height: 600px;
        }

            .cate .list {
                padding: 25px;
                border: 1px solid #ccc;
                border-radius: 3px;
                overflow: hidden;
                position: relative;
            }

        .notfound_list {
            position: relative;
            overflow: hidden;
            text-align: center;
            padding: 40px 0;
        }

            .notfound_list a {
                color: #288ad6;
            }

            .notfound_list > p {
                font-size: 18px;
                font-weight: 600;
                margin: 10px 0;
            }

            .notfound_list > a.button_direct {
                border: 1px solid #288ad6;
                padding: 10px;
                display: block;
                margin: 0 auto 10px;
                width: 22%;
                border-radius: 4px;
            }

        .user {
            width: 100%;
            float: left;
        }

            .user > a.logout-h {
                font-weight: 600;
            }

            .user > a {
                float: right;
            }

        #table_id_wrapper {
            margin-top: 30px;
        }

        .buttons-excels {
            background-color: green !important;
            color: white !important
        }
    </style>
}
@if (String.IsNullOrEmpty(seach))
{
    <section class="wrapper login sx">
        <div class="d1 step1">
            <img src="/images/i1.png">
            <span>Tra cứu thông tin đơn hàng</span>
            <form id="frmGetEmail">
                <input type="text" id="txtEmail" required placeholder="Nhập email tra cứu">
                <label class="hide"></label>
                <button type="button" onclick="submitfrm()" class="btn">Tiếp tục</button>
            </form>
        </div>
    </section>
}
else
{
    if (Model != null && Model.Count > 0)
    {
        <div class="container">
            <div class="cate">
                <div class="user">
                    Chào bạn:
                    <b>@ViewBag.Email</b>

                    <a class="btn btn-default" href="/cong-tac-vien"><i class="fa fa-refresh"></i> Tra cứu email khác</a>
                </div>
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Sản phẩm dùng</th>
                            <th>Mã sử dụng</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1; }
                        @{ var group = Model.GroupBy(x => new { x.Id, x.OrderCode, x.CusName, x.CrearDate, x.Voucher }).ToDictionary(d => d.Key, d => d.Select(a => new OrderDetailViewModel() { Code = a.Code, LogPrice = a.LogPrice, Quantity = a.Quantity, Name = a.Name }).ToList());}


                        @foreach (var item in group)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @item.Key.OrderCode
                                </td>
                                <td>
                                    @item.Key.CusName
                                </td>
                                <td>
                                    @foreach (var itemp in item.Value)
                                    {
                                        <span> @itemp.Code - SL : @itemp.Quantity</span> <br /> <span>@itemp.Name</span>
                                    }

                                </td>
                                <th>@item.Key.Voucher</th>
                                <td>
                                    <span> @item.Key.CrearDate.ToString("dd/MM/yyyy HH:mm") </span>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    }
    else
    {
        <div class="container">
            <div class="cate">

                <div class="user">
                    Chào bạn:
                    <b>@ViewBag.Email</b>
                    <a class="btn btn-default" href="/cong-tac-vien"><i class="fa fa-refresh"></i> Tra cứu email khác</a>
                </div>


                <div class="list" id="list_order">
                    <div class="notfound_list">
                        <a href="/"><img src="/images/gio-hang-rong-desk.png" title="Tiếp tục tra cứu"></a>
                        <p>Bạn chưa có đơn hàng nào</p>
                        <a class="button_direct" href="/">Về trang chủ</a>
                        <div>
                            Bạn vui lòng liên hệ với bên đại lý nếu có thắc mắc
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script>
        function submitfrm() {
            var mail = $("#txtEmail").val();
            if (mail != null && mail.length > 0) {
                location.href = "/cong-tac-vien?email=" + $("#txtEmail").val() + "&search=1";
            } else {
                alert("Bạn chưa nhập mail");
            }
        }
        $('#table_id').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excelHtml5',
                autoFilter: true,
                text: 'Xuất file Excel',
                title: currentDateString()
            }],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
            }
        });

        function currentDateString() {
            var d = new Date(),
                minutes = '' + d.getMinutes(),
                hour = '' + d.getHours(),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;
            return [year, month, day, hour, minutes].join('');
        }
    </script>
}
