﻿@using KAOCoffee.Services.Product.Repository
@using KAOCoffee.Services.Zone.Repository
@using MI.Entity.Enums
@using KAOCoffee.Services.BannerAds.Repository
@using KAOCoffee.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using KAOCoffee.Services.Article.Repository
@using Newtonsoft.Json
@using KAOCoffee.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using KAOCoffee.Services.Extra.ViewModel
@using KAOCoffee.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository
@inject IZoneRepository zoneRepository

@using Utils
@{
    ViewData["Title"] = "DichVu";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    //var path = Context.Request.Path.ToString().Split("/")[2];


   
}

<!--Banner-->

@{
    var banner = bannerAdsRepository.GetBannerAds_By_Code(culture_code, (string.Format("Cooken_{0}_Banner", "TrangAbout")));
    if (banner != null)
    {
        var b = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(banner.MetaData);
        if (b != null)
        {

            <div class="home__section05 uk-section uk-background-norepeat uk-background-bottom-center" uk-height-viewport="offset-top: true;" data-src="images/Background1.png" uk-img>
                <div class="uk-container uk-container-small">
                    <div class="uk-flex-middle uk-child-width-1-2@@m uk-flex-right@@m uk-position-relative" uk-grid uk-scrollspy="target: .animation; cls: uk-animation-slide-bottom-small; delay: 500; repeat: false;">
                        <div class="" uk-toggle="cls: uk-position-center-left; mode: media; media: @@m">
                            <div class="home__section05__box1 facebook">
                                <h1 class="uk-h1 home__section05__box1__title uk-margin animation">
                                    @b.Title
                                </h1>
                                <div class="home__section05__box1__box uk-margin">
                                    @Html.Raw(b.Description)
                                </div>
                                <a href="" class="home__section05__box1__btn uk-border-rounded uk-button uk-button-secondary animation">Xem thêm</a>
                            </div>
                        </div>
                        <div class="uk-width-1-2@@m">
                            <div class="home__section05__box1__img animation" uk-scrollspy-class="uk-animation-scale-up">
                                <img src="@UIHelper.StoreFilePath(b.Image, false)" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<!--/Banner-->
<div class="uk-section about__section1" uk-height-viewport="offset-bottom: true;">
    <div class="uk-container uk-container-small">
        @{
            var khoi1 = bannerAdsRepository.GetBannerAds_By_Code(culture_code, (string.Format("Cooken_{0}_Khoi1", "TrangAbout")));
            if (khoi1 != null)
            {
                var k1 = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(khoi1.MetaData);
                if (k1 != null)
                {
                    <div class="uk-grid-small uk-grid-50-m uk-flex-middle uk-margin-medium mb-80-m" uk-grid>
                        <div class="uk-width-auto@@m uk-first-column">
                            <img src="@UIHelper.StoreFilePath(k1.Image)" alt="@k1.Title">
                        </div>
                        <div class="uk-width-expand">
                            @Html.Raw(k1.Description)
                        </div>
                    </div>
                }
            }
        }

        <div id="counter" class="uk-child-width-auto uk-flex-center uk-grid-small uk-grid-74-m uk-margin-medium" uk-grid uk-scrollspy="target: .home__section04__blog__box2; cls: uk-animation-fade; delay: 500">
            @{
                var khoiso = bannerAdsRepository.GetBannerAds_By_Code(culture_code, (string.Format("Cooken_{0}_KhoiSo", "TrangAbout")));
                if (khoiso != null)
                {
                    var ks = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DetailBanerAds>>(khoiso.MetaData);
                    if (ks != null)
                    {
                        foreach (var item in ks)
                        {
                            <div>
                                <div class="uk-text-center home__section04__blog__box2">
                                    <div class="home__section04__blog__box2__txt1"><span>@item.Title</span></div>
                                    <div class="home__section04__blog__box2__txt2">@Html.Raw(item.Description)</div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
        @{
            var khoi2 = bannerAdsRepository.GetBannerAds_By_Code(culture_code, (string.Format("Cooken_{0}_Khoi2", "TrangAbout")));
            if (khoi2 != null)
            {
                var k2 = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(khoi2.MetaData);
                if (k2 != null)
                {
                    <div class="uk-grid-small uk-grid-50-m uk-flex-middle uk-margin-medium" uk-grid>
                        <div class="uk-width-auto@@m uk-flex-last@@m uk-first-column">
                            <img src="@UIHelper.StoreFilePath(k2.Image)" alt="@k2.Title">
                        </div>
                        <div class="uk-width-expand">
                            @Html.Raw(k2.Description)
                        </div>
                    </div>
                }
            }
        }

    </div>
</div>
<!--LIÊN HỆ,HÌNH THỨC THANH TOÁN-->
<div class="home__section01 uk-section uk-background-norepeat uk-background-top-center" uk-height-viewport="offset-bottom: true" data-src="images/bg1.png" uk-img>
    <div class="uk-container uk-container-small">
        <div class="uk-text-center uk-margin home__boxCommon mb-96-m">
            <h2 class="uk-h2 uk-text-uppercase home__boxCommon__title">OUR PARTNERS</h2>
        </div>
        <div class="uk-margin-medium mb-120-m" uk-slider="finite: true;autoplay: true;">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@@m uk-flex-middle" uk-grid>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/Logo_MB_new.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/logo-cong-ty-funtap.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/download.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/luxstray-6.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/Logo_MB_new.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/logo-cong-ty-funtap.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/download.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="uk-text-center">
                            <img src="~/design/cooken-03-2021/images/lienhe/luxstray-6.png" alt="">
                        </div>
                    </li>
                </ul>

                <!--
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                -->

            </div>

            <ul class="home__dot1 uk-slider-nav uk-dotnav uk-flex-center uk-margin mt-37-m"></ul>

        </div>
    </div>
</div><!--/LIÊN HỆ,HÌNH THỨC THANH TOÁN-->
<!--/LỢI THẾ CỦA COOKEN AGENCY-->
