﻿@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Data.SqlServer.ModelDto
@using Utils
@using Enterbuy.Statics.Utilities

@model List<Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify>
@inject IZoneDao ZoneDao
@inject ICookieLocationUtility CookieUtility
@inject IPromotionDao PromotionDao
@{
    var banner = ViewBag.Banner;
    var slide = ViewBag.Slide;

    var location = CookieUtility.SetCookieDefault();

    var regionParent = ViewBag.RegionParent as ZoneByTreeViewMinify;
}

<section class="my-4 flash-sale">
    <div class="container px-0 px-md-3">
        <div class="bg-fff pt-3 pb-md-2 px-md-2 flash-sale-bg" style="background:url(@UIHelper.StoreFilePath(banner,false)) no-repeat top center;background-size: cover">
            <div class="row mb-3 no-gutters ">
                <div class="col-12 d-flex flex-wrap  ">
                    <div class="align-self-center color-F1D780 font-weight-600 h5 mx-auto mx-md-0 mb-0">
                        @regionParent.Name
                    </div>
                    <a href="@BaseBA.UrlRegion(regionParent.Url)" class="btn btn-outline-light btn-sm px-lg-4 ml-3 align-self-center d-md-block">
                        Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                    </a>
                </div>
            </div>
            @{ var total1 = 0;
                var productsInRegion1 = ZoneDao.GetProductInRegionByZoneIdMinify(regionParent.Id, location.LocationId, Utility.DefaultLang, 1, 10, out total1);
                var lstProductInPromotion = PromotionDao.CheckPromotion_ByProductId(productsInRegion1.Select(x => x.ProductId).ToList());
            }
            <!-- Slider main container -->
            <div class="slide-product slide-1">
                <div class="swiper-container swiper-container-horizontal">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        @foreach (var item in productsInRegion1)
                        {
                            var linkTarget = BaseBA.UrlProduct(item.ZoneUrl, item.Url);
                            <div class="swiper-slide">

                                <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                    @if (lstProductInPromotion.Any(x => x.ProductId == item.ProductId))
                                    {
                                        <div class="tag-gift"><i class="fa fa-gift"></i></div>
                                    }
                                    <div class="tag-1">
                                    </div>
                                    <div class="image" style="height:177px">
                                        <a href="@linkTarget"><img asp-append-version="true" data-src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid h-100 product-img lazy" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="" class="img-fluid " />
                                    </div>
                                    <div class="mt-2">
                                        <h2 class="title">
                                            <a href="@linkTarget" title="@item.Title">
                                                @item.Title
                                            </a>
                                        </h2>
                                        @if (item.SalePrice != item.Price)
                                        {
                                            <div class="d-price">
                                                <div class="price-new">
                                                    @UIHelper.FormatNumber(item.SalePrice) đ
                                                </div>
                                                <div class="price-old">
                                                    @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-price">
                                                <div class="price-new">
                                                    @UIHelper.FormatNumber(item.SalePrice)
                                                </div>
                                            </div>
                                        }
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    @Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    @item.CountRate đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- If we need navigation buttons -->
                </div>
                <div class="swiper-button-prev">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="swiper-button-next">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>