﻿@using MI.Entity.Enums;
@using XuongGiang.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using XuongGiang.Services.Article.Repository
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@model ZoneDetail;
@using Utils
@{
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var path = Context.Request.Path.ToString().Split("/")[1];
    var bvm = false;
    if (path == "bai-viet-moi")
    {
        bvm = true;
    }
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var total = 0;
    var list_bai_viet = articleRepository.GetArticlesInZoneParent(Model.Id, culture_code, index, size, out total);
    if (Model.Id <= 0)
    {
        //var t = 0;
        list_bai_viet = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.All, (int)TypeArticle.All, 2, culture_code, "", index, size, out total);
    }
    var bai_viet_top = list_bai_viet.FirstOrDefault();
    var bai_viet_con = list_bai_viet.Skip(1).Take(size - 1).ToList();


}
@{
    Layout = null;
}
<div class="paging-container" style="display:none" data-total="@total" data-size="@size" data-currentpage="@index"></div>
@if (!bvm)
{
    foreach (var item in list_bai_viet)
    {
        var link_tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
        if (!bvm)
        {
            <div class="col-md-4">
                <div class="ablog">
                    <a href="@link_tar">
                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                    </a>

                    <div class="nd-mota-blog">
                        <div class="icon-mota-blog">
                            <div>
                                <i class="far fa-user"></i> Admin
                            </div>
                            <div>
                                @item.CreatedDate.ToString("dd/MM/yyyy")
                            </div>
                            <div>
                                <i class="far fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <a href="@link_tar">
                            <div class="tit-blog">@item.Title</div>
                        </a>
                        <div class="line-ablog"></div>
                        <div class="d-flex" style="color: #888888;">
                            <div>
                                <i class="fal fa-eye"></i> @item.ViewCount
                            </div>
                            <div class="ml-2">
                                <i class="fal fa-comment-alt"></i> @item.CommentCount
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }


    }
}
else
{
<div class="all-blog-new">
    @foreach (var item in list_bai_viet)
    {
        <div class="ablog-new">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <a href="@LinkRedirectUrlUtility.BlogDetailUrl(item.Url)">
                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100 h-100" alt="@item.Title">
                    </a>
                    
                </div>
                <div class="col-md-6">
                    <div class="ablog h-100 m-0">
                        <div class="nd-mota-blog nd-mota-blog-new">
                            <div class="icon-mota-blog">
                                <div>
                                    <i class="far fa-user"></i> Admin
                                </div>
                                <div>
                                    @item.CreatedDate.ToString("dd/MM/yyyy")
                                </div>
                                <div>
                                    <i class="far fa-ellipsis-v"></i>
                                </div>
                            </div>
                            <a href="@LinkRedirectUrlUtility.BlogDetailUrl(item.Url)">
                                <div class="tit-blog-new">@item.Title</div>
                            </a>
                            <p class="pd-b-new">
                                @Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(item.Description),20,"...")))
                            </p>
                            <div class="line-ablog"></div>
                            <div class="icon-mota-blog">
                                <div class="d-flex" style="color: #888888;">
                                    <div>
                                        <i class="fal fa-eye"></i> @item.ViewCount
                                    </div>
                                    <div class="ml-3">
                                        <i class="fal fa-comment-alt"></i> @item.CommentCount
                                    </div>
                                </div>
                                <div>
                                    <a href="@LinkRedirectUrlUtility.BlogDetailUrl(item.Url)"><i class="fas fa-share"></i> Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
}



