﻿@using MI.Entity.Enums;
@using DiDongXanh_Web.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http

@using Newtonsoft.Json
@using DiDongXanh_Web.Services.BannerAds.Repository
@using DiDongXanh_Web.Services.Article.Repository
@using DiDongXanh_Web.Services.Zone.Repository
@using DiDongXanh_Web.Utility
@using Microsoft.AspNetCore.Http.Extensions
@using MI.Entity.Models
@using DiDongXanh_Web.Services.Extra.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository

@inject IBannerAdsRepository bannerAdsRepository
@inject IZoneRepository zoneRepository
@model ZoneDetail
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;

    var Banner_tintuc = new List<DetailBanerAds>();


    var Banner_tintuc_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_tintuc");

    if (Banner_tintuc_cache != null)
    {
        Banner_tintuc = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Banner_tintuc_cache.MetaData).Where(r => r.Show == true).ToList();
    }



}
@{
    @*ViewData["Title"] = "BlogList1";
        Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";*@
    var blog_zone_parent = new ZoneByTreeViewMinify();
    var parent = zoneRepository.GetBreadcrumbByZoneId(Model.Id, culture_code).Where(r => r.level == 0).FirstOrDefault();
    if (parent != null)
    {
        blog_zone_parent = parent;
    }
    var list_zone_chlids = new List<ZoneByTreeViewMinify>();
}

@section styles {
    @*<style type="text/css">
            .banner-page {
                background: url(/@blog_zone_parent.Banner) no-repeat center;
                min-height: 200px;
                background-size: cover;
                display: flex;
            }
        </style>*@
}
@{
    var list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);

}

<section class="container">
    <nav aria-label="breadcrumb">
        @await Component.InvokeAsync("Breadcrumb", new { zone_id = Model.Id })
    </nav>
</section>



<section class="bg-fff main-news page-news">
    <div class="container">
        <div class="blog-cate-horizontal">
            <ul class="blog-cate-horizontal__list" id="myTab" role="tablist">
                @foreach (var item in list_zone_parent)
                {
                    var slt = false;
                    var atv = false;
                    var link = LinkRedirectUrlUtility.BlogLinkUrl(item.Url);
                    if (item.Id == Model.Id || item.Id == blog_zone_parent.Id)
                    {
                        slt = true;
                        atv = true;
                    }
                    @*<li class="nav-item @(atv == true ? "selected" : "")">
                            <a class="nav-link cust-navTab @(atv == true ? "selected active" : "") show" href="@link" aria-selected="@slt">@item.Name</a>
                        </li>*@
                    <li class="blog-cate-horizontal__item  @(atv == true ? "selected" : "")">
                        <a class="blog-cate-horizontal__link cust-navTab @(atv == true ? "selected active" : "") show" href="@link" aria-selected="@slt">@item.Name</a>
                    </li>
                }
            </ul>
        </div>

        <div class="page-news__wrap ">

            @if (@blog_zone_parent.Url == "tin-tuc-moi"  || @blog_zone_parent.Url == "tin-tong-hop")
            {
                var t = 0;
                var list_all = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 50, out t);
                var list_newest = list_all.Take(1);
                var list_newest2 = list_all.Skip(1).Take(3);
                var list_newest3 = list_all.Skip(4).Take(5);
                <div class="paging-container" style="display:none" data-total="@list_all" data-size="@size" data-currentpage="@index"></div>
                <!-- Main -->
                <div class="page-news-main">
                    <div class="page-news-main__list">
                        @foreach (var item in list_newest)
                        {
                            var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);

                            <!-- Item -->
                            <div class="page-news-main__item item-highlight">
                                <div class="news-item-small">
                                    <div class="news-item-small__image">
                                        <a href="@link_Tar">
                                            <img src="@UIHelper.StoreFilePath(item.Avatar)" alt="@item.Title">
                                        </a>
                                    </div>
                                    <div class="news-item-small__content">
                                        <h4 class="news-item-small__title">
                                            <a href="@link_Tar" data-link="@item.Url">@item.Title</a>
                                        </h4>
                                        <div class="news-item-small__desc">
                                            @Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(item.Description), 20, "..."))
                                        </div>
                                        <div class="news-item-small__footer">
                                            <div class="news-item-small__time">@UIHelper.GetLongDate(item.CreatedDate) @item.CreatedDate.ToString("dd/MM/yyyy")</div>
                                            <a href="@link_Tar" class="news-item-small__link">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item -->
                        }
                        @foreach (var item in list_newest2)
                        {
                            var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                            <!-- Item -->
                            <div class="page-news-main__item">
                                <div class="news-item-small">
                                    <div class="news-item-small__image">
                                        <a href="@link_Tar">
                                            <img src="@UIHelper.StoreFilePath(item.Avatar)" alt="@item.Title">
                                        </a>
                                    </div>
                                    <div class="news-item-small__content">
                                        <h4 class="news-item-small__title">
                                            <a href="@link_Tar" data-link="@item.Url">@item.Title</a>
                                        </h4>
                                        <div class="news-item-small__desc">
                                            @Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(item.Description), 20, "..."))
                                        </div>
                                        <div class="news-item-small__footer">
                                            <div class="news-item-small__time">@UIHelper.GetLongDate(item.CreatedDate) @item.CreatedDate.ToString("dd/MM/yyyy")</div>
                                            <a href="@link_Tar" class="news-item-small__link">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item -->
                        }

                    </div>

                    <div class="page-news-main__video">
                        <h4 class="page-news-main__video-title">
                            Video
                        </h4>
                        <div class="page-news-main__video-list">
                            <div class="swiper js-video-slide">
                                <div class="swiper-wrapper page-news-main__video-wrap">
                                    <!-- Item -->
                                    <div class="swiper-slide page-news-main__video-item">
                                        <div class="video-item-grid">
                                            <div class="video-item-grid__iframe">
                                                <iframe src="https://www.youtube.com/embed/0Mp8ansFY9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                            </div>
                                            <div class="video-item-grid__content">
                                                <h4 class="video-item-grid__title">
                                                    <a href="chi-tiet-tin-tuc.html">
                                                        KHAI TRƯƠNG HỆ THÔNG SIÊU THỊ SMART PHONE DIDONGXANH 1
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                    <!-- Item -->
                                    <div class="swiper-slide page-news-main__video-item">
                                        <div class="video-item-grid">
                                            <div class="video-item-grid__iframe">
                                                <iframe src="https://www.youtube.com/embed/0Mp8ansFY9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                            </div>
                                            <div class="video-item-grid__content">
                                                <h4 class="video-item-grid__title">
                                                    <a href="chi-tiet-tin-tuc.html">
                                                        KHAI TRƯƠNG HỆ THÔNG SIÊU THỊ SMART PHONE DIDONGXANH 2
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                    <!-- Item -->
                                    <div class="swiper-slide page-news-main__video-item">
                                        <div class="video-item-grid">
                                            <div class="video-item-grid__iframe">
                                                <iframe src="https://www.youtube.com/embed/0Mp8ansFY9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                            </div>
                                            <div class="video-item-grid__content">
                                                <h4 class="video-item-grid__title">
                                                    <a href="chi-tiet-tin-tuc.html">
                                                        KHAI TRƯƠNG HỆ THÔNG SIÊU THỊ SMART PHONE DIDONGXANH 3
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                    <!-- Item -->
                                    <div class="swiper-slide page-news-main__video-item">
                                        <div class="video-item-grid">
                                            <div class="video-item-grid__iframe">
                                                <iframe src="https://www.youtube.com/embed/0Mp8ansFY9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                            </div>
                                            <div class="video-item-grid__content">
                                                <h4 class="video-item-grid__title">
                                                    <a href="chi-tiet-tin-tuc.html">
                                                        KHAI TRƯƠNG HỆ THÔNG SIÊU THỊ SMART PHONE DIDONGXANH 4
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>

                    <div class="page-news-main__list">
                        @foreach (var item in list_newest3)
                        {
                            var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);


                            <!-- Item -->
                            <div class="page-news-main__item">
                                <div class="news-item-small">
                                    <div class="news-item-small__image">
                                        <a href="@link_Tar">
                                            <img src="@UIHelper.StoreFilePath(item.Avatar)" alt="@item.Title">
                                        </a>
                                    </div>
                                    <div class="news-item-small__content">
                                        <h4 class="news-item-small__title">
                                            <a href="@link_Tar" data-link="@item.Url">@item.Title</a>
                                        </h4>
                                        <div class="news-item-small__desc">
                                            @Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(item.Description), 20, "..."))
                                        </div>
                                        <div class="news-item-small__footer">
                                            <div class="news-item-small__time">@UIHelper.GetLongDate(item.CreatedDate) @item.CreatedDate.ToString("dd/MM/yyyy")</div>
                                            <a href="@link_Tar" class="news-item-small__link">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item -->
                        }
                    </div>
                    @*<div class="pagin">
                    </div>*@
                    <!-- Pagination -->
                    <!--<nav class="pagination-box">
                <ul class="pagination-box__list">
                    <li class="pagination-box__item">
                        <a class="pagination-box__link" href="#"><i class="fa fa-angle-left"></i></a>
                    </li>
                    <li class="pagination-box__item">
                        <a class="pagination-box__link active" href="#">1</a>
                    </li>
                    <li class="pagination-box__item">
                        <a class="pagination-box__link" href="#">2</a>
                    </li>
                    <li class="pagination-box__item">
                        <a class="pagination-box__link" href="#">3</a>
                    </li>
                    <li class="pagination-box__item">
                        <a class="pagination-box__link" href="#">4</a>
                    </li>
                    <li class="pagination-box__item">
                        <a class="pagination-box__link" href="#">5</a>
                    </li>
                    <li class="pagination-box__item">
                        <a class="pagination-box__link" href="#"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </nav>-->
                    <!-- End Pagination -->
                </div>
                <!-- End Main -->

            }
            else
            {

                <!-- Left -->
                <div class="page-news-left">
                    <div class="blog-cate-vertical">
                        @await Component.InvokeAsync("RedirectBlogListLeft", new { minify = blog_zone_parent, target_url = Model.Url })
                    </div>
                </div>
                <!-- End Left -->
                <!-- Main -->
                <div class="blog-detail page-news-main page-news-main--two">
                    @await Component.InvokeAsync("RedirectBlogListCenter", new { zone = Model, pageIndex = index, pageSize = size })
                    <div class="pagin">
                    </div>

                    <!-- End Pagination -->
                </div>
                <!-- End Main -->
            }
            <!-- Right -->
            <div class="page-news-right">
                <!-- News -->
                <div class="page-news-right__news">
                    @await Component.InvokeAsync("MenuRightBlog")
                </div>

                @if (Banner_tintuc.Count() > 0)
                {
                    var c = 1;
                    foreach (var item in Banner_tintuc.OrderBy(n => n.Order).ToList())
                    {
                        <!-- Banner -->
                        <div class="page-news-right__banner mobi-hidden">
                            <a href="#">
                                <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" alt="@domain">
                            </a>
                        </div>
                        <!-- End Banner -->
                        c++;
                    }
                }


            </div>
        </div>

    </div>
</section>



