﻿@using System.IO
@using Enterbuy.WebInterface.Models
@using Microsoft.AspNetCore.Hosting

@inject IHostingEnvironment env

<form id="order-form">
    <section class="list-product-cart">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="font-weight-bold mb-3">Giỏ hàng</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless jan-table-cart mb-4">
                            <thead class="sm-d-none">
                                <tr>
                                    <th>
                                        <label class="label-checkbox mb-0 ">
                                            Sản phẩm
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody class="_binding_order"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <section class="infor-customer">
                        <form>
                            <partial name="~/Views/Product/_InfoCustommer.cshtml" />
                            @*@{
                                    var provinces_result = new Dictionary<string, TinhThanh>();
                                    var provinces_json_part = env.WebRootFileProvider.GetFileInfo("hanhchinhvn-master/dist/tinh_tp.json")?.PhysicalPath;
                                    if (provinces_json_part != null)
                                    {
                                        var file_content = File.ReadAllText(provinces_json_part);
                                        if (file_content != null)
                                        {
                                            provinces_result = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, TinhThanh>>(file_content);

                                        }
                                    }
                                }
                                <div class="heading">
                                    Chọn địa chỉ và thời gian nhận hàng
                                </div>
                                <div class="form-row mb-4">
                                    <div class="col-sm-6 col-12">
                                        <select class="form-control mb-3 tinh-thanh" required="">
                                            <option hidden value="">Chọn Tỉnh/Thành</option>
                                            @foreach (var item in provinces_result)
                                            {
                                                <option value="@item.Key">@item.Value.name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <select class="form-control mb-3 quan-huyen" disabled required>
                                            <option hidden value="">Chọn Quận/Huyện</option>
                                            <option value="Tân Phú">Tân Phú</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <select class="form-control mb-3 phuong-xa" disabled required>
                                            <option hidden value="">Chọn Phường/Xã</option>
                                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" class="form-control mb-3 so-nha" placeholder="Số nhà">
                                    </div>
                                </div>*@
                            <div class="mb-3 d-flex flex-wrap">
                                <label class="label-checkbox w-50  ">
                                    Thanh toán tiền mặt khi nhận hàng
                                    <input type="checkbox" class="extra-infomation" checked data-content="Thanh toán tiền mặt khi nhận hàng">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox w-50">
                                    Chuyển qua tài khoản ngân hàng

                                    <input type="checkbox" class="extra-infomation" data-content="Chuyển qua tài khoản ngân hàng">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox w-50">
                                    Cà thẻ khi nhận hàng
                                    <input type="checkbox" class="extra-infomation" data-content="Cà thẻ khi nhận hàng">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox w-50">
                                    Xuất hóa đơn công ty (VAT 10%)
                                    <input type="checkbox" class="extra-infomation" data-content="Xuất hóa đơn công ty (VAT 10%)">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-row mb-4">
                                <div class="col-sm-12 col-12">
                                    <textarea type="text" rows="2" class="form-control mb-3" placeholder="Nhập thông tin viết hóa đơn"></textarea>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                    <div class="total-pay">
                        <div class="d-flex ">
                            <label class="mr-2">Tổng tiền:</label>
                            <div class="ml-auto">
                                <span id="order-sum" data-price="">0</span> đ
                            </div>
                        </div>
                        <div class="d-flex ">
                            <label class="mr-2">Giảm:</label>
                            <div class="ml-auto">
                                <span id="order-discount" data-price="">0</span>đ
                            </div>
                        </div>
                        <div class="d-flex mb-2">

                            @*<label class="label-checkbox mb-0 ">
                                    Có VAT
                                    <input type="checkbox" checked id="vat-order">
                                    <span class="checkmark"></span>
                                </label>*@
                            @*<div class="ml-auto">
                                    <span>10%</span>
                                </div>*@
                        </div>
                        <div class="d-flex">
                            <label class="mr-2">Thanh toán:</label>
                            <div class="ml-auto color-EE7D22 font-weight-600">
                                <span id="order-price" data-price="">0</span>đ
                            </div>
                        </div>
                        <button type="submit" class="btn btn-save w-100 my-2">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>



<!-- Modal đơn hàng -->
<div class="modal jan-modal  fade" id="modal-don-hang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Đơn hàng</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  pt-0" style="color: #4f4f4f;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <p> Mã số đơn hàng: <span class="font-weight-600 order-code">1029xxx2833</span></p>
                        <div class="row">
                            <div class="mb-3 col-lg-6 col-md-12 col-12">
                                <label class="font-weight-bold mb-1 ">Thông tin khách hàng</label>
                                <div class="customer-id" data-id="0" style="display:none;"></div>
                                <div>- <span class="prefix"></span>: <span class="font-weight-600 customer-name">Nguyễn Tiến Đức</span></div>
                                <div>- SĐT: <span class="font-weight-600 customer-phone"> 0292938333</span></div>
                                <div>- Địa chỉ:<span class="font-weight-600 customer-address"> Tân Triều - Hà Đông - Hà Nội</span></div>
                            </div>
                            <div class="mb-3 col-lg-6 col-md-12 col-12">
                                <label class="font-weight-bold mb-1">Thông tin khác </label>
                                <ul class="list_extra_infomation"></ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <p> Thời gian đặt hàng: <span class="font-weight-600 order-time">10 - 02 - 2019 </span></p>
                        <div class="mb-3">
                            <label class="font-weight-bold mb-1 ">Thông tin đơn hàng</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán</th>
                                        <th>Voucher</th>
                                        <th>Vat</th>
                                        <th>Tổng tiền</th>
                                        <th>Khuyến mại đi kèm</th>
                                    </tr>
                                </thead>
                                <tbody class="table-infomation-product">
                                    <tr class="table-report-item" style="display:none">
                                        <td class="product-id" hidden>1</td>
                                        <td class="product-name">SP A</td>
                                        <td class="product-quantity">5</td>
                                        <td class="product-price">1.000.000 đ</td>
                                        <td class="product-vourcher"></td>
                                        <td class="product-vat"></td>
                                        <td class="product-total-price">5.000.000 đ</td>
                                        <td class="product-promotion">
                                            <ul class="product-promotion-ul"></ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="d-flex">
                            <div>Số tiền cần thanh toán: </div>
                            <div class="ml-auto font-weight-600 color-EE7D22 total-payment"></div>
                            @*<div class="order-vat">(Đã bao gồm VAT)</div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                @*<button type="button" class="btn btn-link color-828282 px-2 border-right">In</button>
                    <button type="button" class="btn btn-link color-828282 px-2 border-right">Chia sẻ</button>
                    <button type="button" class="btn btn-link color-828282 px-2 border-right">Gửi email</button>
                    <button type="button" class="btn btn-link color-828282 mr-3">Sửa</button>*@
                <button type="button" class="btn btn-save">Hoàn thành</button>
            </div>
        </div>
    </div>
</div>

