﻿@using XuongGiang.Services.Zone.ViewModal
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Services.BannerAds.ViewModel
@using XuongGiang.Services.Extra.ViewModel
@using XuongGiang.Services.BannerAds.Repository
@using MI.Entity.Models
@using MI.Entity.Enums

@using XuongGiang.Services.Product.Repository
@using XuongGiang.Services.Extra.Repository
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils
@inject IHttpContextAccessor HttpContextAccessor
@using XuongGiang.Utility
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IExtraRepository extraRepository
@{

    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var zone_tree_view = ViewBag.ZoneTreeView as List<ZoneByTreeViewMinify>;
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var Banner_Danhmuc_Sanpham_Anhto = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhnho_tren = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhnho_duoi = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhto_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhto");
    var Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhnho_tren");
    var Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhnho_duoi");
    if (Banner_Danhmuc_Sanpham_Anhto_Cache != null)
    {
        Banner_Danhmuc_Sanpham_Anhto = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhto_Cache.MetaData);
    }
    if (Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche != null)
    {
        Banner_Danhmuc_Sanpham_Anhnho_tren = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche.MetaData);
    }
    if (Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche != null)
    {
        Banner_Danhmuc_Sanpham_Anhnho_duoi = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche.MetaData);
    }
    var index = (int)ViewBag.Index;
    var size = 9;

}
@section styles{
    @{ var bind_meta = "";}
    @if (zone_detail != null)
    {

        bind_meta += configSEOUtility.ConfigMeta(zone_detail.MetaTitle, zone_detail.MetaDescription, zone_detail.MetaKeyword);
        bind_meta += configSEOUtility.ConfigSocialMeta();
    }
    @Html.Raw(bind_meta)
    <style>
        .color-circle {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: inline-block;
            /*border: 1px solid #ffffff;*/
        }

        .picking-active {
            border: 1px solid red !important;
        }

        .detail img {
            max-width: 100%;
        }
    </style>
}
<div id="zone-current" data-id="@zone_detail.Id" style="display:none"></div>
@{ var list_zone_first = zone_tree_view.Where(r => r.level == 1);
    if (zone_tree_view.Count() == 1)
    {
        //list_zone_first = zone_tree_view.Where(r => r.level == 0);
        list_zone_first = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, (int)zone_detail.ParentId).Where(r => r.ParentId > 0 && r.ParentId == zone_detail.Id);
    }
}

<main>

    <section class="h-banner">
        @if (zone_detail.Id == 0)
        {
            <img src="~/XuongGiang/img/product-chung/banner.png" class="w-100" alt="">
        }
        else
        {
            if (string.IsNullOrEmpty(zone_detail.Banner))
            {
                <img src="~/XuongGiang/img/blog/banner-blog.png" class="w-100" alt="@zone_detail.Name">
            }
            else
            {
                <img src="@UIHelper.StoreFilePath(zone_detail.Banner, false)" class="w-100" alt="@zone_detail.Name">
            }
        }

    </section>
    <section class="all-product">
        <div class="container">
            <h2 class="tit-aphome">@zone_detail.Name</h2>
            <div class="txt-about-2 txt-about-2">@Html.Raw(zone_detail.Description)</div>
            <ul class="row list-products _binding_product">
                @*int zone_parent_id, int locationId, int pageIndex, int pageSize*@
                @await Component.InvokeAsync("ProductList", new { zone_parent_id = zone_detail.Id, locationId = location_id, pageIndex = index, pageSize = size })
            </ul>
            <div class="pagin">
                @*<ul class="number-page">
                        <li>
                            <a href="#" class="icon-pre">
                                <i class="fal fa-angle-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="nb-txt nb-hover ">1</a>
                        </li>
                        <li>
                            <a href="#" title="" class="nb-txt nb-hover">2</a>
                        </li>
                        <li>
                            <a href="#" title="" class="nb-txt nb-hover">3</a>
                        </li>
                        <li>
                            <a title="" class="nb-txt" style="border:none;">...</a>
                        </li>
                        <li>
                            <a href="#" title="" class="nb-txt nb-hover">20</a>
                        </li>
                        <li>
                            <a href="#" class="icon-pre">
                                <i class="fal fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </section>
</main>

@*@section Scripts{
        <script type="text/javascript" src="~/js/controller/productController.js" asp-append-version="true"></script>
    }*@

