﻿
@using Enterbuy.Data.SqlServer.ModelDto;
@model List<LocationViewModel>;


<div class="modal jan-modal fade" id="modal-khu-vuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Khu vực</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select id="location-selectbox" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                @*@await Component.InvokeAsync("LocationList")*@
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn " data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-save save-location" data-dismiss="modal" data-toggle="modal"
                        data-target="#modal-xn">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>