﻿<div class="container mb-3 client-cate">
    <div class="bg-fff   border-r-4">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-4 col-12 align-self-center ">
                <div class="px-3 py-2" style="font-size: 13px;line-height: 1.1;">Tìm kiếm theo thương hiệu</div>
            </div>
            <div class="col-lg-8 col-md-11 col-10">
                <div class="swiper-container slide-brand">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-1.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-2.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-3.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-4.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-5.jpg" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-2 text-center">
                <a href="javascript:;" onclick="expandClient()" class="btn btn-sm pt-2 "><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="full-client">
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filter-cate">
    <div class="container ">
        <div class="bg-fff border-r-4 px-3 py-2 mb-3">
            <div class="row">
                <div class="col-xl-2 col-md-6 col-sm-12 col-12">
                    <div class="form-group d-flex mb-2 mb-lg-0 small py-2">
                        <label for="formControlRange " class="mb-0 mr-3 ">Tìm kiếm theo</label>
                    </div>
                </div>
                <div class="col-xl-8 col-md-10 col-sm-12 col-12 small align-self-center">
                    <a href="" class="color-0B7640 mr-3">Dưới 4 triệu</a>
                    <a href="" class="color-0B7640 mr-3">Từ 4 -8 triệu</a>
                    <a href="" class="color-0B7640 mr-3">Từ 4 -8 triệu</a>
                    <a href="" class="color-0B7640 mr-3">Từ 4 -8 triệu</a>
                </div>
                <div class="col-xl-2 col-md-2 col-12 align-self-center">
                    <div class="dropdown d-inline-block select-local w-100 ">
                        <button class="btn form-control dropdown-toggle pl-0 pl-md-3" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Giá tăng dần
                        </button>
                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="javascript:;">Giá giảm dần</a>
                            <a class="dropdown-item" href="javascript:;">Bán chạy</a>
                            <a class="dropdown-item" href="javascript:;">Nổi bật nhất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>