﻿@using DiDongXanh_Web.Services.Product.ViewModel;
@using DiDongXanh_Web.Services.Zone.ViewModal;
@using DiDongXanh_Web.Services.Zone.Repository;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject IZoneRepository zoneRepository
@using DiDongXanh_Web.Utility
@inject ICookieUtility cookieUtility
@model List<ProductMinify>;
@{
    var total = ViewBag.Total;

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}

@{
    var list_product = Model;
    var product_with_big_thumb = list_product.FirstOrDefault();
    var product_child = list_product.Skip(1).Take(8).OrderBy(r => r.SalePrice);
    var zone_id = 0;
    var zone_url = "";
    if(product_with_big_thumb != null)
    {
        zone_id = product_with_big_thumb.ZoneId;
        var affected_zone = zoneRepository.GetZoneDetail(zone_id, culture_code);
        if(affected_zone != null)
        {
            zone_url = affected_zone.Url;
        }

    }
}

<div class="my-3">
    <div class="row mb-3  ">
        <div class="col-8">
            <a href="" class="h5 font-weight-bold ">Gợi ý cho bạn</a>
        </div>
        @if (total > 4)
        {
            var link = string.Format("/{0}", zone_url);
            <div class="col-4 text-right">
                <a href="@link" class="link-view-more">
                    Xem thêm <i class="fas fa-chevron-right ml-1 small"
                                aria-hidden="true"></i>
                </a>
            </div>
        }

    </div>
    <div class="row no-gutters">
        @foreach (var item in Model)
        {
            var link_tar = string.Format("/{0}.html",item.Url);
            <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                    <div class="tag-1">

                    </div>
                    @if (item.FlashSaleId > 0)
                    {
                        <div class="tag-flashsale">
                            <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                        </div>
                    }
                    <div class="image">
                        <a href="@link_tar">
                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)"
                                 class="img-fluid  w-100" alt="@item.Title" />
                        </a>
                        <div class="tag-2">
                            <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                        </div>
                    </div>

                    <h5 class="title">
                        <a href="@link_tar" title="@item.Title">
                            @item.Title
                        </a>
                    </h5>
                    <div class="text-left">
                        @{

                            decimal up_price = 0;
                            decimal down_price = 0;
                            if (item.SalePrice > 0 && item.SalePrice < item.Price)
                            {
                                up_price = item.SalePrice;
                                down_price = item.Price;
                            }
                            if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                            {
                                up_price = item.Price;
                                down_price = 0;
                            }
                        }
                        @if (item.FlashSaleId > 0)
                        {
                        <div class="price-new">
                            @UIHelper.FormatNumber(item.ProductPriceInFlashSale) / @item.Unit
                        </div>

                            <div class="price-old">
                                @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(up_price)))
                            </div>
                        }
                        else
                        {
                            if (down_price > 0)
                            {
                    <div class="price-new">
                        @UIHelper.FormatNumber(up_price)/ @item.Unit
                    </div>

                                <div class="price-old">
                                    @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(down_price)))
                                </div>
                            }
                            if (down_price == 0)
                            {
                    <div class="price-new">
                        @UIHelper.FormatNumber(up_price)/ @item.Unit
                    </div>

                                @*<div class="price-old">
                        @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(item.Price) + "đ"))
                    </div>*@
                            }

                        }

                    </div>
                    @*<div class="size small mb-1">
                        @item.SpecName: @item.SpecValue mm
                    </div>*@
                    <div class="review d-flex">
                        <div class="color-FFAB1B mr-2">
                            @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                        </div>
                        <div class="color-828282">
                            @item.CountRate đánh giá
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>