﻿@using MI.Entity.Enums;
@using XuongGiang.Services.Zone.ViewModal
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using XuongGiang.Services.Article.Repository
@using XuongGiang.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

}
@{
    ViewData["Title"] = "BlogDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@{
    var blog_zone_parent = new ZoneByTreeViewMinify();
    var detail = ViewBag.Detail as ArticleDetail;
    var zone_id = detail.ZoneId;
    var zone_target = zoneRepository.GetZoneDetail(zone_id, culture_code);
    var parent = zoneRepository.GetBreadcrumbByZoneId(zone_id, culture_code).Where(r => r.level == 0).FirstOrDefault();
    if (parent != null)
    {
        blog_zone_parent = parent;
    }
    var list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);

}
@section styles {

}
<main class="main-detail">
    <section class=" container ">
        <div class="noidung-blog">
            @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
            <div class="d-flex" style="color: #888888;">
                <div>
                    <i class="far fa-user"></i> @detail.Author
                </div>
                <div class="ml-4">
                    @detail.CreatedDate.ToString("dd/MM/yyyy")
                </div>
            </div>
            <h1 class="tit-blog-detail">@detail.Title</h1>
            <div class="noidung-detail">
                @Html.Raw(detail.Body)
            </div>
            
            <div class="share-blog-dt">

                <ul class="list-social">
                    <li>
                        <a href="#">
                            <img src="~/XuongGiang/img/home/icon-fb.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/XuongGiang/img/home/icon-ins.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="~/XuongGiang/img/home/icon-tiktok.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/XuongGiang/img/home/icon-tw.png" alt=""></a>
                    </li>
                    <li>
                        <i class="fal fa-eye" style="color: #888888;"></i> @detail.ViewCount
                    </li>
                    <li>
                        
                        <i class="fal fa-comment-alt" style="color: #888888;"></i> 34
                    </li>
                </ul>
                <div>
                    <a href="#"><i class="fas fa-share"></i> Chia Sẻ</a>
                </div>
            </div>
        </div>
    </section>
    <section class="baiviet-lq">
        <div class="container">
            <div class="tit-lq-blogdt">Bài Viết Liên Quan</div>
            <div class="row">
                @{
                        var t = 0;
                    var bvsz = articleRepository.GetArticlesInZoneId_Minify_FullFilter(detail.ZoneId, (int)TypeZone.Article, (int)TypeArticle.All, 2, culture_code, "", 1, 3, out t);
                }
                @foreach (var item in bvsz)
                {
                    var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                    <div class="col-md-4">
                        <div class="ablog">
                            <a href="@link_Tar">
                                <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                            </a>

                            <div class="nd-mota-blog">
                                <div class="icon-mota-blog">
                                    <div>
                                        <i class="far fa-user"></i> Admin
                                    </div>
                                    <div>
                                        @item.CreatedDate.ToString("dd/MM/yyyy")
                                    </div>
                                    <div>
                                        <i class="far fa-ellipsis-v"></i>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="tit-blog">@item.Title</div>
                                </a>
                                <div class="line-ablog"></div>
                                <div class="d-flex" style="color: #888888;">
                                    <div>
                                        <i class="fal fa-eye"></i> 1240
                                    </div>
                                    <div class="ml-2">
                                        <i class="fal fa-comment-alt"></i> 34
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>
            @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })
        </div>

    </section>
</main>

@section scripts {
}