﻿@using MI.Entity.Enums;
@using XuongGiang.Services.Zone.ViewModal
@using XuongGiang.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using XuongGiang.Services.Article.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@using Utils
@using XuongGiang.Services.BannerAds.Repository
@using MI.Entity.Models
@using XuongGiang.Utility
@using Microsoft.AspNetCore.Http.Extensions
@inject IBannerAdsRepository bannerAdsRepository;
@inject IViewLocalizer _localizer

@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var Banner_Tuyendung = new DetailBanerAds();
    var Banner_Tuyendung_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Tuyendung");
    if (Banner_Tuyendung_Cache != null)
    {
        Banner_Tuyendung = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Tuyendung_Cache.MetaData);
    }
}
@{
    ViewData["Title"] = "RecruitmentDetail";
}
@{

    var detail = ViewBag.Detail as ArticleDetail;
}

@section styles {
    <style type="text/css">
        .banner-page {
            background: url(@UIHelper.StoreFilePath(Banner_Tuyendung.Image)) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
        /*.detail img {
            max-width:100%;
            height:auto;
        }*/
         .detail-recuments img {
            max-width: 100% !important;
        }
    </style>

}
@if (detail != null)
{
    <main class="main-detail">
        <section class=" container ">
            <div class="noidung-blog">
                <nav aria-label="breadcrumb">
                    @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
                </nav>
                <div class="row">
                    <div class="col-md-7">
                        <div class="d-flex" style="color: #888888;">
                            <div>
                                <i class="far fa-user"></i> @detail.Author
                            </div>
                            <div class="ml-4">
                                @detail.CreatedDate.ToString("dd/MM/yyyy");
                            </div>
                        </div>
                        <h1 class="tit-blog-detail">@detail.Title </h1>
                        <div class="noidung-detail">
                            @Html.Raw(detail.Body)
                        </div>
                    </div>
                    <div class="col-md-5">
                        <form class="muc-ungtuyen">
                            @{
                                var re = "";
                                if (culture_code == "vi-VN")
                                {
                                    re = "Ứng Tuyển";
                                }
                                if (culture_code == "en-US")
                                {
                                    re = "Recruitment";
                                }
                            }
                            <div class="txt-ut-1">@re</div>
                            <div class="txt-ut-2 mb-3">@bannerAdsRepository.GetConfigByName(culture_code, "NoiDungTuyenDung")</div>
                            <div class="pb-3">
                                <input type="text" class="icss-ip form-control mb-2 mb-md-0 _lien_he_name" placeholder="@_localizer["Full Name"]" required="">
                            </div>
                            <div class="pb-3">
                                <input type="text" class="icss-ip form-control mb-2 mb-md-0 _lien_he_email" placeholder="@_localizer["Email"]" required="">
                            </div>
                            <div class="pb-3">
                                <input type="text" class="icss-ip form-control mb-2 mb-md-0 _lien_he_phone" placeholder="@_localizer["Phone"]" required="">
                            </div>
                            <div class="pb-3">
                                <input type="text" class="icss-ip form-control mb-2 mb-md-0 _lien_he_luong" placeholder="@_localizer["Salary"]" required="">
                            </div>
                            <div class="pb-3">
                                <textarea type="text" class="icss-ip form-control _lien_he_nd" rows="8" placeholder="@_localizer["More Info"]" required=""></textarea>
                            </div>
                            <a href="javascript:void(0)" class="submit-form-lien-he">
                                <div class="btn-now w-100">
                                    @_localizer["Join Now"]
                                </div>
                            </a>
                        </form>
                    </div>
                </div>
                <div class="share-blog-dt">

                    <ul class="list-social">
                        <li>
                            <a href="#">
                                <img src="img/home/icon-fb.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/home/icon-ins.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="img/home/icon-tiktok.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/home/icon-tw.png" alt=""></a>
                        </li>
                        <li>
                            <i class="fal fa-eye" style="color: #888888;"></i> 1240
                        </li>
                        <li>
                            <i class="fal fa-comment-alt" style="color: #888888;"></i> 34
                        </li>
                    </ul>
                    <div>
                        <a href="#"><i class="fas fa-share"></i> Chia Sẻ</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="baiviet-lq">
            <div class="container">
                <div class="tit-lq-blogdt">Bài Viết Liên Quan</div>
                <div class="row">
                    @{
                        var t = 0;
                        var bvsz = articleRepository.GetArticlesInZoneId_Minify_FullFilter(detail.ZoneId, (int)TypeZone.Article, (int)TypeArticle.All, 2, culture_code, "", 1, 3, out t);
                    }
                    @foreach (var item in bvsz)
                    {
                        var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                        <div class="col-md-4">
                            <div class="ablog">
                                <a href="@link_Tar">
                                    <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                                </a>

                                <div class="nd-mota-blog">
                                    <div class="icon-mota-blog">
                                        <div>
                                            <i class="far fa-user"></i> Admin
                                        </div>
                                        <div>
                                            @item.CreatedDate.ToString("dd/MM/yyyy")
                                        </div>
                                        <div>
                                            <i class="far fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="tit-blog">@item.Title</div>
                                    </a>
                                    <div class="line-ablog"></div>
                                    <div class="d-flex" style="color: #888888;">
                                        <div>
                                            <i class="fal fa-eye"></i> 1240
                                        </div>
                                        <div class="ml-2">
                                            <i class="fal fa-comment-alt"></i> 34
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                </div>
                @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })
            </div>

        </section>
    </main>
}


