﻿<div class="container">
    <div class="row ">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="recrui-content ">
                <h1 class="title">Nhân viên đào tạo</h1>
                <div class="color-828282 mb-4" style="font-size: 14px;">
                    <span class="mr-3 mb-2">
                        <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                    </span>
                    <span class="mr-3  mb-2">
                        <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />2
                    </span>
                    <span class="mr-3  mb-2">
                        <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Thỏa thuận
                    </span>
                </div>
                <div class="detail">
                    <p class="font-weight-600">
                        Mô tả công việc:
                    </p>
                    <p>
                        Trực tiếp đứng lớp đào tạo văn hóa doanh nghiệp cho nhân viên mới. Trực tiếp đứng lớp đào
                        tạo kỹ năng và nghiệp vụ cho nhân viên kinh doanh, CSKH, callcenter,… Đưa ra kế hoạch, xây
                        dựng và phối hợp với các bộ phận để đào tạo kỹ năng mềm, kiến thức nghiệp vụ bán hàng cho
                        nhân viên. <br />
                        Chuẩn bị tài liệu và tiến hành đào tạo về sản phẩm, dịch vụ, quy trình hay hệ thống mới.
                        Phân tích hiện trạng và yêu cầu về đào tạo, xác định đối tượng, trọng tâm đào tạo trong từng
                        giai đoạn để có hoạt động đào tạo phù hợp, tiến hành thường xuyên các hoạt động đào tạo cập
                        nhật, bổ sung kiến thức, rút kinh nghiệm cho nhân viên các phòng ban.
                    </p>
                    <p class="font-weight-600">
                        Yêu cầu công việc:
                    </p>
                    <p>
                        Yêu thích công việc đào tạo. <br />
                        Có khả năng phân tích, xây dựng quy trình. <br />
                        Tốt nghiệp Đại học trở lên. <br />
                        Hiểu biết về nhiều ngành nghề và xu thế lĩnh vực thương mại điện tử. <br />
                        Kỹ năng đào tạo, thuyết trình chuyên nghiệp. <br />
                        Sử dụng thành thạo các ứng dụng văn phòng. <br />
                        Kỹ năng động viên và khuyến khích nhân viên. <br />
                        Sẵn sàng đi công tác ngắn hoặc dài hạn. <br />
                    </p>

                    <p class="font-weight-600">
                        Quyền lợi được hưởng:
                    </p>
                    <p>
                        Mức lương: Thỏa thuận <br />
                        Môi trường văn hóa năng động, thân thiện và chuyên nghiệp <br />
                        Trang thiết bị làm việc tiện nghi, hiện đại. <br />
                        Được hưởng đầy đủ các quyền lợi về BHXH, BHYT, BHTN theo luật lao động. <br />
                        Thưởng định kì các ngày Lễ, Tết. <br />
                    </p>

                    <div class="d-flex facebook-btn justify-content-end my-4">
                        <div class="small mr-3">
                            <img src="~/images/eye.svg" class="img-fluid mr-2" />120 lượt xem
                        </div>
                        <button class="btn mr-2">
                            <i class="fas fa-thumbs-up mr-1"></i>Thích
                            <span>1.4K</span>
                        </button>
                        <button href="" class="btn">Chia sẻ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-lg-5">
            <div class="heading pb-2   mb-2 ">
                <div class="h4 font-weight-600 mb-0 ">
                    Ứng tuyển
                </div>
            </div>
            <div class="mb-4">
                <form class="form-ung-tuyen">
                    <div class="form-group">
                        <div class="form-control py-2 " style="color: #007DFF;">Chuyên viên kinh doanh</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Họ tên *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Email *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Số điện thoại *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Địa chỉ *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Mức lương mong muốn *">
                    </div>
                    <div class="form-group">
                        <textarea type="text" rows="5" class="form-control" id=""
                                  placeholder="Thông tin thêm"></textarea>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-sm-7 col-7 position-relative">
                            <input type="text" class="form-control" id="" placeholder="Gửi hồ sơ ngay">
                            <input type="file" class="form-control input-file">
                        </div>
                        <div class="col-sm-5 col-5">
                            <button class="btn btn-save btn-file">Chọn hồ sơ</button>
                            <input type="file" class="form-control input-file">
                        </div>
                        <div class="col-12">
                            <small class="form-text text-muted color-828282">* File đính kèm dung lượng tối đa 5MB</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-save w-100">Ứng tuyển</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <!--Gửi Comment-->
            <div class="row mb-3">
                <div class="col-md-8 col-sm-8 col-12 ">
                    <h5 class="font-weight-600 mb-3 mb-md-0 mt-1">165 Bình luận</h5>
                </div>
                <div class="col-md-4 col-sm-4 col-12 text-right">
                    <div class="search-comment">
                        <input class="form-control " type="text" placeholder="Search" />
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <form class="border border-r-4 mb-4 ">
                <textarea class="form-control " rows="5" placeholder="Type your topic here"
                          style="border: 0;"></textarea>
                <div class="border-top">
                    <div class="form-row p-2 ">
                        <div class="col-xl-2 col-md-2 col-12">
                            <div class="position-relative form-control text-center mb-2 mb-md-0"
                                 style="font-size: 14px;">
                                <img src="~/images/camera.svg" class="img-fluid" />
                                <input type="file" class="input-choose-file " accept="image/*">
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-12">
                            <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                   placeholder="Tên (bắt buộc)">
                        </div>
                        <div class="col-xl-4 col-md-4 col-12">
                            <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                   placeholder="Email (bắt buộc)">
                        </div>
                        <div class="col-xl-2 col-md-2 col-12">
                            <button class="btn btn-save px-5 mb-2 mb-md-0">Gửi</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="list-comment mb-5">
                <div class="media mb-3">
                    <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                    <div class="media-body">
                        <h6 class="name">Tomothy Flores</h6>
                        <div class="comment-ct ">
                            Cras sit amet nibh libero, in gravida nulla.
                        </div>
                        <div class="d-flex flex-wrap">
                            <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                            <a href="" href="" class="btn-link small mr-3 mb-2">
                                <i class="fas fa-thumbs-up mr-2"></i>Thích
                            </a>
                            <span class="time small mb-2">10/09/2019 10:46</span>
                        </div>
                        <div class="media sub  mt-3">
                            <a class="" href="#">
                                <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                     alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="name qtv">Media heading</h6>
                                <div class="qtv">Quản trị viên</div>
                                <div class="comment-ct">
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                    ante sollicitudin.
                                </div>
                                <div class="d-flex flex-wrap">
                                    <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                    <a href="" href="" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                    </a>
                                    <a href="" href="" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                    </a>
                                    <span class="time small mb-2">10/09/2019 10:46</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                    <div class="media-body">
                        <h6 class="name">Tomothy Flores</h6>
                        <div class="comment-ct ">
                            Cras sit amet nibh libero, in gravida nulla.
                        </div>
                        <div class="d-flex flex-wrap">
                            <a href="javascrip:;" class="btn-link small mr-3">Trả lời</a>
                            <a href="javascrip:;" class="btn-link small mr-3">
                                <i class="fas fa-thumbs-up mr-2"></i>Thích
                            </a>
                            <span class="time small">10/09/2019 10:46</span>
                        </div>
                        <div class="media sub  mt-3">
                            <a class="" href="#">
                                <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                     alt="...">
                            </a>
                            <div class="media-body">
                                <h6 class="name qtv">Media heading</h6>
                                <div class="qtv">Quản trị viên</div>
                                <div class="comment-ct">
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                    ante sollicitudin.
                                </div>
                                <div class="d-flex flex-wrap">
                                    <a href="javascrip:;" class="btn-link small mr-3 mb-2">Trả lời</a>
                                    <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                    </a>
                                    <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                    </a>
                                    <span class="time small">10/09/2019 10:46</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>