﻿@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Data.SqlServer.ModelDto
@using Utils
@inject IPromotionDao PromotionDao
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@{
   
    var domain = Context.Request.Host.ToString();
}
@model List<ProductMinify>;
@{
    var size = ViewBag.Total;
    var item_left = 2;
    var item_right = 3;
    var item_in_row = item_left + item_right;
    var number_of_page = size / item_in_row + 1;
}

@{
    var list_product = Model;
    var id = ViewBag.Id;
    var list_cutted = new List<List<ProductMinify>>();

    for (int i = 0; i < number_of_page; i++)
    {
        var r = Model.Skip(i * item_in_row).Take(item_in_row).ToList();
        list_cutted.Add(r);
    }
}

@if (list_cutted != null)
{
    foreach (var item_root in list_cutted)
    {
        var cut_left_item = item_root.Skip(0).Take(item_left);
        var cut_right_item = item_root.Skip(item_left).Take(item_right);
        <div class="row no-gutters mb-3 mb-md-0 clone-row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters">
                    @foreach (var item in cut_left_item)
                    {
                        var link_tar = BaseBA.UrlProduct("", item.Url);
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="item-product px-lg-4" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                <div class="tag-1">

                                </div>

                                <div class="image">
                                    <a href="@link_tar">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)"
                                             class="img-fluid h-100" alt="@item.Title" />
                                    </a>
                                </div>
                                <div class="tag-2">
                                    <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                </div>
                                <h3 class="title">
                                    <a href="@link_tar" title="@item.Title">
                                        @item.Title
                                    </a>
                                </h3>
                                <div class="text-left">
                                    @if (item.SalePrice != item.Price)
                                    {
                                        <div class="price-new">

                                            @(item.SalePrice <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.SalePrice)))
                                            @*@UIHelper.FormatNumber(item.SalePrice) đ*@
                                        </div>
                                        <span class="price-old">
                                            @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                        </span>
                                        @if (item.DiscountPercent > 0)
                                        {
                                            <b class="sale-percent">( - @item.DiscountPercent %)</b>
                                        }
                                    }
                                    else
                                    {
                                        <div class="price-new">
                                            @(item.SalePrice <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.SalePrice)))
                                            @*@UIHelper.FormatNumber(item.SalePrice) đ*@
                                        </div>
                                    }
                                </div>
                                <div class="size small mb-1">
                                    @if (!String.IsNullOrEmpty(item.SpecName) && !String.IsNullOrEmpty(item.SpecValue))
                                    {
                                        @Html.Raw($"{item.SpecName}:{item.SpecValue}");
                                    }
                                    @*@item.SpecName: @item.SpecValue*@
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                    </div>
                                    <div class="color-828282">
                                        @item.CountRate đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters h-100 ">
                    @foreach (var item in cut_right_item)
                    {

                        var link_tar = BaseBA.UrlProduct("", item.Url);
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                <div class="tag-1">

                                </div>
                                <div class="image">
                                    <a href="@link_tar">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)"
                                             class="img-fluid  w-100" alt="@item.Title" />
                                    </a>
                                    <div class="tag-2">
                                        <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                    </div>
                                </div>

                                <h3 class="title">
                                    <a href="@link_tar" title="@item.Title">
                                        @item.Title
                                    </a>
                                </h3>
                                <div class="text-left">
                                    @if (item.SalePrice != item.Price)
                                    {
                                        <div class="d-price">
                                            <div class="price-new">
                                                @UIHelper.FormatNumber(item.SalePrice)
                                            </div>
                                            <div class="price-old">
                                                @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price) ))
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="d-price">
                                            <div class="price-new">
                                                @UIHelper.FormatNumber(item.SalePrice)
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="size small mb-1">
                                    @item.SpecName: @item.SpecValue
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                    </div>
                                    <div class="color-828282">
                                        @item.CountRate đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
