﻿@using DiDongXanh_Web.Services.BannerAds.Repository
@using DiDongXanh_Web.Services.Product.ViewModel
@using DiDongXanh_Web.Services.Zone.ViewModal
@using DiDongXanh_Web.Services.Promotion.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@inject IHttpContextAccessor HttpContextAccessor
@using DiDongXanh_Web.Utility
@using System.IO;
@inject ICookieUtility cookieUtility
@inject IHostingEnvironment env
@inject IBannerAdsRepository bannerAdsRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    //var promotions = ViewBag.Promotions as List<PromotionViewModel>;
}
@model List<ProductMinify>;
@await Component.InvokeAsync("SEO_Breadcrumb", new { bread = new List<ZoneByTreeViewMinify>(), page = "gio-hang", type_page = "" })


<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Giỏ Hàng</li>
    </ol>
</div>
<!-- End Breadcrumb -->
<!--<div class="cart-detail">
    <div class="container">
        <div class="cart-detail__wrap">-->
<!-- List Product -->
<!--<div class="cart-detail-list">
    <div class="cart-detail-list__head">
        <h4 class="cart-detail-list__head-title">
            Giỏ hàng
        </h4>
        <a href="./index.html" class="cart-detail-list__head-link">
            <span>Quay lại mua hàng</span> <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <div class="cart-detail-list__main">-->
<!-- Item -->
<!--<div class="cart-detail__item">
    <label class="label-checkbox mobi-hidden">
        <input type="checkbox" checked>
        <span class="checkmark"></span>
    </label>
    <div class="cart-detail__item-image">
        <img src="~/design/images/products/pro-1.png" alt="Image Product" />
    </div>
    <div class="cart-detail__item-content">
        <div class="cart-detail__item-content-top">
            <h4 class="cart-detail__item-title">
                <a href="chi-tiet-san-pham.html">
                    iPhone 11 I Chính hãng VN/A
                </a>
            </h4>
            <div class="cart-detail__item-price">
                5.500.000đ
            </div>
        </div>
        <div class="cart-detail__item-type">Màu: xanh</div>
        <div class="cart-detail__item-content-main">
            <div class="cart-detail__item-desc">
                <p>- Chương trình khuyến mại:</p>
                <p>[HOT] Thu cũ lên đời giá cao - Thủ tục nhanh - Trợ giá thêm tới 1 triệu</p>
                <p>- Khuyến mãi hãng:</p>
                <p>[HOT] Thu cũ lên đời giá cao - Thủ tục nhanh - Trợ giá lên tới</p>
            </div>
            <a href="#" class="cart-detail__item-delete-mobi desktop-hidden">
                Xóa khỏi giỏ
            </a>
            <div class="cart-detail__item-amount">
                <button class="btn-sub" type="button">
                    <i class="fas fa-minus"></i>
                </button>
                <input type="number" value="1" minlength="1">
                <button class="btn-add" type="button">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <a href="#" class="cart-detail__item-delete mobi-hidden">
        <img src="~/design/images/icons/close.svg" alt="Icon Delete Product" />
    </a>
</div>-->
<!-- End Item -->
<!--</div>
    <div class="cart-detail-list__footer">
        <div class="cart-detail-list__footer-item">
            <span>Tổng tiền:</span>
            <span><strong>15.070.000 đ</strong></span>
        </div>
        <div class="cart-detail-list__footer-item">
            <span>Giảm</span>
            <span>-5.070.000 đ</span>
        </div>
        <div class="cart-detail-list__footer-item">
            <span><strong>Thanh toán</strong></span>
            <span class="item-total"><strong>17.070.000 đ</strong></span>
        </div>
        <div class="cart-detail-list__footer-item">
            <span class="item-free">
                <img src="~/design/images/icons/check-green.svg" alt="Icon Check" />
                Miễn phí giao hàng
            </span>
            <a href="#" class="item-coupon">Sử dụng mã giảm giá</a>
        </div>
    </div>
</div>-->
<!-- End List Product -->
<!-- Products Combo -->
<!-- End Products Combo -->







<div class="cart-detail">
    <div class="container">
        <form id="order-form" class="cart-detail__wrap">
            <div class="list-product-cart cart-detail-list">

                <div class="cart-detail-list__head">
                    <h4 class="cart-detail-list__head-title">
                        Giỏ hàng
                    </h4>
                    <a href="/" class="cart-detail-list__head-link back-buy">
                        <span>Quay lại mua hàng</span> <i class="fa fa-angle-right"></i>
                    </a>
                </div>

                <div class="cart-detail-list__main">

                    <div class="_binding_order"></div>
                    <!-- End Item -->
                    <!--<table class="table table-borderless jan-table-cart mb-4">
                    <thead class="d-none">
                        <tr>
                            <th>
                                <label class="label-checkbox mb-0 ">
                                    Sản phẩm
                                    <input type="checkbox" class="cbx-affectedd-all" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                            <th>Giá</th>-->
                    @* <th>Số lượng</th> *@
                    <!--<th class="d-none">Tổng tiền</th>
                                <th style="max-width:35px;">x</th>
                            </tr>
                        </thead>
                        <tbody class="_binding_order"></tbody>
                    </table>-->



                </div>
                <div class="total-pay">
                    <div class="d-flex ">
                        <label class="mr-2">Tổng tiền:</label>
                        <div class="ml-auto"><span id="order-sum" data-price="">0</span> đ</div>
                    </div>
                    <div class="d-flex">
                        <label class="mr-2">Giảm:</label>
                        <div class="ml-auto"><span id="order-discount" data-price="">0</span></div>
                    </div>
                    <div class="d-flex">
                        <label class="mr-2" style="font-weight:600;">Thanh toán:</label>
                        <div class="ml-auto bill-all-bv"><span id="order-price" data-price="">0</span> đ</div>
                    </div>
                    <div class="boxCouponCode" style="">
                        <div class="textcode" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Sử dụng mã giảm giá
                        </div>
                        @* <p>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Link with href
                                </a>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                     Sử dụng mã giảm giá
                                </button>
                            </p> *@
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body mt-2">
                                <div class="inputcode">
                                    <span data-value="0" data-type="0" style="display:none" class="data-voucher"></span>
                                    <input type="text" class="form-control" id="Coupon" data-code="" maxlength="20" name="Coupon" autocomplete="off" placeholder="Nhập mã giảm giá">
                                    <button type="button" id="btnCoupon">Áp dụng</button>
                                </div>
                            </div>
                            <div style="width:100%" data-codepromotion="" class="mess-coupon hidden"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Products Combo -->
            <div class="products-combo mt-20">
                <h4 class="products-combo__title">
                    Sản phẩm bán kèm
                </h4>
                <div class="products-combo__wrap">
                    <div class="products-combo__list">
                        <div class="swiper js-products-combo">
                            <div class="swiper-wrapper products-slide__wrap">
                                <!-- Item -->
                                <div class="swiper-slide products-slide__item">
                                    <div class="product-item-grid">
                                        <div class="product-item-grid__image">
                                            <a href="#">
                                                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
                                            </a>
                                            <div class="product-item-grid__pay">Trả góp 0%</div>
                                            <div class="product-item-grid__discount">
                                                <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                                                <span>Giảm -30%</span>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__content">
                                            <h4 class="product-item-grid__title">
                                                <a href="#">iPhone 11 64GB Quốc Tế (Likenew) </a>
                                            </h4>
                                            <div class="product-item-grid__price">
                                                <p class="product-item-grid__price-new">5.290.000₫</p>
                                                <p class="product-item-grid__price-old">8.990.000₫</p>
                                            </div>
                                            <div class="product-item-grid__desc">
                                                Thu cũ lên đời, giá tốt nhất thị trường
                                            </div>
                                            <div class="product-item-grid__rating">
                                                <div class="product-item-grid__rating-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="product-item-grid__rating-number">(50)</div>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__check">
                                            <label class="label-checkbox">
                                                <input type="checkbox" checked="">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="products-slide__item-plus">
                                        <img src="~/design/images/icons/plus-green.svg" alt="Icon Plus">
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="swiper-slide products-slide__item">
                                    <div class="product-item-grid">
                                        <div class="product-item-grid__image">
                                            <a href="#">
                                                <img src="~/design/images/products/pro-2.png" alt="Product Item" />
                                            </a>
                                            <div class="product-item-grid__pay">Trả góp 0%</div>
                                            <div class="product-item-grid__discount">
                                                <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                                                <span>Giảm -30%</span>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__content">
                                            <h4 class="product-item-grid__title">
                                                <a href="#">iPhone 11 64GB Quốc Tế (Likenew) </a>
                                            </h4>
                                            <div class="product-item-grid__price">
                                                <p class="product-item-grid__price-new">5.290.000₫</p>
                                                <p class="product-item-grid__price-old">8.990.000₫</p>
                                            </div>
                                            <div class="product-item-grid__desc">
                                                Thu cũ lên đời, giá tốt nhất thị trường
                                            </div>
                                            <div class="product-item-grid__rating">
                                                <div class="product-item-grid__rating-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="product-item-grid__rating-number">(50)</div>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__check">
                                            <label class="label-checkbox">
                                                <input type="checkbox" checked="">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="products-slide__item-plus">
                                        <img src="~/design/images/icons/plus-green.svg" alt="Icon Plus">
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="swiper-slide products-slide__item">
                                    <div class="product-item-grid">
                                        <div class="product-item-grid__image">
                                            <a href="#">
                                                <img src="~/design/images/products/pro-3.png" alt="Product Item" />
                                            </a>
                                            <div class="product-item-grid__pay">Trả góp 0%</div>
                                            <div class="product-item-grid__discount">
                                                <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                                                <span>Giảm -30%</span>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__content">
                                            <h4 class="product-item-grid__title">
                                                <a href="#">iPhone 11 64GB Quốc Tế (Likenew) </a>
                                            </h4>
                                            <div class="product-item-grid__price">
                                                <p class="product-item-grid__price-new">5.290.000₫</p>
                                                <p class="product-item-grid__price-old">8.990.000₫</p>
                                            </div>
                                            <div class="product-item-grid__desc">
                                                Thu cũ lên đời, giá tốt nhất thị trường
                                            </div>
                                            <div class="product-item-grid__rating">
                                                <div class="product-item-grid__rating-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="product-item-grid__rating-number">(50)</div>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__check">
                                            <label class="label-checkbox">
                                                <input type="checkbox" checked="">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="products-slide__item-plus">
                                        <img src="~/design/images/icons/plus-green.svg" alt="Icon Plus">
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="swiper-slide products-slide__item">
                                    <div class="product-item-grid">
                                        <div class="product-item-grid__image">
                                            <a href="#">
                                                <img src="~/design/images/products/pro-4.png" alt="Product Item" />
                                            </a>
                                            <div class="product-item-grid__pay">Trả góp 0%</div>
                                            <div class="product-item-grid__discount">
                                                <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                                                <span>Giảm -30%</span>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__content">
                                            <h4 class="product-item-grid__title">
                                                <a href="#">iPhone 11 64GB Quốc Tế (Likenew) </a>
                                            </h4>
                                            <div class="product-item-grid__price">
                                                <p class="product-item-grid__price-new">5.290.000₫</p>
                                                <p class="product-item-grid__price-old">8.990.000₫</p>
                                            </div>
                                            <div class="product-item-grid__desc">
                                                Thu cũ lên đời, giá tốt nhất thị trường
                                            </div>
                                            <div class="product-item-grid__rating">
                                                <div class="product-item-grid__rating-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="product-item-grid__rating-number">(50)</div>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__check">
                                            <label class="label-checkbox">
                                                <input type="checkbox" checked="">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="products-slide__item-plus">
                                        <img src="~/design/images/icons/plus-green.svg" alt="Icon Plus">
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="swiper-slide products-slide__item">
                                    <div class="product-item-grid">
                                        <div class="product-item-grid__image">
                                            <a href="#">
                                                <img src="~/design/images/products/pro-5.png" alt="Product Item" />
                                            </a>
                                            <div class="product-item-grid__pay">Trả góp 0%</div>
                                            <div class="product-item-grid__discount">
                                                <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                                                <span>Giảm -30%</span>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__content">
                                            <h4 class="product-item-grid__title">
                                                <a href="#">iPhone 11 64GB Quốc Tế (Likenew) </a>
                                            </h4>
                                            <div class="product-item-grid__price">
                                                <p class="product-item-grid__price-new">5.290.000₫</p>
                                                <p class="product-item-grid__price-old">8.990.000₫</p>
                                            </div>
                                            <div class="product-item-grid__desc">
                                                Thu cũ lên đời, giá tốt nhất thị trường
                                            </div>
                                            <div class="product-item-grid__rating">
                                                <div class="product-item-grid__rating-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="product-item-grid__rating-number">(50)</div>
                                            </div>
                                        </div>
                                        <div class="product-item-grid__check">
                                            <label class="label-checkbox">
                                                <input type="checkbox" checked="">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class="products-combo__total">
                        <div class="products-combo__total-price-old">
                            18.890.000đ
                        </div>
                        <div class="products-combo__total-price">
                            13.890.000đ
                        </div>
                        <div class="products-combo__btn">
                            <a href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Products Combo -->


            <div class="infor-customer cart-detail-form">
                <h4 class="cart-detail-form__title">Thông tin khách hàng</h4>

                <div class="cart-detail-form__gender">
                    <label class="label-checkbox">
                        <span class="label-checkbox__label">Nam</span>
                        <input type="radio" name="gender-radio" value="male" checked>
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox">
                        <span class="label-checkbox__label">Nữ</span>
                        <input type="radio" name="gender-radio" value="female">
                        <span class="checkmark"></span>
                    </label>
                </div>

                @*<div class="form-row mb-4">
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control mb-3 name" placeholder="Họ và tên" required>
                        </div>
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control mb-3 phone-number" placeholder="Số điện thoại" required>
                        </div>
                        <div class="col-sm-12 col-12">
                            <textarea rows="4" type="text" class="form-control mb-3 note" placeholder="Ghi chú" minlength="10"></textarea>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <input type="text" class="form-control name" placeholder="Họ và tên" required>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <input type="text" class="form-control phone-number" placeholder="Số điện thoại" required>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12">
                        <textarea rows="4" type="text" class="form-control note" placeholder="Ghi chú" minlength="10"></textarea>
                    </div>
                </div>




                @{
                    var provinces_result = new Dictionary<string, TinhThanh>();
                    var provinces_json_part = env.WebRootFileProvider.GetFileInfo("hanhchinhvn-master/dist/tinh_tp.json")?.PhysicalPath;
                    if (provinces_json_part != null)
                    {
                        var file_content = File.ReadAllText(provinces_json_part);
                        if (file_content != null)
                        {
                            provinces_result = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, TinhThanh>>(file_content);
                        }
                    }
                }
                <h4 class="cart-detail-form__title">Chọn địa chỉ và thời gian nhận hàng</h4>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <select class="form-control mb-3 tinh-thanh" required>
                            <option hidden value="">Chọn Tỉnh/Thành</option>
                            @foreach (var item in provinces_result)
                            {
                                <option value="@item.Key">@item.Value.name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6 col-12">
                        <select class="form-control mb-3 quan-huyen" disabled required>
                            <option hidden value="">Chọn Quận/Huyện</option>
                            <option value="Tân Phú">Tân Phú</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-12">
                        <select class="form-control mb-3 phuong-xa" disabled required>
                            <option hidden value="">Chọn Phường/Xã</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-12">
                        <input type="text" class="form-control mb-3 so-nha" placeholder="Số nhà, tên đường/phố">
                    </div>

                </div>


                <h4 class="cart-detail-form__title">Chọn phương thức thanh toán</h4>

                <div class="row">


                    <div class="col-md-6 col-sm-12 col-12">
                        <label class="label-checkbox">
                            <span class="label-checkbox__label">Thanh toán tiền mặt khi nhận hàng</span>
                            <input type="radio" class="extra-infomation" data-content="Thanh toán tiền mặt khi nhận hàng" name="extra-infomation" value="1" checked>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <label class="label-checkbox">
                            <span class="label-checkbox__label">Xuất hóa đơn công ty (VAT 10%)</span>
                            <input type="radio" class="extra-infomation company-bill" name="extra-infomation" data-content="Xuất hóa đơn công ty" value="2">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <label class="label-checkbox">
                            <span class="label-checkbox__label">Chuyển khoản ngân hàng</span>
                            <input type="radio" class="extra-infomation bank-transfer" data-content="Xuất hóa đơn công ty" value="3">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <label class="label-checkbox">
                            <span class="label-checkbox__label">Cà thẻ khi nhận hàng</span>
                            <input type="radio" class="extra-infomation" data-content="Cà thẻ khi nhận hàng" name="extra-infomation" value="4">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                @* ----chuyen-khoan--ngan-hang---- *@
                @{
                    var banknumber1 = bannerAdsRepository.GetConfigByName(culture_code, "BankNumber1");
                    var bankNameMaster1 = bannerAdsRepository.GetConfigByName(culture_code, "BankNameMaster1");
                    var bankName1 = bannerAdsRepository.GetConfigByName(culture_code, "BankName1");
                    var banknumber2 = bannerAdsRepository.GetConfigByName(culture_code, "BankNumber2");
                    var bankNameMaster2 = bannerAdsRepository.GetConfigByName(culture_code, "BankNameMaster2");
                    var bankName2 = bannerAdsRepository.GetConfigByName(culture_code, "BankName2");
                }

                <div class="cart-detail-form__info-bank">
                    <h5>Thông tin chuyển khoản</h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="cart-detail-form__info-bank-box">
                                <div class="cart-detail-form__info-bank-icon-circle"></div>
                                <div class="cart-detail-form__info-bank-content">
                                    <div class="cart-detail-form__info-bank-item"><strong>Ngân hàng:</strong> @bankName1</div>
                                    <div class="cart-detail-form__info-bank-item"><strong>Tên tài khoản:</strong> @bankNameMaster1</div>
                                    <div class="cart-detail-form__info-bank-item"><strong>STK:</strong> @banknumber1</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="cart-detail-form__info-bank-box">
                                <div class="cart-detail-form__info-bank-icon-circle"></div>
                                <div class="cart-detail-form__info-bank-content">
                                    <div class="cart-detail-form__info-bank-item"><strong>Ngân hàng:</strong> @bankName2</div>
                                    <div class="cart-detail-form__info-bank-item"><strong>Tên tài khoản:</strong> @bankNameMaster2</div>
                                    <div class="cart-detail-form__info-bank-item"><strong>STK:</strong> @banknumber2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="info-cty info-company" style="display:none">
                    <label class="label-checkbox txt-dd-1 pl-0">
                        Thông tin công ty
                    </label>
                    <div class="form-row">
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control mb-3 name" placeholder="Tên công ty">
                        </div>
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control mb-3 phone-number" placeholder="Mã số thuế">
                        </div>
                        <div class="col-sm-12 col-12">
                            <textarea rows="1" type="text" class="form-control mb-3 note" placeholder="Địa chỉ" minlength="10"></textarea>
                        </div>
                    </div>
                </div>

                <div class="info-cty info-bank" style="display:none">
                    <label class="label-checkbox txt-dd-1 pl-0">
                        Thông tin chuyển khoản
                    </label>
                    <ul class="row list-dacdiem">
                        <li class="col-md-6">
                            <b>Ngân hàng :</b> @bankName1 <br>
                            <b>Tên tài khoản:</b> @bankNameMaster1 <br>
                            <b>STK:</b> @banknumber1
                        </li>
                        <li class="col-md-6">
                            <b>Ngân hàng :</b> @bankName2 <br>
                            <b>Tên tài khoản:</b> @bankNameMaster2 <br>
                            <b>STK: </b> @banknumber2
                        </li>
                    </ul>
                </div>
                @* --------------------------- *@
                <div class="text-center">
                    <button class="cart-detail-form__button" type="submit">Đặt hàng</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal đơn hàng -->
<div class="modal jan-modal fade" id="modal-don-hang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Đơn hàng</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0" style="color: #4f4f4f;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <p> Mã số đơn hàng: <span class="font-weight-600 order-code">1029xxx2833</span></p>
                        <div class="row">
                            <div class="mb-3 col-lg-6 col-md-12 col-12">
                                <label class="font-weight-bold mb-1 ">Thông tin khách hàng</label>
                                <div class="customer-id" data-id="0" style="display:none;"></div>
                                <div>- Anh/ Chị: <span class="font-weight-600 customer-name">Nguyễn Tiến Đức</span></div>
                                <div>- SĐT: <span class="font-weight-600 customer-phone"> 0292938333</span></div>
                                <div>- Địa chỉ:<span class="font-weight-600 customer-address"> Tân Triều - Hà Đông - Hà Nội</span></div>
                            </div>
                            <div class="mb-3 col-lg-6 col-md-12 col-12">
                                <label class="font-weight-bold mb-1">Thông tin khác</label>
                                <ul class="list_extra_infomation"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <p> Thời gian đặt hàng: <span class="font-weight-600 order-time">10 - 02 - 2019 </span></p>
                        <div class="mb-3">
                            <label class="font-weight-bold mb-1 ">Thông tin đơn hàng</label>
                            @*<div>- Sản phẩm:<span class="font-weight-600"> Sàn gỗ công nghiệp</span></div>
                                <div>- Số lượng:<span class="font-weight-600"> 1</span></div>
                                <div>- Giá bán:<span class="font-weight-600 color-EE7D22">  6.900.000vnđ</span></div>
                                <div>- Tổng tiền:<span class="font-weight-600 color-EE7D22">  6.900.000vnđ</span></div>
                                <div>- Khuyến mại đi kèm: <span class="font-weight-600 ">Lì xì quà tặng 300.000đ</span></div>
                                <div>- Yêu cầu khác:<span class="font-weight-600"> Giao ngoài giờ hành chính</span></div>
                                <div>- Ưu đãi voucher: <span class="font-weight-600 color-EE7D22">  500.000vnđ</span></div>
                                <div>- Mã voucher: <span class="font-weight-600">323131</span></div>*@
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán</th>
                                        <th>Tổng tiền</th>
                                        <th>KM đi kèm</th>
                                    </tr>
                                </thead>
                                <tbody class="table-infomation-product">
                                    <tr class="table-report-item" style="display:none">
                                        <td class="product-id" hidden>1</td>
                                        <td class="product-name">SP A</td>
                                        <td class="product-quantity">5</td>
                                        <td class="product-price">1.000.000 đ</td>
                                        <td class="product-total-price">5.000.000 đ</td>
                                        <td class="product-promotion">
                                            <ul class="product-promotion-ul"></ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="d-flex">
                            <div>Mã voucher được áp dụng: </div>
                            <div class="ml-auto font-weight-600 color-EE7D22 code-promotion"></div>
                        </div>
                        <div class="d-flex">
                            <div>Trị giá voucher: </div>
                            <div class="ml-auto font-weight-600 color-EE7D22 values-promotion"></div>
                        </div>
                        <div class="d-flex">
                            <div>Số tiền cần thanh toán: </div>
                            <div class="ml-auto font-weight-600 color-EE7D22 total-payment"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                @*<button type="button" class="btn btn-link color-828282 px-2 border-right">In</button>
                    <button type="button" class="btn btn-link color-828282 px-2 border-right">Chia sẻ</button>
                    <button type="button" class="btn btn-link color-828282 px-2 border-right">Gửi email</button>
                    <button type="button" class="btn btn-link color-828282 mr-3">Sửa</button>*@
                <button type="button" class="btn btn-save">Hoàn thành</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/controller/orderController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>
}
