﻿@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Data.SqlServer.ModelDto
@using System.Linq;
@using Enterbuy.WebInterface.UtilityWeb
@using Utils

@inject ICookieLocationUtility cookie
@using Enterbuy.Statics.Utilities
@model List<Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify>
@inject IZoneDao ZoneDao
@inject IPromotionDao PromotionDao
@{
    var banner = ViewBag.Banner;
    var slide = ViewBag.Slide;
    var regionParent = ViewBag.RegionParent as ZoneByTreeViewMinify;
    var styleDivWithBanner = "";

    var location = cookie.SetCookieDefault();

    if (!string.IsNullOrEmpty(banner))
    {
        styleDivWithBanner = "style=\"background: url(/" + banner + ") no-repeat top center;background-size: cover;\"";
    }
    var linkViewMore = "javascript:void(0)";

    var linkUrl = BaseBA.UrlCategory(regionParent.Url);
}
@if (Model.Count > 0)
{
    <section class="my-4 san-go-nb">
        <div class="container px-0 px-md-3">
            <div class="bg-fff pt-3 border-r-4" @(string.IsNullOrEmpty(banner) ? "" : styleDivWithBanner)>
                <div class="px-3">
                    <div class="row mb-3 no-gutters">
                        <div class="col-md-4 col-12 mb-2 mb-md-0 pr-md-5">
                            <a href="@Url.Action("FilterProductByRegion","FilterProduct",new { region=regionParent.Url })" style="color:green; font-size:16px;" class="h5 font-weight-bold ">@regionParent.Name</a>
                        </div>
                        <div class="col-md-8 col-12 d-lg-flex justify-content-lg-end align-self-center">
                            @{
                                var pageSize = 10;
                                var pageIndex = 1;
                                var firstChilds = Model.FirstOrDefault();
                                var totalFirstChild1 = 0;
                                var productsInFirstChild = ZoneDao.GetProductInRegionByZoneIdMinify(firstChilds.Id, location.LocationId, Utility.DefaultLang, pageIndex, pageSize, out totalFirstChild1);
                                var zones = ZoneDao.GetZoneUrl(productsInFirstChild.Select(x => x.ZoneId).ToList(), Utility.DefaultLang);
                            }
                            <div class="menu-op align-self-center mr-lg-3">
                                <!--menu mobile-->
                                <div class="d-flex flex-wrap d-lg-none tab-region-categories">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        var linkRegionChild = "javascript:void(0)";
                                        if (i == 0)
                                        {
                                            <a href="@linkRegionChild" class="active link-view-more font-weight-normal mr-3 tab-region tab-categories-@regionParent.Id" data-tab="@regionParent.Id" data-region-id="@Model[i].Id">@Model[i].Name</a>
                                        }
                                        else
                                        {
                                            <a href="@linkRegionChild" class=" link-view-more font-weight-normal mr-3 tab-region tab-categories-@regionParent.Id" data-tab="@regionParent.Id" data-region-id="@Model[i].Id">@Model[i].Name</a>
                                        }
                                    }
                                </div>
                                <!--menu mobile end-->
                                <!--menu pc-->
                                <div class="swiper-container d-none d-lg-block">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slides -->
                                        @foreach (var item in Model)
                                        {
                                            var linkRegionChild = "javascript:void(0)";
                                            <div class="swiper-slide">
                                                <div>
                                                    <a href="@linkRegionChild" class="link-view-more font-weight-normal tab-region" data-region-id="@item.Id">@item.Name</a>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                                <!--menu pc end-->
                            </div>

                        </div>
                    </div>
                    @*Cat mang o day*@
                    @if (productsInFirstChild.Count > 0)
                    {
                        var lstProductInPromotion = PromotionDao.CheckPromotion_ByProductId(productsInFirstChild.Select(x => x.ProductId).ToList());

                        <div class="_binding_product">
                            <div class="set-total" data-total="@totalFirstChild1" data-id="@firstChilds.Id" style="display:none"></div>
                            <div class="row no-gutters mb-3 mb-md-0">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="item-product item-product-large">
                                        <div class="image h-100" style="">
                                            <a href="@Url.Action("FilterProductByRegion","FilterProduct",new { region=Model[0].Url })">
                                                @if (!string.IsNullOrEmpty(Model.FirstOrDefault().Avatar))
                                                {
                                                    <img asp-append-version="true" data-src="@UIHelper.StoreFilePath(Model.FirstOrDefault().Avatar, false)" class="img-fluid h-100 lazy" alt="@Model.FirstOrDefault().Name" />
                                                }
                                                else
                                                {
                                                    <img asp-append-version="true" data-src="@UIHelper.ImgDefault()" class="img-fluid lazy" alt="@Model.FirstOrDefault().Name" />
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @{var countCutted1 = 0; }

                                @for (var i = 0; i < productsInFirstChild.Count; i++)
                                {

                                    var link_ta = BaseBA.UrlProduct("", productsInFirstChild[i].Url);

                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 @(countCutted1==2 ? "d-none d-sm-block":"")">
                                        <div class="item-product" data-id="@productsInFirstChild[i].ProductId" data-properties="@productsInFirstChild[i].PropertyId">
                                            @if (lstProductInPromotion.Any(x => x.ProductId == productsInFirstChild[i].ProductId))
                                            {
                                                <div class="tag-gift"><i class="fa fa-gift"></i></div>
                                            }
                                            <div class="tag-1">
                                            </div>
                                            <div class="image">
                                                <a href="@link_ta"><img asp-append-version="true" data-src="@UIHelper.StoreFilePath(productsInFirstChild[i].Avatar)" class="img-fluid h-100 lazy" alt="@productsInFirstChild[i].Title" /></a>
                                            </div>
                                            <div class="tag-2">
                                                <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                            </div>
                                            <div class="pt-3">
                                                <h3 class="title">
                                                    <a href="@link_ta" title="@productsInFirstChild[i].Title">
                                                        @productsInFirstChild[i].Title
                                                    </a>
                                                </h3>
                                                @if (productsInFirstChild[i].SalePrice != productsInFirstChild[i].Price)
                                                {
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumber(productsInFirstChild[i].SalePrice)
                                                    </div>

                                                    <div>
                                                        <span class="price-old">
                                                            @(productsInFirstChild[i].Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(productsInFirstChild[i].Price)))
                                                        </span>

                                                        @if (productsInFirstChild[i].DiscountPercent > 0)
                                                        {
                                                            <b class="sale-percent">( - @productsInFirstChild[i].DiscountPercent %)</b>
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumber(productsInFirstChild[i].SalePrice)
                                                    </div>
                                                }
                                                <div class="size small mb-1">

                                                    @if (!String.IsNullOrEmpty(productsInFirstChild[i].SpecName) && !String.IsNullOrEmpty(productsInFirstChild[i].SpecValue))
                                                    {<i class="fas fa-check-circle" style="color:#37b03e;"></i>
                                                        @Html.Raw($"{productsInFirstChild[i].SpecName}:{productsInFirstChild[i].SpecValue}");
                                                    }

                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        @System.Math.Round(productsInFirstChild[i].Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @productsInFirstChild[i].CountRate đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    countCutted1++;
                                }
                            </div>

                            @if (totalFirstChild1 > 10)
                            {
                                <a href="javascripts:void(0)" class="view-remain-product" data-skip="@pageSize" data-size="@((totalFirstChild1 - 10) < 0 ? 0 : (totalFirstChild1 - 10))" data-id="@firstChilds.Id">
                                    <div class="see-more"><i class="fas fa-angle-double-right"></i> Xem thêm <span class="remain-product" data-page-size="12"><b>@((totalFirstChild1 - 10) < 0 ? 0 : (totalFirstChild1 - 10))</b></span> sản phẩm </div>
                                </a>
                            }

                        </div>
                    }
                </div>

            </div>
        </div>
    </section>
}
else
{
    <section class="my-4 flash-sale">
        <div class="container px-0 px-md-3">
            <div class="bg-fff pt-3 pb-md-2 px-md-2 flash-sale-bg" style="">
                <div class="row mb-3 no-gutters ">
                    <div class="col-12 d-flex flex-wrap  ">
                        <div class="align-self-center color-F1D780 font-weight-600 h5 mx-auto mx-md-0 mb-0">
                            @regionParent.Name
                        </div>
                        <a href="@Url.Action("FilterProductByRegion","FilterProduct",new { region=regionParent.Url })" class="btn btn-outline-light btn-sm px-lg-4 ml-3 align-self-center d-none d-md-block">
                            Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                        </a>
                    </div>
                </div>
                @{ var total1 = 0;
                    var productsInRegion1 = ZoneDao.GetProductInRegionByZoneIdMinify(regionParent.Id, location.LocationId, Utility.DefaultLang, 1, 10, out total1);

                }
                <!-- Slider main container -->
                <div class="slide-product slide-1">
                    <div class="swiper-container swiper-container-horizontal">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @foreach (var item in productsInRegion1)
                            {
                                var linkTarget = BaseBA.UrlProduct(item.ZoneUrl, item.Url);
                                <div class="swiper-slide">

                                    <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                        <div class="tag-1">
                                        </div>
                                        <div class="image" style="height:177px">
                                            <a href="@linkTarget"><img asp-append-version="true" data-src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid product-img lazy" /></a>
                                        </div>
                                        <div class="tag-2">
                                            <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                        </div>

                                        <div class="pt-3">
                                            <h3 class="title">
                                                <a href="@linkTarget" title="@item.Title">
                                                    @item.Title
                                                </a>
                                            </h3>
                                            @if (item.SalePrice != item.Price)
                                            {
                                                <div class="d-price">
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumber(item.SalePrice)
                                                    </div>
                                                    <div class="price-old">
                                                        @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="d-price">
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumber(item.SalePrice)
                                                    </div>
                                                </div>
                                            }
                                            <div class="infor-plus">
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        @Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @item.CountRate đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- If we need navigation buttons -->
                    </div>
                    <div class="swiper-button-prev">
                        <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                    </div>
                    <div class="swiper-button-next">
                        <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

