﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using LacWebsite.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using LacWebsite.Services.Locations.Repository
@using LacWebsite.Services.Extra.Repository
@using LacWebsite.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject ITreeviewHelper treeviewHelper

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}


@{
    Layout = null;
    var isHome = false;
    var path = Context.Request.Path.ToString();
    var expland = "un-expand";
    var dm_style = "";
    if (path.Length <= 1)
    {
        isHome = true;
        expland = "";
        dm_style = "height: auto;";
    }

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;


    List<LocationViewModel> locationViewModels = new List<LocationViewModel>();
    locationViewModels = locationsRepository.GetLocations(culture_code);

    List<ZoneSugget> zoneSugget = new List<ZoneSugget>();
    zoneSugget = zoneRepository.GetZoneSugget(culture_code);

    List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();

    var Banner_Trangchu_Doc_Trai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Trai");
    var Banner_Trangchu_Doc_Phai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Phai");
    //footer


    var Banner_Trangchu_Trencung_after_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Trencung");
    var Banner_Trangchu_Trencung_AF_Cooked = new DetailBanerAds();
    if (Banner_Trangchu_Trencung_after_cache != null)
    {
        Banner_Trangchu_Trencung_AF_Cooked = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Trencung_after_cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Trai_Cache != null)
    {
        Banner_Trangchu_Doc_Trai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Trai_Cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Phai_Cache != null)
    {
        Banner_Trangchu_Doc_Phai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Phai_Cache.MetaData);
    }

    var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).FirstOrDefault();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData);
    }
    var phone_cutted = bannerAdsRepository.GetConfigByName(culture_code, "Hotline");

    var chantrang_k1_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_ChanTrang_Khoi1");
    var chantrang_k2_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_ChanTrang_Khoi2");
    var chantrang_k1 = new List<DetailBanerAds>();
    var chantrang_k2 = new List<DetailBanerAds>();
    var nutdoctrang = new List<DetailBanerAds>();
    var nutdoctrang_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_NutDocTrang");
    if (chantrang_k1_cache != null)
    {
        chantrang_k1 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(chantrang_k1_cache.MetaData);
    }
    if (chantrang_k2_cache != null)
    {
        chantrang_k2 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(chantrang_k2_cache.MetaData);
    }
    if (nutdoctrang_cache != null)
    {
        nutdoctrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(nutdoctrang_cache.MetaData);
    }
}
@inject IViewLocalizer _localizer
@using LacWebsite.Services.Config.Repository
@{
    var _ver = WebHelper.Version();
    var favicon = bannerAdsRepository.GetConfigByName(culture_code, "Favicon");
}
<!DOCTYPE html>
<html lang="vi">

<head>

    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="revisit-after" content="1 days" />
    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    @Html.Raw(configSEOUtility.ConfigWebsite(domain_full, "LAC"))
    @*<link href="~/fonts/fonts.css" rel="preload" asp-append-version="true"/>*@
    @*<link href="~/fonts/fonts.css" rel="stylesheet" asp-append-version="true"/>*@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L.A.C</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fa-font.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/wow.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />


    @*<link href="~/css/allmin.css" asp-append-version="true" rel="preload" />*@
    <link href="~/css/allmin.css" asp-append-version="true" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    @*<link href="~/css/tuananh.css" asp-append-version="true" rel="stylesheet" />*@

    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptHeader"))
</head>
<body>
    @*<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by="@isHome" vary-by-cookie=".AspNetCore.Culture, _LocationId">*@

    <div class="social-button">
        <div class="social-button-content">
            <a rel="nofollow" href="tel: @phone_cutted" class="call-icon">
                <i class="fas fa-phone-alt"><img src="~/images/home/phone.svg" alt=""></i>
                <span>@phone_cutted</span>
            </a>
            @{
                var count = 1;
            }
            @foreach (var item in nutdoctrang)
            {
                var i = "";
                if (count == 1)
                {
                    i = "far fa-gift";
                }
                if (count > 1)
                {
                    i = "far fa-clipboard-list";
                }
                <a rel="nofollow" target="_blank" href="@item.Url" class="mes">
                    <i class="@i"></i>
                    <span>@item.Title</span>
                </a>
                count++;
            }

        </div>
    </div>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="container max-width">
            <a href="/">
                <div class="logo">
                    <h1>
                        <img src="~/images/home/logo header.png" class="w-100" alt="logo">
                    </h1>

                </div>
            </a>
            <a href="/">
                <div class="logo-sticky">
                    <img src="~/images/home/logo-sticky.png" class="w-img" alt="">
                </div>
            </a>
            <ul class="menu">
                <li><a href="/gioi-thieu" class="menu-btn">Về chúng tôi</a></li>
                @{
                    var zonesp = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, 0).Where(r => r.ParentId == 0 && r.IsShowMenu == 1);
                    var zonetv = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Recruitment, culture_code, 13).Where(r => r.ParentId == 0 && r.IsShowMenu == 1);

                }
                @foreach (var item in zonesp)
                {
                    <li><a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)" class="menu-btn">@item.Name</a></li>
                }
                @foreach (var item in zonetv)
                {
                    <li><a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)" class="menu-btn">@item.Name</a></li>
                }
                @*<li><a href="category.html" class="menu-btn">Cảnh quan</a></li>
                    <li><a href="services-cate.html" class="menu-btn">Dịch vụ tư vấn</a></li>*@
                @*<li class="d-mb-block"><a href="/liem-he" class="menu-btn">Liên hệ</a></li>*@
                <li class="nav-item dropdown d-mb-none">
                    <a class="dropdown-toggle bo focus-borb menu-btn" href="#" id="navbarDropdown2" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"> <i class="fas fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu mb-cus-drop" aria-labelledby="navbarDropdown2">
                        @{
                            var zone_bv = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Article, culture_code, 0).Where(r => r.ParentId == 0 && r.IsShowMenu == 1);
                        }
                        @foreach (var item in zone_bv)
                        {
                            <a class="dropdown-item" href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)">@item.Name</a>
                        }

                        <a class="dropdown-item" href="/lien-he">Liên hệ</a>
                    </div>
                </li>
                @foreach (var item in zone_bv)
                {
                    <li class="d-lg-none d-xl-none"><a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)" class="menu-btn">@item.Name</a></li>
                }
                <li><a href="/lien-he" class="menu-btn">Liên hệ: @phone_cutted </a></li>
                <li class="d-mb-none">
                    <div class="btn-sl">
                        <div class="btn-group">
                            <button type="button" class="btn menu-btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fal fa-search"></i>
                            </button>
                            <div class="dropdown-menu cussearch dropdown-menu-right">
                                <form class="form-inline md-form form-sm active-purple-2 mt-1">
                                    <div class="customer-search">
                                        <div class="cus-name">
                                            <label for="search-input" class="cus-ic-search">
                                                <a href="javascript:void(0)" title="">
                                                    <i class="fal fa-search" style="color: #000000;"></i>
                                                </a>
                                            </label>
                                            <input type="text" name="txtName" id="search-input" placeholder="Search" class="w-100 ip-css-search tim-kiem-nhanh">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    @*  </cache>*@

    @RenderBody()

    @*<cache expires-after="@TimeSpan.FromMinutes(30)">*@
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="./images/home/logo-footer.png " alt=" ">
                    <div class="txt-ft-al">
                        <p class="pt-4 ">
                            VP Hà Nội : @bannerAdsRepository.GetConfigByName(culture_code, "Address")
                        </p>
                        <p>Điện thoại: @bannerAdsRepository.GetConfigByName(culture_code, "HotLine") </p>
                        <p>Email: @bannerAdsRepository.GetConfigByName(culture_code, "Email")</p>
                        <ul class="mxh ">
                            <li>
                                <a href="#"><img src="./images/home/social/Group-1.svg " alt=" "></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/home/social/Group-2.svg " alt=" "></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/home/social/Group-3.svg " alt=" "></a>
                            </li>
                            <li>
                                <a href="#"><img src="./images/home/social/Group.svg " alt=" "></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="ft-cate ">Dịch vụ</div>
                    <div class="line "></div>
                    <div class="txt-ft-al pt-4 ">
                        @foreach (var item in chantrang_k1)
                        {
                            <p><a href="@item.Url">@item.Title</a></p>
                        }

                        @*<p><a href="# ">Nghỉ dưỡng - nhà vườn</a></p>
                            <p><a href="# ">Cảnh quan - sân vườn</a></p>
                            <p><a href="# ">Tư vấn thiết kế tổng thể nhà ở</a></p>
                            <p><a href="# ">Tư vấn thiết kế công trình dân dụng</a></p>
                            <p><a href="# ">Tư vấn giám sát</a></p>*@
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="ft-cate ">Liên kết nhanh</div>
                    <div class="line "></div>
                    <div class="txt-ft-al pt-4 ">
                        @foreach (var item in chantrang_k2)
                        {
                            <p><a href="@item.Url">@item.Title</a></p>
                        }
                        @*<p><a href="# ">Trang chủ</a></p>
                            <p><a href="# ">Về chúng tôi</a></p>
                            <p><a href="# ">Biệt thự</a></p>
                            <p><a href="# ">Cảnh quan</a></p>
                            <p><a href="# ">Tư vấn</a></p>
                            <p><a href="# ">Góc tư vấn - Tuyển dụng - Liên hệ</a></p>*@
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="ft-cate ">Theo dõi chúng tôi</div>
                    <div class="line "></div>
                    <form action="# " class=" pt-4 ">
                        <div class="fields ">
                            <div class="field name ">
                                <input type="text" placeholder="Name " required>
                            </div>
                            <div class="field email mt-3 ">
                                <input type="email" placeholder="Email " required>
                            </div>
                        </div>
                        <div class="button mt-3 ">
                            <button type="submit" class="subm-ft ">SUBCRIBE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </footer>
    <div class="modal jan-modal fade" id="modal-xn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="mb-3">
                        <img src="~/images/home/logo-sticky.png" class="img-fluid" />
                    </div>
                    <h5 class="mb-3 font-weight-bold">Xách nhận thành công!</h5>
                </div>
                <div class="modal-footer justify-content-center border-0">
                    <button type="button" class="btn btn-save px-lg-5" data-dismiss="modal">Hoàn tất</button>
                </div>
            </div>
        </div>
    </div>

    @*</cache>*@


    @await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(culture_code, "Logo"), false) })
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptBody"))

    @*<script src="~/js/lib.base.js?v=@_ver"></script>*@

    @*
        <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>*@

    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript " src="~/js/bootstrap.min.js "></script>
    <script type="text/javascript " src="~/js/font-icon.js "></script>
    <script type="text/javascript " src="~/js/slick.min.js "></script>
    <script type="text/javascript " src="~/js/typeit.min.js "></script>
    <script type="text/javascript " src="~/js/main.js "></script>
    <script type="text/javascript" src="~/js/libs/yall-js/dist/yall.min.js?v=@_ver"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", yall);
    </script>
    <script type="text/javascript" src="~/js/core/core.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/menuController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/orderController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/extraController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/filterController.js?v=@_ver"></script>

    <script>
        // ===================Slide-Background-Top==================
        $(document).ready(function () {
            $('.slide-per').slick({
                autoplay: true,
                autoplaySpeed: 2500,
                arrows: false,
                slidesToShow: 1,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }]
            });

            $(".item-dot").click(function () {
                let slideIndex = $(this).attr('data-i');
                $('.slide-per').slick('slickGoTo', slideIndex);
            });
            $('.slide-per').on('afterChange', function (event, slick, currentSlide, nextSlide) {
                if (currentSlide === parseInt(currentSlide, 10)) {
                    $('.item-dot').removeClass('active');
                    $('.item-dot[data-i=' + currentSlide + ']').addClass('active');
                }
            });
            $('.slide-next').click(function () {
                $(".slide-per").slick('slickNext');
            });
            $('.slide-pre').click(function () {
                $(".slide-per").slick('slickPrev');
            });
        });
    </script>


    @*<script type="text/javascript" src="~/vendor/all.js?v=@_ver"></script>
        <script type="text/javascript" src="~/js/app.js?v=@_ver"></script>

        <script type="text/javascript" src="~/js/libs/jquery.lazy-master/jquery.lazy.js?v=@_ver"></script>
        <script type="text/javascript">
            $('.lazy').Lazy();
        </script>
        <script>
            $(document).ready(function () {
                $('.save-location').off('click').on('click',
                    function () {
                        var currentUrl = window.location.href;
                        var location_id = $('#location-selectbox').val();
                        var location_name = $('#location-selectbox option:selected').html();
                        localStorage.setItem("_LocationId", location_id);
                        localStorage.setItem("_LocationName", location_name);
                        var params = {
                            location_id: localStorage.getItem("_LocationId"),
                            location_name: localStorage.getItem("_LocationName"),
                            currentUrl: currentUrl
                        }
                        $.post('/Cookie/ChangeCurrentLocation',
                            params,
                            function () {
                                console.log(100);
                                location.reload(true);
                            })
                    });
                sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
                $('.tree-menu-mobile').jstree({
                    "core": {
                        "animation": 100,
                        "check_callback": true,
                        "multiple": false, // no multiselection
                        "themes": {
                            "dots": false, // no connecting dots between dots
                            "icons": false

                        },
                    },
                    "plugins": ["state", "wholerow", "types"],
                    'types': {
                        'default': {
                            'icon': 'fa fa-angle-right fa-fw'
                        },
                        'f-open': {
                            'icon': 'fa fa-folder-open fa-fw'
                        },
                        'f-closed': {
                            'icon': 'fa fa-folder fa-fw'
                        }
                    }
                });
                if (window.location.pathname == "" || window.location.pathname === "/") {
                    localStorage.setItem("jstree", "");
                }

                //var jstreelocal = JSON.parse(localStorage.getItem("jstree"));
                //if (jstreelocal != "" || jstreelocal !== 'undefinde') {

                //}
                //var current_selected_node =
                $('.tree-menu-mobile').on("select_node.jstree", function (e, data) {
                    var r = data.node;
                    //console.log(r);
                    var nodesToKeepOpen = [];

                    // get all parent nodes to keep open
                    $('#' + data.node.id).parents('.jstree-node').each(function () {
                        nodesToKeepOpen.push(this.id);
                    });

                    // add current node to keep open
                    nodesToKeepOpen.push(data.node.id);

                    // close all other nodes
                    $('.jstree-node').each(function () {
                        if (nodesToKeepOpen.indexOf(this.id) === -1) {
                            $(".tree-menu-mobile").jstree().close_node(this.id);
                        }
                    })
                    if (r.state.opened == false && r.children.length > 0) {
                        $('.tree-menu-mobile').jstree("toggle_node", data.node);
                        return false;
                    }
                    if (r.state.opened == true || r.children.length == 0) {
                        var id = r.id;
                        var url = $('#' + id).find('.span-tree-node').data('url');
                        var old_node = $(id).find('.jstree-clicked');

                        if (sessionStorage.getItem('current-js-tree') == "" || sessionStorage.getItem('current-js-tree') === "undefined") {
                            window.location.href = url;
                        } else {
                            var ss = JSON.parse(sessionStorage.getItem('current-js-tree'));
                            console.log(ss);
                            if (ss == null) {
                                window.location.href = url;
                            }
                            var seleced_current = ss.state.core.selected;
                            if (seleced_current.length > 0) {
                                if (seleced_current[0] != id) {
                                    //console.log("Khac roi nay");
                                    //sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
                                    window.location.href = url;
                                }
                                if (seleced_current[0] == id) {
                                    //console.log("Trung roi nay")
                                }
                            }
                        }


                        //if (ss == "1") {

                        //}
                        return false;
                    }
                });

                $('#txt-time-input').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    //minYear: 1901,
                    //maxYear: parseInt(moment().format('YYYY'), 10),
                    locale: {
                        "format": "DD/MM/YYYY"
                    }
                    //}, function (start, end, label) {
                    //    var years = moment().diff(start, 'years');
                    //    alert("You are " + years + " years old!");
                });

                var url = window.location.pathname;
                $('.menu-cate-mobile div a[href="' + url + '"]').addClass('active');

                $('.find-product').keydown(function (e) {

                    if ($(this).val().length < 2) {
                        $(".suggest-text.suggest-text-2").hide();
                        $(".suggest-text.suggest-text-1").show();
                    } else {

                        $(".suggest-text.suggest-text-2").show();
                        $(".suggest-text.suggest-text-1").hide();


                        $(this).autocomplete({
                            delay: 300,
                            source: function (request, response) {
                                $.ajax({
                                    url: "/Product/Get",
                                    dataType: "json",
                                    data: {
                                        keyword: request.term
                                    },
                                    success: function (data) {
                                        //debugger
                                        response(data);

                                    }
                                });
                            },
                            minLength: 1,
                        }).autocomplete("instance")._renderItem = function (div, item) {
                            //--debugger
                            $(".suggest-text.suggest-text-2").empty();
                            var lstItem = "";
                            lstItem += "<div class='h6 px-3'>Sản phẩm gợi ý</div>"
                            $.each(item, function (index, im) {
                                var name = im.name.charAt(0).toUpperCase() + im.name.slice(1);
                                lstItem += '<div class="item-cart"><div class="image-product"><img src="' + im.avatar + '" class="" /></div>';
                                lstItem += '<div class="text px-2 "> <h6 class="name-product mb-1"><a href="' + im.url + '">' + name + '</a></h6>';
                                if (im.discountPrice.length > 0) {
                                    lstItem += '<div class="price d-inline-block">' + im.discountPrice + im.unit + '</div>';
                                }
                                if (im.discountPrice.price > 0) {
                                    lstItem += ' <div class=" price-old d-inline-block">' + im.price + im.unit + '</div>';
                                }
                                lstItem += "</div></div>";
                            });
                            $(div).removeClass("ui-menu");
                            return $(lstItem).appendTo(".suggest-text.suggest-text-2");
                        };


                        if (e.which == 13) {
                            //console.log(data);
                            var kw = $(this).val();
                            var index = 1;
                            var size = 24;
                            var p = {
                                keyword: kw,
                                index: index,
                                size: size
                            }
                            console.log(p);
                            sessionStorage.setItem("esSearch", JSON.stringify(p));
                            window.location.href = "/tim-kiem";
                            //$.get("/Product/GetElasticAll?keyword="+kw+"&index="+index+"&size="+size+"", function (response) {
                            //    console.log(response);
                            //})
                            //$("#go").click();
                        }

                        $('.es-search-button').off('click').on('click', function () {
                            var kw = $(this).closest('.input-group').find('.find-product').val();
                            var index = 1;
                            var size = 24;
                            var p = {
                                keyword: kw,
                                index: index,
                                size: size
                            }
                            console.log(p);
                            sessionStorage.setItem("esSearch", JSON.stringify(p));
                            window.location.href = "/tim-kiem";
                        })

                    }

                })
                $('.es-search-button').off('click').on('click', function () {
                    var kw = $(this).closest('.input-group').find('.find-product').val();
                    var index = 1;
                    var size = 24;
                    var p = {
                        keyword: kw,
                        index: index,
                        size: size
                    }
                    console.log(p);
                    sessionStorage.setItem("esSearch", JSON.stringify(p));
                    window.location.href = "/tim-kiem";
                })


                $('.find-product').on("focusout", function () {
                    setTimeout(function () {
                        $(".suggest-text.suggest-text-2").hide();
                        $(".suggest-text.suggest-text-1").hide();
                    }, 1000);
                });
                $('.find-product').on("focus", function () {
                    if ($(this).val().length < 3) {
                        $(".suggest-text.suggest-text-1").show();
                    }
                });
                $('.cust-ag').off('click').on('click', function () {
                    var url_image = $(this).data('original');
                    if (typeof url_image === 'undefined')
                        url_image = $(this).data('src');

                    //var url_image = $(this).parent().data('url');
                    $('#img01').attr('src', url_image);

                    $('.modal-img').modal('show');
                    $('.modal-backdrop').replaceWith("");
                })
                $('.close-load-img').off('click').on('click', function () {
                    $('.modal-img').modal('hide');
                })
                $('#modal-id').on('shown.bs.modal', function () {
                    $(".modal-backdrop.in").hide();
                })
            })
        </script>
        <script>
            window.fbAsyncInit = function () {
                setTimeout(function () {
                    FB.init({
                        xfbml: true,
                        version: 'v7.0'
                    });
                }, 12000);
            };
            setTimeout(function () {
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

            }, 1200);
        </script>*@
    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=2323475157962564&autoLogAppEvents=1" nonce="Z6tf66vh"></script>*@
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptFooter"))
    @RenderSection("Scripts", required: false)
    @*<h1>@culture</h1>
        <h1>@culture_code</h1>*@
    @*header*@


</body>

</html>