﻿@using LacWebsite.Services.Product.Repository
@using LacWebsite.Services.Zone.Repository
@using MI.Entity.Enums
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using Newtonsoft.Json
@using LacWebsite.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using LacWebsite.Services.Extra.ViewModel
@using LacWebsite.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var LAC_SliceTrangChu = new List<DetailBanerAds>();
    var LAC_DoiTac = new List<DetailBanerAds>();
    var LAC_TieuDeVungHienThi = new List<DetailBanerAds>();
    var LAC_Dong1 = new DetailBanerAds();
    var LAC_Dong2 = new DetailBanerAds();
    var LAC_DoiTac_CuoiTrang = new List<DetailBanerAds>();


    var LAC_DoiTac_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_DoiTac");
    var LAC_TieuDeVungHienThi_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_TieuDeVungHienThi");
    var LAC_Dong1_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_Dong1");
    var LAC_Dong2_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_Dong2");
    var LAC_DoiTac_CuoiTrang_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_DoiTac_CuoiTrang");
    var LAC_SliceTrangChu_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_SliceTrangChu");
    if (LAC_SliceTrangChu_Cache != null)
    {
        LAC_SliceTrangChu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_SliceTrangChu_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (LAC_DoiTac_Cache != null)
    {
        LAC_DoiTac = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_DoiTac_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (LAC_TieuDeVungHienThi_Cache != null)
    {
        LAC_TieuDeVungHienThi = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_TieuDeVungHienThi_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (LAC_Dong1_Cache != null)
    {
        LAC_Dong1 = JsonConvert.DeserializeObject<DetailBanerAds>(LAC_Dong1_Cache.MetaData);
    }
    if (LAC_Dong2_Cache != null)
    {
        LAC_Dong2 = JsonConvert.DeserializeObject<DetailBanerAds>(LAC_Dong2_Cache.MetaData);
    }
    //LAC_DoiTac_CuoiTrang
    if (LAC_DoiTac_CuoiTrang_Cache != null)
    {
        LAC_DoiTac_CuoiTrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_DoiTac_CuoiTrang_Cache.MetaData).Where(r => r.Show == true).ToList();
    }

    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
    var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId");
    var SEOGoogle = bannerAdsRepository.GetConfigByName(culture_code, "SeoPhoto");
    //var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId ");
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@{
    //ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";

}
@section styles{
    @Html.Raw(configSEOUtility.ConfigSocialMeta("default appID", domain_full, title, DesWeb, SEOGoogle))
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))

}

@*<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by-cookie=".AspNetCore.Culture, _LocationId">*@
<section>
    <div class="bg-slide-top">
        <div class="slide-per">
            @foreach (var item in LAC_SliceTrangChu)
            {
                <div class="atest">
                    <div>
                        <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="w-100 mb-h" alt="@item.Title">
                    </div>
                    <div class="container">
                        <div class="home-content">
                            <div class=" text-1 ">@item.Title</div>
                            <div class="text-2 ">
                                @item.Description
                            </div>
                            <a href="@item.Url">XEM NGAY</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="container">
            <div class="slide-bullet-pers">
                <ul class="slide-dot">
                    <li class="slide-pre" id="slide-pre">
                        <!-- <img src="img/1-Homepage/arrow_left.svg" alt=""> -->
                    </li>
                    @{
                        var slide_count = 0;
                    }
                    @foreach (var item in LAC_SliceTrangChu)
                    {
                        <li class=" pro item-dot @(slide_count == 0 ? "active" : "")" data-i="@slide_count">
                            <label class="cycle-per">
                                <img src="~/images/home/elip-xanh.svg" alt="">
                            </label>
                            <label class="dot-per">
                                <img src="~/images/home/elip-trang.svg" alt="">
                            </label>
                        </li>
                        slide_count++;
                    }
                    <li class="slide-next" id="slide-next">
                        <!-- <img src="img/1-Homepage/arrow_right.svg" alt=""> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="doitac">
    <div class="container">
        <div class="content-txt">ĐỐI TÁC CHIẾN LƯỢC</div>
        <div class="line-cont"><img src="~/images/home/th.png" alt=""></div>
        <div class="row">
            @foreach (var item in LAC_DoiTac)
            {
                <div class="col-md-4">
                    <div class="logo-doitac">
                        <img src="@UIHelper.StoreFilePath(item.Image, true)" alt="@item.Title">
                    </div>
                    <div class="txt-dt1">@item.Title</div>
                    <div class="txt-dt2">@item.Description</div>
                    <div class="asee">
                        <a href="@item.Url">Xem thêm</a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section class="design-advisory">
    <div class="container">
        <div class="main-thietke-home">
            <div class="content-txt">THIẾT KẾ THI CÔNG XÂY DỰNG</div>
            <div class="line-cont"><img src="./images/home/th.png" alt=""></div>
            <div class="txt-mota-cont">Với kinh nghiệm trong lĩnh vực thiết kế công trình xây dựng gần 20 năm, LAC tự tin là đơn vị thiết kế thi công công trình xây dựng hàng đầu tại thị trường Việt Nam</div>
            <div class="main-tktcxd">
                <div class="row">
                    @{
                        var spz = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, 0).Where(r => r.ParentId == 0);
                        foreach (var item in spz)
                        {
                            <div class="col-md-4 my-2">
                                <div class="img-room-info">
                                    <div>
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Name">
                                   </div>
                                    <div class="line-ft-prod">
                                        <img src="./images/home/line-ft.png" class="w-100" alt="">
                                        <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)" class="name-info">@item.Name</a>
                                    </div>
                                    <div class="hover-search hiddren">
                                        <div class="info-room-hover border">
                                            <div>
                                                <img src="./images/home/logo-trang.png" class="img-fluid" alt="">
                                            </div>
                                            <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)" class="txt-desg-1">@item.Name</a>
                                            <div class="txt-desg-2">@Html.Raw(item.Description)</div>
                                            <div class="see-more-hov">
                                                <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)">Xem thêm <i class="fal fa-angle-double-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="main-dvutuvan-home">
            <div class="content-txt">DỊCH VỤ TƯ VẤN</div>
            <div class="line-cont"><img src="./images/home/th.png" alt=""></div>
            <div class="txt-mota-cont">Với kinh nghiệm trong lĩnh vực thiết kế công trình xây dựng gần 20 năm, LAC tự tin là đơn vị thiết kế thi công công trình xây dựng hàng đầu tại thị trường Việt Nam</div>
            <div class="main-tktcxd">
                <div class="row">
                    @{
                        var tvz = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Recruitment, culture_code, 13).Where(r => r.ParentId > 0);
                        foreach (var item in tvz)
                        {
                            <div class="col-md-4">
                                <div class="img-room-info">
                                    <div>
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Name">
                                    </div>
                                    <div class="line-ft-prod">
                                        <img src="./images/home/line-ft.png" class="w-100" alt="">
                                        <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)" class="name-info">@item.Name</a>
                                    </div>
                                    <div class="hover-search hiddren">
                                        <div class="info-room-hover border">
                                            <div>
                                                <img src="./images/home/logo-trang.png" class="img-fluid" alt="">
                                            </div>
                                            <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)" class="txt-desg-1">@item.Name</a>
                                            <div class="txt-desg-2">@Html.Raw(item.Description)</div>
                                            <div class="see-more-hov">
                                                <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)">Xem thêm <i class="fal fa-angle-double-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="main-news-home">
            <div class="content-txt">GÓC TƯ VẤN</div>
            <div class="line-cont"><img src="./images/home/th.png" alt=""></div>
            <div class="txt-mota-cont">Với kinh nghiệm trong lĩnh vực thiết kế công trình xây dựng gần 20 năm, LAC tự tin là đơn vị thiết kế thi công công trình xây dựng hàng đầu tại thị trường Việt Nam</div>
            @{
                var t = 0;
                var bvtt = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.Article, (int)TypeArticle.Blog, 1, culture_code, "", 1, 4, out t);
                var bvtt_first = bvtt.FirstOrDefault();
            }
            <div class="row">

                <div class="col-md-8">
                    @if (bvtt_first != null)
                    {
                        <div class="news-nbat">
                            <a href="@LinkRedirectUrl.LinkArticleRedirect(bvtt_first.Url)">
                                <img src="@UIHelper.StoreFilePath(bvtt_first.Avatar, false)" class="w-100" alt="@bvtt_first.Title">
                            </a>

                            <div class="txt-news-nb">
                                <a href="@LinkRedirectUrl.LinkArticleRedirect(bvtt_first.Url)" class="txt-n1">@bvtt_first.Title</a>
                                <div class="txt-n2">@Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(bvtt_first.Description), 20, "..."))</div>
                                <div class="d-flex">
                                    @*<div>
                                            <i class="far fa-user"></i> Bro Đào
                                        </div>*@
                                    @*<div style="padding-left: 35px;">
                                            <i class="far fa-eye"></i> @bvtt_first.ViewCount
                                        </div>*@
                                </div>
                                <div class="asee" style="text-align: start;">
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(bvtt_first.Url)">Xem thêm</a>
                                </div>
                                <div class="tag">
                                    <img src="./images/home/tag.png" alt="">
                                    <div class="date-tag"><b>@bvtt_first.CreatedDate.ToString("dd")</b> <br>@bvtt_first.CreatedDate.ToString("MMM")</div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="col-md-4">

                    <ul class="all-news-mn">
                        @foreach (var item in bvtt.Skip(1))
                        {
                            <li class="mini-news">
                                <div class="row">
                                    <div class="col-5 px-2">
                                        <div class="news-nbat">
                                            <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                                <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                                            </a>

                                            <div class="tag">
                                                <img src="./images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                                <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>@item.CreatedDate.ToString("dd")</b> <br>@item.CreatedDate.ToString("MMM")</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7 px-2">

                                        <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)" class="titl-mn-news">@item.Title</a>
                                        <div class="mota-mn-news">
                                            @Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(item.Description), 20, "..."))
                                        </div>
                                        <div class="asee" style="text-align: start;font-size: 12px;">
                                            <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="logo-doitac">
    <div class="container">
        <div class="content-txt">ĐỐI TÁC CỦA LAC</div>
        <div class="line-cont"><img src="~/images/home/th.png" alt=""></div>
        <div class="slide-customer" data-count="@LAC_DoiTac_CuoiTrang.Count">
            @for (int i = 0; i < LAC_DoiTac_CuoiTrang.Count(); i++)
            {
                <div class="acustomer">
                    @*@if (i <= LAC_DoiTac_CuoiTrang.Count() - 1)
                        {*@
                    <div class="a1">
                        <img src="@UIHelper.StoreFilePath(LAC_DoiTac_CuoiTrang[i].Image)" alt="@LAC_DoiTac_CuoiTrang[i].Title">
                    </div>
                    @*<div class="a2">
                            <img src="@UIHelper.StoreFilePath(LAC_DoiTac_CuoiTrang[i].Image)" alt="@LAC_DoiTac_CuoiTrang[i].Title">
                        </div>*@
                    @*}*@
                    @*@if (i + 1 <= LAC_DoiTac_CuoiTrang.Count() - 1)
                        {
                            <div class="a2">
                                <img src="@UIHelper.StoreFilePath(LAC_DoiTac_CuoiTrang[i+1].Image)" alt="@LAC_DoiTac_CuoiTrang[i+1].Title">
                            </div>
                        }*@

                </div>
            }

        </div>
    </div>
</section>
@*</cache>*@


@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@

    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js?v=1" ></script>*@
    <script type="text/javascript" src="~/js/controller/homeController.js?v=@WebHelper.Version()"></script>
}
