﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using LacWebsite.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using LacWebsite.Services.Locations.Repository
@using LacWebsite.Services.Extra.Repository
@using LacWebsite.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject ITreeviewHelper treeviewHelper
@{
    ViewData["Title"] = "Introduce";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}
@{
    var LAC_GioiThieu = new List<DetailBanerAds>();
    var LAC_GioiThieu_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_GioiThieu");
    if (LAC_GioiThieu_Cache != null)
    {
        LAC_GioiThieu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_GioiThieu_Cache.MetaData).Where(r => r.Show == true).OrderBy(r => r.Order).ToList();
    }
}


<!-- home section start -->
@{
    var banner_gt = LAC_GioiThieu.Skip(0).Take(1).FirstOrDefault();
    if (banner_gt != null)
    {
        <section class="home" id="home">
            <div class="container max-width">
                <div class="home-content">
                    <div class="text-1">@banner_gt.Title</div>
                    <div class="text-2">
                        @banner_gt.Description
                    </div>
                    <a href="@banner_gt.Url">XEM NGAY</a>
                </div>
            </div>
            <div class="icon-arr">
                <a id="moveSectionDown" href="#"><i class="fal fa-angle-down"></i></a>
            </div>
        </section>
    }
}

<section class="main-cate p-0">
    <div class="bg-bread">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="/gioi-thieu">Giới thiệu</a></li>

                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        @{
            var gt_k1 = LAC_GioiThieu.Skip(1).Take(1).FirstOrDefault();
            if (gt_k1 != null)
            {
                <div class="all-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title-navr">@gt_k1.Title</div>
                            <div class="line-weus"></div>
                            <p class="pt-4">
                                @gt_k1.Description
                            </p>

                            @*<p>
                                    Với đội ngũ nhân viên thiết kế và thi công xây dựng, nội thất nhiều năm kinh nghiệm, các công trình của SUNHOME luôn đạt được mức độ nghệ thuật cao và công năng sử dụng tối ưu. SUNHOME đã và đang từng bước phát triển vượt bậc cũng
                                    như được nhiều khách hàng tin tưởng.
                                </p>*@
                        </div>
                        <div class="col-md-6">
                            <div class="bosimg">
                                <div class="line-img">
                                </div>
                                <div class="img-abs">
                                    <img src="@UIHelper.StoreFilePath(gt_k1.Image, false)" class="cus-imgabs" alt="@gt_k1.Title">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <div class="all-2">
        <div class="container">
            <div class="title-navr">LĨNH VỰC HOẠT ĐỘNG</div>
            <div class="line-weus"></div>
            <div class="row" style="padding-top: 60px;">
                @{
                    var gt_k2 = LAC_GioiThieu.Skip(2).Take(3);
                    foreach (var item in gt_k2)
                    {
                        <div class="col-md-4">
                            <img src="@UIHelper.StoreFilePath(item.Image, false)" style="height: 90px;" alt="@item.Title">
                            <div class="tit-weus">@item.Title</div>
                            <span>@item.Description</span>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="container">
            @{
                var gt_k3 = LAC_GioiThieu.Skip(5);
                var count_k3 = 1;
                foreach (var item in gt_k3)
                {
                    <div class="all-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="bosimg">
                                    <div class="line-img">
                                    </div>
                                    <div class="img-abs">
                                        <img src="@UIHelper.StoreFilePath(item.Image)" class="cus-imgabs" alt="@item.Title">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="title-navr">@item.Title</div>
                                <div class="line-weus"></div>
                                <p class="pt-4">
                                    @item.Description
                                </p>

                                @*<p>
                                        Với đội ngũ nhân viên thiết kế và thi công xây dựng, nội thất nhiều năm kinh nghiệm, các công trình của SUNHOME luôn đạt được mức độ nghệ thuật cao và công năng sử dụng tối ưu. SUNHOME đã và đang từng bước phát triển vượt bậc cũng
                                        như được nhiều khách hàng tin tưởng.
                                    </p>*@
                            </div>
                        </div>
                    </div>
                }
            }


            <div class="all-3">
                <div class="title-navr">CÁC DỰ ÁN ĐÃ TRIỂN KHAI</div>
                <div class="line-weus"></div>
                <div class="mb-form-bk pt-4">
                    @{

                        var zone_child = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, 0).Where(r => r.ParentId == 0);
                        var count_zone_child = 1;
                        var f = 0;
                        var zonef = zone_child.FirstOrDefault();
                        if (zonef != null)
                        {
                            f = zonef.Id;
                        }
                    }
                    <ul class="nav cust-navtab1" id="myTab" role="tablist">
                        @foreach (var item in zone_child)
                        {
                            <li class="nav-item bor">
                                <a class="nav-link @(count_zone_child == 1 ? "active": "") choosen_zone" data-id="@item.Id" id="home-tab" data-toggle="tab" href="#bietthu" role="tab" aria-controls="home" aria-selected="@(count_zone_child == 1 ? "true" : "false")">@item.Name</a>
                            </li>
                            count_zone_child++;
                        }
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="bietthu" role="tabpanel" aria-labelledby="home-tab">
                            @await Component.InvokeAsync("ProductListProvider", new { zone_id = f })
                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>


@section Scripts{
    <script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/productController.js" asp-append-version="true"></script>

}