﻿@using Enterbuy.Data.SqlServer.ModelDto;
@using Utils;
@using Enterbuy.Core.Enumerations;
@using Enterbuy.Data.SqlServer.Dao.Interfaces;
@using Microsoft.AspNetCore.Http.Extensions;
@inject IArticleDao articleRepository
@inject IZoneDao zoneDao
@inject RamData.IConfig config
@using Enterbuy.WebInterface.Models
@using Newtonsoft.Json
@model ArticleDetail
@{

    bool isNoIndex = false;
    bool isCanonical = false;
    string valCanonical = "";
    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.MetaNoIndex))
        {
            MetaModel oNoIndex = JsonConvert.DeserializeObject<MetaModel>(Model.MetaNoIndex);
            isNoIndex = oNoIndex.Status;
        }
        if (!string.IsNullOrEmpty(Model.MetaCanonical))
        {
            MetaModel oCanonical = JsonConvert.DeserializeObject<MetaModel>(Model.MetaCanonical);
            isCanonical = oCanonical.Status;
            valCanonical = oCanonical.Value;
        }
    }
    var domain_full = Context.Request.GetDisplayUrl();

    Model.ZoneId = zoneDao.GetZoneByArticleId(Model.Id).Id;

    Model.SocialTitle = !String.IsNullOrEmpty(Model.SocialTitle) ? Model.Title : Model.SocialTitle;
    Model.SocialDescription = !String.IsNullOrEmpty(Model.SocialDescription) ? Model.Description : Model.SocialDescription;
    Model.SocialImage = !String.IsNullOrEmpty(Model.SocialImage) ? UIHelper.StoreFilePath(Model.SocialImage) : UIHelper.StoreFilePath(Model.Avatar);
}
@section styles {
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(Model.MetaTitle) == true ? Model.Title : Model.MetaTitle, Model.MetaDescription, Model.MetaKeyword, domain_full))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigSocialMeta(config.GetByName("FacebookAppId"), domain_full, Model.SocialTitle, Model.SocialDescription, Model.SocialImage))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(isNoIndex))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domain_full, isCanonical, valCanonical))
    @await Component.InvokeAsync("SEO_Article", new { article = Model })
}

<div class="container">
    <div class="row flex-md-row">
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            @await Component.InvokeAsync("Breadcrumb", new { zoneId = Model.ZoneId, titleDetail = Model.Title })
            <div class="blog-content">
                <h1 class="title">@Model.Title</h1>
                <div class="d-flex mb-4">
                    <div class="author color-828282 mr-4">
                        <div class="avt align-self-center">
                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(Model.Avatar)" class="img-fluid" alt="@Model.Title" />
                        </div>
                        <div class="align-self-center">
                            @Model.Author
                        </div>
                    </div>
                    <div class="time mb-0">
                        @Model.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.Indexing))
                {
                    @Html.Raw(UIHelper.IndexingCss(Model.Indexing))
                }
                <div class="detail-container" data-id="@Model.Id">
                    <div class="detail cust-img-dt">
                        @Html.Raw(Utility.DecodeHtml(Model.Body))
                    </div>
                    <div class="d-flex facebook-btn justify-content-end my-4">
                        <div class="small mr-3"><img src="~/images/eye.svg" class="img-fluid mr-2" />@Model.ViewCount lượt xem</div>
                        <div class="fb-like" data-href="@domain_full" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                    </div>
                    <div class="my-3">
                        <div class="row mb-3  ">
                            <div class="col-12">
                                <a href="#" class="h5 font-weight-bold ">Bài viết liên quan</a>
                            </div>
                        </div>
                     
                        <ul class="list-blogs-us">
                            @{
                                var news_same_zone = articleRepository.GetRelatedArticle(Model.Id, Utility.DefaultLang);
                            }
                            @foreach (var item in news_same_zone)
                            {
                                var link_tar = BaseBA.UrlNews("", item.Url, 0);
                                <li><a href="@link_tar">@item.Title</a></li>
                            }
                        </ul>
                    </div>

                    <!--Tag-->
                    <div class="tags">
                        <label class="">Từ khóa:</label>
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            var list_tags = Model.Tags.Split(',');
                            foreach (var item in list_tags)
                            {
                                //var link_tar = string.Format("/news/{0}", item);
                                <a href="#" class="item btn-link">@item</a>
                            }
                        }
                    </div>
                    <!--Gửi Comment-->
                    @await Component.InvokeAsync("Comment", new { object_id = Model.Id, object_type = (int)CommentType.Article })
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            @await Component.InvokeAsync("MenuRightBlog")
        </div>

    </div>
</div>
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")

@section scripts {
    <script type="text/javascript" src="~/js/controller/blogDetailController.js" asp-append-version="true"></script>

}