﻿<div class="modal jan-modal fade" id="modal-don-hang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Đơn hàng</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  pt-0" style="color: #4f4f4f;">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <p> Mã số đơn hàng: <span class="font-weight-600">1029xxx2833</span></p>
                        <div class="mb-3">
                            <label class="font-weight-bold mb-1 ">Thông tin khách hàng</label>
                            <div>- Anh/ Chị: <span class="font-weight-600">Nguyễn Tiến Đức</span></div>
                            <div>- SĐT: <span class="font-weight-600"> 0292938333</span></div>
                            <div>- Địa chỉ:<span class="font-weight-600"> Tân Triều - Hà Đông - Hà Nội</span></div>
                            <div>- Yêu cầu khác:<span class="font-weight-600"> Giao ngoài giờ hành chính</span></div>
                        </div>
                        <div class="mb-3">
                            <label class="font-weight-bold mb-1">Thông tin khác </label>
                            <div>- Thanh toán tiền mặt khi nhận hàng</div>
                            <div>
                                - Viết hóa đơn công ty
                            </div>
                            <div>
                                - Thông tin viết hóa đơn:.....................
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <p> Thời gian đặt hàng: <span class="font-weight-600">10 - 02 - 2019 </span></p>
                        <div class="mb-3">
                            <label class="font-weight-bold mb-1 ">Thông tin đơn hàng</label>
                            <div>- Sản phẩm:<span class="font-weight-600"> Sàn gỗ công nghiệp</span></div>
                            <div>- Số lượng:<span class="font-weight-600"> 1</span></div>
                            <div>- Giá bán:<span class="font-weight-600 color-EE7D22">  6.900.000vnđ</span></div>
                            <div>- Tổng tiền:<span class="font-weight-600 color-EE7D22">  6.900.000vnđ</span></div>
                            <div>- Khuyến mại đi kèm: <span class="font-weight-600 ">Lì xì quà tặng 300.000đ</span></div>
                            <div>- Yêu cầu khác:<span class="font-weight-600"> Giao ngoài giờ hành chính</span></div>
                            <div>- Ưu đãi voucher: <span class="font-weight-600 color-EE7D22">  500.000vnđ</span></div>
                            <div>- Mã voucher: <span class="font-weight-600">323131</span></div>
                        </div>
                        <hr />
                        <div class="d-flex">
                            <div>Số tiền cần thanh toán: </div>
                            <div class="ml-auto font-weight-600 color-EE7D22"> 120.000.00vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-link color-828282 px-2 border-right">In</button>
                <button type="button" class="btn btn-link color-828282 px-2 border-right">Chia sẻ</button>
                <button type="button" class="btn btn-link color-828282 px-2 border-right">Gửi email</button>
                <button type="button" class="btn btn-link color-828282 mr-3">Sửa</button>
                <button type="button" class="btn btn-save">Hoàn thành</button>
            </div>
        </div>
    </div>
</div>