﻿@using MI.Entity.Enums;
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Services.BannerAds.Repository
@using MI.Entity.Models
@using LacWebsite.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IBannerAdsRepository bannerAdsRepository;
@using Utils
@using System.Linq
@{
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    var banner_tim_kiem = new DetailBanerAds();
    var banner_tim_kiem_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_BannerTimKiem");
    if(banner_tim_kiem_cache != null)
    {
        banner_tim_kiem = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(banner_tim_kiem_cache.MetaData);
    }
}

@model List<ArticleMinify>;
<section class="home" id="home">
    @if (banner_tim_kiem != null)
    {
        var banner = banner_tim_kiem.Image;
        //var bg = UIHelper.StoreFilePath(zone_target.Banner, false);
        if (string.IsNullOrEmpty(banner))
        {
            banner = "/images/home/slide.png";
        }
        <div class="container max-width">
            <div class="home-content" style="background: url(@banner) no-repeat center">
                <div class="text-1">@banner_tim_kiem.Title</div>
                <div class="text-2">
                    @banner_tim_kiem.Description
                </div>
                <a href="@banner_tim_kiem.Url">XEM NGAY</a>
            </div>
        </div>
    }

    <div class="icon-arr">
        <a id="moveSectionDown" href="#"><i class="fal fa-angle-down"></i></a>
    </div>
</section>
<section class="main-cate">
    <div class="bg-bread">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Tìm kiếm</a></li>

                </ol>
            </nav>
        </div>

    </div>
    @if (Model != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-navr border-bottom">TÌM KIẾM</div>
                    <div class="pt-3">
                        @{
                            var baivietlon = Model.FirstOrDefault();
                            var baivietnho = Model.Skip(1).ToList();
                        }

                        @if (baivietlon != null)
                        {
                            <div class="row">

                                <div class="col-md-7">
                                    <div class="news-nbat">
                                        <img src="@UIHelper.StoreFilePath(baivietlon.Avatar, false)" class="w-100" alt="@baivietlon.Title">
                                        <div class="tag">
                                            <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                            <div class="date-tag"><b>@baivietlon.CreatedDate.ToString("dd")</b> <br>@baivietlon.CreatedDate.ToString("MMM")</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="txt-n3">@baivietlon.Title</div>
                                    <div class="txt-n2">@Html.Raw(baivietlon.Description)</div>
                                    <div class="d-flex">
                                        <div>
                                            <i class="far fa-user"></i> @baivietlon.Author
                                        </div>
                                        <div style="padding-left: 35px;">
                                            <i class="far fa-eye"></i> @baivietlon.ViewCount
                                        </div>
                                    </div>
                                    <div class="asee" style="text-align: start;">
                                        <a href="@LinkRedirectUrl.LinkArticleRedirect(baivietlon.Url)">Xem thêm</a>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                    <div class="all-newslq">
                        <div class="row">
                            @foreach (var item in baivietnho)
                            {
                                var link_Tar = LinkRedirectUrl.LinkArticleRedirect(item.Url);
                                <div class="col-md-4 py-2">
                                    <div class="news-nbat">
                                        <a href="@link_Tar">
                                            <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                                        </a>
                                        <div class="tag">
                                            <img src="./images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                            <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>@item.CreatedDate.ToString("dd")</b> <br>@item.CreatedDate.ToString("MMM")</div>
                                        </div>
                                    </div>
                                    <a href="@link_Tar">
                                        <div class="titl-mn-news py-2">@item.Title</div>
                                    </a>
                                    <div class="d-flex">
                                        <div class="icon-news">
                                            <i class="far fa-user"></i> @(string.IsNullOrEmpty(item.Author) ? "Admin" : item.Author)
                                        </div>
                                        <div class="icon-news" style="padding-left: 35px;">
                                            <i class="far fa-eye"></i> @item.ViewCount
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                @await Component.InvokeAsync("MenuRightBlog")
            </div>
        </div>
    }

</section>


