﻿@using LacWebsite.Services.Store.ViewModel;
@using LacWebsite.Services.Store.ViewModel;
@inject IBannerAdsRepository bannerAdsRepository;
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.BannerAds.ViewModel
@using MI.Entity.Models
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using LacWebsite.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using LacWebsite.Services.Locations.Repository
@using LacWebsite.Services.Extra.Repository
@using LacWebsite.Services.Locations.ViewModal;
@using LacWebsite.Services.Locations.ViewModal;
@using LacWebsite.Services.Locations.Repository;
@using LacWebsite.Services.Store.Repository;
@using LacWebsite.Services.Store.ViewModel;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IStoreRepository storeRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions
@*@{
    ViewData["Title"] = "Tìm quanh đây";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}*@
@model List<StoreResponse>;
@{

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var Stem_Trang_DinhVi = new List<DetailBanerAds>();
    var Stem_Trang_DinhVi_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Trang_DinhVi");
    if (Stem_Trang_DinhVi_Cahche != null)
    {
        Stem_Trang_DinhVi = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Trang_DinhVi_Cahche.MetaData);
    }
}
@{
    ViewData["Title"] = "Tìm quanh đây";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

@{
    List<StoreResponse> storeResponses = new List<StoreResponse>();
    if (ViewBag.ListDepartment != null)
    {
        storeResponses = (List<StoreResponse>)ViewBag.ListDepartment;
    }
}

<div class="banner-list-store py-5">
    @{
        var item = Stem_Trang_DinhVi;
        var link = "";
        var count = 0;
        switch (count)
        {
            case 0:
                link = "~/images/icon-banner-lt-1.svg";
                break;
            case 1:
                link = "~/images/icon-banner-lt-2.svg";
                break;
            case 2:
                link = "~/images/icon-banner-lt-3.svg";
                break;
        }
    }

    <div class="container">
        <div class="row justify-content-center">

            @foreach (var i in item)
            {
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="item mb-3 mb-sm-0">
                        <div class="icon">
                            <img asp-append-version="true" src="@link" class="img" />
                        </div>
                        <div class="number">
                            @i.Title
                        </div>
                        <div>
                            @{
                                var w = i.Description.Split(" ").ToList();
                                var w_1 = string.Join(" ", w.Skip(0).Take(3));
                                var w_2 = string.Join(" ", w.Skip(3));
                            }
                            @w_1<br />@w_2
                        </div>
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="current-location" id="current-location" title="Xác định vị trí">
        <div class="r-content"><i class="fa-icon-current"></i></div>
    </div>
    <div class="">
        <div class="bg-map position-relative">
            <div class="box-list-stores col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12 px-0 p-md-3" style="z-index: 999;">
                <h6 class="title">Janhome tại địa phương bạn</h6>
                <div class="mb-3">Hãy tìm Janhome tại địa phương bạn</div>
                <div class="search-comment mb-3">
                    <input class="form-control " type="text" placeholder="Tìm kiếm" id="txtSearchLocation" onkeyup="R.DepartmentByLocation.SeachLocation()">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
                <div class="mb-3">
                    <div class="d-inline-block mr-3">Khoảng cách</div>
                    <label class="label-checkbox ">
                        500m
                        <input type="radio" name="rDistance" value="500">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        1km
                        <input type="radio" name="rDistance" value="1000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        2km
                        <input type="radio" name="rDistance" value="2000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        3km
                        <input type="radio" name="rDistance" value="3000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        5km
                        <input type="radio" name="rDistance" value="5000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        10km
                        <input type="radio" name="rDistance" value="10000">
                        <span class="checkmark"></span>
                    </label>
                    <div>
                        <a href="" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <button class="btn btn-save  w-100 mb-3" onclick="expandListStore()">
                    Xem tất cả các cửa hàng<i class="fas fa-chevron-down ml-auto float-right mt-1 small"></i>
                </button>
                <div class="list-add-store expand" id="shop-result-content">
                    <!-- Viet vao day-->
                    @{
                        var los = locationsRepository.GetLocations(culture_code);

                    }
                    <div class="accordion" id="accordionExample">
                        @{ var st = 1;}
                        @foreach (var it in los)
                        {
                            var id = string.Format("los_{0}", it.Id);
                            var collapseId = string.Format("collapse_{0}", it.Id);
                            <div class="card">
                                <div class="card-header d-flex align-items-center" id="@id">
                                    <div class="mb-0">
                                        <button class="btn name-tinhthanh" type="button" data-toggle="collapse" data-target="#@collapseId" aria-expanded="@(st==1?"false":"false")" aria-controls="@collapseId">
                                            @it.Name
                                        </button>
                                    </div>
                                    <div class="number-store pl-1">(5)</div>
                                </div>

                                <div id="@collapseId" class="collapse @(st==1?"":"")" aria-labelledby="@id" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @{
                                            var dept = storeRepository.GetDepartmentByLocationID(culture_code, it.Id);
                                        }
                                        @foreach (var lo in dept)
                                        {
                                            <div class="item">
                                                <div class="name"><a href="javascript:void(0)" onclick="R.Location.ShowLocation(this)" data-lat="@lo.Latitude" data-lng="@lo.Longitude">@lo.Name</a></div>
                                                <div class="d-flex ">
                                                    <div class="icon">
                                                        <img asp-append-version="true" src="~/images/icon-store-1.svg" class="img-fluid" />
                                                    </div>
                                                    <div class="text">
                                                        @lo.Address
                                                    </div>
                                                </div>
                                                <div class="d-flex ">
                                                    <div class="icon">
                                                        <img asp-append-version="true" src="~/images/icon-store-2.svg" class="img-fluid" />
                                                    </div>
                                                    <div class="text">
                                                        <a href="@lo.Url">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="icon">
                                                        <img asp-append-version="true" src="~/images/icon-store-3.svg" class="img-fluid" />
                                                    </div>
                                                    <div class="text color-EE7D22 font-weight-600 ">
                                                        @lo.Hotline
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            st++;
                        }
                    </div>
                </div>
            </div>
            <div id="map" class="w-100"></div>
        </div>
    </div>
</div>

<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/shipment-international.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/professions-man-telecommunicator.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/saving-piggy-dollars.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <link href="~/vendor/map/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="~/vendor/map/fSelect/fselect.js"></script>
    <script src="~/vendor/map/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/vendor/map/jquery.slimScroll.js"></script>
    <script src="~/vendor/map/jquery.mousewheel.min.js"></script>
    <script src="~/vendor/map/jquery.jscrollpane.min.js"></script>
    <link href="~/vendor/map/jquery.jscrollpane.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnbU1GPu5dcVfxn0GFTUoNC6UYpFIrxrA&callback=R.DepartmentByLocation.InitMap" defer></script>
    <script type="text/javascript" src="~/js/Store/DepartmentByLocation.js" asp-append-version="true"></script>

}