﻿@using DiDongXanh_Web.Services.Zone.ViewModal
@using DiDongXanh_Web.Services.Zone.Repository
@using DiDongXanh_Web.Services.BannerAds.ViewModel
@using DiDongXanh_Web.Services.Extra.ViewModel
@using DiDongXanh_Web.Services.BannerAds.Repository
@using MI.Entity.Models
@using MI.Entity.Enums

@using DiDongXanh_Web.Services.Product.Repository
@using DiDongXanh_Web.Services.Extra.Repository
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils
@inject IHttpContextAccessor HttpContextAccessor
@using DiDongXanh_Web.Utility
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IExtraRepository extraRepository
@{

    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var zone_tree_view = ViewBag.ZoneTreeView as List<ZoneByTreeViewMinify>;
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var Banner_Danhmuc_Sanpham_Anhto = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhnho_tren = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhnho_duoi = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhto_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhto");
    var Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhnho_tren");
    var Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhnho_duoi");
    if (Banner_Danhmuc_Sanpham_Anhto_Cache != null)
    {
        Banner_Danhmuc_Sanpham_Anhto = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhto_Cache.MetaData);
    }
    if (Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche != null)
    {
        Banner_Danhmuc_Sanpham_Anhnho_tren = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche.MetaData);
    }
    if (Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche != null)
    {
        Banner_Danhmuc_Sanpham_Anhnho_duoi = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche.MetaData);
    }
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;

}
@section styles{
    @{ var bind_meta = "";}
    @if (zone_detail != null)
    {

        bind_meta += configSEOUtility.ConfigMeta(zone_detail.MetaTitle, zone_detail.MetaDescription, zone_detail.MetaKeyword);
        bind_meta += configSEOUtility.ConfigSocialMeta();
    }
    @Html.Raw(bind_meta)
    <style>
        .color-circle {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: inline-block;
            /*border: 1px solid #ffffff;*/
        }

        .picking-active {
            border: 1px solid red !important;
        }

        .detail img {
            max-width: 100%;
        }
    </style>
}
<div id="zone-current" data-id="@zone_detail.Id" style="display:none"></div>
@{ var list_zone_first = zone_tree_view.Where(r => r.level == 1);
    if (zone_tree_view.Count() == 1)
    {
        //list_zone_first = zone_tree_view.Where(r => r.level == 0);
        list_zone_first = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, (int)zone_detail.ParentId).Where(r => r.ParentId > 0 && r.ParentId == zone_detail.Id);
    }
}

<div class="container">
    @await Component.InvokeAsync("Breadcrumb", new { zone_id = zone_detail.Id })
</div>
<div class="container mobi-hidden">
    <div class="banner-full">
        @if (!String.IsNullOrEmpty(@zone_detail.Banner))
        {
            <a href="#">
                <img src="@UIHelper.StoreFilePath(@zone_detail.Banner)" alt="Image News">
            </a>
        }
        else
        {
            <a href="#">
                <img src="~/design/images/banner/banner-7.png" alt="Banner" />
            </a>
        }
    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="swiper js-partners-slide">
            <div class="swiper-wrapper partners-slide__wrap">
                <div class="swiper-slide partners-slide__item">
                    <a href="danh-sach-san-pham.html">
                        <img src="~/design/images/partners/1.png" alt="Partners" />
                    </a>
                </div>
                <div class="swiper-slide partners-slide__item">
                    <a href="#">
                        <img src="~/design/images/partners/2.png" alt="Partners" />
                    </a>
                </div>
                <div class="swiper-slide partners-slide__item">
                    <a href="#">
                        <img src="~/design/images/partners/3.png" alt="Partners" />
                    </a>
                </div>
                <div class="swiper-slide partners-slide__item">
                    <a href="#">
                        <img src="~/design/images/partners/4.png" alt="Partners" />
                    </a>
                </div>
                <div class="swiper-slide partners-slide__item">
                    <a href="#">
                        <img src="~/design/images/partners/2.png" alt="Partners" />
                    </a>
                </div>
                <div class="swiper-slide partners-slide__item">
                    <a href="#">
                        <img src="~/design/images/partners/3.png" alt="Partners" />
                    </a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<!-- Product Filters -->
<div class="container mb-30">
    <div class="product-filters">
        <div class="product-filters__wrap">
            <div class="product-filters__title">Bộ lọc:</div>
            <!-- Box -->
            <div class="product-filters__facet vung-thieu">
                <label>
                    <a href="javascript:;">Thương hiệu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                </label>
                <div class="product-filters__sub filter-item manufacture">
                    @{
                        var list_manufactures2 = extraRepository.GetManufacturesByZoneId(culture_code, zone_detail.Id);
                    }
                    <ul>
                        @foreach (var item in list_manufactures2)
                        {
                            <li>
                                <input type="checkbox" data-filterd="manufacture" data-value="@item.Id" />
                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar, false)" class="img-fluid" alt="@item.Name" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="product-filters__facet">
                <label>
                    <a href="javascript:;">Mức giá <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                </label>
                <div class="product-filters__sub filter-item price">

                    <ul>
                        @{
                            var ls_flt2 = zone_detail.Filter;
                            if (!string.IsNullOrEmpty(ls_flt2))
                            {
                                var l = ls_flt2.Split(',');
                                var count_filter = 1;
                                foreach (var item in l)
                                {
                                    var st = int.Parse(item.Split('-')[0]);
                                    var en = int.Parse(item.Split('-')[1]);
                                    var value_builder = string.Format("{0}-{1}", st, en);
                                    var text_builder = string.Format("{0} - {1}", UIHelper.ConvertMoneyText(st), UIHelper.ConvertMoneyText(en));
                                    if (count_filter == 1)
                                    {
                                        text_builder = string.Format("Dưới {0}", UIHelper.ConvertMoneyText(en));
                                    }
                                    if (count_filter == l.Count())
                                    {
                                        text_builder = string.Format("Trên {0}", UIHelper.ConvertMoneyText(st));
                                    }
                                    <li>
                                        <input type="checkbox" data-filterd="price" data-value="@value_builder" style="height: 20px;width: 20px;">

                                        @text_builder

                                    </li>
                                    count_filter++;
                                }
                            }
                            else
                            {
                                <li>
                                    <input type="checkbox" style="height: 20px; width: 20px;" data-filterd="price" data-value="0-200000">
                                    Từ 0 - 200k
                                </li>
                                <li>
                                    <input type="checkbox" style="height: 20px; width: 20px;" data-filterd="price" data-value="200000-500000">
                                    200k - 500k
                                </li>
                                <li>
                                    <input type="checkbox" style="height: 20px; width: 20px;" data-filterd="price" data-value="1000000-2000000">
                                    1tr - 2tr
                                </li>
                                <li>
                                    <input type="checkbox" style="height: 20px; width: 20px;" data - filterd="price" data-value="2000000-5000000">
                                    2tr - 5tr
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
            <!-- End Box -->
            <!-- Box -->
            @{ var list_filter = productRepository.GetFilterProductByZoneId(zone_detail.Id, culture_code).Take(4);}
            @foreach (var item in list_filter)
            {
                <div class="product-filters__facet">
                    <label>
                        <a href="javascript:;">@item.Name<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </label>
                    <div class="product-filters__sub filter-item dynamic-filter">
                        <ul>
                            @foreach (var i in item.Values)
                            {
                                <li>
                                    <input type="checkbox" style="height: 20px;width: 20px;" data-filterd="spectification" data-value="@i.Value" data-spec="@i.SpectificationId">
                                    @i.Value
                                </li>

                            }
                        </ul>
                    </div>

                </div>
            }
            <!-- End Box -->
        </div>
    </div>

</div>

<div class="container" id="append-filter">
    <div class="products-grid js-product-load-more _binding_product">
        <!-- Item -->
        <div class="products-grid__item">
            <div class="product-item-grid">
                <div class="product-item-grid__image">
                    <a href="chi-tiet-san-pham.html">
                        <img src="images/products/pro-1.png" alt="Product Item" />
                    </a>
                    <div class="product-item-grid__pay">Trả góp 0%</div>
                    <div class="product-item-grid__discount">
                        <img src="images/icons/flash-yellow.svg" alt="Icon Flash" />
                        <span>Giảm -30%</span>
                    </div>
                </div>
                <div class="product-item-grid__content">
                    <h4 class="product-item-grid__title">
                        <a href="chi-tiet-san-pham.html">iPhone 11 64GB Quốc Tế (Likenew) 1</a>
                    </h4>
                    <div class="product-item-grid__price">
                        <p class="product-item-grid__price-new">5.290.000₫</p>
                        <p class="product-item-grid__price-old">8.990.000₫</p>
                    </div>
                    <div class="product-item-grid__desc">
                        Thu cũ lên đời, giá tốt nhất thị trường
                    </div>
                    <div class="product-item-grid__rating">
                        <div class="product-item-grid__rating-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="product-item-grid__rating-number">(50)</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item -->
    </div>
    <div class="text-center">
        <button id="buttonLoadMore" class="load-more-product">Xem thêm 123 sản phẩm</button>
    </div>
</div>

@*@section Scripts{
        <script type="text/javascript" src="~/js/controller/productController.js" asp-append-version="true"></script>
    }*@

