﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MI.Entity.Enums;
@using KAOCoffee.Services.Zone.ViewModal
@using KAOCoffee.Services.Article.ViewModel
@using KAOCoffee.Services.Extra.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using KAOCoffee.Services.Article.Repository
@using KAOCoffee.Services.Extra.Repository
@using KAOCoffee.Services.Zone.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@inject IExtraRepository extraRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}

@{
    var obj_id = ViewBag.ObjId;
    var obj_type = ViewBag.ObjType;
    var obj = articleRepository.GetArticleDetail(obj_id, culture_code);
    var hTag = ViewBag.HTag;
    var dict = (Dictionary<int, double>)ViewBag.dict;
    var rate = extraRepository.GetRatingByObjectId(obj_id, obj_type);
    

    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
}


<div class="uk-card uk-card-body duan-detail__box6 mb-20 mb-58-m">
            <div class="uk-grid-divider uk-grid-large uk-flex-middle" uk-grid>
                <div class="uk-width-1-4@m">
                    <div class="uk-text-center">
                        <div class="duan-detail__box6__left__txt1">@rate</div>
                        <div class="duan-detail__box6__left__rate">
                            @{ var rating_rounded = (int)Math.Round(rate);}
                            @for (int i = 0; i < 5; i++)
                            {
                                var class_text = "fas fa-star";
                                if (i + 1 <= rating_rounded)
                                {
                                    class_text += " checked";
                                }
                                <i class="@class_text" aria-hidden="true"></i>
                            }
                        </div>
                        <div class="duan-detail__box6__left__txt2">@rate  đánh giá</div>
                    </div>
                </div>
                <div class="uk-width-expand">
                    <div class="uk-grid-10 uk-grid-15-m" uk-grid>
                        @foreach (var item in dict)
                        {
                            <div class="uk-width-1-1">
                                <div class="uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <div class="duan-detail__box6__right__txt1">@item.Key</div>
                                    </div>
                                    <div class="uk-width-expand">
                                        @item.Value
                                        <progress class="uk-progress duan-detail__box6__right__progress" value="@item.Value" max="100"></progress>
                                    </div>
                                    <div class="uk-width-auto">
                                        <div class="duan-detail__box6__right__txt2 uk-text-right"><?= $v ?>%</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


<div class="star-rating @(hTag) text-center" data-id="@obj_id" data-type="@obj_type">
    
</div>