﻿@using MI.Entity.Enums;
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}

@{
    var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.Article, culture_code);

}
@section styles {


}
@{ var total_promotions = 0;
    //articleRepository.GetArticlesInZoneId_Minify_FullFilter(0,(int)TypeZone.AllButProduct, (int)TypeArticle.Blog,2, culture_code, "", 1, 6, out total_newest);
    var list_promotions = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.Promotion, (int)TypeArticle.Blog, 2, culture_code, "", 1, 4, out total_promotions);
    var count_pro = 1;
}
@{ var total_newest = 0;
    var top_newest = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, culture_code, "", 1, 6, out total_newest);
    var count_news = 1;
}



<div class="col-md-3">
    <div class="nav-right">
        <div style="padding-bottom: 30px;">
            <div class="title-navr border-bottom">DANH MỤC</div>
            <ul class="list-group">
                @foreach (var item in list_zone_parents.OrderBy(r => r.SortOrder))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)">@item.Name</a>
                        @*<span class="badge badge-primary badge-pill">14</span>*@
                    </li>
                }
            </ul>
        </div>
        <div>
            <div class="title-navr border-bottom">TIN KHUYẾN MÃI</div>
            @foreach (var item in list_promotions)
            {
                if (count_pro == 1)
                {
                    <div class="news-km-top">
                        <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                            <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                        </a>
                        <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                            <div class="titl-mn-news py-2">@item.Title</div>
                        </a>
                        <p class="m-0">@Html.Raw(item.Description)</p>
                        <div class="d-flex">
                            <div class="icon-news">
                                <i class="fal fa-calendar-alt"></i> @item.CreatedDate.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                    </div>
                }
                if (count_pro > 1)
                {
                    <div class="tinvan">
                        <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                            <div class="titl-tinvan">@item.Title</div>
                        </a>
                        <div class="d-flex">
                            <div class="icon-news">
                                <i class="fal fa-calendar-alt"></i> @item.CreatedDate.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <div>
            <div class="title-navr border-bottom">TIN MỚI</div>
            <ul class="all-news-mn mt-2">
                @foreach (var item in top_newest)
                {
                    <li class="mini-news">
                        <div class="row">
                            <div class="col-5 px-2">
                                <div class="news-nbat">
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                                    </a>

                                    <div class="tag">
                                        <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                        <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>@item.CreatedDate.Day</b> <br>@item.CreatedDate.ToString("MMM")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 px-2">
                                <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                    <div class="titl-mn-news">@item.Title</div>
                                </a>

                                <div class="d-flex">
                                    <div class="icon-news">
                                        <i class="fal fa-calendar-alt"></i> @item.CreatedDate.ToString("dd/MM/yyyy")
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div>
            <img src="~/images/service/banner-service.png" class="w-100" alt="">
        </div>
    </div>
</div>