﻿@using Utils
@using Enterbuy.WebInterface.Models
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Services.Blog.Services
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Enterbuy.Services.Common.Services.Interfaces
@inject RamData.IConfig Config
@inject IBannerAdsDao bannerAdsRepository
@inject IBlogServices BlogServicesRepository
@inject IZoneDao zoneDaoRepository
@{
    var favicon = Config.GetByName("Favicon");
    var schema = Config.GetByName("SchemaFull");
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

}
<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese" rel="stylesheet">
    <script async src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>

    @* <link asp-append-version="true" rel="stylesheet" href="~/css/bootstrap.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/animate.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/fa.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/installment.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/pagination.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/swiper.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/style.css" /> *@
    @* thứ tự file css như thế này*@

    <link asp-append-version="true" rel="stylesheet" href="~/css/All.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/style.css" />
    <style>
        .sale-percent {
            color: red !important;
            text-decoration: none;
            font-size: 12px;
            padding-left: 5px;
        }

        .tag-gift {
            color: red;
            font-size: 25px;
            position: absolute;
            left: 10px;
            top: 2px;
        }

        @@media (max-width:768px) {
            .navbar-expand-md .navbar-nav {
                flex-direction: row;
                justify-items: center;
            }

                .navbar-expand-md .navbar-nav li.d-flex {
                    width: 40%;
                }

                .navbar-expand-md .navbar-nav .cart {
                    display: none;
                }

            #buy-now-mobi {
                margin-top: 9px;
                padding-top: 8px;
                font-size: 9px;
                padding-bottom: 8px;
            }

            .d-xs-none {
                display: none;
            }

            .w-xs-100 {
                width: 100px;
            }

            .item-product .price-old {
                font-size: 12px;
            }
            .item-product .sale-percent {
                font-size: 10px;
            }
        }

        .item-product .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }


        .badge .close {
            margin-left: .25rem;
            color: inherit;
            font-size: 100%;
            text-shadow: 0 1px 0 rgba(#000, .5);
        }

        .tags .badge {
            margin-right: 5px;
            padding: 5px;
        }
    </style>
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigWebsite(domain_full, "Enterbuy"))
    @RenderSection("Styles", required: false)
    @Html.Raw(schema)
    @Html.Raw(Config.GetByName("ScriptHeader"))
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Config.GetByName("GoogleAnalytics")"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', '@Config.GetByName("GoogleAnalytics")')</script>
</head>

<body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5d6f133b77aa790be332441d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    @await Component.InvokeAsync("HeaderWebsite", new { isExpand = ViewData["IsExpand"] })
    <cache expires-after="@TimeSpan.FromMinutes(5)">
        @await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(Utility.DefaultLang, "Logo"), false) })
        @*@await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName("vi-VN", "Logo"), false) })*@
        <!--Menu Website-->
        <!--Giỏ hàng mobile-->
        @await Component.InvokeAsync("CartMobile")
        <!--menu mobile-->

    </cache>
    @await Component.InvokeAsync("MenuMobile")
    <!--End of Tawk.to Script-->
    <!--danh mục mobile popup-->
    @*@await Component.InvokeAsync("CategoryMobilePopup")*@
    @RenderBody()
    <cache expires-after="@TimeSpan.FromMinutes(5)">
        @await Component.InvokeAsync("Footer")
    </cache>
    <!--Footer-->
    <!--Modal chọn khu vực-->
    @await Component.InvokeAsync("ModalArea")
    <!-- Modal xác nhận-->
    @await Component.InvokeAsync("ModalConfirm")
    <!-- Modal liên hệ -->
    @await Component.InvokeAsync("ModalContact")
    <!-- Modal tiêu chuẩn -->
    @await Component.InvokeAsync("ModalStandard")
    <!--Banner Two Side-->
    @await Component.InvokeAsync("BannerTwoSide")
    <!--Btn fixed-->
    <div class="btn-fixed d-none d-md-block">
        <div class="text-center mb-3">
            <a href="javascript:;" onclick=" topFunction() " class="">
                <img src="~/images/scroll.svg" class="img-fluid " />
            </a>
        </div>
        @*<div class="text-center">
                <a href="" class="">
                    <img src="~/images/messenger.svg" class="img-fluid wow tada infinite animated" />
                </a>
            </div>*@

    </div>
    <div class="btn-fixed-left d-none d-md-block">
        <div class="" style="width: 60%;">
            <div class="d-none d-md-block">
                <img src="~/images/chuyen-gia-image.png" class="img-fluid" />
            </div>
            <a href="@BaseBA.UrlCategory("phong-chuyen-gia-nuoc")" class="btn btn-cg">
                Phòng chuyên gia nước
            </a>
        </div>
    </div>

    <div class="modal jan-modal " id="modalDefault" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable mb-cust-modal" role="document">
            <div id="modalDefaultContent">
            </div>
        </div>
    </div>
    @*<script asp-append-version="true" src="~/js/jquery.js"></script>
        <script asp-append-version="true" src="~/js/bootstrap.js"></script>
        <script asp-append-version="true" src="~/js/jquery-ui.js"></script>
        <script asp-append-version="true" src="~/js/swiper.js"></script>
        <script asp-append-version="true"  src="~/js/wow.js"></script>
        <script asp-append-version="true"  src="~/js/app.js"></script>
        <script  type="text/javascript" src="~/js/popper.js"></script>
        <script type="text/javascript" src="~/js/core/core.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/controller/menuController.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/controller/orderController.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/controller/extraController.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/controller/inStallmentController.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/momentjs/momentJS.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>*@

    <!--Code cũ-->
    @*<script type="text/javascript" src="/vendor/jquery-3.3.1.min.js"></script>
        <script asp-append-version="true" type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/vendor/popper.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/swiper.min.js"></script>
        <script type="text/javascript" src="/vendor/wow.min.js"></script>*@
    <script type="text/javascript" asp-append-version="true" src="~/js/All.js"></script>

    @*<script asp-append-version="true" type="text/javascript" src="/js/app.js"></script>
        <script asp-append-version="true" type="text/javascript" src="/js/core/core.js"></script>
        <script asp-append-version="true" type="text/javascript" src="/js/controller/menuController.js"></script>
        <script asp-append-version="true" type="text/javascript" src="/js/controller/orderController.js"></script>
        <script asp-append-version="true" type="text/javascript" src="/js/controller/extraController.js"></script>
        <script asp-append-version="true" type="text/javascript" src="/js/controller/inStallmentController.js"></script>*@

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>

    @*<script type="text/javascript" src="/lib/momentjs/momentJS.js?v=nz1A5vCtQ4jsKo2dFzs3dtKhzJhOhPYH7PnkGzciLr4"></script>
        <script type="text/javascript" src="/js/libs/paginationjs/paginationJS.js?v=_GywrNV0fMW9l0mnOa6Gz8zbqp7_d5F3yBpGH6xQmEM"></script>*@
    <!--Code cũ-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.save-location').off('click').on('click', function () {
                var currentUrl = window.location.href;
                var location_id = $('#location-selectbox').val();
                var location_name = $('#location-selectbox option:selected').html();
                localStorage.setItem("_LocationId", location_id);
                localStorage.setItem("_LocationName", location_name);
                var params = {
                    location_id: localStorage.getItem("_LocationId"),
                    location_name: localStorage.getItem("_LocationName"),
                    currentUrl: currentUrl
                }
                setCookie("_LocationId", location_id, 10);
                setCookie("_LocationName", encodeURIComponent(location_name), 10);
                location.reload();
                //$.post('/Cookie/ChangeCurrentLocation', params, function (obj) {
                //})
            })

            $(function () {
                if (window.screen.width < 768) {
                    setTimeout(function () {
                        $('img.lazy').each(function () {
                            var imageDataSource = $(this).data('src');
                            if (imageDataSource != null && imageDataSource.length > 0) {
                                $(this).attr('src', imageDataSource.replace("/uploads", "/uploads/thumb"));
                            }

                        });
                    }, 2000);
                } else {
                    $('.lazy').Lazy({
                        //placeholder: "http://jquery.eisbehr.de/lazy/images/loading.gif"
                    });
                }
            });

        });
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        $('.btn-search').on("click", function () {

            var $this = $(this).closest(".form-search").find(".find-product").val();
            if ($this.length <= 0) {
                $this = "All";
            }
            location.href = "/tim-kiem/" + $this.replace(/ /g, '_');

        });
        //$(".item-product .title a").each(function (item) {
        //    if ($(this).text().trim().length > 53) {
        //        debugger
        //        var txt = $(this).text().trim().substring(0, 53) + "...";
        //        $(this).text(txt);
        //    }
        //});

        $('.find-product').keydown(function () {
            if ($(this).val().length < 2) {
                $(".suggest-text.suggest-text-2").hide();
                $(".suggest-text.suggest-text-1").show();
            } else {
                $(".suggest-text.suggest-text-2").show();
                $(".suggest-text.suggest-text-1").hide();
                $(this).autocomplete({
                    delay: 300,
                    source: function (request, response) {
                        $.ajax({
                            url: "/Product/Get",
                            dataType: "json",
                            data: {
                                keyword: request.term
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 1,
                }).autocomplete("instance")._renderItem = function (div, item) {
                    $(".suggest-text.suggest-text-2").empty();
                    var lstItem = "";
                    lstItem += "<div class='h6 px-3'>Sản phẩm gợi ý</div>"
                    $.each(item, function (index, im) {
                        lstItem += '<div class="item-cart"><div class="image-product"><img src="' + im.avatar + '" class="" /> </div>';
                        lstItem += '<div class="text px-2 "> <h6 class="name-product mb-1"><a href="' + im.url + '">' + im.name + '</a></h6>';
                        if (im.discountPrice.length > 0) {
                            lstItem += '<div class="price d-inline-block">' + im.discountPrice + '</div>';
                        }
                        if (im.discountPrice.price > 0) {
                            lstItem += ' <div  class=" price-old d-inline-block">' + im.price + '</div>';
                        }
                        lstItem += "</div></div>";
                    });
                    $(div).removeClass("ui-menu");
                    return $(lstItem).appendTo(".suggest-text.suggest-text-2");
                };
            }
        })
        $('.find-product').on("focusout", function () {
            setTimeout(function () {
                $(".suggest-text.suggest-text-2").hide();
                $(".suggest-text.suggest-text-1").hide();
            }, 1000);
        });
        $('.find-product').on("focus", function () {
            if ($(this).val().length < 2) {
                $(".suggest-text.suggest-text-1").show();
            }
        });

        $('.find-product').on("keydown", function (e) {
            if (e.keyCode == 13) {
                let keyword = $(this).val().trim();
                if (keyword.length <= 0) {
                    keyword = "All";
                }
                location.href = "/tim-kiem/" + keyword.replace(/ /g, '_');
            }
        });


        (function ($) {
            $.fn.ellipsis = function () {
                return this.each(function () {
                    var el = $(this);

                    if (el.css("overflow") == "hidden") {
                        var text = el.html().trim();
                        var t = $(this.cloneNode(true))
                            .hide()
                            .css('position', 'absolute')
                            .css('overflow', 'visible')
                            .width('auto')
                            .height(el.height())
                            ;
                        el.after(t);

                        function width() { return t.width() > el.width(); };

                        if (width()) {

                            var myElipse = "....";

                            t.html(text);

                            var suggestedCharLength = (text.length * el.width() / t.width()) - myElipse.length;

                            t.html(text.substr(0, suggestedCharLength) + myElipse);

                            var x = 1;
                            if (width()) {
                                while (width()) {
                                    t.html(text.substr(0, suggestedCharLength - x) + myElipse);
                                    x++;
                                }
                            }
                            else {
                                while (!width()) {
                                    t.html(text.substr(0, suggestedCharLength + x) + myElipse);
                                    x++;
                                }
                                x--;
                                t.html(text.substr(0, suggestedCharLength + x) + myElipse);
                            }

                            el.html(t.html());
                            t.remove();
                        }
                    }
                });
            };
        })(jQuery);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>