﻿@using DiDongXanh_Web.Services.Product.ViewModel
@using DiDongXanh_Web.Services.Promotion.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using DiDongXanh_Web.Services.Extra.Repository
@inject IHttpContextAccessor HttpContextAccessor
@using  DiDongXanh_Web.Utility
@inject ICookieUtility cookieUtility
@inject IExtraRepository extraRepository
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}
@{
    var promotions = ViewBag.Promotions as List<PromotionViewModel>;
}

@model List<ProductMinify>;





@foreach (var item in Model)
{
    var link_target = string.Format("/{0}.html", item.Url);

    <div class="cart-detail__item item " id="item-@item.ProductId" data-id="@item.ProductId" data-sale-price="@(item.FlashSaleId > 0 ? item.ProductPriceInFlashSale : item.SalePrice )" data-name="@item.Title" data-is-flash-sale="@item.FlashSaleId">

        <label class="label-checkbox mobi-hidden">
            <input type="checkbox" class="choosen-item" checked>
            <span class="checkmark"></span>
        </label>
        <div class="cart-detail__item-image">
            <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="" alt="@item.Title" />
        </div>
        <div class="cart-detail__item-content">
            <div class="cart-detail__item-content-top">
                <h4 class="cart-detail__item-title name-product">
                    <a href="chi-tiet-san-pham.html">
                        @item.Title
                    </a>
                </h4>
                @if (item.FlashSaleId > 0)
                {
                    <div class="cart-detail__item-price price-new" data-sale-price="@((int)item.ProductPriceInFlashSale)" data-is-flash-sale="@item.FlashSaleId">
                        @UIHelper.FormatNumber(item.ProductPriceInFlashSale)
                    </div>
                }
                else
                {
                    <div class="cart-detail__item-price price-new" data-sale-price="@((int)item.SalePrice)" data-is-flash-sale="@item.FlashSaleId">
                        @UIHelper.FormatNumber(item.SalePrice)
                    </div>
                }

            </div>
            @{
                var colors = new List<string>();
                var c = item.Color;
                if (c != null)
                {
                    colors = c.Split(',').ToList();
                }
                var color_list = extraRepository.GetColors(culture_code);
            }
            <div class="cart-detail__item-type">
                Màu: @c
            </div>


            <div class="cart-detail__item-content-main">
                <div class="cart-detail__item-desc">
                    <p>- Chương trình khuyến mại:</p>
                    <p>[HOT] Thu cũ lên đời giá cao - Thủ tục nhanh - Trợ giá thêm tới 1 triệu</p>
                    <p>- Khuyến mãi hãng:</p>
                    <p>[HOT] Thu cũ lên đời giá cao - Thủ tục nhanh - Trợ giá lên tới</p>
                </div>
                <a href="javascript:void(0)" class="cart-detail__item-delete-mobi desktop-hidden remove-cart-item">
                    Xóa khỏi giỏ
                </a>
                <div class="cart-detail__item-amount group-amount">
                    <button class="btn-sub minus" type="button">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="number" class="quantity" value="" minlength="1">
                    <button class="btn-add plus" type="button">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="sum d-none">
                <span class="item-sum" data-item-sum=""></span>
            </div>
        </div>
        <a href="javascript:void(0)" class="cart-detail__item-delete mobi-hidden remove-cart-item">
            <img src="~/design/images/icons/close.svg" alt="Icon Delete Product" />
        </a>
    </div>



    

}