﻿@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Services.Article.ViewModel
@using LacWebsite.Services.BannerAds.ViewModel
@using LacWebsite.Services.Extra.ViewModel
@using LacWebsite.Services.BannerAds.Repository
@using MI.Entity.Models
@using LacWebsite.Services.Product.Repository
@using LacWebsite.Services.Extra.Repository
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils
@using MI.Entity.Enums
@inject IHttpContextAccessor HttpContextAccessor
@using LacWebsite.Utility
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IExtraRepository extraRepository
@{

    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var zone_tree_view = ViewBag.ZoneTreeView as List<ZoneByTreeViewMinify>;
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var Banner_Danhmuc_Sanpham_Anhto = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhnho_tren = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhnho_duoi = new DetailBanerAds();
    var Banner_Danhmuc_Sanpham_Anhto_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhto");
    var Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhnho_tren");
    var Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Danhmuc_Sanpham_Anhnho_duoi");
    if (Banner_Danhmuc_Sanpham_Anhto_Cache != null)
    {
        Banner_Danhmuc_Sanpham_Anhto = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhto_Cache.MetaData);
    }
    if (Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche != null)
    {
        Banner_Danhmuc_Sanpham_Anhnho_tren = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhnho_tren_Cahche.MetaData);
    }
    if (Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche != null)
    {
        Banner_Danhmuc_Sanpham_Anhnho_duoi = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Danhmuc_Sanpham_Anhnho_duoi_Cahche.MetaData);
    }

}
@section styles{
    @{ var bind_meta = "";}
    @if (zone_detail != null)
    {

        bind_meta += configSEOUtility.ConfigMeta(zone_detail.MetaTitle, zone_detail.MetaDescription, zone_detail.MetaKeyword);
        bind_meta += configSEOUtility.ConfigSocialMeta();

    }
    @Html.Raw(bind_meta)
    <style>
        .color-circle {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: inline-block;
            /*border: 1px solid #ffffff;*/
        }

        .picking-active {
            border: 1px solid red !important;
        }

        .detail img {
            max-width: 100%;
        }
    </style>
}
@{ 
    var bg = UIHelper.StoreFilePath(zone_detail.Banner, false);
    if (string.IsNullOrEmpty(zone_detail.Banner))
    {
        bg = "../images/home/slide.png";
    }
}
<div id="zone-current" data-id="@zone_detail.Id" style="display:none"></div>

<section class="home" id="home" style="background: url(@bg) no-repeat center">
    <div class="container max-width">
        <div class="home-content">
            <div class="text-1">@Html.Raw(zone_detail.Description)</div>
            <div class="text-2">
                @Html.Raw(zone_detail.Content)
            </div>
            <a href="javascript:void(0)">XEM NGAY</a>
        </div>
    </div>
    <div class="icon-arr">
        <a id="moveSectionDown" href="#"><i class="fal fa-angle-down"></i></a>
    </div>
</section>
<section class="main-cate">
    <div class="bg-bread">
        <div class="container">

            <nav aria-label="breadcrumb">
                @await Component.InvokeAsync("Breadcrumb", new { zone_id = zone_detail.Id })
            </nav>
        </div>
    </div>
    <div class="all-tabs">
        <div class="container">
            <div class="mb-form-bk">
                @{

                    var zone_child = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, zone_detail.Id).Where(r => r.ParentId > 0);
                    var count_zone_child = 1;
                    var f = 0;
                    var zonef = zone_child.FirstOrDefault();
                    if(zonef != null)
                    {
                        f = zonef.Id;
                    }
                    if(zone_detail.Type == (int)TypeZone.Recruitment)
                    {
                        f = zone_detail.Id;
                    }
                }
                <ul class="nav cust-navtab1" id="myTab" role="tablist">
                    @foreach (var item in zone_child)
                    {
                        <li class="nav-item bor">
                            <a class="nav-link @(count_zone_child == 1 ? "active": "") choosen_zone" data-id="@item.Id" id="home-tab" data-toggle="tab" href="#bietthu" role="tab" aria-controls="home" aria-selected="@(count_zone_child == 1 ? "true" : "false")">@item.Name</a>
                        </li>
                        count_zone_child++;
                    }
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="bietthu" role="tabpanel" aria-labelledby="home-tab">
                        @await Component.InvokeAsync("ProductListProvider", new { zone_id = f })
                    </div>
                    <div class="txt-duanlq border-bottom">
                        CÁC BÀI VIẾT MỚI NHẤT
                    </div>
                    @{
                        var total_newest = 0;
                        var top_newest = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, culture_code, "", 1, 4, out total_newest);
                    }
                    <div class="all-newslq">
                        <div class="row">
                            @foreach (var item in top_newest)
                            {
                                <div class="col-md-3">
                                    <div class="news-nbat">
                                        <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                            <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                                        </a>
                                        <div class="tag">
                                            <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                            <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>@item.CreatedDate.Day</b> <br>@item.CreatedDate.ToString("MMM")</div>
                                        </div>
                                    </div>
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                        <div class="titl-mn-news py-2">@item.Title</div>
                                    </a>
                                    <div class="d-flex">
                                        <div class="icon-news">
                                            <i class="far fa-user"></i>
                                        </div>
                                        <div class="icon-news" style="padding-left: 35px;">
                                            <i class="far fa-eye"></i> @item.ViewCount
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*@section Scripts{

        <script type="text/javascript" src="~/js/controller/productController.js" asp-append-version="true"></script>

    }*@

