﻿@{
    var objId = ViewBag.ObjId;
    var objType = ViewBag.ObjType;
    var hTag = ViewBag.HTag;
    var rate = ViewBag.Rate;
}

<div class="star-rating @(hTag) d-inline-block text-center" data-id="@objId" data-type="@objType">
    @{ var rating_rounded = (int)Math.Round(rate);}
    @for (int i = 0; i < 5; i++)
    {
        var class_text = "fas fa-star";
        if (i + 1 <= rating_rounded)
        {
            class_text += " checked";
        }
        <i class="@class_text" aria-hidden="true"></i>
    }
</div>
