﻿@using Utils;
@model List<Enterbuy.Data.SqlServer.ModelDto.ArticleMinify>
@using Enterbuy.Data.SqlServer.ModelDto;
@using Enterbuy.Services.Blog.Services;
@inject IBlogServices blogServices
@using Enterbuy.Core.Enumerations
@{
    var total_news_video = 0;
    var list_news_video = blogServices.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Video, 2, "vi-VN", "", 1, 10, out total_news_video);
    var view_more_video = "javascript:void(0)";
    if (list_news_video.FirstOrDefault() != null)
    {
        view_more_video = list_news_video.FirstOrDefault().ZoneUrl;
    }
}
<section class="blogs-home py-4">
    <div class="container px-0 px-md-3">
        <div class="bg-fff p-3">
            <div class="row mb-4">
                <div class="col-8">
                    <a href="" class="h5 font-weight-bold">Video</a>
                </div>
                @*<div class="col-4 text-right">
                        <a href="@BaseBA.UrlCategoryNews(view_more_video)" class="link-view-more color-EE7D22">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
                    </div>*@
            </div>
            <div class="row">
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (i == 0)
                    {
                        var linkTar = BaseBA.UrlNews(@Model[0].ZoneUrl, @Model[0].Url, @Model[0].Id);
                        <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="item">
                                <div class="video" id="srcVideo">
                                    @*<div>
                                            <img class="w-100" src="@UIHelper.StoreFilePath(Model[0].Avatar)" />
                                        </div>
                                        <div class="btn-play-video">
                                            <a href="@linkTar">
                                                <img src="../images/youtube.svg" class="w-100">
                                            </a>
                                        </div>*@
                                    @{
                                        ArticleDetail articleDetail = blogServices.GetArticleDetail(@Model[0].Id, "vi-VN");
                                    }
                                    @Html.Raw(Utility.DecodeHtml(articleDetail.Body))
                                </div>
                                <a href="@linkTar" title="" id="hrefVideo">
                                    <h2 class="title h5 mt-2 text-uppercase " id="titleVideo">
                                        @Model[0].Title
                                    </h2>
                                </a>
                            </div>
                        </div>
                    }
                }

                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 pl-md-0">
                    <div class="list-right">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (i == 0)
                            {

                            }
                            else
                            {
                                var linkTar = BaseBA.UrlNews(@Model[i].ZoneUrl, @Model[i].Url, @Model[i].Id);
                                ArticleDetail articleDetail = blogServices.GetArticleDetail(Model[i].Id, "vi-VN");
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xl-3 col-md-3 col-sm-3 col-4">
                                            <a href="javascript:ChangeVideo('@Model[i].Title','@articleDetail.Body','@linkTar');">
                                                <div class="video">
                                                    <div>
                                                        <img style="width:100%;" data-src="@UIHelper.StoreFilePath(Model[i].Avatar)"  class="lazy"/>
                                                    </div>

                                                    <div class="btn-play-video">
                                                        @*<a href="javascript:ChangeVideo('@Model[i].Title','@articleDetail.Body','@linkTar');">*@

                                                        <img src="../images/youtube.svg" class="w-100">
                                                    </div>
                                                    @*<iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideo(Model[i].Description)" allowfullscreen></iframe>*@
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-9 col-md-9 col-sm-9 col-8 pl-0">
                                            <h2 class="title">
                                                @*<a href="@linkTar" title="">@Model[i].Title</a>*@
                                                <a href="javascript:ChangeVideo('@Model[i].Title','@articleDetail.Body','@linkTar');" title="">@Model[i].Title</a>
                                            </h2>
                                            <div class="time">
                                                @Model[i].CreatedDate.ToString("dd/MM/yyyy hh:mm")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function ChangeVideo(title, iframe, link) {
        var src = $(iframe)[0].childNodes[0].src;
        document.getElementById("titleVideo").textContent = title;
        document.getElementById("hrefVideo").href = link;
        $("#srcVideo p iframe").attr('src', src);
    }
</script>