﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = null;
}


@using LacWebsite.Services.Product.ViewModel;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using LacWebsite.Utility
@inject ICookieUtility cookieUtility
@model List<ProductMinify>;
@{
    var total = ViewBag.Total;
    var id = ViewBag.Id;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var pageSize = (int)ViewBag.Size;
    var keyword = ViewBag.KeyWord;
}

<div class="container mb-3">
    @*@await Component.InvokeAsync("Breadcrumb", new { zone_id = zone_id })*@
</div>


@if (Model != null)
{
    <div class="_get-info" data-total="@total" data-keyword="@keyword" style="display:none;"></div>
    foreach (var item in Model)
    {
        var link_tar = string.Format("/{0}.html", item.Url);
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="item-product">
                <div class="tag-1">

                </div>
                @if (item.FlashSaleId > 0)
                {
                    <div class="tag-flashsale">
                        <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                    </div>
                }
                <div class="image">
                    <a href="@link_tar">
                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar, false)"
                             class="img-fluid  w-100" alt="@item.Title" />
                    </a>
                    <div class="tag-2">
                        <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                    </div>
                </div>

                <h5 class="title">
                    <a href="@link_tar" title="@item.Title">
                        @item.Title
                    </a>
                </h5>
                <div class="text-left">
                    @{

                        decimal up_price = 0;
                        decimal down_price = 0;
                        if (item.SalePrice > 0 && item.SalePrice < item.Price)
                        {
                            up_price = item.SalePrice;
                            down_price = item.Price;
                        }
                        if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                        {
                            up_price = item.Price;
                            down_price = 0;
                        }
                    }
                    @if (item.FlashSaleId > 0)
                    {
                        <div class="price-new">
                            @UIHelper.FormatNumberJanhome(item.ProductPriceInFlashSale) đ / @item.Unit
                        </div>

                        <div class="price-old">
                            @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                        </div>
                    }
                    else
                    {
                        if (down_price > 0)
                        {
                            <div class="price-new">
                                @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                            </div>

                            <div class="price-old">
                                @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                            </div>
                        }
                        if (down_price == 0)
                        {
                            <div class="price-new">
                                @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                            </div>

                            @*<div class="price-old">
                                    @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(item.Price) + "đ"))
                                </div>*@
                        }

                    }

                </div>
                <div class="size small mb-1">
                    @item.SpecName: @item.SpecValue mm
                </div>
                <div class="review d-flex">
                    <div class="color-FFAB1B mr-2">
                        @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                    </div>
                    <div class="color-828282">
                        @item.CountRate đánh giá
                    </div>
                </div>
            </div>
        </div>
    }
}

@*@if (total > pageSize)
    {
        <div class="text-center my-5">
            <a href="javascript:void(0)" class="btn btn-outline-view-more region-view-more" data-index="@pageIndex" data-url="@url">Xem thêm<i class="fas fa-chevron-down ml-2 " aria-hidden="true"></i></a>
        </div>
    }*@

