﻿@using Utils
@inject RamData.IConfig Config
@{

}
<section class="form-contact py-4 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 pt-4">
                <div class="heading font-weight-bold h4 text-uppercase mb-4">Trụ sở</div>
                <div class="d-flex mb-4">
                    <div class="icon">
                        <img src="~/images/icon-home.svg" class="img-fluid mr-3" />
                    </div>
                    <div class="text pt-1">
                        <div class="mb-1 font-weight-600">Trụ sở tại miền Bắc</div>
                        <div class="text-sm">
                            @Config.GetByName("Address")
                            @*114 Khuất Duy Tiến - Nhân Chính - Thanh Xuân - Hà Nội.*@
                        </div>
                        <div class="text-sm">
                            Điện thoại:  @Config.GetByName("Hotline")
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="icon">
                        <img src="~/images/icon-home.svg" class="img-fluid mr-3" />
                    </div>
                    <div class="text pt-1">
                        <div class="mb-1 font-weight-600">Trụ sở tại miền Nam</div>
                        <div class="text-sm">
                            @Config.GetByName("Address-2")

                        </div>
                        <div class="text-sm">
                            Điện thoại: @Config.GetByName("Hotline-2")
                        </div>
                    </div>
                </div>
                @* <div class="row no-gutters mb-3">
                    <div class="col-12 col-md-12">
                        <div>
                            <i class="fas fa-phone-alt mr-3"></i>Hotline: @Config.GetByName("Hotline")
                        </div>
                    </div>
                </div> *@
                <div class="row no-gutters mb-4">
                    <div class="col-12 col-md-12">
                        <div>
                            <i class="fas fa-envelope mr-3"></i>Email:  @Config.GetByName("Email")
                        </div>
                    </div>
                </div>
            </div>
            <div id="lien-he" class="col-lg-6 col-md-6 col-sm-12 col-12">
                <form class="form-contact-home">
                    <div class="font-weight-bold h5  mb-4 color-333">Đăng ký tư vấn</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="Name" placeholder="Họ tên *">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="tel" class="form-control" id="Phone" placeholder="SĐT *">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="Address" placeholder="Địa chỉ *">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <textarea type="text" rows="2" class="form-control" id="Content" placeholder="Tin nhắn *"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0 text-right">
                            <button class="btn btn-submit px-5" type="button" onclick="UpdateAdvisory()">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function UpdateAdvisory() {
        var url = '/Contact/UpdateAdvisory';
        var dataRequest = {};
        dataRequest.Name = $('#Name').val();
        dataRequest.Phone = $('#Phone').val();
        dataRequest.Address = $('#Address').val();
        dataRequest.Content = $('#Content').val();
        $.post(url, dataRequest, function (res) {
            if (res.code == "00") {
                $('#modal-xn').modal('show');
                $('#Name').val('');
                $('#Phone').val('');
                $('#Address').val('');
                $('#Content').val('');
            }
        });
    }
</script>
