/* Scroll */
::-webkit-scrollbar-thumb {
    background: #0B7640;
}
/* End Scroll */


body {
    margin: 0;
    font-family: 'Roboto' !important;
}

/* Your location */
.your-location {
    display: none;
}

.your-location {
    background: #3ab54a52;
    padding-top: 8px;
    padding-bottom: 8px;
}

.your-location__box {
    display: flex;
    align-items: center;
}

    .your-location__box img {
        height: 14px;
        width: auto;
    }

    .your-location__box a {
        margin-left: auto;
        color: #3AB54A;
        text-decoration: underline;
        font-size: 12px;
        font-weight: 600;
    }

.your-location__text {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-left: 6px;
}

/* End Your location */
/* Slide home */
.slide-home > .swiper-container {
    position: relative;
}

.slide-home__item {
    position: relative;
}

.slide-home__image {
    width: 100%;
}

.slide-home__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 50px;
    background-image: url("../images/bg-slide.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
    font-family: 'Roboto', sans-serif;
}

.slide-home__content__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 52px;
}

.slide-home__content__desc {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.slide-home__content__box {
    display: inline-block;
    width: auto;
    min-width: 300px;
    background: #fff;
    color: #007934;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    border-radius: 20px;
    padding: 0px 20px;
}

.slide-home__content__list {
    list-style-type: disc;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.slide-home .swiper-button-next {
    background: #8a8a8a80;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    right: 0;
    line-height: 40px;
    text-align: center;
}

    .slide-home .swiper-button-next:hover {
        background: #4a4a4a80;
    }

.slide-home .swiper-button-prev {
    background: #8a8a8a80;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    left: 0;
    line-height: 40px;
    text-align: center;
}

    .slide-home .swiper-button-prev:hover {
        background: #4a4a4a80;
    }

/* End Slide home */
/* products */
.products--section {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Roboto';
}

.products__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .products__title h2 {
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 28px;
        color: #005424;
        margin: 0 15px;
    }

    .products__title b {
        flex: 1;
        border: 1px solid #B6B6B6;
    }

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.products--section .products__item {
    width: 25%;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
}

._binding_product .products__item {
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
}


.products__item:hover {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

.products__box__image {
    position: relative;
    height: 300px;
}

    .products__box__image img {
        object-fit: contain;
        width: 100%;
        transition: .3s;
    }

.products__item:hover .products__box__image img {
    transform: scale(1.05);
    transition: .3s;
}

.products__box__discount {
    background: #007934;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    left: 5px;
    bottom: 20px;
    color: #fff;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.products__box__title {
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.products__box__price {
    font-family: 'Roboto', sans-serif;
}

.products__box__price--new {
    display: inline-block;
    color: #FF0000;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

.products__box__price--old {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: line-through;
    margin-bottom: 4px;
}

.products__box__review {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.products__box__review_stars {
    display: inline-block;
    color: #F6A609;
}

.products__box__review_number {
    display: inline-block;
    color: #828282;
    margin-left: 6px;
}

.products__view-more {
    margin-top: 30px;
    text-align: center;
}

    .products__view-more a {
        border: 1px solid #DBDBDB;
        border-radius: 4px;
        padding: 8px 20px;
        display: inline-block;
        font-weight: 400;
        color: #007934;
    }

        .products__view-more a:hover {
            color: #fff;
            border: 1px solid #007934;
            background: #007934;
        }

        .products__view-more a > i {
            margin-left: 6px;
        }

/* end products */
/* banner home */
.banner-home {
    margin-top: 30px;
    margin-bottom: 10px;
}

.banner-home__box img {
    width: 100%;
}

/* end banner home */
/* news */
.news--section {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.news-mobile {
    display: none;
}

.news__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .news__title h2 {
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 28px;
        color: #005424;
        margin: 0 15px;
    }

    .news__title b {
        flex: 1;
        border: 1px solid #B6B6B6;
    }

.news__list {
    margin-top: 30px;
}

.news__item {
    margin-bottom: 15px;
}

.news__item--video iframe {
    width: 100%;
    height: 280px;
}

.news__item__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.news__item__date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.news__item__title:hover {
    color: #005424;
}

.news-hot.news__item--video {
    position: relative;
}

.news__item .image_parent {
    width: 134px;
    height: 134px;
    object-fit: contain;
    transition: .3s;
}


.news__item .image_child {
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 10%;
}

.news__item:hover img {
    transform: scale(1.05);
    transition: .3s;
}

.news__item--normal a {
    display: flex;
}

.news__item__content {
    margin-left: 10px;
}

/* end news */
/* customer */
.customer--section {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.customer__title h2 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    color: #005424;
}

.customer__list {
    margin-top: 30px;
}

    .customer__list:hover {
        cursor: pointer;
    }

    .customer__list > .swiper-container {
        position: relative;
    }

.customer__item {
    margin-bottom: 50px;
}

    .customer__item img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        transition: .3s;
    }

    .customer__item:hover img {
        transform: scale(1.05);
        transition: .3s;
    }

    .customer__item p {
        text-align: center;
        margin-top: 16px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 20px;
        color: #005424;
    }

/* end customer */
/* partner */
.partner--section {
    margin-top: 30px;
    margin-bottom: 10px;
}

.partner__list > .swiper-container {
    position: relative;
}

.partner__title h2 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    color: #005424;
    font-family: 'Roboto Condensed', sans-serif;
}

.partner__list {
    margin-top: 30px;
}

.partner__item {
    height: 70px;
    padding: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    margin-bottom: 50px;
}

    .partner__item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

/* end partner */
/* highlight */
.highlight--section {
    background: #007934;
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
}

.highlight__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.highlight__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .highlight__item:after {
        content: "";
        position: absolute;
        border-right: 1px solid #fff;
        right: 0;
        top: 0;
        height: 100%;
    }

    .highlight__item:last-child:after {
        display: none;
    }

    .highlight__item img {
        height: 40px;
        width: auto;
    }

    .highlight__item span {
        margin-left: 20px;
        color: #F2F2F2;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

/* end highlight */
/* social botton */
.button-social {
    display: inline-grid;
    position: fixed;
    top: 35%;
    right: 10px;
    min-width: 45px;
    text-align: center;
    z-index: 9;
}

.button-social__content {
    display: inline-grid;
}

    .button-social__content a {
        padding: 7px 0;
        cursor: pointer;
        position: relative;
    }

    .button-social__content i {
        width: 40px;
        height: 40px;
        background: #0B7640;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 1.9;
        position: relative;
    }

/* end social botton */
/* button bottom */
.button-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 9;
}

.button-bottom {
    display: none;
}

.button-bottom_item {
    text-align: center;
    width: 25%;
}

.button-bottom__icon {
    height: 20px;
    width: auto;
}

.button-bottom__title {
    font-size: 10px;
    font-weight: 400;
    color: #767676;
    line-height: 18px;
    margin-bottom: 0;
}

.products__list .height_fix {
    padding: 0 !important;
}
/* end button bottom */
/* Responsive */
@media (max-width: 1024px) {
    .slide-home__content__title {
        font-size: 32px;
        line-height: 46px;
    }

    .slide-home__content__desc {
        font-size: 24px;
        line-height: 32px;
    }

    .slide-home__content__box {
        font-size: 20px;
        line-height: 32px;
    }

    .slide-home__content__list {
        font-size: 16px;
        line-height: 28px;
    }

    .highlight__item span {
        margin-left: 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .slide-home__content {
        padding: 20px 50px;
    }

    .blog-xx img {
        width: 100% !important;
        height: 17px !important;
    }

    .slide-home__content__title {
        font-size: 26px;
        line-height: 36px;
    }

    .slide-home__content__desc {
        font-size: 22px;
        line-height: 28px;
    }

    .slide-home__content__box {
        font-size: 16px;
        line-height: 26px;
        min-width: 200px;
    }

    .slide-home__content__list {
        font-size: 14px;
        line-height: 24px;
    }

    .products__box__title {
        font-size: 16px;
    }

    .products__box__price--new {
        font-size: 18px;
    }

    .products__box__price--old {
        font-size: 12px;
    }

    .products__box__review {
        font-size: 11px;
    }

    .customer__item p {
        font-size: 16px;
    }

    .highlight__item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .your-location {
        display: block;
    }

    .slide-home__content {
        padding: 6px 6px;
    }

    .slide-home .swiper-button-next {
        display: none;
    }

    .slide-home .swiper-button-prev {
        display: none;
    }

    .slide-home__content__title {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .slide-home__image {
        height: 285px !important;
    }
    /*.products__list .height_fix {
    
        padding:0!important;
    
    }*/
    .item-product .image .img_rela {
        height: 150px !important;
    }

    .item-product .tag-xx {
        /*width: 50px;*/
        right: 0;
        bottom: 10%;
        background: none !important;
        position: absolute;
    }

    .tag-xx img {
        height: 8px !important;
    }

    .news-mobile__list .news-hot img {
        height: 380px;
    }

    .slide-home__content__desc {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0;
    }

    .slide-home__content__box {
        font-size: 9px;
        line-height: 18px;
        min-width: 70px;
        padding: 0 10px;
        margin-bottom: 8px;
    }

    .slide-home__content__list {
        font-size: 8px;
        line-height: 12px;
    }

    .products__title h2 {
        font-size: 20px;
    }

    .products__item {
        width: 50%;
        border: 1px solid #E0E0E0;
        border-radius: 0;
        text-align: left;
    }

        .products__item:nth-child(odd) {
            border-right: 0;
        }

    .products__box__image {
        height: 250px;
    }

    .customer__item .customer__item_img_parent {
        height: 120px;
    }

    .img-magnifier-container {
        position: relative;
    }

    .news__title h2 {
        font-size: 20px;
    }

    .customer__title h2 {
        font-size: 20px;
    }

    .partner__title h2 {
        font-size: 20px;
    }

    .customer__item p {
        font-size: 13px;
        margin-top: 8px;
        line-height: 16px;
    }

    .highlight__item {
        width: 50%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

        .highlight__item:after {
            display: none;
        }

        .highlight__item span {
            font-size: 12px;
        }

    .partner__item {
        height: 56px;
        padding: 6px;
    }

    .products__view-more a {
        padding: 4px 8px;
        font-size: 12px;
    }

    .products__view-more {
        margin-top: 16px;
    }

    .news--section {
        display: none;
    }

    .news-mobile {
        display: block;
        background: #52575C;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .news-mobile__title {
        margin-bottom: 10px;
    }

        .news-mobile__title h2 {
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            display: inline-block;
        }

    .news-mobile__view-more {
        font-size: 14px;
        line-height: 22px;
        color: #3AB54A;
        float: right;
        display: inline-block;
        font-weight: 600;
    }

    .news-mobile__item--video iframe {
        width: 100%;
        height: 200px;
    }

    .news-mobile__item__title {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
    }

        .news-mobile__item__title:hover {
            color: #fff;
        }

    .news-mobile__item img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        background: #fff;
        margin-bottom: 10px;
    }

    .button-bottom {
        display: flex;
    }

    .remove-css {
        padding: 0 0 0 10px !important;
    }

    .jan-table-cart .image-product {
        margin-right: 12px !important;
    }

    .group-amount {
        float: none;
    }

    .pick_color {
        width: 25px;
    }

    .group-amount .btn {
        border: 1px solid #DBDBDB;
        color: #828282;
        font-size: 6px;
        height: 20px;
        padding: 0 8px;
    }

    ._binding_order .col-md-1 {
        position: relative;
        width: unset !important;
        padding-right: 15px;
        padding-left: 15px;
    }


    ._binding_order .col-md-6 {
        position: relative;
        width: unset !important;
        padding-right: 15px;
        padding-left: 15px;
    }

    ._binding_order .col-md-3 {
        position: relative;
        width: unset !important;
        padding-right: 15px;
        padding-left: 15px;
    }

    ._binding_order .col-md-2 {
        position: relative;
        width: unset !important;
        padding-right: 15px;
        padding-left: 15px;
    }

    .group-amount .btn {
        border: 1px solid #DBDBDB;
        color: #828282;
        font-size: 7px !important;
    }

    .group-amount input.form-control {
        width: 30px !important;
        padding: 0;
        height: 20px;
        margin: 0 !important;
        font-size: 10px !important;
    }

    .jan-table-cart .name-product {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px !important;
    }

    .jan-table-cart .price-new {
        font-size: 13px !important;
    }

    .body-css {
        padding: 20px !important;
    }
}
