.footer--section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo img {
  max-height: 50px;
  max-width: 100%;
}

.footer__hotline {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 20px;
}

.footer__hotline__title {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__hotline__phone {
  display: flex;
  align-items: center;
}

.footer__hotline__phone img {
  height: 40px;
  width: auto;
}

.footer__hotline__number {
  font-size: 34px;
  font-weight: 400;
  color: #007934;
  margin-left: 8px;
}

.footer__hotline__time {
  font-weight: 400;
  color: #B9B9B9;
  font-size: 13px;
  line-height: 18px;
  margin-top: 4px;
}

.footer__menu {
  font-family: 'Roboto', sans-serif;
}

.footer__menu__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__menu__title>i {
  display: none;
}

.footer__menu__list li {
  margin-bottom: 10px;
}

.footer__menu__list a {
  font-weight: 400;
  font-size: 13px;
  color: #A0A4A8;
  line-height: 18px;
}

.footer__menu__list a:hover {
  color: #007934
}

.footer__info {
  font-family: 'Roboto', sans-serif;
}

.footer__info__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__info__icon {
  width: 18px;
  height: auto;
}

.footer__info__list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer__info__text {
  font-size: 13px;
  color: #828282;
  margin-left: 10px;
  font-weight: 400;
}

.footer__info__text:hover {
  color: #007934;
}

.footer__copyright {
  border-top: 1px solid #a0a4a859;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__copyright__content {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  opacity: 0.5;
}

.footer__copyright__content a:hover {
  color: #007934;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer__hotline__number {
    font-size: 28px;
  }
}

@media (width: 768px) {
  .footer--section .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 767px) {
  .footer--section {
    background: #E5E5E5;
  }

  .footer__menu {
    margin-bottom: 30px;
  }

  .footer__menu__title {
    margin-bottom: 6px;
  }

  .footer__menu__title>i {
    display: inline-block;
    float: right;
    font-size: 20px;
    color: #414141;
  }

  .footer__info__title>i {
    display: inline-block;
    float: right;
    font-size: 20px;
    color: #414141;
  }

  .footer__dropdown--show {
    display: none;
  }

  .footer__dropdown.active .footer__dropdown--show {
    display: block;
  }
}
