.header__top {
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
}

    .header__top a {
        font-weight: 400;
        font-size: 15px;
        line-height: 32px;
        margin-left: 50px;
    }

        .header__top a > i {
            margin-right: 5px;
        }

.header__main {
    background-color: #007934;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.header__main--box {
    display: flex;
    align-items: center;
}

.header__logo img {
    max-height: 80px;
    width: 145px !important;
}

.header__logo--mobile {
    display: none;
}

.your-location-pc {
    margin-left: 12px;
}

.your-location-pc_button {
    background: transparent;
    color: #fff;
    border: 1px solid #e8e8e833;
    white-space: nowrap;
    padding: 4px 8px;
    position: relative;
    min-width: 90px;
    border-radius: 4px;
}

.your-location-pc_box {
    display: flex;
    align-items: center;
}

.your-location-pc_icon img {
    width: 18px;
    height: auto;
}

.your-location-pc_text {
    margin-left: 6px;
}

    .your-location-pc_text label {
        font-size: 13px;
        margin-bottom: 0;
    }

.your-location-pc_local {
    font-size: 13px;
    margin-bottom: 0;
}

    .your-location-pc_local > i {
        font-size: 10px;
    }

.header__search {
    max-width: 230px;
    width: 100%;
    position: relative;
    margin-left: 12px;
}

.header__search__input {
    width: 100%;
    background: #F2F2F2;
    border: none;
    border-radius: 6px;
    height: 36px;
    font-size: 14px;
    padding-left: 18px;
    font-family: 'Roboto', sans-serif;
}

    .header__search__input:focus {
        outline: none;
    }

.header__search__button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    background: none;
}

.header__menu {
    margin-left: 30px;
}

.header__menu-mobile {
    display: none;
}

.header__menu-mobile__ovelay {
    display: none;
}

.header__menu__list {
    display: flex;
    align-items: center;
}

.header__menu__item {
    padding: 8px 8px;
    position: relative;
}

    .header__menu__item > a {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }

        .header__menu__item > a i {
            font-size: 12px;
            margin-left: 2px;
        }

.header__menu__sub-list {
    display: none;
}

.header__menu__item:hover > .header__menu__sub-list {
    display: block;
}

.header__menu__sub-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 200px;
    z-index: 10;
}

.header__menu__sub-item a {
    padding: 10px 20px;
    display: block;
}

    .header__menu__sub-item a:hover {
        background-color: #007934;
        color: #fff;
    }

.header__cart {
    margin-left: auto;
}

.header__cart__icon {
    position: relative;
}

    .header__cart__icon img {
        height: 25px;
        width: auto;
    }

.header__cart__amount {
    width: 18px;
    height: 18px;
    background: #219653;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 8px;
    color: #fff;
    text-align: center;
    top: -6px;
    position: absolute;
    right: -8px;
    padding-top: 1px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1024px) {
    .header__logo--desktop {
        display: none;
    }

    .header__logo--mobile {
        display: block;
        width: 145px;
    }

    .header__menu {
        display: none;
    }

    .header__cart {
        margin-left: 15px;
        margin-right: 15px;
    }

    .header__search {
        flex: 1;
        max-width: 100%;
    }

    .header__menu-mobile {
        display: block;
        width: 31px;
        height: 31px;
        line-height: 31px;
        text-align: right;
    }

    .header__menu-mobile__icon {
        font-size: 22px;
        color: #fff;
    }

    .header__menu-mobile__ovelay {
        display: block;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        background: rgba(0, 0, 0, .6);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        transition: all .2s ease;
    }

        .header__menu-mobile__ovelay.active {
            visibility: visible;
            opacity: 1;
            z-index: 98;
        }

    .header__menu-mobile__expand {
        width: 288px;
        border-right: 1px solid #ddd;
        background: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250px;
        padding-bottom: 50px;
        z-index: 200;
        overflow: auto;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        transition: all .2s ease;
        transform: translate3d(-250px, 0, 0);
        -webkit-transform: translate3d(-250px, 0, 0);
    }

    .header__menu-mobile.open .header__menu-mobile__expand {
        transform: translate3d(250px, 0, 0);
        -webkit-transform: translate3d(250px, 0, 0);
        display: block;
        text-align: left;
    }

    .header__menu-mobile__item {
        border-bottom: 1px solid #f1f1f1;
        display: block;
        position: relative;
    }

        .header__menu-mobile__item > a {
            padding: 4px 10px;
            display: inline-block;
        }

        .header__menu-mobile__item > i {
            position: absolute;
            right: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
        }

    .header__menu-mobile__sub-item > a {
        padding: 4px 10px;
        display: inline-block;
    }

    .header__menu-mobile__sub-list {
        display: none;
    }

    .header__menu-mobile__item.active .header__menu-mobile__sub-list {
        display: block;
    }
}

@media (max-width: 767px) {
    .your-location-pc {
        display: none;
    }
    .header__logo img {
        max-height: 80px;
        width: 100% !important;
    }
    .header__logo--mobile {
        display: block;
        width: 40px;
    }
}

@media (max-width: 480px) {
    .header__top a {
        margin-left: 12px;
    }

    .header__search__input {
        font-size: 12px;
    }
}
