﻿<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="bg-map position-relative">
                <div class="box-list-stores col-xl-4 col-lg-5 col-md-5 col-sm-6 col-12 px-0 p-md-3">
                    <h6 class="title">EnterBuy tại địa phương bạn</h6>
                    <div class="mb-3">Hãy tìm EnterBuy tại địa phương bạn</div>
                    <div class="search-comment mb-3">
                        <input class="form-control " type="text" placeholder="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>

                    <div id="group1" class="mb-3">
                        <div class="d-inline-block mr-3">Khoảng cách</div>
                        <label class="label-checkbox ">
                            500m
                            <input type="radio" name="group1" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            1km
                            <input type="radio" name="group1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            2km
                            <input type="radio" name="group1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            3km
                            <input type="radio" name="group1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            5km
                            <input type="radio" name="group1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            10km
                            <input type="radio" name="group1">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="mb-3">
                        <a href="" class="link-view-more h6 ">Tìm kiếm theo vùng miền</a>
                    </div>
                    <div id="group2" class="mb-3">
                        <label class="label-checkbox ">
                            Miễn Bắc
                            <input type="radio" name="group2" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            Miễn Trung
                            <input type="radio" name="group2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            Miễn Nam
                            <input type="radio" name="group2">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <button class="btn btn-save  w-100 mb-3" onclick="expandListStore()">
                        Xem tất cả các cửa hàng<i class="fas fa-chevron-down ml-auto float-right mt-1 small"></i>
                    </button>
                    <div class="list-add-store expand">
                        <h5>CƠ SỞ 1</h5>
                        <div class="item">
                            <div class="name"><a href="">ENTERBUY HÀ NỘI (trụ sở chính)</a></div>
                            <div class="d-flex ">
                                <div class="icon">
                                    <img src="~/images/icon-store-1.svg" class="img-fluid" />
                                </div>
                                <div class="text">
                                    114 Khuất Duy Tiến - P.Nhân Chính - Q.Thanh Xuân
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="icon">
                                    <img src="~/images/icon-store-3.svg" class="img-fluid" />
                                </div>
                                <div class="text color-EE7D22 font-weight-600 ">
                                    024.777.66666
                                </div>
                            </div>
                        </div>
                        <h5>CƠ SỞ 2</h5>
                        <div class="item">
                            <div class="name"><a href="">ENTERBUY TP: Hồ Chí Minh</a></div>
                            <div class="d-flex ">
                                <div class="icon">
                                    <img src="~/images/icon-store-1.svg" class="img-fluid" />
                                </div>
                                <div class="text">
                                    24 đường số 7, CityLand Center Hills, Phường 7, Gò Vấp, TP.HCM
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="icon">
                                    <img src="~/images/icon-store-3.svg" class="img-fluid" />
                                </div>
                                <div class="text color-EE7D22 font-weight-600 ">
                                    091.136.3223
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59593.52765077088!2d105.79622393408064!3d21.008846544805813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313452d13bf0451f%3A0x8eda1639a41649a9!2zSkFOSE9NRSBIw6AgxJDDtG5n!5e0!3m2!1svi!2s!4v1583049506174!5m2!1svi!2s" width="100%" height="900" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>