﻿@using Enterbuy.Services.Blog.Services;
@using Enterbuy.Core.Enumerations;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Utils;
@using Enterbuy.Data.SqlServer.ModelDto;
@inject IBlogServices blogServices
@{

    List<ArticleMinify> lstArticleMinify = new List<ArticleMinify>();
    List<ZoneByTreeViewMinify> zoneByTreeViewMinifies = new List<ZoneByTreeViewMinify>();
    if (ViewBag.ZoneChilds != null)
    {
        zoneByTreeViewMinifies = (List<ZoneByTreeViewMinify>)ViewBag.ZoneChilds;
    }
    if (ViewBag.Top_newest != null)
    {
        lstArticleMinify = (List<ArticleMinify>)ViewBag.Top_newest;
    }

    var pageIndex = ViewBag.PageIndex;
    var pageSize = ViewBag.PageSize;
    var total = ViewBag.TotalPage;
}

<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            @await Component.InvokeAsync("MenuRightBlog")
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="row">
                @if (lstArticleMinify.Count() > 0)
                {
                    foreach (var item in lstArticleMinify)
                    {
                        var linkTar = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="item-blog-km">
                                <div class="image">
                                    <a href="@linkTar"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="" /></a>
                                </div>
                                <div class="p-3">
                                    <h5 class="title">
                                        <a href="@linkTar" title="">@item.Title</a>
                                    </h5>
                                    <div class="time">
                                        @item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")
                                    </div>
                                    <div class="des">
                                        @Html.Raw(item.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="jan-pagination text-right mb-4 ">
                @await Component.InvokeAsync("BlogPaging", new { alias = "km-chuong-trinh-khuyen-mai", pageIndex = pageIndex, pageSize = pageSize, total = total })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/controller/blogList2Controller.js" asp-append-version="true"></script>
}