﻿@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Data.SqlServer.ModelDto
@using Utils

@inject IProductDao ProductDao
@inject IZoneDao ZoneDao
@inject IPromotionDao PromotionDao
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http

@{
    var regionParent = ViewBag.RegionParent as ZoneDetail;
}


@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieLocationUtility cookieUtility


@{


    var domain = Context.Request.Host.ToString();
    var cookieLocation = cookieUtility.SetCookieDefault();

}

@{
    var page_size = 10;
    var page_index = 1;
    var total_first_child_1 = 0;
    var products_in_first_child = ProductDao.GetProductInRegionByZoneIdMinify(regionParent.Id, cookieLocation.LocationId, "vi-VN", page_index, page_size, out total_first_child_1);

}
@if (total_first_child_1 < 2)
{
    <div class="_binding_product" data-total-product="@total_first_child_1">
        <div class="set-total" data-total="@total_first_child_1" data-id="@regionParent.Id" style="display:none">
            <div class="row no-gutters mb-3 mb-md-0">

            </div>
        </div>
    </div>

}
@if (total_first_child_1 > 0)
{
    var lstProductInPromotion = PromotionDao.CheckPromotion_ByProductId(products_in_first_child.Select(x => x.ProductId).ToList());
    <div class="_binding_product">
        <div class="set-total" data-total="@total_first_child_1" data-id="@regionParent.Id" style="display:none"></div>
        <div class="row no-gutters mb-3 mb-md-0">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="item-product item-product-large">
                    <div class="image h-100">
                        <a href="@BaseBA.UrlRegion(regionParent.Url)">
                            @if (!string.IsNullOrEmpty(regionParent.Avatar))
                            {
                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(regionParent.Avatar, false)" class="img-fluid" alt="@regionParent.Name" />

                            }
                            else
                            {
                                <img asp-append-version="true" src="@UIHelper.ImgDefault()" class="img-fluid" alt="@regionParent.Name" />

                            }

                        </a>
                    </div>
                </div>
            </div>
            @{var count_cutted_1 = 0; }
            @foreach (var item in products_in_first_child.Take(10))
            {
                var link_ta = BaseBA.UrlProduct(item.ZoneUrl, item.Url);

                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6  @(count_cutted_1==2 ? "d-none d-sm-block":"")">
                    <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                        @if (lstProductInPromotion.Any(x => x.ProductId == item.ProductId))
                        {
                            <div class="tag-gift"><i class="fa fa-gift"></i></div>
                        }
                        <div class="tag-1">

                        </div>
                        <div class="image">
                            <a href="@link_ta"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid h-100" alt="@item.Title" /></a>
                            <div class="tag-2">
                                <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                            </div>
                        </div>

                        <div class="pt-3">
                            <h5 class="title">
                                <a href="@link_ta" title="@item.Title">
                                    @item.Title
                                </a>
                            </h5>


                            @if (item.SalePrice != item.Price)
                            {
                                <div class="price-new">

                                    @(item.SalePrice <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.SalePrice)))

                                </div>
                                <div>
                                    <span class="price-old">
                                        @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                    </span>
                                    @if (item.DiscountPercent > 0)
                                    {
                                        <b class="sale-percent">( - @item.DiscountPercent %)</b>
                                    }
                                </div>

                            }
                            else
                            {
                                <div class="price-new">
                                    @(item.SalePrice <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.SalePrice)))

                                </div>
                            }


                            <div class="size small mb-1">
                                @if (!String.IsNullOrEmpty(item.SpecName) && !String.IsNullOrEmpty(item.SpecValue))
                                {
                                    @Html.Raw($"{item.SpecName}:{item.SpecValue}");
                                }
                            </div>
                            <div class="review d-flex">
                                <div class="color-FFAB1B mr-2">
                                    @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                </div>
                                <div class="color-828282">
                                    @item.CountRate đánh giá
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                count_cutted_1++;
            }


        </div>

    </div>

}
