﻿@using MI.Entity.Enums;
@using ThungRac.Services.Zone.ViewModal
@using ThungRac.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using ThungRac.Services.Article.Repository
@using ThungRac.Services.BannerAds.Repository
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IBannerAdsRepository bannerAdsRepository;
@using Utils
@using System.Linq
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}
@{
    var zone_target = ViewBag.ZoneTarget as ZoneDetail;
    var Banner_Blog = new DetailBanerAds();
    var Banner_Blog_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Blog");
    if (Banner_Blog_Cache != null)
    {
        Banner_Blog = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Blog_Cache.MetaData);
    }
    var page_index = ViewBag.PageIndex;
    var page_size = ViewBag.PageSize;


}

@section styles {
    <style type="text/css">
        .banner-page {
            background: url(@UIHelper.StoreFilePath(Banner_Blog.Image)) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
    </style>

}
@{
    ViewData["Title"] = "BlogList2";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

<div class="banner-page py-3 mb-4">
    <div class="container align-self-center">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-12 ">
                <h1 class="text-center">@zone_target.Name</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            @await Component.InvokeAsync("MenuRightBlog")
        </div>
        @{ var total = 0;
            var list_article = articleRepository.GetArticlesInZoneId_Minify(zone_target.Id, (int)TypeZone.Article, culture_code, "", page_index, page_size, out total) as List<ArticleMinify>; }
        @if (list_article != null)
        {
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="heading pb-2 border-bottom mb-3 d-flex">
                    <div class="h5 font-weight-600 mb-0 ">
                        @zone_target.Name
                    </div>
                </div>

                <div class="slide-blog-cate swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        @{ var article_in_slide = list_article.Skip(0).Take(3); }
                        @foreach (var item in article_in_slide)
                        {
                            var link = string.Format("{0}/{1}.a{2}.html", base_uri_culture, item.Url, item.Id);
                            <div class="swiper-slide">
                                <div class="item mb-3">
                                    <a href="@link" title="@item.Title">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar,false)" class="w-100" alt="@item.Title"/>
                                    </a>
                                    <h2 class="title">
                                        <a href="@link" title="@item.Title">@item.Title</a>

                                    </h2>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
                </div>


                <div class="list-blog-cate-2 binding-blog">
                    @{ var article_out_slide = list_article.Skip(3); }
                    @foreach (var item in article_out_slide)
                    {
                        var link = string.Format("{0}/{1}.a{2}.html", base_uri_culture, item.Url, item.Id);
                        <div class="item item-blog-km">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                    <div class="image mb-3 mb-sm-0">
                                        <a href="@link" title="@item.Title">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid w-100" alt="@item.Title" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                                    <h5 class="title">
                                        @item.Title
                                    </h5>
                                    <div class="time">
                                        @item.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                                    </div>
                                    <div class="des">
                                        @Html.Raw(item.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                @{ var total_page = 0;
                    if (total % page_size == 0)
                    {
                        total_page = total / page_size;
                    }

                    else
                    {
                        total_page = total / page_size + 1;
                    }

                }
                <div class="jan-pagination text-right mb-4 ">
                    <button class="btn btn-pagi preview_page" title="" data-zone-id="@zone_target.Id" data-page-index="@page_index" data-page-size="@page_size" data-min-page="1" data-type="@((int)TypeArticle.Blog)" data-alias="@zone_target.Url"><i class="fas fa-chevron-left "></i></button>
                    <select class="select-page mr-2" data-page-size="@page_size" data-type="@((int)TypeArticle.Blog)" data-zone-id="@zone_target.Id" data-page-index="@page_index" data-alias="@zone_target.Url">
                        @for (int i = 0; i < total_page; i++)
                        {
                            var s = i + 1 == page_index ? "selected" : "";
                            if (i == 0)
                            {
                                <option value="@(i+1)">@(i + 1)</option>
                            }
                            else
                            {
                                <option value="@(i+1)">@(i + 1)</option>
                            }

                        }

                    </select>

                    <span class="color-828282">/@total_page</span>
                    <button class="btn btn-pagi next_page" title="" data-zone-id="@zone_target.Id" data-page-index="@page_index" data-page-size="@page_size" data-max-page="@total_page" data-type="@((int)TypeArticle.Blog)" data-alias="@zone_target.Url"><i class="fas fa-chevron-right "></i></button>
                </div>
            </div>
        }
    </div>
</div>

<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/shipment-international.svg" class="img-fluid w-100" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/professions-man-telecommunicator.svg" class="img-fluid w-100" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/saving-piggy-dollars.svg" class="img-fluid w-100" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{


    <script type="text/javascript" src="~/js/controller/blogList2Controller.js" asp-append-version="true"></script>
}
