﻿@using Enterbuy.Services.Blog.Services;
@using Enterbuy.Core.Enumerations;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Utils;
@using Enterbuy.Data.SqlServer.ModelDto;
@inject IBlogServices blogServices
@{
    List<ArticleMinify> lstArticleMinify = new List<ArticleMinify>();
    ArticleMinify articleMinify = new ArticleMinify();
    List<ZoneByTreeViewMinify> zoneByTreeViewMinifies = new List<ZoneByTreeViewMinify>();
    if (ViewBag.Top_newest != null)
    {
        lstArticleMinify = (List<ArticleMinify>)ViewBag.Top_newest;
        if (lstArticleMinify.Count() > 0)
        {
            articleMinify = lstArticleMinify.OrderByDescending(n => n.Id).First();
        }

    }
    if (ViewBag.ZoneChilds != null)
    {
        zoneByTreeViewMinifies = (List<ZoneByTreeViewMinify>)ViewBag.ZoneChilds;
    }
    var alias = ViewBag.Alias;
    var page_index = ViewBag.PageIndex;
    var page_size = ViewBag.PageSize;
    var total = lstArticleMinify.Count();

    var total_page = 0;
    if (total % page_size == 0)
    {
        total_page = total / page_size;
    }

    else
    {
        total_page = total / page_size + 1;
    }

    var link_prev = "";
    var link_next = "";
    if (page_index > 1)
    {
        link_prev = string.Format("/thong-tin/{0}/page/{1}", alias, page_index - 1);
    }
    if (page_index == 1)
    {
        link_prev = "javascript:void(0)";
    }
    if (page_index < total_page)
    {
        link_next = string.Format("/thong-tin/{0}/page/{1}", alias, page_index + 1);
    }
    if (page_index >= total_page)
    {
        link_next = "javascript:void(0)";
    }
}

<div class="container">
    <div class="row cate-recrui">
        @foreach (var item in zoneByTreeViewMinifies)
        {
            var link_tar = string.Format("thong-tin/{0}", item.Url);
            <div class="col-xl-3 col-lg-3 col-sm-6 col-6">
                <a href="@link_tar">
                    <div class="item">
                        <div class="icon mb-3">
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Icon, false)" class="img-fluid " />
                            }
                            else
                            {
                                <img asp-append-version="true" src="/images/icon-recrui-1.svg" class="img-fluid " />
                            }
                        </div>
                        <div>
                            @item.Name
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="row ">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="heading pb-2 mb-3">
                <div class="h4 font-weight-600 mb-0 ">
                    Mới nhất
                </div>
            </div>
            <div class="list-td mb-3">
                @if (lstArticleMinify.Count() > 0)
                {
                    foreach (var item in lstArticleMinify)
                    {
                        if (!string.IsNullOrEmpty(item.Metadata))
                        {
                            item.ArticleRecruitment = Newtonsoft.Json.JsonConvert.DeserializeObject<ArticleRecruitment>(item.Metadata);
                        }
                        var links = string.Format("thong-tin/{0}/{1}-{2}.html", item.ZoneUrl, item.Url, item.Id);
                        <div class="item-recrui ">
                            <div class="row">
                                <div class="col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3 align-self-center ">
                                    <div class="icon text-center">
                                        <img asp-append-version="true" src="/images/change/people.svg" class="img-fluid" />
                                    </div>
                                </div>
                                <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-9">
                                    <h6 class="title">
                                        <a href="@links">
                                            @item.Title
                                        </a>
                                    </h6>
                                    <div class="color-828282">
                                        <span class="mr-3 mb-2">
                                            <img asp-append-version="true" src="/images/icon-sm-td-1.svg" class="img-fluid mr-2" />@item.ArticleRecruitment.Position
                                        </span>
                                        <span class="mr-3 mb-2">
                                            <img asp-append-version="true" src="/images/icon-sm-td-2.svg" class="img-fluid mr-2" />@item.ArticleRecruitment.Count
                                        </span>
                                        <span class="mr-3 mb-2">
                                            <img asp-append-version="true" src="/images/icon-sm-td-3.svg" class="img-fluid mr-2" />@item.ArticleRecruitment.Salary
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="pagin">
                <div class="container">
                    <ul class="number-page">
                        @if (page_index > 1)
                        {
                            <li>
                                <a href="@link_prev" class="icon-pre">
                                    <i class="fas fa-angle-left"></i>
                                </a>
                            </li>
                        }
                        @for (int i = 0; i < total_page; i++)
                        {
                            var links = string.Format("/news/{0}/page/{1}", alias, i + 1);
                            <li>
                                <a href="@links" title="" class="nb-txt nb-hover active">@(i + 1)</a>
                            </li>
                        }

                        @if (page_index < total_page)
                        {
                            <li>
                                <a href="@link_next" class="icon-pre">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-lg-5">
            <div class="heading pb-2 border-bottom mb-4 ">
                <div class="h5 font-weight-600 mb-0 ">
                    Tiêu điểm
                </div>
            </div>
            <div class="item-recrui-right">
                <h6 class="title color-0B7640">
                    @articleMinify.Title
                </h6>
                <div class="mb-3">
                    <div class="mr-3 mb-2">
                        <img asp-append-version="true" src="/images/icon-sm-td-1.svg" class="img-fluid mr-2" />@articleMinify.ArticleRecruitment.Position
                    </div>
                    <div class="mr-3 mb-2">
                        <img asp-append-version="true" src="/images/icon-sm-td-4.svg" class="img-fluid mr-2" />@articleMinify.ArticleRecruitment.Address
                    </div>
                    <div class="mr-3 mb-2">
                        <img asp-append-version="true" src="/images/icon-sm-td-2.svg" class="img-fluid mr-2" />@articleMinify.ArticleRecruitment.Count
                    </div>
                    <div class="mr-3 mb-2">
                        <img asp-append-version="true" src="/images/icon-sm-td-3.svg" class="img-fluid mr-2" />@articleMinify.ArticleRecruitment.Salary
                    </div>
                </div>
                <div class="mb-4">
                    <div class="font-weight-bold mb-2">
                        Mô tả công việc:
                    </div>
                    <div>
                        @Html.Raw(articleMinify.Description)
                    </div>
                </div>
                <div class="px-5 mb-4">
                    <a href="" class="btn btn-save w-100">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>