﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using XuongGiang.Services.Zone.ViewModal
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Services.BannerAds.Repository
@using XuongGiang.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using XuongGiang.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using XuongGiang.Services.Locations.Repository
@using XuongGiang.Services.Extra.Repository
@using XuongGiang.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}


@{

    Layout = null;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var isHome = false;
    var path = Context.Request.Path.ToString();
    
    var expland = "un-expand";
    var dm_style = "";
    //if ((path.Length <= 1 || path.Split('/').ToList().Count <= 2) && (!path.Equals("/gio-hang")) && (!path.EndsWith(".html")))
    if (path.Length <= 1)
    {
        isHome = true;


        expland = "";
        dm_style = "height: auto;";
    }
    if (path.Length > 1)
    {
        if (path.Equals("/gioi-thieu"))
        {
            isHome = true;
        }
    }
    //else
    //{
    //    path = path.Replace("/", "");
    //    var checker = zoneRepository.GetZoneByAlias(path, culture_code);
    //    if (checker != null)
    //    {
    //        if (checker.Type == (int)TypeZone.Product)
    //        {
    //            isHome = true;
    //            expland = "";
    //            dm_style = "height: auto;";
    //        }

    //    }

    //}
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;


    List<LocationViewModel> locationViewModels = new List<LocationViewModel>();
    locationViewModels = locationsRepository.GetLocations(culture_code);

    List<ZoneSugget> zoneSugget = new List<ZoneSugget>();
    zoneSugget = zoneRepository.GetZoneSugget(culture_code);

    List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);

    ////var sessionBannerAds = Context.Session.GetComplexData<>(SessionUtility.SessionBannerAds);
    ////if (sessionBannerAds != null)
    ////{
    ////    lstBannerAds = (List<BannerAdsViewModel>)sessionBannerAds;
    ////        }
    //var Banner_Trangchu_Trencung = new DetailBanerAds();
    //var Stem_Trangchu = new List<DetailBanerAds>();

    //var Stem_Chantrang = new List<DetailBanerAds>();
    //var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    //var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Trai");
    var Banner_Trangchu_Doc_Phai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Phai");
    //footer

    //if (lstBannerAds.Count() > 0)
    //{
    //    Banner_Trangchu_Trencung = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Trencung").MetaData);
    //    Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstBannerAds.FirstOrDefault(n => n.Code == "Stem_Trangchu").MetaData);

    //    Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstBannerAds.FirstOrDefault(n => n.Code == "Stem_Chantrang").MetaData);
    //    Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Tren_Nho2").MetaData);
    //    Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Tren_Nho1").MetaData);
    //    Banner_Trangchu_Doc_Trai = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Doc_Trai").MetaData);
    //    Banner_Trangchu_Doc_Phai = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Doc_Phai").MetaData);
    //}
    var Banner_Trangchu_Trencung_after_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Trencung");
    var Banner_Trangchu_Trencung_AF_Cooked = new DetailBanerAds();
    if (Banner_Trangchu_Trencung_after_cache != null)
    {
        Banner_Trangchu_Trencung_AF_Cooked = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Trencung_after_cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Trai_Cache != null)
    {
        Banner_Trangchu_Doc_Trai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Trai_Cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Phai_Cache != null)
    {
        Banner_Trangchu_Doc_Phai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Phai_Cache.MetaData);
    }

    var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).FirstOrDefault();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData);
    }
    var Line_menu_home = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LINE_MENU_HOME");
    var lineMenuHome = new List<DetailBanerAds>();
    if (Line_menu_home != null)
    {
        lineMenuHome = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DetailBanerAds>>(Line_menu_home.MetaData);
    }

    var Banner_Chan_Trang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Chantrang");
    var BannerChanTrang = new DetailBanerAds();
    if (Banner_Chan_Trang != null)
    {
        BannerChanTrang = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Chan_Trang.MetaData);
    }

    var TinKiemFootter = new List<DetailBanerAds>();
    var Tim_Kiem_Footer = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Tim_Kiem_Nhieu_Footer");
    if (Tim_Kiem_Footer != null)
    {
        TinKiemFootter = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Tim_Kiem_Footer.MetaData).Where(r => r.Show == true).ToList();
    }
    var chantrang_k1_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_ChanTrang_Khoi1");
    var chantrang_k2_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_ChanTrang_Khoi2");
    var chantrang_k1 = new List<DetailBanerAds>();
    var chantrang_k2 = new List<DetailBanerAds>();
    if (chantrang_k1_cache != null)
    {
        chantrang_k1 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(chantrang_k1_cache.MetaData);
    }
    if (chantrang_k2_cache != null)
    {
        chantrang_k2 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(chantrang_k2_cache.MetaData);
    }
    var LAC_Khoi_2 = new List<DetailBanerAds>();
    var LAC_Khoi_2_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_Khoi_2");
    if (LAC_Khoi_2_Cache != null)
    {
        LAC_Khoi_2 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_Khoi_2_Cache.MetaData).Where(r => r.Show == true).ToList();
    }

}
@inject IViewLocalizer _localizer
@using XuongGiang.Services.Config.Repository
@{
    var _ver = WebHelper.Version();
    var favicon = bannerAdsRepository.GetConfigByName(culture_code, "Favicon");
}
<!DOCTYPE html>
<html lang="vi">

<head>

    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="revisit-after" content="1 days" />
    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    @Html.Raw(configSEOUtility.ConfigWebsite(domain_full, "XuongGiang"))
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese"
              rel="preload">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese"
              rel="stylesheet">*@
    @*<link href="~/css/style.all.css" rel="stylesheet" />*@

    @*<link href="~/css/all.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/tuananh.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/bepvui.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/slick-theme.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/slick.css" rel="stylesheet" asp-append-version="true" />*@

    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/bsnav.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/fa-font.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/slick.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/slick-theme.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/wow.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/XuongGiang/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XuongGiang/css/dev.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptHeader"))
</head>
<body>
    <div class="social-button">
        <div class="social-button-content">
            @{
                var hotline = bannerAdsRepository.GetConfigByName(culture_code, "HotLine");
                var facebook = bannerAdsRepository.GetConfigByName(culture_code, "LinkFanpage");
                var zalo = bannerAdsRepository.GetConfigByName(culture_code, "ZaloNumber");
            }
            <a target="_blank" href="@facebook" class="mes">
                <i class="fab fa-facebook-f"></i>
                <span>Nhắn tin Facebook</span>
            </a>
            <!-- Load Facebook SDK for JavaScript -->

            <a rel="nofollow" href="tel: @hotline" class="call-icon">
                <i class="fas fa-phone"></i>
                <div class="animated alo-circle"></div>
                <div class="animated alo-circle-fill"></div>
                <span>@hotline</span>
            </a>

            <a rel="nofollow" target="_blank" href="https://zalo.me/@zalo" class="zalo">
                <i class="fa" aria-hidden="true">
                    <img src="https://stc-zaloprofile.zdn.vn/pc/v1/images/zalo_sharelogo.png" width="25px">
                </i>
                <span>Zalo: </span>
            </a>
        </div>
    </div>
    @*<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by="@isHome" vary-by-cookie=".AspNetCore.Culture, _LocationId">*@
    <section class="hmenu">
        <div class="container">
            <div class="bsnav-mobile">
                <div class="bsnav-mobile-overlay"></div>
                <div class="navbar"></div>
            </div>
            <div class="navbar navbar-expand-lg bsnav">
                <a class="navbar-brand" href="/">
                    <img src="~/XuongGiang/img/home/logo.svg" class="logoTop" alt="@domain">
                </a>
                <div class="d-flex align-items-center">
                    <div class="btn-sl lang-mb d-pc-none mr-3">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn menu-btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fal fa-search"></i>
                            </button>
                            <div class="dropdown-menu cussearch dropdown-menu-right">
                                <form class="form-inline md-form form-sm active-purple-2 mt-1">
                                    <div class="customer-search">
                                        <div class="cus-name">
                                            <label for="search-input" class="cus-ic-search">
                                                <a href="javascript:void(0)" title="" class="tim-kiem-bai-viet">
                                                    <i class="fal fa-search" style="color: #1a6e3a;"></i>
                                                </a>
                                            </label>
                                            <input type="text" name="txtName" id="search-input tim-kiem-nhanh" placeholder="Search" class="w-100 ip-css-search">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="btn-group">
                            @{
                                var imglangdefault = "";
                                if (culture_code == "vi-VN")
                                {
                                    imglangdefault = "/XuongGiang/img/home/vn.png";
                                }
                                if (culture_code == "en-US")
                                {
                                    imglangdefault = "/XuongGiang/img/home/en.png";
                                }
                            }

                            <button type="button" class="btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="#"><img src="@imglangdefault" style="width: 36px;" /></a>
                            </button>
                            <div class="dropdown-menu cu-si-lang dropdown-menu-right">
                                <form class="form-inline md-form form-sm active-purple-2">
                                    <div class="customer-search">
                                        @foreach (var item in cultureItems)
                                        {
                                            var imglang = "";
                                            if (item.Value == "vi-VN")
                                            {
                                                imglang = "/XuongGiang/img/home/vn.png";
                                            }
                                            if (item.Value == "en-US")
                                            {
                                                imglang = "/XuongGiang/img/home/en.png";
                                            }
                                            <a class="dropdown-item culang select-language" href="javascript:void(0)" data-lang="@item.Value"><img src="@imglang" class="ml-2" style="width: 36px;" /></a>
                                        }

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                </div>
                <div class="collapse navbar-collapse justify-content-md-end">
                    <ul class="navbar-nav navbar-mobile menu-pc mr-0">
                        <li class="nav-item active"><a class="nav-link ml-c1" href="/">@Localizer["Home"]</a></li>
                        <li class="nav-item"><a class="nav-link ml-c1" href="/gioi-thieu">@Localizer["About"]</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link ml-c1" href="#">@Localizer["Product"]<i class="caret"></i></a>
                            @{
                                var zone_sp = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, 0);
                            }
                            <ul class="navbar-nav">
                                @foreach (var item in zone_sp.Where(r => r.ParentId == 0))
                                {
                                    var zone_child = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, item.Id).Where(r => r.Id != item.Id);
                                    <li class="nav-item">
                                        <a class="nav-link" href="@LinkRedirectUrlUtility.ProductCategoryUrl(item.Url)">@item.Name @Html.Raw(zone_child.Count() > 0 ? "<i class=\"caret\"></i>" : "")</a>
                                        @if (zone_child.Count() > 0)
                                        {
                                            <ul class="navbar-nav">
                                                @foreach (var i in zone_child)
                                                {
                                                    <li class="nav-item"><a class="nav-link" href="@LinkRedirectUrlUtility.ProductCategoryUrl(i.Url)">@i.Name</a></li>
                                                }
                                            </ul>
                                        }
                                    </li>


                                }
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link ml-c1" href="/blog">@Localizer["Blog"]</a></li>
                        <li class="nav-item"><a class="nav-link ml-c1" href="https://sinvoice.viettel.vn/tracuuhoadon">@Localizer["Invoice"]</a></li>
                        <li class="nav-item"><a class="nav-link ml-c1" href="/lien-he">@Localizer["Contact"]</a></li>
                        <li class="nav-item d-mb-none">
                            <div class="btn-sl">
                                <div class="btn-group mr-4">
                                    <button type="button" class="btn menu-btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <div class="dropdown-menu cussearch dropdown-menu-right">
                                        <form class="form-inline md-form form-sm active-purple-2 mt-1">
                                            <div class="customer-search">
                                                <div class="cus-name">
                                                    <label for="search-input" class="cus-ic-search">
                                                        <a href="search.html" title="" class="tim-kiem-bai-viet">
                                                            <i class="fal fa-search" style="color: #1a6e3a;"></i>
                                                        </a>
                                                    </label>
                                                    <input type="text" name="txtName" id="search-input" placeholder="Search" class="w-100 ip-css-search tim-kiem-nhanh">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <a href="#"><img src="@imglangdefault" style="width: 36px;" /></a>
                                    </button>
                                    <div class="dropdown-menu cu-si-lang dropdown-menu-right">
                                        <form class="form-inline md-form form-sm active-purple-2">
                                            <div class="customer-search">
                                                @foreach (var item in cultureItems)
                                                {
                                                    var imglang = "";
                                                    if (item.Value == "vi-VN")
                                                    {
                                                        imglang = "/XuongGiang/img/home/vn.png";
                                                    }
                                                    if (item.Value == "en-US")
                                                    {
                                                        imglang = "/XuongGiang/img/home/en.png";
                                                    }
                                                    <a class="dropdown-item culang select-language" href="javascript:void(0)" data-lang="@item.Value"><img src="@imglang" class="ml-2" style="width: 36px;" /></a>
                                                }

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    @*</cache>*@

    @RenderBody()

    @*<cache expires-after="@TimeSpan.FromMinutes(5)">*@
    @if (!isHome)
    {
        <section class="why-chosse">
            <div class="container">
                <h2 class="tit-aphome">@Localizer["WHY CHOOSE XUONG GIANG PAPER"]</h2>
                <div class="row">
                    <div class="col-md-5">
                        @{
                            var k2_cut_2 = LAC_Khoi_2.Skip(0).Take(2);
                        }
                        <div class="row">
                            @foreach (var item in k2_cut_2)
                            {
                                <div class="col-md-6 col-6">
                                    <div class="amon">
                                        <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100" style="max-width:48px;" alt="@item.Title">
                                        <p class="txt-wc-1">@item.Title</p>
                                        <p class="txt-wc-2">@item.Description</p>
                                        <a href="@item.Url">
                                            <div class="btn-now btn-wc">
                                                @Localizer["Read More"]
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            @{
                                var x = 3;
                            }
                            @foreach (var item in LAC_Khoi_2.Skip(2))
                            {
                                <div class="col-md-4 @(x==3?"col-12":"col-6")">
                                    <div class="amon">
                                        <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100" style="max-width:48px;" alt="@item.Title">
                                        <p class="txt-wc-1">@item.Title</p>
                                        <p class="txt-wc-2">@item.Description</p>
                                        <a href="@item.Url">
                                            <div class="btn-now btn-wc">
                                                @Localizer["Read More"]
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <footer>
        <a href="#" class="scrollToTop" style="display: none;">
            <i class="fal fa-angle-up" style="color: #ffffff; font-size: 30px;"></i>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="txt-ft-1">@Localizer["COMPANY OVERVIEW"]</div>
                            <div class="icon-arr">
                                <img src="~/XuongGiang/img/home/arrow.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <ul class="list-footer">
                                @foreach (var item in chantrang_k1)
                                {
                                    <li>
                                        <a href="@item.Url">@item.Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="txt-ft-1">
                                @Localizer["BUSINESS OPERATION"]
                            </div>
                            <div class="icon-arr">
                                <img src="~/XuongGiang/img/home/arrow.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <ul class="list-footer">
                                @foreach (var item in chantrang_k2)
                                {
                                    <li>
                                        <a href="@item.Url">@item.Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="txt-ft-1 border-bottom-0">@Localizer["SOCIAL"]</div>
                    <div class="input-group">
                        <input type="text" class="form-control ip-css" placeholder="Enter Your Email" aria-label="Enter Your Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <i class="far fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="txt-ft-1 pt-3 pb-0 border-bottom-0">HOTLINE</div>
                    <div class="d-flex ">
                        <div class="nb-ft-hotline pr-4">@bannerAdsRepository.GetConfigByName(culture_code, "HotLine")</div>
                        <ul class="list-social">
                            <li>
                                <a href="#">
                                    <img src="~/XuongGiang/img/home/icon-fb.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/XuongGiang/img/home/icon-ins.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#"><img src="~/XuongGiang/img/home/icon-tiktok.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/XuongGiang/img/home/icon-tw.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="fb-root"></div>
    @*footer*@

    @*</cache>*@

    @if (isHome == true)
    {
        var link1 = Banner_Trangchu_Doc_Trai.Url;
        var link2 = Banner_Trangchu_Doc_Phai.Url;
        @*<div class="banner-fixed-left">
                <a rel="nofollow" href="@link1">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Doc_Trai.Image, false)?v=@_ver" class="img-fluid w-100" />
                </a>
            </div>
            <div class="banner-fixed-right">
                <a rel="nofollow" href="@link2">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Doc_Phai.Image, false)?v=@_ver" class="img-fluid w-100" />
                </a>
            </div>*@
    }
    @*<div id="loadingDiv" class="loader">
        </div>*@
    <div id="cover-spin"></div>
    <div id="full-load-img" class="modal modal-img">
        <button class="close-load-img"><i class="far fa-window-close"></i></button>
        <img class="modal-content modal-content-full-img?v=1" id="img01">
        <div id="caption"></div>
    </div>
    @await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(culture_code, "Logo"), false) })
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptBody"))

    @*<script src="~/js/lib.base.js?v=@_ver"></script>*@

    @*
        <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="~/vendor/jquery-3.3.1.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js?v=@_ver"></script>

    <script type="text/javascript" src="~/XuongGiang/js/bootstrap.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/XuongGiang/js/bsnav.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/XuongGiang/js/font-icon.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/XuongGiang/js/slick.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/XuongGiang/js/wow.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/XuongGiang/js/typeit.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/XuongGiang/js/main.js" asp-append-version="true"></script>

    <!--<script type="text/javascript" src="~/vendor/popper.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/vendor/bootstrap.min.js?v=@_ver"></script>-->
    @*<script type="text/javascript" src="~/js/libs/jquery-autocompleter/dist/jquery.autocompleter.min.js?v=@_ver"></script>*@
    <!--<script type="text/javascript" src="~/vendor/swiper.min.js?v=@_ver"></script>-->
    <script type="text/javascript" src="~/vendor/wow.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/momentjs/momentJS.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/vakata-jstree-6dce227/jstree.min.js?v=@_ver"></script>



    <script type="text/javascript" src="~/js/app.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/core/core.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/menuController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/orderController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/extraController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/yall-js/dist/yall.min.js?v=@_ver"></script>
    <script src="~/js/slick.min.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/filterController.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", yall);
    </script>
    <script>
        $(document).ready(function () {
            $('.save-location').off('click').on('click',
                function () {
                    var currentUrl = window.location.href;
                    var location_id = $('#location-selectbox').val();
                    var location_name = $('#location-selectbox option:selected').html();
                    localStorage.setItem("_LocationId", location_id);
                    localStorage.setItem("_LocationName", location_name);
                    var params = {
                        location_id: localStorage.getItem("_LocationId"),
                        location_name: localStorage.getItem("_LocationName"),
                        currentUrl: currentUrl
                    }
                    $.post('/Cookie/ChangeCurrentLocation',
                        params,
                        function () {
                            console.log(100);
                            location.reload(true);
                        })
                });
            //sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
            //$('.tree-menu-mobile').jstree({
            //    "core": {
            //        "animation": 100,
            //        "check_callback": true,
            //        "multiple": false, // no multiselection
            //        "themes": {
            //            "dots": false, // no connecting dots between dots
            //            "icons": false

            //        },
            //    },
            //    "plugins": ["state", "wholerow", "types"],
            //    'types': {
            //        'default': {
            //            'icon': 'fa fa-angle-right fa-fw'
            //        },
            //        'f-open': {
            //            'icon': 'fa fa-folder-open fa-fw'
            //        },
            //        'f-closed': {
            //            'icon': 'fa fa-folder fa-fw'
            //        }
            //    }
            //});
            //if (window.location.pathname == "" || window.location.pathname === "/") {
            //    localStorage.setItem("jstree", "");
            //}
            //$('.tree-menu-mobile').on("select_node.jstree", function (e, data) {
            //    var r = data.node;
            //    //console.log(r);
            //    var nodesToKeepOpen = [];

            //    // get all parent nodes to keep open
            //    $('#' + data.node.id).parents('.jstree-node').each(function () {
            //        nodesToKeepOpen.push(this.id);
            //    });

            //    // add current node to keep open
            //    nodesToKeepOpen.push(data.node.id);

            //    // close all other nodes
            //    $('.jstree-node').each(function () {
            //        if (nodesToKeepOpen.indexOf(this.id) === -1) {
            //            $(".tree-menu-mobile").jstree().close_node(this.id);
            //        }
            //    })
            //    if (r.state.opened == false && r.children.length > 0) {
            //        $('.tree-menu-mobile').jstree("toggle_node", data.node);
            //        return false;
            //    }
            //    if (r.state.opened == true || r.children.length == 0) {
            //        var id = r.id;
            //        var url = $('#' + id).find('.span-tree-node').data('url');
            //        var old_node = $(id).find('.jstree-clicked');

            //        if (sessionStorage.getItem('current-js-tree') == "" || sessionStorage.getItem('current-js-tree') === "undefined") {
            //            window.location.href = url;
            //        } else {
            //            var ss = JSON.parse(sessionStorage.getItem('current-js-tree'));
            //            console.log(ss);
            //            if (ss == null) {
            //                window.location.href = url;
            //            }
            //            var seleced_current = ss.state.core.selected;
            //            if (seleced_current.length > 0) {
            //                if (seleced_current[0] != id) {
            //                    //console.log("Khac roi nay");
            //                    //sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
            //                    window.location.href = url;
            //                }
            //                if (seleced_current[0] == id) {
            //                    //console.log("Trung roi nay")
            //                }
            //            }
            //        }


            //        //if (ss == "1") {

            //        //}
            //        return false;
            //    }
            //});

            $('#txt-time-input').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                //minYear: 1901,
                //maxYear: parseInt(moment().format('YYYY'), 10),
                locale: {
                    "format": "DD/MM/YYYY"
                }
                //}, function (start, end, label) {
                //    var years = moment().diff(start, 'years');
                //    alert("You are " + years + " years old!");
            });

            var url = window.location.pathname;
            $('.menu-cate-mobile div a[href="' + url + '"]').addClass('active');

            $('.find-product').keydown(function (e) {

                if ($(this).val().length < 2) {
                    $(".suggest-text.suggest-text-2").hide();
                    $(".suggest-text.suggest-text-1").show();
                } else {

                    $(".suggest-text.suggest-text-2").show();
                    $(".suggest-text.suggest-text-1").hide();


                    $(this).autocomplete({
                        delay: 300,
                        source: function (request, response) {
                            $.ajax({
                                url: "/Product/Get",
                                dataType: "json",
                                data: {
                                    keyword: request.term
                                },
                                success: function (data) {
                                    //debugger
                                    response(data);

                                }
                            });
                        },
                        minLength: 1,
                    }).autocomplete("instance")._renderItem = function (div, item) {
                        //--debugger
                        $(".suggest-text.suggest-text-2").empty();
                        var lstItem = "";
                        lstItem += "<div class='h6 px-3'>Sản phẩm gợi ý</div>"
                        $.each(item, function (index, im) {
                            var name = im.name.charAt(0).toUpperCase() + im.name.slice(1);
                            lstItem += '<div class="item-cart"><div class="image-product"><img src="' + im.avatar + '" class="" /></div>';
                            lstItem += '<div class="text px-2 "> <h6 class="name-product mb-1"><a href="' + im.url + '">' + name + '</a></h6>';
                            if (im.discountPrice.length > 0) {
                                lstItem += '<div class="price d-inline-block">' + im.discountPrice + '</div>';
                            }
                            if (im.discountPrice.price > 0) {
                                lstItem += ' <div class=" price-old d-inline-block">' + im.price + '</div>';
                            }
                            lstItem += "</div></div>";
                        });
                        $(div).removeClass("ui-menu");
                        return $(lstItem).appendTo(".suggest-text.suggest-text-2");
                    };


                    if (e.which == 13) {
                        //console.log(data);
                        var kw = $(this).val();
                        var index = 1;
                        var size = 24;
                        var p = {
                            keyword: kw,
                            index: index,
                            size: size
                        }
                        console.log(p);
                        sessionStorage.setItem("esSearch", JSON.stringify(p));
                        window.location.href = "/tim-kiem";
                        //$.get("/Product/GetElasticAll?keyword="+kw+"&index="+index+"&size="+size+"", function (response) {
                        //    console.log(response);
                        //})
                        //$("#go").click();
                    }

                    $('.es-search-button').off('click').on('click', function () {
                        var kw = $(this).closest('.input-group').find('.find-product').val();
                        var index = 1;
                        var size = 24;
                        var p = {
                            keyword: kw,
                            index: index,
                            size: size
                        }
                        console.log(p);
                        sessionStorage.setItem("esSearch", JSON.stringify(p));
                        window.location.href = "/tim-kiem";
                    })

                }

            })
            $('.es-search-button').off('click').on('click', function () {
                var kw = $(this).closest('.input-group').find('.find-product').val();
                var index = 1;
                var size = 24;
                var p = {
                    keyword: kw,
                    index: index,
                    size: size
                }
                console.log(p);
                sessionStorage.setItem("esSearch", JSON.stringify(p));
                window.location.href = "/tim-kiem";
            })


            $('.find-product').on("focusout", function () {
                setTimeout(function () {
                    $(".suggest-text.suggest-text-2").hide();
                    $(".suggest-text.suggest-text-1").hide();
                }, 1000);
            });
            $('.find-product').on("focus", function () {
                if ($(this).val().length < 3) {
                    $(".suggest-text.suggest-text-1").show();
                }
            });
            $('.cust-ag').off('click').on('click', function () {
                var url_image = $(this).data('original');
                if (typeof url_image === 'undefined')
                    url_image = $(this).data('src');

                //var url_image = $(this).parent().data('url');
                $('#img01').attr('src', url_image);

                $('.modal-img').modal('show');
                $('.modal-backdrop').replaceWith("");
            })
            $('.close-load-img').off('click').on('click', function () {
                $('.modal-img').modal('hide');
            })
            $('#modal-id').on('shown.bs.modal', function () {
                $(".modal-backdrop.in").hide();
            })
        })

    </script>
    <script>

        window.fbAsyncInit = function () {
            setTimeout(function () {
                FB.init({
                    xfbml: true,
                    version: 'v7.0'
                });

            }, 12000);

        };
        setTimeout(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        }, 1200);

    </script>
    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=2323475157962564&autoLogAppEvents=1" nonce="Z6tf66vh"></script>*@
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptFooter"))
    @RenderSection("Scripts", required: false)
    @*<h1>@culture</h1>
        <h1>@culture_code</h1>*@
    @*header*@
    @*sdk facebook Thăng them nhé*@
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '257109512148042',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v8.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js"></script>

    @*end sdk*@
    <!-- Load Facebook SDK for JavaScript -->
    @*<div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v8.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>*@
    <!-- Load Facebook SDK for JavaScript -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v9.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="103710788177510">
    </div>

    <!-- Your Chat Plugin code -->
    @*<div class="fb-customerchat"
             attribution=setup_tool
             page_id="108263497663044"
             logged_in_greeting="Chào bạn ! Cám ơn bạn đã liên hệ tới Nhà bếp vui. Bạn cần chúng tôi hỗ trợ gì?"
             logged_out_greeting="Chào bạn ! Cám ơn bạn đã liên hệ tới Nhà bếp vui. Bạn cần chúng tôi hỗ trợ gì?">
        </div>*@

</body>

</html>