﻿@using MI.Entity.Enums;
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

}
@{
    ViewData["Title"] = "BlogDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@{

    var detail = ViewBag.Detail as ArticleDetail;
}
@section styles {

}

@{
    var zones = zoneRepository.GetZoneDetail(detail.ZoneId, culture_code);
    var bg = "/images/home/slide.png";
    if (!string.IsNullOrEmpty(zones.Background))
    {
        bg = UIHelper.StoreFilePath(zones.Background, false);
    }
}
@if (zones != null)
{
    <section class="home atest" id="home" style="background: url(@bg) no-repeat center">
        <div class="container max-width ">
            <div class="home-content">
                <div class="text-1">@zones.Name</div>
                <!-- <div class="text-3">And I'm a <span class="typing"></span></div> -->
                <div class="text-2">
                    @Html.Raw(zones.Description)
                </div>
                <a href="@LinkRedirectUrl.LinkZoneRedirect(zones.Url)">XEM NGAY</a>
            </div>
        </div>
    </section>
}

<section class="main-cate">
    <div class="bg-bread">
        <div class="container">
            <nav aria-label="breadcrumb">
                @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
            </nav>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="titl-top-cate">@detail.Title</div>
                <div class="d-flex">
                    <div class="icon-news">
                        <i class="fal fa-calendar-alt"></i> @detail.CreatedDate.ToString("dd/MM/yyyy")
                    </div>
                    <div class="icon-news">
                        <i class="far fa-user"></i> @detail.Author
                    </div>
                    <div class="icon-news">
                        <i class="far fa-eye"></i> @detail.ViewCount
                    </div>
                </div>
                <div class="nd-txt detail-container" data-id="@detail.Id">
                    @Html.Raw(detail.Body)
                </div>
                <div class="tags">
                    <div class="row">
                        <div class="col-1">Tag:</div>
                        <div class="col-11">
                            <ul class="row keys-tags">
                                @if (!string.IsNullOrEmpty(detail.Tags))
                                {
                                    var list_tags = detail.Tags.Split(',');
                                    foreach (var item in list_tags)
                                    {
                                        var link_tar = string.Format("{0}/filter-by-{1}.html", base_uri_culture, item);
                                        <li class="col-2"><i class="fal fa-tag"></i> @item</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                <div class="comment">
                    <i class="fas fa-comment"></i> Ý KIẾN BÌNH LUẬN
                    @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Article })
                </div>
                <div style="padding-top: 40px;">
                    <div class="title-navr border-bottom">TIN LIÊN QUAN</div>
                    @{
                        var news_same_zone_total = 0;
                        var news_same_zone = articleRepository.GetArticlesInZoneId_Minify_FullFilter(detail.ZoneId, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, culture_code, "", 1, 4, out news_same_zone_total);

                    }
                    @foreach (var item in news_same_zone)
                    {
                        <div class="row py-2">
                            <div class="col-md-6">
                                <div class="news-nbat">
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                                    </a>
                                    
                                    <div class="tag">
                                        <img src="./images/home/tag.png" class="img-fluid" alt="">
                                        <div class="date-tag"><b>@item.CreatedDate.ToString("dd")</b> <br>@item.CreatedDate.ToString("MMM")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)" class="txt-n3">@item.Title</a>
                                <div class="txt-n2">@Html.Raw(item.Description)</div>
                                <div class="d-flex">
                                    <div>
                                        <i class="far fa-user"></i> @item.Author
                                    </div>
                                    <div style="padding-left: 35px;">
                                        <i class="far fa-eye"></i> @item.ViewCount
                                    </div>
                                </div>
                                <div class="asee" style="text-align: start;">
                                    <a href="@LinkRedirectUrl.LinkArticleRedirect(item.Url)">Xem thêm</a>
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
            @await Component.InvokeAsync("MenuRightBlog")
        </div>
    </div>
</section>

@section scripts {


}