﻿<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>TNGroup - Tuyển ứng viên tại Nhật Bản</title>

    <!-- Loading Bootstrap -->
    <link href="~/design/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Template CSS -->
    <link href="~/design/css/style.css" rel="stylesheet">
    <link href="~/design/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="~/design/css/pe-icon-7-stroke.css">
    <link href="~/design/css/style-magnific-popup.css" rel="stylesheet">
    <meta property="og:image" content="~/design/images/logo-T&N.png" />





    <!-- Awsome Fonts -->
    <link rel="stylesheet" href="~/design/css/all.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">

    <!-- Font Favicon -->
    <link rel="shortcut icon" href="~/design/images/favicon.png">
    <style>
        @@media only screen and (min-width: 800px) {
            #team img {
                max-height: 350px;
            }
        }
    </style>

</head>

<body>

    <!--begin header -->
    <header class="header">

        <!--begin navbar-fixed-top -->
        <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">

            <!--begin container -->
            <div class="container">

                <!--begin logo -->

                <a class="navbar-brand" href="#"><img src="~/design/images/logo-T&N.png" /></a>
                <!--end logo -->
                <!--begin navbar-toggler -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <!--end navbar-toggler -->
                <!--begin navbar-collapse -->
                <div class="navbar-collapse collapse" id="navbarCollapse" style="">

                    <!--begin navbar-nav -->
                    <ul class="navbar-nav ml-auto">

                        <li><a href="#home">ホーム</a></li>

                        <li><a href="#about">挨拶</a></li>

                        <li><a href="#testimonials">企業対応</a></li>

                        <li><a href="#portfolio">組合対応 </a></li>

                        <li><a href="#team">スターフ</a></li>

                        <li><a href="#features">お問い合わせ</a></li>

                        @*<li><a href="#pricing">Pricing</a></li>*@

                        <li class="discover-link"><a href="https://forms.gle/xngm3Br9L2vYimki8 "
                                class="discover-btn">Đăng ký ngay</a></li>

                    </ul>
                    <!--end navbar-nav -->

                </div>
                <!--end navbar-collapse -->

            </div>
            <!--end container -->

        </nav>
        <!--end navbar-fixed-top -->

    </header>
    <!--end header -->
    @RenderBody()
    <!--begin footer -->
    <div class="footer">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-5 -->
                <div class="col-md-5">

                    <p>© 2020 <span class="template-name">LaunchPage</span>. Designed by <a
                            href="https://themeforest.net/user/epic-themes/portfolio?ref=Epic-Themes"
                            target="_blank">Epic-Themes</a></p>

                </div>
                <!--end col-md-5 -->
                <!--begin col-md-2 -->
                <div class="col-md-2"></div>
                <!--end col-md-2 -->
                <!--begin col-md-5 -->
                <div class="col-md-5">

                    <!--begin footer_social -->
                    <ul class="footer_social">

                        <li>Follw us:</li>

                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>

                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>

                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>

                        <li><a href="#"><i class="fab fa-skype"></i></a></li>

                        <li><a href="#"><i class="fab fa-dribble"></i></a></li>

                    </ul>
                    <!--end footer_social -->

                </div>
                <!--end col-md-5 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>
    <!--end footer -->
    <!-- Load JS here for greater good =============================-->
    <script src="~/design/js/jquery-3.3.1.min.js"></script>
    <script src="~/design/js/bootstrap.min.js"></script>
    <script src="~/design/js/jquery.scrollTo-min.js"></script>
    <script src="~/design/js/jquery.magnific-popup.min.js"></script>
    <script src="~/design/js/jquery.nav.js"></script>
    <script src="~/design/js/wow.js"></script>
    <script src="~/design/js/plugins.js"></script>
    <script src="~/design/js/custom.js"></script>

    <!--Google sheet form-->

    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbxuF0t0mGVU6bUiv6VLSV9Tfre6S-lZRSn30D_TAV6vO5yG8v8/exec'
        const form = document.forms['register-form']
        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                .then(response => alert("Cám ơn bạn đã liên hệ"))
                .catch(error => console.error('Error!', error.message))
        })
        const form1 = document.forms['contact-form']
        form1.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form1) })
                .then(response => alert("Cám ơn bạn đã liên hệ"))
                .catch(error => console.error('Error!', error.message))
        })
    </script>


</body>

</html>