﻿@using LacWebsite.Services.Product.Repository
@using LacWebsite.Services.Product.ViewModel
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.Zone.ViewModal
@using MI.Entity.Enums

@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    cookieUtility.SetCookieDefault();
    var location_id = int.Parse(HttpContextAccessor.HttpContext.Request.Cookies["_LocationId"]);
    var location_name = HttpContextAccessor.HttpContext.Request.Cookies["_LocationName"];
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository

@{
    var region_id = ViewBag.Region as int?;
    var old_url = ViewBag.UrlOld as string;
}
@{
    var page_size = 8;
    var page_index = 1;
    var total_first_child_1 = 0;
    var products_in_first_child = productRepository.GetProductInRegionByZoneIdMinify((int)region_id, location_id, culture_code, page_index, page_size, out total_first_child_1);

}
@if (total_first_child_1 < 2)
{
    <div class="_binding_product" data-total-product="@total_first_child_1">
        <div class="set-total" data-total="@total_first_child_1" data-id="@region_id" style="display:none">
            <div class="row no-gutters mb-3 mb-md-0">

            </div>
        </div>
    </div>

}
@if (total_first_child_1 >= 2)
{
    var cutted_1 = new List<ProductMinify>();
    var cutted_2 = new List<ProductMinify>();
    @if (products_in_first_child[0] != null)
    {
        cutted_1.Add(products_in_first_child[0]);
    }
    @if (products_in_first_child[1] != null)
    {
        cutted_2.Add(products_in_first_child[1]);
    }
    cutted_1.AddRange(products_in_first_child.Skip(2).Take(3));
    cutted_2.AddRange(products_in_first_child.Skip(5).Take(3));
    cutted_1.OrderByDescending(r => r.IsHot);
    cutted_2.OrderByDescending(r => r.IsHot);

    <div class="_binding_product">
        <div class="set-total" data-total="@total_first_child_1" data-id="@region_id" style="display:none"></div>
        <div class="set-url-old-link" data-link="@old_url" style="display:none"></div>
        <div class="row no-gutters mb-3 mb-md-0">
            @if (cutted_1 != null)
            {
                //var link_target = string.Format("{0}/{1}.p{2}.html", base_uri_culture, cutted_1[0].Url, cutted_1[0].ProductId);
                var link_taget = string.Format("/{0}.html", cutted_1[0].Url);
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="item-product item-product-large">
                        <div class="image">
                            <a href="@link_taget">
                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(cutted_1[0].BigThumb, false)" class="img-fluid" alt="@cutted_1[0].Title" />
                            </a>
                        </div>
                        <div class="py-1">
                            <h5 class="title">
                                <a href="@link_taget" title="@cutted_1[0].Title">
                                    @cutted_1[0].Title
                                </a>
                            </h5>
                            @{

                                decimal up_price = 0;
                                decimal down_price = 0;
                                if (cutted_1[0].SalePrice > 0 && cutted_1[0].SalePrice < cutted_1[0].Price)
                                {
                                    up_price = cutted_1[0].SalePrice;
                                    down_price = cutted_1[0].Price;
                                }
                                 if (cutted_1[0].SalePrice == 0 || cutted_1[0].SalePrice >= cutted_1[0].Price)
                                {
                                    up_price = cutted_1[0].Price;
                                    down_price = 0;
                                }
                            }
                            @if (cutted_1[0].FlashSaleId > 0)
                            {
                                <div class="price-new">
                                    @UIHelper.FormatNumberJanhome(cutted_1[0].ProductPriceInFlashSale) đ / @cutted_1[0].Unit
                                </div>

                                <div class="price-old">
                                    @(cutted_1[0].SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                </div>
                            }
                            else
                            {
                                if (down_price > 0)
                                {
                                    <div class="price-new">
                                        @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_1[0].Unit
                                    </div>

                                    <div class="price-old">
                                        @(cutted_1[0].Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                    </div>
                                }
                                if (down_price == 0)
                                {
                                    <div class="price-new">
                                        @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_1[0].Unit
                                    </div>

                                    @*<div class="price-old">
                                            @(cutted_1[0].Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(cutted_1[0].Price) + "đ"))
                                        </div>*@
                                }

                            }

                            <div class="size small mb-1">
                                @cutted_1[0].SpecName: @cutted_1[0].SpecValue
                            </div>
                            <div class="review d-flex">
                                <div class="color-FFAB1B mr-2">
                                    @System.Math.Round(cutted_1[0].Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                </div>
                                <div class="color-828282">
                                    @cutted_1[0].CountRate đánh giá
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters h-100 ">
                    @{var count_cutted_1 = 0; }
                    @foreach (var item in cutted_1.Skip(1))
                    {

                        //var link_ta = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                        var link_ta = string.Format("/{0}.html", item.Url);
                        <div class="col-md-4 col-sm-4 col-6 @(count_cutted_1==2 ? "d-none d-sm-block":"")">
                            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                <div class="tag-1">

                                </div>
                                @if (item.FlashSaleId > 0)
                                {
                                    <div class="tag-flashsale">
                                        <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                    </div>
                                }
                                <div class="image">
                                    <a href="@link_ta"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title" /></a>
                                    <div class="tag-2">
                                        <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="@link_ta" title="@item.Title">
                                            @item.Title
                                        </a>
                                    </h5>
                                    <div class="text-left">
                                        @{

                                            decimal up_price = 0;
                                            decimal down_price = 0;
                                            if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                            {
                                                up_price = item.SalePrice;
                                                down_price = item.Price;
                                            }
                                            if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                            {
                                                up_price = item.Price;
                                                down_price = 0;
                                            }
                                        }
                                        @if (item.FlashSaleId > 0)
                                        {
                                            <div class="price-new">
                                                @UIHelper.FormatNumberJanhome(item.ProductPriceInFlashSale) đ / @item.Unit
                                            </div>

                                            <div class="price-old">
                                                @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                            </div>
                                        }
                                        else
                                        {
                                            if (down_price > 0)
                                            {
                                                <div class="price-new">
                                                    @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                </div>

                                                <div class="price-old">
                                                    @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                </div>
                                            }
                                            if (down_price == 0)
                                            {
                                                <div class="price-new">
                                                    @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                </div>

                                                @*<div class="price-old">
                                                        @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(item.Price) + "đ"))
                                                    </div>*@
                                            }

                                        }

                                    </div>

                                    <div class="size small mb-1">
                                        @item.SpecName: @item.SpecValue
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            @item.CountRate đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        count_cutted_1++;
                    }
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            @if (cutted_2 != null)
            {

                //var link_target = string.Format("/{0}/{1}.p{2}.html", base_uri_culture, cutted_2[0].Url, cutted_2[0].ProductId);
                var link_target = string.Format("/{0}.html", cutted_2[0].Url);
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="item-product item-product-large">
                        <div class="image">
                            <a href="@link_target">
                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(cutted_2[0].BigThumb,false)" class="img-fluid" alt="@cutted_2[0].Title" />
                            </a>
                        </div>
                        <div class="py-1">
                            <h5 class="title">
                                <a href="@link_target" title="@cutted_2[0].Title">
                                    @cutted_2[0].Title
                                </a>
                            </h5>
                            @{

                                decimal up_price = 0;
                                decimal down_price = 0;
                                if (cutted_2[0].SalePrice > 0 && cutted_2[0].SalePrice < cutted_2[0].Price)
                                {
                                    up_price = cutted_2[0].SalePrice;
                                    down_price = cutted_2[0].Price;
                                }
                                if (cutted_2[0].SalePrice == 0 || cutted_2[0].SalePrice >= cutted_2[0].Price)
                                {
                                    up_price = cutted_2[0].Price;
                                    down_price = 0;
                                }
                            }
                            @if (cutted_2[0].FlashSaleId > 0)
                            {
                                <div class="price-new">
                                    @UIHelper.FormatNumberJanhome(cutted_2[0].ProductPriceInFlashSale) đ / @cutted_2[0].Unit
                                </div>

                                <div class="price-old">
                                    @(cutted_2[0].SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                </div>
                            }
                            else
                            {
                                if (down_price > 0)
                                {
                                    <div class="price-new">
                                        @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_2[0].Unit
                                    </div>

                                    <div class="price-old">
                                        @(cutted_2[0].Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                    </div>
                                }
                                if (down_price == 0)
                                {
                                    <div class="price-new">
                                        @UIHelper.FormatNumberJanhome(up_price) đ / @cutted_2[0].Unit
                                    </div>

                                    @*<div class="price-old">
                                            @(cutted_2[0].Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(cutted_2[0].Price) + "đ"))
                                        </div>*@
                                }

                            }


                            <div class="size small mb-1">
                                @cutted_2[0].SpecName: @cutted_2[0].SpecValue
                            </div>
                            <div class="review d-flex">
                                <div class="color-FFAB1B mr-2">
                                    @System.Math.Round(cutted_2[0].Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                </div>
                                <div class="color-828282">
                                    @cutted_2[0].CountRate đánh giá
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters h-100 ">
                    @{var count_cutted_2 = 0; }
                    @foreach (var item in cutted_2.Skip(1))
                    {
                        //var link_ta = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                        var link_ta = string.Format("/{0}.html", item.Url);
                        <div class="col-md-4 col-sm-4 col-6 @(count_cutted_1==2 ? "d-none d-sm-block":"")">
                            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                <div class="tag-1">

                                </div>
                                @if (item.FlashSaleId > 0)
                                {
                                    <div class="tag-flashsale">
                                        <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                    </div>
                                }
                                <div class="image">
                                    <a href="@link_ta"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title" /></a>
                                    <div class="tag-2">
                                        <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="@link_ta" title="@item.Title">
                                            @item.Title
                                        </a>
                                    </h5>
                                    <div class="text-left">
                                        @{

                                            decimal up_price = 0;
                                            decimal down_price = 0;
                                            if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                            {
                                                up_price = item.SalePrice;
                                                down_price = item.Price;
                                            }
                                            if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                            {
                                                up_price = item.Price;
                                                down_price = 0;
                                            }
                                        }
                                        @if (item.FlashSaleId > 0)
                                        {
                                            <div class="price-new">
                                                @UIHelper.FormatNumberJanhome(item.ProductPriceInFlashSale) đ / @item.Unit
                                            </div>

                                            <div class="price-old">
                                                @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(up_price) + "đ"))
                                            </div>
                                        }
                                        else
                                        {
                                            if (down_price > 0)
                                            {
                                                <div class="price-new">
                                                    @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                </div>

                                                <div class="price-old">
                                                    @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(down_price) + "đ"))
                                                </div>
                                            }
                                            if (down_price == 0)
                                            {
                                                <div class="price-new">
                                                    @UIHelper.FormatNumberJanhome(up_price) đ / @item.Unit
                                                </div>

                                                @*<div class="price-old">
                                                        @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumberJanhome(item.Price) + "đ"))
                                                    </div>*@
                                            }

                                        }

                                    </div>

                                    <div class="size small mb-1">
                                        @item.SpecName: @item.SpecValue
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            @item.CountRate đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        count_cutted_2++;
                    }
                </div>
            </div>
        </div>
    </div>

}
