﻿@using MI.Entity.Enums;
@using XuongGiang.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using XuongGiang.Services.Article.Repository
@using XuongGiang.Services.Article.ViewModel
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Utility
@using Utils
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@{
    ViewData["Title"] = "FilterByKeyword";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var filter = ViewBag.Key;

}
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var path = Context.Request.Path.ToString().Split("/")[1];

    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;
    var total = (int)ViewBag.Total;
}
@{
    @*ViewData["Title"] = "BlogList1";
        Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";*@
    var blog_zone_parent = new ZoneByTreeViewMinify();
    //var parent = zoneRepository.GetBreadcrumbByZoneId(Model.Id, culture_code).Where(r => r.level == 0).FirstOrDefault();
    //if (parent != null)
    //{
    //    blog_zone_parent = parent;
    //}
    //var list_zone_chlids = new List<ZoneByTreeViewMinify>();
}
@{
    var list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
}
@model List<ArticleMinify>

<main>
    <section style="position: relative;">
        <div>
            <img src="~/XuongGiang/img/blog/banner-blog.png" class="w-100" alt="">
        </div>
        <div class="main-absol">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="padding-top: 40px;">
                        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Tìm kiếm</a></li>
                    </ol>
                </nav>
                <h2 class="tit-aphome tit-home-blog">Tìm kiếm: @ViewBag.Key</h2>
                <div class="muc-tikiem">
                    <nav>
                        @{ var tatca = true;}
                        <div class="nav nav-tabs cust-nav-blog" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link @(tatca ? "active"  : "")" href="/blog">Tất cả</a>
                            <a class="nav-item nav-link" href="/bai-viet-moi">Bài viết mới</a>
                            @foreach (var item in list_zone_parent)
                            {
                                <a class="nav-item nav-link @(item.Url == path ? "active" : "")" id="" href="@LinkRedirectUrlUtility.BlogLinkUrl(item.Url)">@item.Name</a>
                            }
                        </div>
                    </nav>
                    <div class="input-group search-blog">
                        <input type="text" class="form-control ip-css h-100 tim-kiem-nhanh" placeholder="Tìm kiếm" aria-label="Tìm kiếm" aria-describedby="button-addon3">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary tim-kiem-bai-viet" type="button" id="button-addon3">
                                <i class="fal fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hienthi-prod">
            <div class="container">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="paging-container" style="display:none" data-total="@total" data-size="@size" data-currentpage="@index"></div>
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4">
                                    <div class="ablog">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                                        <div class="nd-mota-blog">
                                            <div class="icon-mota-blog">
                                                <div>
                                                    <i class="far fa-user"></i> @item.Author
                                                </div>
                                                <div>
                                                    @item.CreatedDate.ToString("dd/MM/yyyy")
                                                </div>
                                                <div>
                                                    <i class="far fa-ellipsis-v"></i>
                                                </div>
                                            </div>
                                            <a href="#">
                                                <div class="tit-blog">@item.Title</div>
                                            </a>
                                            <div class="line-ablog"></div>
                                            <div class="d-flex" style="color: #888888;">
                                                <div>
                                                    <i class="fal fa-eye"></i> @item.ViewCount
                                                </div>
                                                <div class="ml-2">
                                                    <i class="fal fa-comment-alt"></i> @item.CommentCount
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                        <div class="pagin">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>

@section scripts{ 
    <script src="~/js/controller/filterController.js"></script>
}