﻿.jan-modal .star-rating, .star-rating i {
    color: #F2F2F2;
    cursor: pointer;
}

    .jan-modal .star-rating i.checked, .star-rating i.checked {
        color: #FFAB1B;
        cursor: pointer;
    }


.star-rating-dynamic i.checked {
    color: #ffab1b;
}
.noidung-blog p {
    padding:unset;
}
.nb-ft-hotline {
    font-size: 23px;
}
.input-choose-file {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
.name-product{
    font-size: 17px;
}
.txt-doitac2{
    text-align: justify;
}
.nd-txt img {
    max-width: 100%;
}

.position-relative {
    position: relative !important;
}

.txt-about-2 p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #888888;
}
.txt-dh-tit{
    font-size: 28px;
}
/*media (max-width: 768px) and (min-width: 320px) .social-button {
    top: 35%;*/
    /* left: 0px; */
    /*display: inline-grid;
    position: fixed;
    min-width: 45px;
    text-align: center;
    z-index: 99999;
}*/
.list-comment .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid #DBDBDB;
    background: #ee7d22;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 37px;
}

.list-comment .name {
    font-weight: 600;
    margin-bottom: 5px;
}

    .list-comment .name.qtv {
    }

        .list-comment .name.qtv::after {
            content: "Quản trị viên";
            background: #FFAB1B;
            font-size: 12px;
            margin-left: 1rem;
            padding: 1px 5px;
            border-radius: 3px;
        }

.list-comment .comment-ct {
    font-size: 14px;
    margin-bottom: 5px;
}

.list-comment .media.sub {
    background: #F2F2F2;
    padding: .5rem;
    border-radius: 5px;
    overflow: hidden;
}

.list-comment .time, .item-blog-km .time, .blog-content .time {
    color: #828282;
    padding-left: 20px;
    position: relative;
}

    .list-comment .time::before, .item-blog-km .time::before, .blog-content .time::before {
        content: "";
        width: 15px;
        height: 13px;
        background: url(../images/date.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 3px;
    }

.noidung-detail img{
    max-width: 100%;
}