    @media (min-width: 979px) {
        ul.nav li.dropdown:hover>ul.dropdown-menu {
            display: block;
        }
    }
    /*Ipad */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 800px) and (orientation: portrait) {
        .posts-new {
            padding-top: 100px;
        }
        .cel-event {
            font-size: 12px;
            width: 155px;
        }
        .mb-semail {
            align-items: center;
            display: grid;
        }
        .txt-link {
            font-size: 14px;
        }
    }
    
    @media screen and (width: 1024px) {
        .DynarchCalendar-dayNames div {
            padding: 0 10px;
        }
        .bo {
            color: #ffffff !important;
            font-size: 12px;
        }
    }
    
    @media screen and (min-width: 1024px) {}
    
    @media (min-width: 1300px) and (max-width: 1400px) {
        .container {
            max-width: 1170px;
        }
    }
    /*Ipad dọc(768 x 1024)*/
    
    @media screen and (max-width: 768px) {}
    /* Tablet nhỏ(480 x 640)* 5S/ */
    
    @media (max-width: 320px) {
        .breadcrumb-ct li i {
            margin: 0 5px;
        }
        .DynarchCalendar-dayNames div {
            padding: 0 11px;
        }
    }
    /*Iphone(480 x 640)

      @media screen and (max-width: 320px) {

      }

/* Smartphones (portrait) Xoay ngang———– */
    
    @media (min-width: 769px) and (max-width: 991px) {
        #txt-2 {
            font-size: 65px;
            font-weight: 600;
        }
        #txt-3 {
            font-size: 26px;
        }
        .contact-bg {
            font-size: 13px;
            padding: 0px 155px;
        }
        .cel-event {
            font-size: 12px;
            width: 158px;
        }
    }
    
    @media only screen and (max-width: 736px) {}
    
    @media only screen and (max-width: 415px) {}
    
    @media only screen and (width: 768px) {
        .DynarchCalendar-dayNames div {
            padding: 0 10px;
        }
        .color-note {
            font-size: 14px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .nav-top {
            display: none;
        }
    }
    
    @media only screen and (width: 414px) {
        .DynarchCalendar-dayNames div {
            padding: 0 18px !important;
        }
    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        .scrollToTop {
            margin: 0 30px 40px 0;
            height: 45px;
            width: 45px;
            padding-top: 10px;
        }
        .logoTop {
            max-width: 120px;
        }
        .hmenu {
            padding: 8px 0;
        }
        .bsnav {
            padding: 0;
        }
        .d-mb-none {
            display: none;
        }
        .d-pc-none {
            display: block;
        }
        .lang-mb {
            display: flex;
            align-items: center;
        }
        .btn-sl {
            padding: 0 0;
        }
        .cussearch {
            right: -103px;
            /* left: 0; */
            z-index: 20;
            margin-top: 12px;
        }
        .slide-bullet-pers {
            bottom: 0px;
        }
        section.main-dh1 {
            padding-top: 35px;
        }
        .nd-quality {
            background: #F7E69C;
            height: 100%;
            text-align: center;
            padding: 30px 32px 0;
        }
        .txt-dh-tit {
            padding: 0;
        }
        .tit-aphome {
            font-size: 20px;
            padding-bottom: 25px;
            margin: 0;
        }
        .pd-b65 {
            padding-bottom: 20px;
        }
        .why-chosse {
            padding-top: 20px;
        }
        .name-social {
            font-weight: bold;
            font-size: 22px;
            line-height: 40px;
            text-align: center;
            color: #1A6E3A;
            padding-left: 14px;
        }
        .asocial {
            padding: 10px 0;
        }
        .list-social li {
            padding-right: 10px;
        }
        .scrollToTop {
            background-color: #888888;
        }
        .txt-mota-about {
            background-color: #F2EAD5;
            height: 100%;
            padding: 42px 48px 0;
        }
        .all-product .txt-about-2 {
            /* padding: 0 150px 50px; */
            padding: unset;
        }
        .loction-ct .abc {
            /* padding: 0 200px; */
            padding:unset;
        }
        .abc div{
            padding:unset
        }
        .social-button {
            top: 35%;
            /*left: 0px;*/
            display: inline-grid;
            position: fixed;
            min-width: 45px;
            text-align: center;
            z-index: 99999;
        }
        .tit-about {
            font-size: 29px;
            line-height: 1;
        }
        .xg-diagram {
            padding: 35px 0 20px;
        }
        .mota-doitac {
            background-color: #F2EAD5;
            padding: 20px;
            height: 100%;
        }
        .slide-next1,
        .slide-next2 {
            position: absolute;
            right: 50px;
            cursor: pointer;
            margin-top: -100px;
        }
        .slide-pre1,
        .slide-pre2 {
            position: absolute;
            left: 50px;
            cursor: pointer;
            margin-top: -100px;
        }
        div#nav-tabContent {
            margin-top: 0;
        }
        .main-absol {
            position: relative;
            top: 0px;
            left: 0;
            right: 0;
        }
        .muc-tikiem {
            display: grid;
            justify-content: unset;
        }
        .tit-home-blog {
            color: #1a6e3a;
        }
        .muc-tikiem a {
            color: #888888;
            padding: 5px;
        }
        .search-blog {
            max-width: 100%;
            margin: 30px 0;
        }
        .breadcrumb {
            padding-top: 30px !important;
            font-size: 15px;
        }
        .tit-blog-new {
            font-weight: bold;
            font-size: 23px;
            line-height: 27px;
            color: #666560;
            max-height: 82px;
            margin: 19px 0;
        }
        .noidung-blog {
            padding: 0;
        }
        .main-detail {
            padding: 20px 0;
            background: #1a6e3a0d;
        }
        .tit-blog-detail {
            font-weight: bold;
            font-size: 28px;
            line-height: 30px;
            color: #1A6E3A;
        }
        .tit-lq-blogdt {
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            color: #1A6E3A;
            padding: 20px 0 20px;
        }
    }