body {
    font-family: 'SegoeUI', sans-serif;
    font-size: 16px;
    /* background: #F6F6F7; */
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /* Without this, clicking will make it sticky */
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #1a6e3a;
}

::-webkit-scrollbar-thumb:hover {
    background: #1a6e3a;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/SVN-Segoe\ UI\ Condensed.ttf');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: boldSegoeUI;
    src: url('../fonts/SVN-Segoe\ UI\ Condensed\ bold.ttf');
}

@font-face {
    font-family: lightSegoeUI;
    src: url('../fonts/Segoe UI Italic.ttf');
}

@font-face {
    font-family: ExtraBold_OpenSans;
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
}

.scrollToTop {
    z-index: 999;
    margin: 0 25px 50px 0;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline;
    background-color: #1a6e3a;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    padding-top: 7px;
}

.scrollToTop:hover {
    text-decoration: none;
}

.logoTop {
    max-width: 171px;
}

.social-button {
    top: 35%;
    right: 10px;
    display: inline-grid;
    position: fixed;
    min-width: 45px;
    text-align: center;
    z-index: 99999;
}

.social-button-content {
    display: inline-grid;
}

.social-button a {
    padding: 7px 0;
    cursor: pointer;
    position: relative;
}

.call-icon:hover>span,
.mes:hover>span,
.sms:hover>span,
.zalo:hover>span {
    display: block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.social-button .mes i {
    background: #0787FD;
}

.social-button .call-icon i {
    background: #3AB54A;
}

.social-button .zalo i {
    background: #0088d6;
}

.social-button i {
    border-radius: 5px;
}

.social-button i {
    width: 40px;
    height: 40px;
    background: #43a1f3;
    color: #fff;
    border-radius: 10%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}

.fa-facebook-f:before {
    content: "\f39e";
}

.social-button a span {
    background: #0363cd;
    top: 9px;
    left: 65px;
}

.social-button a span {
    border-radius: 2px;
    text-align: center;
    background: #10cf84;
    padding: 9px;
    display: none;
    width: 170px;
    margin-left: -9px;
    position: absolute;
    color: #ffffff;
    z-index: 999;
    top: 6px;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}

.social-button span {
    display: none;
}

.social-button a span:before {
    left: -10px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0787fd transparent transparent;
    position: absolute;
    /* left: -10px; */
    top: 10px;
}


/* ======Slide-Bullet-dot=======*/

.slide-bullet-pers {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.slide-bullet-cate {
    display: none;
}

.slide-dot {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.item-dot {
    opacity: 1;
    display: flex;
    align-items: center;
    position: relative;
}

li.pro {
    margin-right: 20px;
}


/* .acv {
    opacity: 1;
}

.aatt {
    display: flex;
}
 
.d {
    display: none;
}
.f {
    display: block;
} */

.item-dot .cycle-per {
    display: none;
}

.item-dot.active .cycle-per {
    display: block !important;
}

.item-dot.active .dot-per {
    display: none;
}

.slide-pre {
    position: absolute;
    margin-top: -258px;
    left: 50px;
    cursor: pointer;
}

.slide-next {
    position: absolute;
    margin-top: -258px;
    right: 50px;
    cursor: pointer;
}


/*=====END-Slide-Bullet-dot=======*/


/* ---------search--------- */

.btn-group.btn-secondary {
    color: #fff;
    background-color: unset !important;
}

.btn-secondary.cus-search {
    background-color: unset;
    border-color: transparent;
    padding: 0px;
}

.btn-secondary.cus-search-mobie {
    background-color: unset;
    border-color: #ffffff00;
}

.cussearch {
    left: auto;
    z-index: 20;
    display: none;
    width: 360px;
    height: 60px;
    padding: 12px;
    font-size: 16px;
    color: #1a6e3a;
    background-color: #ffffff;
    border: 1px solid #1a6e3a;
    border-radius: 10px;
    margin-top: 22px;
}

.cus-name {
    position: relative;
}

.cus-ic-search {
    position: absolute;
    right: 15px;
    opacity: 0.5;
    /* font-size: 28px;*/
    color: #ffffff;
}

.d-mb-block {
    display: none !important;
}

.d-mb-none {
    /* display: block !important; */
}

.cu-si-lang {
    left: auto !important;
    z-index: 20;
    display: none;
    width: 67px;
    height: 70px;
    margin-top: 12px;
    min-width: 0;
}

.culang {
    padding: 1px 5px !important;
}

.ip-css-search {
    padding-left: 21px;
    padding-right: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00000080;
    color: #000;
}

.customer-search {
    width: 335px;
}

.cus-search i {
    color: #1a6e3a;
}

.show>.btn-secondary {
    outline: none;
}

.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: unset;
    outline: none;
}


/* ======================= */

.bg-slide-top {
    position: relative;
}

.menu-pc .ml-c1 {
    text-transform: uppercase;
    color: #1A6E3A !important;
    font-size: 20px;
}

.btn-sl {
    padding: 22px 0;
}

.nd-quality {
    background: #F7E69C;
    height: 100%;
    text-align: center;
    padding: 40px 80px 0;
}

.txt-dh-tit {
    font-family: boldSegoeUI;
    font-size: 40px;
    line-height: 53px;
    color: #1A6E3A;
    padding: 0 40px;
}

.txt-dh1 {
    font-size: 20px;
    line-height: 27px;
    color: #1A6E3A;
}

.txt-dh2 {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

a .btn-now {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 31px;
    background: #1A6E3A;
    border-radius: 35px;
    color: #fff;
    font-family: boldSegoeUI;
    margin: 25px auto;
}

.see-product {
    margin-top: 75px !important;
}

.nd-factory {
    position: relative;
}

section.main-dh1 {
    padding-top: 65px;
}

.khoi-dh {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 219px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 20px 0;
}

.line {
    width: 50px;
    height: 1px;
    background: #1A6E3A;
    margin: 0 auto;
}


/* ----------why-choosse----- */

.why-chosse {
    padding-top: 65px;
}

.tit-aphome {
    font-family: boldSegoeUI;
    text-align: center;
    font-size: 40px;
    color: #1A6E3A;
    padding-bottom: 70px;
    margin: 0;
}

.amon {
    text-align: center;
}

.txt-wc-1 {
    font-family: boldSegoeUI;
    font-size: 18px;
    line-height: 24px;
    color: rgba(5, 47, 21, 0.6);
    padding-top: 15px;
}

.txt-wc-2 {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}

a .btn-wc {
    background: #888888;
}

a .btn-wc:hover {
    background: #1A6E3A;
    text-decoration: none;
}

.txt-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
}

.name-social {
    font-family: boldSegoeUI;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #1A6E3A;
    padding-left: 20px;
}

.asocial img {
    max-height: 321px;
}

.pd-b65 {
    padding-bottom: 65px;
}


/* -------Our-blog---- */

.our-blog {
    background: rgba(189, 149, 46, 0.2);
    padding: 25px 0 50px;
}

.tit-blog-home {
    padding: 8px 20px;
    background-color: #ffffff;
}

.txt-blog-1 {
    font-family: boldSegoeUI;
    font-size: 18px;
    line-height: 24px;
    color: #666560;
    padding-bottom: 5px;
}

.view,
.cmt {
    font-size: 14px;
    line-height: 19px;
    color: #666560;
}

footer {
    background-color: #1A6E3A;
    padding: 45px 0 55px;
}

.list-footer {
    list-style: none;
    font-size: 20px;
    padding: 0;
}

.list-footer a {
    color: #E1E1E1;
}

.txt-ft-1 {
    font-family: boldSegoeUI;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
}

.icon-arr img {
    max-width: 69px;
    float: right;
}

.ip-css {
    background: #E8E8E8;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 17px;
    height: 45px;
    color: #5C645E;
}

.btn-outline-secondary {
    background: #C4C4C4;
    border: 0;
    width: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nb-ft-hotline {
    font-family: boldSegoeUI;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}

.list-social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.list-social li {
    padding-right: 15px;
}

.list-social li:last-child {
    padding-right: 0;
}

.d-pc-none {
    display: none;
}


/* ----------------------------- */

.txt-mota-about {
    background-color: #F2EAD5;
    height: 100%;
    padding: 100px 75px 0;
}

.tit-about {
    font-family: boldSegoeUI;
    font-size: 40px;
    line-height: 53px;
    color: #1A6E3A;
    padding-bottom: 15px;
}

.txt-about-2 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #888888;
}

.gtri-cloi {
    padding: 60px 0;
}

.agtri {
    text-align: center;
}

.txt-gtri-1 {
    font-weight: bold;
    font-size: 24px;
    color: #1A6E3A;
    padding-top: 15px;
}

.txt-gtri-2 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #444444;
    padding: 35px 20px 0;
}

.sumenh {
    background: #1A6E3A;
    text-align: center;
    height: 100%;
    padding: 15px;
}

.sumenh>.txt-gtri-1,
.sumenh>.txt-gtri-2 {
    color: #ffffff;
}

.tamnhin {
    background: #F2EAD5;
    text-align: center;
    height: 100%;
    padding: 15px;
}

.tamnhin .txt-gtri-1,
.txt-gtri-2 {
    color: #888888;
}

.xg-diagram {
    padding: 80px 0 20px;
}

.xg2-diagram {
    padding: 20px 0 20px;
}

ul.slide-arr-ctm {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.txt-slide-bk {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #888888;
    padding-top: 15px;
}

.item-logo {
    padding: 0 20px;
}

.list-icon-customer {
    padding: 0 35px;
    position: relative;
}

.slide-pre1,
.slide-pre2 {
    position: absolute;
    left: 50px;
    cursor: pointer;
    margin-top: -160px;
}

.slide-pre1,
.slide-next1,
.slide-pre2,
.slide-next2 {
    font-size: 40px;
    color: #888888;
}

.slide-next1,
.slide-next2 {
    position: absolute;
    right: 50px;
    cursor: pointer;
    margin-top: -160px;
}

.slide-bangkhen {
    padding: 0 30px;
}

.list-logo-doitac {
    list-style: none;
    background: url('../img/about/photo_2020-11-30_17-40-37.jpg') center no-repeat;
    background-size: cover;
    margin: 0;
    padding: 40px 60px;
    height: 100%;
}

.list-logo-doitac li img {
    padding: 20px 5px;
}

.mota-doitac {
    background-color: #F2EAD5;
    padding: 70px;
    height: 100%;
}

.txt-doitac1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #1A6E3A;
}


/* -----Product------ */

.all-product .tit-aphome {
    padding: 40px 0;
}

.all-product .txt-about-2 {
    padding: 0 150px 50px;
}

.one-product {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 35px 20px;
    text-align: center;
    min-height: 220px;
}

.list-products {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.name-product {
    font-family: boldSegoeUI;
    font-size: 23px;
    line-height: 31px;
    color: #1A6E3A;
}

.img-product {
    position: absolute;
    top: 45%;
    max-width: 315px;
    height: 200px;
}

.number-page {
    list-style: none;
    padding: 37px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding-left: 0;
    margin-bottom: 0;
}

.number-page a {
    color: #000000;
}

.icon-pre {
    border: 1px solid #efe0e0;
    color: #d3d3d3;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 10px;
    background: #ffffff;
}

.nb-txt {
    width: 34px;
    height: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    border-radius: 50px;
}

.nb-txt.nb-hover:hover {
    background: #1a6e3a;
    text-align: center;
    color: #ffffff;
}


/* --------Comment-------- */

.btn-save,
.btn-save:hover {
    background: #1a6e3a;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 2px 10px #2257ee70;
    padding: .375rem 1rem;
}

.star-average {
    text-align: center;
    color: #FFAB1B;
}

.rating-left {
    padding-left: 1rem;
    padding-right: 1rem;
}

.star-line {
    display: flex;
    padding: 3px 0;
    font-size: 14px;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.star-line .star-bar {
    border-radius: 5px;
    margin: 0 15px;
    width: 270px;
    height: 8px;
    background: #eee;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.star-barsub {
    position: absolute;
    background: #FFAB1B;
    height: 8px;
    border-radius: 5px;
    width: 90%;
}

.star-type.right {
    text-align: right;
    width: 40px;
}


/* --------------- */

.breadcrumb {
    padding-top: 70px;
    font-size: 20px;
    color: #1A6E3A;
    background: transparent;
    padding-left: 0;
}

.slide-img-prod {
    padding: 0 40px;
}

.txt-ifprod .star {
    padding: 15px 0;
}

.txt-if-1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    color: #1A6E3A;
}

a .cust-buynow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1A6E3A;
    border-radius: 35px;
    color: #fff;
    margin: 25px auto;
    font-size: 25px;
    text-transform: uppercase;
    width: 280px;
}

.main-absol {
    position: absolute;
    top: 0px;
    left: 5%;
    right: 5%;
}

.cust-nav-blog {
    font-size: 20px;
    color: #fff;
    border-bottom: none;
}

.tit-home-blog {
    text-align: left;
    color: #ffffff;
    padding-bottom: 35px;
}

.nav-tabs .nav-link.active {
    color: #ffd100;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.search-blog {
    max-width: 320px;
}

.muc-tikiem {
    display: flex;
    justify-content: space-between;
}

.nd-mota-blog {
    padding: 12px 20px;
    background-color: #ffffff;
}

.hienthi-prod {
    background: rgba(26, 110, 58, 0.05);
}

.ablog {
    margin-bottom: 50px;
}

.icon-mota-blog {
    display: flex;
    justify-content: space-between;
    color: #888888;
}

.tit-blog {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #666560;
    max-height: 55px;
    margin: 34px 0;
}

.line-ablog {
    height: 1px;
    background-color: #C4C4C4;
    width: 100%;
}

div#nav-tabContent {
    margin-top: -278px;
}

.tit-blog-new {
    font-weight: bold;
    font-size: 30px;
    line-height: 27px;
    color: #666560;
    max-height: 55px;
    margin: 34px 0;
}

.nd-mota-blog p {
    font-size: 18px;
    line-height: 24px;
    color: #888888;
}

.pd-b-new {
    padding-bottom: 40px;
}

.nd-mota-blog.nd-mota-blog-new {
    padding: 50px;
    height: 100%;
}

.ablog-new {
    padding-bottom: 40px;
}

.ablog-new:last-child {
    padding-bottom: 0px;
}

.main-detail {
    padding: 80px 0;
    background: #1a6e3a0d;
}

.tit-blog-detail {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #1A6E3A;
}

.nulon {
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    color: rgba(26, 110, 58, 0.75);
    padding-left: 25px;
    border-left: 4px solid #1A6E3A;
}

.noidung-blog {
    padding: 0 80px;
}

.noidung-blog p {
    font-size: 18px;
    line-height: 24px;
    color: #444444;
    padding: 20px 0;
}

.share-blog-dt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-top: 2px solid #1A6E3A;
    border-bottom: 2px solid #1A6E3A;
}

.tit-lq-blogdt {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #1A6E3A;
    padding: 80px 0 60px;
}

.muc-ungtuyen {
    padding: 15px;
    border: 1px solid #C4C4C4;
    border-radius: 14px;
}

.txt-ut-1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: rgba(136, 136, 136, 0.7);
    padding-bottom: 36px;
}

.txt-ut-2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #1A6E3A;
    padding: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 14px;
}

.icss-ip {
    height: 40px;
    background-color: transparent;
    border-radius: 14px;
}

.ct-xg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    color: #444444;
}

.contact-main {
    background: #F2EAD5;
    height: 100%;
    padding: 45px;
}

.contact-main .tit-aphome {
    padding-bottom: 30px;
}

.ip-contact {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #1A6E3A;
    border-radius: 0;
    padding: 36px 0 36px;
}

.txt-contact-2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #1A6E3A;
    padding-bottom: 35px;
}

.loction-ct {
    text-align: center;
}

.loction-ct .abc {
    padding: 0 200px;
}

.loction-ct img {
    padding: 80px 0 60px;
}

.abc div {
    padding: 0 100px;
    border-right: 2px solid #1A6E3A;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A6E3A;
    font-weight: bold;
}

.abc div:last-child {
    border-right: 0;
}