﻿@using MI.Entity.Enums
@using Enterbuy.Data.SqlServer.ModelDto
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject IZoneDao zoneRepository
@using Utils
@{
    //var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    //var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;


    var domain = Context.Request.Host.ToString();
}

@{
    var zone_id = ViewBag.ZoneId;
    var titleDetail = ViewBag.TitleDetail;
    List<ZoneByTreeViewMinify> breadcrumbs = await zoneRepository.GetBreadcrumbByZoneId(zone_id, Utility.DefaultLang);
}
@await Component.InvokeAsync("SEO_Breadcrumb", new { bread = breadcrumbs, page = "", type_page = "", titleDetail = titleDetail })
<div class="container">
    <nav aria-label="breadcrumb ">

        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            @foreach (var item in breadcrumbs)
            {
                var link_tar = "";

                if (item.Type != (int)(TypeZone.Product) && item.Type != (int)(TypeZone.Region))
                {
                    if (!String.IsNullOrEmpty(item.BreadcrumbFirst))
                    {
                        <li class="breadcrumb-item"><a href="@BaseBA.UrlCategoryNews(item.BreadcrumUrl)"> @item.BreadcrumbFirst</a></li>
                    }
                    else
                    {
                        link_tar = BaseBA.UrlCategoryNews(item.Url);
                        <li class="breadcrumb-item"><a href="@link_tar">@item.Name</a></li>
                    }

                }
                else
                {
                    if (!String.IsNullOrEmpty(item.BreadcrumbFirst))
                    {
                        <li class="breadcrumb-item"><a href="@BaseBA.UrlCategory(item.BreadcrumUrl)"> @item.BreadcrumbFirst</a></li>
                    }
                    else
                    {
                        link_tar = BaseBA.UrlCategory(item.Url);
                        <li class="breadcrumb-item"><a href="@link_tar">@item.Name</a></li>
                    }

                }

            }
            @if (!String.IsNullOrEmpty(titleDetail))
            {
                <li class="breadcrumb-item"><a href="#">@titleDetail</a></li>
            }
        </ol>
    </nav>
</div>