﻿@using DiDongXanh_Web.Services.Product.ViewModel
@using DiDongXanh_Web.Services.Product.Repository
@using DiDongXanh_Web.Services.Article.ViewModel
@using DiDongXanh_Web.Services.Article.Repository
@using DiDongXanh_Web.Services.Zone.Repository
@using DiDongXanh_Web.Services.BannerAds.Repository
@using DiDongXanh_Web.Services.Extra.ViewModel
@using DiDongXanh_Web.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using MI.Entity.Enums
@using Newtonsoft.Json
@using MI.Entity.CustomClass
@using Microsoft.AspNetCore.Http.Extensions
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@using DiDongXanh_Web.Utility
@inject ICookieUtility cookieUtility
@inject IArticleRepository articleRepository
@inject IZoneRepository zoneRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IProductRepository productRepository
@inject IConfigSEOUtility configSEOUtility
@inject IViewLocalizer Localizer

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    //HttpContext.Current.Request.Url.AbsoluteUri;
    var domain_full = Context.Request.GetDisplayUrl();
}
@{
    ViewData["Title"] = "ProductDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var detail = ViewBag.Infomation as ProductDetail;

    var setification_detail = ViewBag.Spectification as List<ProductSpectificationDetail>;
    var product_same_zone = ViewBag.SameZone as List<ProductMinify>;
    var same_total = ViewBag.SameTotal;
    var zone_id = ViewBag.Zone;
    var zone_url = ViewBag.ZoneUrl;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;

    var product_price_details = ViewBag.ListLocation as List<ProductPriceInLocationDetail>;
    var default_price_detail = ViewBag.DefaultLocationPrice as ProductPriceInLocationDetail;
    var combo = ViewBag.Combo as List<ProductMinify>
        ;
    var promotions = ViewBag.Promotion as List<PromotionInProduct>
        ;
    var comments = ViewBag.Comments as List<CommentDetail>
        ;
    var meta_file = new FileProduct();
    if (detail.MetaFile != null)
    {
        meta_file = Newtonsoft.Json.JsonConvert.DeserializeObject<FileProduct>(detail.MetaFile);
    }
    var lstLink = new List<DetailBanerAds>();
    var lstLink_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Hau_Mai_1");
    if (lstLink != null)
    {
        lstLink = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstLink_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
}
@*
    public string ConfigShemaOrg(string domain_full,string title, string avatar, DateTime createdDate, DateTime modifiedDate, string metaTitle, string web_name,string logo, string description)
    public string ConfigSocialMeta(string fbAppId = "default fbAddId", string url = "default url", string title = "default title", string description = "default description", string image = "default image")
    public string ConfigMeta(string title, string description, string keyword)

*@
@inject IViewLocalizer _localizer


@if (detail != null)
{
    <div class="container my-3">
        @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
    </div>
    <section class="product-detail product-detail-head" data-id="@detail.Id" data-properties="@detail.PropertyId">
        <div class="container">
            <div class="product-detail-head__wrap">


                <div class="product-detail-head__top">
                    <h1 class="product-detail-head__title">@detail.Title</h1>
                    <div class="product-detail-head__rating">
                        <div class="product-detail-head__rating-stars star-rating" data-id="@detail.Id" data-rate-type="1">
                            @await Component.InvokeAsync("RatingStar", new { object_id = @detail.Id, object_type = (int)TypeRating.Product, hTag = "" })

                        </div>
                        <div class="product-detail-head__rating-number text-primary">
                            <a href="javascript:void(0)">
                                @detail.TotalRate @_localizer["Rate"]
                            </a>
                        </div>
                    </div>
                    <div class="product-detail-head__social facebook-btn">
                        <div class="fb-like" data-href="@domain_full" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-4 col-12 text-right facebook-btn">
                        <button class="btn mr-2"><i class="fas fa-thumbs-up mr-1"></i>@_localizer["Like"] <span>1.4K</span></button>
                        <button href="" class="btn">@_localizer["Share"]</button>
                    </div>*@

                <div class="product-detail-head__main">

                    <div class="product-detail-head__gallery">
                        <div class="slide-product-detail">
                            <div class="swiper js-gallery-product-2 gallery-product__big">
                                <div class="swiper-wrapper gallery-product__wrap">
                                    <div class="swiper-slide gallery-product__image">
                                        <img asp-append-version="true" id="myimage-1" src="@UIHelper.StoreFilePath(detail.Avatar, false)" width="100%" height="auto" alt="@detail.Title">
                                    </div>
                                    @{//Cat chuoi anh
                                        var avatar_array = new List<string>();
                                        if (!string.IsNullOrEmpty(detail.AvatarArray))
                                        {
                                            avatar_array = detail.AvatarArray.Split(',').ToList();
                                        }

                                        var count_id = 2;
                                        foreach (var item in avatar_array)
                                        {
                                            var getId = "myimage" + count_id;
                                            count_id++;

                                            <div class="swiper-slide gallery-product__image">
                                                <img asp-append-version="true" id="@getId" src="@UIHelper.StoreFilePath(item, false)" width="100%" height="auto" alt="@detail.Title">
                                            </div>
                                        }
                                    }

                                    <!--<div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar, false)" class="img-fluid w-100" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">-->
                                    @*<img asp-append-version="true" src="~/images/change/product-detail-01.jpg" class="img-fluid w-100 "
                                        alt="" />*@
                                    @*<iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideo(meta_file.File360)" allowfullscreen></iframe>*@
                                    <!--<div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.File360)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">-->
                                    @*<img asp-append-version="true" src="~/images/change/product-detail-01.jpg" class=" img-fluid w-100 "
                                        alt="" />*@
                                    <!--<div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.FileVideo)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>



                            <div class="gallery-product__button-modal" data-toggle="modal" data-target="#galleryModal">Click xem kích thước lớn</div>
                            <div thumbsSlider="" class="swiper gallery-thumbs js-gallery-product-1 gallery-product__small">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide gallery-product__thumb">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar)" class="img-fluid w-100 " alt="@detail.Title" />

                                    </div>
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide gallery-product__thumb">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(item)" class="img-fluid w-100" alt="@detail.Title" />

                                        </div>
                                    }
                                    <div class="swiper-slide gallery-product__thumb">
                                        <img asp-append-version="true" class="gallery-product__thumb-icon" src="~/design/images/icons/360-do.svg" alt="Icon 360" />
                                        <span>Hình 360 độ</span>
                                    </div>
                                    <div class="swiper-slide gallery-product__thumb">
                                        <img asp-append-version="true" class="gallery-product__thumb-icon" src="~/design/images/icons/youtube-outline.svg" alt="Icon Video" />
                                        <span>Video</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="dacdiem-sp">
                                <label class="txt-dd-1">Đặc điểm nổi bật</label>
                                <div class="list-dacdiem">
                                    @Html.Raw(detail.Description)
                                </div>
                            </div>*@
                    </div>
                    <div class="product-detail-head__buy">
                        @if (detail.FlashSaleId > 0)
                        {
                            <!--thêm-->
                            <div class="flashsale-timer d-flex flex-wrap mb-2">
                                <img src="~/images/change/Flashsale.svg" class="img-fluid mr-3 " />
                                <div class="timer d-flex align-self-center ml-auto  " data-end-time="@detail.FlashSaleEndTime.ToString("yyyy-MM-dd")">
                                    <label class="align-self-center mb-0 mr-2">
                                        Kết thúc
                                    </label>
                                    <div id="hour">
                                        12
                                    </div>
                                    <div id="minute">
                                        12
                                    </div>
                                    <div id="second">
                                        12
                                    </div>
                                </div>
                            </div>
                            <!--thêm end-->
                        }

                        <div class="product-detail-head__buy-top">
                            <div class="product-detail-head__locate">
                                <label for="productLocate">Giá tại:</label>
                                <div class="dropdown d-inline-block select-local">
                                    <a class="btn btn-link dropdown-toggle" href="javascript:;" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        @default_price_detail.LocationName
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        @foreach (var item in product_price_details)
                                        {
                                            decimal left_pricee = 0;
                                            decimal right_price = 0;
                                            if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                            {
                                                left_pricee = item.SalePrice;
                                                right_price = item.Price;
                                            }
                                            if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                            {
                                                left_pricee = item.Price;
                                                right_price = 0;
                                            }
                                            if (detail.FlashSaleId > 0)
                                            {
                                                left_pricee = detail.ProductPriceInFlashSale;
                                                right_price = item.Price;
                                            }
                                            <a class="dropdown-item location-item" href="javascript:;" data-price="@right_price" data-sale-price="@left_pricee" data-location-id="@item.LocationId" data-product-id="@detail.Id" data-unit="@detail.Unit">@item.LocationName</a>
                                        }

                                    </div>
                                </div>




                            </div>
                            <div class="product-detail-head__price-new price-product-detail new" id="price-sale">
                                @{

                                    decimal left = 0;
                                    decimal right = 0;
                                    if (detail.FlashSaleId > 0)
                                    {
                                        left = detail.ProductPriceInFlashSale;
                                        right = default_price_detail.Price;
                                    }
                                    if (detail.FlashSaleId <= 0 && (default_price_detail.SalePrice > 0 && default_price_detail.SalePrice < default_price_detail.Price))
                                    {
                                        left = default_price_detail.SalePrice;
                                        right = default_price_detail.Price;
                                    }
                                    if (detail.FlashSaleId <= 0 && (default_price_detail.SalePrice == 0 || default_price_detail.SalePrice >= default_price_detail.Price))
                                    {
                                        left = default_price_detail.Price;
                                        right = 0;
                                    }
                                }

                                @UIHelper.FormatNumber(left)
                            </div>
                            @if (right > 0)
                            {
                                <div class="product-detail-head__price-old old" id="price-normal">
                                    Giá niêm yết: <span>@UIHelper.FormatNumber(right) </span>
                                </div>
                            }

                            <div class="product-detail-head__pay">
                                Trả góp 0%
                            </div>
                        </div>
                        <span class="tag"></span>
                        <div class="product-detail-head__amount">
                            @if (detail.Quantity != null && detail.Quantity > 0)
                            {
                                <div class="product-detail-head__status">
                                    Còn hàng
                                </div>
                                <div class="product-detail-head__amount-box group-amount">
                                    <button class="btn-sub" type="button" id="minus">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="number" id="quantity" value="1" minlength="1">
                                    <button class="btn-add" type="button" id="plus">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            }@if (detail.Quantity == null || detail.Quantity <= 0)
                            {
                                <div class="font-weight-600 text-uppercase align-self-center mr-3">
                                    Hết hàng
                                </div>
                            }
                        </div>


                        <div class="product-detail__option" id="combo_gia">
                            <div class="product-detail__option-title">
                                Lựa chọn phiên bản
                            </div>
                            <div class="product-detail__option-box">
                                @{
                                    var lsProductChild_1 = productRepository.GetProductChildInProductParent(detail.Id, location_id);

                                    foreach (var item in lsProductChild_1)
                                    {
                                        <div class="product-detail__option-item @item.ProductId">
                                            <a href="javascript:void(0)">
                                                <div class="product-detail__option-label">
                                                    @item.Title

                                                    <img src="~/design/images/icons/check.svg" alt="Icon Check">

                                                </div>
                                                @*<div class="product-detail__option-price">@UIHelper.FormatNumber(item.Price) đ</div>*@
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        @if (lsProductChild_1.Count > 0)
                        {
                            var firstProduct = lsProductChild_1.First();
                            if (firstProduct != null)
                            {
                                <div class="product-detail__option" id="combo_mau">
                                    <div class="product-detail__option-title">
                                        Chọn màu để xem giá và chi nhánh có hàng
                                    </div>
                                    <div class="product-detail__option-box">
                                        @{
                                            var lsProductChild_2 = productRepository.GetProductChildInProductParent(firstProduct.ProductId, location_id);
                                            foreach (var item in lsProductChild_2)
                                            {
                                                <div class="product-detail__option-item  @item.ProductId">
                                                    <a href="javascript:void(0)">
                                                        <div class="product-detail__option-label">
                                                            @item.Title
                                                            <img src="~/design/images/icons/check.svg" alt="Icon Check">
                                                        </div>
                                                        <div class="product-detail__option-price">@UIHelper.FormatNumber(item.Price) đ</div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>
                            }
                        }




                        @if (promotions.Count() > 0)
                        {
                            <div class="product-detail__promotion">
                                <div class="product-detail__promotion-label">
                                    KHUYẾN MÃI
                                </div>

                                <div class="product-detail__promotion-list">
                                    <ul>
                                        @foreach (var item in promotions)
                                        {
                                            <li>
                                                🎁 @Html.Raw(WebHelper.RenderLazyLoadBody(item.Name))
                                            </li>
                                        }
                                    </ul>
                                </div>

                            </div>
                        }


                        <div class="product-detail__action">
                            <a href="#" class="btn-buy-now" id="buy-now" data-product-id="@detail.Id" data-quantit="@detail.Quantity" style="width:85% !important">
                                <span>MUA HÀNG NGAY</span>
                                <small>(Giao hàng tận nơi - Giá tốt - An toàn)</small>
                            </a>
                            <a class="btn-order-2" href="javascript:void(0)" id="add-to-cart" @(detail.Quantity <= 0 ? "disabled" : "") data-product-id="@detail.Id" style="border:none;">
                                <img src="/design/images/icons/cart.svg" alt="Icon Cart" class="icon-nav" style="width: 45px;">
                            </a>
                            <a href="#" class="btn-buy-installment">
                                <span>Trả góp</span>
                                <small>(Qua công ty tài chính)</small>
                            </a>
                            <a href="#" class="btn-buy-installment">
                                <span>Trả góp 0%</span>
                                <small>(Qua thẻ tín dụng)</small>
                            </a>

                        </div>
                        <div class="product-detail__action" style="display:none;">
                            <button href="" class="btn btn-order-2 w-100 mb-3" style="text-transform: initial;font-size: 16px;" id="add-to-cart" @(detail.Quantity <= 0 ? "disabled" : "") data-product-id="@detail.Id">Thêm vào giỏ</button>
                            @{
                                var hl = bannerAdsRepository.GetConfigByName(culture_code, "Hotline").Replace(".", "");
                            }
                            @*<a href="#" class="btn-buy-installment btn btn-primary" id="lh-hot-line" href="tel: @hl">
                                    <span>Liên hệ Hotline</span>
                                    <h5 class="m-0" style="font-weight: 600;">@hl</h5>
                                </a>*@
                        </div>

                        @*combo-sanpham*@

                        @*@{
                                using (MI.Dal.IDbContext.IDbContext _context = new MI.Dal.IDbContext.IDbContext())
                                {
                                    var _cb = _context.Product.Where(r => r.ProductComboParentId == detail.Id).FirstOrDefault();
                                    if (_cb != null)
                                    {
                                        <div class="box-km product-suggest mb-3" id="list_combo" style="display:none;">
                                            <h6 class="font-weight-600 mb-3 text-uppercase">@_cb.Name</h6>
                                            @{var count = 1; }

                                            <div id="_binding_combo">
                                                @foreach (var item in combo)
                                                {
                                                    count++;
                                                    var link_target = string.Format("/{0}.html", item.Url);
                                                    <label class="label-checkbox d-flex" style=" height:75px !important;">

                                                        <div style="position:relative">
                                                            <div class="image-product mr-2">
                                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="" alt="@item.Title" />
                                                            </div>
                                                            @if (!string.IsNullOrEmpty(item.ConfigNote))
                                                            {
                                                                <div class="tag-1" style="position:absolute; top: 0; left:0; max-width:50px">
                                                                    @item.ConfigNote
                                                                </div>
                                                            }

                                                        </div>

                                                        <div class="align-self-center mr-2"><a href="@link_target" alt="@item.Title">@item.Title</a></div>
                                                        <div>
                                                            <div class="align-self-center font-weight-600 ml-auto nowrap combo-item-price">@UIHelper.FormatNumber(item.ConfigPrice)</div>

                                                            <div class="align-self-center font-weight-200 ml-auto nowrap price-old mr-2">
                                                                @UIHelper.FormatNumber(item.FlashSaleId > 0 ? item.ProductPriceInFlashSale : item.Price)
                                                            </div>
                                                        </div>

                                                        <input class="choose_combo" data-sale-price="@(item.FlashSaleId > 0 ? item.ProductPriceInFlashSale : item.Price)" data-product-id="@item.ProductId" type="checkbox" checked="checked" disabled>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                }
                                            </div>
                                            <div class="text-right">
                                                @{ var tong_tien_combo = combo.Sum(r => r.ConfigPrice); }

                                                @{ decimal tong_tien = 0;
                                                    foreach (var item in combo)
                                                    {
                                                        if (item.FlashSaleId > 0)
                                                        {
                                                            tong_tien += item.ProductPriceInFlashSale;
                                                        }
                                                        else
                                                        {
                                                            tong_tien += item.Price;
                                                        }
                                                    }
                                                    if (detail.FlashSaleId > 0)
                                                    {
                                                        tong_tien += detail.ProductPriceInFlashSale;
                                                    }
                                                    else
                                                    {
                                                        tong_tien += default_price_detail.SalePrice;
                                                    }
                                                }
                                                <div class="mb-3">Tổng dự toán:<span class="font-weight-600 color-EE7D22 mx-2" id="total_combo_price" data-total="@tong_tien">@UIHelper.FormatNumber(tong_tien_combo) đ</span></div>
                                                <button role="button" class="btn btn-save " id="add-cart-combo-remake" data-combo-id="@_cb.Id">Thêm combo sản phẩm vào giỏ hàng</button>
                                            </div>
                                        </div>
                                    }
                                }
                            }*@

                    </div>
                    <div class="product-detail-head__info">
                        <a href="javascript:void(0)" class="product-detail-head__store-find find-showroom">
                            <img src="~/design/images/icons/location-blue.svg" alt="Icon Location">
                            <span>Xem siêu thị có hàng trưng bày</span>
                        </a>
                        <div class="product-detail-head__store-list">
                            <h3 class="product-detail-head__store-title">
                                Hệ Thống Siêu Thị
                            </h3>
                            <ul class="get_mart">
                                <li>
                                    <a href="#">
                                        <img src="~/design/images/icons/circle-outline-gray.svg" alt="Icon Circle">
                                        <span>07 Lê Đình Lý | Q.Hải Châu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/design/images/icons/circle-outline-gray.svg" alt="Icon Circle">
                                        <span>106 Hàm Nghi | Q.Thanh Khê</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/design/images/icons/circle-outline-gray.svg" alt="Icon Circle">
                                        <span>106 Nguyễn Văn Linh | Q.Hải Châu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/design/images/icons/circle-outline-gray.svg" alt="Icon Circle">
                                        <span>38 Trần Quang Khải | Q.1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/design/images/icons/circle-outline-gray.svg" alt="Icon Circle">
                                        <span>596 Lê Hồng Phong | Q.10</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-detail-head__info-desc">
                            Bảo hành phần cứng mặc định, không bao gồm nguồn, màn hình, vân tay, rơi móp, vào nước, hóa chất <a href="#">(chi tiết)</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

    @using (MI.Dal.IDbContext.IDbContext _context = new MI.Dal.IDbContext.IDbContext())
    {
        var _cb = _context.Product.Where(r => r.ProductComboParentId == detail.Id).FirstOrDefault();
        if (_cb != null)
        {
            <div class="container mt-15 mb-15">
                <div class="products-combo" id="list_combo">
                    <h4 class="products-combo__title">
                        @_cb.Name
                    </h4>
                    @{var count_2 = 1; }
                    <div class="products-combo__wrap">
                        <div class="products-combo__list" id="_binding_combo">
                            <div class="swiper js-products-combo">
                                <div class="swiper-wrapper products-slide__wrap">
                                    @foreach (var item in combo)
                                    {
                                        count_2++;
                                        var link_target = string.Format("/{0}.html", item.Url);

                                        <!-- Item -->
                                        <div class="swiper-slide products-slide__item">
                                            <div class="product-item-grid">
                                                <div class="product-item-grid__image">
                                                    <a href="#">
                                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="" alt="@item.Title" />
                                                    </a>
                                                    @*<div class="product-item-grid__pay">Trả góp 0%</div>*@
                                                    @*<div class="product-item-grid__discount">
                                                            <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                                                            <span>Giảm -@item.DiscountPercent%</span>
                                                        </div>*@
                                                </div>
                                                <div class="product-item-grid__content">
                                                    <h4 class="product-item-grid__title">
                                                        <a href="@link_target">@item.Title</a>
                                                    </h4>
                                                    <div class="product-item-grid__price combo-item-price">
                                                        <p class="product-item-grid__price-new   combo-item-price">@UIHelper.FormatNumber(item.ConfigPrice) ₫</p>
                                                        <p class="product-item-grid__price-old price-old">@UIHelper.FormatNumber(@item.Price) ₫</p>
                                                    </div>
                                                    <div class="product-item-grid__desc">
                                                        @item.ConfigNote
                                                    </div>
                                                    <div class="product-item-grid__rating">
                                                        <div class="product-item-grid__rating-stars">
                                                            @await Component.InvokeAsync("RatingStar", new { object_id = @item.ProductId, object_type = (int)TypeRating.Product, hTag = "" })
                                                        </div>
                                                        <div class="product-item-grid__rating-number">(@item.CountRate)</div>
                                                    </div>
                                                </div>
                                                <div class="product-item-grid__check">
                                                    <label class="label-checkbox">
                                                        <input class="choose_combo" data-sale-price="@(item.FlashSaleId > 0 ? item.ProductPriceInFlashSale : item.Price)" data-product-id="@item.ProductId" type="checkbox" checked="checked" disabled>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="products-slide__item-plus">
                                                <img src="~/design/images/icons/plus-green.svg" alt="Icon Plus">
                                            </div>
                                        </div>
                                        <!-- End Item -->


                                    }
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                        <div class="products-combo__total">
                            @{ var tong_tien_combo_2 = combo.Sum(r => r.ConfigPrice); }
                            @{ var tong_tien_combo_3 = combo.Sum(r => r.Price); }

                            @{ decimal tong_tien_2 = 0;
                                foreach (var item in combo)
                                {
                                    if (item.FlashSaleId > 0)
                                    {
                                        tong_tien_2 += item.ProductPriceInFlashSale;
                                    }
                                    else
                                    {
                                        tong_tien_2 += item.SalePrice;
                                    }
                                }
                                if (detail.FlashSaleId > 0)
                                {
                                    tong_tien_2 += detail.ProductPriceInFlashSale;

                                }
                                else
                                {
                                    tong_tien_2 += default_price_detail.SalePrice;
                                }
                            }


                            <div class="products-combo__total-price-old">
                                @UIHelper.FormatNumber(tong_tien_combo_3) đ
                            </div>
                            <div class="products-combo__total-price " id="total_combo_price" data-total="@tong_tien_combo_2">
                                @UIHelper.FormatNumber(tong_tien_combo_2) đ
                            </div>
                            <div class="products-combo__btn">
                                <a href="javascript:void(0)" id="add-cart-combo-remake" data-combo-id="@_cb.Id">Thêm <span id="count_combo">@count_2</span> vào giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    <!-- Main Product Detail -->
    <div class="product-detail-main">
        <div class="container">
            <div class="product-detail-main__wrap">
                <!-- Column Left -->
                <div class="product-detail-main__left">
                    <!-- Only Show Mobi -->
                    <div class="product-detail__specs desktop-hidden">
                        <h4 class="product-detail__specs-title">Thông số kỹ thuật Apple iPhone 11 - 256GB - Chính hãng VN/A</h4>
                        <div class="product-detail__specs-image">
                            <img src="~/design/images/products/pro-1.png" alt="Image Product">
                            <a href="" class="product-detail__specs-button">
                                Cấu hình chi tiết
                            </a>
                            <div class="product-detail__specs-list">
                                <ul>
                                    <li><strong>Công nghệ màn hình:</strong> IPS LCD</li>
                                    <li><strong>Độ phân giải:</strong> 828 x 1792 Pixels, Chính 12 MP & Phụ 12 MP</li>
                                    <li><strong>Màn hình rộng:</strong> 6.1"</li>
                                    <li><strong>Bộ nhớ trong (ROM):</strong> 256 GB</li>
                                    <li><strong>RAM:</strong> 4 GB</li>
                                    <li><strong>Mạng di động:</strong> Hỗ trợ 4G</li>
                                    <li><strong>Số khe sim:</strong> 1 Nano SIM & 1 eSIM</li>
                                    <li><strong>Trọng lượng:</strong> 194 g</li>
                                    <li><strong>Dung lượng pin:</strong> 3110 mAh</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Only Show Mobi -->
                    <!-- Product Content -->
                    <div class="product-detail-main__content ">
                        <h2 class="product-detail-main__content-title">
                            ĐÁNH GIÁ CHI TIẾT
                        </h2>
                        <div class="product-detail-main__content-text content">
                            @Html.Raw(WebHelper.RenderLazyLoadBody(detail.Content))
                        </div>
                        <div class="product-detail-main__content-view-more">
                            <a class="view-more" href="javascript:;" id="viewMoreContent">
                                Xem thêm <i class="fa fa-plus"></i>
                            </a>
                            <a class="view-less" href="javascript:;" id="viewLessContent">
                                Thu gọn <i class="fa fa-minus"></i>
                            </a>
                        </div>
                        @*<div class="text-center my-4">
                                <button class="btn btn-outline-view-more" onclick="expandproductdes()">
                                    xem thêm <i class="fal fa-plus ml-2"></i>
                                </button>
                            </div>*@
                    </div>
                    <!-- End Content Product -->
                    <!-- Sản phẩm cùng phân khúc -->
                    <div class="products-segment">
                        <div class="products-segment__head">
                            <h2 class="products-segment__title">Sản phẩm cùng phân khúc</h2>
                            @if (same_total > 6)
                            {
                                var link_tar = string.Format("/{0}", zone_url);


                                <div class="products-segment__link">
                                    <a href="@link_tar">
                                        Xem thêm <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="products-segment__list">
                            <div class="swiper js-products-segment">
                                <div class="swiper-wrapper products-segment__wrap">

                                    <!-- Item -->

                                    @if (product_same_zone != null)
                                    {
                                        foreach (var item in product_same_zone)
                                        {
                                            var link_tar = string.Format("/{0}.html", item.Url);
                                            <div class="swiper-slide products-segment__item">
                                                @await Component.InvokeAsync("ItemProduct", new { pr = item, isLazy = false })
                                            </div>
                                        }
                                    }

                                    <!-- End Item -->
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Hết Sản phẩm cùng phân khúc -->
                    <!-- Rating -->
                    <div class="rating">
                        <div class="rating__head">
                            <h2 class="rating__head-title">Đánh giá sản phẩm</h2>
                            <a href="javascript:void(0)" class="rating__button" data-toggle="modal" data-target="#modal-danh-gia">Đánh giá ngay</a>
                        </div>
                        <div class="rating__main">
                            <div class="rating__average star-average">
                                <h2 class="rating__average-number">@Math.Round(detail.RateAVG, 1)</h2>
                                <div class="rating__average-stars star-rating">
                                    @await Component.InvokeAsync("RatingStar", new { object_id = @detail.Id, object_type = (int)TypeRating.Product, hTag = "" })
                                </div>
                                <a href="javascript:void(0)" class="rating__average-link">@detail.TotalRate đánh giá</a>
                            </div>
                            @{
                                var x = detail.TotalRate == 0 ? 1 : detail.TotalRate;
                                var five_star_percent = Math.Round(((double)detail.Five_Star / (double)x) * 100, 1);
                                var four_star_percent = Math.Round(((double)detail.Four_Star / (double)x) * 100, 1);
                                var three_star_percent = Math.Round(((double)detail.Three_Star / (double)x) * 100, 1);
                                var two_star_percent = Math.Round(((double)detail.Two_Star / (double)x) * 100, 1);
                                var one_star_percent = Math.Round(((double)detail.One_Star / (double)x) * 100, 1);
                            }
                            <div class="rating__line">
                                <div class="rating__line-item">
                                    <div class="rating__line-number">5</div>
                                    <div class="rating__line-bar">
                                        <div class="rating__line-barsub" style="width: @(five_star_percent)%;"></div>
                                    </div>
                                    <div class="rating__line-percent">@(five_star_percent)%</div>
                                </div>
                                <div class="rating__line-item">
                                    <div class="rating__line-number">4</div>
                                    <div class="rating__line-bar">
                                        <div class="rating__line-barsub" style="width: @(four_star_percent)%;"></div>
                                    </div>
                                    <div class="rating__line-percent">@(four_star_percent)%</div>
                                </div>
                                <div class="rating__line-item">
                                    <div class="rating__line-number">3</div>
                                    <div class="rating__line-bar">
                                        <div class="rating__line-barsub" style="width: @(three_star_percent)%;"></div>
                                    </div>
                                    <div class="rating__line-percent">@(three_star_percent)%</div>
                                </div>
                                <div class="rating__line-item">
                                    <div class="rating__line-number">2</div>
                                    <div class="rating__line-bar">
                                        <div class="rating__line-barsub" style="width: @(two_star_percent)%;"></div>
                                    </div>
                                    <div class="rating__line-percent">@(two_star_percent)%</div>
                                </div>
                                <div class="rating__line-item">
                                    <div class="rating__line-number">1</div>
                                    <div class="rating__line-bar">
                                        <div class="rating__line-barsub" style="width: @(one_star_percent)%;"></div>
                                    </div>
                                    <div class="rating__line-percent">@(one_star_percent)%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Rating -->
                    <!--Gửi Comment-->
                    <div class="comments comment_binding">
                        @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })
                    </div>
                    <!--Đánh giá end-->
                    <div class="fb-comments" data-href="@domain_full" data-numposts="5" data-width="100%"></div>
                </div>
                <!-- End Column Left -->
                <!-- Column Right -->
                <div class="product-detail-main__right">
                    <div class="product-detail__specs mobi-hidden">
                        <h2 class="product-detail__specs-title">Thông số kỹ thuật</h2>
                        <div class="product-detail__specs-image">
                            <img src="~/design/images/products/pro-1.png" alt="Image Product">
                            <a href="" class="product-detail__specs-button">
                                Cấu hình chi tiết
                            </a>
                            <div class="product-detail__specs-list">
                                <ul>
                                    <li><strong>Công nghệ màn hình:</strong> IPS LCD</li>
                                    <li><strong>Độ phân giải:</strong> 828 x 1792 Pixels, Chính 12 MP & Phụ 12 MP</li>
                                    <li><strong>Màn hình rộng:</strong> 6.1"</li>
                                    <li><strong>Bộ nhớ trong (ROM):</strong> 256 GB</li>
                                    <li><strong>RAM:</strong> 4 GB</li>
                                    <li><strong>Mạng di động:</strong> Hỗ trợ 4G</li>
                                    <li><strong>Số khe sim:</strong> 1 Nano SIM & 1 eSIM</li>
                                    <li><strong>Trọng lượng:</strong> 194 g</li>
                                    <li><strong>Dung lượng pin:</strong> 3110 mAh</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- News Right -->
                    <div class="news-right lastest-news">
                        <h2 class="news-right__title">Tin mới</h2>
                        <div class="news-right__list">

                            @{
                                var total_lastest_news = 0;
                                var lastest_news = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, culture_code, "", 1, 6, out total_lastest_news);
                                foreach (var item in lastest_news)
                                {
                                    var link_target = string.Format("/{0}.html", item.Url);

                                    <!-- Item -->
                                    <div class="news-right__item">
                                        <div class="news-item-small">
                                            <div class="news-item-small__image image">
                                                <a href="@link_target" title="@item.Title">
                                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title">
                                                </a>
                                            </div>
                                            <div class="news-item-small__content">
                                                <h4 class="news-item-small__title title">
                                                    <a href="@link_target" title="@item.Title">@item.Title</a>
                                                </h4>
                                                <div class="news-item-small__time time"> @item.CreatedDate.ToString("dd/MM/yyyy hh:mm")</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->

                                }
                            }




                        </div>
                    </div>
                    <!-- End News Right -->
                    <!-- Product Right -->
                    <div class="products-right">
                        <div class="products-right__list _binding_last_seen_product">


                            <div class="products-right__item">
                                <div class="product-item-small">
                                    <div class="product-item-small__image">
                                        <a href="chi-tiet-san-pham.html">
                                            <img src="~/design/images/products/pro-4.png"
                                                 alt="Product Item" />
                                        </a>
                                    </div>
                                    <div class="product-item-small__content">
                                        <div class="product-item-small__pay">Trả góp 0%</div>
                                        <div class="product-item-small__cate">Kệ Nhà bếp</div>
                                        <h4 class="product-item-small__title">
                                            <a href="chi-tiet-san-pham.html">
                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao
                                                Cấp
                                            </a>
                                        </h4>
                                        <div class="product-item-small__price">
                                            <p class="product-item-small__price-old">
                                                8.990.000₫
                                            </p>
                                            <p class="product-item-small__price-new">
                                                5.290.000₫
                                            </p>
                                            <div class="product-item-small__discount">
                                                <img src="~/design/images/icons/flash-yellow.svg"
                                                     alt="Icon Flash" />
                                                <span>Giảm -30%</span>
                                            </div>
                                        </div>
                                        <div class="product-item-small__rating">
                                            <div class="product-item-small__rating-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-item-small__rating-number">
                                                (50)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- End Product Right -->
                </div>
                <!-- End Column Right -->
            </div>
        </div>
    </div>
    <!-- End Main Product Detail -->
    <!-- Modal đánh giá-->
    <div class="modal jan-modal fade" id="modal-danh-gia" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id="rating-form" data-type="rating" data-object-id="@detail.Id" data-object-type="@((int)CommentType.Product)" data-lang="@culture_code">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title font-weight-bold">Đánh giá ngay</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="font-weight-600 mb-4">Bạn cảm thấy sản phẩm như thế nào?(chọn sao nhé):</h6>
                    <div class="star-rating-dynamic h4 text-center mb-4">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="mb-4 ">
                        <div class="form-row p-2 ">
                            <div class="col-12">
                                <textarea class="form-control mb-3 txt_content " minlength="50" rows="4" placeholder="Type your topic here">
                                </textarea>
                            </div>
                            <div class="col-2">
                                <div class="position-relative form-control text-center mb-2 mb-md-0"
                                     style="font-size: 14px;">
                                    <img asp-append-version="true" src="images/camera.svg" class="img-fluid">
                                    <input type="file" class="input-choose-file " accept="image/*">
                                </div>
                            </div>
                            <div class="col">
                                <input type="text" style="font-size: 14px;height: calc(1.5em + .75rem + 2px);" class="form-control mb-2 mb-md-0 txt_name" placeholder="Tên (bắt buộc)" required>
                            </div>
                            <div class="col">
                                <input type="text" style="font-size: 14px;height: calc(1.5em + .75rem + 2px);" class="form-control mb-2 mb-md-0 txt_phoneOrEmail" placeholder="Email (bắt buộc)" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-save" id="btn-save-xn">
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>

    </div>





    <div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="swiper js-gallery-product-modal-2 gallery-product__big">
                        <div class="swiper-wrapper gallery-product__wrap">

                            <div class="swiper-slide gallery-product__image">
                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar,false)" class="img-fluid w-100 "
                                     alt="" />

                            </div>
                            @foreach (var item in avatar_array)
                            {
                                <div class="swiper-slide gallery-product__image">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item,false)" class="img-fluid w-100 "
                                         alt="" />

                                </div>
                            }

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div thumbsSlider="" class="swiper js-gallery-product-modal-1 gallery-product__small gallery-product__small--modal">
                        <div class="swiper-wrapper gallery-product__wrap">


                            <div class="swiper-slide gallery-product__thumb">
                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar)" class="img-fluid w-100 "
                                     alt="" />

                            </div>
                            @foreach (var item in avatar_array)
                            {
                                <div class="swiper-slide gallery-product__thumb">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item)" class="img-fluid w-100 "
                                         alt="@detail.Title" />


                                </div>
                            }

                            <div class="swiper-slide gallery-product__thumb">
                                <img class="gallery-product__thumb-icon" src="~/design/images/icons/360-do.svg" alt="Icon 360" />
                                <span>Hình 360 độ</span>
                            </div>
                            <div class="swiper-slide gallery-product__thumb">
                                <img class="gallery-product__thumb-icon" src="~/design/images/icons/youtube-outline.svg" alt="Icon Video" />
                                <span>Video</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal " id="modal-slide-imge" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl  mt-0" role="document">
            <div class="modal-content px-3">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-xl-7 col-lg-7 col-md-8 col-12">
                        <div class="slide-product-detail-2  mb-4">
                            <div class="swiper-container gallery-top-2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar,false)" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>

                                    </div>
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item,false)" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>

                                        </div>
                                    }
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar,false)" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.File360)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.FileVideo)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-container gallery-thumbs-2 px-4">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar)" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item)" class="img-fluid w-100 "
                                                     alt="@detail.Title" />
                                            </div>

                                        </div>
                                    }
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <a href="@meta_file.FileDowload" target="_blank">
                                                <img asp-append-version="true" src="images/download-con-thumb.svg" class="img-fluid w-100 " alt="" />
                                            </a>
                                        </div>
                                        Download Brochure
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img asp-append-version="true" src="images/change/360do-icon-thumb.svg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                        Hình 360 độ
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img asp-append-version="true" src="images/youtube-icon-thumb.svg" class="img-fluid w-100 " alt="" />
                                        </div>
                                        Video
                                    </div>
                                </div>
                                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                                    <button class="btn btn-link color-828282">
                                        <i class="fas fa-chevron-left"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Previous slide">
                                    <button class="btn btn-link color-828282 ">
                                        <i class="fas fa-chevron-right"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

