﻿<section class="my-4 san-go-nb">
    <div class="container ">
        <div class="bg-fff pt-3 border-r-4">
            <div class="px-3">
                <div class="row mb-3 no-gutters ">
                    <div class="col-md-4 col-12 mb-2 mb-md-0 pr-md-5">
                        <a href="" class="h5 font-weight-bold ">Máy lọc nước Nano</a>
                    </div>
                    <div class="col-md-8 col-12   d-lg-flex justify-content-lg-end align-self-center">
                        <div class="menu-op align-self-center mr-lg-3">
                            <!--menu mobile-->
                            <div class="d-flex flex-wrap d-lg-none">
                                <a href="" class="link-view-more font-weight-normal mr-3 active">HYDRO Atica</a>
                                <a href="" class="link-view-more font-weight-normal mr-3">Kangen</a>
                                <a href="" class="link-view-more font-weight-normal mr-3">Tyent</a>
                                <a href="" class="link-view-more font-weight-normal mr-3">Panasonic</a>
                                <a href="" class="link-view-more font-weight-normal mr-3">Cleansui</a>
                            </div>
                            <!--menu mobile end-->
                            <!--menu pc-->
                            <div class="swiper-container d-none d-lg-block">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">
                                        <div>
                                            <a href="" class="link-view-more font-weight-normal  ">HYDRO Atica</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div>
                                            <a href="" class="link-view-more font-weight-normal  ">Kangen</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div>
                                            <a href="" class="link-view-more font-weight-normal  ">Tyent</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div>
                                            <a href="" class="link-view-more font-weight-normal  ">Panasonic</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div>
                                            <a href="" class="link-view-more font-weight-normal  ">Cleansui</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--menu pc end-->
                        </div>
                        <div class=" align-self-center  ">
                            <a href="" class="link-view-more font-weight-normal color-333 ">Xem thêm <b class="color-0B7640 font-weight-bold">36</b> sản phẩm</a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mb-3 mb-md-0">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row no-gutters h-100 ">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href=""><img src="~/images/image-product-large.jpg" class="img-fluid h-100" style="object-fit: cover;" /></a>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">

                                <div class="item-product">
                                    <div class="timer d-flex ">
                                        <div id="hour" class="it">12</div>
                                        <div id="minute" class="it">12</div>
                                        <div id="second" class="it">12</div>
                                    </div>
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/image-product-2.jpg" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-product-3.jpg" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-product-4.jpg" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-product-4.jpg" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-product-3.jpg" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">

                                <div class="item-product">
                                    <div class="timer d-flex  ">
                                        <div id="hour" class="it">12</div>
                                        <div id="minute" class="it">12</div>
                                        <div id="second" class="it">12</div>
                                    </div>
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        &#45;10%
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                    </div>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Máy lọc nước Nano Geyser Ecotar 5
                                            </a>
                                        </h5>
                                        <div class="d-price">
                                            <div class="price-new">
                                                1,225,000
                                            </div>
                                            <div class="price-old">
                                                225,000đ
                                            </div>
                                        </div>
                                        <div class="infor-plus">
                                            <div class="review d-flex">
                                                <div class="color-FFAB1B mr-2">
                                                    4.5/5<i class="fas fa-star ml-1"></i>
                                                </div>
                                                <div class="color-828282">
                                                    135 đánh giá
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>