﻿@using Enterbuy.Data.SqlServer.ModelDto;

@{
    Layout = null;
    var id = (int)ViewBag.Id;
    var obj_id = (int)ViewBag.ObjId;
    var obj_type = (int)ViewBag.ObjType;
    var comments = new List<CommentDetail>();
    var fullName = (string)ViewBag.FullName;
    var email = (string)ViewBag.Email;

    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
}

<div class="border border-r-4 mb-4 reply upload-parent" data-type="comment" data-object-id="@obj_id" data-object-type="@obj_type" data-lang="vi-VN">
    <textarea class="form-control txt_content" rows="5" placeholder="Nhận xét của bạn"
              style="border: 0;" minlength="50"></textarea>
    <div class="border-top">
        <div class="form-row p-2 ">
            <div class="col-xl-2 col-md-2 col-12">
                <div class="position-relative form-control text-center mb-2 mb-md-0"
                     style="font-size: 14px;">
                    <img asp-append-version="true" src="~/images/camera.svg" class="img-fluid" />
                    <input type="file" class="input-choose-file " accept="image/*" data-target-url="">
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-12">
                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_name" value="@fullName" required>
            </div>
            <div class="col-xl-4 col-md-4 col-12">
                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_phoneOrEmail" value="@email" required>
            </div>
            <div class="col-xl-2 col-md-2 col-12">
                <button class="btn btn-save px-5 mb-2 mb-md-0 send-comment-reply w-100" data-type="comment" data-object-id="@obj_id" data-object-type="@obj_type" data-parent="@id" data-lang="vi-VN" type="button">Gửi</button>
            </div>
        </div>
    </div>
    <div class="_binding_pickup_img" style="display:none; position:relative">
        <div>
            <img class="_place-img" />
        </div>
        <div class="_close_customize" style="position:absolute; top:0px; right: 0px">
            <button class="_place-img-close" style="background-color: transparent; border: 0;"> <i class="fal fa-times-circle"></i></button>
        </div>

    </div>
</div>

