﻿@using Enterbuy.Core.Enumerations;
@using Microsoft.AspNetCore.Http.Extensions
@using Enterbuy.Services.Common.Services.Interfaces;
@inject IMenuZoneServices _menuZoneServices

@{
    ViewData["Title"] = "Enterbuy Rss";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_zone_Article = _menuZoneServices.GetListZoneByParentId((int)TypeZone.AllButProduct, Utils.Utility.DefaultLang);
    var list_zone_Product = _menuZoneServices.GetListZoneByParentId((int)TypeZone.Product, Utils.Utility.DefaultLang);
    var paramHost = Context.Request.Host;
    var paramRss_Article = "/RSS/Article/";
    var paramRss_Product = "/RSS/Product/";
}
<section class="404 text-center py-5" style="background: url(/images/404.svg) no-repeat center;display: flex;">
    <div class="container align-self-center">
        <div class="row justify-content-center">
            <div class="col-xl-9  col-lg-10 col-md-10 col-12">
                <p class="h4 font-weight-600">
                    Enterbuy.vn RSS - Really Simple Syndication
                </p>
                <table class="table table-bordered">
                    <thead style="background: #0B7640;color: white;">
                        <tr>
                            <th scope="col">Mục Sản Phẩm</th>
                            <th scope="col">Kênh RSS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list_zone_Product.Result.OrderBy(o => o.Name))
                        {
                            <tr>
                                <td class="text-left">@item.Name</td>
                                <td><a href="@paramRss_Product@item.Url?id=@item.Id&type=@item.Type">@paramHost@paramRss_Product@item.Url</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead style="background: #0B7640;color: white;">
                        <tr>
                            <th scope="col">Mục Bài Viết</th>
                            <th scope="col">Kênh RSS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list_zone_Article.Result.OrderBy(o => o.Name))
                        {
                            <tr>
                                <td class="text-left">@item.Name</td>
                                <td><a href="@paramRss_Article@item.Url?id=@item.Id&type=@item.Type">@paramHost@paramRss_Article@item.Url</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>