﻿<section class="form-contact-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12 col-12">
                <form class="form-contact-home">
                    <div class="  font-weight-bold h5  mb-4 color-333 text-center">Mời bạn điền thông tin phản hồi tại forrm dưới đây:</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id=" " placeholder="Họ tên *">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id=" " placeholder="SĐT *">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" id=" " placeholder="Email *">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="tel" class="form-control" id=" " placeholder="SĐT *">
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="form-group col-md-12">
                            <textarea type="text" rows="5" class="form-control" id=" " placeholder="Tin nhắn *"></textarea>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6   ">
                            <button class="btn btn-submit w-100" style="border-radius: 0;">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>