﻿@using XuongGiang.Services.Product.ViewModel;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using MI.Entity.Enums
@inject IHttpContextAccessor HttpContextAccessor
@using XuongGiang.Utility
@inject ICookieUtility cookieUtility
@inject IViewLocalizer _localizer
@model ProductMinify;
@{
    var item = Model;
    var link_ta = LinkRedirectUrlUtility.ProductDetailUrl(item.Url);
    bool isLazy = ViewBag.IsLazy;
    var csssmallsize = "font-size:17px;";
    var s = item.Title.Split(" ").ToList();
}

<div class="one-product item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
    <a href="@LinkRedirectUrlUtility.ProductDetailUrl(item.Url)">
        <div class="name-product" style="@(s.Count >= 7 ? csssmallsize : "")">@item.Title</div>
    </a>
    @*
        int object_id, int object_type, string hTag
    *@
    @await Component.InvokeAsync("RatingStar", new { object_id = item.ProductId, object_type = (int)TypeRating.Product, hTag = "" })
    @*<img src="~/XuongGiang/img/product-chung/5star.png" alt="">*@
    <div class="img-product">
        <a href="@LinkRedirectUrlUtility.ProductDetailUrl(item.Url)">
            <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
        </a>

    </div>
</div>
<a href="@LinkRedirectUrlUtility.ProductDetailUrl(item.Url)">
    <div class="btn-now see-product">
        @_localizer["Details"]
    </div>
</a>