﻿@using MI.Entity.Enums;
@using LacWebsite.Services.Zone.ViewModal
@using LacWebsite.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using LacWebsite.Services.Zone.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}

@{
    var zone_id = ViewBag.ZoneId;
    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
    var breadcrumbs = zoneRepository.GetBreadcrumbByZoneId(zone_id, culture_code);
}
@await Component.InvokeAsync("SEO_Breadcrumb", new { bread = breadcrumbs, page = "", type_page = ""})
<nav aria-label="breadcrumb ">
    <ol class="breadcrumb jan-breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        @foreach (var item in breadcrumbs)
        {
            var link_tar = "/" + item.Url;
            <li class="breadcrumb-item"><a href="@link_tar">@item.Name</a></li>
        }
    </ol>
</nav>