﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TemplateKAOCoffee.Services.Zone.ViewModal
@using TemplateKAOCoffee.Services.Zone.Repository
@using TemplateKAOCoffee.Services.BannerAds.Repository
@using TemplateKAOCoffee.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using TemplateKAOCoffee.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using TemplateKAOCoffee.Services.Locations.Repository
@using TemplateKAOCoffee.Services.Extra.Repository
@using TemplateKAOCoffee.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}


@{

    Layout = null;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var isHome = false;
    var path = Context.Request.Path.ToString();
    var expland = "un-expand";
    var dm_style = "";
    //if ((path.Length <= 1 || path.Split('/').ToList().Count <= 2) && (!path.Equals("/gio-hang")) && (!path.EndsWith(".html")))
    if (path.Length <= 1)
    {

        isHome = true;
        expland = "";
        dm_style = "height: auto;";
    }
    else
    {
        path = path.Replace("/", "");
        var checker = zoneRepository.GetZoneByAlias(path, culture_code);
        if (checker != null)
        {
            if (checker.Type == (int)TypeZone.Product)
            {
                isHome = true;
                expland = "";
                dm_style = "height: auto;";
            }

        }


    }
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;


    List<LocationViewModel> locationViewModels = new List<LocationViewModel>();
    locationViewModels = locationsRepository.GetLocations(culture_code);

    List<ZoneSugget> zoneSugget = new List<ZoneSugget>();
    zoneSugget = zoneRepository.GetZoneSugget(culture_code);

    List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();

}
@inject IViewLocalizer _localizer
@using TemplateKAOCoffee.Services.Config.Repository
@{
    var _ver = WebHelper.Version();
    var favicon = bannerAdsRepository.GetConfigByName(culture_code, "Favicon");
    var chatfb = bannerAdsRepository.GetConfigByName(culture_code, "ChatFacebook");
    var logo = bannerAdsRepository.GetConfigByName(culture_code, "Logo");
    var diachi = bannerAdsRepository.GetConfigByName(culture_code, "Address");
    var hotline = bannerAdsRepository.GetConfigByName(culture_code, "Hotline");
    var email = bannerAdsRepository.GetConfigByName(culture_code, "MailManager");
    var motasite = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var linkpage = bannerAdsRepository.GetConfigByName(culture_code, "LinkFanpage");
}
<!DOCTYPE html>
<html lang="@culture_code">

<head>

    <meta charset="UTF-8">
    <title>@motasite</title>
    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@@3.6.18/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="~/design/style.css">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/@@shinsenter/defer.js/dist/defer_plus.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@@3.6.18/dist/js/uikit-icons.min.js"></script>
    <script src="~/design/js/app.js"></script>
    @RenderSection("Styles", required: false)
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptHeader"))
</head>
<body class="isHome">
    @Html.Raw(chatfb)
    @* <div id="fb-root"></div>
        <!-- Your customer chat code -->
        <div class="fb-customerchat"
             attribution=setup_tool
             page_id="2428809380682169"
             logged_in_greeting="Bạn cần cắt HTML/CSS? Hãy chat ngay với chúng tôi"
             logged_out_greeting="Bạn cần cắt HTML/CSS? Hãy chat ngay với chúng tôi">
        </div> *@
    <script>
        defer(function () {
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v5.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }, 5000);
    </script>
    <div id="offcanvas-overlay-trekhoedep" class="" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-padding-remove">

            <ul class="uk-nav-default1 product__nav1" uk-nav="toggle: .product__icon;">
                <li class="uk-open ">
                    <a href="/">
                        @Localizer["Home"]
                    </a>
                </li>
                <li class=" ">
                    <a href="/menu-do-uong">
                        Menu
                    </a>
                </li>
                <li class=" ">
                    <a href="/blog">
                        Blog
                    </a>
                </li>
                <li class=" ">
                    <a href="/lien-he">
                        @Localizer["Contact"]
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <section id="app" class="uk-height-viewport uk-offcanvas-content uk-overflow-hidden uk-position-relative">
        <div uk-sticky="" style="z-index: 1000;">
            <header class="header @(isHome ? "uk-position-top uk-position-z-index" : "uk-background-02")">
                <div class="uk-container uk-padding-remove">
                    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                        <div class="uk-navbar-left">
                            @{
                                if (!string.IsNullOrEmpty(logo))
                                {
                                    logo = UIHelper.StoreFilePath(logo);
                                }
                            }
                            <a href="/" class="uk-navbar-item uk-logo"><img src="@logo" alt=""></a>
                        </div>
                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav uk-visible@@m">
                                <li class="uk-active"><a href="/">@Localizer["Home"]</a></li>
                                <li><a href="/menu-do-uong">Menu</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/lien-he">@Localizer["Contact"]</a></li>
                            </ul>
                            <a href="#offcanvas-overlay-trekhoedep" class="uk-navbar-toggle uk-hidden@m" uk-toggle>
                                <div id="m_nav_menu" class="m_nav menu">
                                    <div class="m_nav_ham button_closed" id="m_ham_1"></div>
                                    <div class="m_nav_ham button_closed" id="m_ham_2"></div>
                                    <div class="m_nav_ham button_closed" id="m_ham_3"></div>
                                </div>
                            </a>
                            <div>
                                <a class="uk-navbar-toggle" href="#" uk-search-icon></a>
                                <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">

                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <form class="uk-search uk-search-navbar uk-width-1-1">
                                                <input class="uk-search-input" type="search" placeholder="Search" autofocus>
                                            </form>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="uk-navbar-item">
                                <div class="uk-grid-5 uk-child-width-auto" uk-grid>
                                    <div><a href="javascript:void(0)" class="select-language" data-lang="vi-VN"><img src="~/design/images/tiengviet.jpg" alt=""></a></div>
                                    <div><a href="javascript:void(0)" class="select-language" data-lang="en-US"><img src="~/design/images/tienganh.jpg" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>

        @RenderBody()
        @if (path != "lien-he")
        {
            <!--Liên hệ-->
            <div class="uk-position-relative block01 uk-background-norepeat uk-background-cover uk-background-fixed" uk-parallax="bgy: -150" uk-height-viewport="offset-bottom: false" data-src="design/images/bg_lienhe.png" uk-img>
                <div class="uk-position-cover block01__overlay"></div>
                <div class="uk-flex uk-flex-middle" uk-height-viewport>
                    <div class="uk-section uk-width-1-1 uk-position-relative uk-position-z-index">
                        <div class="uk-container">
                            <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">@Localizer["Contact"]</h2>
                            <form id="form-lien-he" class="uk-grid-small uk-flex-center uk-grid-52-m uk-grid-match" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .animation; delay: 300; repeat: false">
                                <div class="uk-width-1-1" style="display:none">
                                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                        <label><input class="uk-radio" type="radio" name="radio2" checked> <span class="block01__txt">Anh</span></label>
                                        <label><input class="uk-radio" type="radio" name="radio2"> <span class="block01__txt">Chị</span></label>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-child-width-1-1 uk-grid-small uk-grid-30-m" uk-grid>
                                        <div>
                                            <input uk-toggle="cls: uk-form-large; mode: media; media: @@m" class="uk-input block01__input uk-border-rounded _lien_he_name" type="text" placeholder="@Localizer["Name"]">
                                        </div>
                                        <div>
                                            <input uk-toggle="cls: uk-form-large; mode: media; media: @@m" class="uk-input block01__input uk-border-rounded _lien_he_phone" type="text" placeholder="@Localizer["Phone"]">
                                        </div>
                                        <div>
                                            <input uk-toggle="cls: uk-form-large; mode: media; media: @@m" class="uk-input block01__input uk-border-rounded _lien_he_email" type="text" placeholder="@Localizer["Email"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <textarea class="uk-textarea block01__input uk-border-rounded _lien_he_nd" rows="5" placeholder="@Localizer["Note"]"></textarea>
                                </div>
                                <div class="uk-width-auto">
                                    <button id="login" type="submit" uk-toggle="cls: uk-button-large; mode: media; media: @@m" class="animation uk-button block01__btn uk-button-secondary uk-border-pill">@Localizer["Send"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--/Liên hệ-->
        }


        <footer class="footer uk-section" uk-scrollspy="cls: uk-animation-slide-bottom; target: .animation; delay: 0; repeat: false">
            <div class="uk-container">
                <div class="uk-grid-80-m" uk-grid>
                    <div class="uk-width-auto@@m">
                        <figure class="uk-text-center uk-text-left@@m animation">
                            <a href=""><img src="~/design/images/logo_f.png" alt=""></a>
                        </figure>
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-flex-middle uk-grid-57-m" uk-grid>
                            <div class="uk-width-expand">
                                <div class="uk-child-width-1-3@@m uk-grid-59-m" uk-grid>
                                    <div class="animation">
                                        <h5 class="uk-h5 footer__title">@Localizer["Support counseling"]</h5>
                                        <ul class="uk-list footer__list1">
                                            <li>@Localizer["Phone"]: @hotline </li>
                                            <li>@Localizer["Address"]: @diachi</li>
                                            <li>@Localizer["Email"]: @email</li>
                                        </ul>
                                        <ul class="uk-child-width-auto uk-grid-small footer__list3" uk-grid>
                                            <li><a href="@linkpage" uk-icon="icon: facebook; ratio: 1" uk-tooltip="Facebook"></a></li>
                                            <li><a href="" uk-icon="icon: twitter; ratio: 1" uk-tooltip="Twitter"></a></li>
                                            <li><a href="" uk-icon="icon: youtube; ratio: 1" uk-tooltip="Youtube"></a></li>
                                            <li><a href="" uk-icon="icon: linkedin; ratio: 1" uk-tooltip="Linkedin"></a></li>
                                        </ul>
                                    </div>
                                    <div class="animation">
                                        <h5 class="uk-h5 footer__title">@Localizer["Quick link"]</h5>
                                        <ul class="uk-list footer__list2">
                                            <li><a href="/">@Localizer["Home"]</a></li>
                                            <li><a href="/menu-do-uong">Menu</a></li>
                                            <li><a href="/blog">Blog</a></li>
                                            <li><a href="/lien-he">@Localizer["Contact"]</a></li>
                                        </ul>
                                    </div>
                                    <div class="animation">
                                        <h5 class="uk-h5 footer__title">@Localizer["Follow us"]</h5>
                                        <form>
                                            <fieldset class="uk-fieldset">
                                                <div class="uk-margin">
                                                    <input class="uk-input footer__input uk-border-pill" type="text" placeholder="@Localizer["Name"]">
                                                </div>
                                                <div class="uk-margin">
                                                    <input class="uk-input footer__input uk-border-pill" type="text" placeholder="@Localizer["Email"]">
                                                </div>
                                                <div>
                                                    <button type="submit" class="uk-button footer__btn uk-button-secondary uk-border-pill">SUBCRIBE</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-auto@@m">
                                <a href="" class="animation"><img src="~/design/images/logoSaleNoti1.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    @*</cache>*@


    @await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(culture_code, "Logo"), false) })
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptBody"))

    @*<script src="~/js/lib.base.js?v=@_ver"></script>*@

    @*
        <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="~/js/core/core.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/menuController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/orderController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/extraController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/yall-js/dist/yall.min.js?v=@_ver"></script>
    <script src="~/js/slick.min.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/controller/contactController.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", yall);
    </script>


    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=2323475157962564&autoLogAppEvents=1" nonce="Z6tf66vh"></script>*@
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptFooter"))
    @RenderSection("Scripts", required: false)
    @*<h1>@culture</h1>
        <h1>@culture_code</h1>*@
    @*header*@
    @*sdk facebook Thăng them nhé*@
    <script src="~/js/controller/contactController.js"></script>

</body>

</html>