﻿@using LacWebsite.Services.Product.Repository
@using LacWebsite.Services.Zone.Repository
@using MI.Entity.Enums
@using LacWebsite.Services.BannerAds.Repository
@using LacWebsite.Services.Store.Repository
@using LacWebsite.Services.Locations.Repository
@using LacWebsite.Services.Store.ViewModel
@using LacWebsite.Services.Locations.ViewModal
@using LacWebsite.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@using Newtonsoft.Json
@using LacWebsite.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IStoreRepository storeRepository
@inject ILocationsRepository locationsRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var northside_add = bannerAdsRepository.GetConfigByName(culture_code, "northside_address");
    var northside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "northside_hotline");
    var northside_email = bannerAdsRepository.GetConfigByName(culture_code, "northside_email");
    var southside_add = bannerAdsRepository.GetConfigByName(culture_code, "southside_address");
    var southside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "southside_hotline");
    var southside_email = bannerAdsRepository.GetConfigByName(culture_code, "southside_email");
    var phone_cutted = bannerAdsRepository.GetConfigByName(culture_code, "Hotline");
    var contact_info = bannerAdsRepository.GetConfigByName(culture_code, "ContactInfo");

    var Banner_LienHe = new DetailBanerAds();
    var Banner_LienHe_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_Banner_LienHe");
    if(Banner_LienHe_Cache != null)
    {
        Banner_LienHe = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_LienHe_Cache.MetaData);
    }
    var bg = UIHelper.StoreFilePath(Banner_LienHe.Image, false);
    if (string.IsNullOrEmpty(bg))
    {
        bg = "../images/home/slide.png";
    }

    //LAC_Banner_LienHe
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
<section class="home" id="home" style="background:url(@bg) no-repeat center">
    <div class="container max-width">
        <div class="home-content">
            <div class="text-1">@Banner_LienHe.Title</div>
            <div class="text-2">
                @Banner_LienHe.Description
            </div>
            <a href="@Banner_LienHe.Url">XEM NGAY</a>
        </div>
    </div>
    <div class="icon-arr">
        <a id="moveSectionDown" href="#"><i class="fal fa-angle-down"></i></a>
    </div>
</section>
<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ góp ý</li>
        </ol>
    </nav>
</div>
<section>
    <div class="container">
        <div>
            <h5 class="font-weight-600 mb-3 mb-md-0 mt-1 bd-ct">Văn phòng</h5>
            <div class="row pt-4">
                <div class="col-md-6 prt-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d59596.33512844585!2d105.75748635391454!3d21.001816931873552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d21.0020573!2d105.7924194!4m5!1s0x3135acafe13a7863%3A0xfed5b8ea7c086dc1!2zUHJvdmlldyBUb3dlciwgMjg5QSBLaHXhuqV0IER1eSBUaeG6v24sIFRydW5nIEhvw6AsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!3m2!1d21.0017404!2d105.79259169999999!5e0!3m2!1svi!2s!4v1592301185708!5m2!1svi!2s"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-6" style="background-color: #F9F9FA;">
                    <div class="truso">
                        <div class="logo-fuho">
                            <img src="~/images/home/logo-sticky.png" class="" alt="">
                        </div>
                        <p style="color: #10CF84;">@contact_info</p>
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <div class="txt-add-fb">Trụ sở tại miền Bắc</div>
                                <div style="font-size: 14px;">
                                    <p><b>Địa chỉ:</b> @northside_add</p>
                                    <p><b>Hotline:</b> @northside_hotline</p>
                                    <p><b>Email:</b> @northside_email</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="txt-add-fb">Trụ sở tại miền Nam</div>
                                <div style="font-size: 14px;">
                                    <p><b>Địa chỉ:</b> @southside_add</p>
                                    <p><b>Hotline:</b> @southside_hotline</p>
                                    <p><b>Email:</b> @southside_email</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* <div class="main-showroom">
                <h5 class="font-weight-600 mb-3 mb-md-0 mt-1 bd-ct">Hệ thống Showroom toàn quốc</h5>
                @{
                    var lst_loca = locationsRepository.GetLocations(culture_code);
                }
                @foreach (var item in lst_loca)
                            {
                                string link_tar = "javascript:void(0)";
                        <li class="col-md-2 col-4 name-hver">
                            <a href="@link_tar" class="_picking_location" data-id="@item.Id">
                                <div class="cust-tinh">
                                    <div class="mrt-3"><i class="fas fa-map-marker-alt cust-ic"></i></div>
                                    <div class="tinht">@item.Name</div>
                                    <div class="mlt-3"><img src="images/Vector.svg" alt=""></div>
                                </div>
                            </a>
                        </li>
                    }
                @for (int i = 0; i < lst_loca.Count(); i += 6)
                {
                    <ul class="row list-showroom">
                        @{var lst_childs = lst_loca.Skip(i).Take(6);
                        }
                        @foreach (var item in lst_childs)
                        {
                            string link_tar = "javascript:void(0)";
                            <li class="col-md-2 col-4 name-hver">
                                <a href="@link_tar" class="_picking_location" data-id="@item.Id" data-position="@i">
                                    <div class="cust-tinh">
                                        <div class="mrt-3"><i class="fas fa-map-marker-alt cust-ic"></i></div>
                                        <div class="tinht">@item.Name</div>
                                        <div class="mlt-3"><img src="images/Vector.svg" alt=""></div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="_binding_departments" style="display:none" data-position="@i"></div>
                }
            </div> *@

        <form id="form-lien-he" class="pt-3">
            <h5 class="font-weight-600 mb-0 pb-2 border-bottom">Liên hệ góp ý cho chúng tôi</h5>
            <div class="row pt-4">
                <div class="col-md-6 col-12">
                    <div class="d-flex">
                        <label class="label-checkbox mb-2 pr-4">
                            Anh
                            <input type="checkbox" checked />
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox mb-2">
                            Chị
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="pb-3">
                        <input type="text" style="font-size: 14px; height: 48px;" class="form-control mb-2 mb-md-0 _lien_he_name" placeholder="Họ và Tên (bắt buộc)" required>
                    </div>
                    <div class="pb-3">
                        <input type="text" style="font-size: 14px;height: 48px;" class="form-control mb-2 mb-md-0 _lien_he_phone" placeholder="Số điện thoại (bắt buộc)" required>
                    </div>
                    <div>
                        <input type="text" style="font-size: 14px;height: 48px;" class="form-control mb-2 mb-md-0 _lien_he_email" placeholder="Email (bắt buộc)">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <textarea class="form-control _lien_he_nd" rows="8" placeholder="Nội dung chi tiết"></textarea>
                </div>
            </div>
            <div class="btn-smf">
                <button style="background-color:#10cf84" class="btn btn-save px-5 mb-2 mb-md-0" data-type="comment" data-object-id="" data-object-type="" data-lang="" type="submit">Gửi</button>
            </div>
        </form>

        <!--Gửi Comment-->
        @*@await Component.InvokeAsync("Comment", new { object_id = 0, object_type = (int)CommentType.Contact })*@
        <!--Đánh giá end-->
    </div>
</section>
<!-- -----------------EndChung---------------------- -->

@section scripts{

    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>*@
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/contactController.js"></script>


}