﻿
@section styles {
    <meta name="robots" content="noindex" />
}

<section class="404 text-center py-5" style="background: url(/images/404.svg) no-repeat center;min-height: 70vh;display: flex;">
    <div class="container align-self-center">
        <div class="row justify-content-center">
            <div class="col-xl-9  col-lg-10 col-md-10 col-12">
                <p class="h4 font-weight-600">
                    RẤT XIN LỖI BẠN, CHÚNG TÔI KHÔNG TÌM THẤY TRANG BẠN MUỐN TÌM!
                </p>
                <p>
                </p><div>
                    Trang bạn đã yêu cầu không thể được hiển thị, trang không tồn tại, hoặc đã bị xóa, hoặc do lỗi hiển thị tạm thời của máy chủ.
                </div>
                <br />
                <p style="font-size:20px">Sản phẩm bạn có thể quan tâm</p>
                <ul style="color:green;" class="text-center">
                    <li>
                        <a rel="nofollow" href="/may-loc-nuoc.html">Máy lọc nước</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="/may-loc-nuoc-kangen.html">Máy lọc nước Kangen</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="/may-loc-nuoc-dien-giai-panasonic.html">Máy lọc nước điện giải Panasonic</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="/loi-loc-nuoc.html">Lõi lọc nước</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="/bo-loc-nuoc.html">Bộ lọc nước</a>
                    </li>
                </ul>
                <br />
                <a rel="nofollow" href="/" class="btn btn-save px-5 ">Trở về Trang chủ</a>
            </div>
        </div>
    </div>
</section>