﻿@using MI.Entity.Enums;
@using LacWebsite.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Article.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
}
@{
    @*ViewData["Title"] = "BlogList1";
        Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";*@
    var blog_zone_parent = ViewBag.ZoneParent as ZoneByTreeViewMinify;
    var list_zone_chlids = ViewBag.ZoneChilds as List<ZoneByTreeViewMinify>;
}

@section styles {
    <style type="text/css">
        .banner-page {
            background: url(/@blog_zone_parent.Banner) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
    </style>

}
<section class="home" id="home">
    <div class="container max-width">
        <div class="home-content">
            <div class="text-1">Villa Có Hồ Bơi Tại Nam Đàn</div>
            <div class="text-2">
                Mang phong cách thiết kế ngoại thất tinh tế, vững chải với các khối hình hình. Thiết kế nội thất hiện đại đẹp mắt, không gian sử dụng linh hoạt với góc nhìn toàn cảnh ra hồ bơi là điều mà bất cứ ai nhìn thấy cũng phải ghen tị.
            </div>
            <a href="#">XEM NGAY</a>
        </div>
    </div>
    <div class="icon-arr">
        <a id="moveSectionDown" href="#"><i class="fal fa-angle-down"></i></a>
    </div>
</section>
<section class="main-cate">
    <div class="bg-bread">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-navr border-bottom">GÓC TƯ VẤN</div>
                <div class="pt-3">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="news-nbat">
                                <img src="~/images/img-news-top.png" class="w-100" alt="">
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                    <div class="date-tag"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="txt-n3">Chiêm ngưỡng ngôi nhà thiết kế tối giản nhất thế giới</div>
                            <div class="txt-n2">Với những lô đất vuông vắn thì chúng ta sẽ có nhiều lựa chọn phong cách để thiết kế. Nhưng với những công trình được yêu cầu thiết kế</div>
                            <div class="d-flex">
                                <div>
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                            <div class="asee" style="text-align: start;">
                                <a href="# ">Xem thêm</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="all-newslq">
                    <div class="row">
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>
                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>

                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>

                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>
                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>

                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>

                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>
                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>

                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2">
                            <div class="news-nbat">
                                <a href="#">
                                    <img src="~/images/home/news-lq.png" class="w-100" alt="">
                                </a>
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                    <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="titl-mn-news py-2">Cách thiết kế mẫu biệt thự hiện đại</div>
                            </a>

                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div class="icon-news" style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagin">
                        <ul class="number-page">
                            <li>
                                <a href="#" class="icon-pre">
                                    <i class="fal fa-angle-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="" class="nb-txt nb-hover ">1</a>
                            </li>
                            <li>
                                <a href="#" title="" class="nb-txt nb-hover">2</a>
                            </li>
                            <li>
                                <a href="#" title="" class="nb-txt nb-hover">3</a>
                            </li>
                            <li>
                                <a title="" class="nb-txt" style="border:none;">...</a>
                            </li>
                            <li>
                                <a href="#" title="" class="nb-txt nb-hover">20</a>
                            </li>
                            <li>
                                <a href="#" class="icon-pre">
                                    <i class="fal fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tags">
                    <div class="row">
                        <div class="col-1">Tag:</div>
                        <div class="col-11">
                            <ul class="row keys-tags">
                                <li class="col-2"><i class="fal fa-tag"></i> nhà hiện đại</li>
                                <li class="col-2"><i class="fal fa-tag"></i> nhà dep</li>
                                <li class="col-2"><i class="fal fa-tag"></i> tư vấn</li>
                                <li class="col-2"><i class="fal fa-tag"></i> hiện đại</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 40px;">
                    <div class="title-navr border-bottom">TIN LIÊN QUAN</div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="news-nbat">
                                <img src="~/images/img-news-top.png" class="w-100" alt="">
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                    <div class="date-tag"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="txt-n3">Chiêm ngưỡng ngôi nhà thiết kế tối giản nhất thế giới</div>
                            <div class="txt-n2">Với những lô đất vuông vắn thì chúng ta sẽ có nhiều lựa chọn phong cách để thiết kế. Nhưng với những công trình được yêu cầu thiết kế</div>
                            <div class="d-flex">
                                <div>
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                            <div class="asee" style="text-align: start;">
                                <a href="# ">Xem thêm</a>
                            </div>

                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="news-nbat">
                                <img src="~/images/img-news-top.png" class="w-100" alt="">
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                    <div class="date-tag"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="txt-n3">Chiêm ngưỡng ngôi nhà thiết kế tối giản nhất thế giới</div>
                            <div class="txt-n2">Với những lô đất vuông vắn thì chúng ta sẽ có nhiều lựa chọn phong cách để thiết kế. Nhưng với những công trình được yêu cầu thiết kế</div>
                            <div class="d-flex">
                                <div>
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                            <div class="asee" style="text-align: start;">
                                <a href="# ">Xem thêm</a>
                            </div>

                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="news-nbat">
                                <img src="~/images/img-news-top.png" class="w-100" alt="">
                                <div class="tag">
                                    <img src="~/images/home/tag.png" class="img-fluid" alt="">
                                    <div class="date-tag"><b>23</b> <br>OCT</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="txt-n3">Chiêm ngưỡng ngôi nhà thiết kế tối giản nhất thế giới</div>
                            <div class="txt-n2">Với những lô đất vuông vắn thì chúng ta sẽ có nhiều lựa chọn phong cách để thiết kế. Nhưng với những công trình được yêu cầu thiết kế</div>
                            <div class="d-flex">
                                <div>
                                    <i class="far fa-user"></i> Bro Đào
                                </div>
                                <div style="padding-left: 35px;">
                                    <i class="far fa-eye"></i> 1250
                                </div>
                            </div>
                            <div class="asee" style="text-align: start;">
                                <a href="# ">Xem thêm</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav-right">
                    <div style="padding-bottom: 30px;">
                        <div class="title-navr border-bottom">DANH MỤC</div>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Góc tư vấn</a>
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Tuyển dụng</a>
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Tư vấn thiết kế tổng thể nhà ở</a>
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="title-navr border-bottom">TIN KHUYẾN MÃI</div>
                        <div class="news-km-top">
                            <a href="#">
                                <img src="~/images/service/img-km.png" class="w-100" alt="">
                            </a>
                            <a href="#">
                                <div class="titl-mn-news py-2">Điểm danh 15 màu sơn phòng ngủ đẹp nhất được ưa chuộng</div>
                            </a>
                            <p class="m-0">Vinhomes Impera Hải Phòng – Nội thất biệt thự sang trọng và ấn tượng mang phong cách xe sang Lexuss</p>
                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="fal fa-calendar-alt"></i> 23/10/2020
                                </div>
                            </div>
                        </div>
                        <div class="tinvan">
                            <a href="#">
                                <div class="titl-tinvan">6 Mẫu thiết kế nội thất phòng ngủ đẹp nhất 2017</div>
                            </a>
                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="fal fa-calendar-alt"></i> 23/10/2020
                                </div>
                            </div>
                        </div>
                        <div class="tinvan">
                            <a href="#">
                                <div class="titl-tinvan">6 Mẫu thiết kế nội thất phòng ngủ đẹp nhất 2017</div>
                            </a>
                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="fal fa-calendar-alt"></i> 23/10/2020
                                </div>
                            </div>
                        </div>
                        <div class="tinvan">
                            <a href="#">
                                <div class="titl-tinvan">6 Mẫu thiết kế nội thất phòng ngủ đẹp nhất 2017</div>
                            </a>
                            <div class="d-flex">
                                <div class="icon-news">
                                    <i class="fal fa-calendar-alt"></i> 23/10/2020
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="title-navr border-bottom">TIN Mới</div>
                        <ul class="all-news-mn mt-2">
                            <li class="mini-news">
                                <div class="row">
                                    <div class="col-5 px-2">
                                        <div class="news-nbat">
                                            <img src="~/images/home/k1.png" class="w-100" alt="">
                                            <div class="tag">
                                                <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                                <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7 px-2">
                                        <div class="titl-mn-news">Cách thiết kế mẫu biệt thự hiện đại</div>
                                        <div class="d-flex">
                                            <div class="icon-news">
                                                <i class="fal fa-calendar-alt"></i> 23/10/2020
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mini-news">
                                <div class="row">
                                    <div class="col-5 px-2">
                                        <div class="news-nbat">
                                            <img src="~/images/home/k1.png" class="w-100" alt="">
                                            <div class="tag">
                                                <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                                <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7 px-2">
                                        <div class="titl-mn-news">Cách thiết kế mẫu biệt thự hiện đại</div>
                                        <div class="d-flex">
                                            <div class="icon-news">
                                                <i class="fal fa-calendar-alt"></i> 23/10/2020
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mini-news">
                                <div class="row">
                                    <div class="col-5 px-2">
                                        <div class="news-nbat">
                                            <img src="~/images/home/k1.png" class="w-100" alt="">
                                            <div class="tag">
                                                <img src="~/images/home/tag.png" class="img-fluid" style="width: 30px;" alt="">
                                                <div class="date-tag" style="font-size: 11px;top: 3px !important;"><b>23</b> <br>OCT</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7 px-2">
                                        <div class="titl-mn-news">Cách thiết kế mẫu biệt thự hiện đại</div>
                                        <div class="d-flex">
                                            <div class="icon-news">
                                                <i class="fal fa-calendar-alt"></i> 23/10/2020
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <img src="~/images/service/banner-service.png" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



