﻿
@inject Utils.ICookieLocationUtility cookieUtility
@using Enterbuy.Services.Common.Services.Interfaces
@inject IMenuZoneServices menuZoneServices
@using Enterbuy.Core.Enumerations
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@inject IBannerAdsDao bannerAdsRepository
@inject RamData.IConfig Config
@model List<Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify>
@using Microsoft.AspNetCore.Http.Extensions


@{
    var isExpand = ViewBag.IsExpand;

    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var blog_zone = await menuZoneServices.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, "vi-VN", 0, 1);
    var promotions = await menuZoneServices.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Promotion, "vi-VN", 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).FirstOrDefault() ?? new Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify();
    var promotionArticle = promotions.Where(r => r.ParentId == 0).FirstOrDefault() ?? new Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify();
    string urlActive = "";
    string[] cutUrl = Context.Request.GetDisplayUrl().Split('/');
    if (cutUrl.Length >= 4)
    {
        urlActive = cutUrl[3];
    }
    var title = Config.GetByName("TitleHome");


    var banner = await bannerAdsRepository.GetBannerAdsByCode(Utils.Utility.DefaultLang, "Banner_Trangchu_Trencung");
    var data = Utils.Utility.ConvertDictionary(banner.MetaData);

    string img = data.ContainsKey("Image") ? Utils.UIHelper.StoreFilePath(data["Image"].ToString(), false) : "";
}
<style>
    a:hover {
        color: green;
    }

    .item-sub-link:hover {
        color: green;
    }

    .list-menu-cate .subcate {
        overflow: initial;
    }
</style>
<section class="header">
    <div style="background:url(@img) no-repeat center center;background-size:cover" class="nav-top ">
        <a href="/" class="w-100 h-100 d-block"></a>
    </div>
    <div class=" nav-center">
        <div class="container">
            <nav class="navbar navbar-expand-md py-md-2 px-0   ">
                <a class="navbar-brand d-none d-md-block" href="/" title="Logo Website">
                    <img src="@Utils.UIHelper.StoreFilePath(Config.GetByName("Logo"))" alt="@title"
                         class="img-fluid" />
                </a>
                <a class="navbar-brand d-md-none" href="/" title="Logo Website">
                    <img src="~/images/Logo-mobile.png" style="max-width:40px" alt="@title"
                         class="img-fluid" />
                </a>
                <div class="d-md-none">
                    <div class="input-group form-search flex-nowrap " style="width: 190px;">
                        <input type="text" class="form-control find-product" placeholder="Tìm sản phẩm....">
                        <div class="input-group-append">
                            <button class="btn btn-search">
                                <img src="~/images/search.svg" class="img-fluid" />
                            </button>
                        </div>
                    </div>

                </div>
                <div class="suggest-text mobi suggest-text-2 d-md-none ">

                </div>
                <div class="nav-item align-self-md-center mb-0 cart d-md-none">
                    <button class="btn p-0 dropdown-cart-trigger-mobile">
                        <div class="icon ">
                            <img src="~/images/cart-icon.svg" class="img-fluid mr-2 icon-nav" />
                            <div class="amount" id="cart-count-mobile">

                            </div>
                        </div>
                    </button>
                </div>
                <button class="navbar-toggler px-1" type="button" data-toggle="collapse"
                        onclick="$('.collapse').toggle(100, 'swing');">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse w-100 align-self-center">
                    <ul class=" navbar-nav ml-auto mt-4 mt-md-0 w-100 justify-content-xl-around">
                        <li class="nav-item mr-md-3 align-self-center  d-none d-md-block  ">
                            <button type="button" class="btn btn-local ">
                                <div class=" d-flex" data-placement="bottom" data-toggle="modal"
                                     data-target="#modal-khu-vuc">
                                    <div class="align-self-center mr-3" style="width: 25px;">
                                        <img src="~/images/Location.svg"
                                             class="img-fluid" />
                                    </div>
                                    <div class="align-self-center   text-left">
                                        <label class="mb-0">Khu vực:</label>
                                        <div class="local " id="current-local" data-id="@location_id">
                                            @location_name
                                            <i class="fas fa-angle-down small ml-1"></i>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item mr-md-3 align-self-center d-none d-md-block">
                            <div class="input-group form-search flex-nowrap mb-1 ">
                                <div class="input-group-prepend">
                                    <button class="btn btn-search">
                                        <img src="~/images/search.svg" class="img-fluid" />
                                    </button>
                                </div>
                                <input type="text" class="form-control find-product" placeholder="Tìm sản phẩm....">
                                @*<div class="suggest-text suggest-text-1">
                                        <div class="h6 px-3">
                                            Gợi ý cho bạn
                                        </div>
                                    </div>*@
                                <div class="suggest-text suggest-text-2">
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown mr-md-3 align-self-md-center mb-md-0 cart">
                            <a class="  d-flex dropdown-toggle dropdown-cart-trigger" href="javascript:void(0)" role="button" data-toggle="dropdown">
                                <div class="icon mr-2">
                                    <img src="~/images/cart-icon.svg" class="img-fluid mr-2 icon-nav" />
                                    <div class="amount" id="cart-count">

                                    </div>
                                </div>
                            </a>
                            <!--Dropdown cart-->
                            <div class="dropdown-menu dropdown-menu-right dropdown-cart">
                                <div class="_binding_dropdown_cart">

                                </div>
                                <!--Sum-->
                                <div class="d-flex px-3">
                                    <div class="text-uppercase">
                                        Tổng tiền:
                                    </div>
                                    <div class="h6 font-weight-bold ml-auto color-EE7D22 small-total-cart">
                                        0
                                    </div>
                                </div>
                                <div class="bottom-dropdown d-flex  ">
                                    <div class="small mr-3 align-self-center">
                                        Bạn còn <span class="dropdown-quantity-cart"></span> sản phẩm trong giỏ hàng
                                    </div>
                                    <div class="h6 ml-auto mb-0">
                                        <a href="@("/gio-hang")" id="link-target-cart" class="btn-link link-view-more  font-weight-normal text-uppercase">XEM GIỎ HÀNG</a>
                                        <a href="javascript:void(0)" id="link-clear-cart" class="btn-link link-view-more text-uppercase">XÓA TẤT CẢ</a><br />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mr-md-3  align-self-md-center d-flex  "
                            style="white-space: nowrap;">
                            <!-- <img src="~/images/hot-line-red-icon.svg"
                            class="img-fluid mr-2 icon-nav align-self-center wow tada infinite " />-->
                            <div class="align-self-center">
                                <a href="">
                                    <div class="color-EE7D22 font-weight-bold mb-0">@Config.GetTimeShowPhone()</div>
                                    <div class="small color-333">(Hotline 24/7)</div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item mr-md-3  align-self-md-center d-flex  "
                            style="white-space: nowrap;">
                            <div class="align-self-center">
                                <a href="@Utils.BaseBA.UrlCategoryNews(blog_parents.Url)">
                                    <div class="color-EE7D22 font-weight-bold mb-0">Blog EnterBuy</div>
                                    <div class="small color-333">& Tin khuyến mại<i class="fas fa-chevron-down ml-2 small"></i></div>
                                </a>
                            </div>
                        </li>
                        <li class=" nav-item align-self-md-center ">
                            <div style="cursor:pointer" title="Phòng chuyên gia nước" class=" nav-link ">
                                <a class="btn  p-0" href="/phong-chuyen-gia-nuoc.html" role="button" id="dropdownMenuLink">
                                    <img src="/images/chuyen-gia-image.png" style="max-height:30px" class="img-fluid ">
                                </a>

                                @*<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">
                                        <img src="/images/chuyen-gia-image.png"  style="max-height:30px" class="img-fluid mr-1">
                                        <span style="font-size:10px">Phòng chuyên gia nước</span> 
                                    </a>
                                </div>*@
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="local-mobile container d-flex d-md-none small py-2" style="background: #FCE2CE;">
        <div><i class="fas fa-map-marker-alt mr-2 color-EE7D22"></i>Bạn đang xem sản phẩm tại @location_name</div>
        <a href="" class="btn-link ml-auto color-EE7D22" style="text-decoration: underline;" data-toggle="modal"
           data-target="#modal-khu-vuc">Đổi</a>
    </div>
    <section>
        <section class="bg-fff">
            <div class="menu-fix home">
                <div class="container position-relative">
                    <div class="row flex-md-row-reverse">
                        <div class="col-lg-9 col-md-8 col-12 pl-md-0">
                            <div class="menu-ngang d-flex justify-content-between small">
                                <div>
                                    <a href="javascrip:;" class="btn-sm btn-link last-seen-link">
                                        <img src="~/images/spvx-ic.svg" class="img-fluid icon mr-2" />Sản phẩm vừa
                                        xem
                                    </a>
                                </div>
                                <div>
                                    <a href="/lien-he.html" class="btn-sm btn-link">
                                        <img src="~/images/location-icn.svg"
                                             class="img-fluid icon mr-2" />Hệ thống đại lí EnterBuy
                                    </a>
                                </div>
                                <div>
                                    <a href="/thanh-toan.html" class="btn-sm btn-link">
                                        <img src="~/images/spvx-ic3.svg"
                                             class="img-fluid icon mr-2" />Hướng dẫn thanh toán
                                    </a>
                                </div>

                                <div>
                                    <a href="" class="btn-sm btn-link" data-toggle="modal"
                                       data-target="#modal-lien-he">
                                        <img src="~/images/spvx-ic4.svg"
                                             class="img-fluid icon mr-2" />Liên hệ bảo
                                        hành
                                    </a>
                                </div>
                                <div>
                                    @if (promotionArticle != null)
                                    {
                                        <a href="@Utils.BaseBA.UrlCategoryNews(promotionArticle.Url)" class="btn-sm btn-link">
                                            <img src="~/images/spvx-ic5.svg" class="img-fluid icon mr-2" />Chương trình khuyến mãi
                                        </a>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12">
                            @{var Expand = isExpand == true ? "" : "un-expand"; }
                            <ul class="list-group list-menu-cate d-none d-md-block @Expand">
                                <li class="list-group-item cust-bdpd active">
                                    <a href="javascript:;" class="link"><i class="fas fa-bars mr-2"></i>Danh mục</a>
                                </li>
                                @{
                                    var listZoneFirst = Model.Where(r => r.IsShowMenu == 1).OrderBy(r => r.SortOrder).ToList();
                                }

                                @for (int j = 0; j < listZoneFirst.Count; j++)
                                {

                                    var listZoneSecond = Model.Where(r => r.ParentId == listZoneFirst[j].Id).OrderBy(r => r.SortOrder).ToList();

                                    var clas = " position-relative";
                                    var subcate = "subcate-2";
                                    var style = "";
                                    if (listZoneSecond.Count > 6)
                                    {
                                        clas = "";
                                        subcate = "subcate-2";
                                        style = "width: 500px";
                                    }
                                    <li class="list-group-item cust-bdpd @clas">
                                        <a href="@Utils.BaseBA.UrlCategory(listZoneFirst[j].Url)" class="link" title="@listZoneFirst[j].Name">
                                            <img asp-append-version="true" src="@Utils.UIHelper.StoreFilePath(@listZoneFirst[j].Icon, false)" class="img-fluid mr-2" alt="@listZoneFirst[j].Name" onerror="this.onerror=null;this.src='/images/Ion-kiem.svg';" />
                                            @listZoneFirst[j].Name
                                        </a>
                                        <div class="@subcate" style="@style">
                                            @if (listZoneSecond.Count() < 6)
                                            {
                                                <aside class=" ">
                                                    @foreach (var item1 in listZoneSecond)
                                                    {
                                                        var listZoneThird = Model.Where(r => r.ParentId == item1.Id).OrderBy(r => r.SortOrder).ToList();
                                                        @if (listZoneThird.Count > 0)
                                                        {
                                                            <div class="item-sub-link" style="position:initial">
                                                                <i class="fa fa-angle-right" aria-hidden="true" style="position: absolute; right: 10px;padding-top: 4px;"></i>
                                                                <a href="@Utils.BaseBA.UrlCategory(item1.Url)" title="@item1.Name">@item1.Name</a>
                                                                <div class="subcate-2-1">
                                                                    @if (listZoneThird.Count < 4)
                                                                    {
                                                                        <aside class="">
                                                                            @foreach (var item2 in listZoneThird)
                                                                            {
                                                                                var link_root_2 = Utils.BaseBA.UrlCategory(item2.Url);
                                                                                <div class="item-sub-link">
                                                                                    <a href="@link_root_2" class="" title="@item2.Name">@item2.Name</a>
                                                                                </div>
                                                                            }
                                                                        </aside>
                                                                    }
                                                                    else
                                                                    {
                                                                        <aside style="width:500px">
                                                                            @foreach (var item2 in listZoneThird)
                                                                            {
                                                                                var link_root_2 = Utils.BaseBA.UrlCategory(item2.Url);
                                                                                <div class="item-sub-link" style="width:50%;float:left">
                                                                                    <a href="@link_root_2" class="" title="@item2.Name">@item2.Name</a>
                                                                                </div>
                                                                            }
                                                                        </aside>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="item-sub-link  ">
                                                                <a href="@Utils.BaseBA.UrlCategory(item1.Url)" title="@item1.Name">@item1.Name</a>
                                                            </div>
                                                        }
                                                    }
                                                </aside>
                                            }
                                            else
                                            {
                                                <aside>
                                                    @foreach (var item1 in listZoneSecond)
                                                    {
                                                        var listZoneThird = Model.Where(r => r.ParentId == item1.Id).OrderBy(r => r.SortOrder).ToList();
                                                        @if (listZoneThird.Count > 0)
                                                        {
                                                            <div class="item-sub-link" style="position:initial">
                                                                <i class="fa fa-angle-right" aria-hidden="true" style="position: absolute; right: 10px;padding-top: 4px;"></i>
                                                                <a href="@Utils.BaseBA.UrlCategory(item1.Url)" title="@item1.Name">@item1.Name</a>
                                                                <div class="subcate-2-1">
                                                                    @if (listZoneThird.Count < 4)
                                                                    {
                                                                        <aside class="">
                                                                            @foreach (var item2 in listZoneThird)
                                                                            {
                                                                                var link_root_2 = Utils.BaseBA.UrlCategory(item2.Url);
                                                                                <div class="item-sub-link">
                                                                                    <a href="@link_root_2" class="" title="@item2.Name">@item2.Name</a>
                                                                                </div>
                                                                            }
                                                                        </aside>
                                                                    }
                                                                    else
                                                                    {
                                                                        <aside style="width:500px">
                                                                            @foreach (var item2 in listZoneThird)
                                                                            {
                                                                                var link_root_2 = Utils.BaseBA.UrlCategory(item2.Url);
                                                                                <div class="item-sub-link" style="width:50%;float:left">
                                                                                    <a href="@link_root_2" class="" title="@item2.Name">@item2.Name</a>
                                                                                </div>
                                                                            }
                                                                        </aside>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="item-sub-link " style="width:50%;float:left">
                                                                <a href="@Utils.BaseBA.UrlCategory(item1.Url)" title="@item1.Name">@item1.Name</a>
                                                            </div>
                                                        }
                                                    }
                                                </aside>
                                            }
                                        </div>
                                    </li>
                                }
                                <!--Nút xem thêm-->
                                <li class="list-group-item cust-bdpd" style="cursor: pointer;">
                                    <i class="fas fa-plus mr-3"></i>Xem thêm
                                </li>
                            </ul>
                            @{
                                int active_id = 0;
                                var listZoneFirstMobile = Model.Where(r => r.IsShowMenu == 1).OrderBy(r => r.SortOrder).ToList();
                                if (string.IsNullOrEmpty(urlActive))
                                {
                                    var obj = listZoneFirstMobile.FirstOrDefault();
                                    if (obj == null)
                                    {
                                        active_id = 0;
                                    }
                                    else
                                    {
                                        active_id = obj.Id;
                                    }
                                }
                                else
                                {
                                    var obj = listZoneFirstMobile.SingleOrDefault(o => o.Url == "/" + urlActive);
                                    if (obj == null)
                                    {
                                        active_id = 0;
                                    }
                                    else
                                    {
                                        active_id = obj.Id;
                                    }
                                }
                            }
                            <ul class="row menu-cate-mobile  d-md-none no-gutters">

                                @for (int i = 0; i < listZoneFirstMobile.Take(8).Count(); i++)
                                {
                                    var l = Utils.BaseBA.UrlCategory(listZoneFirstMobile[i].Url);
                                    <li class="col-3 px-1">
                                        <a href="@l" class="btn btn-cate @(listZoneFirstMobile[i].Id == active_id ? " active" : "" )">
                                            <img asp-append-version="true" src="@Utils.UIHelper.StoreFilePath(listZoneFirstMobile[i].Icon, false)"
                                                 class="img-fluid mb-2" />
                                            <div>
                                                @listZoneFirstMobile[i].Name
                                            </div>
                                        </a>
                                    </li>
                                }

                            </ul>
                            <section class="cate-mobile">
                                <div class="bg-fff p-3 m-auto">
                                    <ul class="row menu-cate-mobile no-gutters">
                                        @for (int i = 0; i < listZoneFirstMobile.Count(); i++)
                                        {
                                            var l = Utils.BaseBA.UrlCategory(listZoneFirstMobile[i].Url);
                                            <li class="col-3 px-1">
                                                <a href="@l" class="btn btn-cate @(listZoneFirstMobile[i].Id == active_id ? " active" : "" )">
                                                    <img asp-append-version="true" src="@Utils.UIHelper.StoreFilePath(listZoneFirstMobile[i].Icon, false)"
                                                         class="img-fluid mb-2" />
                                                    <div>
                                                        @listZoneFirstMobile[i].Name
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>

                                    <div class=" align-self-md-center d-flex  ">
                                        <div class="font-weight-bold">
                                            Hotline:
                                        </div>
                                        <img src="~/images/hot-line-red-icon.svg"
                                             class="img-fluid mx-2 icon-nav align-self-center wow tada infinite " style="width: 20px;" />
                                        <div class="align-self-center">
                                            <a href="">
                                                <div class="color-EE7D22 font-weight-bold mb-0">@Config.GetTimeShowPhone()</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn close-popup" onclick="$('.cate-mobile').toggle(100, 'swing');">
                                    <img src="/images/times-icon.svg" />
                                </button>
                            </section>
                        </div>
                    </div>
                    <!--sp đã xem-->
                    <div class="spvx">
                        <div class="row">
                            <div class="col-12">
                                <h6 class=" p-3 mb-0">Sản phẩm bạn đã xem</h6>
                            </div>
                        </div>
                        <div class="row no-gutters h-100 _binding_last_seen_product">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
