﻿@model Enterbuy.Services.Common.Models.StemHomePage

<div class="row menu-ngang-2 mt-3 mt-lg-4 mt-xl-2 ">
    @foreach (var item in Model.BannerHomePages.Take(3))
    {
        if (item.Show)
        {
            <div class="col-xl-4 col-md-4 col-sm-12 col-4 px-2">
                <div class="item" onclick="R.Extra.ModalServiceSlideBanner(@item.Url)">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-12  pr-md-0 align-self-center text-center">
                            <img src="@item.Image" class="img-fluid mb-2 mb-md-0" onerror="this.onerror=null;this.src='/images/icon-n-1.png'">
                        </div>
                        <div class="col-xl-10 col-md-9 col-12">
                            <div class="text-uppercase font-weight-600">
                                @item.Title
                            </div>
                            <div class="color-828282 d-none d-md-block">
                                @item.Description
                                @*Chúng tôi là Công ty TNHH đầu tư và thương mại Enterbuy Việt Nam ...*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>