﻿@model Enterbuy.Services.Common.Models.BannerHomePage
@if (Model.Show)
{
    <section class="container  mb-2 mb-md-4">
        <div class="row">
            <div class=" col-12">
                <a href="@Model.Url" title="@Model.Title">
                    <img data-src="@Model.Image" class="w-100 lazy" alt="@Model.Title" />
                </a>
            </div>
        </div>
    </section>
}