﻿@using MI.Entity.Enums;
@using Cooken.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Cooken.Services.Article.Repository
@using Cooken.Services.Zone.Repository
@using Cooken.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@model ZoneDetail;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;
    var path = Context.Request.Path.ToString().Split("/")[1];
}
@{
    @*ViewData["Title"] = "BlogList1";
        Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";*@
    var blog_zone_parent = new ZoneByTreeViewMinify();
    var p = (List<ZoneByTreeViewMinify>)zoneRepository.GetBreadcrumbByZoneId(Model.Id, culture_code);
    var parent = p.Where(r => r.level == 0).FirstOrDefault();
    var flag = 10;
    if (parent != null)
    {
        blog_zone_parent = parent;

        flag = parent.Type;

    }
    var list_zone_chlids = new List<ZoneByTreeViewMinify>();


}

@section styles {
    @*<style type="text/css">
            .banner-page {
                background: url(/@blog_zone_parent.Banner) no-repeat center;
                min-height: 200px;
                background-size: cover;
                display: flex;
            }
        </style>*@
}
@{
    var list_zone_parent = zoneRepository.GetListZoneByParentId(flag, culture_code);
}
<div class="home__section05 uk-section uk-background-norepeat uk-background-bottom-center uk-visible@@m" uk-height-viewport="offset-top: true;" data-src="/design/cooken-03-2021/images/Background1.png" uk-img>
    <div class="uk-container uk-container-small">
        <div class="uk-flex-middle uk-child-width-1-2@@m uk-flex-right@@m uk-position-relative" uk-grid uk-scrollspy="target: .animation; cls: uk-animation-slide-bottom-small; delay: 500; repeat: false;">
            <div class="" uk-toggle="cls: uk-position-center-left; mode: media; media: @@m">
                <div class="home__section05__box1">
                    <h1 class="uk-h1 home__section05__box1__title uk-margin animation">
                        The Evoling <br>
                        Ad Network
                    </h1>
                    <div class="home__section05__box1__box uk-margin">
                        <p class="home__section05__box1__desc animation">
                            Cooken là một mạng quảng cáo giao dịch quảng cáo gốc, trong trang,
                            đẩy và quảng cáo bật lên theo các mô hình định giá CPM và CPC.
                        </p>
                        <p class="home__section05__box1__desc animation">
                            Phục vụ hơn 2 tỷ lần hiển thị mỗi ngày, chúng tôi cung cấp nhiều tùy
                            chọn thanh toán, dịch vụ chăm sóc khách hàng 24-7 và người quản lý
                            tài khoản chuyên dụng. Chúng tôi cố gắng trở thành người giỏi nhất
                            trong lớp, giúp bạn và doanh nghiệp của bạn phát triển.
                        </p>
                    </div>
                    <a href="" class="home__section05__box1__btn uk-border-rounded uk-button uk-button-secondary animation">Xem thêm</a>
                </div>
            </div>
            <div class="uk-width-3-5@@m">
                <div class="home__section05__box1__img animation" uk-scrollspy-class="uk-animation-scale-up">
                    <img src="~/design/cooken-03-2021/images/MaskGroup1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Banner-->

<div class="blog__section1 uk-section uk-background-norepeat uk-background-top-center" data-src="~/design/cooken-03-2021/images/bg2.png" uk-img>
    <div class="uk-container">
        <div class="uk-child-width-auto uk-grid-small uk-grid-41-m uk-flex-center mb-20 mb-56-m uk-hidden@@m uk-visible@@s" uk-grid>
            <div class="uk-width-expand">
                <form class="uk-search uk-search-default uk-width-1-1">
                    <span class="uk-search-icon-flip blog__boxSearch__icon uk-background-norepeat uk-background-center-center" data-src="/design/cooken-03-2021/images/Group-iconsearch.png" uk-img uk-search-icon></span>
                    <input class="uk-search-input uk-form-large uk-width-1-1 blog__boxSearch__inputSearch" type="search" placeholder="Tìm Kiếm">
                </form>
            </div>
        </div>
        <div class="uk-child-width-auto uk-grid-small uk-grid-41-m uk-flex-center mb-20 mb-56-m" uk-grid>
            <div>
                @{
                    var bblink = "";
                    @if (path == "du-an" || path == "du-an-moi" || flag == (int)TypeZone.DuAn)
                    {
                        bblink = "/du-an";


                    }
                    @if (path == "blog" || path == "bai-viet-moi" || flag == (int)TypeZone.Article)
                    {

                        bblink = "/blog";

                    }

                }
                <a href="@bblink" class="blog__btn uk-button uk-button-default uk-button-large">Tất cả</a>
            </div>
            <div>
                @{
                    var lllink = "";
                    var lltext = "";
                    @if (path == "du-an" || path == "du-an-moi" || flag == (int)TypeZone.DuAn)
                    {
                        lllink = "/du-an-moi";
                        lltext = "Dự án mới";

                    }
                    @if (path == "blog" || path == "bai-viet-moi" || flag == (int)TypeZone.Article)
                    {

                        lllink = "/bai-viet-moi";
                        lltext = "Bài viết mới";
                    }
                }
                <a href="@lllink" class=" blog__btn uk-button uk-button-default uk-button-large">@lltext</a>
            </div>
            @if (path == "du-an" || path == "du-an-moi")
            {
                list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.DuAn, culture_code);

            }
            @if (path == "blog" || path == "bai-viet-moi")
            {
                list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.Article, culture_code);
            }
            @foreach (var item in list_zone_parent)
            {
                <div>
                    <a href="@LinkRedirectUrlUtility.BlogLinkUrl(item.Url)" class=" blog__btn uk-button uk-button-default uk-button-large">@item.Name</a>
                </div>
            }
            <div class="uk-width-expand">
                <form class="uk-search uk-search-default uk-width-1-1">
                    <span class="uk-search-icon-flip blog__boxSearch__icon uk-background-norepeat uk-background-center-center" data-src="/design/cooken-03-2021/images/Group-iconsearch.png" uk-img uk-search-icon></span>
                    <input class="uk-search-input uk-form-large uk-width-1-1 blog__boxSearch__inputSearch" type="search" placeholder="Tìm Kiếm">
                </form>
            </div>

        </div>
        <div class="uk-child-width-1-3@@m mb-20 mb-40-m uk-grid-small uk-grid-20-m blog__grid" uk-grid>
            @{
                var z = new ZoneDetail();
                if (path != "bai-viet-moi" && path != "blog" && path != "du-an" && path != "du-an-moi")
                {
                    z = zoneRepository.GetZoneDetail(Model.Id, culture_code);
                }



            }
            @await Component.InvokeAsync("RedirectBlogListCenter", new { zone = z, pageIndex = index, pageSize = size });

        </div>
        <div class="pagin">

        </div>

    </div>
</div>




