﻿@using MI.Entity.Enums;
@using Enterbuy.Data.SqlServer.ModelDto;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@*@inject IHttpContextAccessor HttpContextAccessor*@
@using Utils
@{
    //var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    //var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;

    var domain = Context.Request.Host.ToString();
}

@{
    var bread_list = new List<ZoneByTreeViewMinify>();
    var bread_single = ViewBag.BreadSingle;
    var bread_type = ViewBag.BreakType;
    var detail_title = ViewBag.TitleDetail;
    if (ViewBag.BreadList != null)
    {
        bread_list = ViewBag.BreadList;

    }

    string domains = "https://" + domain;
}

@*Breadcrumb by microdata*@

<ol style="display:none" itemscope itemtype="https://schema.org/BreadcrumbList">

    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        <a itemscope itemtype="https://schema.org/WebPage"
           itemprop="item" itemid="/"
           href="/">
            <span itemprop="name">Trang chủ</span>
        </a>
        <meta itemprop="position" content="1" />
    </li>


    @Html.Raw(">")
    @{ int i = 2; int k = 0; }

    @foreach (var item in bread_list)
    {
        var link_tar = "";

        if (item.Type != (int)(TypeZone.Product) && item.Type != (int)(TypeZone.Region))
        {
            link_tar = BaseBA.UrlCategoryNews(item.Url);
            if (!String.IsNullOrEmpty(item.BreadcrumbFirst))
            {
                <li itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemscope itemtype="https://schema.org/WebPage"
                       itemprop="item" itemid="@BaseBA.UrlCategoryNews(item.BreadcrumUrl)"
                       href="@BaseBA.UrlCategoryNews(item.BreadcrumUrl)">
                        <span itemprop="name">@item.BreadcrumbFirst</span>
                    </a>
                    <meta itemprop="position" content="@(i)" />
                </li>

            }
            else
            {
                <li itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemscope itemtype="https://schema.org/WebPage"
                       itemprop="item" itemid="@link_tar"
                       href="@link_tar">
                        <span itemprop="name">@item.Name</span>
                    </a>
                    <meta itemprop="position" content="@(i)" />
                </li>
            }
        }
        else
        {
            link_tar = BaseBA.UrlCategory(item.Url);
            if (!String.IsNullOrEmpty(item.BreadcrumbFirst))
            {
                <li itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemscope itemtype="https://schema.org/WebPage"
                       itemprop="item" itemid="@BaseBA.UrlCategory(item.BreadcrumUrl)"
                       href="@BaseBA.UrlCategory(item.BreadcrumUrl)">
                        <span itemprop="name">@item.BreadcrumbFirst</span>
                    </a>
                    <meta itemprop="position" content="@(i)" />
                </li>
            }
            else
            {
                <li itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemscope itemtype="https://schema.org/WebPage"
                       itemprop="item" itemid="@link_tar"
                       href="@link_tar">
                        <span itemprop="name">@item.Name</span>
                    </a>
                    <meta itemprop="position" content="@(i)" />
                </li>
            }

        }
        i = i + 1;

        @(k == bread_list.Count - 1 ? "" : ">");
        k = k + 1;
    }
    @if (!String.IsNullOrEmpty(detail_title))
    {
        @Html.Raw(">");
        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a itemscope itemtype="https://schema.org/WebPage"
               itemprop="item" itemid="#"
               href="#">
                <span itemprop="name">@detail_title</span>
            </a>
            <meta itemprop="position" content="@(i)" />
        </li>
    }
</ol>
