﻿@using MI.Entity.Enums;
@using ThungRac.Services.Zone.ViewModal
@using ThungRac.Services.Zone.Repository
@using ThungRac.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using ThungRac.Services.Article.Repository
@using ThungRac.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

}
@{
    ViewData["Title"] = "BlogDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@{
    var blog_zone_parent = new ZoneByTreeViewMinify();
    var detail = ViewBag.Detail as ArticleDetail;
    var zone_id = detail.ZoneId;
    var zone_target = zoneRepository.GetZoneDetail(zone_id, culture_code);
    var parent = zoneRepository.GetBreadcrumbByZoneId(zone_id, culture_code).Where(r => r.level == 0).FirstOrDefault();
    if (parent != null)
    {
        blog_zone_parent = parent;
    }
    var list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);

}
@section styles {

}

<section class="container">
    <nav aria-label="breadcrumb">
        @await Component.InvokeAsync("Breadcrumb", new { zone_id = zone_id })
    </nav>
</section>

<section class="bg-fff main-news">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @foreach (var item in list_zone_parent)
            {
                var slt = false;
                var atv = false;
                var link = LinkRedirectUrlUtility.BlogLinkUrl(item.Url);
                if (item.Id == zone_id || item.Id == blog_zone_parent.Id)
                {
                    slt = true;
                    atv = true;
                }
                <li class="nav-item @(atv == true ? "selected" : "")">
                    <a class="nav-link cust-navTab @(atv == true ? "selected active" : "") show" href="@link" aria-selected="@slt">@item.Name</a>
                </li>
            }
        </ul>
        <div class="pt-4">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="newskm" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-3">
                            @await Component.InvokeAsync("RedirectBlogListLeft", new { minify = blog_zone_parent, target_url = zone_target.Url })
                        </div>
                        <div class="col-md-9">
                            <div class="abcz">
                                <div class="title-bepvui">
                                    @detail.Title
                                </div>
                                @if (!string.IsNullOrEmpty(detail.Indexing))
                                {
                                    <div class="accordion pt-3" id="accordionNoidungbv" style="max-width: 600px;">
                                        <div class="card card-bepvui">
                                            <div id="collapseNdbv" class="collapse show" aria-labelledby="nd-baiviet" data-parent="#accordionNoidungbv">
                                                <div class="card-body cardbody-bep">
                                                    @Html.Raw(ThungRac.Utility.WebHelper.IndexingCss(detail.Indexing))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (detail.Type != (int)TypeArticle.Video)
                                {


                                 
                                    DateTime myDate = DateTime.Parse("01/10/2021");
                                    <div class="img-baiviet" style="position:relative;" data-ddddd="@myDate">
                                        <img src="@UIHelper.StoreFilePath(detail.Avatar, false)" class="w-100" alt="@detail.Title">
                                        
                                        @if (@detail.CreatedDate < myDate)
                                        {
                                            <div class="blog_detail-xx" style="position: absolute; bottom: 10%;">
                                                <img src="~/images/watermark.png" class="w-100" data-acc="@detail.CreatedDate" />
                                            </div>
                                        }
                                    </div>
                                }

                                @*<div class="title-bepvui">
                                        @detail.Title
                                    </div>*@
                                <p></p>
                                <div class="detail-container" data-id="@detail.Id">
                                    @Html.Raw(ThungRac.Utility.WebHelper.RenderLazyLoadBody(detail.Body))
                                </div>
                                <div class="share-mxh">
                                    <div class="key-word">
                                        @if (!string.IsNullOrEmpty(detail.Tags))
                                        {
                                            var list_tags = detail.Tags.Split(',');
                                            foreach (var item in list_tags)
                                            {
                                                var link_tar = string.Format("{0}/filter-by-{1}.html", base_uri_culture, item);
                                                <div class="key-word">
                                                    @item
                                                </div>
                                            }
                                        }

                                    </div>
                                    <div class="d-flex">
                                        <div class="fb-like" data-href="@domain_full" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                                    </div>
                                </div>
                                @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })
                                <div class="fb-comments" data-href="@domain_full" data-numposts="5" data-width="100%"></div>
                                <div class="blog-extra mb-4">
                                    <label class="txt-dd-1">Bài viết liên quan</label>
                                    <!--Lay danh sach bai viet cung chuyen muc-->
                                    <ul class="list-dacdiem">
                                        @{
                                            var zone_target_id = detail.ZoneId;
                                            var to = 0;
                                            var list_same_zone = articleRepository.GetArticlesInZoneId_Minify_FullFilter(zone_target_id, (int)TypeZone.Article, (int)TypeArticle.Blog, 2, culture_code, "", 1, 5, out to);
                                        }
                                        @foreach (var item in list_same_zone)
                                        {
                                            var link_tarrrr = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                                            <li class="item-blog-extra">
                                                <a href="@link_tarrrr">@item.Title</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
}