﻿@using XuongGiang.Services.Product.ViewModel
@using XuongGiang.Services.Product.Repository
@using XuongGiang.Services.Article.ViewModel
@using XuongGiang.Services.Article.Repository
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Services.BannerAds.Repository
@using XuongGiang.Services.Extra.ViewModel
@using XuongGiang.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using MI.Entity.Enums
@using Newtonsoft.Json
@using MI.Entity.CustomClass
@using Microsoft.AspNetCore.Http.Extensions
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@using XuongGiang.Utility
@inject ICookieUtility cookieUtility
@inject IArticleRepository articleRepository
@inject IZoneRepository zoneRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IProductRepository productRepository
@inject IConfigSEOUtility configSEOUtility
@inject IViewLocalizer Localizer

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    //HttpContext.Current.Request.Url.AbsoluteUri;
    var domain_full = Context.Request.GetDisplayUrl();
}
@{
    ViewData["Title"] = "ProductDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var detail = ViewBag.Infomation as ProductDetail;

    var setification_detail = ViewBag.Spectification as List<ProductSpectificationDetail>;
    var product_same_zone = ViewBag.SameZone as List<ProductMinify>;
    var same_total = ViewBag.SameTotal;
    var zone_id = ViewBag.Zone;
    var zone_url = ViewBag.ZoneUrl;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;

    var product_price_details = ViewBag.ListLocation as List<ProductPriceInLocationDetail>;
    var default_price_detail = ViewBag.DefaultLocationPrice as ProductPriceInLocationDetail;
    var combo = ViewBag.Combo as List<ProductMinify>
        ;
    var promotions = ViewBag.Promotion as List<PromotionInProduct>
        ;
    var comments = ViewBag.Comments as List<CommentDetail>
        ;
    var meta_file = new FileProduct();
    if (detail.MetaFile != null)
    {
        meta_file = Newtonsoft.Json.JsonConvert.DeserializeObject<FileProduct>(detail.MetaFile);
    }
    var lstLink = new List<DetailBanerAds>();
    var lstLink_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Hau_Mai_1");
    if (lstLink != null)
    {
        lstLink = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstLink_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
}
@*
    public string ConfigShemaOrg(string domain_full,string title, string avatar, DateTime createdDate, DateTime modifiedDate, string metaTitle, string web_name,string logo, string description)
    public string ConfigSocialMeta(string fbAppId = "default fbAddId", string url = "default url", string title = "default title", string description = "default description", string image = "default image")
    public string ConfigMeta(string title, string description, string keyword)

*@
@inject IViewLocalizer _localizer


@if (detail != null)
{
    
    <main>
        <section>
            <div class="container">
                @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
                @*<nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                            <li class="breadcrumb-item"><a href="product.html">Sản Phẩm Giấy AIRY</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giấy Cao Cấp AIRY</li>
                        </ol>
                    </nav>*@
            </div>
        </section>
        <section class="info-prod">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="slide-img-prod">
                            @{
                                var avatar_array = detail.AvatarArray.Split(',');
                            }
                            @foreach (var item in avatar_array)
                            {
                                <div class="aprod">
                                    <img src="@UIHelper.StoreFilePath(item, false)" class="w-100" alt="@detail.Title">
                                </div>
                            }

                            <div class="aprod">
                                <img src="img/product-details/img-detail.png" class="w-100" alt="">
                            </div>
                        </div>
                        <ul class="slide-arr-ctm">
                            <li class="slide-pre2" id="">
                                <i class="fal fa-angle-left"></i>
                            </li>
                            <li class="slide-next2" id="">
                                <i class="fal fa-angle-right"></i>
                            </li>
                        </ul>
                        @Html.Raw(detail.Description)
                    </div>
                    <div class="col-md-6">
                        <div class="txt-ifprod">
                            <div class="name-product">@detail.Title</div>
                            <div class="star">
                                @await Component.InvokeAsync("RatingStar", new { object_id = detail.Id, object_type = (int)TypeRating.Product, hTag = "left" })
                            </div>
                            <div class="txt-if-1">@Localizer["Detail"]</div>
                            <div class="py-4">
                                @Html.Raw(detail.Content)
                            </div>
                            <a href="/lien-he">
                                <div class=" cust-buynow">
                                    @Localizer["Order Now"]
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="prod-us">
            <div class="container">
                <h2 class="tit-aphome">@Localizer["Related Product"]</h2>
                <ul class="row list-products">
                    @if (product_same_zone != null)
                    {
                        foreach (var item in product_same_zone.Skip(0).Take(3))
                        {
                            var link_tar = string.Format("/{0}.html", item.Url);
                            <li class="col-md-4">
                                @await Component.InvokeAsync("ItemProduct", new { pr = item, isLazy = false })
                            </li>
                        }
                    }
                </ul>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!--Phụ kiện đi kèm end-->
                        <!--Đánh giá-->
                        <div class="row mb-3">
                            <div class="col-md-8 col-sm-8 col-8 ">
                                <h5 class="font-weight-600 mb-0">@Localizer["Rating Product"]</h5>
                            </div>
                            <div class="col-md-4 col-sm-4 col-4 text-right">
                                <button type="button" class="btn btn-save" data-toggle="modal" data-target="#modal-danh-gia">
                                    @Localizer["Rating Now"]
                                </button>
                            </div>
                        </div>
                        <!--Rating-->
                        <div class="border-r-4 border py-3 mb-4">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                                    <div class="star-average p-3 border-right">
                                        <h2 class="mb-1 font-weight-600">@Math.Round(detail.RateAVG, 1)</h2>
                                        @*<div class="ratingresult mb-2">*@
                                        <div class="star-rating d-inline-block text-center">
                                            @await Component.InvokeAsync("RatingStar", new { object_id = @detail.Id, object_type = (int)TypeRating.Product, hTag = "" })
                                        </div>
                                        <div><a href="javascript:;" class="btn-link">@detail.TotalRate @Localizer["Rating"]</a></div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-12">
                                    <aside class="rating-left">
                                        @{
                                            var x = detail.TotalRate == 0 ? 1 : detail.TotalRate;
                                            var five_star_percent = Math.Round(((double)detail.Five_Star / (double)x) * 100, 1);
                                            var four_star_percent = Math.Round(((double)detail.Four_Star / (double)x) * 100, 1);
                                            var three_star_percent = Math.Round(((double)detail.Three_Star / (double)x) * 100, 1);
                                            var two_star_percent = Math.Round(((double)detail.Two_Star / (double)x) * 100, 1);
                                            var one_star_percent = Math.Round(((double)detail.One_Star / (double)x) * 100, 1);
                                        }
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">5 </span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: @(five_star_percent)%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">@(five_star_percent)%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">4</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: @(four_star_percent)%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">@(four_star_percent)%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">3</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: @(three_star_percent)%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">@(three_star_percent)%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">2</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: @(two_star_percent)%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">@(two_star_percent)%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">1</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: @(one_star_percent)%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">@(one_star_percent)%</span>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <!--Gửi Comment-->
                        @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })

                        <!--Đánh giá end-->
                        <div class="fb-comments" data-href="@domain_full" data-numposts="5" data-width="100%"></div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- Modal đánh giá-->
    <div class="modal jan-modal fade" id="modal-danh-gia" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id="rating-form" data-type="rating" data-object-id="@detail.Id" data-object-type="@((int)CommentType.Product)" data-lang="@culture_code">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title font-weight-bold">Đánh giá ngay</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="font-weight-600 mb-4">Bạn cảm thấy sản phẩm như thế nào?(chọn sao nhé):</h6>
                    <div class="star-rating-dynamic h4 text-center mb-4">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="mb-4 ">
                        <div class="form-row p-2 ">
                            <div class="col-12">
                                <textarea class="form-control mb-3 txt_content " minlength="50" rows="4" placeholder="Type your topic here">
                                </textarea>
                            </div>
                            <div class="col-2">
                                <div class="position-relative form-control text-center mb-2 mb-md-0"
                                     style="font-size: 14px;">
                                    <img asp-append-version="true" src="images/camera.svg" class="img-fluid">
                                    <input type="file" class="input-choose-file " accept="image/*">
                                </div>
                            </div>
                            <div class="col">
                                <input type="text" style="font-size: 14px;height: calc(1.5em + .75rem + 2px);" class="form-control mb-2 mb-md-0 txt_name" placeholder="Tên (bắt buộc)" required>
                            </div>
                            <div class="col">
                                <input type="text" style="font-size: 14px;height: calc(1.5em + .75rem + 2px);" class="form-control mb-2 mb-md-0 txt_phoneOrEmail" placeholder="Email (bắt buộc)" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-save" id="btn-save-xn">
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal " id="modal-slide-imge" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl  mt-0" role="document">
            <div class="modal-content px-3">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-xl-7 col-lg-7 col-md-8 col-12">
                        <div class="slide-product-detail-2  mb-4">
                            <div class="swiper-container gallery-top-2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar,false)" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>

                                    </div>
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item,false)" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>

                                        </div>
                                    }
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar,false)" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.File360)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.FileVideo)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-container gallery-thumbs-2 px-4">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar)" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item)" class="img-fluid w-100 "
                                                     alt="@detail.Title" />
                                            </div>

                                        </div>
                                    }
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <a href="@meta_file.FileDowload" target="_blank">
                                                <img asp-append-version="true" src="images/download-con-thumb.svg" class="img-fluid w-100 " alt="" />
                                            </a>
                                        </div>
                                        Download Brochure
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img asp-append-version="true" src="images/change/360do-icon-thumb.svg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                        Hình 360 độ
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img asp-append-version="true" src="images/youtube-icon-thumb.svg" class="img-fluid w-100 " alt="" />
                                        </div>
                                        Video
                                    </div>
                                </div>
                                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                                    <button class="btn btn-link color-828282">
                                        <i class="fas fa-chevron-left"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Previous slide">
                                    <button class="btn btn-link color-828282 ">
                                        <i class="fas fa-chevron-right"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

