﻿
@using Enterbuy.Data.SqlServer.ModelDto

@using Utils


@model MI.ES.ProductSuggestResponse;

@inject Enterbuy.Data.SqlServer.Dao.Interfaces.IManufactureDao  ManufactureRepository
@{
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
    var zoneid = 0;
    if (zone_detail != null)
    {
        zoneid = zone_detail.Id;
    }
    var total = ViewBag.total;
    var NhanHieu = new List<ManufactureModel>();// await ManufactureRepository.GetManufacturesAll(Utility.DefaultLang);
}

<style>
    body {
        background-color: #f3f3f3 !important;
    }

    .filter-cate .select-local {
        min-width: 100px
    }
</style>

<style>
    .range-price.active {
        background: green;
        color: #ffffff !important;
        padding: 10px;
    }
</style>

<div class="container mb-2 client-cate">
    <div class="d-flex align-items-center">
        <div>
            Tìm thấy <span class="nuber-kq">@total</span> kết quả :
        </div>
        <div>
            <ul class="nav cust-navtab1" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#news" role="tab" aria-controls="home" aria-selected="true">
                        <label class="label-checkbox mb-0">
                            Sản phẩm
                            <input type="checkbox" checked="" data-name="Sản phẩm">
                            <span class="checkmark"></span>
                        </label>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#spmoi" role="tab" aria-controls="profile" aria-selected="false">
                            <label class="label-checkbox  mb-0">
                                Bài viết
                                <input type="checkbox" checked="" class="choose-promotion" data-is-discount-price="0" data-value="0" data-type="free-setup" data-id="" data-name="Sản phẩm">
                                <span class="checkmark"></span>
                            </label>
                        </a>
                    </li>*@
            </ul>
        </div>
    </div>


    <div class="bg-fff border-r-4">
        @if (NhanHieu != null && NhanHieu.Count > 0)
        {
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-4 col-12 align-self-center">
                    <div class="px-3 py-2" style="font-size: 13px; line-height: 1.1;">Tìm kiếm theo thương hiệu</div>
                </div>
                <div class="col-lg-8 col-md-11 col-10">
                    <div class="swiper-container slide-brand ">
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @for (int i = 0; i < NhanHieu.Count; i++)
                            {
                                <div class="swiper-slide">
                                    <div class=" nhanhieu" data-id="@NhanHieu[i].Id">
                                        <img src="@UIHelper.StoreFilePath(NhanHieu[i].Avatar)" class="w-100" />
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                @if (NhanHieu.Count > 6)
                {
                    <div class="col-lg-1 col-md-1 col-2 text-center">
                        <a href="javascript:;" onclick="expandClient()" class="btn btn-sm pt-2 "><i class="fas fa-chevron-down"></i></a>
                    </div>
                }
            </div>
        }
        <div class="full-client">
            @if (NhanHieu.Count > 6)
            {
                <div class="row no-gutters ">
                    @for (int i = 0; i < NhanHieu.Count; i++)
                    {
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 ">
                            <div class="border py-1 px-3 nhanhieu" data-id="@NhanHieu[i].Id">
                                <img src="@UIHelper.StoreFilePath(NhanHieu[i].Avatar)" class="img-fluid" />
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="filter-cate">
    @*<div class="container ">
            <div class="bg-fff border-r-4 px-3 py-2 mb-3">
                <div class="row">
                    <div class="col-xl-2 col-md-12 col-sm-12 col-12">
                        <div class="form-group d-flex mb-2 mb-lg-0 small py-2">
                            <label for="formControlRange" class="mb-0 mr-3 ">Tìm kiếm theo</label>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-6 col-sm-12 col-12 small align-self-center filter-select">
                        <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="0-4000000">Dưới 4 triệu</a>
                        <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="4000000-8000000">Từ 4 - 8 triệu</a>
                        <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="8000000-12000000">Từ 8 - 12 triệu</a>
                        <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="12000000-16000000">Từ 12 - 16 triệu</a>
                        <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="16000000-1000000000">Trên 16 triệu</a>
                    </div>
                    <div class="col-xl-5 col-md-6 col-sm-12 col-12 align-self-center text-right text-md-right  ">
                        <div class="dropdown d-inline-block select-local">
                            <select class="form-control mb-2 mb-lg-0 filter-select extra-sort">
                                <option hidden value="">Bổ sung</option>
                                <option value="3">Nổi bật nhất</option>
                                <option value="2">Giá tăng dần</option>
                                <option value="1">Giá giảm dần</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
<div class="list-prod-search">
    <div class="container">
        @if (Model.Suggests != null && Model.Suggests.Count() > 0)
        {
            <div class="bg-fff border-r-4 px-3 py-2 mb-3">
                <p class="txt-all-sp" data-keyword="@ViewBag.TuKhoa">Tất cả sản phẩm : @ViewBag.TuKhoa</p>
                <div class="row no-gutters">
                    @foreach (var item in Model.Suggests)
                    {
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="item-product" data-id="@item.Id" data-properties="@item.Properties">
                                <div class="tag-1">
                                </div>
                                <div class="image">
                                    <a href="@item.Url"><img src="@item.Avatar" class="img-fluid"></a>
                                    <div class="tag-2">
                                        <img asp-append-version="true" src="" alt="@item.Name" class="img-fluid tag-2-thumb" />
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h5 class="title" style="text-transform:capitalize">
                                        <a href="@item.Url" title="@item.Name">
                                            @item.Name
                                        </a>
                                    </h5>
                                    @if (item.DiscountPrice == item.Price)
                                    {
                                        <div class="price-new">
                                            @item.DiscountPrice đ
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price-new">
                                            @item.DiscountPrice đ
                                        </div>

                                        <div>
                                            <span class="price-old">
                                                @item.Price đ
                                            </span>
                                            @if (item.DiscountPercent > 0)
                                            {
                                                <b class="sale-percent">( - @item.DiscountPercent %)</b>
                                            }
                                        </div>


                                    }
                                    <div class="size small mb-1">
                                        @*@if (!String.IsNullOrEmpty(item.Spectificat))
                                            {
                                                @KT: item.Spectificat;
                                            }*@
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            @item.Rate/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            @item.Evaluate đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
                <div class="text-center my-5 pb-4">
                    <a href="#" class="btn btn-outline-view-more" data-index="3" data-size="12">Xem thêm<i class="fas fa-chevron-down ml-2 " aria-hidden="true"></i></a>
                </div>
            </div>
        }
        else
        {
            <div class="bg-fff border-r-4 px-3 py-2 mb-3">
                <p class="txt-all-sp">Không tìm thấy kết quả nào phù hợp</p>
                <p>Để tìm thấy kết quả chính xác hơn bạn vui lòng:</p>
                <ul class="list-fixbug">
                    <li>Kiểm tra lại lỗi chính tả.</li>
                    <li>Thử lại với từ khóa khác.</li>
                </ul>
            </div>
        }
    </div>
</div>

@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")

@section Scripts{
    <script>
        $(".btn-outline-view-more").off('click').on('click', function (e) {
            debugger 
            e.preventDefault();
            var thiss = $(this);
            var url = "/Search/ViewMore";
            let keyword = $(".txt-all-sp").attr("data-keyword");
            let pageIndex = thiss.attr("data-index");
            let pageSize = thiss.attr("data-size");
            var params = {
                keyword: keyword,
                pageIndex: pageIndex,
                pageSize: pageSize
            };
            $.get(url, params, function (response) {
                if (response.trim().length > 0) {
                    $(".no-gutters").append(response);
                    thiss.attr("data-index", parseInt(pageIndex) + 1);
                } else {
                    thiss.hide();
                }
            });
        });
    </script>

}