﻿
@using Enterbuy.Data.SqlServer.ModelDto

@using Utils


@model MI.ES.ProductSuggestResponse


@if (Model.Suggests != null && Model.Suggests.Count() > 0)
{

    foreach (var item in Model.Suggests)
    {
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="item-product" data-id="@item.Id" data-properties="@item.Properties">
                <div class="tag-1">
                </div>
                <div class="image">
                    <a href="@item.Url"><img src="@item.Avatar" class="img-fluid"></a>
                    <div class="tag-2">
                        <img asp-append-version="true" src="" alt="@item.Name" class="img-fluid tag-2-thumb" />
                    </div>
                </div>
                <div class="mt-2">
                    <h5 class="title" style="text-transform:capitalize">
                        <a href="@item.Url" title="@item.Name">
                            @item.Name
                        </a>
                    </h5>
                    @if (item.DiscountPrice == item.Price)
                    {
                        <div class="price-new">
                            @item.DiscountPrice đ
                        </div>
                    }
                    else
                    {
                        <div class="price-new">
                            @item.DiscountPrice đ
                        </div>
                        <div>
                            <span class="price-old">
                                @item.Price đ
                            </span>
                            @if (item.DiscountPercent > 0)
                            {
                                <b class="sale-percent">( - @item.DiscountPercent %)</b>
                            }
                        </div>
                    }
                    <div class="size small mb-1">

                    </div>
                    <div class="review d-flex">
                        <div class="color-FFAB1B mr-2">
                            @item.Rate/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                        </div>
                        <div class="color-828282">
                            @item.Evaluate đánh giá
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


