﻿@using MI.Entity.Enums;
@using DienMayThoiDai.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using DienMayThoiDai.Services.Article.Repository
@using DienMayThoiDai.Services.Zone.Repository
@using DienMayThoiDai.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@model ZoneDetail;
@using Utils
@{
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var total = 0;
    var list_bai_viet = articleRepository.GetArticlesInZoneParent(Model.Id, culture_code, index, size, out total);
    var bai_viet_top = list_bai_viet.FirstOrDefault();
    var bai_viet_con = list_bai_viet.Skip(1).Take(size - 1).ToList();


}
@{
    Layout = null;
}

<div class="blog-detail">
    <div class="paging-container" style="display:none" data-total="@total" data-size="@size" data-currentpage="@index"></div>
    
    @if (bai_viet_top != null)
    {
        var link = LinkRedirectUrlUtility.BlogDetailUrl(bai_viet_top.Url);
        <div class="news-hot">
            <div class="row">
                <div class="col-md-12">

                    <a href="@link">
                        <img src="@UIHelper.StoreFilePath(bai_viet_top.Avatar, false)" class="w-100" alt="@bai_viet_top.Title">
                    </a>
                </div>
                <div class="col-md-12">
                    <a href="@link">
                        <div class="tit-news" style="padding-top: 20px;">
                            @bai_viet_top.Title
                        </div>
                    </a>
                    <p class="trl-news" style="padding-top: 20px;">@Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(bai_viet_top.Description), 20, "..."))</p>
                    <div class="date-artic">
                        <label>@UIHelper.GetLongDate(bai_viet_top.CreatedDate) @bai_viet_top.CreatedDate.ToString("dd/MM/yyyy")</label>
                        <label>|</label>
                        <a href="@link" class="see-more">XEM THÊM</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <ul class="list-baiviet">
        @foreach (var item in bai_viet_con)
        {
            var link = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
            <li class="baiviet-mn">
                <div class="row">

                    <div class="col-md-4">
                        <a href="@link">
                            <img src="@UIHelper.StoreFilePath(item.Avatar, false)" class="w-100" alt="@item.Title">
                        </a>
                    </div>


                    <div class="col-md-8">
                        <a href="@link">
                            <div class="tit-news pt-0">
                                @item.Title
                            </div>
                        </a>
                        <p class="trl-news">@Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(item.Description), 20, "..."))</p>
                        <div class="date-artic">
                            <label>@UIHelper.GetLongDate(item.CreatedDate) @item.CreatedDate.ToString("dd/MM/yyyy")</label>
                            <label>|</label>
                            <a href="@link" class="see-more">XEM THÊM</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
