﻿@using Enterbuy.Services.Blog.Services;
@using Enterbuy.Core.Enumerations;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization

@using Enterbuy.Data.SqlServer.ModelDto;
@inject IBlogServices blogServices
@{
    var base_uri_culture = "/";
    ArticleDetail detail = new ArticleDetail();
    if (ViewBag.Detail != null)
    {
        detail = (ArticleDetail)ViewBag.Detail;
    }
}


<div class="container">
    <div class="row ">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="recrui-content ">
                <h1 class="title">@detail.Title</h1>
                <div class="color-828282 mb-4" style="font-size: 14px;">
                    @if (detail.ArticleRecruitment != null)
                    {
                        <span class="mr-3 mb-2">
                            <img asp-append-version="true" src="/images/icon-sm-td-1.svg" class="img-fluid mr-2" />@detail.ArticleRecruitment.Position
                        </span>
                        <span class="mr-3  mb-2">
                            <img asp-append-version="true" src="/images/icon-sm-td-2.svg" class="img-fluid mr-2" />@detail.ArticleRecruitment.Count
                        </span>
                        <span class="mr-3  mb-2">
                            <img asp-append-version="true" src="/images/icon-sm-td-3.svg" class="img-fluid mr-2" />@detail.ArticleRecruitment.Salary
                        </span>
                    }
                    else
                    {
                        <span class="mr-3 mb-2">
                            <img asp-append-version="true" src="/images/icon-sm-td-1.svg" class="img-fluid mr-2" />
                        </span>
                        <span class="mr-3  mb-2">
                            <img asp-append-version="true" src="/images/icon-sm-td-2.svg" class="img-fluid mr-2" />
                        </span>
                        <span class="mr-3  mb-2">
                            <img asp-append-version="true" src="/images/icon-sm-td-3.svg" class="img-fluid mr-2" />
                        </span>
                    }
                </div>
                <div class="detail">
                    @Html.Raw(detail.Body)
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-lg-5">
            <div class="heading pb-2   mb-2 ">
                <div class="h4 font-weight-600 mb-0 ">
                    Ứng tuyển
                </div>
            </div>
            <div class="mb-4">
                <form class="form-ung-tuyen">
                    <div class="form-group">
                        <div class="form-control py-2 " style="color: #007DFF;">Chuyên viên kinh doanh</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Họ tên *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Email *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Số điện thoại *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Địa chỉ *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Mức lương mong muốn *">
                    </div>
                    <div class="form-group">
                        <textarea type="text" rows="5" class="form-control" id=""
                                  placeholder="Thông tin thêm"></textarea>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-sm-7 col-7 position-relative">
                            <input type="text" class="form-control" id="" placeholder="Gửi hồ sơ ngay">
                            <input type="file" class="form-control input-file">
                        </div>
                        <div class="col-sm-5 col-5">
                            <button class="btn btn-save btn-file">Chọn hồ sơ</button>
                            <input type="file" class="form-control input-file">
                        </div>
                        <div class="col-12">
                            <small class="form-text text-muted color-828282">* File đính kèm dung lượng tối đa 5MB</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-save w-100">Ứng tuyển</button>
                    </div>
                </form>
            </div>
        </div>
        @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Article })
    </div>
</div>