﻿<section class="form-contact py-4 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 pt-4">
                <div class="heading font-weight-bold h4 text-uppercase mb-4">Trụ sở</div>
                <div class="d-flex mb-4">
                    <div class="icon">
                        <img src="~/images/icon-home.svg" class="img-fluid mr-3" />
                    </div>
                    <div class="text pt-1">
                        <div class="mb-1 font-weight-600">Trụ sở tại miền Bắc</div>
                        <div class="text-sm">
                            114 Khuất Duy Tiến - Nhân Chính - Thanh Xuân - Hà Nội.
                        </div>
                        <div class="text-sm">
                            Điện thoại: 0247.776.6666
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="icon">
                        <img src="~/images/icon-home.svg" class="img-fluid mr-3" />
                    </div>
                    <div class="text pt-1">
                        <div class="mb-1 font-weight-600">Trụ sở tại miền Nam</div>
                        <div class="text-sm">
                            24 đường số 7, CityLand Center Hills, Phường 7, Gò Vấp, TP.HCM
                        </div>
                        <div class="text-sm">
                            Điện thoại: 0247.776.6666
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mb-5">
                    <div class="col-12 col-md-6">
                        <div>
                            <i class="fas fa-phone-alt mr-3"></i>Hotline:  0247.776.6666
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div>
                            <i class="fas fa-envelope mr-3"></i>Email: info@enterbuy.vn
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <form class="form-contact-home">
                    <div class="  font-weight-bold h5  mb-4 color-333">Đăng ký tư vấn</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id=" " placeholder="Họ tên *">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="tel" class="form-control" id=" " placeholder="SĐT *">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id=" " placeholder="Địa chỉ *">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <textarea type="text" rows="5" class="form-control" id=" " placeholder="Tin nhắn *"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0 text-right">
                            <button class="btn btn-submit px-5 ">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>