﻿@using Enterbuy.Data.SqlServer.ModelDto;
@using Enterbuy.Data.SqlServer.Dto;
@using Utils

@inject Enterbuy.Data.SqlServer.Dao.Interfaces.IProductDao  productRepository
@{
    var fp = ViewBag.fp as FilterProductBySpectification;

    var total = 0;
    var models = productRepository.FilterProductBySpectificationsInZone(fp, out total);

}
@if (models != null && models.Count >0)
{
    <div class="set-total" data-total="@total" data-id="@fp.parentId" data-is-rendered="@models.Count()" style="display:none"></div>
    <div class="row no-gutters mb-3 mb-md-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row no-gutters h-100 ">
                @foreach (var item in models)
                {
                    var link_tar = BaseBA.UrlProduct("", item.Url);
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="item-product px-lg-4" data-id="@item.ProductId" data-properties="@item.PropertyId">
                            <div class="tag-1">

                            </div>
                            <div class="image">
                                <a href="@link_tar">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)"
                                         class="img-fluid  h-100" alt="@item.Title" />
                                </a>
                                <div class="tag-2">
                                    <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                </div>
                            </div>
                            <div class="mt-4">
                                <h5 class="title">
                                    <a href="@link_tar" title="@item.Title">
                                        @item.Title
                                    </a>
                                </h5>
                                <div class="text-left">
                                    <div class="price-new">
                                        @UIHelper.FormatNumber(item.SalePrice)
                                    </div>
                                    <div class="price-old">
                                        @UIHelper.FormatNumber(item.Price)
                                    </div>

                                </div>
                                <div class="size small mb-1">
                                    @if (!String.IsNullOrEmpty(item.SpecName) && !String.IsNullOrEmpty(item.SpecValue))
                                    {
                                        @Html.Raw($"{item.SpecName}:{item.SpecValue}");
                                    }
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                    </div>
                                    <div class="color-828282">
                                        @item.CountRate đánh giá
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row no-gutters mb-3 mb-md-0">Không có sản phẩm nào phù hợp</div>

}
