﻿@model Enterbuy.Data.SqlServer.ModelDto.InstallmentViewModel
@using Newtonsoft.Json;
@using Utils;
@using Enterbuy.Data.SqlServer.ModelDto
@using MI.Entity
@{
    ViewData["Title"] = "Installment";
    decimal PriceSource = 0;
    if (Model.v_ProductPriceInLocationDetail != null)
    {
        PriceSource = Model.v_ProductPriceInLocationDetail.SalePrice;
    }
    int InstallmentNum = (int)MI.Entity.Enums.OrderType.Installment;
}
<input id="ProductDetail_Id" type="hidden" value="@Model.v_ProductDetail.Id" />
<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Trả góp</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.v_ProductDetail.Title</li>
        </ol>
    </nav>
</div>
<section class="product-instment">
    <div class="container">
        <div class="d-flex mb-inst-cust">
            <div class="image-product custom-img-trgop mr-3">
                <img src="@UIHelper.StoreFilePath(Model.v_ProductDetail.Avatar)" class="w-100" />
            </div>
            <div class="text align-self-center">
                <div class="row dsad">
                    <div class="col-md-12">
                        <div class="d-flex mb-block">
                            <h5 class="txt-mtg">MUA TRẢ GÓP:</h5>                            
                            <h5 class="name-product">@Model.v_ProductDetail.Title</h5>
                            <input type="hidden" id="is-flash-sale" value="@InstallmentNum" />
                        </div>
                        <div class="price-mtg">
                            <span class="txt-price-tg">Giá tại:</span>
                            <span class="txt-price-tg1"><a href="#">@Model.v_ProductPriceInLocationDetail.LocationName</a></span>
                            <span class="txt-price-tg2">@UIHelper.FormatNumber(Model.v_ProductPriceInLocationDetail.SalePrice)</span>
                            @if (Model.v_ProductPriceInLocationDetail.SalePrice != Model.v_ProductPriceInLocationDetail.Price)
                            {
                                <span class="old" id="price-normal" style="text-decoration: line-through;">@UIHelper.FormatNumber(Model.v_ProductPriceInLocationDetail.Price)</span>
                            }
                            <span class="txt-price-tg3">(Giá bao gồm thuế VAT)</span>
                        </div>
                        <div>
                            @{
                                foreach (var obj in Model.v_ProductInPromotion)
                                {
                                    Model.v_ProductPriceInLocationDetail.SalePrice = Model.v_ProductPriceInLocationDetail.SalePrice - obj.IsDiscountPrice;
                                    <label class="label-checkbox mb-2 ">
                                        @obj.Name (<a href="" class=" color-EE7D22">xem chi tiết</a>)
                                        <input type="checkbox" class="promotion_product" data-id="@obj.Id" data-type="@obj.Type" data-value="@obj.Value" data-name="@obj.Name" data-discount="@obj.IsDiscountPrice" checked/>
                                        <span class="checkmark"></span>
                                    </label>
                                }
                            }

                          
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="container">
        <div class="main-install">
            <div class=" txt-tgcard">
                <div class="d-flex">
                    <img src="images/Bank/card 1.svg" alt="">
                    <div class="pd-10">
                        <span class="txt-tg-1">TRẢ GÓP BẰNG THẺ TÍN DỤNG</span> <br>
                        <span class="txt-tg-2">Nhận máy ngay, không xét duyệt hồ sơ</span>
                    </div>
                </div>
                <div class="txt-tg-3">
                    <a href="#">Xem chi tiết chương trình</a>
                </div>
            </div>
            <div class="list-card">
                <span class="txt-tg-1">1. Chọn thẻ tín dụng của ngân hàng</span>
                <ul class="row pd-t-10 " id="listBank">
                    @{
                        int bank_id = 0;
                        string title = string.Empty;
                        string active = "active";
                        float charge = 0;
                        CardInfoViewModel infocard = null;
                        foreach (var row in Model.v_BankInstallment)
                        {
                            if (row.Type == 1)
                            {
                                <li class="col-md-2 col-4 " data-price="@Model.v_ProductPriceInLocationDetail.SalePrice">
                                    <input value="@row.InfoCard" id="InfoCard_@row.Id" type="hidden" />
                                    <a><img src="@UIHelper.StoreFilePath(row.Avatar)" data-id="@row.Id" data-title="@row.Name" data-price="@Model.v_ProductPriceInLocationDetail.SalePrice" data-charge="@row.Charge" class="cust-icon-bank @active w-100 LoadInfoCard_Click" alt="bank" /></a>
                                </li>
                                if (active == "active")
                                {
                                    bank_id = row.Id;
                                    title = row.Name;
                                    charge = row.Charge;
                                    infocard = JsonConvert.DeserializeObject<CardInfoViewModel>(row.InfoCard);
                                    active = "";
                                }
                            }
                        }
                    }
                </ul>
                <span class="txt-tg-1">2. Chọn loại thẻ tín dụng</span>
                <ul class="row pd-t-10" id="listBank_pay">
                    @{
                        string title_pay = string.Empty;
                        active = "active";
                        foreach (var row in Model.v_BankInstallment)
                        {
                            if (row.Type == 2)
                            {
                                <li class="col-md-2 col-4">
                                    <a><img src="@UIHelper.StoreFilePath(row.Avatar)" data-id="@row.Id" data-title="@row.Name" class="cust-icon-bank @active w-100 LoadInfoCard_Pay_Click" alt="bank" /></a>
                                </li>
                                if (active == "active")
                                {
                                    title_pay = row.Name;
                                    active = "";
                                }
                            }
                        }
                    }
                </ul>
                @{
                    if (infocard != null)
                    {

                        decimal giasanpham = Model.v_ProductPriceInLocationDetail.SalePrice;
                        decimal gia = 0;
                        float phi = charge;
                        var l_InfoCard = infocard.InfoCard;
                        string thangtragop = "";
                        List<decimal> listPhiQuetThe = new List<decimal>();
                        List<decimal> listPhiTraGop = new List<decimal>();
                        List<decimal> listGiaMuaTraGop = new List<decimal>();
                        List<decimal> listGopMoiThang = new List<decimal>();
                        foreach (var obj in l_InfoCard)
                        {
                            thangtragop += "<td>" + obj.MonthNumber + " tháng</td>";
                            listPhiQuetThe.Add((decimal)((decimal)(phi /100) * giasanpham) * decimal.Parse(obj.MonthNumber));
                            listPhiTraGop.Add((decimal)(giasanpham * decimal.Parse(obj.InterestRate) / 100));
                        }
                        for (int i = 0; i < l_InfoCard.Count; i++)
                        {
                            gia = giasanpham + listPhiQuetThe[i] + listPhiTraGop[i];
                            listGiaMuaTraGop.Add(gia);
                            listGopMoiThang.Add(gia / decimal.Parse(l_InfoCard[i].MonthNumber));
                        }
                        <input type="hidden" id="tableBankInfo_value" data-id="" data-lai="" data-thang="" data-gopmoithang="" data-bank="@title" data-card="@title_pay" />
                        <table class="cust-table table-bordered" id="tableBankInfo">
                            <thead>
                                <tr>
                                    <th colspan="5" class="cust-thead">
                                        Trả góp qua @title_pay, @title
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Số tháng trả góp</td>
                                    @Html.Raw(thangtragop)
                                </tr>
                                <tr>
                                    <td>Giá mua trả góp</td>
                                    @foreach (var obj in listGiaMuaTraGop)
                                    {
                                        <td>@UIHelper.FormatNumber(@Math.Round(giasanpham, 0)) </td>
                                    }
                                </tr>
                                <tr>
                                    <td>Phí trả góp</td>
                                    @foreach (var obj in listPhiTraGop)
                                    {
                                        <td>@UIHelper.FormatNumber(Math.Round(obj, 0)) </td>
                                    }
                                </tr>
                                <tr>
                                    <td>Góp mỗi tháng</td>
                                    @foreach (var obj in listGopMoiThang)
                                    {
                                        <td>@UIHelper.FormatNumber(Math.Round(obj, 0)) </td>
                                    }
                                </tr>
                                <tr>
                                    <td>Tổng tiền phải trả</td>
                                    @foreach (var obj in listGiaMuaTraGop)
                                    {
                                        <td>@UIHelper.FormatNumber(Math.Round(obj, 0)) </td>
                                    }
                                </tr>
                                <tr>
                                    <td>Chênh lệch với mua trả thẳng</td>
                                    @foreach (var obj in listGiaMuaTraGop)
                                    {
                                        <td>@UIHelper.FormatNumber(Math.Round((obj - giasanpham), 0)) </td>
                                    }
                                </tr>
                                <tr>
                                    <td></td>
                                    @for (int i = 0; i < l_InfoCard.Count; i++)
                                    {
                                        <td>
                                            <div class="ahi-buy">
                                                <button onclick="btnbuyinstallment_click(event, '@bank_id', '@l_InfoCard[i].MonthNumber', '@l_InfoCard[i].InterestRate', '@Math.Round(listGopMoiThang[i])')" class="btn-buy btn-buy-installment-click cust-choose">
                                                        Chọn mua
                                                </button>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                <script>
                    function btnbuyinstallment_click(event, id, monthnumber, interestrate, gopmoithang) {
                        for (var i = 0; i < $('.btn-buy-installment-click').length; i++) {
                            $('.btn-buy-installment-click')[i].textContent = 'Chọn mua'
                        }                        
                        event.target.textContent = 'Đã chọn';
                        //console.log(id + ' ' + monthnumber + ' ' + interestrate + ' ' + gopmoithang)
                        $('#tableBankInfo_value').attr('data-id', id);
                        $('#tableBankInfo_value').attr('data-thang', monthnumber);
                        $('#tableBankInfo_value').attr('data-lai', interestrate);
                        $('#tableBankInfo_value').attr('data-gopmoithang', gopmoithang);                        
                    }
                </script>
                <section class="infor-customer">
                    <form id="order-form-installment">
                        <partial name="~/Views/Product/_InfoCustommer.cshtml" />
                        <div class="form-row mb-4">
                            <div class="col-sm-12 col-12">
                                <textarea type="text" rows="2" class="form-control mb-3" id="other_required" placeholder="Yêu cầu khác"></textarea>
                                <button type="submit" class="btn-buy-now btn-installment-pay">
                                    THANH TOÁN NGAY
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>

<div class="modal jan-modal  fade" id="modal-tra-gop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Đơn hàng</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body  pt-0" style="color: #4f4f4f;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <p> Mã số đơn hàng: <span class="font-weight-600 order-code">1029xxx2833</span></p>
                        <div class="row">
                            <div class="mb-3 col-lg-6 col-md-12 col-12">
                                <label class="font-weight-bold mb-1 ">Thông tin khách hàng</label>
                                <div class="customer-id" data-id="0" style="display:none;"></div>
                                <div>- Anh/ Chị: <span class="font-weight-600 customer-name">Nguyễn Tiến Đức</span></div>
                                <div>- SĐT: <span class="font-weight-600 customer-phone"> 0292938333</span></div>
                                <div>- Địa chỉ:<span class="font-weight-600 customer-address"> Tân Triều - Hà Đông - Hà Nội</span></div>
                            </div>
                            <div class="mb-3 col-lg-6 col-md-12 col-12">
                                <label class="font-weight-bold mb-1">Ghi chú </label>
                                <div class="customer-note"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="mb-3">
                            <p> Thời gian đặt hàng: <span class="font-weight-600 order-time">10 - 02 - 2019 </span></p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="mb-3">
                            <label class="font-weight-bold mb-1 ">Thông tin trả góp</label>                            
                            <div class="row">
                                <div class="mb-3 col-lg-6 col-md-12 col-12">
                                    <div>- Thẻ ngâng hàng: <span class="font-weight-600 bank-name"></span></div>
                                    <div>- Loại thẻ: <span class="font-weight-600 bank-card"></span></div>
                                </div>
                                <div class="mb-3 col-lg-6 col-md-12 col-12">
                                    <div>- Số tháng: <span class="font-weight-600 bank-month"></span></div>
                                    <div>- Góp mỗi tháng: <span class="font-weight-600 bank-everymonth"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">                        
                        <div class="mb-3">
                            <label class="font-weight-bold mb-1 ">Thông tin đơn hàng</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán</th>
                                        <th>KM đi kèm</th>
                                        <th>Tổng tiền</th>
                                        <th>Voucher</th>
                                    </tr>
                                </thead>
                                <tbody class="table-infomation-product">
                                    <tr class="table-report-item">
                                        <td class="product-id" hidden="">@Model.v_ProductDetail.Id</td>
                                        <td class="product-name">@Model.v_ProductDetail.Title</td>
                                        <td class="product-quantity">1</td>
                                        <td class="product-price">@UIHelper.FormatNumber(PriceSource) </td>
                                        <td class="product-promotion">
                                            <ul class="product-promotion-ul">
                                                @foreach (var obj in Model.v_ProductInPromotion)
                                                {
                                                    <li>@obj.Name</li>
                                                }
                                            </ul>
                                        </td>
                                        <td class="product-total-price" data-saleprice="@Model.v_ProductPriceInLocationDetail.SalePrice">@UIHelper.FormatNumber(Model.v_ProductPriceInLocationDetail.SalePrice) đ</td>
                                        <td class="product-vourcher">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <div>Số tiền cần thanh toán: </div>
                            <div class="ml-auto font-weight-600 color-EE7D22 total-payment">@UIHelper.FormatNumber(Model.v_ProductPriceInLocationDetail.SalePrice) </div>
                            <div class="order-vat">(Đã bao gồm VAT)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-save btn_installment_save">Hoàn thành</button>
            </div>
        </div>
    </div>
</div>
    @await Component.InvokeAsync("CategoryHomePage")
    @await Component.InvokeAsync("AdvisoryHomePage")
    @await Component.InvokeAsync("ServiceFooter")
