﻿@using DiDongXanh_Web.Services.Product.ViewModel;
@using DiDongXanh_Web.Services.Product.Repository;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using DiDongXanh_Web.Utility

@using MI.Entity.Enums
@inject ICookieUtility cookieUtility
@inject IProductRepository productRepository

@{


    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}

@{
    var product_ids = ViewBag.Product_Ids;
    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
    var total_last_seen = 0;
    var list_product_last_seen = new List<ProductMinify>();
    list_product_last_seen = productRepository.GetProductInListProductsMinify(product_ids, location_id, culture_code, 1, 5, out total_last_seen);

}

<div class="name_daxem products-right__title">
    Sản Phẩm Bạn Đã Xem
</div>
<div class="sanpham_daxem">
    @foreach (var item in list_product_last_seen)
    {
        var link_tar = string.Format("/{0}.html", item.Url);

        <!-- Item -->
        <div class="products-right__item">
            <div class="product-item-small item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                <div class="product-item-small__image">
                    <a href="@link_tar">
                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)"
                             class="img-fluid  w-100" alt="@item.Title" />
                    </a>
                </div>
                <div class="product-item-small__content">
                    <div class="product-item-small__pay">Trả góp 0%</div>
                    <div class="product-item-small__cate">@item.ZoneName</div>
                    <h4 class="product-item-small__title">
                        <a href="@link_tar" title="@item.Title">
                            @item.Title
                        </a>
                    </h4>
                    <div class="product-item-small__price">

                        @{

                            decimal up_price = 0;
                            decimal down_price = 0;
                            if (item.SalePrice > 0 && item.SalePrice < item.Price)
                            {
                                up_price = item.SalePrice;
                                down_price = item.Price;
                            }
                            if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                            {
                                up_price = item.Price;
                                down_price = 0;
                            }
                        }
                        @if (item.FlashSaleId > 0)
                        {
                            <p class="product-item-small__price-old">
                                @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(up_price) + "₫"))
                            </p>
                            <p class="product-item-small__price-new">
                                @UIHelper.FormatNumber(item.ProductPriceInFlashSale)₫  @item.Unit
                            </p>
                        }
                        else
                        {
                            if (down_price > 0)
                            {
                                <p class="product-item-small__price-old">
                                    @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(down_price) + "₫"))
                                </p>
                                <p class="product-item-small__price-new">
                                    @UIHelper.FormatNumber(up_price)₫  @item.Unit
                                </p>

                            }
                            if (down_price == 0)
                            {
                                <p class="product-item-small__price-new">
                                    @UIHelper.FormatNumber(up_price)₫  @item.Unit
                                </p>
                                @*<div class="price-old">
                                        @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(item.Price) + "đ"))
                                    </div>*@
                            }

                        }
                        <div class="product-item-small__discount">
                            <img src="~/design/images/icons/flash-yellow.svg"
                                 alt="Icon Flash" />
                            <span>Giảm @item.DiscountPercent % </span>
                        </div>
                    </div>
                    <div class="product-item-small__rating">
                        <div class="product-item-small__rating-stars">
                            @await Component.InvokeAsync("RatingStar", new { object_id = @item.ProductId, object_type = (int)TypeRating.Product, hTag = "" })
                        </div>
                        <div class="product-item-small__rating-number">
                            (@item.CountRate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item -->



    }
</div>