﻿@using MI.Entity.Enums;
@using DiDongXanh_Web.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using DiDongXanh_Web.Services.Article.Repository
@using DiDongXanh_Web.Services.Zone.Repository
@using DiDongXanh_Web.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@model ZoneByTreeViewMinify;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var path = Context.Request.Path.ToString();


}
@{
    Layout = null;
    var list_child = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.AllButProduct, culture_code, Model.Id);
    var lv1 = list_child.Where(r => r.level == Model.level + 1);
}



<h4 class="blog-cate-vertical__title">
    @Model.Name
</h4>
<ul class="blog-cate-vertical__list accordion" id="accordionExample">
    @{ var count = 1;}
    @foreach (var it in lv1)
    {
        var link_tar = LinkRedirectUrlUtility.BlogLinkUrl(it.Url);
        var lv2 = list_child.Where(r => r.ParentId == it.Id);
        var isShow = false;
        <li class="blog-cate-vertical__item" id="heading@(count)">

            @if (lv2.Count() > 0)
            {
                foreach (var v in lv2)
                {

                    if (v.Url.Equals(path.Replace("/", "")))
                    {
                        isShow = true;
                    }
                }
                <a href="@link_tar" class="blog-cate-vertical__link">@it.Name</a>
                <i class="fa fa-angle-down"></i>
                <div class="blog-cate-vertical__sub">
                    <ul class="blog-cate-vertical__sub-list">

                        @foreach (var v in lv2)
                        {
                            var style_red = false;
                            var lk = LinkRedirectUrlUtility.BlogLinkUrl(v.Url);
                            if (v.Url.Equals(path.Replace("/", "")))
                            {
                                style_red = true;
                            }

                            @*<div id="collapse@(count)" class="collapse @(isShow2 == true ? "show" :"")" aria-labelledby="heading@(count)" data-parent="#accordionExample">
                                    <div class="card-body cardbody-bep @(style_red == true ? "card-slt" : "")">
                                        <a href="@lk">
                                            @v.Name
                                        </a>
                                    </div>
                                </div>*@
                            <li class="blog-cate-vertical__sub-item">
                                <a href="@lk"> @v.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (lv2.Count() <= 0)
            {

                <a href="@link_tar" class="blog-cate-vertical__link">@it.Name</a>

            }

        </li>


        count++;
    }

</ul>
