﻿@using DiDongXanh_Web.Services.Product.Repository
@using DiDongXanh_Web.Services.Zone.Repository
@using MI.Entity.Enums
@using DiDongXanh_Web.Services.BannerAds.Repository
@using DiDongXanh_Web.Services.Store.Repository
@using DiDongXanh_Web.Services.Locations.Repository
@using DiDongXanh_Web.Services.Store.ViewModel
@using DiDongXanh_Web.Services.Locations.ViewModal
@using DiDongXanh_Web.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using DiDongXanh_Web.Services.Article.Repository
@using Newtonsoft.Json
@using DiDongXanh_Web.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IStoreRepository storeRepository
@inject ILocationsRepository locationsRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var northside_add = bannerAdsRepository.GetConfigByName(culture_code, "northside_address");
    var northside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "northside_hotline");
    var northside_email = bannerAdsRepository.GetConfigByName(culture_code, "northside_email");
    var southside_add = bannerAdsRepository.GetConfigByName(culture_code, "southside_address");
    var southside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "southside_hotline");
    var southside_email = bannerAdsRepository.GetConfigByName(culture_code, "southside_email");
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var logo = bannerAdsRepository.GetConfigByName(culture_code, "Logo");
    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
}
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Liên hệ</li>
    </ol>
</div>
<!-- End Breadcrumb -->
<section>
    <div class="page-contact">
        <div class="container">
            <h4 class="page-contact__title bd-ct">Văn phòng</h4>
            <div class="row">
                <div class="col-md-6 page-contact__maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d59596.33512844585!2d105.75748635391454!3d21.001816931873552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d21.0020573!2d105.7924194!4m5!1s0x3135acafe13a7863%3A0xfed5b8ea7c086dc1!2zUHJvdmlldyBUb3dlciwgMjg5QSBLaHXhuqV0IER1eSBUaeG6v24sIFRydW5nIEhvw6AsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!3m2!1d21.0017404!2d105.79259169999999!5e0!3m2!1svi!2s!4v1592301185708!5m2!1svi!2s"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-6 page-contact__info">
                    <div class="truso page-contact__info-box">
                        <div class="page-contact__info-logo">
                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(logo)?v=@WebHelper.Version()" />
                        </div>
                        <p class="page-contact__info-desc">@title</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="page-contact__info-name">Trụ sở tại miền Bắc</div>
                                <div class="page-contact__info-company">
                                    <p><b>Địa chỉ:</b> @northside_add</p>
                                    <p><b>Hotline:</b> @northside_hotline</p>
                                    <p><b>Email:</b> @northside_email</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="page-contact__info-name">Trụ sở tại miền Nam</div>
                                <div class="page-contact__info-company">
                                    <p><b>Địa chỉ:</b> @southside_add</p>
                                    <p><b>Hotline:</b> @southside_hotline</p>
                                    <p><b>Email:</b> @southside_email</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Showroom -->
            @*<div class="contact-showroom">
                    <h4 class="contact-showroom__title">
                        Hệ thống Showroom toàn quốc
                    </h4>
                    <div class="contact-showroom__list">
                        @{
                            var lst_location = locationsRepository.GetLocations(culture_code);
                            var stt = 1;
                        }


                        @for (int i = 0; i < lst_location.Count(); i += 6)
                        {
                            <ul class="nav list-showroom">
                                @{
                                    var lst_childs = lst_location.Skip(i).Take(6);

                                }
                                @foreach (var item in lst_childs)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link _picking_location" data-id="@item.Id" data-position="@stt" data-toggle="pill" href="javascript:void(0)">
                                            <img src="~/design/images/icons/location-green.svg" alt="Icon Location">
                                            <span>@item.Name</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                    </li>
                                }
                            </ul>

                            <div class="tab-content _binding_departments " style="display:none" data-position="@i">
                            </div>
                        }

                    </div>
                </div>*@

            <div class="contact-showroom">
                <h4 class="contact-showroom__title">
                    Hệ thống Showroom toàn quốc
                </h4>
                <div class="contact-showroom__list">
                    @{
                        var lst_loca = locationsRepository.GetLocations(culture_code);
                    }
                    @for (int i = 0; i < lst_loca.Count(); i += 6)
                    {
                        <ul class="nav list-showroom">
                            @{var lst_childs = lst_loca.Skip(i).Take(6);
                            }
                            @foreach (var item in lst_childs)
                            {
                                string link_tar = "javascript:void(0)";
                                <li class="nav-item name-hver">
                                    <a href="@link_tar" class="nav-link _picking_location" data-id="@item.Id" data-position="@i">
                                        <div class="cust-tinh">
                                            <img src="~/design/images/icons/location-green.svg" alt="Icon Location">
                                            <span>@item.Name</span>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </a>

                                </li>
                            }
                        </ul>
                        <div class="tab-content _binding_departments" style="display:none" data-position="@i"></div>
                    }
                </div>
            </div>


            <!-- End Showroom -->
            <!-- Contact Form -->
            <div class="contact-form">
                <h4 class="contact-form__title">
                    Liên hệ góp ý cho chúng tôi
                </h4>
                <div class="contact-form__box">
                    <form id="form-lien-he">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="contact-form__box-gender">
                                    <label class="label-checkbox">
                                        <span class="label-checkbox__label">Anh</span>
                                        <input type="radio" name="gender-radio" value="male" checked="">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox">
                                        <span class="label-checkbox__label">Chị</span>
                                        <input type="radio" name="gender-radio" value="female">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <input type="text" class="form-control _lien_he_name" placeholder="Họ và Tên (bắt buộc)" required>
                                <input type="text" class="form-control _lien_he_phone" placeholder="Số điện thoại">
                                <input type="text" class="form-control _lien_he_email" placeholder="Email">
                            </div>
                            <div class="col-md-6 col-12">
                                <textarea class="form-control _lien_he_nd" rows="8" placeholder="Nội dung chi tiết"></textarea>
                            </div>
                            <div class="col-md-12 col-12">
                                <button class="contact-form__button" data-type="comment" data-object-id="" data-object-type="" data-lang="" type="submit">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Contact Form -->


        </div>

        @*<div class="main-showroom">
                <h5 class="font-weight-600 mb-3 mb-md-0 mt-1 bd-ct">Hệ thống Showroom toàn quốc</h5>
                @{
                    var lst_loca = locationsRepository.GetLocations(culture_code);
                }
                @foreach (var item in lst_loca)
                {
                    string link_tar = "javascript:void(0)";
                    <li class="col-md-2 col-4 name-hver">
                        <a href="@link_tar" class="_picking_location" data-id="@item.Id">
                            <div class="cust-tinh">
                                <div class="mrt-3"><i class="fas fa-map-marker-alt cust-ic"></i></div>
                                <div class="tinht">@item.Name</div>
                                <div class="mlt-3"><img src="~/design/images/Vector.svg" alt=""></div>
                            </div>
                        </a>
                    </li>
                }
                @for (int i = 0; i < lst_loca.Count(); i += 6)
                {
                    <ul class="row list-showroom">
                        @{var lst_childs = lst_loca.Skip(i).Take(6);
                        }
                        @foreach (var item in lst_childs)
                        {
                            string link_tar = "javascript:void(0)";
                            <li class="col-md-2 col-4 name-hver">
                                <a href="@link_tar" class="_picking_location" data-id="@item.Id" data-position="@i">
                                    <div class="cust-tinh">
                                        <div class="mrt-3"><i class="fas fa-map-marker-alt cust-ic"></i></div>
                                        <div class="tinht">@item.Name</div>
                                        <div class="mlt-3"><img src="~/design/images/Vector.svg" alt=""></div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="_binding_departments" style="display:none" data-position="@i"></div>
                }
            </div>*@



    </div>
</section>
<!-- -----------------EndChung---------------------- -->

@section scripts{

    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>*@
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/contactController.js"></script>


}