﻿@using LacWebsite.Services.Product.ViewModel;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using LacWebsite.Services.Zone.Repository
@using LacWebsite.Services.Zone.ViewModal
@using MI.Entity.Enums
@using LacWebsite.Services.Product.Repository
@inject IHttpContextAccessor HttpContextAccessor
@using LacWebsite.Utility
@inject ICookieUtility cookieUtility
@inject IProductRepository productRepository
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository
@model ZoneDetail;
@{
    var total = ViewBag.Total;
    var id = ViewBag.Id;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}
@if (Model != null)
{
    <div class="pt-4">
        <div class="content-txt">@Model.Name</div>
        <div class="line-cont"><img src="./images/home/th.png" alt=""></div>
        <div class="txt-mota-cont">@Html.Raw(Model.Description)</div>

        <div class="main-tktcxd">
            <div class="row">
                @if (Model.Type == (int)TypeZone.Product)
                {
                    @await Component.InvokeAsync("ProductList", new { zone_parent_id = Model.Id, locationId = location_id, pageIndex = 1, pageSize = 9 })
                }
                @if (Model.Type == (int)TypeZone.Recruitment)
                {
                    var ztv = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Recruitment, culture_code, 13).Where(r => r.ParentId > 0);
                    foreach (var item in ztv)
                    {
                        var link_tar = LinkRedirectUrl.LinkZoneRedirect(item.Url);
                        <div class="col-md-4">
                            <div class="img-room-info">
                                <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)">
                                    <div>
                                        <img src="@UIHelper.StoreFilePath(item.Avatar, false)" class="w-100" alt="@item.Name">
                                    </div>
                                    <div class="line-ft-prod">
                                        <img src="./images/home/line-ft.png" class="w-100" alt="">
                                        <div class="name-info">@item.Name</div>
                                    </div>
                                    <div class="hover-search hiddren">
                                        <div class="info-room-hover border">
                                            <div>
                                                <img src="./images/home/logo-trang.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="txt-desg-1">@item.Name</div>
                                            <div class="txt-desg-2">@Html.Raw(item.Description)</div>
                                            <div class="see-more-hov">
                                                <a href="@LinkRedirectUrl.LinkZoneRedirect(item.Url)">Xem thêm <i class="fal fa-angle-double-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                
                            </div>
                        </div>
                    }
                }
            </div>
        </div>



    </div>

    @if (Model.Type == (int)TypeZone.Product)
    {
        <div class="pagin">
            @*<ul class="number-page">
                    <li>
                        <a href="#" class="icon-pre">
                            <i class="fal fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="" class="nb-txt nb-hover ">1</a>
                    </li>
                    <li>
                        <a href="#" title="" class="nb-txt nb-hover">2</a>
                    </li>
                    <li>
                        <a href="#" title="" class="nb-txt nb-hover">3</a>
                    </li>
                    <li>
                        <a title="" class="nb-txt" style="border:none;">...</a>
                    </li>
                    <li>
                        <a href="#" title="" class="nb-txt nb-hover">20</a>
                    </li>
                    <li>
                        <a href="#" class="icon-pre">
                            <i class="fal fa-angle-right"></i>
                        </a>
                    </li>
                </ul>*@
        </div>
    }



}
