﻿@using XuongGiang.Services.Product.Repository
@using XuongGiang.Services.Zone.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using MI.Entity.Enums
@using XuongGiang.Services.BannerAds.Repository
@using XuongGiang.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using XuongGiang.Services.Article.Repository
@using Newtonsoft.Json
@using XuongGiang.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using XuongGiang.Services.Extra.ViewModel
@using XuongGiang.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions
@inject IViewLocalizer Localizer

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var Slide_Trangchu_Tren = new List<DetailBanerAds>();
    var Stem_Trangchu = new List<DetailBanerAds>();
    var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Trai_1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Phai_1 = new DetailBanerAds();
    var Slide_Body = new List<DetailBanerAds>();
    var SlideFootter = new List<DetailBanerAds>();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Banner_Chantrang = new DetailBanerAds();
    var VungHienThi_TrangChu_Tren_Phai = new List<DetailBanerAds>();


    //VungHienThi_TrangChu_Tren_Phai
    var VungHienThi_TrangChu_Tren_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "VungHienThi_TrangChu_Tren_Phai");

    var Slide_Trangchu_Tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Trangchu_Tren");
    var Stem_Trangchu_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Trangchu");
    var Banner_Trangchu_Tren_Nho2_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho2");
    var Banner_Trangchu_Tren_Nho1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho1");
    var Banner_Trangchu_body_tren_Trai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Trai_1");
    var Banner_Trangchu_body_tren_Phai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Phai_1");
    var Slide_Body_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body");
    var Slide_Body_Chan_Trang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body_Footter");
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    var Banner_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Chantrang");


    if (VungHienThi_TrangChu_Tren_Phai_Cache != null)
    {
        VungHienThi_TrangChu_Tren_Phai = JsonConvert.DeserializeObject<List<DetailBanerAds>>(VungHienThi_TrangChu_Tren_Phai_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Trangchu_Tren_Cahche != null)
    {
        Slide_Trangchu_Tren = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Trangchu_Tren_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Stem_Trangchu_Cahche != null)
    {
        Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Trangchu_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Trangchu_Tren_Nho2_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho2_Cahche.MetaData);
    }
    if (Banner_Trangchu_Tren_Nho1_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Trai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Trai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Trai_1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Phai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Phai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Phai_1_Cahche.MetaData);
    }
    if (Slide_Body_Cahche != null)
    {
        Slide_Body = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Body_Chan_Trang != null)
    {
        SlideFootter = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Chan_Trang.MetaData).Where(r => r.Show == true).ToList();
    }

    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Chantrang_Cahche != null)
    {
        Banner_Chantrang = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Chantrang_Cahche.MetaData);
    }
    var LAC_SliceTrangChu = new List<DetailBanerAds>();
    var LAC_SliceTrangChu_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_SliceTrangChu");
    if (LAC_SliceTrangChu_Cache != null)
    {
        LAC_SliceTrangChu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_SliceTrangChu_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    var LAC_Khoi_1 = new List<DetailBanerAds>();
    var LAC_Khoi_1_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_Khoi_1");
    if (LAC_Khoi_1_Cache != null)
    {
        LAC_Khoi_1 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_Khoi_1_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    var LAC_Khoi_2 = new List<DetailBanerAds>();
    var LAC_Khoi_2_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_Khoi_2");
    if (LAC_Khoi_2_Cache != null)
    {
        LAC_Khoi_2 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_Khoi_2_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    var LAC_Khoi_3 = new List<DetailBanerAds>();
    var LAC_Khoi_3_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_Khoi_3");
    if (LAC_Khoi_3_Cache != null)
    {
        LAC_Khoi_3 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_Khoi_3_Cache.MetaData).Where(r => r.Show == true).ToList();
    }

    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
    var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId");
    var SEOGoogle = bannerAdsRepository.GetConfigByName(culture_code, "SeoPhoto");
    //var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId ");
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@{
    //ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@section styles{
    @Html.Raw(configSEOUtility.ConfigSocialMeta("default appID", domain_full, title, DesWeb, SEOGoogle))
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))
}

@*<cache expires-after="@TimeSpan.FromMinutes(5)">*@
@*<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by-cookie=".AspNetCore.Culture, _LocationId">*@
<section>
    <div class="bg-slide-top">
        <div class="slide-per">
            @{
                var count = 0;
            }
            @foreach (var item in LAC_SliceTrangChu)
            {
                <div class="atest">
                    <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100 mb-h" alt="@item.Title">
                </div>
            }
        </div>
        <div class="slide-bullet-pers">
            <ul class="slide-dot">
                <!-- <li class="slide-pre" id="slide-pre">
                    <img src="img/1-Homepage/arrow_left.svg" alt="">
                </li> -->
                @foreach (var item in LAC_SliceTrangChu)
                {
                    <li class=" pro item-dot @(count == 0 ? "active" : "")" data-i="@count">
                        <label class="cycle-per">
                            <img src="~/XuongGiang/img/home/Vector.svg" alt="">
                        </label>
                        <label class="dot-per">
                            <img src="~/XuongGiang/img/home/Vector 2.svg" alt="">
                        </label>
                    </li>
                    count++;
                }
                <!-- <li class="slide-next" id="slide-next">
                    <img src="img/1-Homepage/arrow_right.svg" alt="">
                </li> -->
            </ul>
        </div>
    </div>
</section>
<main>
    <section class="main-dh1">
        <div class="container">
            <div class="row no-gutters">
                @{
                    var count_k1 = 1;
                }
                @foreach (var item in LAC_Khoi_1)
                {
                    var smaller = "";
                    var bigger = "";
                    bigger = WebHelper.GetBiggerTextOutSmallText(item.Title, out smaller);
                    if (count_k1 % 2 > 0)
                    {
                        <div class="col-md-4">
                            <a href="@item.Url">
                                <div class="nd-factory">
                                    <img src="@UIHelper.StoreFilePath(item.Image)" class="w-100" alt="@item.Title.Replace("]","").Replace("[","")">
                                    <div class="khoi-dh">
                                        <p class="txt-dh1 m-0">@smaller</p>
                                        <h2 class="txt-dh-tit">
                                            @bigger
                                        </h2>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    if (count_k1 % 2 == 0)
                    {
                        <div class="col-md-4">
                            <div class="nd-quality">
                                <h2 class="txt-dh-tit">
                                    @bigger
                                </h2>
                                <p class="txt-dh1">@smaller</p>
                                <p class="txt-dh2">
                                    @item.Description
                                </p>
                                <a href="@item.Url">
                                    <div class="btn-now">
                                        @Localizer["Shop now"]
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    count_k1++;
                }
            </div>
        </div>
    </section>
    <section class="why-chosse">
        <div class="container">
            <h2 class="tit-aphome">@Localizer["WHY CHOOSE XUONG GIANG PAPER"]</h2>
            <div class="row">
                <div class="col-md-5">
                    @{
                        var k2_cut_2 = LAC_Khoi_2.Skip(0).Take(2);
                    }
                    <div class="row">
                        @foreach (var item in k2_cut_2)
                        {
                            <div class="col-md-6 col-6">
                                <div class="amon">
                                    <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100" style="max-width:48px;" alt="@item.Title">
                                    <p class="txt-wc-1">@item.Title</p>
                                    <p class="txt-wc-2">@item.Description</p>
                                    <a href="@item.Url">
                                        <div class="btn-now btn-wc">
                                            @Localizer["Read More"]
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }


                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        @{ 
                            var x = 1;
                        }
                        @foreach (var item in LAC_Khoi_2.Skip(2))
                        {
                            <div class="col-md-4 @(x == 3 ? "col-12" : "col-6" )">
                                <div class="amon">
                                    <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100" style="max-width:48px;" alt="@item.Title">
                                    <p class="txt-wc-1">@item.Title</p>
                                    <p class="txt-wc-2">@item.Description</p>
                                    <a href="@item.Url">
                                        <div class="btn-now btn-wc">
                                            @Localizer["Read More"]
                                        </div>
                                    </a>
                                </div>
                            </div>
                            x++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="follow-social why-chosse pd-b65">
        <div class="container">
            <h2 class="tit-aphome">@Localizer["FOLLOW US ON SOCIAL"]</h2>
            <div class="row">
                @foreach (var item in LAC_Khoi_3)
                {

                    <div class="col-md-3 col-6">
                        <div class="asocial">
                            <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100" alt="@item.Title">
                            @if (!string.IsNullOrEmpty(item.Description))
                            {
                                <a href="@item.Url">
                                    <div class="txt-social">
                                        <img src="~/XuongGiang/img/home/@WebHelper.GetImageSocial(item.Description)" alt="@item.Title">
                                        <span class="name-social">@item.Description</span>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="our-blog">
        <div class="container">
            <h2 class="tit-aphome">@Localizer["FROM OUR BLOG"]</h2>
            <div class="row">
                @{
                    var botc_t = 0;
                    var bvtc = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.Article, (int)TypeArticle.Blog, 1, culture_code, "", 1, 4, out botc_t);
                }
                @foreach (var item in bvtc)
                {
                    var link_tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                    <div class="col-md-3">
                        <a href="@link_tar">
                            <img src="@UIHelper.StoreFilePath(item.Avatar)" class="w-100" alt="@item.Title">
                        </a>
                        <div class="tit-blog-home">
                            <a href="@link_tar">
                                <div class="txt-blog-1 border-bottom">@item.Title</div>
                            </a>
                            <div class="d-flex pt-2">
                                <div class="view pr-3">
                                    <i class="fal fa-eye"></i> <span>@item.ViewCount</span>
                                </div>
                                <div class="cmt">
                                    <i class="far fa-comment-alt"></i> <span>@item.CommentCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
@*</cache>*@

@*</cache>*@

@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js?v=1" ></script>*@
    <script>
        // ===================Slide-Background-Top==================
        $(document).ready(function () {
            $('.slide-per').slick({
                autoplay: false,
                autoplaySpeed: 2500,
                arrows: false,
                slidesToShow: 1,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }]
            });

            $(".item-dot").click(function () {
                let slideIndex = $(this).attr('data-i');
                $('.slide-per').slick('slickGoTo', slideIndex);
            });
            $('.slide-per').on('afterChange', function (event, slick, currentSlide, nextSlide) {
                if (currentSlide === parseInt(currentSlide, 10)) {
                    $('.item-dot').removeClass('active');
                    $('.item-dot[data-i=' + currentSlide + ']').addClass('active');
                }
            });
            $('.slide-next').click(function () {
                $(".slide-per").slick('slickNext');
            });
            $('.slide-pre').click(function () {
                $(".slide-per").slick('slickPrev');
            });
        });
    </script>
    <script type="text/javascript" src="~/js/controller/homeController.js?v=@WebHelper.Version()"></script>
}
