﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using XuongGiang.Services.Zone.ViewModal
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Services.BannerAds.Repository
@using XuongGiang.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using XuongGiang.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using XuongGiang.Services.Locations.Repository
@using XuongGiang.Services.Extra.Repository
@using XuongGiang.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions
@*@inject ITreeviewHelper treeviewHelper*@
@{
    ViewData["Title"] = "Introduce";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}
@{
    var LAC_GioiThieu = new List<DetailBanerAds>();
    var LAC_GioiThieu_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_GioiThieu");
    if (LAC_GioiThieu_Cache != null)
    {
        LAC_GioiThieu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_GioiThieu_Cache.MetaData).Where(r => r.Show == true).OrderBy(r => r.Order).ToList();
    }
    var LAC_DoiTac = new List<DetailBanerAds>();
    var LAC_DoiTac_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_DoiTac");
    if (LAC_DoiTac_Cache != null)
    {
        LAC_DoiTac = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_DoiTac_Cache.MetaData).Where(r => r.Show == true).OrderBy(r => r.Order).ToList();
    }
    var LAC_GiayKhen = new List<DetailBanerAds>();
    var LAC_GiayKhen_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LAC_GiayKhen");
    if (LAC_GiayKhen_Cache != null)
    {
        LAC_GiayKhen = JsonConvert.DeserializeObject<List<DetailBanerAds>>(LAC_GiayKhen_Cache.MetaData).Where(r => r.Show == true).OrderBy(r => r.Order).ToList();
    }
}

@{
    ViewData["Title"] = "Introduce";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

<main>
    @{
        var khoi_1 = LAC_GioiThieu.Skip(0).Take(1).SingleOrDefault();
        if (khoi_1 != null)
        {
            <section class="mota-about">
                <div class="row no-gutters">
                    <div class="col-md-6">
                            <div class="txt-mota-about" style="text-align:justify">
                                <div class="tit-about">@khoi_1.Title</div>
                                @Html.Raw(khoi_1.Description)
                                @*@if (culture_code == "vi-VN")
                                {
                                    <div class="pt-4">
                                        <img src="~/XuongGiang/img/about/niemtin.png" class="w-100" style="max-width: 375px;" alt="">
                                    </div>
                                }*@

                            </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@UIHelper.StoreFilePath(khoi_1.Image, false)" class="w-100" alt="@khoi_1.Title" style="height:100%">
                    </div>
                </div>
            </section>
        }
    }


    <section class="gtri-cloi">
        <div class="container">
            @{
                var khoi_2 = LAC_GioiThieu.Skip(1).Take(1).SingleOrDefault();
            }
            @if (khoi_2 != null)
            {
                <p class="txt-about-2">
                    @khoi_2.Description
                </p>
                <div class="tit-aphome">
                    @khoi_2.Title
                </div>
            }


            <div class="row">
                @{
                    var khoi_3 = LAC_GioiThieu.Skip(2).Take(3);
                }
                @foreach (var item in khoi_3)
                {
                    <div class="col-md-4">
                        <div class="agtri">
                            <img src="@UIHelper.StoreFilePath(item.Image, false)" alt="@item.Title">
                            <div class="txt-gtri-1">
                                @item.Title
                            </div>
                            <p class="txt-gtri-2">@item.Description</p>
                        </div>
                    </div>
                }
            </div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    @{
                        var khoi_4 = LAC_GioiThieu.Skip(5).Take(1).SingleOrDefault();
                        if (khoi_4 != null)
                        {
                            <div class="sumenh">
                                <div class="txt-gtri-1">
                                    @khoi_4.Title
                                </div>
                                <p class="txt-gtri-2">@khoi_4.Description</p>
                            </div>
                        }
                    }


                </div>
                <div class="col-md-6">
                    @{
                        var khoi_5 = LAC_GioiThieu.Skip(6).Take(1).FirstOrDefault();
                        if (khoi_5 != null)
                        {
                            <div class="tamnhin">
                                <div class="txt-gtri-1">
                                    @khoi_5.Title
                                </div>
                                <p class="txt-gtri-2">@khoi_5.Description</p>
                            </div>
                        }
                    }

                </div>
            </div>
            @{
                var khoi_6 = LAC_GioiThieu.Skip(7).Take(1).FirstOrDefault();
                if (khoi_6 != null)
                {
                    <div class="tit-aphome xg-diagram">
                        @khoi_6.Title
                    </div>
                    <p class="txt-about-2">
                        @khoi_6.Description
                    </p>
                    <div class="pt-5">
                        <img src="@UIHelper.StoreFilePath(khoi_6.Image, false)" class="w-100" alt="@khoi_6.Title">
                    </div>
                }
            }

            @*@{
                var khoi_7 = LAC_GioiThieu.Skip(8).Take(1).FirstOrDefault();
                if (khoi_7 != null)
                {
                    <div class="tit-aphome xg2-diagram">
                        @khoi_7.Title
                    </div>
                    <p class="txt-about-2">@khoi_7.Description</p>
                }
            }*@

        </div>
    </section>
    <section style="display:none">
        <div class="container">
            <div class="list-icon-customer">
                <div class="slide-bangkhen">
                    @foreach (var item in LAC_GiayKhen)
                    {
                        <div class="item-logo">
                            <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100" alt="@item.Title">
                            <div class="txt-slide-bk">@item.Title</div>
                        </div>
                    }
                </div>
                <ul class="slide-arr-ctm">
                    <li class="slide-pre1" id="">
                        <i class="fal fa-angle-left"></i>
                    </li>
                    <li class="slide-next1" id="">
                        <i class="fal fa-angle-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="doitac">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="logo-doitac">
                    <ul class="list-logo-doitac row">
                        @foreach (var item in LAC_DoiTac)
                        {
                            <li class="col-4">
                                <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100" alt="@item.Title">
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mota-doitac">
                    @{
                        var khoi_9 = LAC_GioiThieu.Skip(8).Take(1).FirstOrDefault();
                        if (khoi_9 != null)
                        {
                            <p class="tit-aphome p-0">
                                @khoi_9.Title
                            </p>
                            <p class="txt-doitac2">
                                @khoi_9.Description
                            </p>
                        }
                    }

                </div>

            </div>
        </div>
    </section>
</main>

