﻿@using DiDongXanh_Web.Services.Product.Repository
@using DiDongXanh_Web.Services.Zone.Repository
@using MI.Entity.Enums
@using DiDongXanh_Web.Services.BannerAds.Repository
@using DiDongXanh_Web.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using DiDongXanh_Web.Services.Article.Repository
@using Newtonsoft.Json
@using DiDongXanh_Web.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using DiDongXanh_Web.Services.Extra.ViewModel
@using DiDongXanh_Web.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var Slide_Trangchu_Tren = new List<DetailBanerAds>();
    var Stem_Trangchu = new List<DetailBanerAds>();
    var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Trai_1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Phai_1 = new DetailBanerAds();
    var Slide_Body = new List<DetailBanerAds>();
    var SlideFootter = new List<DetailBanerAds>();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Banner_Chantrang = new DetailBanerAds();
    var VungHienThi_TrangChu_Tren_Phai = new List<DetailBanerAds>();
    var Silde_TrangChu_1 = new List<DetailBanerAds>();
    var Silde_TrangChu_2 = new List<DetailBanerAds>();
    var Banner_home_1 = new DetailBanerAds();
    var Banner_home_2 = new DetailBanerAds();
    var Banner_home_3 = new DetailBanerAds();


    //VungHienThi_TrangChu_Tren_Phai
    var VungHienThi_TrangChu_Tren_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "VungHienThi_TrangChu_Tren_Phai");
    var Slide_home_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_home_1");
    var Slide_home_2_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_home_2");
    var Banner_home_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_home_1");
    var Banner_home_2_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_home_2");
    var Banner_home_3_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_home_3");

    var Slide_Trangchu_Tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Trangchu_Tren");
    var Stem_Trangchu_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Trangchu");
    var Banner_Trangchu_Tren_Nho2_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho2");
    var Banner_Trangchu_Tren_Nho1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho1");
    var Banner_Trangchu_body_tren_Trai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Trai_1");
    var Banner_Trangchu_body_tren_Phai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Phai_1");
    var Slide_Body_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body");

    var Slide_Body_Chan_Trang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body_Footter");
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    var Banner_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Chantrang");


    if (VungHienThi_TrangChu_Tren_Phai_Cache != null)
    {
        VungHienThi_TrangChu_Tren_Phai = JsonConvert.DeserializeObject<List<DetailBanerAds>>(VungHienThi_TrangChu_Tren_Phai_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_home_cache != null)
    {
        Silde_TrangChu_1 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_home_cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_home_2_cache != null)
    {
        Silde_TrangChu_2 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_home_2_cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_home_cache != null)
    {
        Banner_home_1 = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_home_cache.MetaData);
    }
    if (Banner_home_2_cache != null)
    {
        Banner_home_2 = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_home_2_cache.MetaData);
    }if (Banner_home_3_cache != null)
    {
        Banner_home_3 = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_home_3_cache.MetaData);
    }
    if (Slide_Trangchu_Tren_Cahche != null)
    {
        Slide_Trangchu_Tren = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Trangchu_Tren_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Stem_Trangchu_Cahche != null)
    {
        Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Trangchu_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Trangchu_Tren_Nho2_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho2_Cahche.MetaData);
    }
    if (Banner_Trangchu_Tren_Nho1_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Trai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Trai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Trai_1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Phai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Phai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Phai_1_Cahche.MetaData);
    }
    if (Slide_Body_Cahche != null)
    {
        Slide_Body = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Body_Chan_Trang != null)
    {
        SlideFootter = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Chan_Trang.MetaData).Where(r => r.Show == true).ToList();
    }

    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Chantrang_Cahche != null)
    {
        Banner_Chantrang = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Chantrang_Cahche.MetaData);
    }

    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
    var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId");
    var SEOGoogle = bannerAdsRepository.GetConfigByName(culture_code, "SeoPhoto");
    //var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId ");
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@{
    //ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@section styles{
    @Html.Raw(configSEOUtility.ConfigSocialMeta("default appID", domain_full, title, DesWeb, SEOGoogle))
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))
}

@*<cache expires-after="@TimeSpan.FromMinutes(5)">*@
<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by-cookie=".AspNetCore.Culture, _LocationId">
    <div class="slider-home">
        <div class="container">
            <div class="swiper js-slider-home-2">
                <div class="swiper-wrapper slider-home__wrap">

                    @if (Silde_TrangChu_1.Count() > 0)
                    {
                        var c = 1;
                        foreach (var item in Silde_TrangChu_1.OrderBy(n => n.Order).ToList())
                        {


                    <div class="swiper-slide slider-home__image">
                        <a href="@item.Url">

                            @if (c == 1)
                                    {
                            <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" alt="@domain">
                                    }
                            @if (c > 1)
                                    {
                            <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" alt="@domain" class="swiper-lazy">
                                    }

                        </a>
                    </div>
                            c++;
                        }
                    }

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper js-slider-home-1">
                <div class="swiper-wrapper slider-home__wrap">
                    @if (Silde_TrangChu_1.Count() > 0)
                    {
                        foreach (var item in Silde_TrangChu_1.OrderBy(n => n.Order).ToList())
                        {
                    <div class="swiper-slide slider-home__text">
                        @item.Title
                    </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="banner-slide pt-10 pb-20">
        <div class="container">
            <div class="swiper js-banner-slide">
                <div class="swiper-wrapper banner-slide__wrap">
                    @if (Silde_TrangChu_2.Count() > 0)
                    {
                        var c = 1;
                        foreach (var item in Silde_TrangChu_2.OrderBy(n => n.Order).ToList())
                        {
                    <div class="swiper-slide banner-slide__item" style="width:270px!important;">
                        <a href="@item.Url">
                            <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" alt="@domain">
                        </a>
                    </div>
                            c++;
                        }
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>


    @{
        //Lay thong tin flash sale
        var time = DateTime.Now;
        var list_flash_sale = flashSaleRepository.GetFlashSaleByTime(time);
        var flash_sale_active = list_flash_sale.FirstOrDefault();
    }
    <div class="bg-f6f8f8">
        @if (flash_sale_active != null)
        {
            var f_link = string.Format("/{0}", "flash-sale");
        <section class="my-4 flash-sale" data-start-time="@flash_sale_active.StartTime" data-end-time="@flash_sale_active.EndTime.ToString("yyyy-MM-dd")" style="display:none;" >
            <div class="container ">
                <div class="main-giatot-ee">
                    <div class="">
                        <div class="row mb-3 no-gutters">
                            <div class="col-12 d-flex flex-wrap">
                                <a href="@f_link" class="align-self-center mr-2">
                                    <img src="~/images/change/Flashsale.svg?v=@WebHelper.Version()" class="img-fluid" />
                                </a>
                                <div class="timer d-flex align-self-center mr-2 ml-auto ml-md-0">
                                    <div id="day">
                                        12
                                    </div>
                                    <div id="hour">
                                        12
                                    </div>
                                    <div id="minute">
                                        12
                                    </div>
                                    <div id="second">
                                        12
                                    </div>
                                </div>
                                <a href="@f_link" class="btn btn-outline-light btn-sm px-lg-4 align-self-center">
                                    Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    @{
                            var total_flashSale = 0;
                            var product_in_flashSale = flashSaleRepository.GetProductInFlashSale(flash_sale_active.Id, location_id, culture_code, 1, 10, out total_flashSale);
                    }
                    <!-- Slider main container -->
                    <div class="slide-product slide-1">
                        <div class="swiper-container ">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                @foreach (var item in product_in_flashSale)
                                    {
                                        var link_target = string.Format("/{0}.html", item.Url);
                                <div class="swiper-slide">
                                    <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                        <div class="tag-1">

                                        </div>

                                        <div class="tag-flashsale">
                                            <img src="~/images/tag-flash-111x34.svg?v=1" class=" img-fluid" />
                                        </div>

                                        <div class="image">
                                            <a href="@link_target"><img src="~/images/gray.jpg?v=1" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="img-fluid lazy" /></a>
                                            <div class="tag-2">
                                                <img src="" class="img-fluid " />
                                            </div>
                                        </div>

                                        <div class="">
                                            <h5 class="title">
                                                <a href="@link_target" title="@item.Title">
                                                    @item.Title
                                                </a>
                                            </h5>
                                            <div class="d-price">
                                                <div class="price-new">
                                                    @UIHelper.FormatNumber(item.FlashSalePrice) đ/m2
                                                </div>
                                                <div class="price-old">
                                                    @UIHelper.FormatNumber(item.SalePrice)
                                                </div>
                                            </div>
                                            <div class="infor-plus">
                                                <div class="size small mb-1">
                                                    @item.SpecName: @item.SpecValue
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        @Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @item.CountRate đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    }
                            </div>
                            <!-- If we need navigation buttons -->
                        </div>
                        <div class="swiper-button-prev">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="swiper-button-next">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        }
        <!-- test lai cho nay phat-->
        @{
            var list_zone_type_region = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Region, culture_code, 0, 1);
            var list_region_parents = list_zone_type_region.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).ToList();

        }
        <!--Khoi 5 sp 1 dong-->
        @*<div class="flash-sales flash-sale" data-start-time="@flash_sale_active.StartTime" data-end-time="@flash_sale_active.EndTime.ToString("yyyy-MM-dd")">*@
            @if (list_region_parents.Count() >= 3)
            {

                var region_parent = list_region_parents[2];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 2, banner = "images/img-bepvui/giasock.png", type = HomeRegionEnum.FivePartTwoLine })

            }
        @*</div>*@
        <!--/Khoi 5 sp 1 dong-->
        <!--Khoi Banner-->
        <div class="container mobi-hidden">

            <div class="banner-full">
                @*<a href="">*@

                <img src="@UIHelper.StoreFilePath(Banner_home_1.Image,false)?v=@WebHelper.Version()" class="w-100" />

                @*</a>*@
            </div>
        </div>
        <!--/Khoi Banner-->

        <div class="partners">
            <div class="container">
                <div class="swiper js-partners-slide">
                    <div class="swiper-wrapper partners-slide__wrap">
                        <div class="swiper-slide partners-slide__item">
                            <a href="danh-sach-san-pham.html">
                                <img src="~/design/images/partners/1.png" alt="Partners" />
                            </a>
                        </div>
                        <div class="swiper-slide partners-slide__item">
                            <a href="danh-sach-san-pham.html">
                                <img src="~/design/images/partners/2.png" alt="Partners" />
                            </a>
                        </div>
                        <div class="swiper-slide partners-slide__item">
                            <a href="danh-sach-san-pham.html">
                                <img src="~/design/images/partners/3.png" alt="Partners" />
                            </a>
                        </div>
                        <div class="swiper-slide partners-slide__item">
                            <a href="danh-sach-san-pham.html">
                                <img src="~/design/images/partners/4.png" alt="Partners" />
                            </a>
                        </div>
                        <div class="swiper-slide partners-slide__item">
                            <a href="danh-sach-san-pham.html">
                                <img src="~/design/images/partners/2.png" alt="Partners" />
                            </a>
                        </div>
                        <div class="swiper-slide partners-slide__item">
                            <a href="danh-sach-san-pham.html">
                                <img src="~/design/images/partners/3.png" alt="Partners" />
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

        <!--Khoi 20 sp-->

        <div class="container">
            @if (list_region_parents.Count() >= 2)
            {
                var region_parent = list_region_parents[1];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 2, banner = "", type = HomeRegionEnum.TwentyPart })
            }

        </div>
        <!--/Khoi 20 sp-->
        <div class="container mobi-hidden">
            <div class="banner-full">
                @*<a href="#">*@
                <img src="@UIHelper.StoreFilePath(Banner_home_2.Image,false)?v=@WebHelper.Version()" class="w-100" />
                @*</a>*@
            </div>
        </div>
        <!-- test lai cho nay phat-->
        <!--Khoi 5 sp 1 dong thu 1-->

        <div class="container">

            @if (list_region_parents.Count() >= 1)
            {
                var region_parent = list_region_parents[0];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "", type = HomeRegionEnum.FivePartOneLine })
            }


        </div>
        <!--/Khoi 5 sp 1 dong-->
        <!--Khoi 5 sp 1 dong thu 2-->

        <div class="container">
            @if (list_region_parents.Count() >= 3)
            {
                var region_parent = list_region_parents[2];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "", type = HomeRegionEnum.FivePartOneLine })
            }

        </div>
        <!--/Khoi 5 sp 1 dong-->

        <div class="container mt-30 mobi-hidden">
            <div class="banner-full">
                <a href="#">
                    <img src="@UIHelper.StoreFilePath(Banner_home_3.Image,false)?v=@WebHelper.Version()" class="w-100" />
                </a>
            </div>
        </div>
        <div class="container">
            @if (list_region_parents.Count() >= 2)
            {
                var region_parent = list_region_parents[1];
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 2, banner = "", type = HomeRegionEnum.TwentyPart })
            }

        </div>

        <!-- Video -->
        <div class="container mt-10">
            <div class="section-head">
                <h4 class="section-head__title">Video</h4>
            </div>
            <div class="video-home">
                <div class="video-item-grid">
                    <div class="video-item-grid__iframe">
                        <iframe src="https://www.youtube.com/embed/0Mp8ansFY9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video-item-grid__content">
                        <h4 class="video-item-grid__title">
                            <a href="chi-tiet-tin-tuc.html">
                                KHAI TRƯƠNG HỆ THÔNG SIÊU THỊ SMART PHONE DIDONGXANH
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="news-home">


                    @{
                        var t = 0;
                        var list_newest = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 5, out t).Take(4);
                        var list_newest2 = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 5, out t).Take(1).ToList();
                        var a = list_newest2[0];
                        var link_Tar22 = LinkRedirectUrlUtility.BlogDetailUrl(a.Url);
                    }

                    @foreach (var item in list_newest)
                    {
                        var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                    <div class="news-item-small">
                        <div class="news-item-small__image">
                            <a href="@link_Tar">

                                @*<img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)" alt="@item.Title">*@
                                <img src="@UIHelper.StoreFilePath(item.Avatar)" alt="Image News">
                            </a>
                        </div>
                        <div class="news-item-small__content">
                            <h4 class="news-item-small__title">
                                <a href="@link_Tar">@item.Title</a>
                            </h4>
                            <div class="news-item-small__time">@UIHelper.GetLongDate(item.CreatedDate)</div>
                        </div>
                    </div>

                    }
                    @*@if (list_newest.Count() < 4)
                        {
                            <div class="news-item-small">
                                <div class="news-item-small__image">
                                    <a href="chi-tiet-tin-tuc.html">
                                        <img src="~/design/images/news/4.png" alt="Image News">
                                    </a>
                                </div>
                                <div class="news-item-small__content">
                                    <h4 class="news-item-small__title">
                                        <a href="chi-tiet-tin-tuc.html">TRẢI NGHIỆM KHÁCH HÀNG MỞ HỘP TẠI DI ĐỘNG XANH</a>
                                    </h4>
                                    <div class="news-item-small__time">18/08/2021  05:11</div>
                                </div>
                            </div>
                        }*@

                </div>
            </div>
        </div>
        <!-- End Video -->
        <!--/Khoi 5 sp 2 dong-->
        <!-- TIN TỨC CÔNG NGHỆ -->
        <div class="container mt-30">
            <div class="section-head">
                <h4 class="section-head__title">TIN TỨC CÔNG NGHỆ</h4>
            </div>
            <div class="news-slide">
                <div class="swiper js-news-slide">
                    <div class="swiper-wrapper news-slide__wrap">

                        @{
                            var t_2 = 0;
                            var list_newest_2 = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 5, out t_2).Take(10);
                            var list_newest2_2 = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 5, out t_2).Take(1).ToList();
                            var a_2 = list_newest2_2[0];
                            var link_Tar22_2 = LinkRedirectUrlUtility.BlogDetailUrl(a_2.Url);
                        }

                        @foreach (var item in list_newest_2)
                        {
                            var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);



                            <!-- Item -->
                        <div class="swiper-slide news-slide__item">
                            <div class="news-item-small">
                                <div class="news-item-small__image">
                                    <a href="@link_Tar">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)" alt="Image News">
                                    </a>
                                </div>
                                <div class="news-item-small__content">
                                    <h4 class="news-item-small__title">
                                        <a href="@link_Tar">@item.Title</a>
                                    </h4>
                                    <div class="news-item-small__time">@UIHelper.GetLongDate(item.CreatedDate)</div>
                                </div>
                            </div>
                        </div>
 <!-- End Item -->
                        }
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- End TIN TỨC CÔNG NGHỆ -->
        <!-- KHÁCH HÀNG ĐẾN VỚI DIDONGXANH -->
        <div class="container mt-30">
            <div class="section-head">
                <h4 class="section-head__title">KHÁCH HÀNG ĐẾN VỚI DIDONGXANH</h4>
            </div>
            <div class="gallery-user">
                <div class="swiper js-gallery-user-slide">
                    <div class="swiper-wrapper gallery-user__wrap">
                        <!-- Item -->
                        <div class="swiper-slide gallery-user__item">
                            <div class="gallery-user__image">
                                <img src="~/design/images/users/1.png" alt="User">
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="swiper-slide gallery-user__item">
                            <div class="gallery-user__image">
                                <img src="~/design/images/users/2.png" alt="User">
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="swiper-slide gallery-user__item">
                            <div class="gallery-user__image">
                                <img src="~/design/images/users/3.png" alt="User">
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="swiper-slide gallery-user__item">
                            <div class="gallery-user__image">
                                <img src="~/design/images/users/4.png" alt="User">
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="swiper-slide gallery-user__item">
                            <div class="gallery-user__image">
                                <img src="~/design/images/users/5.png" alt="User">
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="swiper-slide gallery-user__item">
                            <div class="gallery-user__image">
                                <img src="~/design/images/users/2.png" alt="User">
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="swiper-slide gallery-user__item">
                            <div class="gallery-user__image">
                                <img src="~/design/images/users/3.png" alt="User">
                            </div>
                        </div>
                        <!-- End Item -->
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- End KHÁCH HÀNG ĐẾN VỚI DIDONGXANH -->




        @{
            var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1).OrderBy(r => r.SortOrder);
            var blog_parents = blog_zone.Where(r => r.ParentId == 0).FirstOrDefault();
            var blog_three = blog_zone.Skip(0).Take(3);
        }

        <!--Khoi tim kiem nhieu-->
    </div>
</cache>

@*</cache>*@

@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js?v=1" ></script>*@
    <script>
        $('.slide-sock').slick({
            autoplay: false,
            autoplaySpeed: 2500,
            arrows: false,
            slidesToShow: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        });

        $('.next-2').click(function () {
            $(".slide-sock").slick('slickNext');
        });
        $('.pre-2').click(function () {
            $(".slide-sock").slick('slickPrev');
        });
    </script>
    <script type="text/javascript" src="~/js/controller/homeController.js?v=@WebHelper.Version()"></script>
}
