﻿@using Utils
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Data.SqlServer.ModelDto
@model List<Enterbuy.Data.SqlServer.ModelDto.ProductMinify>;
@inject IPromotionDao PromotionDao
@{
    var listProduct = Model;
    var pathlink = Context.Request.Path.ToString();

    var total = ViewBag.Total;
    var ZonePt = ViewBag.ZoneParent as ZoneByTreeViewMinify;

}
@if (Model != null)
{
    var lstProductInPromotion = PromotionDao.CheckPromotion_ByProductId(Model.Select(x => x.ProductId).ToList());
    <div class="set-total" data-total="@total" data-id="@ZonePt.Id" data-is-rendered="@Model.Count()" style="display:none"></div>
    <div class="row no-gutters mb-3 mb-md-0">
        @if (ZonePt != null)
        {
            var link_tar = BaseBA.UrlCategory(ZonePt.Url);
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters h-100 ">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <a href="@link_tar">
                            @if (!String.IsNullOrWhiteSpace(ZonePt.Avatar))
                            {
                                <img asp-append-version="true" data-src="@UIHelper.StoreFilePath(ZonePt.Avatar,false)" class="img-fluid lazy" style="object-fit: cover;max-height:300px" alt="@ZonePt.Name" />
                            }
                            else
                            {
                                <img asp-append-version="true" data-src="@UIHelper.ImgDefault()" class="img-fluid lazy" style="object-fit: cover;max-height:300px" alt="@ZonePt.Name" />
                            }
                        </a>
                    </div>
                    @foreach (var item in listProduct)
                    {
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                            @{ var link = BaseBA.UrlProduct(pathlink, item.Url);}
                            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                @if (lstProductInPromotion.Any(x => x.ProductId == item.ProductId))
                                {
                                    <div class="tag-gift"><i class="fa fa-gift"></i></div>
                                }
                                <div class="tag-1">
                                </div>
                                <div class="image">
                                    <a href="@link" title="@item.Title">
                                        <img asp-append-version="true" data-src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid  h-100 lazy" alt="@item.Title" />
                                    </a>
                                </div>
                                <div class="tag-2">
                                    <img asp-append-version="true" data-src="@UIHelper.ImgDefault()" alt="@item.Title" class="img-fluid tag-2-thumb lazy" />
                                </div>
                                <div class="mt-4">
                                    <h3 class="title">
                                        <a href="@link" title="@item.Title">
                                            @item.Title
                                        </a>
                                    </h3>
                                    <div class="text-left">
                                        @if (item.SalePrice == item.Price)
                                        {
                                            <div class="d-price">
                                                <div class="price-new">
                                                    @UIHelper.FormatNumber(item.SalePrice)
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-price">
                                                <div class="price-new">
                                                    @UIHelper.FormatNumber(item.SalePrice)
                                                </div>
                                                <div>
                                                    <span class="price-old">
                                                        @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                                    </span>
                                                    @if (item.DiscountPercent > 0)
                                                    {
                                                        <b class="sale-percent">( - @item.DiscountPercent %)</b>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="size small mb-1">
                                        @if (!String.IsNullOrEmpty(item.SpecName) && !String.IsNullOrEmpty(item.SpecValue))
                                        {
                                            @Html.Raw($"{item.SpecName}:{item.SpecValue}");
                                        }
                                        @*@item.SpecName: @item.SpecValue*@
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            @item.CountRate đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}

