﻿@using KAOCoffee.Services.Product.Repository
@using KAOCoffee.Services.Zone.Repository
@using MI.Entity.Enums
@using KAOCoffee.Services.BannerAds.Repository
@using KAOCoffee.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using KAOCoffee.Services.Article.Repository
@using Newtonsoft.Json
@using KAOCoffee.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using KAOCoffee.Services.Extra.ViewModel
@using KAOCoffee.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions
@using KAOCoffee.Services.Product.Repository
@using KAOCoffee.Services.Zone.Repository
@using MI.Entity.Enums
@using KAOCoffee.Services.BannerAds.Repository
@using KAOCoffee.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using KAOCoffee.Services.Article.Repository
@using KAOCoffee.Services.Extra.Repository
@using Newtonsoft.Json
@using KAOCoffee.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using KAOCoffee.Services.Extra.ViewModel
@using KAOCoffee.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository
@inject IZoneRepository zoneRepository
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "MenuOrder";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}
@{
    var i = "design/images/05600a6dc19a37ef746fb267902398bf2.png";
    var anhdaidien = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "KAO_Menu_AnhDaiDien");
    if (anhdaidien != null)
    {
        var a = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(anhdaidien.MetaData);
        if (a != null)
        {
            i = UIHelper.StoreFilePath(a.Image, false);
        }
    }
}
<div class="uk-background-norepeat menu__section1 uk-position-relative uk-background-cover uk-light" data-src="@i" uk-img>
    <div class="uk-position-cover menu__overlay"></div>
    <div class="uk-position-relative uk-position-z-index uk-section-small uk-text-center">
        <div class="uk-container">
            <h1 class="uk-h1 menu__title2">Menu</h1>
            <ul class="uk-breadcrumb">
                <li><a href="">Home</a></li>
                <li><a href="">Menu</a></li>
                <li><span>@Localizer["Order"]</span></li>
            </ul>
        </div>
    </div>
</div>
<form class="uk-section-small uk-background-muted form-dat-hang" uk-height-viewport="offset-bottom: true;offset-top: true">
    <div class="uk-container">
        <div class="uk-grid-small uk-grid-20-m" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-default uk-card-body order__boxForm__card1">
                    <div>
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend order__boxForm__title1">@Localizer["BILLING INFORMATION"]</legend>
                            <div class="uk-margin">
                                <div class="uk-margin-small">
                                    <label><input class="uk-radio" type="radio" name="radio2" value="1"> <span class="order__boxForm__label2">@Localizer["Sitting at the bar"]</span></label>
                                </div>
                                <div class="uk-margin-small">
                                    <label class="uk-form-label order__boxForm__label2" for="form-stacked-text">@Localizer["Number of tables"]</label>
                                    <div class="uk-form-controls">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon uk-form-icon-flip order__boxForm__icon1" uk-icon="icon: location; ratio: 0.9"></span>
                                            <input class="uk-input uk-border-pill so-ban" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-margin-small">
                                    <label><input class="uk-radio" type="radio" name="radio2" value="0"> <span class="order__boxForm__label2">@Localizer["Delivery"]</span></label>
                                </div>
                                <div class="uk-card order__boxForm__card2 uk-card-body uk-card-default uk-margin-small">
                                    <div>
                                        <fieldset class="uk-fieldset">

                                            <legend class="uk-legend uk-text-center uk-text-uppercase order__boxForm__title2">@Localizer["Customer information"]</legend>

                                            <div class="uk-margin">
                                                <div class="uk-grid-small uk-grid-20-m" uk-grid>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-stacked">
                                                            <label class="uk-form-label order__boxForm__label2" for="form-stacked-text">@Localizer["Delivery address"]</label>
                                                            <div class="uk-form-controls">
                                                                <div class="uk-inline uk-width-1-1">
                                                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: location; ratio: 0.9"></span>
                                                                    <input class="uk-input uk-border-pill dia-chi-giao-hang" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-stacked">
                                                            <label class="uk-form-label order__boxForm__label2" for="form-stacked-text">@Localizer["Receiver"]</label>
                                                            <div class="uk-form-controls">
                                                                <div class="uk-inline uk-width-1-1">
                                                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user; ratio: 0.9"></span>
                                                                    <input class="uk-input uk-border-pill nguoi-nhan" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-2@@s">
                                                        <div class="uk-form-stacked">
                                                            <label class="uk-form-label order__boxForm__label2" for="form-stacked-text">@Localizer["Phone"]</label>
                                                            <div class="uk-form-controls">
                                                                <div class="uk-inline uk-width-1-1">
                                                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: receiver; ratio: 0.9"></span>
                                                                    <input class="uk-input uk-border-pill dien-thoai" type="tel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-2@@s">
                                                        <div class="uk-form-stacked">
                                                            <label class="uk-form-label order__boxForm__label2" for="form-stacked-text">Email (@Localizer["optional"])</label>
                                                            <div class="uk-form-controls">
                                                                <div class="uk-inline uk-width-1-1">
                                                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail; ratio: 0.9"></span>
                                                                    <input class="uk-input uk-border-pill e-mail" type="email">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-stacked">
                                                            <label class="uk-form-label order__boxForm__label2" for="form-stacked-text">@Localizer["Note"] (không bắt buộc)</label>
                                                            <div class="uk-form-controls">
                                                                <div class="uk-inline uk-width-1-1">
                                                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil; ratio: 0.9"></span>
                                                                    <textarea class="uk-textarea ghi-chu" rows="5" placeholder=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-margin uk-form-stacked">
                                                <div class="uk-form-label order__boxForm__label2 order__boxForm__label2--c1">@Localizer["Payments"]</div>
                                                <div class="uk-form-controls">
                                                    <label><input class="uk-radio" type="radio" name="radio1" value="1"> <span class="order__boxForm__label2">@Localizer["Payment on delivery"] (COD)</span></label>


                                                </div>
                                                <div class="uk-form-controls">
                                                    <label><input class="uk-radio" type="radio" name="radio1" value="2"> <span class="order__boxForm__label2">@Localizer["Debit"]</span></label>


                                                </div>

                                            </div>
                                            <div class="uk-margin uk-form-stacked">
                                                <div class="uk-form-label order__boxForm__label2 order__boxForm__label2--c1">@Localizer["Choose a delivery time"]</div>
                                                <div class="uk-form-controls">
                                                    <div class="uk-grid-small" uk-grid>
                                                        <div class="uk-width-auto@@s">
                                                            <div class="uk-inline">
                                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: clock; ratio: 0.9"></span>
                                                                <input class="uk-input uk-border-pill thoi-gian-giao" type="datetime-local">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@@m">
                <div class="uk-card uk-card-default menu__card3 uk-overflow-hidden html-gio-hang" uk-sticky="offset: 100;media: @@m;bottom: true;">
                    <div class="uk-card-header">
                        <h3 class="uk-h3 menu__titleThucdon">@Localizer["Producs"]</h3>
                    </div>
                    <table class="uk-table uk-table-divider uk-table-small uk-table-middle uk-margin-remove">
                        <tbody>
                            @* day la dom mau *@
                            <tr class="root" style="display: none;">
                                <td>
                                    <div class="uk-grid-5 uk-flex-middle" uk-grid>
                                        <div>
                                            <a href="javascript:void(0)" class="uk-icon-link cong_them_sp" uk-icon="icon:plus-circle;ratio:0.7"></a>
                                        </div>
                                        <div>
                                            <div class="uk-position-relative menu__card3__table__w1">
                                                <span class="uk-position-center menu__card3__table__txt2 so_luong">1</span>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0)" class="uk-icon-link tru_di_sp" uk-icon="icon:minus-circle;ratio:0.7"></a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="uk-icon-link xoa_sp" uk-icon="icon:trash;ratio:0.7"></a>
                                    <span class="uk-text-middle menu__card3__table__txt1 ten_sp">Coffee Capuchino</span>
                                </td>
                                <td>
                                    <span class="menu__card3__table__txt1 gia_sp">50.000đ</span>
                                </td>
                            </tr>
                            @* day la dom mau *@
                            @* day la het phan san pham trong gio hang *@
                            <tr>
                                <td colspan="3">
                                    <div class="uk-margin-small">
                                        <div class="uk-position-relative">
                                            <input class="uk-input menu__card3__box1__input uk-border-rounded ma_khuyen_mai" type="text" placeholder="@Localizer["Discount Code"]">
                                            <button type="button" class="uk-button menu__card3__box1__btn uk-background-secondary uk-button-small uk-position-center-right uk-position-small uk-border-rounded ap_dung_ma_khuyen_mai">@Localizer["Use Code"]</button>
                                        </div>
                                    </div>
                                    <div class="uk-margin-small tb_giam_gia" style="display:none">
                                        <div class="uk-alert-success uk-margin-remove" uk-alert>
                                            <a class="uk-alert-close menu__card3__box1__close" uk-close></a>
                                            <p class="menu__card3__box1__txt">Bạn đã được giảm giá <span class="so_tien_giam_gia"></span> </p>
                                        </div>
                                    </div>

                                    @* <button type="submit"> *@
                                    <a class="uk-link-toggle" href="javascript:$('.form-dat-hang').submit();">
                                        <div class="menu__card3__table__btn">
                                            <div class="uk-flex-middle" uk-grid>
                                                <div class="uk-width-expand">
                                                    <div class="menu__card3__submit__txt1 dh_so_mon"><span>0</span> @Localizer["Producs"]</div>
                                                    <div class="menu__card3__submit__txt2 dh_tien_gachngang"><del>0đ</del></div>
                                                    <div class="menu__card3__submit__txt3 dh_tien_tt">0đ</div>
                                                </div>
                                                <div class="uk-width-auto">
                                                    <span class="menu__card3__submit__txt4 uk-text-middle uk-margin-small-right">@Localizer["Order Now"]</span>
                                                    <span uk-icon="icon: arrow-right; ratio: 1.2"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    @* </button> *@

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Modal xac nhan-->
<div id="modal-confirm" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog order__modal__dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-text-center">
            <p>Bạn có chắc chắn muốn đặt hàng?</p>
            <a href="#modal-success" uk-toggle class="uk-button uk-button-large uk-button-secondary order__modal__btn">@Localizer["Confirmed"]</a>
        </div>

    </div>
</div>
<!--/Modal xac nhan-->
<!--Modal success-->
<div id="modal-success" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog order__modal__dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-text-center">
            <div>
                <img src="~/design/images/icon/Group997.png" alt="">
            </div>
            <p>Đặt hàng thành công!</p>
        </div>

    </div>
</div>
<!--/Modal success-->

<script>
    // UIkit.modal('#modal-success').show();
</script>

@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="/js/libs/daterangepicker-master/daterangepicker.js?v=1" ></script>*@
    <script>
        $('.slide-sock').slick({
            autoplay: false,
            autoplaySpeed: 2500,
            arrows: false,
            slidesToShow: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        });

        $('.next-2').click(function () {
            $(".slide-sock").slick('slickNext');
        });
        $('.pre-2').click(function () {
            $(".slide-sock").slick('slickPrev');
        });
    </script>
    <script type="text/javascript" src="~/js/controller/preMenuControrller.js"></script>
}
