﻿@using JanHome.Web.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization

@model List<ZoneByTreeViewMinify>

@{ 
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var base_img_folder = "~/";
    var domain = Context.Request.Host.ToString();

}

@{
    var list_zone_first = Model.Where(r => r.ParentId == 0 && r.IsShowMenu == 1).OrderBy(r => r.SortOrder);
}

@foreach (var item in list_zone_first)
{
    var link_root = base_uri_culture + Url.Action("ProductList", "Product");
    <li class="list-group-item">
        <a href="@link_root" class="link" title="@item.Name">
            <img src="@(base_img_folder+item.Icon) "
                 class="img-fluid mr-2" alt="@item.Name" />@item.Name
        </a>
        <div class="subcate  ">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6 col-12 px-3">
                    <aside class="mb-4">
                        <div class="font-weight-bold py-1 d-flex">
                            <a href="">Sàn gỗ Việt Nam </a>
                            <a href="" class="link-view-more ml-auto align-self-center"
                               style="font-size:12px ">
                                Xem tất cả <i class="fas fa-chevron-right ml-1 small"></i>
                            </a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>

                    </aside>
                </div>
                <div class="col-lg-4 col-md-6 col-12 px-3">
                    <aside class="mb-4">
                        <div class="font-weight-bold py-1 d-flex">
                            <a href="">Sàn gỗ Việt Nam </a>
                            <a href="" class="link-view-more ml-auto align-self-center"
                               style="font-size:12px ">
                                Xem tất cả <i class="fas fa-chevron-right ml-1 small"></i>
                            </a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>

                    </aside>
                </div>
                <div class="col-lg-4 col-md-6 col-12 px-3">
                    <aside class="mb-4">
                        <div class="font-weight-bold py-1 d-flex">
                            <a href="">Sàn gỗ Việt Nam </a>
                            <a href="" class="link-view-more ml-auto align-self-center"
                               style="font-size:12px ">
                                Xem tất cả <i class="fas fa-chevron-right ml-1 small"></i>
                            </a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>

                    </aside>
                </div>
                <div class="col-lg-4 col-md-6 col-12 px-3">
                    <aside class="mb-4">
                        <div class="font-weight-bold py-1 d-flex">
                            <a href="">Sàn gỗ Việt Nam </a>
                            <a href="" class="link-view-more ml-auto align-self-center"
                               style="font-size:12px ">
                                Xem tất cả <i class="fas fa-chevron-right ml-1 small"></i>
                            </a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>

                    </aside>
                </div>
                <div class="col-lg-4 col-md-6 col-12 px-3">
                    <aside class="mb-4">
                        <div class="font-weight-bold py-1 d-flex">
                            <a href="">Sàn gỗ Việt Nam </a>
                            <a href="" class="link-view-more ml-auto align-self-center"
                               style="font-size:12px ">
                                Xem tất cả <i class="fas fa-chevron-right ml-1 small"></i>
                            </a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>
                        <div class="item-sub-link">
                            <a href="" class="">Sàn gỗ Kendax</a>
                        </div>

                    </aside>
                </div>


            </div>

        </div>
    </li>
}

