﻿<!--begin home section -->
<section class="home-section" id="home">

    <div class="home-section-overlay"></div>

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 padding-top-120">

                <h1>
                    ĐĂNG KÝ TUYỂN TOKUTEI GINO
                </h1>

                <p class="hero-text">Giới thiệu các ngành nghề không thu phí giới thiệu việc làm. Hỗ trợ di chuyển. Tư vấn hòa nhập môi trường công ty.</p>

                <!--begin popup-video-wrapper-->
                <div class="popup-gallery-wrapper">

                    <!--begin popup-video-->
                    <div class="popup-gallery hero-gallery">

                        <a class="popup4 video-icon" href="https://www.youtube.com/watch?v=vWYhgOdXCbA">
                            <i class="fas fa-play"></i>
                        </a>

                    </div>
                    <!--end popup-video-->

                    <p class="popup-video-text">Xem Review Phỏng Vấn</p>

                </div>
                <!--end popup-video-wrapper-->

            </div>
            <!--end col-md-6-->
            <!--begin col-md-5-->
            <div class="col-md-5 offset-md-1 margin-top-20">

                <!--begin register-form-wrapper-->
                <div class="register-form-wrapper wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">

                    <h3>Đăng ký thông tin Ứng Viên</h3>

                    <p>Điền form mẫu để đăng ký ứng tuyển.  </p>

                    <!--begin form-->
                    <div>

                        <!--begin success message -->
                        <p class="register_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                        <!--end success message -->
                        <!--begin register form -->
                        <form id="register-form" name="register-form" class="register-form register">
                            <input class="register-input name-input white-input" required="" name="register_names" placeholder="Họ và tên*" type="text">

                            <input class="register-input name-email white-input" required="" name="register_email" placeholder="LineID*" type="text">

                            <input class="register-input name-email white-input" required="" name="register_ticket" placeholder="Link Facebook" type="text">

                            @*<select class="register-input white-input" required="" name="register_ticket">

                                <option value="">We need LaunchPage for...</option>

                                <option value="Individual">Our Support Team</option>

                                <option value="Professional">Our Sales Department</option>

                            </select>*@

                            <input value="Gửi ngay" class="register-submit" type="submit">

                        </form>
                        <!--end register form -->
                        

                        @*<p class="register-form-terms">No Credit Card &#8226; No Installation Required</p>*@

                    </div>
                    <!--end form-->

                </div>
                <!--end register-form-wrapper-->

            </div>
            <!--end col-md-5-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end home section -->
<!--begin partners-section-->
<div class="partners-section">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-sm-12-->
            <div class="col-md-10 mx-auto text-center partners">
                <h5 class="partners-title">Liên hệ chúng tôi:</h5>
                <img src="~/design/images/zalo.png" class="partners" alt="image">
                <a href="http://tncorp.vn/"><img src="~/design/images/earth.png" class="partners" alt="image"></a>
                @*<img src="~/design/images/facebook-round-color.png" class="partners" alt="image">*@
                <a href="https://www.facebook.com/hoang.buiduy.39/"><img src="~/design/images/facebook-round-color.png" class="partners" alt="image"></a>
            </div>
            <!--end col-sm-12-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</div>
<!--end partners-section-->
<!--begin section-grey -->
<section class="section-grey" id="about">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center margin-bottom-10">

                <h2 class="section-title">Giới thiệu về TNGROUP</h2>

                <p class="section-subtitle">Với phương châm “Tạo cơ hội việc làm các bạn trẻ Việt Nam”. Công ty chúng tôi luôn tìm kiếm những đối tác lắng nghe và hiểu được đặc thù của lao động Việt. Từ đó giúp họ có cái nhìn tổng quan qua đó có lộ trình hướng dẫn và thúc đẩy sự phát triển của lao động. Nhờ cơ hội việc làm đó các bạn trẻ Việt Nam tự tin hơn, trải nghiệm hơn về cuộc sống giúp phần nâng cao trình độ và cải thiện hoàn cảnh bản thân, gia đình, xã hội. </p>

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->
    <!--begin services-wrapper -->
    <div class="services-wrapper">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-4 -->
                <div class="col-md-4">

                    <div class="main-services blue">

                        <i class="far fa-chart-bar"></i>

                        <h4>Đăng Ký-Phỏng Vấn</h4>

                        <p>Không mất phí giới thiệu việc làm.  </p>
                        <p>Hỗ trợ tư vấn qua Facebook, Zoom.</p>
                        <p>Bảo mật thông tin cá nhân và doanh nghiệp.</p>
                       

                    </div>

                </div>
                <!--end col-md-4 -->
                <!--begin col-md-4 -->
                <div class="col-md-4">

                    <div class="main-services red">

                        <i class="far fa-heart"></i>

                        <h4>Sau Trúng Tuyển</h4>

                        <p>Hướng dẫn làm thủ tục hồ sơ.  </p>
                        <p>Tư vấn luật chế độ Tokutei Gino.</p>
                        <p>Tham gia các buổi online phổ biến thông tin về doanh nghiệp và văn hóa, quy tắc ứng xử tại xí nghiệp tuyển chọn.</p>
                        
                    </div>

                </div>
                <!--end col-md-4 -->
                <!--begin col-md-4 -->
                <div class="col-md-4">

                    <div class="main-services green">

                        <i class="fas fa-anchor"></i>

                        <h4>Về Xí Nghiệp</h4>

                        <p>Xí nghiệp hỗ trợ khoản chi phí không ổn định: Phí đi lại,chuyển đồ.  </p>
                        <p>Đón và hướng dẫn sinh hoạt tại nơi ở hoặc công ty mới.</p>
                        <p>Xác nhận khả năng thích nghi môi trường mới,khó khăn và rào cản trong công việc.</p>
                    </div>

                </div>
                <!--end col-md-4 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>
    <!--end services-wrapper -->

</section>
<!--end section-grey -->
<!--begin section-white -->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row align-items-center">

            <!--begin col-md-6-->
            <div class="col-md-6 wow slideInLeft" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: slideInLeft;">

                <div class="margin-right-15">

                    <img src="~/design/images/555x425-03.png" class="width-100 image-shadow bottom-margins-images" alt="pic">

                </div>

            </div>
            <!--end col-sm-6-->
            <!--begin col-md-6-->
            <div class="col-md-6">

                <h3>Cách chúng tôi có thể giúp bạn tìm được công việc đáp ứng được nhu cầu.</h3>

                <p>Chúng tôi luôn có đội ngũ:</p>

                <ul class="benefits">
                    <li><i class="fas fa-check"></i> Giải đáp những thắc mắc xoay quanh thông tin cơ sở, nhà máy.</li>
                    <li><i class="fas fa-check"></i> Tìm hiểu mức lương và so sánh để đảm bảo mức thu nhập của bạn.</li>
                    <li><i class="fas fa-check"></i> Hỗ trợ toàn bộ Quy trình, thủ tục.</li>
                </ul>

                <a href="https://forms.gle/xngm3Br9L2vYimki8" class="btn-red small scrool">Đăng ký ngay</a>

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->
<!--begin section-grey -->
<section class="section-grey">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row align-items-center">

            <!--begin col-md-6-->
            <div class="col-md-6">

                <div class="nav flex-column nav-pills margin-right-25" id="v-pills-tab" role="tablist" aria-orientation="vertical">



                    <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">

                        <!--begin features-second-->
                        <div class="features-second">

                            <div class="dropcaps-circle red">
                                <i class="fas fa-network-wired"></i>
                            </div>

                            <h4 class="margin-bottom-5">Bạn chưa biết nên chọn công việc nào?.</h4>

                            <p>Đội ngũ tư vấn viên của TNgroup sẽ đưa ra những gợi ý công việc phù hợp với bạn.</p>

                        </div>
                        <!--end features-second-->

                    </a>

                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">

                        <!--begin features-second-->
                        <div class="features-second">

                            <div class="dropcaps-circle green">
                                <i class="fas fa-rocket"></i>
                            </div>

                            <h4 class="margin-bottom-5">Bạn không đủ chi phí tham gia đơn hàng?</h4>

                            <p>Tại TNGroup, Chúng tôi có các chính sách hỗ trợ giúp các bạn có thể tham gia được các đơn hàng phù hợp với tài chính của bạn.</p>

                        </div>
                        <!--end features-second-->

                    </a>

                    <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">

                        <!--begin features-second -->
                        <div class="features-second">

                            <div class="dropcaps-circle blue">
                                <i class="fas fa-chart-line"></i>
                            </div>

                            <h4 class="margin-bottom-5">Bạn muốn được tư vấn về chương trình lao động tại doanh nghiệp?</h4>

                            <p>Các thông tin, chính sách của nghiệp đoàn, doanh nghiệp được minh bạch, truyền đạt đầy đủ tới ứng viên từ đội ngũ Chuyên viên tư vấn từ TNgroup.</p>

                        </div>
                        <!--end features-second-->
                    </a>

                </div>

            </div>
            <!--end col-md-6-->
            <!--begin col-md-6 -->
            <div class="col-md-6">

                <div class="tab-content margin-left-20" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <img src="~/design/images/555x425-02.png" class="width-100 image-shadow top-margins-images" alt="pic">
                    </div>

                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img src="~/design/images/555x425-02.png" class="width-100 image-shadow top-margins-images" alt="pic">
                    </div>

                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <img src="~/design/images/555x425-02.png" class="width-100 image-shadow top-margins-images" alt="pic">
                    </div>

                </div>

            </div>
            <!--end col-md-6 -->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-grey-->
<!--begin section-bg-1 -->
<section class="section-bg-1">

    <div class="section-bg-overlay"></div>

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col md 7 -->
            <div class="col-md-7 mx-auto margin-bottom-20 text-center">

                <h2 class="white-text">Thành tựu của chúng tôi</h2>

            </div>
            <!--end col md 7-->

        </div>
        <!--end row-->
        <!--begin row-->
        <div class="row">

            <!--begin fun-facts-box -->
            <div class="col-md-2 offset-md-2 fun-facts-box text-center">

                <i class="far fa-gem"></i>

                <p class="fun-facts-title"><span class="facts-numbers">8</span><br>Năm Phát triển</p>

            </div>
            <!--end fun-facts-box -->
            <!--begin fun-facts-box -->
            <div class="col-md-2 fun-facts-box text-center">

                <i class="far fa-heart"></i>

                <p class="fun-facts-title"><span class="facts-numbers">40+</span><br>Nghiệp đoàn liên kết</p>

            </div>
            <!--end fun-facts-box -->
            <!--begin fun-facts-box -->
            <div class="col-md-2 fun-facts-box text-center">

                <i class="fas fa-award"></i>

                <p class="fun-facts-title"><span class="facts-numbers">1000+</span><br>Đơn hàng thành công</p>

            </div>
            <!--end fun-facts-box -->
            <!--begin fun-facts-box -->
            <div class="col-md-2 fun-facts-box text-center">

                <i class="fas fa-anchor"></i>

                <p class="fun-facts-title"><span class="facts-numbers">30</span><br>Đơn hàng/tháng</p>

            </div>
            <!--end fun-facts-box -->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-bg-1 -->
<!--begin testimonials section -->
<section class="section-grey" id="testimonials">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row align-items-center">

            <!--begin col-md-5 -->
            <div class="col-md-5 col-sm-12">

                <h2>KHÁCH HÀNG CỦA TNGROUP TẠI NHẬT BẢN.</h2>

                <p>Với hơn 10 năm phát triển chúng tôi có rất nhiều đối tác, nghiệp đoàn thân thiết tại Nhật Bản.</p>

                <!--begin row-->
                <div class="row">

                    <!--begin col-md-4-->
                    <div class="col-md-4 col-sm-6">

                        <!--begin testim-platform-->
                        <div class="testim-platform first">

                            <p>TrustPilot</p>

                            <div class="testim-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                            </div>

                        </div>
                        <!--end testim-platform-->

                    </div>
                    <!--end col-sm-4-->
                    <!--begin col-md-4-->
                    <div class="col-md-4 col-sm-6">

                        <!--begin testim-platform-->
                        <div class="testim-platform">

                            <p>Feefo</p>

                            <div class="testim-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="far fa-star" aria-hidden="true"></i>
                            </div>

                        </div>
                        <!--end testim-platform-->

                    </div>
                    <!--end col-sm-4-->

                </div>
                <!--end row-->

            </div>
            <!--end col-md-5 -->
            <!--begin col-md-1 -->
            <div class="col-md-1"></div>
            <!--end col-md-1 -->
            <!--begin col-md-6-->
            <div class="col-md-6">

                <!--begin accordion -->
                <div class="accordion" id="accordionFAQ">

                    <!--begin card -->
                    <div class="card">

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                            <div class="card-body">
                                "Chúng tôi đánh giá cao năng lực của các bạn thực tập sinh Việt Nam. Trong tương lai dài hạn chúng tôi luôn muốn đào tạo đội ngũ nhân lực từ Việt Nam tốt hơn."
                            </div>
                        </div>

                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="~/design/images/nhat-1.jpg" alt="testimonials" class="testim-img">
                                    <p class="testim-name">Đại diện cơ quan shien</p>
                                </button>
                            </h5>
                        </div>

                    </div>
                    <!--end card -->
                    <!--begin card -->
                    <div class="card">

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                            <div class="card-body">
                                "Trong các năm phát triển tiếp theo, chúng tôi luôn hi vọng sẽ làm được nhiều điều hơn cho các bạn trẻ ở Việt Nam"
                            </div>
                        </div>

                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <img src="~/design/images/nhat-2.jpg" alt="testimonials" class="testim-img">
                                    <p class="testim-name"> Đại diện công ty tiếp nhận</p>
                                </button>
                            </h5>
                        </div>

                    </div>
                    <!--end card -->
                </div>
                <!--end accordion -->

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end testimonials section -->
<!--begin section-white -->
<section class="section-white" id="portfolio">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center margin-bottom-30">

                <h2 class="section-title">HÌNH ẢNH MỘT SỐ NGHIỆP ĐOÀN ĐỐI TÁC</h2>

                <p class="section-subtitle">
                    Chúng tôi tích cực trao đổi nguồn nhân lực và công nghệ tại 5 nhà máy trên toàn quốc, đồng thời nỗ lực hàng ngày để tạo ra các sản phẩm an toàn hơn, đảm bảo hơn và có giá trị gia tăng cao.
                </p>

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->
    <!--begin container -->
    <div class="container">

        <!--begin row-->
        <div class="row wow fadeIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">

            <!--begin col-md-4 -->
            <div class="col-md-4 col-sm-12 p-0 m-0">

                <figure class="gallery-insta">
                    <!--begin popup-gallery-->
                    <div class="popup-gallery popup-gallery-rounded portfolio-pic">
                        <a class="popup2" href="~/design/images/555x460-09.png">
                            <img src="~/design/images/555x460-09.png" class="width-100" alt="pic">
                            <span class="eye-wrapper"><i class="fa fa-search-plus eye-icon" style="font-size: 38px;"></i></span>
                        </a>
                    </div>
                    <!--end popup-gallery-->
                </figure>

                <figure class="gallery-insta">
                    <!--begin popup-gallery-->
                    <div class="popup-gallery popup-gallery-rounded portfolio-pic">
                        <a class="popup2" href="~/design/images/555x460-08.png">
                            <img src="~/design/images/555x460-08.png" class="width-100" alt="pic">
                            <span class="eye-wrapper"><i class="fa fa-search-plus eye-icon" style="font-size: 38px;"></i></span>
                        </a>
                    </div>
                    <!--end popup-gallery-->
                </figure>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12 p-0 m-0">

                <figure class="gallery-insta">
                    <!--begin popup-gallery-->
                    <div class="popup-gallery popup-gallery-rounded portfolio-pic">
                        <a class="popup2" href="~/design/images/623x1050-05.png">
                            <img src="~/design/images/623x1050-05.png" class="width-100" alt="pic">
                            <span class="eye-wrapper"><i class="fa fa-search-plus eye-icon" style="font-size: 38px;"></i></span>
                        </a>
                    </div>
                    <!--end popup-gallery-->
                </figure>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12 p-0 m-0">

                <figure class="gallery-insta">
                    <!--begin popup-gallery-->
                    <div class="popup-gallery popup-gallery-rounded portfolio-pic">
                        <a class="popup2" href="~/design/images/555x460-07.png">
                            <img src="~/design/images/555x460-07.png" class="width-100" alt="pic">
                            <span class="eye-wrapper"><i class="fa fa-search-plus eye-icon" style="font-size: 38px;"></i></span>
                        </a>
                    </div>
                    <!--end popup-gallery-->
                </figure>

                <figure class="gallery-insta">
                    <!--begin popup-gallery-->
                    <div class="popup-gallery popup-gallery-rounded portfolio-pic">
                        <a class="popup2" href="~/design/images/555x460-06.png">
                            <img src="~/design/images/555x460-06.png" class="width-100" alt="pic">
                            <span class="eye-wrapper"><i class="fa fa-search-plus eye-icon" style="font-size: 38px;"></i></span>
                        </a>
                    </div>
                    <!--end popup-gallery-->
                </figure>

            </div>
            <!--end col-md-4 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end section-white -->
<!--begin team section -->
<section class="section-grey" id="team">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">

                <h2 class="section-title">ĐỘI NGŨ CHUYÊN VIÊN TỪ TNGROUP</h2>

                <p class="section-subtitle">Đội ngũ chuyên viên tư vấn từ TNgroup luôn sẵn sàng hỗ trợ các bạn 24/7.</p>

            </div>
            <!--end col-md-12 -->
            <!--begin team-item -->
            <div class="col-sm-12 col-md-4 margin-top-30">

                <img src="~/design/images/ns-hoang.jpg" class="team-img width-100" alt="pic" >

                <div class="team-item">

                    <h3>BÙI DUY HOÀNG</h3>

                    <div class="team-info"><p>Trưởng phòng tư vấn</p></div>

                    

                </div>

            </div>
            <!--end team-item -->
            <!--begin team-item -->
            <div class="col-sm-12 col-md-4 margin-top-30">

                <img src="~/design/images/ns-hoa.png" class="team-img width-100" alt="pic" >

                <div class="team-item">

                    <h3>BÙI THỊ THÚY HÒA</h3>

                    <div class="team-info geen"><p>Chuyên viên tư vấn</p></div>


                </div>

            </div>
            <!--end team-item -->
            <!--begin team-item -->
            <div class="col-sm-12 col-md-4 margin-top-30">

                <img src="~/design/images/ns-phuong.png" class="team-img width-100" alt="pic" >

                <div class="team-item">

                    <h3>MAI THỊ THU PHƯƠNG</h3>

                    <div class="team-info green"><p>Chuyên viên tư vân</p></div>


                </div>

            </div>
            <!--end team-item -->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end team section-->
<!--begin section-bg-2 -->
<section class="section-bg-2">

    <div class="section-bg-overlay"></div>

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col md 7 -->
            <div class="col-md-7 mx-auto text-center">

                <h2 class="white-text">ĐĂNG KÝ NGAY LÀM ỨNG VIÊN</h2>

                <p class="white-text">Bạn đang có nhu cầu mong muốn thay đổi công việc hiện tại , hãy gửi cho chúng tôi thông tin của bạn để chúng tôi hỗ trợ tư vấn cho bạn tốt nhất.</p>

                <a href="http://tncorp.vn/" class="btn-white small scrool">Tìm hiểu về TNGroup</a>

                <a href="https://forms.gle/xngm3Br9L2vYimki8 " class="btn-white-border small scrool">Đăng ký ngay</a>

            </div>
            <!--end col md 7-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-bg-2 -->
<!--begin features section -->
<section class="section-white" id="features">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center padding-bottom-10">

                <h2 class="section-title">NHỮNG ĐIỀU KIỆN ĐỂ THAM GIA LÀM VIỆC TẠI CÁC NGHIỆP ĐOÀN</h2>

                

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->
        <!--begin row -->
        <div class="row">

            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box light-green wow fadeIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">

                    <i class="fas fa-tools"></i>

                    <div class="feature-box-text">

                        <h4>Độ tuổi tham gia</h4>

                        <p>Từ 18 đến 36.</p>

                    </div>

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box light-blue wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">

                    <i class="fas fa-users"></i>

                    <div class="feature-box-text">

                        <h4>Trình độ tiếng Nhật</h4>

                        <p>N4 trở lên ( Ưu tiên người có trình độ trên N3).</p>

                    </div>

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md 4-->
            <div class="col-md-4">

                <div class="feature-box orange wow fadeIn" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">

                    <i class="far fa-bell"></i>

                    <div class="feature-box-text">

                        <h4>Sức khoẻ</h4>

                        <p>Tốt - Không mắc các bệnh truyền nhiễm như HIV, viêm gan A B C D, lao,.v.v.v.</p>


                    </div>

                </div>

            </div>
            <!--end col-md-4 -->

        </div>
        <!--end row -->
        <!--begin row -->
        <div class="row">

            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box dark-blue wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">

                    <i class="fas fa-gift"></i>

                    <div class="feature-box-text">

                        <h4>Chiều cao/Cân nặng</h4>

                        <p>Tuỳ vào yêu cầu của từng đơn hàng ( Trung bình 1m48 trở lên).</p>

                    </div>

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box light-red wow fadeIn" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">

                    <i class="fas fa-piggy-bank"></i>

                    <div class="feature-box-text">

                        <h4>Kinh nghiệm làm việc</h4>

                        <p>Đã có bằng Senmon. Hoặc những người có chứng chỉ Tokutei</p>

                    </div>

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4-->
            <div class="col-md-4">

                <div class="feature-box dark-green wow fadeIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">


                    <i class="far fa-comments"></i>


                    <div class="feature-box-text">

                        <h4>Thông tin nhân thân</h4>

                        <p>Đầy đủ, minh bạch các thông tin về nhân thân, gia đình.</p>

                    </div>

                </div>

            </div>
            <!--end col-md-4 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end features section -->
<!--begin pricing section -->
<!--<section class="section-grey" id="pricing">-->

    <!--begin container -->
    <!--<div class="container">-->

        <!--begin row -->
        <!--<div class="row align-items-center">-->

            <!--begin col-md-4 -->
            <!--<div class="col-md-4 col-sm-12">

                <h3>Great pricing plans tailored to your needs.</h3>

                <p>Quis autem velis ets reprehender net etid quiste voluptate. Utise wisi enim minim veniam, quis et stationes nets.</p>

            </div>-->
            <!--end col-md-4 -->
            <!--begin col-md-4-->
            <!--<div class="col-md-4 col-sm-6 wow bounceIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: bounceIn;">

                <div class="price-box-white">

                    <ul class="pricing-list">

                        <li class="price-title">MONTHLY</li>

                        <li class="price-value">$19</li>

                        <li class="price-subtitle">Per Month</li>

                        <li class="price-tag"><a href="#">GET STARTED</a></li>

                        <li class="price-text">First two weeks free.</li>

                        <li class="price-text">Amazing freatures.</li>

                    </ul>

                </div>

            </div>-->
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <!--<div class="col-md-4 col-sm-6 wow bounceIn" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: bounceIn;">

                <div class="price-box-grey">

                    <ul class="pricing-list">

                        <li class="price-title">ANNUALY</li>

                        <li class="price-value">$29</li>

                        <li class="price-subtitle">Per Year</li>

                        <li class="price-tag"><a href="#">GET STARTED</a></li>

                        <li class="price-text">First two weeks free.</li>

                        <li class="price-text">Save 45% with this plan</li>

                        <li class="price-text">Amazing freatures.</li>

                    </ul>

                </div>

            </div>-->
            <!--end col-md-4 -->

        <!--</div>-->
        <!--end row -->

    <!--</div>-->
    <!--end container -->

<!--</section>-->
<!--end pricing section -->
<!--begin faq section -->
<!--<section class="section-white" id="faq">-->

    <!--begin container -->
    <!--<div class="container">-->

        <!--begin row -->
        <!--<div class="row">-->

            <!--begin col-md-12-->
            <!--<div class="col-md-12 text-center padding-bottom-10">

                <h2 class="section-title">Frequently Asked Questions</h2>

                <p class="section-subtitle">Quis autem velis ets reprehender net etid quiste voluptate.</p>

            </div>-->
            <!--end col-md-12 -->

        <!--</div>-->
        <!--end row -->
        <!--begin row -->
        <!--<div class="row">-->

            <!--begin col-md-6-->
            <!--<div class="col-md-6">

                <div class="faq-box">

                    <h5>Velit ut tortizi pretium viverra suspendisse?</h5>

                    <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>

                </div>

                <div class="faq-box">

                    <h5>Maecenas volutpat blandit etiam?</h5>

                    <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>

                </div>

            </div>-->
            <!--end col-md-6 -->
            <!--begin col-md-6-->
            <!--<div class="col-md-6">

                <div class="faq-box">

                    <h5>Nibh sit amet aliquam commodo?</h5>

                    <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>

                </div>

                <div class="faq-box">

                    <h5>Elementum curabitur vitae?</h5>

                    <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>

                </div>

            </div>-->

            <!--end col-md-6 -->

        <!--</div>-->
        <!--end row -->

    <!--</div>-->
    <!--end container -->

<!--</section>-->
<!--end faq section -->
<!--begin section-bg-2 -->
<section class="section-bg-2" id="contact">

    <div class="section-bg-overlay"></div>

    <!--begin container-->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center padding-bottom-10">

                <h2 class="section-title white-text">Liên hệ với chúng tôi</h2>

                <p class="section-subtitle white">Bạn có gì thắc mắc? Hãy để lại thông tin để được tư vấn.</p>

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->
        <!--begin row-->
        <div class="row justify-content-md-center">

            <!--begin col-md-8-->
            <div class="col-md-8 text-center margin-top-10">

                <!--begin contact-form-wrapper-->
                <div class="contact-form-wrapper wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">

                    <!--begin form-->
                    <div>

                        <!--begin success message -->
                        <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                        <!--end success message -->
                        <!--begin contact form -->
                        <form id="contact-form" class="row contact-form contact">

                            <!--begin col-md-6-->
                            <div class="col-md-6">

                                <input class="contact-input" required="" name="contact_names" placeholder="Tên của bạn*" type="text">

                                <input class="contact-input" required="" name="contact_phone" placeholder="Số điện thoại của bạn*" type="text">

                            </div>
                            <!--end col-md-6-->
                            <!--begin col-md-6-->
                            <div class="col-md-6">

                                <input class="contact-input" required="" name="contact_email" placeholder="Email*" type="email">

                                <select class="contact-input" required="" name="contact_ticket">

                                    <option value="">---Chọn----</option>

                                    <option value="Individual">Tư vấn cho mình</option>

                                    <option value="Corporate">Tư vấn cho người thân</option>

                                </select>

                            </div>
                            <!--end col-md-6-->
                            <!--begin col-md-12-->
                            <div class="col-md-12">

                                <textarea class="contact-input" rows="2" cols="20" name="contact_message" placeholder="Lời nhắn của bạn..."></textarea>

                                <input value="Gửi" class="contact-submit" type="submit">

                            </div>
                            <!--end col-md-12-->

                        </form>
                        <!--end contact form -->

                    </div>
                    <!--end form-->

                </div>
                <!--end contact-form-wrapper-->

            </div>
            <!--end col-md-8-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-bg-2 -->