﻿
@{
    var promotions = ViewBag.Promotions as List<PromotionViewModel>;
    var vouchers = ViewBag.Coupons as List<Coupon>;
}

@using Enterbuy.Data.SqlServer.ModelDto
@using Utils
@model List<Enterbuy.Data.SqlServer.ModelDto.ProductMinify>;

@foreach (var item in Model)
{
    string valueVoucher = "";
    <tr class="item mb-rieng" id="item-@item.ProductId" data-id="@item.ProductId" data-sale-price="@(item.FlashSaleId > 0 ? item.ProductPriceInFlashSale : item.SalePrice )" data-name="@item.Title" data-is-flash-sale="@item.FlashSaleId">
        <td class="od-1">
            <div class="label-checkbox label-2 mb-0">
                <input type="checkbox" class="choosen-item">
                <span class="checkmark sp"></span>
                <div class="d-flex">
                    <div class="image-product mr-3">
                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="" alt="@item.Title" />
                    </div>
                    <div class="text align-self-center">
                        <h6 class="name-product">@item.Title</h6>
                        <div class="input-group mb-3 coupon">
                            @{var coup = vouchers.FirstOrDefault(x => x.ProductId == item.ProductId); }
                            @if (coup != null)
                            {

                                if (coup.DiscountOption == 1)
                                {
                                    valueVoucher = $"Giảm giá: { UIHelper.FormatNumber2(coup.ValueDiscount)}%";
                                }
                                else
                                {
                                    valueVoucher = $"Giảm giá: {UIHelper.FormatNumber2(coup.ValueDiscount)}đ";
                                }
                                <span data-value="@coup.ValueDiscount" voucher-active="@coup.Code" data-type="@coup.DiscountOption" style="display:none" class="data-voucher"></span>
                                <input type="text" value="@coup.Code" class="form-control coupon-detail" placeholder="Nhập mã giảm giá">
                                <div class="input-group-append">
                                    <button class="btn btn-app btn-voucher" type="button" id="button-addon2">ÁP DỤNG</button>
                                </div>

                                string u = coup.DiscountOption == 1 ? "%" : "đ";
                                coup.Name = coup.Name.Replace("[Price]", $"{UIHelper.FormatNumber2(coup.ValueDiscount)} {u}");



                                <div style="width:100%" class="alert alert-success mess-coupon "> @coup.Name</div>
                            }
                            else
                            {
                                <span data-value="0" data-type="0" style="display:none" class="data-voucher"></span>
                                <input type="text" class="form-control coupon-detail" placeholder="Nhập mã giảm giá">
                                <div class="input-group-append">
                                    <button class="btn btn-app btn-voucher" type="button" id="button-addon2">ÁP DỤNG</button>
                                </div>
                                <div style="width:100%" class="alert alert-success mess-coupon hidden"></div>
                            }
                        </div>

                        @if (!string.IsNullOrEmpty(item.PromotionIds) && item.ExprirePromotion != null && item.ExprirePromotion.GetValueOrDefault() > DateTime.Now)
                        {
                            <div class="item-promotion" id="item-promotion-@item.ProductId" data-product-id="@item.ProductId">
                                @{
                                    var item_promotion = item.PromotionIds.Split(',').ToList();
                                    var result = new List<PromotionViewModel>();
                                    foreach (var pro in item_promotion)
                                    {
                                        var pr = promotions.Where(r => r.Id == int.Parse(pro)).ToList();
                                        result.AddRange(pr);
                                    }
                                }
                                @foreach (var p in result)
                                {
                                    <label class="label-checkbox mb-2 ">
                                        @p.Name (<a href="" class=" color-EE7D22">xem chi tiết</a>)
                                        <input type="checkbox" @(item.FlashSaleId > 0 ? "disabled" : "checked") class="choose-promotion" data-is-discount-price="@p.IsDiscountPrice" data-value="@((int)p.Value)" data-type="@p.Type" data-id="@p.Id" data-name="@p.Name" />
                                        <span class="checkmark"></span>
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </td>
        <td class="od-3">
            <div class="price-new " data-sale-price="@((int)item.SalePrice)" data-is-flash-sale="0">
                @UIHelper.FormatNumber(item.SalePrice) đ
            </div>
            <div class="price-old">@UIHelper.FormatNumber(item.Price) đ</div>

            @if (!String.IsNullOrEmpty(valueVoucher))
            {
                <div class="value-voucher">@valueVoucher</div>
            }
            else
            {
                <div class="value-voucher">@valueVoucher</div>
            }
        </td>
        <td class="od-2">
            <div class="group-amount d-flex mb-3">
                <button class="btn minus" type="button">
                    <i class="fas fa-minus"></i>
                </button>
                <input type="text" class="form-control mx-2 quantity" value="1">
                <button class="btn plus" type="button">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            @if (item.Vat)
            {
                <label class="label-checkbox mb-0 ">
                    Có VAT
                    <input disabled type="checkbox" checked class="vat-order-success">
                    <span class="checkmark"></span>
                </label>
            }
            else
            {
                <label class="label-checkbox mb-0 ">
                    Có VAT
                    <input type="checkbox" class="vat-order">
                    <span class="checkmark"></span>
                </label>
            }
        </td>
        <td>
            <div class="item-sum">
                đ
            </div>
        </td>
        <td class="od-4">
            <a href="javascript:void(0)" class="remove-cart-item"><small>x</small></a>
        </td>
    </tr>
}







