﻿@using DiDongXanh_Web.Services.Product.Repository
@using DiDongXanh_Web.Services.Product.ViewModel
@using DiDongXanh_Web.Services.Zone.Repository
@using DiDongXanh_Web.Services.Zone.ViewModal
@using MI.Entity.Enums

@using DiDongXanh_Web.Services.FlashSale.Repository
@using DiDongXanh_Web.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using DiDongXanh_Web.Services.Article.Repository
@using DiDongXanh_Web.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var type = ViewBag.Type;
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@inject IFlashSaleRepository flashSaleRepository

@{
    var list_zone_type_region = ViewBag.Zones as List<ZoneByTreeViewMinify>;
    var region_parent = ViewBag.Parent as ZoneByTreeViewMinify;
    var banner = ViewBag.Banner;
    var style_div_with_banner = "";
    if (!string.IsNullOrEmpty(banner))
    {
        style_div_with_banner = "style=\"background: url(/" + banner + ") no-repeat top center;background-size: cover;\"";
    }
    var slide = ViewBag.Slide;
    var list_region_child = list_zone_type_region.Where(r => r.ParentId == region_parent.Id).OrderBy(r =>
    r.SortOrder).ToList();
    var count_item_five_part_two_line = 15;
}

@*@{
        var time = DateTime.Now;
        var list_flash_sale = flashSaleRepository.GetFlashSaleByTime(time);
        var flash_sale_active = list_flash_sale.FirstOrDefault();

        //var total_flashSale = 0;
        //var product_in_flashSale = flashSaleRepository.GetProductInFlashSale(flash_sale_active.Id, location_id, culture_code, 1, 5, out total_flashSale);
    }*@


@if (type == (int)HomeRegionEnum.FivePartOneLine)
{
    var link_view_more = string.Format("/danh-muc/{0}", region_parent.Url);
    if (!string.IsNullOrEmpty(style_div_with_banner))
    {
        <section class="pb-4">
            <div class="container ">
                <div class="bg-fff main-giatot-ee" @Html.Raw(style_div_with_banner)>
                    <div class="mb-3 no-gutters ">
                        @* <div class="d-flex flex-wrap">
                            <a href="" class="align-self-center h5 mr-3 text-uppercase mb-0" style="color: #fff;">
                            <b>@region_parent.Name</b>
                            </a>

                            <a href="@link_view_more" class="btn btn-outline-light btn-sm px-lg-4 align-self-center">
                            Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                            </a>
                            </div> *@
                        <div class="txt-giatot">
                            @region_parent.Name
                            @*Giá cực tốt trong <span class="month-giatot">tháng @DateTime.Now.Month</span>*@
                        </div>
                    </div>
                    <!-- Slider main container -->

                    @{
                        var total_1 = 0;
                        var products_in_region_1 = productRepository.GetProductInRegionByZoneIdMinify(region_parent.Id, location_id,
                            culture_code, 1, 10, out total_1).OrderBy(r => r.SortOrder).ToList();
                        var row_left = products_in_region_1.Skip(0).Take(2);
                        var row_rigth = products_in_region_1.Skip(2).Take(3);
                    }
                    <div class="giatot-main" style="position: relative;">
                        <div class="giatot-slide">

                            @foreach (var item in products_in_region_1)
                            {
                                <div class="aitem">
                                    @await Component.InvokeAsync("ItemProduct", new { pr = item, isLazy = false })
                                </div>
                            }
                        </div>
                        <div class="pre-3" id="pre-3">
                            <i class="fal fa-angle-left"></i>
                        </div>
                        <div class="next-3" id="next-3">
                            <i class="fal fa-angle-right"></i>
                        </div>
                    </div>

                    <div class="see-giatot">
                        <a href="@link_view_more" class="btn btn-outline-light btn-sm px-4 py-2 align-self-center">
                            Xem thêm<i class="fas fa-chevron-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {

        <div class="section-head cust-tab20" id="myTab" role="tablist">
            <h3 class="section-head__title">
                @region_parent.Name
            </h3>
            <div class="section-head__link">

                <div class="section-head__link">

                    @{
                        int tt = 1;
                    }
                    @foreach (var item in list_zone_type_region.Skip(2).Take(6))
                    {
                        <div class="section-head__link-item nav-item">
                            <a class="nav-link cust-km-mb @(tt == 1 ? "active" : "") _switch_region"
                               data-region-id="@item.Id">@item.Name</a>
                        </div>
                        tt++;
                    }
                    <div class="section-head__link-item">
                        <a href="@link_view_more" class="link-view-more">Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider main container -->
        @*<div class="slide-product slide-@slide">*@


        <div class="products-slide">
            @{
                var total_1 = 0;
                var products_in_region_1 = productRepository.GetProductInRegionByZoneIdMinify(region_parent.Id,
                    location_id, culture_code, 1, 15, out total_1).OrderBy(r => r.SortOrder).ToList();
                //var row_left = products_in_region_1.Skip(0).Take(2);
                //var row_rigth = products_in_region_1.Skip(2).Take(3);
            }
            <div class="swiper js-products-slide">
                <div class="swiper-wrapper products-slide__wrap _binding_product" id="slide_giatot">

                    @foreach (var item in products_in_region_1)
                    {
                        var link_taget = string.Format("/{0}.html", item.Url);
                        <!-- Item -->
                        <div class="swiper-slide products-slide__item products-grid__item ">
                            @await Component.InvokeAsync("ItemProduct", new { pr = item })
                        </div>
                        <!-- End Item -->
                    }


                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        @*</div>*@
    }
}
@if (type == (int)HomeRegionEnum.TwentyPart)
{
    var link_parent = "javascript:void(0)";
    var page_size = 15;
    var page_index = 1;
    var first_childs = list_region_child.FirstOrDefault();
    var total_first_child_1 = 0;
    var products_in_first_child = productRepository.GetProductInRegionByZoneIdMinify(first_childs.Id, location_id,
        culture_code, page_index, page_size, out total_first_child_1).OrderByDescending(r => r.IsHot).ToList();
    link_parent = first_childs.UrlOld;
    var link_view_more = string.Format("/danh-muc/{0}", region_parent.Url);


    @*<ul class="row nav nav-tabs cust-tab20 no-gutters" id="myTab" role="tablist">
            @{
                int tt = 1;
            }
            @foreach (var item in list_region_child.Skip(0).Take(8))
            {
                <li class="col-md-2 col-3 nav-item" style="max-width: 130px;">
                    <a class="nav-link cust-km-mb @(tt == 1 ? "active" : "") _switch_region"
                       data-region-id="@item.Id">@item.Name</a>
                </li>
                tt++;
            }
        </ul>*@


    <div class="section-head cust-tab20" id="myTab" role="tablist">
        <h3 class="section-head__title">@region_parent.Name</h3>
        <div class="section-head__link">
            @{
                int tt = 1;
            }
            @foreach (var item in list_region_child.Skip(0).Take(6))
            {
                <div class="section-head__link-item nav-item">
                    <a class="nav-link cust-km-mb @(tt == 1 ? "active" : "") _switch_region"
                       data-region-id="@item.Id">@item.Name</a>
                </div>
                tt++;
            }
            <div class="section-head__link-item">
                <a href="@link_view_more">Xem tất cả</a>
            </div>
        </div>
    </div>




    @*Cat mang o day*@
    <div class="_binding_product products-grid">
        @{
            var cutted_row = new List<ProductMinify>();
            var row_index = 1;
            var row_size = 15;
            var number_of_row = total_first_child_1 / row_size;
            var row_cutted_all = products_in_first_child.Skip((row_index - 1) * row_size).Take(row_size);
        }

        @foreach (var item in row_cutted_all)
        {
            var link_ta = string.Format("/{0}.html", item.Url);
            <div class="products-grid__item">
                @await Component.InvokeAsync("ItemProduct", new { pr = item })
            </div>
        }

    </div>
    @*<div class="text-center py-3">
            <a href="javascript:void(0)" class="btn btn-outline-view-more view-more-region-nbv"
               data-zone-id="@first_childs.Id" data-index="@page_index" data-size="@page_size"
               data-loc="@location_id">Xem thêm <i class="fal fa-plus ml-1"></i></a>
        </div>*@
}
@if (type == (int)HomeRegionEnum.FivePartTwoLine)
{
    var link_view_more = string.Format("/danh-muc/{0}", region_parent.Url);
    var total_1 = 0;
    var products_in_region_1 = productRepository.GetProductInRegionByZoneIdMinify(region_parent.Id, location_id,
        culture_code, 1, 5, out total_1).OrderBy(r => r.SortOrder).ToList();


    //Lay thong tin flash sale
    var time = DateTime.Now;
    var list_flash_sale = flashSaleRepository.GetFlashSaleByTime(time);
    var flash_sale_active = list_flash_sale.FirstOrDefault();




    if (flash_sale_active != null)
    {
        var f_link = string.Format("/{0}", "flash-sale");
        <div class="flash-sales flash-sale" data-start-time="@flash_sale_active.StartTime" data-end-time="@flash_sale_active.EndTime.ToString("yyyy-MM-dd")">
            <!-----------------slide-Gia soc----------------->
            <section class="main-giasoc">
                <div class="container">
                    <div class="flash-sales__wrap">
                        <div class="flash-sales__head">

                            <h2>
                                Giá sốc
                                <img src="~/design/images/icons/flash-white.svg" alt="Icon Flash" />
                                mỗi ngày
                            </h2>
                            <div class="flash-sales__timer timer" id="countdown">
                                <strong id="day">0 2</strong>
                                <span>:</span>
                                <strong id="hour">2 9</strong>
                                <span>:</span>
                                <strong id="minute">3 0</strong>
                                <span>:</span>
                                <strong id="second">3 0</strong>
                            </div>
                            <div id="content" class="emoji" style="display:none;">
                                <h2>
                                    <span style="color:red;">
                                        Kết thúc sự kiện
                                    </span>
                                    <span>🎉</span>
                                </h2>
                            </div>
                        </div>


                        @{
                            var total_flashSale = 0;
                            var product_in_flashSale = flashSaleRepository.GetProductInFlashSale(flash_sale_active.Id, location_id, culture_code, 1, 5, out total_flashSale);
                        }

                        <div class="js-flash-sales">
                            @for (int i = 0; i < product_in_flashSale.Count; i += 5)
                            {
                                var row_left = product_in_flashSale.Skip(i).Take(2);
                                var row_rigth = product_in_flashSale.Skip(i + 2).Take(3);
                                <div class="swiper-slide flash-sales__box">
                                    <div class="row flash-sales__row-1">
                                        @foreach (var item in row_left)
                                        {
                                            var link_it = LinkRedirectUrlUtility.ProductDetailUrl(item.Url);
                                            <div class="col-md-6 col-12 pd-sm-2">
                                                <div class="flash-sales__item" data-id="@item.ProductId"
                                                     data-properties="@item.PropertyId">
                                                    <div class="product-item-small">
                                                        <div class="product-item-small__image">
                                                            @if (item.FlashSaleId > 0)
                                                            {
                                                                <div class="tag-flashsale">
                                                                    <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                                                </div>
                                                            }
                                                            <a href="@link_it">
                                                                <img src="@UIHelper.StoreFilePath(item.Avatar)"
                                                                     alt="@item.Title" class="w-100" />
                                                            </a>
                                                        </div>
                                                        <div class="product-item-small__content">
                                                            <div class="product-item-small__pay">Trả góp 0%</div>
                                                            <div class="product-item-small__cate"> @item.ZoneName</div>

                                                            <h4 class="product-item-small__title">
                                                                <a href="@link_it" title="@item.Title">
                                                                    @item.Title
                                                                </a>
                                                            </h4>
                                                            @{
                                                                decimal up_price = 0;
                                                                decimal down_price = 0;
                                                                if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                                                {
                                                                    up_price = item.SalePrice;
                                                                    down_price = item.Price;
                                                                }
                                                                if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                                                {
                                                                    up_price = item.Price;
                                                                    down_price = 0;
                                                                }
                                                            }
                                                            <div class="product-item-small__price">
                                                                @if (item.FlashSaleId > 0)
                                                                {
                                                                    <div class="product-item-small__price-old">
                                                                        @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") :
                                                                                Html.Raw(UIHelper.FormatNumber(up_price)))
                                                                    </div>
                                                                    <div class="product-item-small__price-new">
                                                                        @UIHelper.FormatNumber(item.ProductPriceInFlashSale)
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    if (down_price > 0)
                                                                    {
                                                                        <div class="product-item-small__price-old">
                                                                            @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") :
                                                                                    Html.Raw(UIHelper.FormatNumber(down_price)))
                                                                        </div>
                                                                        <div class="product-item-small__price-new">
                                                                            @UIHelper.FormatNumber(up_price)
                                                                        </div>
                                                                    }
                                                                    if (down_price == 0)
                                                                    {
                                                                        if (item.Price > 0)
                                                                        {
                                                                            <div class="product-item-small__price-new">
                                                                                @UIHelper.FormatNumber(up_price)
                                                                            </div>
                                                                        }
                                                                        if (item.Price == 0 && item.SalePrice == 0)
                                                                        {
                                                                            <div class="product-item-small__price-new">
                                                                                Liên hệ
                                                                            </div>
                                                                        }
                                                                    }
                                                                }
                                                                @if (item.DiscountPercent <= 0)
                                                                {
                                                                    @*<div class="deal d-flex ml-2">
                                                                        <div class="image-deal">
                                                                        <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                                        </div>
                                                                        <div class="text-deal">
                                                                        </div>
                                                                        </div>*@
                                                                }
                                                                @if (item.DiscountPercent > 0)
                                                                {
                                                                    var g = string.Format("-{0}%", (int)item.DiscountPercent);
                                                                    <div class="product-item-small__discount">
                                                                        <img src="~/design/images/icons/flash-yellow.svg"
                                                                             alt="Icon Flash" />
                                                                        <span>Giảm @g</span>
                                                                    </div>
                                                                }

                                                            </div>
                                                            <div class="product-item-small__rating">
                                                                <div class="product-item-small__rating-stars">
                                                                    @await Component.InvokeAsync("RatingStar", new { object_id = @item.ProductId, object_type = (int)TypeRating.Product, hTag = "" })
                                                                </div>
                                                                <div class="product-item-small__rating-number">
                                                                    (@item.CountRate)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                    <div class="row flash-sales__row-2">
                                        @foreach (var item in row_rigth)
                                        {
                                            var link_it = LinkRedirectUrlUtility.ProductDetailUrl(item.Url);
                                            <div class="col-md-4 col-12">
                                                <div class="flash-sales__item" data-id="@item.ProductId"
                                                     data-properties="@item.PropertyId">
                                                    <div class="product-item-small">

                                                        <div class="product-item-small__image">
                                                            <a href="@link_it">
                                                                <img src="@UIHelper.StoreFilePath(item.Avatar)"
                                                                     alt="@item.Title" class="w-100" />
                                                            </a>
                                                        </div>



                                                        <div class="product-item-small__content">
                                                            <div class="product-item-small__pay">Trả góp 0%</div>
                                                            <div class="product-item-small__cate">Kệ Nhà bếp</div>

                                                            <h4 class="product-item-small__title">
                                                                <a href="@link_it" title="@item.Title">
                                                                    @item.Title
                                                                </a>
                                                            </h4>
                                                            @{
                                                                decimal up_price = 0;
                                                                decimal down_price = 0;
                                                                if (item.SalePrice > 0 && item.SalePrice < item.Price)
                                                                {
                                                                    up_price = item.SalePrice;
                                                                    down_price = item.Price;
                                                                }
                                                                if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                                                                {
                                                                    up_price = item.Price;
                                                                    down_price = 0;
                                                                }
                                                            }
                                                            <div class="product-item-small__price">
                                                                @if (item.FlashSaleId > 0)
                                                                {
                                                                    <div class="product-item-small__price-old">
                                                                        @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") :
                                                                                Html.Raw(UIHelper.FormatNumber(up_price) ))
                                                                    </div>
                                                                    <div class="product-item-small__price-new">
                                                                        @UIHelper.FormatNumber(item.ProductPriceInFlashSale)
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    if (down_price > 0)
                                                                    {
                                                                        <div class="product-item-small__price-old">
                                                                            @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") :
                                                                                    Html.Raw(UIHelper.FormatNumber(down_price) ))
                                                                        </div>
                                                                        <div class="product-item-small__price-new">
                                                                            @UIHelper.FormatNumber(up_price)
                                                                        </div>
                                                                    }
                                                                    if (down_price == 0)
                                                                    {
                                                                        if (item.Price > 0)
                                                                        {
                                                                            <div class="product-item-small__price-new">
                                                                                @UIHelper.FormatNumber(up_price)
                                                                            </div>
                                                                        }
                                                                        if (item.Price == 0 && item.SalePrice == 0)
                                                                        {
                                                                            <div class="product-item-small__price-new">
                                                                                Liên hệ
                                                                            </div>
                                                                        }
                                                                    }
                                                                }

                                                                @if (item.DiscountPercent <= 0)
                                                                {
                                                                    @*<div class="deal d-flex ml-2">
                                                                        <div class="image-deal">
                                                                        <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                                        </div>
                                                                        <div class="text-deal">
                                                                        </div>
                                                                        </div>*@
                                                                }
                                                                @if (item.DiscountPercent > 0)
                                                                {
                                                                    var g = string.Format("-{0}%", (int)item.DiscountPercent);
                                                                    <div class="product-item-small__discount">
                                                                        <img src="~/design/images/icons/flash-yellow.svg"
                                                                             alt="Icon Flash" />
                                                                        <span>Giảm @g</span>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="product-item-small__rating">
                                                                <div class="product-item-small__rating-stars">
                                                                    @await Component.InvokeAsync("RatingStar", new { object_id = @item.ProductId, object_type = (int)TypeRating.Product, hTag = "" })
                                                                </div>
                                                                <div class="product-item-small__rating-number">
                                                                    (@item.CountRate)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }

                        </div>


                    </div>
                </div>
            </section>
            </div>
            }
            else
            {
            <section class="main-giasoc">
                <div class="container">
                    <div class="price-sock">
                        <div class="txt-price-sock">
                            Giá sốc mỗi ngày
                        </div>
                        <div class="btn-seem">
                            <a href="#">Xem thêm +</a>
                        </div>
                        <div class="slide-sock">
                            <div class="atest">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="tag-1">
                                                        Trả góp 0% - Trả trước 0đ
                                                    </div>
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                        <!-- <div class="tag-2">
                                                        <img src="images/change/tag-2-2.png" class="img-fluid"/>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">
                                                        <div class="loai-product">
                                                            Kệ Nhà bếp
                                                        </div>
                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                            <div class="deal d-flex ml-2">
                                                                <div>
                                                                    <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                                </div>
                                                                <div>
                                                                    Giảm -30%
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                4.5/5<i class="fas fa-star ml-1"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                (135)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="tag-1">
                                                        Trả góp 0% - Trả trước 0đ
                                                    </div>
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                        <!-- <div class="tag-2">
                                                        <img src="images/change/tag-2-2.png" class="img-fluid"/>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">
                                                        <div class="loai-product">
                                                            Kệ Nhà bếp
                                                        </div>
                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                            <div class="deal d-flex ml-2">
                                                                <div>
                                                                    <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                                </div>
                                                                <div>
                                                                    Giảm -30%
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                4.5/5<i class="fas fa-star ml-1"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                (135)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-md-4">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">

                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                        </div>
                                                        <div class="deal d-flex">
                                                            <div>
                                                                <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                            </div>
                                                            <div>
                                                                Giảm -30%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">
                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                        </div>
                                                        <div class="deal d-flex">
                                                            <div>
                                                                <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                            </div>
                                                            <div>
                                                                Giảm -30%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">

                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                        </div>
                                                        <div class="deal d-flex">
                                                            <div>
                                                                <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                            </div>
                                                            <div>
                                                                Giảm -30%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="atest">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="tag-1">
                                                        Trả góp 0% - Trả trước 0đ
                                                    </div>
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                        <!-- <div class="tag-2">
                                                        <img src="images/change/tag-2-2.png" class="img-fluid"/>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">
                                                        <div class="loai-product">
                                                            Kệ Nhà bếp
                                                        </div>
                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                            <div class="deal d-flex ml-2">
                                                                <div>
                                                                    <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                                </div>
                                                                <div>
                                                                    Giảm -30%
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                4.5/5<i class="fas fa-star ml-1"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                (135)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="tag-1">
                                                        Trả góp 0% - Trả trước 0đ
                                                    </div>
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                        <!-- <div class="tag-2">
                                                        <img src="images/change/tag-2-2.png" class="img-fluid"/>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">
                                                        <div class="loai-product">
                                                            Kệ Nhà bếp
                                                        </div>
                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                            <div class="deal d-flex ml-2">
                                                                <div>
                                                                    <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                                </div>
                                                                <div>
                                                                    Giảm -30%
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                4.5/5<i class="fas fa-star ml-1"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                (135)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-md-4">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">

                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                        </div>
                                                        <div class="deal d-flex">
                                                            <div>
                                                                <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                            </div>
                                                            <div>
                                                                Giảm -30%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">

                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                        </div>
                                                        <div class="deal d-flex">
                                                            <div>
                                                                <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                            </div>
                                                            <div>
                                                                Giảm -30%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-product custom-pd-slide">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="image">
                                                        <a href="">
                                                            <img src="~/images/img-bepvui/product-detail.png"
                                                                 class="w-100" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="infosp-cust">

                                                        <h5 class="title">
                                                            <a href="" title="">
                                                                Lò Vi Sóng Balay 3WMB1918 Lò Vi Sóng Đĩa Quay Cao Cấp
                                                            </a>
                                                        </h5>
                                                        <div class="d-flex align-items-center ">
                                                            <div class="price-old mb-0 mr-2">
                                                                225,000đ
                                                            </div>
                                                            <div class="price-new mt-0">
                                                                5.290.000 ₫
                                                            </div>
                                                        </div>
                                                        <div class="deal d-flex">
                                                            <div>
                                                                <img src="~/images/img-bepvui/KM/flash.svg" alt="">
                                                            </div>
                                                            <div>
                                                                Giảm -30%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pre-2" id="pre2">
                            <i class="fal fa-angle-left"></i>
                        </div>
                        <div class="next-2" id="next2">
                            <i class="fal fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </section>
            }
            }
