﻿
@using Enterbuy.Data.SqlServer.ModelDto
@using Utils
@using Microsoft.AspNetCore.Http.Extensions
@inject RamData.IConfig Config
@{
    var domain_full = Context.Request.GetDisplayUrl();
    var FBAppId = Config.GetByName("FacebookAppId");
}
@model ArticleDetail;
@section styles {
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(Model.MetaTitle) == true ? Model.Title : Model.MetaTitle, Model.MetaDescription, Model.MetaKeyword, domain_full))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigSocialMeta(FBAppId, domain_full, Model.SocialTitle, Model.SocialDescription, Model.SocialImage))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(false))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domain_full, false, ""))
    @await Component.InvokeAsync("SEO_Article", new { article = Model })
}
<div class="container">
    <div class="banner-page py-3 mb-4"
         style="background: url(/images/change/banner-about.jpg) no-repeat center; background-size: cover;">
        <div class="container align-self-center">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-12 ">
                    <h1 class="text-center color-fff">@Model.Title</h1>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">@Model.Title</a></li>
        </ol>
    </nav>
    <div class="content">
        @Html.Raw(Utility.DecodeHtml(Model.Body))
    </div>
</div>





@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")