﻿@model List<Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify>
@using MI.Entity.Enums
<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            @foreach (var item in Model)
            {
                var link_tar = "";
                if (item.Type == (int)(TypeZone.Article))
                {
                    link_tar = Utils.BaseBA.UrlCategoryNews(item.Url);
                }
                else
                {
                    link_tar = Utils.BaseBA.UrlCategory(item.Url);
                }
                <li class="breadcrumb-item"><a href="@link_tar">@item.Name </a></li>
            }
        </ol>
    </nav>
</div>

