﻿@using JanhomeRemaster.Services.Store.ViewModel;
@inject IBannerAdsRepository bannerAdsRepository;
@using JanhomeRemaster.Services.BannerAds.Repository
@using JanhomeRemaster.Services.BannerAds.ViewModel
@using MI.Entity.Models
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using JanhomeRemaster.Services.Zone.ViewModal
@using JanhomeRemaster.Services.Zone.Repository
@using JanhomeRemaster.Services.BannerAds.Repository
@using JanhomeRemaster.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using JanhomeRemaster.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using JanhomeRemaster.Services.Locations.Repository
@using JanhomeRemaster.Services.Extra.Repository
@using JanhomeRemaster.Services.Locations.ViewModal;
@using JanhomeRemaster.Services.Locations.ViewModal;
@using JanhomeRemaster.Services.Locations.Repository;
@using JanhomeRemaster.Services.Store.Repository;
@using JanhomeRemaster.Services.Store.ViewModel;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IStoreRepository storeRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions
@model List<StoreResponse>;
@{

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var Stem_Trang_DinhVi = new List<DetailBanerAds>();
    var Stem_Trang_DinhVi_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Trang_DinhVi");
    if (Stem_Trang_DinhVi_Cahche != null)
    {
        Stem_Trang_DinhVi = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Trang_DinhVi_Cahche.MetaData);
    }
}

<!-- Viet vao day-->
@{
    var los = locationsRepository.GetLocations(culture_code);

}
<div class="accordion" id="accordionExample">
    @{ var st = 1;}
    @foreach (var it in los)
    {
        var id = string.Format("los_{0}", it.Id);
        var collapseId = string.Format("collapse_{0}", it.Id);
        var dept = storeRepository.GetDepartmentByLocationID(culture_code, it.Id);
        <div class="card">
            <div class="card-header d-flex align-items-center" id="@id">
                <div class="mb-0">
                    <button class="btn name-tinhthanh" type="button" data-toggle="collapse" data-target="#@collapseId" aria-expanded="@(st==1?"false":"false")" aria-controls="@collapseId">
                        @it.Name
                    </button>
                </div>
                <div class="number-store pl-1">(@dept.Count)</div>
            </div>

            <div id="@collapseId" class="collapse @(st==1?"":"")" aria-labelledby="@id" data-parent="#accordionExample">
                <div class="card-body">

                    @foreach (var lo in dept)
                    {
                        <div class="item">
                            <div class="name"><a href="javascript:void(0)" onclick="R.Location.ShowLocation(this)" data-lat="@lo.Latitude.ToString().Replace(',','.')" data-lng="@lo.Longitude.ToString().Replace(',','.')">@lo.Name</a></div>
                            <div class="d-flex ">
                                <div class="icon">
                                    <img asp-append-version="true" src="~/images/icon-store-1.svg" class="img-fluid" />
                                </div>
                                <div class="text">
                                    @lo.Address
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="icon">
                                    <img asp-append-version="true" src="~/images/icon-store-3.svg" class="img-fluid" />
                                </div>
                                <div class="text color-EE7D22 font-weight-600 ">
                                    @lo.Hotline
                                </div>
                            </div>
                            <div class="d-flex ">
                                <div class="text">
                                    @using (MI.Dal.IDbContext.IDbContext _context = new MI.Dal.IDbContext.IDbContext())
                                    {
                                        var cker = lo.Url;
                                        //.Replace("https://janhome.vn/", "").Replace(".html", "");
                                        if (!string.IsNullOrEmpty(cker))
                                        {
                                            var c = cker.Replace("https://janhome.vn/", "").Replace(".html", "");
                                            var art = _context.ArticleInLanguage.Where(r => r.Url.Equals(c)).FirstOrDefault();
                                            if (art != null)
                                            {
                                                <a href="@lo.Url" data-article-id="@art.ArticleId" data-article-name="@art.Title"> Xem chi tiết</a>

                                                <div class="loc-article-detail" style="display:none">
                                                    @Html.Raw(WebHelper.RenderLazyLoadBody(art.Body))
                                                </div>
                                            }
                                        }


                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
        st++;
    }
</div>
