﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using ThungRac.Services.Zone.ViewModal
@using ThungRac.Services.Zone.Repository
@using ThungRac.Services.BannerAds.Repository
@using ThungRac.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using ThungRac.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using ThungRac.Services.Locations.Repository
@using ThungRac.Services.Extra.Repository
@using ThungRac.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}


@{

    Layout = null;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var isHome = false;
    var path = Context.Request.Path.ToString();
    var expland = "un-expand";
    var dm_style = "";
    //if ((path.Length <= 1 || path.Split('/').ToList().Count <= 2) && (!path.Equals("/gio-hang")) && (!path.EndsWith(".html")))
    if (path.Length <= 1)
    {

        isHome = true;
        expland = "";
        dm_style = "height: auto;";
    }
    else
    {
        path = path.Replace("/", "");
        var checker = zoneRepository.GetZoneByAlias(path, culture_code);
        if (checker != null)
        {
            if (checker.Type == (int)TypeZone.Product)
            {
                isHome = true;
                expland = "";
                dm_style = "height: auto;";
            }

        }

    }
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;


    List<LocationViewModel> locationViewModels = new List<LocationViewModel>();
    locationViewModels = locationsRepository.GetLocations(culture_code);

    List<ZoneSugget> zoneSugget = new List<ZoneSugget>();
    zoneSugget = zoneRepository.GetZoneSugget(culture_code);

    List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);

    ////var sessionBannerAds = Context.Session.GetComplexData<>(SessionUtility.SessionBannerAds);
    ////if (sessionBannerAds != null)
    ////{
    ////    lstBannerAds = (List<BannerAdsViewModel>)sessionBannerAds;
    ////        }
    //var Banner_Trangchu_Trencung = new DetailBanerAds();
    //var Stem_Trangchu = new List<DetailBanerAds>();

    //var Stem_Chantrang = new List<DetailBanerAds>();
    //var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    //var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Trai");
    var Banner_Trangchu_Doc_Phai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Phai");
    //footer

    //if (lstBannerAds.Count() > 0)
    //{
    //    Banner_Trangchu_Trencung = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Trencung").MetaData);
    //    Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstBannerAds.FirstOrDefault(n => n.Code == "Stem_Trangchu").MetaData);

    //    Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstBannerAds.FirstOrDefault(n => n.Code == "Stem_Chantrang").MetaData);
    //    Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Tren_Nho2").MetaData);
    //    Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Tren_Nho1").MetaData);
    //    Banner_Trangchu_Doc_Trai = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Doc_Trai").MetaData);
    //    Banner_Trangchu_Doc_Phai = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Doc_Phai").MetaData);
    //}
    var Banner_Trangchu_Trencung_after_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Trencung");
    var Banner_Trangchu_Trencung_AF_Cooked = new DetailBanerAds();
    if (Banner_Trangchu_Trencung_after_cache != null)
    {
        Banner_Trangchu_Trencung_AF_Cooked = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Trencung_after_cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Trai_Cache != null)
    {
        Banner_Trangchu_Doc_Trai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Trai_Cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Phai_Cache != null)
    {
        Banner_Trangchu_Doc_Phai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Phai_Cache.MetaData);
    }

    var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).FirstOrDefault();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData);
    }
    var Line_menu_home = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "LINE_MENU_HOME");
    var lineMenuHome = new List<DetailBanerAds>();
    if (Line_menu_home != null)
    {
        lineMenuHome = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DetailBanerAds>>(Line_menu_home.MetaData);
    }

    var Banner_Chan_Trang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Chantrang");
    var BannerChanTrang = new DetailBanerAds();
    if (Banner_Chan_Trang != null)
    {
        BannerChanTrang = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Chan_Trang.MetaData);
    }

    var TinKiemFootter = new List<DetailBanerAds>();
    var Tim_Kiem_Footer = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Tim_Kiem_Nhieu_Footer");
    if (Tim_Kiem_Footer != null)
    {
        TinKiemFootter = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Tim_Kiem_Footer.MetaData).Where(r => r.Show == true).ToList();
    }

    var SlideFootter = new List<DetailBanerAds>();
    var Slide_Body_Chan_Trang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body");
    if (Slide_Body_Chan_Trang != null)
    {
        SlideFootter = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Chan_Trang.MetaData).Where(r => r.Show == true).ToList();
    }

    var Slide_Trangchu_Tren = new List<DetailBanerAds>();
    var Slide_Trangchu_Tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Trangchu_Tren");
    if (Slide_Trangchu_Tren_Cahche != null)
    {
        Slide_Trangchu_Tren = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Trangchu_Tren_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    var Slide_KH_duAn1 = new List<DetailBanerAds>();
    var Slide_KH_duAn1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_KH_duAn1");
    if (Slide_KH_duAn1_Cahche != null)
    {
        Slide_KH_duAn1 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_KH_duAn1_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    var Slide_KH_duAn2 = new List<DetailBanerAds>();
    var Slide_KH_duAn2_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_KH_duAn2");
    if (Slide_KH_duAn2_Cahche != null)
    {
        Slide_KH_duAn2 = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_KH_duAn2_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    var Silde_Footer_KH = new List<DetailBanerAds>();
    var Silde_Footer_KH_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Silde_Footer_KH");
    if (Silde_Footer_KH_Cahche != null)
    {
        Silde_Footer_KH = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Silde_Footer_KH_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    var Banner_Footer_LH = new List<DetailBanerAds>();
    var Banner_Footer_LH_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Footer_LH");
    if (Silde_Footer_KH_Cahche != null)
    {
        Banner_Footer_LH = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Banner_Footer_LH_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }


}
@inject IViewLocalizer _localizer
@using ThungRac.Services.Config.Repository
@{
    var _ver = WebHelper.Version();
    var favicon = bannerAdsRepository.GetConfigByName(culture_code, "Favicon");
    var logo = bannerAdsRepository.GetConfigByName(culture_code, "Logo");
    var email = bannerAdsRepository.GetConfigByName(culture_code, "northside_email");
    var hotline = bannerAdsRepository.GetConfigByName(culture_code, "Hotline");
    var northside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "northside_hotline");
    var southside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "southside_hotline");
    var address = bannerAdsRepository.GetConfigByName(culture_code, "Address");
    var northside_address = bannerAdsRepository.GetConfigByName(culture_code, "northside_address");
    var southside_address = bannerAdsRepository.GetConfigByName(culture_code, "southside_address");
    var list_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies(1, culture_code, 0, 1);
}
<!DOCTYPE html>
<html lang="vi">

<head>

    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    <link type="text/css" href="~/css/usedCss.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/AllCss.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" asp-append-version="true"/>
    <noscript><link rel="stylesheet" href="~/css/AllCss.min.css" asp-append-version="true"></noscript>
    @*<link href="~/design/css/header.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/design/css/custom.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/design/css/footer.css" rel="stylesheet" asp-append-version="true" />*@
    @Html.Raw(configSEOUtility.ConfigWebsite(domain_full, "JanHome"))

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&subset=vietnamese&display=swap"
          rel="stylesheet">
    @*<link href="~/css/style.all.css" rel="stylesheet" />*@
    @RenderSection("Styles", required: false)
    @*<link href="~/css/all.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/tuananh.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/bepvui.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/slick-theme.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/slick.css" rel="stylesheet" asp-append-version="true" />*@

    <!--Day la css design-->
    <!-- My CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">



    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptHeader"))

</head>
<body>
    <cache expires-after="@TimeSpan.FromMinutes(30)" vary-by="@isHome" vary-by-cookie=".AspNetCore.Culture, _LocationId">
        <!-- Header -->
        <header class="header--section">
            <!-- Header Main -->
            <div class="header__main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header__main--box">
                                <!-- Logo -->
                                <div class="header__logo">

                                    <a href="@base_uri_culture" class="header__logo--desktop">
                                        @*<img src="~/design/images/logo-desktop.jpg" alt="Hà Thành Eco" />*@

                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(logo)?v=@WebHelper.Version()" class="w-100 "
                                             alt="Hà Thành Eco" />
                                    </a>

                                    <a href="@base_uri_culture" class="header__logo--mobile">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(logo)?v=@WebHelper.Version()" class="w-100"
                                             alt="Hà Thành Eco" />
                                    </a>


                                </div>
                                <!-- Your Location - Hiển thị ở giao diện Table và PC -->
                                <!-- Search -->

                                <div class="header__search input-group form-search flex-nowrap mb-1 ">
                                    <input type="text" class=" header__search__input find-product" placeholder="Bạn tìm kiếm sản phẩm gì...">
                                    <div class="input-group-append es-search-button">
                                        <button class="header__search__button btn-search">
                                            <img src="~/design/images/icon-search.svg" alt="Icon search">
                                        </button>
                                    </div>
                                    <div class="suggest-text suggest-text-1">
                                        <div class="h6 px-3">
                                            Gợi ý cho bạn
                                        </div>
                                        <div class="color-007DFF  px-3">
                                            @if (zoneSugget.Count > 0)
                                            {
                                                foreach (var item in zoneSugget)
                                                {
                                                    <div class="py-1">
                                                        <a href="@String.Format("/{0}", item.Url)">@item.Name</a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="suggest-text suggest-text-2">
                                        <div class="h6 px-3">
                                            Sản phẩm gợi ý
                                        </div>
                                    </div>


                                </div>
                                <!-- Menu Desktop -->
                                <div class="header__menu">
                                    <ul class="header__menu__list">
                                        <li class="header__menu__item">
                                            <a href="@base_uri_culture">Trang chủ</a>
                                        </li>
                                        <li class="header__menu__item">
                                            @{
                                                var ChanTrang_Cot1_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "ChanTrang_Cot1");
                                                if (ChanTrang_Cot1_Cache != null)
                                                {
                                                    var tar = ChanTrang_Cot1_Cache as BannerAdsViewModel;
                                                    var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                                   
                                                        <a href="@list_banner[0].Url">Giới thiệu</a>
                                                }
                                            }
                                        </li>
                                        @{

                                            var list_zone_first = list_zone.Where(r => r.ParentId == 0 && r.IsShowMenu == 1).OrderBy(r => r.SortOrder).Skip(0).Take(3).ToList();
                                        }
                                        @foreach (var item in list_zone_first)
                                        {
                                            //var link_root = string.Format("{0}/{1}.c{2}.html", base_uri_culture, item.Url, item.Id);
                                            var link_root = string.Format("/{0}", item.Url);
                                            <li class="header__menu__item">
                                                <a href="@link_root">@item.Name<i class="fas fa-angle-down"></i></a>
                                                @{
                                                    var list_zone_second = list_zone.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder).ToList();
                                                    var tree_pc = "";
                                                }
                                                <ul class="header__menu__sub-list ul-tree-lv-@(item.level + 1)">
                                                    @{tree_pc = TreeviewHelper.RenderTagWithMaxLevel(list_zone, item.level, item.Id, 1, link_root);
                                                        tree_pc.Replace("<ul></ul>", "");
                                                    }
                                                    @Html.Raw(tree_pc)
                                                </ul>
                                            </li>

                                        }


                                        @if (blog_parents != null)
                                        {

                                            <li class="header__menu__item">
                                                <a href="/@blog_parents.Url">Blog</a>
                                            </li>

                                        }

                                    </ul>
                                </div>

                                <!-- Cart mobile -->

                                <div class="header__cart nav-item align-self-md-center mb-0 cart d-md-none">
                                    <button class="btn p-0 dropdown-cart-trigger-mobile">
                                        <div class="icon ">
                                            <img src="~/design/images/icon-cart.svg" class="img-fluid mr-2 icon-nav" />

                                            <div id="cart-count-mobile" class="amount">
                                            </div>
                                        </div>
                                    </button>
                                </div>


                                @*<button class="navbar-toggler px-1" type="button" data-toggle="collapse"
                                            onclick="$('.cate-mobile').toggle(100, 'swing');">
                                        <i class="fas fa-bars"></i>
                                    </button>*@


                                <!-- Cart desktop -->
                                <div class="header__cart nav-item dropdown mr-md-3 align-self-md-center mes  mb-md-0 cart">

                                    <a rel="nofollow" class="d-flex dropdown-cart-trigger" href="javascript:void(0)">
                                        <div class="icon mr-2 header__cart__icon">
                                            <img src="~/design/images/icon-cart.svg" class="img-fluid mr-2 icon-nav" />
                                            <div class="amount header__cart__amount" id="cart-count">

                                            </div>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right dropdown-cart">
                                        <div class="_binding_dropdown_cart">

                                        </div>
                                        <div class="d-flex px-3">
                                            <div class="text-uppercase">
                                                Tổng tiền:
                                            </div>
                                            <div class="h6 font-weight-bold ml-auto color-EE7D22 small-total-cart">
                                                21.000
                                            </div>
                                        </div>
                                        <div class="bottom-dropdown d-flex  ">
                                            <div class="small mr-3">
                                                Bạn còn <span class="dropdown-quantity-cart"></span> sản phẩm trong giỏ hàng
                                            </div>
                                            <div class="h6 ml-auto">
                                                <a href="@("/gio-hang")" id="link-target-cart" class="btn-link link-view-more text-uppercase">XEM GIỎ HÀNG</a><br />
                                                <a rel="nofollow" href="javascript:void(0)" id="link-clear-cart" class="btn-link link-view-more text-uppercase"><small>Xóa giỏ hàng</small></a><br />
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <!-- Menu Mobile -->
                                <div class="header__menu-mobile js-menu-mobile">
                                    <span class="header__menu-mobile__icon" href="/"><i class="fas fa-bars"></i></span>
                                    <div class="header__menu-mobile__expand">
                                        <ul class="header__menu-mobile__list">
                                            <li class="header__menu-mobile__item">
                                                <a href="@base_uri_culture">Trang chủ</a>
                                            </li>
                                            <li class="header__menu-mobile__item">
                                                <a href="javascript:void(0)">Giới thiệu</a>
                                            </li>
                                            @{
                                                var list_zone2 = zoneRepository.GetZoneByTreeViewShowMenuMinifies(1, culture_code, 0, 1);
                                                var list_zone_first2 = list_zone2.Where(r => r.ParentId == 0 && r.IsShowMenu == 1).OrderBy(r => r.SortOrder).Skip(0).Take(3).ToList();
                                            }
                                            @foreach (var item in list_zone_first2)
                                            {
                                                //var link_root = string.Format("{0}/{1}.c{2}.html", base_uri_culture, item.Url, item.Id);
                                                var link_root = string.Format("/{0}", item.Url);
                                                <li class="header__menu-mobile__item">
                                                    <a href="@link_root">@item.Name</a>
                                                    <i class="fas fa-angle-down"></i>
                                                    @{
                                                        var list_zone_second2 = list_zone2.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder).ToList();
                                                        var tree_pc = "";
                                                    }
                                                    <ul class="header__menu-mobile__sub-list ul-tree-lv-@(item.level + 1)">
                                                        @{tree_pc = TreeviewHelper.RenderTagWithMaxLevel(list_zone2, item.level, item.Id, 1, link_root);
                                                            tree_pc.Replace("<ul></ul>", "");
                                                        }
                                                        @Html.Raw(tree_pc)
                                                    </ul>
                                                </li>

                                            }


                                            @if (blog_parents != null)
                                            {

                                                <li class="header__menu-mobile__item">
                                                    <a href="/@blog_parents.Url">Blog</a>
                                                </li>

                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="header__menu-mobile__ovelay"></div>
                                <!-- End Menu Mobile -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Main -->



        </header>
        <!-- End Header -->
        <div class="cart-mobile dropdown-cart-mobile">
            <!--Sum-->
            <div class="_binding_dropdown_cart">
            </div>
            <div class="d-flex px-3">
                <div class="text-uppercase">
                    Tổng tiền:
                </div>
                <div class="h6 font-weight-bold ml-auto color-EE7D22 small-total-cart">
                    21.000đ
                </div>
            </div>
            <div class="bottom-dropdown d-flex  ">
                <div class="small mr-3">
                    Bạn còn <span class="dropdown-quantity-cart"></span> sản phẩm trong giỏ hàng
                </div>

                <div class="h6 ml-auto">
                    <a rel="nofollow" href="@("/gio-hang")" id="link-target-cart-mobile" class="btn-link link-view-more text-uppercase">XEM GIỎ HÀNG</a><br />
                    <a rel="nofollow" href="javascript:void(0)" id="link-clear-cart" class="btn-link link-view-more text-uppercase">Clear Cart Teserd</a><br />
                </div>
            </div>
        </div>
    </cache>

    @RenderBody()

    @*<cache expires-after="@TimeSpan.FromMinutes(5)">*@
    <!--Khoi Banner Bottom-->
    @*<div class="container p-mb-0">
            <div class="banner-bottom">
                <img src="~/design/@UIHelper.StoreFilePath(BannerChanTrang.Image,false)?v=@_ver" class="w-100" />
            </div>
            <div class="hot-key">
                <ul class="row list-hotkey">
                    <li class="col-md-2" style="color: #fff; font-weight:600;">
                        Tìm kiếm nhiều:
                    </li>
                    @foreach (var item in TinKiemFootter)
                    {
                        <li class="col-md-2">
                            <a href="@item.Url">
                                @item.Title
                            </a>

                        </li>
                    }
                </ul>
            </div>
        </div>*@
    <cache expires-after="@TimeSpan.FromMinutes(30)" vary-by="@isHome" vary-by-cookie=".AspNetCore.Culture, _LocationId">
        <div id="fb-root"></div>



        <!-- KHÁCH HÀNG VÀ DỰ ÁN CỦA HÀ THÀNH ECO -->
        <div class="container">
            <div class="customer--section">
                <div class="customer__title">
                    <h2>CÁC DỰ ÁN TIÊU BIỂU</h2>
                </div>
                <div class="customer__list">
                    <div class="swiper-container js-customer">
                        <div class="swiper-wrapper">
                            @if (Slide_KH_duAn1.Count() > 0)
                            {
                                var c = 1;
                                foreach (var item in Slide_KH_duAn1.OrderBy(n => n.Order).ToList())
                                {

                                    <!-- Item -->
                                    <div class="swiper-slide">

                                        <div class="customer__item">
                                            <img class="swiper-lazy customer__item_img_parent" data-src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" alt="Slide @c">
                                        </div>

                                    </div>
                                    c++;
                                }
                            }

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hết KHÁCH HÀNG VÀ DỰ ÁN CỦA HÀ THÀNH ECO -->
        <!-- ĐỐI TÁC CỦA HÀ THÀNH ECO -->
        <div class="container">
            <div class="partner--section">
                <div class="partner__title">
                    <h2>CÁC ĐỐI TÁC TIÊU BIỂU</h2>
                </div>
                <div class="partner__list">
                    <div class="swiper-container js-partner">
                        <div class="swiper-wrapper">

                            @if (Slide_KH_duAn2.Count() > 0)
                            {
                                var c = 1;
                                foreach (var item in Slide_KH_duAn2.OrderBy(n => n.Order).ToList())
                                {

                                    <!-- Item -->
                                    <div class="swiper-slide">

                                        <div class="partner__item">
                                            <img data-src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="swiper-lazy" alt="Slide @c">

                                        </div>

                                    </div>
                                    c++;
                                    //src = "~/images/gray.jpg?v=1"
                                }
                            }


                            @*<div class="swiper-slide">
                                    <div class="partner__item">
                                        <img src="~/design/images/partner/1.png" alt="partner">
                                    </div>
                                </div>*@
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hết ĐỐI TÁC CỦA HÀ THÀNH ECO -->
        <!-- Highlight -->
        <div class="highlight--section">
            <div class="container">
                <div class="highlight__list">

                    @if (Silde_Footer_KH.Count() > 0)
                    {
                        var c = 1;
                        foreach (var item in Silde_Footer_KH.OrderBy(n => n.Order).ToList())
                        {
                            <div class="highlight__item">
                                <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" alt="@item.Title">
                                <span>@item.Title</span>
                            </div>
                        }

                    }





                    @*<div class="highlight__item">
                            <img src="~/design/images/highlight/san-pham-chat-luong.svg" alt="SẢN PHẨM CHẤT LƯỢNG">
                            <span>SẢN PHẨM CHẤT LƯỢNG</span>
                        </div>*@


                </div>
            </div>
        </div>
        <!-- End Highlight -->
        @*footer*@

        <footer class="footer--section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">




                        @{
                            if (Banner_Footer_LH_Cahche != null)
                            {
                                var tar = Banner_Footer_LH_Cahche as BannerAdsViewModel;
                                var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);

                                <div class="footer__hotline">
                                    <h3 class="footer__hotline__title">
                                        @list_banner[0].Title
                                    </h3>
                                    <div class="footer__hotline__phone">
                                        <img src="~/design/images/icon-person-call.svg" alt="Icon phone">
                                        <div class="footer__hotline__number">
                                            <a href="tel:@northside_hotline">@northside_hotline</a>
                                        </div>
                                    </div>
                                    <div class="footer__hotline__time">
                                        @list_banner[0].Description
                                    </div>
                                </div>
                                <div class="footer__hotline">
                                    <h3 class="footer__hotline__title">
                                        @list_banner[1].Title
                                    </h3>
                                    <div class="footer__hotline__phone">
                                        <img src="~/design/images/icon-person-call.svg" alt="Icon phone">
                                        <div class="footer__hotline__number">
                                            <a href="tel:@southside_hotline">@southside_hotline</a>
                                        </div>
                                    </div>
                                    <div class="footer__hotline__time">
                                        @list_banner[1].Description
                                    </div>
                                </div>

                            }
                        }



                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="footer__menu footer__dropdown active">
                            <h3 class="footer__menu__title">
                                VỀ CHÚNG TÔI <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </h3>
                            <ul class="footer__menu__list footer__dropdown--show">
                                @{
                                    var ChanTrang_Cot1_Cache2 = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "ChanTrang_Cot1");
                                    if (ChanTrang_Cot1_Cache2 != null)
                                    {
                                        var tar = ChanTrang_Cot1_Cache2 as BannerAdsViewModel;
                                        var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                        foreach (var item in list_banner)
                                        {
                                            <li><a href="@item.Url">@item.Title</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="footer__menu footer__dropdown">
                            <h3 class="footer__menu__title">
                                CÁC CHÍNH SÁCH <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </h3>
                            <ul class="footer__menu__list footer__dropdown--show">
                                @{
                                    var ChanTrang_Cot2_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "ChanTrang_Cot2");
                                    if (ChanTrang_Cot2_Cache != null)
                                    {
                                        var tar = ChanTrang_Cot2_Cache as BannerAdsViewModel;
                                        var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                        foreach (var item in list_banner)
                                        {
                                            <li><a href="@item.Url">@item.Title</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="footer__menu footer__dropdown">
                            <h3 class="footer__menu__title">
                                DANH MỤC SẢN PHẨM <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </h3>

                            @{

                                //var list_zone_footer = zoneRepository.GetZoneByTreeViewShowMenuMinifies(1, culture_code, 0, 1);
                                var list_zone_first_footer = list_zone.Where(r => r.ParentId == 0 && r.IsShowMenu == 1).OrderBy(r => r.SortOrder).Skip(0).Take(5).ToList();
                            }

                            <ul class="footer__menu__list footer__dropdown--show">

                                @foreach (var item in list_zone_first_footer)
                                {
                                    <li>
                                        <a href="@item.Url">@item.Name</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="footer__info footer__dropdown">
                            <h3 class="footer__info__title">
                                LIÊN HỆ <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </h3>
                            <ul class="footer__info__list footer__dropdown--show">
                                <li>
                                    <img class="footer__info__icon" src="~/design/images/icon-location.svg" alt="Icon Location">
                                    <div class="footer__info__text">@northside_address</div>
                                </li>
                                <li>
                                    <img class="footer__info__icon" src="~/design/images/icon-location.svg" alt="Icon Location">
                                    <div class="footer__info__text">@southside_address</div>
                                </li>
                                <li>
                                    <img class="footer__info__icon" src="~/design/images/icon-call.svg" alt="Icon Phone">
                                    <div class="footer__info__text"><a href="tel:@hotline">@hotline</a></div>
                                </li>
                                <li>
                                    <img class="footer__info__icon" src="~/design/images/icon-letter.svg" alt="Icon Letter">
                                    <div class="footer__info__text"><a href="mailto:contact@hempspahoian.com">@email</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="footer__copyright">
                    <div class="container">
                        <p class="footer__copyright__content">Copyright 2019 <a href="#">HATHANHECO.vn</a>. Công ty cổ phần HATHANHECO, Mã số thuế: 0123456789</p>
                    </div>
                </div>*@
        </footer>












        <!--Modal chọn khu vực-->
        <div class="modal jan-modal fade" id="modal-khu-vuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h6 class="modal-title font-weight-bold">Khu vực</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @await Component.InvokeAsync("LocationList")
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-save save-location" data-dismiss="modal" data-toggle="modal"
                                data-target="#modal-xn">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal jan-modal fade" id="modal-xn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="mb-3">
                            <img src="~/images/logo_chan_trang_ht.png" class="img-fluid" />
                        </div>
                        <h5 class="mb-3 font-weight-bold">Xách nhận thành công!</h5>
                        <div>
                            <img src="~/images/check.svg?v=@_ver" class="img-fluid" />
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center border-0">
                        <button type="button" class="btn btn-save px-lg-5" data-dismiss="modal" style="background:green !important; ">Hoàn tất</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal liên hệ -->
        <form class="modal jan-modal fade" id="modal-lien-he" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h6 class="modal-title font-weight-bold">Liên hệ bảo hành</h6>
                        @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> *@
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <h6 class="font-weight-bold">Khu vực</h6>
                            <div class="mb-3">
                                @await Component.InvokeAsync("LocationList")
                            </div>
                        </div>
                        <div class="form-control form-group h-100">
                            <div class="dropdown h-100" style="word-wrap:break-word">
                                <!--Trigger-->
                                <button class="btn btn-primary dropdown-toggle cust-btn-sec h-100" style="font-size:16px;" type="button" id="dropdownMenu1-1"
                                        data-toggle="dropdown">
                                    Chọn Showroom
                                </button>
                                <!--Menu-->
                                <div class="dropdown-menu dropdown-primary cust-popbh" id="your-custom-id">
                                    @* <input class="form-control" type="text" placeholder="Search" aria-label="Search"> *@
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txt-name-bh" class="form-control" placeholder="Họ và tên (bắt buộc)" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="txt-phone-bh" class="form-control" placeholder="Số điện thoại" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="txt-yc-bh" class="form-control" placeholder="Yêu cầu" />
                        </div>
                        <div class="form-group">
                            <textarea type="text" rows="5" class="form-control" id="txt-nd-bh" placeholder="Nội dung chi tiết"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-save">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Modal showrom gần nhất -->
        <form class="modal jan-modal fade" id="modal-showromm-ganhat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
            <div class="modal-dialog  cust-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bdb-modal">
                        <h6 class="modal-title font-weight-bold">Kiểm tra siêu thị có hàng trưng bày</h6>
                        <div class="">
                            @await Component.InvokeAsync("LocationList")
                        </div>
                        @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> *@
                    </div>

                    <div class="modal-body" style="background-color: #F6F6F7;">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="modal-title font-weight-bold">Đăng ký xem hàng trưng bày tại</h6>
                                <p class="_picking_address"></p>
                                <div class="d-flex">
                                    <label class="label-checkbox mb-2 pr-4">
                                        Anh
                                        <input type="radio" name="_cus_gender" checked required />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox  mb-2 ">
                                        Chị
                                        <input type="radio" name="_cus_gender" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txt-name-bh-1" class="form-control" placeholder="Họ và tên" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txt-phone-bh-1" class="form-control" placeholder="Số điện thoại" required />
                                </div>
                                <h6 class="modal-title font-weight-bold">Thời gian ghé</h6>
                                <div class="form-group">
                                    @* <i class="fal fa-calendar-alt form-control"></i> *@
                                    @* <input type="text" id="txt-yc-bh" class="form-control" placeholder=""/>*@
                                </div>
                                <div class="customer form-control">
                                    <div class="cus-name">
                                        <label for="name-input" class="cus-ic-box">
                                            <i class="fal fa-calendar-alt "></i>
                                        </label>
                                        <input type="text" name="txtName" id="txt-time-input" class="w-100 ip-css" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 cust-bg-mdal">
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" checked />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                                <div>
                                </div>
                            </div>

                            <div class="w-100 mt-3 modal-footer justify-content-between">
                                <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-save">
                                    Xác nhận
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>





        <div class="button-social">
            <div class="button-social__content">

                @*<a target="_blank" href="@bannerAdsRepository.GetConfigByName(culture_code, "LinkFanpage")" class=" mes button-social__messenger">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>*@

                <a target="_blank" href="@bannerAdsRepository.GetConfigByName(culture_code, "LinkFanpage")" class=" button-social__messenger">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>

                @{
                    var zalo_me2 = "https://zalo.me/" + @bannerAdsRepository.GetConfigByName(culture_code, "ZaloNumber");
                }
                <a rel="nofollow" href="tel: @hotline" class=" button-social__call call-icon" rel="nofollow">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                    <div class="animated alo-circle"></div>
                    <div class="animated alo-circle-fill"></div>
                </a>


                <a rel="nofollow" target="_blank" href="@zalo_me2" class="zalo button-social__zalo">
                    <i class="fa" aria-hidden="true">
                        <img src="~/design/images/icon-zalo.png" alt="Icon Zalo" />
                    </i>

                </a>

            </div>
        </div>


        <div class="button-bottom">
            <a class="button-bottom_item" href="@base_uri_culture">
                <img class="button-bottom__icon" src="~/design/images/icon-logo-green.svg" alt="Icon Logo">
                <p class="button-bottom__title">Trang chủ</p>
            </a>
            <a class="button-bottom_item" href="@bannerAdsRepository.GetConfigByName(culture_code, "LinkFanpage")">
                <img class="button-bottom__icon" src="~/design/images/icon-messenger.svg" alt="Icon Logo">
                <p class="button-bottom__title">Chat</p>
            </a>
            <a class="button-bottom_item" href="tel:@hotline">
                <img class="button-bottom__icon" src="~/design/images/icon-phone-gray.svg" alt="Icon Logo">
                <p class="button-bottom__title">Gọi điện</p>
            </a>
            <a class="button-bottom_item" href="javascript:void(0)" id="return-to-top">
                <img class="button-bottom__icon" src="~/design/images/icon-go-to-top.svg" alt="Icon Logo">
                <p class="button-bottom__title">Về đầu trang</p>
            </a>
        </div>




        @if (isHome == true)
        {
            var link1 = Banner_Trangchu_Doc_Trai.Url;
            var link2 = Banner_Trangchu_Doc_Phai.Url;
            <div class="banner-fixed-left">
                <a rel="nofollow" href="@link1">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Doc_Trai.Image, false)?v=@_ver" class="img-fluid w-100" />
                </a>
            </div>
            <div class="banner-fixed-right">
                <a rel="nofollow" href="@link2">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Doc_Phai.Image, false)?v=@_ver" class="img-fluid w-100" />
                </a>
            </div>
        }

        <div class="btn-fixed mgbta mes">
            <div class="text-center mb-3">
                <a rel="nofollow" href="javascript:;" onclick=" topFunction() " class="">
                    <img src="~/images/scroll.svg?v=1" class="img-fluid " />
                </a>
            </div>
        </div>
        @*<div id="loadingDiv" class="loader">
            </div>*@
        <div id="cover-spin"></div>
        <div id="full-load-img" class="modal modal-img">
            <button class="close-load-img"><i class="far fa-window-close"></i></button>
            <img class="modal-content modal-content-full-img?v=1" id="img01">
            <div id="caption"></div>
        </div>
        @await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(culture_code, "Logo"), false) })
    </cache>
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptBody"))

    @*<script src="~/js/lib.base.js?v=@_ver"></script>*@

    @*
        <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="~/vendor/jquery-3.3.1.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/vendor/popper.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/vendor/bootstrap.min.js?v=@_ver"></script>
    @*<script type="text/javascript" src="~/js/libs/jquery-autocompleter/dist/jquery.autocompleter.min.js?v=@_ver"></script>*@
    <script type="text/javascript" src="~/vendor/swiper.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/vendor/wow.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/momentjs/momentJS.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/vakata-jstree-6dce227/jstree.min.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/app.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/core/core.js?v=@_ver"></script>
    <script src="~/design/js/font-awesome.js" charset="utf-8"></script>
    <script src="~/design/js/js-header.js" charset="utf-8"></script>
    <script src="~/design/js/js-custom.js" charset="utf-8"></script>
    <script src="~/design/js/js-footer.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/controller/menuController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/orderController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/controller/extraController.js?v=@_ver"></script>
    <script type="text/javascript" src="~/js/libs/yall-js/dist/yall.min.js?v=@_ver"></script>
    <script src="~/js/slick.min.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", yall);
    </script>
    <script>
        $(document).ready(function () {
            var xx = $('.gallery-thumbs-2').find('.swiper-button-prev');
            var xx2 = $('.gallery-thumbs-2').find('.swiper-button-next');
            xx.removeClass('swiper-button-disabled');
            xx2.removeClass('swiper-button-disabled');

            var xxx = $('.group-color').find('.pick_color').first();
            xxx.addClass('active');

            $('.save-location').off('click').on('click',
                function () {
                    var currentUrl = window.location.href;
                    var location_id = $('#location-selectbox').val();
                    var location_name = $('#location-selectbox option:selected').html();
                    localStorage.setItem("_LocationId", location_id);
                    localStorage.setItem("_LocationName", location_name);
                    var params = {
                        location_id: localStorage.getItem("_LocationId"),
                        location_name: localStorage.getItem("_LocationName"),
                        currentUrl: currentUrl
                    }
                    $.post('/Cookie/ChangeCurrentLocation',
                        params,
                        function () {
                            console.log(100);
                            location.reload(true);
                        })
                });


            //sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
            //$('.tree-menu-mobile').jstree({
            //    "core": {
            //        "animation": 100,
            //        "check_callback": true,
            //        "multiple": false, // no multiselection
            //        "themes": {
            //            "dots": false, // no connecting dots between dots
            //            "icons": false

            //        },
            //    },
            //    "plugins": ["state", "wholerow", "types"],
            //    'types': {
            //        'default': {
            //            'icon': 'fa fa-angle-right fa-fw'
            //        },
            //        'f-open': {
            //            'icon': 'fa fa-folder-open fa-fw'
            //        },
            //        'f-closed': {
            //            'icon': 'fa fa-folder fa-fw'
            //        }
            //    }
            //});
            //if (window.location.pathname == "" || window.location.pathname === "/") {
            //    localStorage.setItem("jstree", "");
            //}
            //$('.tree-menu-mobile').on("select_node.jstree", function (e, data) {
            //    var r = data.node;
            //    //console.log(r);
            //    var nodesToKeepOpen = [];

            //    // get all parent nodes to keep open
            //    $('#' + data.node.id).parents('.jstree-node').each(function () {
            //        nodesToKeepOpen.push(this.id);
            //    });

            //    // add current node to keep open
            //    nodesToKeepOpen.push(data.node.id);

            //    // close all other nodes
            //    $('.jstree-node').each(function () {
            //        if (nodesToKeepOpen.indexOf(this.id) === -1) {
            //            $(".tree-menu-mobile").jstree().close_node(this.id);
            //        }
            //    })
            //    if (r.state.opened == false && r.children.length > 0) {
            //        $('.tree-menu-mobile').jstree("toggle_node", data.node);
            //        return false;
            //    }
            //    if (r.state.opened == true || r.children.length == 0) {
            //        var id = r.id;
            //        var url = $('#' + id).find('.span-tree-node').data('url');
            //        var old_node = $(id).find('.jstree-clicked');

            //        if (sessionStorage.getItem('current-js-tree') == "" || sessionStorage.getItem('current-js-tree') === "undefined") {
            //            window.location.href = url;
            //        } else {
            //            var ss = JSON.parse(sessionStorage.getItem('current-js-tree'));
            //            console.log(ss);
            //            if (ss == null) {
            //                window.location.href = url;
            //            }
            //            var seleced_current = ss.state.core.selected;
            //            if (seleced_current.length > 0) {
            //                if (seleced_current[0] != id) {
            //                    //console.log("Khac roi nay");
            //                    //sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
            //                    window.location.href = url;
            //                }
            //                if (seleced_current[0] == id) {
            //                    //console.log("Trung roi nay")
            //                }
            //            }
            //        }


            //        //if (ss == "1") {

            //        //}
            //        return false;
            //    }
            //});



            //var swiper = new Swiper('.slide-product-detail .swiper-container.gallery-top', {


            //    slidesPerView: 1,
            //    loop: true,
            //    autoplay: false,
            //    simulateTouch: true,
            //    navigation: {
            //        nextEl: '.swiper-container .swiper-button-next',
            //        prevEl: '.swiper-container .swiper-button-prev',
            //    },

            //    allowSwipeToPrev: true,
            //    allowSwipeToNext: true,
            //});

            //var swiper2 = new Swiper('.slide-product-detail-2 .swiper-container.gallery-top-2', {

            //    slidesPerView: 1,
            //    loop: true,
            //    autoplay: false,
            //    simulateTouch: true,
            //    navigation: {
            //        nextEl: '.swiper-container .swiper-button-next',
            //        prevEl: '.swiper-container .swiper-button-prev',
            //    },
            //    allowSwipeToPrev: true,
            //    allowSwipeToNext: true,
            //});






            $('#txt-time-input').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                //minYear: 1901,
                //maxYear: parseInt(moment().format('YYYY'), 10),
                locale: {
                    "format": "DD/MM/YYYY"
                }
                //}, function (start, end, label) {
                //    var years = moment().diff(start, 'years');
                //    alert("You are " + years + " years old!");
            });

            var url = window.location.pathname;
            $('.menu-cate-mobile div a[href="' + url + '"]').addClass('active');

            $('.find-product').keydown(function (e) {

                if ($(this).val().length < 2) {
                    $(".suggest-text.suggest-text-2").hide();
                    $(".suggest-text.suggest-text-1").show();
                } else {

                    $(".suggest-text.suggest-text-2").show();
                    $(".suggest-text.suggest-text-1").hide();


                    $(this).autocomplete({
                        delay: 300,
                        source: function (request, response) {
                            $.ajax({
                                url: "/Product/Get",
                                dataType: "json",
                                data: {
                                    keyword: request.term
                                },
                                success: function (data) {
                                    //debugger
                                    response(data);

                                }
                            });
                        },
                        minLength: 1,
                    }).autocomplete("instance")._renderItem = function (div, item) {
                        //--debugger
                        $(".suggest-text.suggest-text-2").empty();
                        var lstItem = "";
                        lstItem += "<div class='h6 px-3'>Sản phẩm gợi ý</div>"
                        $.each(item, function (index, im) {
                            var name = im.name.charAt(0).toUpperCase() + im.name.slice(1);
                            lstItem += '<div class="item-cart"><div class="image-product"><img src="' + im.avatar + '" class="" /></div>';
                            lstItem += '<div class="text px-2 "> <h6 class="name-product mb-1"><a href="' + im.url + '">' + name + '</a></h6>';
                            if (im.discountPrice.length > 0) {
                                lstItem += '<div class="price d-inline-block">' + im.discountPrice + '</div>';
                            }
                            if (im.discountPrice.price > 0) {
                                lstItem += ' <div class=" price-old d-inline-block">' + im.price + '</div>';
                            }
                            lstItem += "</div></div>";
                        });
                        $(div).removeClass("ui-menu");
                        return $(lstItem).appendTo(".suggest-text.suggest-text-2");
                    };


                    if (e.which == 13) {
                        //console.log(data);
                        var kw = $(this).val();
                        var index = 1;
                        var size = 24;
                        var p = {
                            keyword: kw,
                            index: index,
                            size: size
                        }
                        console.log(p);
                        sessionStorage.setItem("esSearch", JSON.stringify(p));
                        window.location.href = "/tim-kiem";
                        //$.get("/Product/GetElasticAll?keyword="+kw+"&index="+index+"&size="+size+"", function (response) {
                        //    console.log(response);
                        //})
                        //$("#go").click();
                    }

                    $('.es-search-button').off('click').on('click', function () {
                        var kw = $(this).closest('.input-group').find('.find-product').val();
                        var index = 1;
                        var size = 24;
                        var p = {
                            keyword: kw,
                            index: index,
                            size: size
                        }
                        console.log(p);
                        sessionStorage.setItem("esSearch", JSON.stringify(p));
                        window.location.href = "/tim-kiem";
                    })

                }

            })
            $('.es-search-button').off('click').on('click', function () {
                var kw = $(this).closest('.input-group').find('.find-product').val();
                var index = 1;
                var size = 24;
                var p = {
                    keyword: kw,
                    index: index,
                    size: size
                }
                console.log(p);
                sessionStorage.setItem("esSearch", JSON.stringify(p));
                window.location.href = "/tim-kiem";
            })


            $('.find-product').on("focusout", function () {
                setTimeout(function () {
                    $(".suggest-text.suggest-text-2").hide();
                    $(".suggest-text.suggest-text-1").hide();
                }, 1000);
            });
            $('.find-product').on("focus", function () {
                if ($(this).val().length < 3) {
                    $(".suggest-text.suggest-text-1").show();
                }
            });
            $('.cust-ag').off('click').on('click', function () {
                var url_image = $(this).data('original');
                if (typeof url_image === 'undefined')
                    url_image = $(this).data('src');

                //var url_image = $(this).parent().data('url');
                $('#img01').attr('src', url_image);

                $('.modal-img').modal('show');
                $('.modal-backdrop').replaceWith("");
            })
            $('.close-load-img').off('click').on('click', function () {
                $('.modal-img').modal('hide');
            })
            $('#modal-id').on('shown.bs.modal', function () {
                $(".modal-backdrop.in").hide();
            })
        })

    </script>
    <script>

        window.fbAsyncInit = function () {
            setTimeout(function () {
                FB.init({
                    xfbml: true,
                    version: 'v7.0'
                });

            }, 12000);

        };
        setTimeout(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        }, 1200);

    </script>
    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=2323475157962564&autoLogAppEvents=1" nonce="Z6tf66vh"></script>*@
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptFooter"))
    @RenderSection("Scripts", required: false)
    @*<h1>@culture</h1>
        <h1>@culture_code</h1>*@
    @*header*@
    @*sdk facebook Thăng them nhé*@
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '257109512148042',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v8.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js"></script>

    @*end sdk*@
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v8.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="108263497663044"
         logged_in_greeting="Chào bạn ! Cám ơn bạn đã liên hệ tới Nhà bếp vui. Bạn cần chúng tôi hỗ trợ gì?"
         logged_out_greeting="Chào bạn ! Cám ơn bạn đã liên hệ tới Nhà bếp vui. Bạn cần chúng tôi hỗ trợ gì?">
    </div>

</body>

</html>

