﻿@model List<Enterbuy.Data.SqlServer.ModelDto.ArticleMinify>

<div class="list lastest-news">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i == 0)
        {
            <div class="item large" style="margin-bottom:5px">
                <div class="row">
                    <div class="col-12 ">
                        <div class="image mb-3">
                            <a href="@Utils.BaseBA.UrlNews(Model[i].ZoneUrl,Model[i].Url,Model[i].Id)" title=""><img data-src="@Utils.UIHelper.StoreFilePath(Model[i].Avatar)" class="img-fluid w-100 lazy" alt=""></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">
                            <a href="@Utils.BaseBA.UrlNews(Model[i].ZoneUrl,Model[i].Url,Model[i].Id)" title="">@Model[i].Title</a>
                        </p>
                        <div class="des ">
                            @Html.Raw(Utils.Utility.DecodeHtml(Model[i].Description))
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="item" style="margin-bottom:5px">

                <div class="col=xs-12">
                    <p style="margin-bottom:0">
                        <a href="@Utils.BaseBA.UrlNews(Model[i].ZoneUrl,Model[i].Url,Model[i].Id)" title="">@Model[i].Title</a>
                    </p>
                    <div class="time ">
                        @Model[i].CreatedDate.ToString(Utils.Utility.fomatDate)
                    </div>
                </div>
            </div>
        }
    }
</div>
