﻿@using DiDongXanh_Web.Services.Product.ViewModel;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using DiDongXanh_Web.Utility

@using MI.Entity.Enums
@inject ICookieUtility cookieUtility
@model ProductMinify;
@{
    var item = Model;
    var link_ta = LinkRedirectUrlUtility.ProductDetailUrl(item.Url);
    bool isLazy = ViewBag.IsLazy;
}




@*<div class="product-item-grid">
        <div class="product-item-grid__image">
            <a href="chi-tiet-san-pham.html">
                <img src="~/design/images/products/pro-1.png" alt="Product Item" />
            </a>
            <div class="product-item-grid__pay">Trả góp 0%</div>
            <div class="product-item-grid__discount">
                <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                <span>Giảm -30%</span>
            </div>
        </div>
        <div class="product-item-grid__content">
            <h4 class="product-item-grid__title">
                <a href="chi-tiet-san-pham.html">iPhone 11 64GB Quốc Tế (Likenew) </a>
            </h4>
            <div class="product-item-grid__price">
                <p class="product-item-grid__price-new">5.290.000₫</p>
                <p class="product-item-grid__price-old">8.990.000₫</p>
            </div>
            <div class="product-item-grid__desc">
                Thu cũ lên đời, giá tốt nhất thị trường
            </div>
            <div class="product-item-grid__rating">
                <div class="product-item-grid__rating-stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="product-item-grid__rating-number">(50)</div>
            </div>
        </div>
    </div>*@








<div class="item-product product-item-grid" data-id="@item.ProductId" data-properties="@item.PropertyId">


    @if (item.FlashSaleId > 0)
    {
        <div class="tag-flashsale">
            <img src="~/images/tag-flash-111x34.svg" class=" w-100" />
        </div>
    }
<div class="product-item-grid__image">
    @if (isLazy)
    {
        <a href="@link_ta"><img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="lazy w-100 " alt="@item.Title" /></a>
    }
    @if (!isLazy)
    {
        <a href="@link_ta"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="w-100 " alt="@item.Title" /></a>
    }
    <div class="product-item-grid__pay">Trả góp 0%</div>


    @if (item.DiscountPercent > 0)
    {
        var g = string.Format("Giảm -{0}%", (int)item.DiscountPercent);
        <div class="product-item-grid__discount">
            <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
            <span>@g</span>
                
        </div>
    }
    @if (item.DiscountPercent <= 0)
    {
        <div class="product-item-grid__discount">
            @*<img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />*@
            <div class="text-deal">

            </div>
        </div>
    }

</div>

    <div class="product-item-grid__content">

        @*<div class="loai-product">
                @item.ZoneName
            </div>*@
        <h4 class="product-item-grid__title">
            <a href="@link_ta" title="@item.Title">
                @item.Title
            </a>
        </h4>
        <div class="product-item-grid__price">
            @{
                decimal up_price = 0;
                decimal down_price = 0;
                if (item.SalePrice > 0 && item.SalePrice < item.Price)
                {
                    up_price = item.SalePrice;
                    down_price = item.Price;
                }
                if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                {
                    up_price = item.Price;
                    down_price = 0;
                }
            }
            @if (item.FlashSaleId > 0)
            {
                <div class="product-item-grid__price-old">
                    @(item.SalePrice <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(up_price)))
                </div>
                <div class="product-item-grid__price-new">
                    @UIHelper.FormatNumber(item.ProductPriceInFlashSale)
                </div>
            }
            else
            {
                if (item.Quantity == 0)
                {
                    <div class="product-item-grid__price-new">
                        Hết hàng
                    </div>
                }
                if (down_price > 0 && item.Quantity > 0)
                {

                    <div class="product-item-grid__price-old">
                        @(item.Price <= 0 ? Html.Raw("<pre>&nbsp;</pre>") : Html.Raw(UIHelper.FormatNumber(down_price)))
                    </div>
                    <div class="product-item-grid__price-new">
                        @UIHelper.FormatNumber(up_price)
                    </div>
                }
                if (down_price == 0 && item.Quantity > 0)
                {
                    if (item.Price == 0 && item.SalePrice == 0)
                    {
                        <div class="product-item-grid__price-new">
                            Liên hệ
                        </div>
                    }
                    if (item.Price > 0)
                    {
                        <div class="product-item-grid__price-new">
                            @UIHelper.FormatNumber(up_price)
                        </div>
                    }
                }
            }
        </div>
        <div class="product-item-grid__desc">
            Thu cũ lên đời, giá tốt nhất thị trường
        </div>
        <div class="review product-item-grid__rating">
            <div class="product-item-grid__rating-stars">
                @*@System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>*@
                @await Component.InvokeAsync("RatingStar", new { object_id = @item.ProductId, object_type = (int)TypeRating.Product, hTag = "" })
            </div>
            <div class="product-item-grid__rating-number">
                (@item.CountRate)
            </div>
        </div>
    </div>
</div>