﻿@using MI.Entity.Enums;
@using DiDongXanh_Web.Services.Zone.ViewModal
@using DiDongXanh_Web.Services.Zone.Repository
@using DiDongXanh_Web.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using DiDongXanh_Web.Services.Article.Repository
@using DiDongXanh_Web.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

}
@{
    ViewData["Title"] = "BlogDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@{
    var blog_zone_parent = new ZoneByTreeViewMinify();
    var detail = ViewBag.Detail as ArticleDetail;
    var zone_id = detail.ZoneId;
    var zone_target = zoneRepository.GetZoneDetail(zone_id, culture_code);
    var parent = zoneRepository.GetBreadcrumbByZoneId(zone_id, culture_code).Where(r => r.level == 0).FirstOrDefault();
    if (parent != null)
    {
        blog_zone_parent = parent;
    }
    var list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);

}
@section styles {

}





@if (@zone_target.Url == "gioi-thieu-cong-ty" || @zone_target.Url == "gioi-thieu")
{
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">Giới thiệu</li>
        </ol>
    </div>
    <!-- End Breadcrumb -->

    <!-- Page Introduction -->
    <div class="page-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <h5>SUMMER COLLECTION</h5>
                    <h1>GIỚI THIỆU VỀ HỆ THỐNG SIÊU THỊ DIDONGXANH</h1>
                    <p>
                        We believe in a world where you have total freedom to be you, without judgement.
                        To experiment. To express yourself. To be brave and grab life as the extraordinary
                        adventure it is. So we make sure everyone has an equal chance to discover all the
                        amazing things they’re capable of – no matter who they are, where they’re from or
                        what looks they like to boss.
                    </p>
                    <p>
                        Our audience (AKA you) is wonderfully unique. And we do everything we can to help
                        you find your fit, offering our Ciloe Brands in more than 30 sizes – and we’re committed
                        to providing all sizes at the same price
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <img src="~/design/images/page-intro/banner.png" class="img-fluid" alt="Banner Introduction">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 col-sm-6 col-12">
                    <img src="~/design/images/page-intro/icon-group.svg" class="page-intro__icon" alt="Icon">
                    <p><strong>9 nằm thành lập</strong></p>
                    <p>
                        We care for our customer’s business as our business.
                        We recognize our customers’ needs and will always seek to deliver an
                        exceptional service.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <img src="~/design/images/page-intro/icon-group.svg" class="page-intro__icon" alt="Icon">
                    <p><strong>101 siêu thị</strong></p>
                    <p>
                        We care for our customer’s business as our business.
                        We recognize our customers’ needs and will always seek to deliver an
                        exceptional service.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <img src="~/design/images/page-intro/icon-group.svg" class="page-intro__icon" alt="Icon">
                    <p><strong>63 tỉnh thành</strong></p>
                    <p>
                        We care for our customer’s business as our business.
                        We recognize our customers’ needs and will always seek to deliver an
                        exceptional service.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <img src="~/design/images/page-intro/icon-group.svg" class="page-intro__icon" alt="Icon">
                    <p><strong>10000+ nhân viên</strong></p>
                    <p>
                        We care for our customer’s business as our business.
                        We recognize our customers’ needs and will always seek to deliver an
                        exceptional service.
                    </p>
                </div>
            </div>
            <div class="detail-container page-news-detail__content" data-id="@detail.Id">
                @Html.Raw(DiDongXanh_Web.Utility.WebHelper.RenderLazyLoadBody(detail.Body))
            </div>
        </div>
    </div>
    <!-- End Page Introduction -->
}
else
{
    <section class="container">
        <nav aria-label="breadcrumb">
            @await Component.InvokeAsync("Breadcrumb", new { zone_id = zone_id })
        </nav>
    </section>
    <section class="bg-fff main-news page-news">
        <div class="container">
            <div class="blog-cate-horizontal">
                <ul class="blog-cate-horizontal__list" id="myTab" role="tablist">
                    @foreach (var item in list_zone_parent)
                    {
                        var slt = false;
                        var atv = false;
                        var link = LinkRedirectUrlUtility.BlogLinkUrl(item.Url);
                        if (item.Id == zone_id || item.Id == blog_zone_parent.Id)
                        {
                            slt = true;
                            atv = true;
                        }
                        @*<li class="nav-item @(atv == true ? "selected" : "")">
                                <a class="nav-link cust-navTab @(atv == true ? "selected active" : "") show" href="@link" aria-selected="@slt">@item.Name</a>
                            </li>*@
                        <li class="blog-cate-horizontal__item  @(atv == true ? "selected" : "")">
                            <a class="blog-cate-horizontal__link cust-navTab @(atv == true ? "selected active" : "") show" href="@link" aria-selected="@slt">@item.Name</a>
                        </li>
                    }


                </ul>
            </div>


            <div class="page-news__wrap @zone_target.Url">
                <div class="page-news-left">
                    <div class="blog-cate-vertical">
                        @await Component.InvokeAsync("RedirectBlogListLeft", new { minify = blog_zone_parent, target_url = zone_target.Url })
                    </div>
                </div>
                <div class="page-news-detail">
                    <!-- Title -->
                    <h1 class="page-news-detail__title">
                        @detail.Title
                    </h1>
                    <!-- End Title -->
                    <!-- Table Of Contents -->
                    @if (!string.IsNullOrEmpty(detail.Indexing))
                    {
                        <div class="page-news-detail__toc">


                            @Html.Raw(DiDongXanh_Web.Utility.WebHelper.IndexingCss(detail.Indexing))




                            @*<div class="page-news-detail__toc-title" data-toggle="collapse" data-target="#tocCollapse">
                                    Nội dung chính bài viết <i class="fa fa-angle-up"></i>
                                </div>
                                <div id="tocCollapse" class="collapse show">
                                    <div class="page-news-detail__toc-list">
                                        <ul>
                                            <li>
                                                <a href="#muc-1">1. Quạt điều hòa Sunhouse SHD7727</a>
                                                <ul>
                                                    <li>
                                                        <a href="#muc-1-1">1.1. Quạt điều hoà Kangaroo KG50F79</a>
                                                    </li>
                                                    <li>
                                                        <a href="#muc-1-2">1.2. Quạt điều hoà Kangaroo KG50F79</a>
                                                    </li>
                                                    <li>
                                                        <a href="#muc-1-3">1.3. Quạt điều hòa Kangaroo KG50F58</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#muc-2">2. Quạt điều hoà Sunhouse SHD7713</a>
                                            </li>
                                            <li>
                                                <a href="#muc-3">3. Quạt điều hòa Midea AC120-16AR</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>*@
                        </div>
                        <!-- End Table Of Contents -->
                    }
                    <!-- Content -->
                    <div class="detail-container page-news-detail__content" data-id="@detail.Id">
                        @Html.Raw(DiDongXanh_Web.Utility.WebHelper.RenderLazyLoadBody(detail.Body))
                    </div>
                    @*<div class="share-mxh">
                            <div class="key-word">
                                @if (!string.IsNullOrEmpty(detail.Tags))
                                {
                                    var list_tags = detail.Tags.Split(',');
                                    foreach (var item in list_tags)
                                    {
                                        var link_tar = string.Format("{0}/filter-by-{1}.html", base_uri_culture, item);
                                        <div class="key-word">
                                            @item
                                        </div>
                                    }
                                }

                            </div>
                            <div class="d-flex">
                                <div class="fb-like" data-href="@domain_full" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                            </div>
                        </div>*@

                    <div class="page-news-detail__footer">
                        <div class="page-news-detail__tags">
                            <a href="tin-tuc-1.html">Yoga</a>
                            <a href="tin-tuc-1.html">Iphone</a>
                            <a href="tin-tuc-1.html">Android</a>
                        </div>
                        <div class="page-news-detail__share">
                            <div class="page-news-detail__share-label">Chia sẻ</div>
                            <a href="#" title="Chia sẻ lên Facebook">
                                <img src="~/design/images/icons/share-facebook.svg" alt="Share Facebook">
                            </a>
                            <a href="#" title="Chia sẻ lên Instagram">
                                <img src="~/design/images/icons/share-instagram.svg" alt="Share Instagram">
                            </a>
                            <a href="#" title="Chia sẻ lên Zalo">
                                <img src="~/design/images/icons/share-zalo.svg" alt="Share Zalo">
                            </a>
                            <a href="#" title="Chia sẻ lên Email">
                                <img src="~/design/images/icons/share-email.svg" alt="Share Email">
                            </a>
                        </div>
                    </div>


                    <!--Comment-->
                    <div class="comment_binding comments">
                        @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })
                    </div>
                    <div class="fb-comments" data-href="@domain_full" data-numposts="5" data-width="100%"></div>

                    <!--Bài viết liên quan-->
                    <div class="news-related blog-extra">
                        <h4 class="news-related__title">
                            Tin tức liên quan
                        </h4>
                        <ul class="news-related__list list-dacdiem">
                            @{
                                var zone_target_id = detail.ZoneId;
                                var to = 0;
                                var list_same_zone = articleRepository.GetArticlesInZoneId_Minify_FullFilter(zone_target_id, (int)TypeZone.Article, (int)TypeArticle.Blog, 2, culture_code, "", 1, 5, out to);
                            }
                            @foreach (var item in list_same_zone)
                            {
                                var link_tarrrr = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                                <li>
                                    <a href="@link_tarrrr">@item.Title</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- End Content -->
                </div>
            </div>

        </div>
    </section>
}

@section scripts {
}