﻿@using DienMayThoiDai.Services.Product.ViewModel
@using DienMayThoiDai.Services.Product.Repository
@using DienMayThoiDai.Services.Article.ViewModel
@using DienMayThoiDai.Services.Article.Repository
@using DienMayThoiDai.Services.Extra.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using MI.Entity.Enums
@inject IHttpContextAccessor HttpContextAccessor
@using DienMayThoiDai.Utility
@inject ICookieUtility cookieUtility
@inject IArticleRepository articleRepository
@inject IProductRepository productRepository
@inject IConfigSEOUtility configSEOUtility
@inject IViewLocalizer Localizer
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.Scheme;
}
@{
    // ViewData["Title"] = "ProductDetail222";


    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var detail = ViewBag.Infomation as ProductDetail;
    var setification_detail = ViewBag.Spectification as List<ProductSpectificationDetail>;
    var product_same_zone = ViewBag.SameZone as List<ProductMinify>;
    var same_total = ViewBag.SameTotal;
    var zone_id = ViewBag.Zone;
    var zone_url = ViewBag.ZoneUrl;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;

    var product_price_details = ViewBag.ListLocation as List<ProductPriceInLocationDetail>
    ;
    var default_price_detail = ViewBag.DefaultLocationPrice as ProductPriceInLocationDetail;
    var combo = ViewBag.Combo as List<ProductMinify>
        ;
    var promotions = ViewBag.Promotion as List<PromotionInProduct>
        ;
    var comments = ViewBag.Comments as List<CommentDetail>
        ;
}
@*
    public string ConfigShemaOrg(string domain_full,string title, string avatar, DateTime createdDate, DateTime modifiedDate, string metaTitle, string web_name,string logo, string description)
    public string ConfigSocialMeta(string fbAppId = "default fbAddId", string url = "default url", string title = "default title", string description = "default description", string image = "default image")
    public string ConfigMeta(string title, string description, string keyword)

*@
@inject IViewLocalizer _localizer
@section styles{

    <script>
        function magnify(imgID, zoom) {
            var img, glass, w, h, bw;
            img = document.getElementById(imgID);
            /*create magnifier glass:*/
            glass = document.createElement("DIV");
            glass.setAttribute("class", "img-magnifier-glass");
            /*insert magnifier glass:*/
            img.parentElement.insertBefore(glass, img);
            /*set background properties for the magnifier glass:*/
            glass.style.backgroundImage = "url('" + img.src + "')";
            glass.style.backgroundRepeat = "no-repeat";
            glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
            bw = 3;
            w = glass.offsetWidth / 2;
            h = glass.offsetHeight / 2;
            /*execute a function when someone moves the magnifier glass over the image:*/
            glass.addEventListener("mousemove", moveMagnifier);
            img.addEventListener("mousemove", moveMagnifier);
            /*and also for touch screens:*/
            glass.addEventListener("touchmove", moveMagnifier);
            img.addEventListener("touchmove", moveMagnifier);
            function moveMagnifier(e) {
                var pos, x, y;
                /*prevent any other actions that may occur when moving over the image*/
                e.preventDefault();
                /*get the cursor's x and y positions:*/
                pos = getCursorPos(e);
                x = pos.x;
                y = pos.y;
                /*prevent the magnifier glass from being positioned outside the image:*/
                if (x > img.width - (w / zoom)) { x = img.width - (w / zoom); }
                if (x < w / zoom) { x = w / zoom; }
                if (y > img.height - (h / zoom)) { y = img.height - (h / zoom); }
                if (y < h / zoom) { y = h / zoom; }
                /*set the position of the magnifier glass:*/
                glass.style.left = (x - w) + "px";
                glass.style.top = (y - h) + "px";
                /*display what the magnifier glass "sees":*/
                glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
            }
            function getCursorPos(e) {
                var a, x = 0, y = 0;
                e = e || window.event;
                /*get the x and y positions of the image:*/
                a = img.getBoundingClientRect();
                /*calculate the cursor's x and y coordinates, relative to the image:*/
                x = e.pageX - a.left;
                y = e.pageY - a.top;
                /*consider any page scrolling:*/
                x = x - window.pageXOffset;
                y = y - window.pageYOffset;
                return { x: x, y: y };
            }
        }
    </script>



    <style>
        .content img {
            max-width: 100%;
            height: auto;
        }
    </style>
}
@if (detail != null)
{
    <div class="container my-3">
        @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
    </div>
    <section class="product-detail" data-id="@detail.Id" data-properties="@detail.PropertyId">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-9 col-md-9 col-12 align-self-center">
                    <h1 class="title mb-3 mb-lg-0 d-inline-block mr-4 ">@detail.Title </h1>
                    <div class="small d-inline-block p-2 ">
                        <div class="star-rating d-inline-block  text-center mb-3" data-id="@detail.Id" data-rate-type="1">
                            @await Component.InvokeAsync("RatingStar", new { object_id = @detail.Id, object_type = (int)TypeRating.Product, hTag = "" })
                        </div>
                    </div>
                    <div class="d-inline-block text-primary px-2">@detail.TotalRate @_localizer["Rate"]</div>
                </div>
                <div class="col-lg-3 col-md-4 col-12 text-right facebook-btn">
                    <button class="btn mr-2"><i class="fas fa-thumbs-up mr-1"></i>@_localizer["Like"] <span>1.4K</span></button>
                    <button href="" class="btn">@_localizer["Share"]</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-12 col-12 pr-lg-0 ">
                            <div class="slide-product-detail mb-4">
                                <div class="swiper-container gallery-top">
                                    <div class="swiper-wrapper">
                                        @{//Cat chuoi anh
                                            var avatar_array = detail.AvatarArray.Split(',');
                                            var count_id = 1;
                                            foreach (var item in avatar_array)
                                            {
                                                var getId = "myimage" + count_id;
                                                count_id++;

                                                <div class="swiper-slide">
                                                    <div class="img-magnifier-container">

                                                        <img id="@getId" src="@UIHelper.StoreFilePath(item,false)?v=@WebHelper.Version()" width="100%" height="auto" alt="@detail.Title">
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img src="~/images/change/product-detail-01.jpg?v=@WebHelper.Version()" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="~/images/change/product-detail-01.jpg" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="~/images/change/product-detail-01.jpg" class=" img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-link  btn-sm mb-2" data-toggle="modal"
                                            data-target="#modal-slide-imge">
                                        Xem kích thước lớn
                                    </button>
                                </div>
                                <div class="swiper-container gallery-thumbs px-3">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in avatar_array)
                                        {
                                            <div class="swiper-slide">
                                                <div class="image">
                                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item)" class="img-fluid w-100 "
                                                         alt="@detail.Title" />
                                                </div>
                                            </div>
                                        }
                                        <div class="swiper-slide">
                                            <div class="image p-3">
                                                <img asp-append-version="true" src="~/images/download-con-thumb.svg" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                            Download Brochure
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="image p-3">
                                                <img asp-append-version="true" src="~/images/change/360do-icon-thumb.svg" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                            Hình 360 độ
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="image p-3">
                                                <img asp-append-version="true" src="~/images/youtube-icon-thumb.svg" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                            Video
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev" tabindex="0" role="button"
                                         aria-label="Previous slide">
                                        <button class="btn btn-link color-828282">
                                            <i class="fas fa-chevron-left"
                                               aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="swiper-button-next" tabindex="0" role="button"
                                         aria-label="Previous slide">
                                        <button class="btn btn-link color-828282 ">
                                            <i class="fas fa-chevron-right"
                                               aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-12 col-12 pl-lg-5">
                            <label style="font-size: 14px;" class="d-inline-block">Giá tại</label>
                            <div class="dropdown d-inline-block select-local">
                                <a class="btn btn-link dropdown-toggle" href="javascript:;" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    @default_price_detail.LocationName
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    @foreach (var item in product_price_details)
                                    {
                                        <a class="dropdown-item location-item" href="javascript:;" data-price="@item.Price" data-sale-price="@item.SalePrice" data-location-id="@item.LocationId" data-product-id="@detail.Id">@item.LocationName</a>
                                    }

                                </div>
                            </div>
                            <div class="price-product-detail">
                                <span class="new" id="price-sale">
                                    @if (default_price_detail.SalePrice > 0)
                                    {
                                        <span id="price-sale-detail" data-sale-price="@default_price_detail.SalePrice">@UIHelper.FormatNumber(default_price_detail.SalePrice)</span><span>/@detail.Unit</span>
                                    }
                                    else
                                    {
                                        <span id="price-sale-detail" data-sale-price="@default_price_detail.SalePrice">@Localizer["Contact_for_Infomation"];</span>

                                    }
                                </span>
                                <span class="old" id="price-normal">
                                    @if (default_price_detail.SalePrice > 0)
                                    {
                                        @UIHelper.FormatNumber(default_price_detail.Price)<span></span>
                                    }
                                </span>
                                <span class="tag"></span>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="font-weight-600 text-uppercase align-self-center mr-3">
                                    Còn hàng
                                </div>
                                <div class="group-amount d-flex align-self-center">
                                    <button class="btn" id="minus" type="button">
                                        <i class="fas fa-minus" aria-hidden="true"></i>
                                    </button>
                                    <input type="number" title="Điền đủ số m2 nhà bạn" class="form-control mx-2" id="quantity" value="1">
                                    <button class="btn " id="plus" type="button">
                                        <i class="fas fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            @*<div class=" d-none d-lg-block" style="font-size: 11px; line-height: 1;">
                                    <span class="nhap-dien-tich">Nhập diện tích nhà bạn</span>
                                </div>*@
                            @if (promotions.Count() > 0)
                            {
                                <div class="box-km mb-3">
                                    <h6 class="font-weight-600 mb-3">Khuyến mại</h6>
                                    @foreach (var item in promotions)
                                    {
                                        <label class="label-checkbox">
                                            @Html.Raw(item.Name)
                                            <input type="checkbox" class="choose_promotion" checked="checked" data-promotion-id="@item.Id" data-is-discount="@item.IsDiscountPrice" data-type="@item.Type" data-value="@item.Value">
                                            <span class="checkmark"></span>
                                        </label>
                                    }
                                </div>
                            }

                            <div class="d-flex mb-3">
                                <div class="mr-2">
                                    <img asp-append-version="true" src="~/images/change/caculator-icon.svg" class="img-fluid" />
                                </div>
                                <div class="">
                                    <div>Lát sàn gỗ nhà bạn chi phí hết bao nhiêu? </div>
                                    <a href="du-toan-cong-trinh.html" class="btn-link font-weight-600">Tính toán chi phí dự kiến ngay</a>
                                </div>
                            </div>
                            <div class="area_order mb-3">
                                <div class="row">
                                    <div class="col-sm-6 col-12 pr-sm-2">
                                        <a href="javascript:void(0)" class="btn btn-order w-100  mb-3" id="buy-now" data-product-id="@detail.Id">
                                            <img asp-append-version="true" src="~/images/Cart.svg"
                                                 class="img-fluid mr-2" />MUA HÀNG NGAY
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-12 pl-sm-2  ">
                                        <button href="" class="btn btn-order-2 w-100   mb-3" id="add-to-cart" data-product-id="@detail.Id">THÊM VÀO GIỎ</button>
                                    </div>
                                    <div class="col-12  ">
                                        <div class="bg-tuvan">
                                            <label class="mb-3">
                                                <i class="fas fa-phone-alt mr-2"></i> TƯ VẤN MUA HÀNG
                                            </label>
                                            <div class="form-row">
                                                <div class="col-9">
                                                    <input type="text" class="form-control" placeholder="SĐT">
                                                </div>
                                                <div class="col-3">
                                                    <button href="" class="btn btn-outline-light w-100  text-uppercase  ">Gửi</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="area_order mb-3">
                                    <div class="row">
                                        <div class="col-12 px-2">
                                            <a href="" class="btn btn-order w-100 py-3 mb-3">
                                                <img asp-append-version="true" src="~/images/Cart.svg"
                                                     class="img-fluid mr-2" />MUA HÀNG NGAY
                                            </a>
                                        </div>
                                        <div class="col-6 px-2">
                                            <a href="javascript:void(0)" class="btn btn-order-2 w-100 py-3 mb-3" id="add-to-cart" data-product-id="@detail.Id">Thêm vào giỏ hàng</a>
                                        </div>
                                        <div class="col-6 px-2">
                                            <a href="" class="btn btn-order-2 w-100 py-3 mb-3">Liên hệ</a>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="box-km product-suggest mb-3" id="list_combo">
                                <h6 class="font-weight-600 mb-3 text-uppercase">Thường được mua cùng</h6>
                                @{var count = 1; }
                                <label class="label-checkbox d-flex">
                                    <div class="image-product mr-2">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar)" class="" alt="@detail.Title" />
                                    </div>
                                    <div class="align-self-center mr-2">@detail.Title</div>
                                    <div class="align-self-center font-weight-600 ml-auto nowrap" id="default_price">@UIHelper.FormatNumber(default_price_detail.SalePrice) đ/m2</div>
                                    <input id="default-sale-price" class="choose_combo" data-product-id="@detail.Id" data-sale-price="@default_price_detail.SalePrice" type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <div id="_binding_combo">
                                    @foreach (var item in combo)
                                    {
                                        count++;
                                        var link_target = BaseBA.UrlProduct("",item.Url);
                                        <label class="label-checkbox d-flex">
                                            <div class="image-product mr-2">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="" alt="@item.Title" />
                                            </div>
                                            <div class="align-self-center mr-2"><a href="@link_target" alt="@item.Title">@item.Title</a></div>
                                            <div class="align-self-center font-weight-600 ml-auto nowrap combo-item-price">@UIHelper.FormatNumber(item.SalePrice) đ/m2</div>
                                            <input class="choose_combo" data-sale-price="@item.SalePrice" data-product-id="@item.ProductId" type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    }
                                </div>
                                <div class="text-right">
                                    @{ var tong_tien_combo = combo.Sum(r => r.SalePrice) + default_price_detail.SalePrice; }
                                    <div class="mb-3">Tổng dự toán:<span class="font-weight-600 color-EE7D22 mx-2" id="total_combo_price" data-total="@tong_tien_combo">@UIHelper.FormatNumber(tong_tien_combo) đ</span></div>
                                    <button role="button" class="btn btn-save " id="add-cart-combo">Thêm <span id="count_combo">@count</span> sản phẩm vào giỏ hàng</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 col-12 d-none d-md-block">
                    <button type="button" class="btn border btn-sm w-100 mb-3 py-2">
                        <i class="fas fa-map-marker-alt mr-2" style="color: #3AB54A;"4></i>Xem siêu thị có hàng trưng bày
                    </button>
                    <div class="policy-new border border-r-4 py-2 px-3 mb-3">
                        <div class="item">
                            <div class="icon"><img asp-append-version="true" src="~/images/icon-de-1.svg" class="img-fluid" /></div>
                            <div class="text">Giá bán tại kho chưa bao gồm lắp đặt và vận chuyển</div>
                        </div>
                        <div class="item">
                            <div class="icon"><img asp-append-version="true" src="~/images/icon-de-2.svg" class="img-fluid" /></div>
                            <div class="text">Nhập khẩu và phân phối trực tiếp - Hàng có sẵn tại kho</div>
                        </div>
                        <div class="item">
                            <div class="icon"><img asp-append-version="true" src="~/images/icon-de-3.svg" class="img-fluid" /></div>
                            <div class="text">Hệ thống trung tâm trên toàn quốc</div>
                        </div>
                        <div class="item">
                            <div class="icon"><img asp-append-version="true" src="~/images/icon-de-4.svg" class="img-fluid" /></div>
                            <div class="text">Đội ngũ tư vấn có trên 10 năm kinh nghiệm</div>
                        </div>
                        <div class="item">
                            <div class="icon"><img asp-append-version="true" src="~/images/icon-de-5.svg" class="img-fluid" /></div>
                            <div class="text">Sản phẩm tại được đảm bảo nguồn gốc rõ ràng</div>
                        </div>
                        <div class="item">
                            <div class="icon"><img asp-append-version="true" src="~/images/icon-de-6.svg" class="img-fluid" /></div>
                            <div class="text">
                                Chính sách bảo hành tốt nhất - Bảo hành sản phẩm bất kỳ trên toàn hệ thống
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sản phẩm tương tự-->
            <div class="mb-4 d-none d-md-block">
                <div class="row mb-3  ">
                    <div class="col-8">
                        <a href="" class="h5 font-weight-bold ">@_localizer["Similar Product"]</a>
                    </div>
                    @if (same_total > 6)
                    {
                        var link_tar = string.Format("{0}/{1}.c{2}.html", base_uri_culture, zone_url, zone_id);
                        <div class="col-4 text-right">
                            <a href="@link_tar" class="link-view-more">
                                *Xem thêm <i class="fas fa-chevron-right ml-1 small" aria-hidden="true"></i>
                            </a>
                        </div>
                    }
                </div>
                <div class="row no-gutters">
                    @if (product_same_zone != null)
                    {
                        foreach (var item in product_same_zone)
                        {
                            var link_tar = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                            <div class="col-xl-2 col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">

                                    </div>
                                    <div class="image">
                                        <a href="@link_tar"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title"></a>
                                        <div class="tag-2">

                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="@link_tar" title="@item.Title">
                                                @item.Title
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            @UIHelper.FormatNumber(item.SalePrice)
                                        </div>
                                        <div class="price-old">
                                            @UIHelper.FormatNumber(item.Price)
                                        </div>
                                        <div class="size small mb-1">
                                            @item.SpecName: @item.SpecValue
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                            </div>
                                            <div class="color-828282">
                                                @item.CountRate đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!--Sản phẩm tương tự end-->
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                    <div class="d-md-none">
                        <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                            <i class="far fa-clock mr-2"></i> Chi tiết kỹ thuật
                        </div>
                        <div class="tech-detail border py-2 border-r-4 px-3 mb-4">
                            @*<div class="item ">
                                <div class="label text-uppercase font-weight-600">
                                    @_localizer["Code"]
                                </div>
                                <div class=" ml-auto text-right">
                                    @Html.Raw(detail.Code)
                                </div>
                            </div>*@
                            <div class="item ">
                                <div class="label text-uppercase font-weight-600">
                                    @_localizer["Unit"]
                                </div>
                                <div class="ml-auto  text-right">
                                    @Html.Raw(detail.Unit)
                                </div>
                            </div>
                            @if (setification_detail != null)
                            {
                                @foreach (var item in setification_detail)
                                {
                                    <div class="item ">
                                        <div class="label text-uppercase font-weight-600">
                                            @item.Name
                                        </div>
                                        <div class="ml-auto  text-right">
                                            @item.Value
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="product-description">
                        <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                            Mô tả sản phẩm
                        </div>

                        <div class="content">
                            @Html.Raw(detail.Content)

                        </div>

                    </div>
                    <div class="text-center my-4">
                        <button class="btn btn-outline-view-more" onclick="expandProductDes()">
                            Xem thêm<i class="fas fa-chevron-down ml-2 "></i>
                        </button>
                    </div>

                    <!--Phụ kiện đi kèm-->
                    @*<div class="row mb-3  ">
                            <div class="col-8">
                                <a href="" class="h5 font-weight-bold ">Phụ kiện đi kèm</a>
                            </div>
                            <div class="col-4 text-right">
                                <a href="" class="link-view-more">
                                    Xem thêm <i class="fas fa-chevron-right ml-1 small"
                                                aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row no-gutters mb-4">
                            <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img asp-append-version="true" src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                        <div class="tag-2">
                                            <img asp-append-version="true" src="~/images/change/tag-2-1.png" class="img-fluid ">
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img asp-append-version="true" src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                        <div class="tag-2">
                                            <img asp-append-version="true" src="~/images/change/tag-2-1.png" class="img-fluid ">
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img asp-append-version="true" src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                        <div class="tag-2">
                                            <img asp-append-version="true" src="~/images/change/tag-2-1.png" class="img-fluid ">
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img asp-append-version="true" src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                        <div class="tag-2">
                                            <img asp-append-version="true" src="~/images/change/tag-2-1.png" class="img-fluid ">
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!--Phụ kiện đi kèm end-->
                    <!--Đánh giá-->
                    <div class="row mb-3">
                        <div class="col-md-8 col-sm-8 col-8 ">
                            <h5 class="font-weight-600 mb-0">Đánh giá sản phẩm</h5>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 text-right">
                            <button type="button" class="btn btn-save" data-toggle="modal"
                                    data-target="#modal-danh-gia">
                                Đánh giá ngay
                            </button>
                        </div>
                    </div>

                    <!--Rating-->
                    <div class="border-r-4 border py-3 mb-4">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                                <div class="star-average p-3 border-right">
                                    <h2 class="mb-1 font-weight-600">@detail.RateAVG</h2>
                                    @*<div class="ratingresult mb-2">*@
                                    <div class="star-rating d-inline-block  text-center mb-3">
                                        @await Component.InvokeAsync("RatingStar", new { object_id = @detail.Id, object_type = (int)TypeRating.Product, hTag = ""})
                                    </div>
                                    <div><a href="javascript:;" class="btn-link">@detail.TotalRate đánh giá</a></div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-12">
                                <aside class="rating-left">
                                    @{
                                        var x = detail.TotalRate == 0 ? 1 : detail.TotalRate;
                                        var five_star_percent = Math.Round(((double)detail.Five_Star / (double)x) * 100, 1);
                                        var four_star_percent = Math.Round(((double)detail.Four_Star / (double)x) * 100, 1);
                                        var three_star_percent = Math.Round(((double)detail.Three_Star / (double)x) * 100, 1);
                                        var two_star_percent = Math.Round(((double)detail.Two_Star / (double)x) * 100, 1);
                                        var one_star_percent = Math.Round(((double)detail.One_Star / (double)x) * 100, 1);
                                    }
                                    <div class="star-line">
                                        <span class="star-type left align-self-center">5 </span>
                                        <div class="star-bar align-self-center">
                                            <div class="star-barsub" style="width: @(five_star_percent)%;">
                                            </div>
                                        </div>
                                        <span class="star-type right align-self-center ">@(five_star_percent)%</span>
                                    </div>
                                    <div class="star-line">
                                        <span class="star-type left align-self-center">4</span>
                                        <div class="star-bar align-self-center">
                                            <div class="star-barsub" style="width: @(four_star_percent)%;">
                                            </div>
                                        </div>
                                        <span class="star-type right align-self-center ">@(four_star_percent)%</span>
                                    </div>
                                    <div class="star-line">
                                        <span class="star-type left align-self-center">3</span>
                                        <div class="star-bar align-self-center">
                                            <div class="star-barsub" style="width: @(three_star_percent)%;">
                                            </div>
                                        </div>
                                        <span class="star-type right align-self-center ">@(three_star_percent)%</span>
                                    </div>
                                    <div class="star-line">
                                        <span class="star-type left align-self-center">2</span>
                                        <div class="star-bar align-self-center">
                                            <div class="star-barsub" style="width: @(two_star_percent)%;">
                                            </div>
                                        </div>
                                        <span class="star-type right align-self-center ">@(two_star_percent)%</span>
                                    </div>
                                    <div class="star-line">
                                        <span class="star-type left align-self-center">1</span>
                                        <div class="star-bar align-self-center">
                                            <div class="star-barsub" style="width: @(one_star_percent)%;">
                                            </div>
                                        </div>
                                        <span class="star-type right align-self-center">@(one_star_percent)%</span>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <!--Gửi Comment-->
                    <div class="row mb-3">
                        <div class="col-md-8 col-sm-8 col-8 ">
                            <h5 class="font-weight-600 mb-0 mt-1">@comments.Count() Bình luận</h5>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 text-right">
                            <div class="search-comment">
                                <input class="form-control " type="text" placeholder="Search" />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <form class="border border-r-4 mb-4 " id="comment-form" data-type="comment" data-object-id="@detail.Id" data-object-type="@((int)CommentType.Product)" data-lang="@culture_code">
                        <textarea class="form-control txt_content" rows="5" placeholder="Type your topic here"
                                  style="border: 0;" minlength="50"></textarea>
                        <div class="border-top">
                            <div class="form-row p-2 ">
                                <div class="col-xl-2 col-md-2 col-12">
                                    <div class="position-relative form-control text-center mb-2 mb-md-0"
                                         style="font-size: 14px;">
                                        <img asp-append-version="true" src="~/images/camera.svg" class="img-fluid" />
                                        <input type="file" class="input-choose-file " accept="image/*" data-target-url="">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-12">
                                    <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_name"
                                           placeholder="Tên (bắt buộc)" required>
                                </div>
                                <div class="col-xl-4 col-md-4 col-12">
                                    <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_phoneOrEmail"   placeholder="Email (bắt buộc)" required>
                                </div>
                                <div class="col-xl-2 col-md-2 col-12">
                                    <button class="btn btn-save px-5 mb-2 mb-md-0 send-comment" data-type="comment" data-object-id="@detail.Id" data-object-type="@((int)CommentType.Product)" data-lang="@culture_code" type="submit">Gửi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    @{
                        var list_comment_parents = comments.Where(r => r.ParentId == 0);
                    }
                    <div class="list-comment mb-4">
                        @foreach (var item in list_comment_parents)
                        {
                            <div class="media mb-3">
                                <img asp-append-version="true" src="~/@item.Avatar" class="img-fluid avatar mr-3" alt="@item.Name">
                                <div class="media-body">
                                    <h6 class="name">@item.Name</h6>
                                    @if (item.Rate > 0)
                                    {
                                        <div class="small d-inline-block p-2 ">
                                            <div class="star-rating d-inline-block  text-center mb-3">
                                                @for (int i = 0; i < item.Rate; i++)
                                                {
                                                    <i class="fas fa-star checked" aria-hidden="true"></i>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="comment-ct ">
                                        @item.Content
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2"></i>Thích
                                        </a>
                                        <span class="time small mb-2">@item.CreatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                                    </div>
                                    @{ var list_comment_reply = comments.Where(r => r.ParentId == item.Id);}
                                    @foreach (var rep in list_comment_reply)
                                    {
                                        <div class="media sub  mt-3">
                                            <a class="" href="#">
                                                <img asp-append-version="true" src="~/@rep.Avatar" class="img-fluid avatar mr-3"
                                                     alt="@rep.Name">
                                            </a>
                                            <div class="media-body">
                                                <h6 class="name qtv">@rep.Name</h6>
                                                @if (!string.IsNullOrEmpty(rep.CreatedByAdminId))
                                                {
                                                    <div class="qtv">Quản trị viên</div>
                                                }

                                                <div class="comment-ct">
                                                    @rep.Content
                                                </div>
                                                <div class="d-flex flex-wrap">
                                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">Trả lời</a>
                                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">
                                                        <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                                    </a>
                                                    <a href="" href="" class="btn-link small mr-3 mb-2">
                                                        <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                                    </a>
                                                    <span class="time small mb-2">@rep.CreatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!--Đánh giá end-->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 ">
                    <!--Chi tiết kỹ thuật-->
                    <div class="d-none d-md-block">
                        <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                            <i class="far fa-clock mr-2"></i> Chi tiết kỹ thuật
                        </div>
                        <div class="tech-detail border py-2 border-r-4 px-3 mb-4">
                            @*<div class="item ">
                                <div class="label text-uppercase font-weight-600">
                                    @_localizer["Code"]
                                </div>
                                <div class=" ml-auto text-right">
                                    @Html.Raw(detail.Code)
                                </div>
                            </div>*@
                            <div class="item ">
                                <div class="label text-uppercase font-weight-600">
                                    @_localizer["Unit"]
                                </div>
                                <div class="ml-auto  text-right">
                                    @Html.Raw(detail.Unit)
                                </div>
                            </div>
                            @if (setification_detail != null)
                            {
                                @foreach (var item in setification_detail)
                                {
                                    <div class="item ">
                                        <div class="label text-uppercase font-weight-600">
                                            @item.Name
                                        </div>
                                        <div class="ml-auto  text-right">
                                            @item.Value
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!--Tin mới-->
                    <div class="lastest-news ">
                        <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                            <img asp-append-version="true" src="~/images/lastest-ic.svg" class="img-fluid mr-2" /> Tin mới
                        </div>
                        <div class="list-right mb-4">
                            @{
                                var total_lastest_news = 0;
                                var lastest_news = articleRepository.GetArticlesInZoneId_Minify(0, (int)TypeZone.Article, culture_code, "", 1, 4, out total_lastest_news);
                                foreach (var item in lastest_news)
                                {
                                    var link_target = string.Format("{0}/{1}.a{2}.html", base_uri_culture, item.Url, item.Id);
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                                <div class="image">
                                                    <a href="@link_target" title="@item.Title">
                                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                                <h6 class="title">
                                                    <a href="@link_target" title="@item.Title">@item.Title</a>
                                                </h6>
                                                <div class="time">
                                                    @item.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!--Sản phẩm ưu chuộng-->
                    <div class="list-menu-right">
                        <div class="heading mb-3">
                            <img asp-append-version="true" src="~/images/icon-spuc.svg" class="img-fluid mr-2" />Sản phẩm ưa chuộng
                        </div>
                        <div class="list lastest-news">
                            @{
                                var total_best_favor = 0;
                                var best_favor = productRepository.GetAllProductSortBy(1, cookie_location.LocationId, culture_code, 1, 5, out total_best_favor);
                                foreach (var item in best_favor)
                                {
                                    var link_tar = string.Format("{0}/{1}.p{2}.html", base_uri_culture, item.Url, item.ProductId);
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-3 pr-0">
                                                <div class="image">
                                                    <a href="@link_tar" title="@item.Title">
                                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid"
                                                             alt="@link_tar">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 col-9">
                                                <h6 class="title mb-1">
                                                    <a href="@link_tar" title="@item.Title">@item.Title</a>
                                                </h6>
                                                <div class="price color-EE7D22 font-weight-bold mb-1" style="font-size: 18px;">
                                                    @UIHelper.FormatNumber(item.SalePrice) đ/m2
                                                </div>
                                                <div class="d-flex small">
                                                    <div class="color-FFAB1B mr-2">
                                                        @Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        @item.CountRate đánh giá
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="list-menu-right">
                        <div class="heading mb-3">
                            <img asp-append-version="true" src="~/images/sale-tag-icon.svg" class="img-fluid mr-2" />Tags
                        </div>
                        <div class="list  list-tags-right">
                            <div class="item">
                                <a href="">rèm cầu vồng</a>
                            </div>
                            <div class="item">
                                <a href="">rèm cửa</a>
                            </div>
                            <div class="item">
                                <a href=""> sàn gỗ</a>
                            </div>
                            <div class="item">
                                <a href="">sàn nhựa</a>
                            </div>
                            <div class="item">
                                <a href="">san nhua ecost</a>
                            </div>
                            <div class="item">
                                <a href="">rèm cửa</a>
                            </div>
                            <div class="item">
                                <a href="">sàn gỗ</a>
                            </div>
                            <div class="item">
                                <a href=""> rèm cầu vồng</a>
                            </div>
                            <div class="item">
                                <a href="">rèm cửa</a>
                            </div>
                            <div class="item">
                                <a href="">sàn gỗ</a>
                            </div>
                            <div class="item">
                                <a href="">san nhua ecost</a>
                            </div>
                            <div class="item">
                                <a href="">rèm cửa</a>
                            </div>
                            <div class="item">
                                <a href=""> sàn gỗ</a>
                            </div>
                            <div class="item">
                                <a href="">rèm cầu vồng</a>
                            </div>
                            <div class="item">
                                <a href=""> rèm cửa</a>
                            </div>
                            <div class="item">
                                <a href=""> sàn gỗ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-home py-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <div class="d-flex py-3 justify-content-center">
                        <div class="image align-self-center">
                            <img asp-append-version="true" src="~/images/shipment-international.svg" class="img-fluid" />
                        </div>
                        <div class="px-3 align-self-center">
                            <label>Vận chuyển</label>
                            <div class="small">
                                Free shipping on all order
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <div class="d-flex py-3 justify-content-center">
                        <div class="image align-self-center">
                            <img asp-append-version="true" src="~/images/professions-man-telecommunicator.svg" class="img-fluid" />
                        </div>
                        <div class="px-3 align-self-center">
                            <label>Support 24/7</label>
                            <div class="small">
                                Chúng tôi hỗ trợ bạn 24/7
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <div class="d-flex py-3 justify-content-center">
                        <div class="image align-self-center">
                            <img asp-append-version="true" src="~/images/saving-piggy-dollars.svg" class="img-fluid" />
                        </div>
                        <div class="px-3 align-self-center">
                            <label>Dịch vụ đổi trả hàng</label>
                            <div class="small">
                                Đổi trả hàng trong vòng 7 ngày
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal đánh giá-->
    <div class="modal jan-modal fade" id="modal-danh-gia" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id="rating-form" data-type="rating" data-object-id="@detail.Id" data-object-type="@((int)CommentType.Product)" data-lang="@culture_code">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title font-weight-bold">Đánh giá ngay</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="font-weight-600 mb-4">Bạn cảm thấy sản phẩm như thế nào?(chọn sao nhé):</h6>
                    <div class="star-rating h4 text-center mb-4">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="mb-4 ">
                        <div class="form-row p-2 ">
                            <div class="col-12">
                                <textarea class="form-control mb-3 txt_content " minlength="50" rows="4"
                                          placeholder="Type your topic here"></textarea>
                            </div>
                            <div class="col-2">
                                <div class="position-relative form-control text-center mb-2 mb-md-0"
                                     style="font-size: 14px;">
                                    <img asp-append-version="true" src="images/camera.svg" class="img-fluid">
                                    <input type="file" class="input-choose-file " accept="image/*">
                                </div>

                            </div>
                            <div class="col">
                                <input type="text" style="font-size: 14px;height: calc(1.5em + .75rem + 2px);"
                                       class="form-control mb-2 mb-md-0 txt_name" placeholder="Tên (bắt buộc)" required>
                            </div>
                            <div class="col">
                                <input type="text" style="font-size: 14px;height: calc(1.5em + .75rem + 2px);"
                                       class="form-control mb-2 mb-md-0 txt_phoneOrEmail" placeholder="Email (bắt buộc)" required>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-save" id="btn-save-xn">
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal " id="modal-slide-imge" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl  mt-0" role="document">
            <div class="modal-content px-3">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-xl-7 col-lg-7 col-md-8 col-12">
                        <div class="slide-product-detail-2  mb-4">
                            <div class="swiper-container gallery-top-2">
                                <div class="swiper-wrapper">
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item,false)" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                        </div>
                                    }

                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="images/change/product-detail-01.jpg" class="img-fluid w-100 " alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="images/change/product-detail-01.jpg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>

                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img asp-append-version="true" src="images/change/product-detail-01.jpg" class=" img-fluid w-100 "
                                                 alt="" />
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="swiper-container gallery-thumbs-2 px-4">
                                <div class="swiper-wrapper">
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item)" class="img-fluid w-100 "
                                                     alt="@detail.Title" />
                                            </div>

                                        </div>
                                    }
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img asp-append-version="true" src="~/images/download-con-thumb.svg" class="img-fluid w-100 " alt="" />
                                        </div>
                                        Download Brochure
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img asp-append-version="true" src="~/images/change/360do-icon-thumb.svg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                        Hình 360 độ
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img asp-append-version="true" src="~/images/youtube-icon-thumb.svg" class="img-fluid w-100 " alt="" />
                                        </div>
                                        Video
                                    </div>
                                </div>
                                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                                    <button class="btn btn-link color-828282">
                                        <i class="fas fa-chevron-left"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Previous slide">
                                    <button class="btn btn-link color-828282 ">
                                        <i class="fas fa-chevron-right"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        var cnt = $(".img-magnifier-container").length;
        for (var i = 1; i < cnt; i++) {
            var idIMG = "myimage" + i.toString();
            magnify(idIMG, 2);
        }


    </script>
    <script src="~/js/controller/productDetailController.js" asp-append-version="true"></script>

}
