﻿<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            <div class="list-menu-right">
                <div class="heading">
                    Danh mục
                </div>
                <ul class="list">
                    <li>
                        <a href="" title="">Kiến thức sản phẩm</a>
                    </li>
                    <li>
                        <a href="" title="">Khuyến mãi trong tháng</a>
                    </li>
                    <li>
                        <a href="" title="">Hoạt động chuyên gia nước...</a>
                    </li>
                    <li>
                        <a href="" title="">Giải pháp nước điện giải</a>
                    </li>
                    <li>
                        <a href="" title="">Hoạt động của EnterBuy</a>
                    </li>
                    <li>
                        <a href="" title="">Công trình lắp đặt</a>
                    </li>
                    <li>
                        <a href="" title="">Kiến thức về nước</a>
                    </li>
                </ul>
            </div>
            <div class="list-menu-right">
                <div class="heading ">
                    Khuyến mại
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qc mb-3">
                <a href="">
                    <img src="~/images/change/qc-menu-right.jpg" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="list-menu-right">
                <div class="heading  ">
                    Mới cập nhật
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb jan-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Báo giá thi công lắp đặt</li>
                </ol>
            </nav>
            <div class="blog-content">
                <h1 class="title">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</h1>
                <div class="d-flex mb-4">
                    <div class="author color-828282 mr-4">
                        <div class="avt align-self-center">
                            <img src="~/images/change/avt-author.png" class="img-fluid" alt="" />
                        </div>
                        <div class="align-self-center">
                            S.Rogers
                        </div>
                    </div>
                    <div class="time mb-0">
                        10/9/2019 10:46
                    </div>
                </div>
                <div class="detail">
                    <img src="~/images/change/img-blog.jpg" class="img-fluid w-100 mb-4" alt="" />
                    <p>
                        Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến nữa. Nguồn gốc của sản phẩm, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc. WINART tự hào là thương hiệu rèm cửa cao cấp nhập khẩu chính hãng Hàn Quốc.
                    </p>
                    <p class="font-weight-600">
                        Nguồn gốc của sản phẩm, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc
                    </p>
                    <p>
                        WINART tự hào là thương hiệu rèm cửa cao cấp nhập khẩu chính hãng Hàn Quốc. Nguồn gốc sản phẩm rõ ràng, bạn có thể yên tâm khi sử dụng mành rèm của chúng tôi. Mà không lo sản phẩm kém chất lượng hoặc hàng Trung Quốc trà trộn vào. Nguồn gốc của sản phẩm, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc.Nguồn gốc, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc nguồn gốc .
                    </p>
                </div>
                <!--Gợi ý cho bạn-->
                <div class="my-3">
                    <div class="row mb-3  ">
                        <div class="col-8">
                            <a href="" class="h5 font-weight-bold ">Gợi ý cho bạn</a>
                        </div>
                        <div class="col-4 text-right">
                            <a href="" class="link-view-more font-weight-normal color-EE7D22">
                                Xem thêm
                                <i class="fas fa-chevron-right ml-1 small"
                                   aria-hidden="true">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img src="~/images/change/image-4x4.png" class="img-fluid">
                                    </a>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img src="~/images/change/image-4x4.png" class="img-fluid">
                                    </a>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img src="~/images/change/image-4x4.png" class="img-fluid">
                                    </a>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img src="~/images/change/image-4x4.png" class="img-fluid">
                                    </a>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <img src="~/images/change/img-blog.jpg" class="img-fluid w-100 mb-4" alt="" />
                    <p>
                        Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến nữa. Nguồn gốc của sản phẩm, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc. WINART tự hào là thương hiệu rèm cửa cao cấp nhập khẩu chính hãng Hàn Quốc.
                    </p>
                    <p class="font-weight-600">
                        Nguồn gốc của sản phẩm, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc
                    </p>
                    <p>
                        WINART tự hào là thương hiệu rèm cửa cao cấp nhập khẩu chính hãng Hàn Quốc. Nguồn gốc sản phẩm rõ ràng, bạn có thể yên tâm khi sử dụng mành rèm của chúng tôi. Mà không lo sản phẩm kém chất lượng hoặc hàng Trung Quốc trà trộn vào. Nguồn gốc của sản phẩm, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc.Nguồn gốc, phụ kiện, vải may rèm đều được nhập khẩu 100% từ Hàn Quốc nguồn gốc .
                    </p>
                </div>
                <div class="d-flex facebook-btn justify-content-end my-4">
                    <div class="small mr-3"><img src="~/images/eye.svg" class="img-fluid mr-2" />120 lượt xem</div>
                    <button class="btn mr-2"><i class="fas fa-thumbs-up mr-1"></i>Thích <span>1.4K</span></button>
                    <button href="" class="btn">Chia sẻ</button>
                </div>
                <!--Bài viết liên quan-->
                <div class="my-3">
                    <div class="row mb-3  ">
                        <div class="col-12">
                            <a href="" class="h5 font-weight-bold ">Bài viết liên quan</a>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-blog-km">
                                <div class="image mb-3">
                                    <a href="">
                                        <img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="">
                                    <h5 class="title h6 font-weight-bold">
                                        <a href="" title="">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-blog-km">
                                <div class="image mb-3">
                                    <a href="">
                                        <img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="">
                                    <h5 class="title h6 font-weight-bold">
                                        <a href="" title="">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-blog-km">
                                <div class="image mb-3">
                                    <a href="">
                                        <img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="">
                                    <h5 class="title h6 font-weight-bold">
                                        <a href="" title="">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                            <div class="item-blog-km">
                                <div class="image mb-3">
                                    <a href="">
                                        <img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="">
                                    <h5 class="title h6 font-weight-bold">
                                        <a href="" title="">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tag-->
                <div class="tags">
                    <label class="">Từ khóa:</label>
                    <a href="" class="item btn-link"> tính công suất máy lạnh</a>
                    <a href="" class="item btn-link">công suất điều hòa</a>
                    <a href="" class="item btn-link"> chọn mua máy lạnh</a>
                    <a href="" class="item btn-link">chọn mua điều hòa </a><a href="" class="item btn-link"> máy lạnh</a>
                </div>
                <!--Gửi Comment-->
                <div class="row mb-3">
                    <div class="col-md-8 col-sm-8 col-12 ">
                        <h5 class="font-weight-600 mb-3 mb-md-0 mt-1">165 Bình luận</h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12 text-right">
                        <div class="search-comment">
                            <input class="form-control " type="text" placeholder="Search" />
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <form class="border border-r-4 mb-4 ">
                    <textarea class="form-control " rows="5" placeholder="Type your topic here"
                              style="border: 0;"></textarea>
                    <div class="border-top">
                        <div class="form-row p-2 ">
                            <div class="col-xl-2 col-md-2 col-12">
                                <div class="position-relative form-control text-center mb-2 mb-md-0"
                                     style="font-size: 14px;">
                                    <img src="~/images/camera.svg" class="img-fluid" />
                                    <input type="file" class="input-choose-file " accept="image/*">
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-12">
                                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                       placeholder="Tên (bắt buộc)">
                            </div>
                            <div class="col-xl-4 col-md-4 col-12">
                                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                       placeholder="Email (bắt buộc)">
                            </div>
                            <div class="col-xl-2 col-md-2 col-12">
                                <button class="btn btn-save px-5 mb-2 mb-md-0">Gửi</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="list-comment mb-5">
                    <div class="media mb-3">
                        <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="name">Tomothy Flores</h6>
                            <div class="comment-ct ">
                                Cras sit amet nibh libero, in gravida nulla.
                            </div>
                            <div class="d-flex flex-wrap">
                                <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                <a href="" href="" class="btn-link small mr-3 mb-2">
                                    <i class="fas fa-thumbs-up mr-2">
                                    </i>Thích
                                </a>
                                <span class="time small mb-2">10/09/2019 10:46</span>
                            </div>
                            <div class="media sub  mt-3">
                                <a class="" href="#">
                                    <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                         alt="...">
                                </a>
                                <div class="media-body">
                                    <h6 class="name qtv">Media heading</h6>
                                    <div class="qtv">Quản trị viên</div>
                                    <div class="comment-ct">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="" href="" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2">
                                            </i>Hài lòng
                                        </a>
                                        <a href="" href="" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-down mr-2">
                                            </i>Không hài lòng
                                        </a>
                                        <span class="time small mb-2">10/09/2019 10:46</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="name">Tomothy Flores</h6>
                            <div class="comment-ct ">
                                Cras sit amet nibh libero, in gravida nulla.
                            </div>
                            <div class="d-flex flex-wrap">
                                <a href="javascrip:;" class="btn-link small mr-3">Trả lời</a>
                                <a href="javascrip:;" class="btn-link small mr-3">
                                    <i class="fas fa-thumbs-up mr-2">
                                    </i>Thích
                                </a>
                                <span class="time small">10/09/2019 10:46</span>
                            </div>
                            <div class="media sub  mt-3">
                                <a class="" href="#">
                                    <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                         alt="...">
                                </a>
                                <div class="media-body">
                                    <h6 class="name qtv">Media heading</h6>
                                    <div class="qtv">Quản trị viên</div>
                                    <div class="comment-ct">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2">
                                            </i>Hài lòng
                                        </a>
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-down mr-2">
                                            </i>Không hài lòng
                                        </a>
                                        <span class="time small">10/09/2019 10:46</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")