﻿<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            <div class="list-menu-right">
                <div class="heading">
                    Danh mục
                </div>
                <ul class="list">
                    <li><a href="" title="">Kiến thức sản phẩm</a></li>
                    <li><a href="" title="">Khuyến mãi trong tháng</a></li>
                    <li><a href="" title="">Hoạt động chuyên gia nước...</a></li>
                    <li><a href="" title="">Giải pháp nước điện giải</a></li>
                    <li><a href="" title="">Hoạt động của EnterBuy</a></li>
                    <li><a href="" title="">Công trình lắp đặt</a></li>
                    <li><a href="" title="">Kiến thức về nước</a></li>
                </ul>
            </div>
            <div class="list-menu-right">
                <div class="heading ">
                    Khuyến mại
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qc mb-3">
                <a href="">
                    <img src="~/images/change/qc-menu-right.jpg" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="list-menu-right">
                <div class="heading  ">
                    Mới cập nhật
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="heading pb-2  mb-3 d-flex">
                <div class="h5 font-weight-600 mb-0 ">
                    Kiến thức sản phẩm
                </div>
            </div>
            <div class="slide-blog-cate swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="item mb-3">
                            <a href="" title=""><img src="~/images/change/img-blog.jpg" alt="" class="img-fluid w-100" /></a>
                            <h2 class="title">
                                <a href="" title="">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</a>
                            </h2>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item mb-3">
                            <a href="" title=""><img src="~/images/change/img-blog.jpg" alt="" lass="img-fluid w-100" /></a>
                            <h2 class="title">
                                <a href="" title="">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</a>
                            </h2>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item mb-3">
                            <a href="" title=""><img src="~/images/change/img-blog.jpg" alt="" lass="img-fluid w-100" /></a>
                            <h2 class="title">
                                <a href="" title="">Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước</a>
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
            </div>

            <div class="list-blog-cate-2">
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-blog-km">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="image mb-3 mb-sm-0">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-cate-2.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                            <h5 class="title">
                                Chỉ số TDS là gì? Cách đo chỉ số TDS trong nước
                            </h5>
                            <div class="time">
                                10/9/2019  10:46
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn rèm vải không còn được phổ biến...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jan-pagination text-right mb-4 ">
                <button class="btn btn-pagi " title=""><i class="fas fa-chevron-left "></i></button>
                <select class="select-page mr-2">
                    <option>1</option>
                </select>
                <span class="color-828282">/10</span>
                <button class="btn btn-pagi " title=""><i class="fas fa-chevron-right "></i></button>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")