﻿<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            <div class="list-menu-right">
                <div class="heading">
                    Danh mục
                </div>
                <ul class="list">
                    <li><a href="" title="">Kiến thức sản phẩm</a></li>
                    <li><a href="" title="">Khuyến mãi trong tháng</a></li>
                    <li><a href="" title="">Hoạt động chuyên gia nước...</a></li>
                    <li><a href="" title="">Giải pháp nước điện giải</a></li>
                    <li><a href="" title="">Hoạt động của EnterBuy</a></li>
                    <li><a href="" title="">Công trình lắp đặt</a></li>
                    <li><a href="" title="">Kiến thức về nước</a></li>
                </ul>
            </div>
            <div class="list-menu-right">
                <div class="heading ">
                    Khuyến mại
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qc mb-3">
                <a href="">
                    <img src="~/images/change/qc-menu-right.jpg" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="list-menu-right">
                <div class="heading  ">
                    Mới cập nhật
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="blog-video border-bottom my-3">
                <div class="heading pb-2  mb-3 d-flex">
                    <div class="h5 font-weight-600 mb-0 ">
                        Video
                    </div>
                    <div class="ml-auto">
                        <a href="" class="link-view-more color-EE7D22 font-weight-normal">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <div class="slide-video">
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="item">
                                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/IBDeDJbH6Y8"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    <h5 class=" title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                    </h5>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/IBDeDJbH6Y8"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    <h5 class=" title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                    </h5>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/IBDeDJbH6Y8"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    <h5 class=" title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                    </h5>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blogs-home blogs-home-tn border-bottom mb-4">
                <div class="heading pb-2   mb-3 d-flex flex-wrap flex-lg-nowrap">
                    <h5 class="title font-weight-600 mb-3 mb-lg-0 d-inline-block mr-4 ">Kiến thức sản phẩm</h5>

                    <div class="ml-auto">
                        <a href="" class="link-view-more color-EE7D22 font-weight-normal">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 col-sm-12 col-12">
                        <div class="item">
                            <div class="image">
                                <a href="" title="">
                                    <img src="~/images/change/image-blog-large.jpg" class="img-fluid"
                                         alt="" />
                                </a>
                            </div>

                            <a href="" title="" class="">
                                <h6 class="title  mt-3 ">
                                    Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?
                                </h6>
                            </a>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng
                                lựa chọn
                                rèm vải không còn được phổ biến nữa...
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-6 col-sm-12 col-12 pl-md-0">
                        <div class="list-right">
                            <div class="item">
                                <div class="row">
                                    <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                        <div class="image">
                                            <a href="" title="">
                                                <img src="~/images/change/image3x42.jpg"
                                                     class="img-fluid" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-md-8 col-sm-9 col-9 ">
                                        <h6 class="title">
                                            <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                        </h6>
                                        <div class="time">
                                            10/9/2019 10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                        <div class="image">
                                            <a href="" title="">
                                                <img src="~/images/change/image3x42.jpg"
                                                     class="img-fluid" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-md-8 col-sm-9 col-9 ">
                                        <h6 class="title">
                                            <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                        </h6>
                                        <div class="time">
                                            10/9/2019 10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                        <div class="image">
                                            <a href="" title="">
                                                <img src="~/images/change/image3x42.jpg"
                                                     class="img-fluid" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-md-8 col-sm-9 col-9 ">
                                        <h6 class="title">
                                            <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                        </h6>
                                        <div class="time">
                                            10/9/2019 10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                        <div class="image">
                                            <a href="" title="">
                                                <img src="~/images/change/image3x42.jpg"
                                                     class="img-fluid" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-md-8 col-sm-9 col-9 ">
                                        <h6 class="title">
                                            <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                        </h6>
                                        <div class="time">
                                            10/9/2019 10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                        <div class="image">
                                            <a href="" title="">
                                                <img src="~/images/change/image3x42.jpg"
                                                     class="img-fluid" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-md-8 col-sm-9 col-9 ">
                                        <h6 class="title">
                                            <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                        </h6>
                                        <div class="time">
                                            10/9/2019 10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-bottom mb-4">
                <div class="heading pb-2  mb-3 d-flex flex-wrap flex-lg-nowrap">
                    <h5 class="title font-weight-600 mb-3 mb-lg-0 d-inline-block mr-4 ">Phòng chuyên gia nước</h5>
                    <div class="ml-auto">
                        <a href="" class="link-view-more color-EE7D22 font-weight-normal">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-xl-4 col-sm-4 col-12">
                        <div class="item-blog-km">
                            <div class="image">
                                <a href="">
                                    <img src="~/images/change/blog-km-4.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="border p-3 text-center">
                                <h5 class="title h6 font-weight-bold">
                                    <a href="" title="">Điều gì khiến Enterbuy Việt Nam tạo nên sự khác biệt?</a>
                                </h5>
                                <div class="des">
                                    Tại sao nước từ máy lọc nước RO lại tố nước đun sôi...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-4 col-12">
                        <div class="item-blog-km">
                            <div class="image">
                                <a href="">
                                    <img src="~/images/change/blog-km-4.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="border p-3 text-center">
                                <h5 class="title h6 font-weight-bold">
                                    <a href="" title="">Điều gì khiến Enterbuy Việt Nam tạo nên sự khác biệt?</a>
                                </h5>
                                <div class="des">
                                    Tại sao nước từ máy lọc nước RO lại tố nước đun sôi...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-4 col-12">
                        <div class="item-blog-km">
                            <div class="image">
                                <a href="">
                                    <img src="~/images/change/blog-km-4.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="border p-3 text-center">
                                <h5 class="title h6 font-weight-bold">
                                    <a href="" title="">Điều gì khiến Enterbuy Việt Nam tạo nên sự khác biệt?</a>
                                </h5>
                                <div class="des">
                                    Tại sao nước từ máy lọc nước RO lại tố nước đun sôi...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-ss-3">
                <div class="heading pb-2  mb-3 d-flex flex-wrap flex-lg-nowrap">
                    <h5 class="title font-weight-600 mb-3 mb-lg-0 d-inline-block mr-4 ">Kiến thức về nước</h5>
                    <div class="ml-auto">
                        <a href="" class="link-view-more color-EE7D22 font-weight-normal">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-xl-6 col-sm-6 col-12">
                        <div class="item-blog-km">
                            <div class="image mb-3">
                                <a href="">
                                    <img src="~/images/change/blog-km-2.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                </h5>
                            </div>
                            <div class="tag-time">
                                <div class="font-weight-600">28</div>
                                <div class="small">NOV</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 col-12">
                        <div class="item-blog-km">
                            <div class="image mb-3">
                                <a href="">
                                    <img src="~/images/change/blog-km-3.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                </h5>
                            </div>
                            <div class="tag-time">
                                <div class="font-weight-600">28</div>
                                <div class="small">NOV</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-4 col-12">
                        <div class="item-blog-km">
                            <div class="image mb-3">
                                <a href="">
                                    <img src="~/images/change/blog-km-2.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="">
                                <h5 class="title h6">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-4 col-12">
                        <div class="item-blog-km">
                            <div class="image mb-3">
                                <a href="">
                                    <img src="~/images/change/blog-km-3.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="">
                                <h5 class="title h6">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-4 col-12">
                        <div class="item-blog-km">
                            <div class="image mb-3">
                                <a href="">
                                    <img src="~/images/change/blog-km-2.jpg" class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                            <div class="">
                                <h5 class="title h6">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tố nước đun sôi?</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Gửi Comment-->
                <div class="row mb-3">
                    <div class="col-md-8 col-sm-8 col-12 ">
                        <h5 class="font-weight-600 mb-3 mb-md-0 mt-1">165 Bình luận</h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12 text-right">
                        <div class="search-comment">
                            <input class="form-control " type="text" placeholder="Search" />
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <form class="border border-r-4 mb-4 ">
                    <textarea class="form-control " rows="5" placeholder="Type your topic here"
                              style="border: 0;"></textarea>
                    <div class="border-top">
                        <div class="form-row p-2 ">
                            <div class="col-xl-2 col-md-2 col-12">
                                <div class="position-relative form-control text-center mb-2 mb-md-0"
                                     style="font-size: 14px;">
                                    <img src="~/images/camera.svg" class="img-fluid" />
                                    <input type="file" class="input-choose-file " accept="image/*">
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-12">
                                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                       placeholder="Tên (bắt buộc)">
                            </div>
                            <div class="col-xl-4 col-md-4 col-12">
                                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                       placeholder="Email (bắt buộc)">
                            </div>
                            <div class="col-xl-2 col-md-2 col-12">
                                <button class="btn btn-save px-5 mb-2 mb-md-0">Gửi</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="list-comment mb-5">
                    <div class="media mb-3">
                        <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="name">Tomothy Flores</h6>
                            <div class="comment-ct ">
                                Cras sit amet nibh libero, in gravida nulla.
                            </div>
                            <div class="d-flex flex-wrap">
                                <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                <a href="" href="" class="btn-link small mr-3 mb-2">
                                    <i class="fas fa-thumbs-up mr-2"></i>Thích
                                </a>
                                <span class="time small mb-2">10/09/2019 10:46</span>
                            </div>
                            <div class="media sub  mt-3">
                                <a class="" href="#">
                                    <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                         alt="...">
                                </a>
                                <div class="media-body">
                                    <h6 class="name qtv">Media heading</h6>
                                    <div class="qtv">Quản trị viên</div>
                                    <div class="comment-ct">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="" href="" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                        </a>
                                        <a href="" href="" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                        </a>
                                        <span class="time small mb-2">10/09/2019 10:46</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="name">Tomothy Flores</h6>
                            <div class="comment-ct ">
                                Cras sit amet nibh libero, in gravida nulla.
                            </div>
                            <div class="d-flex flex-wrap">
                                <a href="javascrip:;" class="btn-link small mr-3">Trả lời</a>
                                <a href="javascrip:;" class="btn-link small mr-3">
                                    <i class="fas fa-thumbs-up mr-2"></i>Thích
                                </a>
                                <span class="time small">10/09/2019 10:46</span>
                            </div>
                            <div class="media sub  mt-3">
                                <a class="" href="#">
                                    <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                         alt="...">
                                </a>
                                <div class="media-body">
                                    <h6 class="name qtv">Media heading</h6>
                                    <div class="qtv">Quản trị viên</div>
                                    <div class="comment-ct">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                        </a>
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                        </a>
                                        <span class="time small">10/09/2019 10:46</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")