﻿@using MI.Entity.Enums;
@using XuongGiang.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using XuongGiang.Services.Article.Repository
@using XuongGiang.Services.Zone.Repository
@using XuongGiang.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@inject IViewLocalizer Localizer
@model ZoneDetail;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var path = Context.Request.Path.ToString().Split("/")[1];

    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;
}
@{
    @*ViewData["Title"] = "BlogList1";
        Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";*@
    var blog_zone_parent = new ZoneByTreeViewMinify();
    var parent = zoneRepository.GetBreadcrumbByZoneId(Model.Id, culture_code).Where(r => r.level == 0).FirstOrDefault();
    if (parent != null)
    {
        blog_zone_parent = parent;
    }
    var list_zone_chlids = new List<ZoneByTreeViewMinify>();
}

@section styles {
    @*<style type="text/css">
            .banner-page {
                background: url(/@blog_zone_parent.Banner) no-repeat center;
                min-height: 200px;
                background-size: cover;
                display: flex;
            }
        </style>*@
}
@{
    var list_zone_parent = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
}

<main>
    <section style="position: relative;">
        <div>
            @if (Model.Id == 0)
            {
                <img src="~/XuongGiang/img/blog/banner-blog.png" class="w-100" alt="All">
            }
            else
            {
                if (string.IsNullOrEmpty(blog_zone_parent.Banner))
                {
                    <img src="~/XuongGiang/img/blog/banner-blog.png" class="w-100" alt="@blog_zone_parent.Name">
                }
                else
                {
                    <img src="@UIHelper.StoreFilePath(blog_zone_parent.Banner, false)" class="w-100" alt="@blog_zone_parent.Name">
                }
            }

        </div>
        <div class="main-absol">
            <div class="container">
                @if (Model.Id == 0)
                {
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" style="padding-top: 40px;">
                            <li class="breadcrumb-item"><a href="/">@Localizer["Home"]</a></li>
                            @if (path == "blog")
                            {
                                <li class="breadcrumb-item"><a href="/blog">@Localizer["All"]</a></li>
                            }
                            @if (path == "bai-viet-moi")
                            {
                                <li class="breadcrumb-item"><a href="/bai-viet-moi">@Localizer["Latest News"]</a></li>
                            }

                        </ol>
                    </nav>
                }
                else
                {
                    <nav aria-label="breadcrumb">
                        @await Component.InvokeAsync("Breadcrumb", new { zone_id = Model.Id })
                    </nav>

                }
                @{
                    var tit = Localizer["Xuong Giang News"];
                    var tit_frame = "";
                    if (Model.Id > 0)
                    {
                        tit_frame = Model.Name;
                    }
                }
                @if (Model.Id <= 0)
                {
                    <h2 class="tit-aphome tit-home-blog">@tit</h2>
                }
                @if (Model.Id > 0)
                {
                    <h2 class="tit-aphome tit-home-blog">@tit_frame</h2>
                }

                <div class="muc-tikiem">
                    <nav>
                        @{
                            var tatca = false;
                            var bvm = false;

                            if (Model.Id <= 0)
                            {
                                if (path == "blog")
                                {
                                    tatca = true;
                                }
                                if (path == "bai-viet-moi")
                                {
                                    bvm = true;
                                }

                            }
                        }
                        <div class="nav nav-tabs cust-nav-blog" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link @(tatca ? "active"  : "")" href="/blog">@Localizer["All"]</a>
                            <a class="nav-item nav-link @(bvm ? "active"  : "")" href="/bai-viet-moi">@Localizer["Latest News"]</a>
                            @foreach (var item in list_zone_parent)
                            {
                                <a class="nav-item nav-link @(item.Url == path ? "active" : "")" id="" href="@LinkRedirectUrlUtility.BlogLinkUrl(item.Url)">@item.Name</a>
                            }
                        </div>
                    </nav>
                    <div class="input-group search-blog">
                        <input type="text" class="form-control ip-css h-100 tim-kiem-nhanh" placeholder="Tìm kiếm" aria-label="Tìm kiếm" aria-describedby="button-addon3">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary tim-kiem-bai-viet" type="button" id="button-addon3">
                                <i class="fal fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hienthi-prod">
            <div class="container">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            @await Component.InvokeAsync("RedirectBlogListCenter", new { zone = Model, pageIndex = index, pageSize = size })
                        </div>
                        <div class="pagin">
                            @*<ul class="number-page">
                                    <li>
                                        <a href="#" class="icon-pre">
                                            <i class="fal fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="" class="nb-txt nb-hover ">1</a>
                                    </li>
                                    <li>
                                        <a href="#" title="" class="nb-txt nb-hover">2</a>
                                    </li>
                                    <li>
                                        <a href="#" title="" class="nb-txt nb-hover">3</a>
                                    </li>
                                    <li>
                                        <a title="" class="nb-txt" style="border:none;">...</a>
                                    </li>
                                    <li>
                                        <a href="#" title="" class="nb-txt nb-hover">20</a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-pre">
                                            <i class="fal fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>




