﻿@using ThungRac.Services.Product.Repository
@using ThungRac.Services.Zone.Repository
@using MI.Entity.Enums
@using ThungRac.Services.BannerAds.Repository
@using ThungRac.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using ThungRac.Services.Article.Repository
@using Newtonsoft.Json
@using ThungRac.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using ThungRac.Services.Extra.ViewModel
@using ThungRac.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository
@inject IZoneRepository zoneRepository;

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var Slide_Trangchu_Tren = new List<DetailBanerAds>();
    var Stem_Trangchu = new List<DetailBanerAds>();
    var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Trai_1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Phai_1 = new DetailBanerAds();
    var Slide_Body = new List<DetailBanerAds>();
    var SlideFootter = new List<DetailBanerAds>();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Banner_Chantrang = new DetailBanerAds();
    var VungHienThi_TrangChu_Tren_Phai = new List<DetailBanerAds>();
    var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).FirstOrDefault();

    //VungHienThi_TrangChu_Tren_Phai
    var VungHienThi_TrangChu_Tren_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "VungHienThi_TrangChu_Tren_Phai");

    var Slide_Trangchu_Tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Trangchu_Tren");
    var Stem_Trangchu_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Trangchu");
    var Banner_Trangchu_Tren_Nho2_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho2");
    var Banner_Trangchu_Tren_Nho1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho1");
    var Banner_Trangchu_body_tren_Trai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Trai_1");
    var Banner_Trangchu_body_tren_Phai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Phai_1");
    var Slide_Body_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body");
    var Slide_Body_Chan_Trang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body_Footter");
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    var Banner_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Chantrang");


    if (VungHienThi_TrangChu_Tren_Phai_Cache != null)
    {
        VungHienThi_TrangChu_Tren_Phai = JsonConvert.DeserializeObject<List<DetailBanerAds>>(VungHienThi_TrangChu_Tren_Phai_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Trangchu_Tren_Cahche != null)
    {
        Slide_Trangchu_Tren = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Trangchu_Tren_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Stem_Trangchu_Cahche != null)
    {
        Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Trangchu_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Trangchu_Tren_Nho2_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho2_Cahche.MetaData);
    }
    if (Banner_Trangchu_Tren_Nho1_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Trai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Trai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Trai_1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Phai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Phai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Phai_1_Cahche.MetaData);
    }
    if (Slide_Body_Cahche != null)
    {
        Slide_Body = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Body_Chan_Trang != null)
    {
        SlideFootter = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Chan_Trang.MetaData).Where(r => r.Show == true).ToList();
    }

    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Chantrang_Cahche != null)
    {
        Banner_Chantrang = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Chantrang_Cahche.MetaData);
    }

    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
    var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId");
    var SEOGoogle = bannerAdsRepository.GetConfigByName(culture_code, "SeoPhoto");
    //var FacebookAppId = bannerAdsRepository.GetConfigByName(culture_code, "FacebookAppId ");
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@{
    //ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@section styles{
    @Html.Raw(configSEOUtility.ConfigSocialMeta("default appID", domain_full, title, DesWeb, SEOGoogle))
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))
}

@*<cache expires-after="@TimeSpan.FromMinutes(5)">*@
<cache expires-after="@TimeSpan.FromMinutes(30)" vary-by-cookie=".AspNetCore.Culture, _LocationId">
    <section class="main--section">

        <!-- Slide -->
        <div class="container">
            <div class="slide-home">
                <div class="row">

                    <div class="col-lg-12 col-md-12  col-sm-12 col-12 pl-md-0 pr-lg-0 ">
                        <div class="slide-banner-home">
                            <div class="swiper-container gallery-top-home">
                                <!--Thêm slide-->
                                <div class="swiper-wrapper">
                                    @if (Slide_Trangchu_Tren.Count() > 0)
                                    {
                                        var c = 1;
                                        foreach (var item in Slide_Trangchu_Tren.OrderBy(n => n.Order).ToList())
                                        {
                                    <div class="swiper-slide">
                                        <div class="image image-fixed">
                                            <a href="@item.Url">
                                                @if (c == 1)
                                                {
                                                    <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="d-block w-100" alt="@domain">
                                                }
                                                @if (c > 1)
                                                {
                                                    <img data-src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="d-block w-100 swiper-lazy" alt="@domain">
                                                }

                                            </a>
                                        </div>
                                        @if (c > 1)
                                        {
                                            <div class="swiper-lazy-preloader"></div>
                                        }
                                    </div>
                                            c++;
                                        }
                                    }
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <div class="swiper-container gallery-thumbs-home  ">
                                <div class="swiper-wrapper" style="display:none;">
                                    @if (Slide_Trangchu_Tren.Count() > 0)
                                    {
                                        foreach (var item in Slide_Trangchu_Tren.OrderBy(n => n.Order).ToList())
                                        {
                                            <div class="swiper-slide">
                                                <div class="box-text">
                                                    <div class="text">
                                                        @item.Title
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- End Slide -->
        <!-- Sản phẩm mới -->
        @{
            var list_zone_type_region = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Region, culture_code, 0, 1);
            var list_region_parents = list_zone_type_region.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).ToList();

            @*foreach(var item in list_region_parents)
                {
                    <h4>@item.Id - @item.Name </h4>
                }*@
        }
        <div class="container">
            <!-- test lai cho nay phat-->
            <!--Khoi 5 sp 1 dong-->

            @if (list_region_parents.Count() >= 1)
            {
                var region_parent = list_region_parents[0];
                @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "", type = HomeRegionEnum.FivePartOneLine })
            }
            <!--/Khoi 5 sp 1 dong-->

        </div>
        <!-- Hết Sản phẩm mới -->
        <!-- Thùng rác công cộng -->
        <div class="container">
            @if (list_region_parents.Count() >= 2)
            {
                var region_parent = list_region_parents[1];
                @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 2, banner = "", type = HomeRegionEnum.TwentyPart })
            }

        </div>
        <!-- Hết Thùng rác công cộng -->
        <!-- Thùng rác văn phòng -->
        <div class="container">
            @if (list_region_parents.Count() >= 3)
            {
                var region_parent = list_region_parents[2];
                @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "", type = HomeRegionEnum.FivePartOneLine })
            }

        </div>
        <!-- Hết Thùng rác văn phòng -->
        <!-- Banner Home -->
        <div class="container">
            <div class="banner-home">
                <div class="swiper-container js-banner-home">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="banner-home__box">
                                <a href="#">
                                    <img src="~/design/images/banner/banner-1.jpg" alt="Banner Home">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-home__box">
                                <a href="#">
                                    <img src="~/design/images/banner/banner-1.jpg" alt="Banner Home">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-home__box">
                                <a href="#">
                                    <img src="~/design/images/banner/banner-1.jpg" alt="Banner Home">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Home -->
        <!-- Xe gom rác -->
        <div class="container">
            @if (list_region_parents.Count() >= 4)
            {
                var region_parent = list_region_parents[3];
                @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "", type = HomeRegionEnum.FivePartOneLine })
            }

        </div>
        <!-- Hết Xe gom rác -->
        <!-- Nhà vệ sinh công cộng -->
        <div class="container">
            @if (list_region_parents.Count() >= 5)
            {
                var region_parent = list_region_parents[4];
                @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "", type = HomeRegionEnum.FivePartOneLine })
            }

        </div>
        <!-- Hết Nhà vệ sinh công cộng -->
        <!-- Tin tức - Desktop -->
        <div class="container">
            <div class="news--section">
                <div class="news__title">
                    <b></b>
                    <h2>Tin tức</h2>
                    <b></b>
                </div>
                <div class="news__list">
                    <div class="row">
                        <div class="col-md-6">

                            @{
                                var t = 0;
                                var list_newest = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 5, out t).Skip(1).Take(3);
                                var list_newest2 = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 5, out t).Take(1).ToList();
                                var a = list_newest2[0];
                                var link_Tar22 = LinkRedirectUrlUtility.BlogDetailUrl(a.Url);
                            }
                            @*<div class="news__item news__item--video">
                                    <iframe src="https://www.youtube.com/embed/Tcql0rjO3_c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <a class="news__item__title" href="#">
                                        Thùng rác thông minh tự đóng mở, biết hàn miệng túi rác "hot rần rần", đừng mua
                                        nếu bạn chưa biết 3 điều này
                                    </a>
                                </div>*@
                            <div class="news-hot news__item--video" style="position:relative;">
                                <img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(a.Avatar,false)" class="w-100 lazy" alt="@a.Title">
                                <div class="image_child" style="position:absolute;bottom:10%;">
                                    <img src="~/images/watermark.png" asp-append-version="true" class=" w-100 " />
                                </div>
                            </div>
                            <div class="tit-news" style="padding-top: 20px;">
                                <a class="news__item__title" href="@link_Tar22">
                                    <h4>
                                        @UIHelper.TrimByWord(a.Title, 10, "...")
                                    </h4>
                                </a>
                            </div>
                            <div class="date-artic">
                                <label>@UIHelper.GetLongDate(a.CreatedDate)</label>
                                <label>|</label>
                                <a href="@link_Tar22" class="see-more">XEM THÊM</a>
                            </div>


                        </div>

                        <div class="col-md-6">
                            @foreach (var item in list_newest)
                            {
                                var link_Tar = LinkRedirectUrlUtility.BlogDetailUrl(item.Url);
                                <div class="news__item news__item--normal">
                                    <div class="row">

                                        <div class="col-3 p-0">
                                            <div style="position:relative">
                                                <a href="@link_Tar">
                                                    <img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)" class="lazy w-100 image_parent" alt="@item.Title">
                                                    <img src="~/images/watermark.png" asp-append-version="true" class="image_child" />

                                                </a>


                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <a href="@link_Tar">
                                                <div class="tit-news" style="padding-top: 20px;">
                                                    @UIHelper.TrimByWord(item.Title, 10, "...")
                                                </div>

                                            </a>

                                            <div class="date-artic">
                                                <label class="news__item__date">@UIHelper.GetLongDate(item.CreatedDate) </label>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hết Tin tức - Desktop -->
        <!-- Tin tức - Mobile -->
        <div class="news-mobile" style="background:white">
            <div class="container">
                <div class="news-mobile__title">
                    <h2>Tin tức</h2>
                    <a class="news-mobile__view-more" href="/@blog_parents.Url">Xem thêm +</a>
                </div>
                <div class="news-mobile__list">
                    <div class="swiper-container js-news-mobile">
                        <div class="swiper-wrapper">


                            @{
                                var t2 = 0;
                                var list_newest_mobile = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, 0, 2, culture_code, "", 1, 5, out t2);
                                var link_Tar_mobile = LinkRedirectUrlUtility.BlogDetailUrl(a.Url);
                            }


                            @foreach (var item in list_newest)
                            {

                                <div class="swiper-slide">
                                    <div class="news-hot news__item--video">
                                        <img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)" class="swiper-lazy w-100" alt="@item.Title">
                                        <div class="image_child" style="position:absolute;bottom:10%;">
                                            <img src="~/images/watermark.png" asp-append-version="true" class=" w-100 " style="height:15px !important;" />
                                        </div>
                                    </div>
                                    <div class="tit-news" style="padding-top: 20px;">
                                        <a class="news__item__title" href="@link_Tar22">
                                            <h4>
                                                @UIHelper.TrimByWord(item.Title, 10, "...")
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="date-artic">
                                        <label>@UIHelper.GetLongDate(item.CreatedDate)</label>
                                        <label>|</label>
                                        <a href="@link_Tar22" class="see-more">XEM THÊM</a>
                                    </div>

                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hết Tin tức - Mobile -->

    </section>
</cache>

@*</cache>*@

@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>*@
    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js?v=1" ></script>*@
    <script>
        $('.slide-sock').slick({
            autoplay: false,
            autoplaySpeed: 2500,
            arrows: false,
            slidesToShow: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        });

        $('.next-2').click(function () {
            $(".slide-sock").slick('slickNext');
        });
        $('.pre-2').click(function () {
            $(".slide-sock").slick('slickPrev');
        });
    </script>
    <script type="text/javascript" src="~/js/controller/homeController.js?v=@WebHelper.Version()"></script>
}
