/* responsive media query start */

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}




@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #56615b;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .cpdk {
        font-size: 13px;
    }
    .home .home-content .text-2 {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.02em;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .dropdown-toggle::after {
        display: none;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    li.dropdown.show {
        background-color: #060023!important;
    }
    .d-mb-block {
        display: block !important;
    }
    .d-mb-none {
        display: none !important;
    }
    .txt-mota-cont {
        padding: 20px;
    }
    .content-txt {
        font-size: 20px;
    }
    .main-thietke-home,
    .main-dvutuvan-home,
    .main-news-home {
        padding-top: 40px;
    }
    .txt-news-nb {
        padding: 40px 10px;
    }
    .txt-n1 {
        font-size: 16px;
        line-height: 150%;
    }
    .txt-n2 {
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.02em;
        padding-top: 15px;
    }
    .tag img {
        width: 30px;
    }
    .date-tag {
        font-size: 12px;
        top: 3px;
    }
    .mini-news:first-child {
        padding-top: 20px;
    }
    .design-advisory {
        padding-bottom: 20px;
    }
    .img-room-info {
        margin: 10px 0;
    }
    .logo-doitac {
        padding: 30px 0 0px;
    }
    .doitac {
        padding: 25px 0 30px;
    }
    .home-content {
        padding-right: 0;
        top: 18%;
    }
    .text-1 {
        font-size: 40px;
        margin-left: 3px;
        line-height: 51px;
        padding-bottom: 46px;
    }
    .navbar {
        padding: 7px 0;
    }
    .menu-btn {
        color: #000000;
    }
    .logo {
        display: none;
    }
    .logo-sticky {
        display: block;
    }
    .navbar.sticky .menu-btn {
        color: #10CF84;
    }
    .home .max-width {
        padding-right: 0;
    }
    .bosimg {
        position: relative;
        padding: 0;
    }
    .line-img {
        display: none;
    }
    .cus-imgabs {
        width: 100%;
    }
    .img-abs {
        position: initial;
        top: 0;
        right: 0;
    }
    .mb-h {
        height: 100vh;
        width: auto !important;
    }
    .home-content a {
        margin-top: 62px;
    }
}

@media (min-width: 1300px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 1275px) and (max-width:1280px) {
    .text-1 {
        font-size: 60px !important;
        font-weight: 600;
        margin-left: -3px;
        line-height: 80px;
    }
}