body {
    font-size: 16px;
    color: #52575C;
}


/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
.input-choose-file {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
.nd-txt img{
    max-width:100%;
}
.position-relative {
    position: relative !important;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /* Without this, clicking will make it sticky */
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* all similar content styling codes */

section {
    /* padding: 100px 0; */
}

.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.teams,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #0dbf3a;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.logo-sticky {
    display: none;
}

.navbar.sticky {
    padding: 5px 0;
    background: #ffffff;
}

.navbar.sticky .logo-sticky {
    display: block;
}

.navbar.sticky .logo {
    display: none;
}

.menu {
    margin-bottom: 0;
}

.navbar.sticky .menu li .menu-btn {
    color: #000000;
    outline: none;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #0dbf3a;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li .menu-btn {
    display: block;
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #0dbf3a;
}

.navbar.sticky .menu li a:hover {
    color: #10cf84;
    text-decoration: none;
}


/* menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu-btn .sticky {
    color: #0e0c0c;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #0dbf3a;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* home section styling */

.home {
    display: flex;
    background: url("../images/home/slide.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    /*margin: auto 0 auto 30px;
    padding-right: 500px;*/
}

.mb-h {
    height: 100vh;
}

.text-1 {
    font-size: 72px;
    font-weight: 600;
    margin-left: -3px;
    line-height: 102px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-2 {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.text-3 span {
    color: #10CF84;
    font-weight: 500;
}

.home-content a {
    display: inline-block;
    background: #10CF84;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #10CF84;
    transition: all 0.3s ease;
}

.home-content a:hover {
    color: #10CF84;
    background: none;
}


/* contact section styling */

.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #0dbf3a;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #0dbf3a;
    background: #0dbf3a;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #0dbf3a;
    background: none;
}

.ft-cate {
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
}

.line {
    height: 1px;
    width: 67px;
    background-color: #ffffff;
}

.txt-ft-al {
    font-size: 14px;
    line-height: 20px;
}

.field input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
    color: #3864A5;
}

.subm-ft {
    background: #10CF84;
    border-radius: 50px;
    height: 49px;
    width: 180px;
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}


/* footer section styling */

a {
    color: inherit;
}

footer {
    background: #111;
    padding: 65px 0 100px;
    color: #fff;
}

footer span a {
    color: #0dbf3a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #0dbf3a;
}


/* ---------search--------- */

.btn-group.btn-secondary {
    color: #fff;
    background-color: unset !important;
}

.btn-secondary.cus-search {
    background-color: unset;
    border-color: transparent;
    padding: 0px;
}

.btn-secondary.cus-search-mobie {
    background-color: unset;
    border-color: #ffffff00;
}

.cussearch {
    left: auto;
    z-index: 20;
    display: none;
    width: 380px;
    height: 60px;
    padding: 12px;
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
    border: 1px solid #8d9e8626;
    border-radius: 0;
    margin-top: 13px;
}

.cus-name {
    position: relative;
}

.cus-ic-search {
    position: absolute;
    right: 15px;
    opacity: 0.5;
    /* font-size: 28px;*/
    color: #ffffff;
}

.d-mb-block {
    display: none !important;
}

.d-mb-none {
    /* display: block !important; */
}

.ip-css-search {
    padding-left: 21px;
    padding-right: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00000080;
    color: #000;
}

.customer-search {
    width: 335px;
}

.mb-cus-drop {
    display: none;
    border-radius: .25rem;
    background: #454555b3;
    padding: 0;
    min-width: auto;
}

.mb-cus-drop a {
    color: #fff;
    padding: 2px 15px;
}

.mb-cus-drop a:hover {
    /* border-bottom: 0.5px solid #000; */
    background-color: transparent;
}

.w-img {
    max-width: 110px;
}

.mxh {
    list-style: none;
    display: flex;
    align-items: center;
}

.mxh li {
    padding-right: 10px;
}

.social-button {
    top: 35%;
    left: 10px;
    display: inline-grid;
    position: fixed;
    min-width: 45px;
    text-align: center;
    z-index: 99999;
}

.social-button-content {
    display: inline-grid;
}

.social-button a {
    padding: 7px 0;
    cursor: pointer;
    position: relative;
}

.call-icon:hover>span,
.mes:hover>span,
.sms:hover>span,
.zalo:hover>span {
    display: block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.social-button .mes i {
    background: #0787FD;
}

.social-button .call-icon i {
    background: #10CF84;
}

.social-button .zalo i {
    background: #C95F1A;
}

.social-button i {
    border-radius: 5px;
}

.social-button i {
    width: 40px;
    height: 40px;
    background: #43a1f3;
    color: #fff;
    border-radius: 10%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}

.fa-facebook-f:before {
    content: "\f39e";
}

.social-button a span {
    background: #0363cd;
    top: 9px;
    left: 65px;
}

.social-button a span {
    border-radius: 2px;
    text-align: center;
    background: #10cf84;
    padding: 9px;
    display: none;
    width: 170px;
    margin-left: -9px;
    position: absolute;
    color: #ffffff;
    z-index: 999;
    top: 6px;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}

.social-button span {
    display: none;
}

.social-button a span:before {
    left: -10px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0787fd transparent transparent;
    position: absolute;
    /* left: -10px; */
    top: 10px;
}

.atest {
    position: relative;
}

.home-content {
    position: absolute;
    top: 32%;
    padding-right: 500px;
}


/* ======Slide-Bullet-dot=======*/

.slide-bullet-pers {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.slide-bullet-cate {
    display: none;
}

.slide-dot {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.item-dot {
    opacity: 1;
    display: flex;
    align-items: center;
    position: relative;
}

li.pro {
    margin-right: 20px;
}


/* .acv {
    opacity: 1;
}

.aatt {
    display: flex;
}
 
.d {
    display: none;
}
.f {
    display: block;
} */

.item-dot .cycle-per {
    display: none;
}

.item-dot.active .cycle-per {
    display: block !important;
}

.item-dot.active .dot-per {
    display: none;
}

.slide-pre {
    position: absolute;
    margin-top: -258px;
    left: 50px;
    cursor: pointer;
}

.slide-next {
    position: absolute;
    margin-top: -258px;
    right: 50px;
    cursor: pointer;
}


/* ======Slide-Bullet-dot=======*/

.doitac {
    background: #F2F2F2;
    padding: 53px 0 70px;
}

.content-txt {
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
    color: #10CF84;
    text-align: center;
}

.line-cont {
    margin: 0 auto;
    text-align: center;
}

.logo-doitac {
    text-align: center;
    padding: 35px 0 50px;
}

.txt-dt1,
.txt-dt2 {
    text-align: center;
}

.txt-dt1 {
    font-weight: bold;
    font-size: 16px;
    color: #4F4F4F;
    padding: 15px 0 5px;
}

.txt-dt2 {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #52575C;
}

.asee {
    text-align: center;
}

.asee a {
    display: inline-block;
    background: #10CF84;
    border-radius: 23px;
    color: #fff;
    font-size: 12px;
    padding: 7px 14px;
    margin-top: 15px;
    font-weight: 400;
    transition: all 0.3s ease;
    text-align: center;
}

.txt-mota-cont {
    font-size: 16px;
    line-height: 150.96%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #52575C;
    padding: 16px 200px 40px;
}

.img-room-info {
    position: relative;
    color: #ffffff;
}

.img-room-info:hover>.line-ft-prod {
    display: none !important;
    transition: all 400ms ease-in-out;
}

.line-ft-prod {
    position: absolute;
    bottom: 0;
}

.hover-search {
    position: absolute;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    top: 0;
    left: 0;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    opacity: 0.0;
    padding: 10px;
}

.img-room-info:hover .hover-search {
    background-color: #10CF84;
    opacity: 0.8;
}

.txt-desg-1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-top: 15px;
}

.txt-desg-2 {
    padding-top: 12px;
}

.see-more-hov {
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.02em;
    padding-top: 20px;
}

.info-room-hover {
    padding: 15px 15px;
    height: 100%;
    max-height: 100%;
}

.name-info {
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.main-thietke-home,
.main-dvutuvan-home,
.main-news-home {
    padding-top: 90px;
}


/* ----news-home---- */

.news-nbat {
    position: relative;
}

.txt-news-nb {
    position: absolute;
    background-color: #33333366;
    top: 0;
    color: #ffffff;
    bottom: 0;
    padding: 122px 212px 0px 90px;
}

.txt-n1 {
    font-weight: bold;
    font-size: 34px;
    line-height: 52px;
    text-transform: uppercase;
}

.tag {
    position: absolute;
    left: 5%;
    top: 0;
}

.date-tag {
    text-align: center;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    color: #ffffff;
}

.titl-mn-news {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #25282B;
}

.mota-mn-news {
    font-size: 14px;
    line-height: 20px;
    color: #52575C;
}

.all-news-mn {
    list-style: none;
}

.mini-news {
    padding: 10px 0;
}

.mini-news:first-child {
    padding-top: 0;
}

.design-advisory {
    padding-bottom: 60px;
}

.logo-doitac {
    background: #F2F2F2;
}

.a1,
.a2 {
    padding: 15px 0;
}

.bg-bread {
    background: #e9ecef;
}

.pagin {
    /* float: right; */
}

.number-page {
    list-style: none;
    margin: 37px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding-left: 0;
}

.number-page a {
    color: #000000;
}

.icon-pre {
    border: 1px solid #F2F2F2;
    color: #d3d3d3;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.nb-txt {
    width: 34px;
    height: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    border-radius: 50px;
}

.nb-txt.nb-hover:hover {
    background: #10CF84;
    text-align: center;
    color: #ffffff;
}
    .nb-txt.nb-hover.nb-active {
        background: #10CF84;
        text-align: center;
        color: #ffffff;
    }

.cust-navtab1 {
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.bor {
    border: 0.2px solid #4F4F4F;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 15px;
}

.nav-item>.nav-link.active {
    background: #10CF84;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    border: transparent!important;
}

.txt-duanlq {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 0;
}

.icon-news i {
    color: #10CF84;
}

section.main-cate {
    padding-bottom: 90px;
}

.all-newslq {
    padding-top: 20px;
}

.titl-top-cate {
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #4F4F4F;
    padding: 40px 0 35px;
}

.icon-news {
    padding-right: 35px;
}

.icon-news:last-child {
    padding-right: 0;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #581616;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img-thumb {
    padding: 25px 0 0;
}

.arrow-thumb {
    display: flex;
    justify-content: space-between;
}

.pre-thumb {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 2%;
    color: #828282;
}

.next-thumb {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 2%;
    color: #828282;
}

.img-room-detail {
    padding: 0 4px;
}

.comment {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}

.mota-duan {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.02em;
    padding-top: 30px;
}

.txt-chitiet {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4F4F4F;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #25282B;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: .15s ease-in-out;
    box-shadow: .15s ease-in-out;
}

.box-info-duan {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #10CF84;
    padding-bottom: 20px;
}

.box-info label {
    color: #25282B;
}

.box-info {
    background: #FFFFFF;
    border: 0.1px solid #8282821a;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
    padding: 24px 13px;
}

.btn-tuvan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
    height: 49px;
    background: #10CF84;
    border-radius: 50px;
    color: #fff;
    font-size: 19px;
    padding: 12px 36px;
    margin: 0 auto;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
}

.btn-tuvan:hover {
    color: #ffffff;
}

.mdal-tuvan {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #10CF84;
}

.modal-footer.custuvan {
    justify-content: center;
    padding-bottom: 15px;
    border-top: 0;
}

.modal-header {
    border-bottom: 0;
}

.main-all-nhachinh {
    padding-top: 50px;
}

.txt-hotline {
    font-size: 18px;
    line-height: 25px;
    color: #E02E24;
    text-align: center;
    padding-top: 10px;
}

.txt-bv {
    font-weight: bold;
    font-size: 24px;
    line-height: 150.96%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}

.img-baiviet {
    padding: 50px;
}

.form-control.tinh-thanh {
    background: #F8F8F8;
}

.title-navr {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    text-transform: uppercase;
}

.titl-tinvan {
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    color: #000000;
}

.tinvan {
    padding: 23px 0;
}

.news-km-top {
    padding-top: 30px;
}

.list-group-item {
    padding: 10px 0;
    background-color: #fff;
    border: 0;
}

.txt-n3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #25282B;
}

ul.row.keys-tags {
    list-style: none;
    margin: 0;
    color: #10CF84;
}

.keys-tags li.col-2 {
    padding: 0 5px;
}

.tags {
    background: #F2F2F2;
    padding: 15px;
}

.line-weus {
    width: 208px;
    height: 2px;
    background-color: #10CF84;
}

.bosimg {
    position: relative;
    padding: 72px 0 0 30px;
}

.line-img {
    border: 8px solid #10CF84;
    max-width: 300px;
    min-height: 300px;
}

.cus-imgabs {
    max-width: 350px;
}

.img-abs {
    position: absolute;
    top: 4%;
    right: 22%;
}

.tit-weus {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #4F4F4F;
    padding: 34px 0 14px;
}

.all-1 {
    padding: 50px 0 90px;
}

.all-2 {
    background: #F2F2F2;
    padding: 60px 0;
}

.all-3 .title-navr {
    text-align: center;
}

.all-3 .line-weus {
    margin: 0 auto;
}

.prt-0 {
    padding-right: 0;
}

.logo-fuho {
    padding: 14px 0;
}

.btn-smf {
    padding: 30px 0 70px;
}

.icon-arr {
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0.5%;
}