﻿@using XuongGiang.Services.Product.Repository
@using XuongGiang.Services.Zone.Repository
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using XuongGiang.Services.BannerAds.Repository
@using XuongGiang.Services.Store.Repository
@using XuongGiang.Services.Locations.Repository
@using XuongGiang.Services.Store.ViewModel
@using XuongGiang.Services.Locations.ViewModal
@using XuongGiang.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using XuongGiang.Services.Article.Repository
@using Newtonsoft.Json
@using XuongGiang.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using Microsoft.Extensions.Options
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IStoreRepository storeRepository
@inject ILocationsRepository locationsRepository
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IViewLocalizer Localizer

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var northside_add = bannerAdsRepository.GetConfigByName(culture_code, "northside_address");
    var northside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "northside_hotline");
    var northside_email = bannerAdsRepository.GetConfigByName(culture_code, "northside_email");
    var southside_add = bannerAdsRepository.GetConfigByName(culture_code, "southside_address");
    var southside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "southside_hotline");
    var southside_email = bannerAdsRepository.GetConfigByName(culture_code, "southside_email");
    var map = bannerAdsRepository.GetConfigByName(culture_code, "GoogleEmbedMap");
    var contactbanner = bannerAdsRepository.GetConfigByName(culture_code, "ContactBanner");
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

<main>
    <section class="main-detail">
        <div class=" container ">
            <div class="noidung-blog">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="padding-top: 40px;">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                    </ol>
                </nav>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/XuongGiang/img/contact/banner contact.png" class="w-100" alt="">
                </div>
                <div class="col-md-6">
                    <form class="contact-main" id="form-lien-he">
                        <h2 class="tit-aphome">@Localizer["CONTACT WITH XUONG GIANG"]</h2>
                        <div class="ct-xg">@bannerAdsRepository.GetConfigByName(culture_code, "HotLine") | @bannerAdsRepository.GetConfigByName(culture_code, "northside_email")</div>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="ip-contact form-control mb-2 mb-md-0 _lien_he_name" placeholder="@Localizer["Full name"]" required="">
                            </div>
                            <div class="col-6">
                                <input type="text" class="ip-contact form-control mb-2 mb-md-0 _lien_he_phone" placeholder="@Localizer["Phone Number"]" required="">
                            </div>
                            <div class=col-12>
                                <input type="text" class="ip-contact form-control mb-2 mb-md-0 _lien_he_email" placeholder="@Localizer["Email"]" required="">
                            </div>
                            <div class="col-12">
                                <textarea type="text" class="ip-contact form-control _lien_he_nd" rows="4" placeholder="@Localizer["Description"]" required=""></textarea>
                            </div>
                        </div>
                        <a class="submit-form-lien-he" href="#">
                            <div class="btn-now" style="margin: 20px auto 0;">
                                @Localizer["Send"]
                            </div>
                        </a>
                    </form>

                </div>
            </div>
            <div class="loction-ct">
                

                <div class="txt-contact-2">@Localizer["VISIT OUR FACTORY"]</div>
                <div class="row abc">
                    <div class="col-6">
                        @northside_add
                    </div>
                    <div class="col-6">
                        @southside_add
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        @if (string.IsNullOrEmpty(contactbanner))
        {
            <img src="~/XuongGiang/img/contact/z2253490289801_720a12e916f4ff8cb69872c0daa1462c.jpg" class="w-100" alt="" />
        }
        else
        {
            <img src="@UIHelper.StoreFilePath(contactbanner, false)" />
        }

        @*<img src="~/XuongGiang/img/contact/banner footer contact.png" class="w-100" alt="">*@
        <div>
            <iframe src="@map"
                    width="100%" height="440" padding="0" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>
</main>
<!-- -----------------EndChung---------------------- -->

@section scripts{

    @*<script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>*@
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/contactController.js"></script>


}